Repository ChilliCream/graphql-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: 🌶️ green donut, 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ website, 📚 documentation, 🧰 maintenance

Clear rented buffers before using them.
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultNamingConventions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DescriptorBase~1.cs
  src/HotChocolate/Core/src/Types/Types/InputParser.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
Labels: 🌶️ hot chocolate

Update DefaultNamingConventions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultNamingConventions.cs
Labels: 🌶️ hot chocolate

Update DescriptorBase~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DescriptorBase~1.cs
Labels: 🌶️ hot chocolate

Update InputParser.cs
  src/HotChocolate/Core/src/Types/Types/InputParser.cs
Labels: 🌶️ hot chocolate

Started integrating coercion rules
  src/HotChocolate/Core/src/Types/Types/Directives/OneOfAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Directives/OneOfDirectiveType.cs
  src/HotChocolate/Core/src/Types/Types/InputParser.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputParserTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputParserTests.OneOf_A_and_B_Are_Set.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputParserTests.OneOf_A_is_Null_and_B_has_Value.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputParserTests.OneOf_only_B_has_Value.snap
Labels: 🌶️ hot chocolate

Implemented validation rules
  src/HotChocolate/Core/src/Execution/Processing/VariableRewriter.cs
  src/HotChocolate/Core/src/Execution/ThrowHelper.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeDiscoverer.cs
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/ISchemaOptions.cs
  src/HotChocolate/Core/src/Types/ReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Directives/Directives.cs
  src/HotChocolate/Core/src/Types/Types/Directives/OneOfAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Directives/OneOfDirectiveType.cs
  src/HotChocolate/Core/src/Types/Types/Directives/SkipDirectiveType.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__Type.cs
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Extensions/ErrorBuilderExtensions.cs
  src/HotChocolate/Core/src/Validation/Rules/FieldVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/ValueVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorVisitorTestBase.cs
  src/HotChocolate/Core/test/Validation.Tests/OneOfRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/TestHelper.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/CatOrDogType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/InvalidScalar.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/MutationType.cs
  src/HotChocolate/Core/test/Validation.Tests/ValidationUtils.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.EmptyOneOf.snap
Labels: 🌶️ hot chocolate

Clear rented buffers before using them. (#4592)
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DescriptorBase~1.cs
  src/HotChocolate/Core/src/Types/Types/InputParser.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
Labels: 🌶️ hot chocolate

Fixed
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/FieldInfo.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.resx
  src/HotChocolate/Core/src/Validation/Rules/ValueVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/OneOfRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.IfFieldWithLiteralValueIsPresentThenTheValueMustNotBeNull_Error.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.MultipleFieldsAreNotAllowed_1.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.MultipleFieldsAreNotAllowed_2.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.MultipleFieldsAreNotAllowed_3.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.VariablesUsedForOneofInputObjectFieldsMustBeNonNullable_Error.snap
Labels: 🌶️ hot chocolate

cleanup
  src/HotChocolate/Core/test/Validation.Tests/Types/CatInputType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/CatOrDogType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/DogInputType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/PetInputType.cs
Labels: 🌶️ hot chocolate

cleanup
  src/HotChocolate/Core/test/Validation.Tests/Types/CatInputType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/DogInputType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/PetInputType.cs
Labels: 🌶️ hot chocolate

cleanup
  src/HotChocolate/Core/test/Validation.Tests/TestHelper.cs
Labels: 🌶️ hot chocolate

Updated Snapshots
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorBehaviorTests.Property_Return_UnexpectedErrorWithPath.snap
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorBehaviorTests.RootFieldNotDefined.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/ScalarExecutionErrorTests.InputType_Literal_CannotBeParsed.snap
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/CodeFirstMutations.SimpleMutation_Inferred_Execute.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_Defaults.snap
  src/HotChocolate/Core/test/Types.Tests/Types/SDL/__snapshots__/EnumTypeSchemaFirstTests.Try_Using_A_Enum_Value_That_Is_Not_Bound_GOODEVENING.snap
  src/HotChocolate/Core/test/Types.Tests/Types/SDL/__snapshots__/EnumTypeSchemaFirstTests.Try_Using_A_Enum_Value_That_Is_Not_Bound_GOOD_EVENING.snap
Labels: 🌶️ hot chocolate

Updated Snapshot
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetMiddlewareTests.SingleRequest_CreateReviewForEpisode_Variables_Unused.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetMiddlewareTests.SingleRequest_ValidationError.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.SingleRequest_CreateReviewForEpisode_Variables_Unused.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.SingleRequest_ValidationError.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorComparableTests.Create_ShortIn_Expression_13and14.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorComparableTests.Create_ShortNotIn_Expression_13and14.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorEnumTests.Create_EnumIn_Expression_nullAndFoo.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorEnumTests.Create_EnumNotIn_Expression_nullAndFoo.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorObjectTests.Create_ObjectEnumIn_Expression_nullAndFoo.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorObjectTests.Create_ObjectShortIn_Expression_13and14.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorComparableTests.Create_ShortIn_Expression_13and14_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorComparableTests.Create_ShortNotIn_Expression_13and14_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorEnumTests.Create_EnumIn_Expression_nullAndFoo_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorEnumTests.Create_EnumNotIn_Expression_nullAndFoo_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorObjectTests.Create_ObjectEnumIn_Expression_nullAndFoo_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorObjectTests.Create_ObjectShortIn_Expression_13and14_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/QueryableFilteringExtensionsTests.Test.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionSortingTests.Create_DeepFilterObjectTwoProjections_Nullable__NET6_0.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionSortingTests.Create_ListObjectDifferentLevelProjection_Nullable__NET6_0.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortIn_Expression_13and14.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortNotIn_Expression_13and14.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorEnumTests.Create_EnumIn_Expression_nullAndFoo.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorEnumTests.Create_EnumNotIn_Expression_nullAndFoo.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorObjectIdTests.Create_ObjectIdIn_Expression_band6124e80f3f5fc839830c1f6b.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorObjectIdTests.Create_ObjectIdNotIn_Expression_band6124e80f3f5fc839830c1f6b.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorObjectTests.Create_ObjectEnumIn_Expression_nullAndFoo.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorObjectTests.Create_ObjectShortIn_Expression_13and14.snap
  src/HotChocolate/Spatial/test/Types.Tests/__snapshots__/GeoJsonLineStringTypeTests.LineString_Execution_With_Fragments.snap
  src/HotChocolate/Spatial/test/Types.Tests/__snapshots__/GeoJsonMultiLineStringTypeTests.MultiLineString_Execution_With_Fragments.snap
  src/HotChocolate/Spatial/test/Types.Tests/__snapshots__/GeoJsonMultiPointTypeTests.MultiPoint_Execution_With_Fragments.snap
  src/HotChocolate/Spatial/test/Types.Tests/__snapshots__/GeoJsonMultiPolygonTypeTests.MultiPolygon_Execution_With_Fragments.snap
  src/HotChocolate/Spatial/test/Types.Tests/__snapshots__/GeoJsonPointTypeTests.Point_Execution_With_Fragments.snap
  src/HotChocolate/Spatial/test/Types.Tests/__snapshots__/GeoJsonPolygonInputTests.Execution_Tests.snap
  src/HotChocolate/Spatial/test/Types.Tests/__snapshots__/GeoJsonPolygonTypeTests.Polygon_Execution_With_Fragments.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_Arguments.snap
Labels: 🌶️ hot chocolate

Updated Snapshot
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorComparableTests.Create_ShortIn_Expression_nullAnd14.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorComparableTests.Create_ShortNotIn_Expression_nullAnd14.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorObjectTests.Create_ObjectShortIn_Expression_nullAnd14.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorComparableTests.Create_ShortIn_Expression_nullAnd14_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorComparableTests.Create_ShortNotIn_Expression_nullAnd14_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorObjectTests.Create_ObjectShortIn_Expression_nullAnd14_NET6_0.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortIn_Expression_nullAnd14.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortNotIn_Expression_nullAnd14.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorObjectIdTests.Create_ObjectIdIn_Expression_nullAnd6124e80f3f5fc839830c1f6b.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorObjectIdTests.Create_ObjectIdNotIn_Expression_nullAnd6124e80f3f5fc839830c1f6b.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorObjectTests.Create_ObjectShortIn_Expression_nullAnd14.snap
Labels: 🌶️ hot chocolate

fix(strawberry shake): add support for value type scalars #3678
  .nuke/build.schema.json
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeInfos.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/OperationGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.NonNullable_ValueType_Input.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.Nullable_ValueType_Input.snap
Labels: 🌶️ strawberry shake

revert(nuke): nuke build.schema.json to original state
  .nuke/build.schema.json
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeInfos.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/OperationGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.NonNullable_ValueType_Input.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.Nullable_ValueType_Input.snap
Labels: 🌶️ strawberry shake

revert(nuke): build.schema.json to original state.
  .nuke/build.schema.json
Labels: none

revert(nuke): build.schema.json to original state again.
  .nuke/build.schema.json
Labels: none

test(strawberry shake): add test for registration without global:: prefix
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/OperationGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.NonNullableValueType_WithoutGlobal_Input.snap
Labels: 🌶️ strawberry shake

fix: Removed empty lines between using statements
  src/HotChocolate/Core/test/Types.Scalars.Tests/ScalarTypeTestBase.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/SignedByteTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedIntTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedLongTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedShortTypeTests .cs
Labels: 🌶️ hot chocolate

.github/labeler.yml:

"🌶️ green donut":
  - "src/GreenDonut/**/*"
"🌶️ hot chocolate":
  - "src/HotChocolate/**/*"
"🌶️ strawberry shake":
  - "src/StrawberryShake/**/*"
"🌶️ website":
  - any: ['website/**/*', '!website/src/docs/**/*.md']
"📚 documentation":
  - "website/src/docs/**/*.md"
"🧰 maintenance":
  - ".build/**/*"
  - ".github/**/*"
  - ".devops/**/*"
