Repository ChilliCream/graphql-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: 🌶️ green donut, 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ website, 📚 documentation, 🧰 maintenance

Reworked Mutation Convention Documentation
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 📚 documentation

fix typo
  website/src/docs/hotchocolate/distributed-schema/index.md
Labels: 📚 documentation

fix another typo
  website/src/docs/hotchocolate/distributed-schema/index.md
Labels: 📚 documentation

Refined docs
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 📚 documentation

Reworked Mutation Convention Documentation (#4543)
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 📚 documentation

Fixed typos in the schema federation docs. (#4544)
  website/src/docs/hotchocolate/distributed-schema/index.md
Labels: 📚 documentation

Fixed issues in filter combinators. (#4490)
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableCombinator.cs
  src/HotChocolate/MongoDb/src/Data/Filters/MongoDbFilterCombinator.cs
  src/HotChocolate/MongoDb/src/Data/MongoDbResources.Designer.cs
  src/HotChocolate/MongoDb/src/Data/MongoDbResources.resx
  src/HotChocolate/MongoDb/src/Data/ThrowHelper.cs
  src/HotChocolate/Neo4J/src/Data/Filtering/Neo4JFilterCombinator.cs
  src/HotChocolate/Neo4J/src/Data/Neo4JResources.Designer.cs
  src/HotChocolate/Neo4J/src/Data/Neo4JResources.resx
  src/HotChocolate/Neo4J/src/Data/ThrowHelper.cs
Labels: 🌶️ hot chocolate

Started documenting the request pipeline
  website/src/docs/hotchocolate/execution-engine/index.md
  website/src/docs/hotchocolate/execution-engine/request-pipeline.md
Labels: 📚 documentation

changed mutation option defaults
  src/HotChocolate/Core/src/Types.Mutations/DependencyInjection/MutationRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionOptionDefaults.cs
Labels: 🌶️ hot chocolate

Fixed tests
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
Labels: 🌶️ hot chocolate

Reworked the mutation convention options defaults. (#4549)
  src/HotChocolate/Core/src/Types.Mutations/DependencyInjection/MutationRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionOptionDefaults.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
Labels: 🌶️ hot chocolate

Removed Obsolete Attribute on Data
  src/HotChocolate/Data/src/Data/Filters/Expressions/Extensions/QueryableFilterExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableFilterProvider.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Extensions/QueryableProjectionExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionProvider.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/TypeExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/ProjectionVisitor.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Extensions/QueryableSortExtensions.cs
  src/HotChocolate/Data/src/Data/ThrowHelper.cs
  src/HotChocolate/Data/test/Data.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate

Added DateOnly and TimeOnly to Data
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorDateOnlyTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorTimeOnlyTests.cs
Labels: 🌶️ hot chocolate

Added DateOnly and TimeOnly to Data
  src/HotChocolate/Data/src/Data/Filters/Convention/Extensions/FilterConventionDescriptorExtensions.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/FilterVisitorTestBase.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorDateOnlyTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorTimeOnlyTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/ComparableOperationInputTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Explicit_Operation_NET6.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Implicit_Operation_NET6.snap
Labels: 🌶️ hot chocolate

Added blog draft
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-09-27-hot-chocolate-12-4.md
  website/src/blog/2021-12-14-hot-chocolate-12-4/bcp.png
  website/src/blog/2021-12-14-hot-chocolate-12-4/hot-chocolate-12-banner.png
Labels: 🌶️ website

Added missing examples
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-09-27-hot-chocolate-12-4.md
Labels: 🌶️ website

Removed bcp image
  website/src/blog/2021-12-14-hot-chocolate-12-4/bcp.png
Labels: 🌶️ website

Release Blog 12.4 (#4554)
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-09-27-hot-chocolate-12-4.md
  website/src/blog/2021-12-14-hot-chocolate-12-4/hot-chocolate-12-banner.png
Labels: 🌶️ website

Fixed Documentation Code Tags
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-09-27-hot-chocolate-12-4.md
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 🌶️ website, 📚 documentation

Release Blog Formatting and Typos
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-09-27-hot-chocolate-12-4.md
Labels: 🌶️ website

Release Blog Formatting and Typos
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-09-27-hot-chocolate-12-4.md
Labels: 🌶️ website

Added DateOnly and TimeOnly to Data (#4552)
  src/HotChocolate/Data/src/Data/Filters/Convention/Extensions/FilterConventionDescriptorExtensions.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/FilterVisitorTestBase.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorDateOnlyTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorTimeOnlyTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/ComparableOperationInputTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Explicit_Operation_NET6.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Implicit_Operation_NET6.snap
Labels: 🌶️ hot chocolate

Removed Experimental Tag From Docs
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 📚 documentation

Update authorization.md
  website/src/docs/hotchocolate/security/authorization.md
Labels: 📚 documentation

Fixed Snapshots
  src/HotChocolate/Core/test/Fetching.Tests/AutoBatchSchedulerTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Implicit_Operation_NET6.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/SortInputTypeTest.SortInputType_Should_IgnoreFieldWithoutCallingConvention.snap
Labels: 🌶️ hot chocolate

Update authorization.md
  website/src/docs/hotchocolate/security/authorization.md
Labels: 📚 documentation

Documentation Refinements
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-09-27-hot-chocolate-12-4.md
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 🌶️ website, 📚 documentation

Fixed Snapshots (#4557)
  src/HotChocolate/Core/test/Fetching.Tests/AutoBatchSchedulerTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Implicit_Operation_NET6.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/SortInputTypeTest.SortInputType_Should_IgnoreFieldWithoutCallingConvention.snap
Labels: 🌶️ hot chocolate

feat: Add optional param to InitializeOnStartup
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.Warmup.cs
Labels: 🌶️ hot chocolate

Mutation Documentation Refinements (#4558)
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-09-27-hot-chocolate-12-4.md
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 🌶️ website, 📚 documentation

Removed Debug Code
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
Labels: 🌶️ hot chocolate

Reformatted Code
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
Labels: 🌶️ hot chocolate

Introduce HotChocolate.Data.AutoMapper
  src/HotChocolate/Data/HotChocolate.Data.sln
  src/HotChocolate/Data/src/AutoMapper/AutoMapperQueryableExtensions.cs
  src/HotChocolate/Data/src/AutoMapper/HotChocolate.Data.AutoMapper.csproj
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionContextExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionScopeExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionVisitor.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/AutomapperTests.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/HotChocolate.Data.AutoMapper.Tests.csproj
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/RequestExecutorBuilderExtensions.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/TestExtensions.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/UseSqlLoggingAttribute.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_Deep__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_Deep_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_Deep_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_Deep__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_Deep_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_Deep_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_sql_NET6_0.snap
Labels: 🌶️ hot chocolate

Removed Debug Code (#4562)
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
Labels: 🌶️ hot chocolate

Make TaskCache Observable by Dataloaders
  src/GreenDonut/src/Core/DataLoaderBase.cs
  src/GreenDonut/src/Core/ITaskCache.cs
  src/GreenDonut/src/Core/ITaskCacheObserver.cs
  src/GreenDonut/src/Core/TaskCache.cs
  src/GreenDonut/src/Core/TaskCacheResult.cs
  src/GreenDonut/test/Core.Tests/DataLoaderTests.cs
Labels: 🌶️ green donut

Implemented the new parse methods and syntax nodes
  format.sh
  src/HotChocolate/Language/src/Language.SyntaxTree/FieldNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/INullabilityModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/INullabilityNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ListNullabilityNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/OptionalModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/RequiredModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SyntaxKind.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/ISyntaxWriter.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxPrinter.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.QuerySyntax.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.cs
  src/HotChocolate/Language/src/Language.Utf8/GraphQLConstants.Initialization.cs
  src/HotChocolate/Language/src/Language.Utf8/GraphQLConstants.cs
  src/HotChocolate/Language/src/Language.Utf8/TokenKind.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Operations.cs
  src/HotChocolate/Language/test/Language.Tests/AST/SelectionSetNodeTests.cs
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SelectionSetNodeTests.AddSelection.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SelectionSetNodeTests.AddSelections.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SelectionSetNodeTests.AddSelections_Two.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SelectionSetNodeTests.CreateSelectionSet.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SelectionSetNodeTests.RemoveSelection.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SelectionSetNodeTests.RemoveSelections.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SelectionSetNodeTests.WithLocation.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SelectionSetNodeTests.WithSelections.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/Utf8KitchenSinkParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/Utf8KitchenSinkParserTests.ParseFacebookKitchenSinkQuery.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/Utf8KitchenSinkParserTests.ParseFacebookKitchenSinkQueryNullability.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/Utf8KitchenSinkParserTests.ParseFacebookKitchenSinkQueryNullability_sdl.snap
  src/HotChocolate/Language/test/Language.Tests/__resources__/kitchen-sink-nullability.graphql
Labels: 🌶️ hot chocolate

Fixed compile errors
  src/HotChocolate/Core/src/Execution/Processing/Operation.cs
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverCompilerTests.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryablePagingProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/Optimizers/IsProjectedProjectionOptimizer.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ExtractFieldQuerySyntaxRewriter.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/RemoteQueryBuilder.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/ArgumentScopedVariableResolverTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/FieldScopedVariableResolverTests.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/IntrospectionQueryHelper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/EnumTypeUsageAnalyzer.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/InputObjectTypeUsageAnalyzer.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/TypeNameQueryRewriter.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

Implemented type rewrite helper
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.Designer.cs
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.resx
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/TypeExtensions.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/test/Types.Tests/Types/TypeExtensionsTests.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/OptionalModifierNode.cs
Labels: 🌶️ hot chocolate

Ensure that ISelection.Type is used instead of ISelection.Field.Type
  src/HotChocolate/Core/src/Execution/Processing/Operation.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
  src/HotChocolate/Core/test/Execution.Tests/MiddlewareContextTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/OperationCompilerTests.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableFilterProvider.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Extensions/QueryableProjectionExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Handlers/QueryableProjectionFieldHandler.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Handlers/QueryableProjectionListHandler.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Interceptor/QueryableFilterInterceptor.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Interceptor/QueryableTakeHandlerInterceptor.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionProvider.cs
  src/HotChocolate/Data/src/Data/ThrowHelper.cs
  src/HotChocolate/Neo4J/src/Data/Projections/Handlers/Neo4JProjectionFieldHandler.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/DictionaryResultMiddleware.cs
Labels: 🌶️ hot chocolate

Added simple integration test
  src/HotChocolate/Core/test/Execution.Tests/ClientControlledNullabilityTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/ClientControlledNullabilityTests.Make_NullableField_NonNull_And_Return_Null.snap
Labels: 🌶️ hot chocolate

.github/labeler.yml:

"🌶️ green donut":
  - "src/GreenDonut/**/*"
"🌶️ hot chocolate":
  - "src/HotChocolate/**/*"
"🌶️ strawberry shake":
  - "src/StrawberryShake/**/*"
"🌶️ website":
  - any: ['website/**/*', '!website/src/docs/**/*.md']
"📚 documentation":
  - "website/src/docs/**/*.md"
"🧰 maintenance":
  - ".build/**/*"
  - ".github/**/*"
  - ".devops/**/*"
