Repository ChilliCream/graphql-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: 🌶️ green donut, 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ website, 📚 documentation, 🧰 maintenance

.github/labeler.yml:

"🌶️ green donut":
  - "src/GreenDonut/**/*"
"🌶️ hot chocolate":
  - "src/HotChocolate/**/*"
"🌶️ strawberry shake":
  - "src/StrawberryShake/**/*"
"🌶️ website":
  - any: ['website/**/*', '!website/src/docs/**/*.md']
"📚 documentation":
  - "website/src/docs/**/*.md"
"🧰 maintenance":
  - ".build/**/*"
  - ".github/**/*"
  - ".devops/**/*"

Implemented Validation
  src/HotChocolate/Core/src/Validation/Rules/FieldVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/FieldSelectionMergingRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldSelectionMergingRuleTests.ConflictingDifferingResponse.snap
Labels: 🌶️ hot chocolate

Fixed lowercase typenames and fields with leading _
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/SyntaxExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.InputTypes.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/UnderlinedFieldsInSchema.graphql
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.FieldsWithUnderlineInName.snap
Labels: 🌶️ strawberry shake

Fix naming
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/FieldsWithUnderlinePrefix.graphql
Labels: 🌶️ strawberry shake

Optimizations
  src/HotChocolate/Core/src/Types/Types/Extensions/TypeExtensions.cs
Labels: 🌶️ hot chocolate

Fixed Tests
  src/GreenDonut/test/Core.Tests/AutoBatchSchedulerTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/Utf8KitchenSinkParserTests.ParseFacebookKitchenSinkQueryNullability.snap
Labels: 🌶️ green donut, 🌶️ hot chocolate

Client Controlled Nullability Blog Post
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-12-14-hot-chocolate-12-4.md
  website/src/blog/2021-12-16-client-controlled-nullability/2021-12-16-hot-chocolate-12-4.md
  website/src/blog/2021-12-16-client-controlled-nullability/hot-chocolate-12-banner.png
Labels: 🌶️ website

Added header
  website/src/blog/2021-12-16-client-controlled-nullability/2021-12-16-hot-chocolate-12-4.md
Labels: 🌶️ website

Added more integration tests
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTaskFactory.cs
  src/HotChocolate/Core/test/Execution.Tests/ClientControlledNullabilityTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/ClientControlledNullabilityTests.ErrorBoundary_Bio_NonNull_Person_Element_Nullable.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/ClientControlledNullabilityTests.ErrorBoundary_Bio_NonNull_Person_Nullable.snap
Labels: 🌶️ hot chocolate

Fixed documentation
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxPrinter.cs
Labels: 🌶️ hot chocolate

Fixed lowercase typenames and fields with leading _ (#4568)
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/SyntaxExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.InputTypes.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/FieldsWithUnderlinePrefix.graphql
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.FieldsWithUnderlineInName.snap
Labels: 🌶️ strawberry shake

Added suuport for lower case types in strawberry shake
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectEnumTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectInputObjectTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzerContext.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/FragmentHelper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/HasuraSchema.graphql
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.HasuraMutation.snap
Labels: 🌶️ strawberry shake

Allow more easily to configure the global type check.
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/ISchemaOptions.cs
  src/HotChocolate/Core/src/Types/ReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/ObjectTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/IsOfType.cs
  src/HotChocolate/Core/src/Types/Types/ObjectType.Initialization.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Override_Instance_Check_With_Options.snap
Labels: 🌶️ hot chocolate

Allow more easily to configure the global type check. (#4572)
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/ISchemaOptions.cs
  src/HotChocolate/Core/src/Types/ReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/ObjectTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/IsOfType.cs
  src/HotChocolate/Core/src/Types/Types/ObjectType.Initialization.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Override_Instance_Check_With_Options.snap
Labels: 🌶️ hot chocolate

Fixed mutation convention context data
  src/HotChocolate/Core/src/Types.Mutations/MutationContextData.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutation_Attribute.snap
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutation_Inferred_Attribute.snap
Labels: 🌶️ hot chocolate

Swap initialization;
  src/HotChocolate/Core/src/Types.Mutations/MutationContextData.cs
Labels: 🌶️ hot chocolate

Fixed mutation convention context data (#4577)
  src/HotChocolate/Core/src/Types.Mutations/MutationContextData.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutation_Attribute.snap
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutation_Inferred_Attribute.snap
Labels: 🌶️ hot chocolate

updated coverlet and prepared build
  .build/Build.GitHub.cs
  .build/Build.Tests.cs
  .devops/azure-pipelines.cover-pr-hotchocolate.yml
  .nuke/build.schema.json
  .nuke/temp/Build.Test.sln
  src/GreenDonut/test/Directory.Build.props
  src/HotChocolate/Analyzers/test/Analyzers.Configuration.Tests/HotChocolate.Configuration.Analyzers.Tests.csproj
  src/HotChocolate/Analyzers/test/Analyzers.Tests/HotChocolate.Analyzers.Tests.csproj
  src/HotChocolate/AspNetCore/test/Directory.Build.props
  src/HotChocolate/AzureFunctions/test/Directory.Build.props
  src/HotChocolate/CodeGeneration/test/CodeGeneration.Neo4J.Tests/HotChocolate.CodeGeneration.Neo4J.Tests.csproj
  src/HotChocolate/Core/test/Directory.Build.props
  src/HotChocolate/Data/test/Directory.Build.props
  src/HotChocolate/Filters/test/Directory.Build.props
  src/HotChocolate/Language/test/Directory.Build.props
  src/HotChocolate/MongoDb/test/Directory.Build.props
  src/HotChocolate/Neo4J/test/Directory.Build.props
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Filtering.Tests/Neo4JConfig.cs
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Integration.Tests/Neo4JConfig.cs
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Paging.Tests/Neo4JConfig.cs
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Projections.Tests/Neo4JConfig.cs
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Sorting.Tests/Neo4JConfig.cs
  src/HotChocolate/PersistedQueries/test/Directory.Build.props
  src/HotChocolate/Spatial/test/Directory.Build.props
  src/HotChocolate/Stitching/test/Directory.Build.props
  src/HotChocolate/Utilities/test/Directory.Build.props
  src/StrawberryShake/Client/test/Directory.Build.props
  src/StrawberryShake/CodeGeneration/test/Directory.Build.props
  src/StrawberryShake/SourceGenerator/test/Directory.Build.props
  src/StrawberryShake/Tooling/test/Directory.Build.props
Labels: 🌶️ green donut, 🌶️ hot chocolate, 🌶️ strawberry shake, 🧰 maintenance

Fixed tests
  src/Directory.Build.props
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializationInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Resolvers/ArgumentValue.cs
  src/HotChocolate/Core/src/Types/Types/Relay/QueryFieldTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_Defaults.snap
Labels: 🌶️ hot chocolate

Updated Pipeline
  .devops/azure-pipelines.cover-pr-hotchocolate.yml
Labels: 🧰 maintenance

Fixed Pipeline
  .devops/azure-pipelines.cover-pr-hotchocolate.yml
Labels: 🧰 maintenance

Fixed more tests
  build.sh
  src/HotChocolate/Core/src/Execution/Processing/IArgumentMap.cs
  src/HotChocolate/Core/src/Types/Configuration/AggregateTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/QueryFieldTypeInterceptor.cs
  src/StrawberryShake/Client/test/Persistence.SQLite.Tests/StrawberryShake.Persistence.SQLite.Tests.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.FieldsWithUnderlineInName.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Razor.Tests/__snapshots__/RazorGeneratorTests.Query_And_Mutation.snap
  src/StrawberryShake/Directory.Build.props
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

Added missing tool
  .build/Build.csproj
Labels: 🧰 maintenance

Set Framework
  .build/Build.Tests.cs
Labels: 🧰 maintenance

Fixed
  .build/Build.Tests.cs
Labels: 🧰 maintenance

fixed
  .build/Build.Tests.cs
Labels: 🧰 maintenance

logs
  .build/Build.Tests.cs
Labels: 🧰 maintenance

tests
  .build/Build.Tests.cs
Labels: 🧰 maintenance

tests
  .build/Build.Tests.cs
  .devops/azure-pipelines.cover-pr-hotchocolate.yml
Labels: 🧰 maintenance

Added suuport for lower case types in strawberry shake (#4571)
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectEnumTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectInputObjectTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzerContext.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/FragmentHelper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/HasuraSchema.graphql
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.HasuraMutation.snap
Labels: 🌶️ strawberry shake

tests
  .build/Build.Tests.cs
Labels: 🧰 maintenance

Fixed
  .build/Build.Tests.cs
Labels: 🧰 maintenance

Refined Tests
  .build/Build.Tests.cs
  .devops/azure-pipelines.cover-pr-hotchocolate.yml
Labels: 🧰 maintenance

Fixes
  .build/.vscode/launch.json
  src/.vscode/tasks.json
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/DefaultAuthorizationHandler.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/WebSocketInterceptorTests.cs
  src/HotChocolate/Core/src/Abstractions/NameStringConverter.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/XmlDocumentationFileResolver.cs
Labels: 🌶️ hot chocolate, 🧰 maintenance

Fixed partitions
  .build/Build.Tests.cs
Labels: 🧰 maintenance

Fixed coverage
  .build/Build.Tests.cs
Labels: 🧰 maintenance

Reworked Parallelization
  .build/Build.Tests.cs
  .devops/azure-pipelines.cover-pr-hotchocolate.yml
Labels: 🧰 maintenance

Reworked upload
  .build/Build.Tests.cs
Labels: 🧰 maintenance

wip
  .build/Build.Tests.cs
Labels: 🧰 maintenance

reduced tests
  .build/Build.Tests.cs
Labels: 🧰 maintenance

Removed chunks
  .build/Build.Tests.cs
Labels: 🧰 maintenance
