Repository ChilliCream/graphql-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: 🌶️ green donut, 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ website, 📚 documentation, 🧰 maintenance

.github/labeler.yml:

"🌶️ green donut":
  - "src/GreenDonut/**/*"
"🌶️ hot chocolate":
  - "src/HotChocolate/**/*"
"🌶️ strawberry shake":
  - "src/StrawberryShake/**/*"
"🌶️ website":
  - any: ['website/**/*', '!website/src/docs/**/*.md']
"📚 documentation":
  - "website/src/docs/**/*.md"
"🧰 maintenance":
  - ".build/**/*"
  - ".github/**/*"
  - ".devops/**/*"

wip
  .build/Build.Tests.cs
  .devops/azure-pipelines.cover-pr-hotchocolate.yml
Labels: 🧰 maintenance

Fixed
  .build/Build.Tests.cs
  .devops/azure-pipelines.cover-pr-hotchocolate.yml
Labels: 🧰 maintenance

wip
  .build/Build.Tests.cs
  .build/Build.csproj
  .devops/azure-pipelines.cover-pr-hotchocolate.yml
  .github/workflows/check-public-api.yml
Labels: 🧰 maintenance

Updated Packages
  .build/Build.csproj
Labels: 🧰 maintenance

Only Compile .NET 6 for Sonar
  .build/Build.Sonar.cs
Labels: 🧰 maintenance

amend target frameworks
  src/HotChocolate/Analyzers/src/Directory.Build.props
  src/HotChocolate/CodeGeneration/src/Directory.Build.props
  src/StrawberryShake/SourceGenerator/src/Directory.Build.props
  src/StrawberryShake/Tooling/src/Configuration/StrawberryShake.Tools.Configuration.csproj
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

Filter
  .build/Build.Tests.cs
Labels: 🧰 maintenance

wip
  .build/Build.Sonar.cs
Labels: 🧰 maintenance

wip
  .build/Build.Sonar.cs
Labels: 🧰 maintenance

Adds SchemaCoordinate to parser
  src/HotChocolate/Language/src/Language.SyntaxTree/SchemaCoordinateNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SyntaxKind.cs
  src/HotChocolate/Language/src/Language.Utf8/Properties/LangUtf8Resources.Designer.cs
  src/HotChocolate/Language/src/Language.Utf8/Properties/LangUtf8Resources.resx
  src/HotChocolate/Language/src/Language.Utf8/TokenKind.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.SchemaCoordinate.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Syntax.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Utilities.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLReader.cs
Labels: 🌶️ hot chocolate

Introduced HotChocolate.Data.AutoMapper (#4563)
  src/HotChocolate/Data/HotChocolate.Data.sln
  src/HotChocolate/Data/src/AutoMapper/AutoMapperQueryableExtensions.cs
  src/HotChocolate/Data/src/AutoMapper/HotChocolate.Data.AutoMapper.csproj
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionContextExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionScopeExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionVisitor.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/AutomapperTests.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/HotChocolate.Data.AutoMapper.Tests.csproj
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/RequestExecutorBuilderExtensions.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/TestExtensions.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/UseSqlLoggingAttribute.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_Deep__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_Deep_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_Deep_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_Deep__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_Deep_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_Deep_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_sql_NET6_0.snap
Labels: 🌶️ hot chocolate

Add tests for Schema Coordinate Node
  src/HotChocolate/Language/src/Language.SyntaxTree/Properties/Resources.Designer.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Properties/Resources.resx
  src/HotChocolate/Language/src/Language.SyntaxTree/SchemaCoordinateNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.SchemaSyntax.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/ThrowHelper.cs
  src/HotChocolate/Language/src/Language.Utf8/TokenPrinter.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.SchemaCoordinate.cs
  src/HotChocolate/Language/test/Language.Tests/AST/SchemaCoordinateTests.cs
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SchemaCoordinateTests.CreateSchemaCoordinateOfDirectiveWithArgumentName.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SchemaCoordinateTests.CreateSchemaCoordinateOfDirectiveWithoutArgumentName.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SchemaCoordinateTests.CreateSchemaCoordinateWithLocation.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SchemaCoordinateTests.CreateSchemaCoordinateWithoutArgumentAndMemberName.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SchemaCoordinateTests.CreateSchemaCoordinateWithoutArgumentName.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/SchemaCoordinateTests.CreateSchemaCoordinateWithoutLocation.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/Utf8SchemCoordinateParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/Utf8SchemaCoordinateParserTests.ParseDirectiveName.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/Utf8SchemaCoordinateParserTests.ParseDirectiveNameAndArg.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/Utf8SchemaCoordinateParserTests.ParseName.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/Utf8SchemaCoordinateParserTests.ParseNameAndMemberName.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/Utf8SchemaCoordinateParserTests.ParseNameAndMemberNameAndArg.snap
Labels: 🌶️ hot chocolate

fix: Bind SignedByteType, UnsignedIntType, UnsignedLongType, and UnsignedShortType implicit
  src/HotChocolate/Core/src/Types.Scalars/SignedByteType.cs
  src/HotChocolate/Core/src/Types.Scalars/UnsignedIntType.cs
  src/HotChocolate/Core/src/Types.Scalars/UnsignedLongType.cs
  src/HotChocolate/Core/src/Types.Scalars/UnsignedShortType.cs
Labels: 🌶️ hot chocolate

cleanup
  src/HotChocolate/Language/src/Language.SyntaxTree/SchemaCoordinateNode.cs
  src/HotChocolate/Language/src/Language.Utf8/TokenPrinter.cs
Labels: 🌶️ hot chocolate

cleanup
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.SchemaCoordinate.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLReader.cs
Labels: 🌶️ hot chocolate

Moved exceptions to throwhelper
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLReader.cs
  src/HotChocolate/Language/src/Language.Utf8/Utilities/ThrowHelper.cs
Labels: 🌶️ hot chocolate

Added missing error tests
  src/HotChocolate/Language/test/Language.Tests/Parser/BlockStringTokenReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/CommentTokenReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/DirectiveParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/GraphQLParserSyntaxTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/GraphQLRequestParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/KitchenSinkParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/NameTokenReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/NumberTokenReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/PunctuatorTokenReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/QueryParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/ReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/SchemCoordinateParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/SchemaParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/StringTokenReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/NumberTokenReaderTests.InvalidNumberToken.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/PunctuatorTokenReaderTests.SpreadExpected.snap
Labels: 🌶️ hot chocolate

Added visitors
  src/HotChocolate/Language/src/Language.Utf8/Utilities/ThrowHelper.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitorOptions.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitor~1.VisitationMap.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxWalker.Enter.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxWalker.Leave.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxWalker~1.Enter.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxWalker~1.Leave.cs
  src/HotChocolate/Language/test/Language.Tests/AST/SchemaCoordinateTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/GraphQLRequestParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/SchemCoordinateParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/SchemaCoordinateParserTests.ParseDirectiveName.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/SchemaCoordinateParserTests.ParseDirectiveNameAndArg.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/SchemaCoordinateParserTests.ParseName.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/SchemaCoordinateParserTests.ParseNameAndMemberName.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/SchemaCoordinateParserTests.ParseNameAndMemberNameAndArg.snap
  src/HotChocolate/Language/test/Language.Tests/Visitors/SchemaCoordinateVisitorTests.cs
Labels: 🌶️ hot chocolate

Add Schema Coordinate to Abstractions
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.Designer.cs
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.resx
  src/HotChocolate/Core/src/Abstractions/SchemaCoordinate.cs
  src/HotChocolate/Core/src/Abstractions/ThrowHelper.cs
  src/HotChocolate/Core/test/Abstractions.Tests/SchemaCoordinateTests.cs
Labels: 🌶️ hot chocolate

removed
  src/HotChocolate/Core/src/Abstractions/SchemaCoordinate.cs
  src/HotChocolate/Core/test/Abstractions.Tests/SchemaCoordinateTests.cs
Labels: 🌶️ hot chocolate

updated
  src/HotChocolate/Core/src/Abstractions/SchemaCoordinate.cs
  src/HotChocolate/Core/test/Abstractions.Tests/SchemaCoordinateTests.cs
Labels: 🌶️ hot chocolate

Fixed
  src/HotChocolate/Core/src/Abstractions/SchemaCoordinate.cs
  src/HotChocolate/Core/src/Abstractions/ThrowHelper.cs
Labels: 🌶️ hot chocolate

Fixed
  src/HotChocolate/Core/src/Abstractions/SchemaCoordinate.cs
Labels: 🌶️ hot chocolate

Added exception
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Syntax.cs
Labels: 🌶️ hot chocolate

Added member
  src/HotChocolate/Core/src/Types/Types/Contracts/IEnumValue.cs
Labels: 🌶️ hot chocolate

Fixed bug in lower case type names and fixed inputs with default value
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectEnumTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectInputObjectTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzerContext.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/FragmentHelper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.HasuraMutation.snap
Labels: 🌶️ strawberry shake

fix format
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/FragmentHelper.cs
Labels: 🌶️ strawberry shake

Added schema coordinate resolver
  src/HotChocolate/Core/src/Types/Extensions/SchemaExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IEnumType.cs
  src/HotChocolate/Core/src/Types/Types/EnumType.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaCoordinateTests.cs
  src/HotChocolate/Core/test/Types.Tests/__resources__/schema_coordinates.graphql
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_DirectiveType_Invalid_ArgumentName.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_EnumType_Invalid_Value.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_InputObjectType_Invalid_FieldArgName.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_InputObjectType_Invalid_FieldName.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_Interface_Invalid_FieldArgName.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_Interface_Invalid_FieldName.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_Invalid_TypeName.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_Object_Invalid_FieldArgName.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_Object_Invalid_FieldName.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_UnionType_Invalid_MemberName.snap
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.SchemaCoordinate.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Syntax.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/SchemCoordinateParserTests.cs
Labels: 🌶️ hot chocolate

Added doc strings
  src/HotChocolate/Core/src/Types/Extensions/SchemaExtensions.cs
  src/HotChocolate/Core/src/Types/InvalidSchemaCoordinateException.cs
Labels: 🌶️ hot chocolate

Started moving errors into throw helper
  src/HotChocolate/Core/src/Types/Extensions/SchemaExtensions.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
Labels: 🌶️ hot chocolate

cleanup
  src/HotChocolate/Core/src/Types/Extensions/SchemaExtensions.cs
  src/HotChocolate/Core/src/Types/InvalidSchemaCoordinateException.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
Labels: 🌶️ hot chocolate

Added more tests
  src/HotChocolate/Core/test/Types.Tests/SchemaCoordinateTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaCoordinateTests.GetMember_Invalid_DirectiveName.snap
Labels: 🌶️ hot chocolate

Fixed bug in lower case type names and fixed inputs with default value. (#4586)
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectEnumTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectInputObjectTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzerContext.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/FragmentHelper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.HasuraMutation.snap
Labels: 🌶️ strawberry shake

Renamed designator to modifier
  src/HotChocolate/Core/src/Types/Types/Extensions/TypeExtensions.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/OptionalModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/RequiredModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SyntaxKind.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.QuerySyntax.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/KitchenSinkParserTests.ParseFacebookKitchenSinkQueryNullability.snap
Labels: 🌶️ hot chocolate

tests: Add unsigned types bound implicity tests
  src/HotChocolate/Core/test/Types.Scalars.Tests/ScalarTypeTestBase.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/SignedByteTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedIntTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedLongTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedShortTypeTests .cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/SignedByteTypeTests.SignedByteType_Should_BeBoundImplicity_When_Registered.snap
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/UnsignedIntTypeTests.UnsignedIntType_Should_BeBoundImplicity_When_Registered.snap
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/UnsignedLongTypeTests.UnsignedLongType_Should_BeBoundImplicity_When_Registered.snap
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/UnsignedShortTypeTests.UnsignedShortType_Should_BeBoundImplicity_When_Registered.snap
Labels: 🌶️ hot chocolate

Renamed designator to modifier (#4588)
  src/HotChocolate/Core/src/Types/Types/Extensions/TypeExtensions.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/OptionalModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/RequiredModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SyntaxKind.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.QuerySyntax.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/KitchenSinkParserTests.ParseFacebookKitchenSinkQueryNullability.snap
Labels: 🌶️ hot chocolate

Added oneof directive type
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/Directives/OneOfDirectiveType.cs
Labels: 🌶️ hot chocolate

Implemented parts of the validation
  src/HotChocolate/Core/src/Abstractions/WellKnownDirectives.cs
  src/HotChocolate/Core/src/Types/Configuration/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Types/Configuration/Validation/InputObjectTypeValidationRule.cs
  src/HotChocolate/Core/src/Types/Configuration/Validation/InterfaceTypeValidationRule.cs
  src/HotChocolate/Core/src/Types/Configuration/Validation/SchemaValidator.cs
  src/HotChocolate/Core/src/Types/Configuration/Validation/TypeValidationHelper.cs
  src/HotChocolate/Core/src/Types/Types/Directives/OneOfDirectiveType.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/EnumTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/InputObjectTypeDescriptorExtensions.cs
Labels: 🌶️ hot chocolate

Update src/HotChocolate/Core/test/Types.Scalars.Tests/ScalarTypeTestBase.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/ScalarTypeTestBase.cs
Labels: 🌶️ hot chocolate

Only allow oneof on inputs
  src/HotChocolate/Core/src/Types/Types/Directives/OneOfDirectiveType.cs
Labels: 🌶️ hot chocolate
