Repository ChilliCream/graphql-platform, pull requests merged in 2018-09, with the labels that each got.

#253 Fixed minor input serialization issue
  src/Types/Types/InputObjectDefaultDeserializer.cs
Labels: bug

#257 Implemented Url scalar type
  src/Core.Tests/Types/UrlTypeTests.cs
  src/Core.Tests/__snapshots__/ExecuteGraphiQLIntrospectionQuery.json
  src/Types/Configuration/SchemaContextFactory.cs
  src/Types/Types/Scalars/UrlType.cs
Labels: enhancement

#259 Optimized Build Process
  .circleci/config.yml
  .travis.yml
  README.md
  build.cake
  global.json
  old_build.ps1
  run-benchmarks.sh
  run-tests.ps1
  run-tests.sh
  src/Core.Tests/Integration/DataLoader/DataLoaderTests.cs
  src/Utilities/Snapshot.cs
  src/Utilities/SnapshotNotFoundException.cs
Labels: refactoring

#271 Removed Time Scalar
  src/Types.Tests/Types/TimeTypeTests.cs
  src/Types/Types/Scalars/TimeType.cs
Labels: refactoring

#273 Fixed: Validation Rule marked __typename as invalid field for interfaces and unions
  src/Core.Tests/Integration/StarWarsCodeFirst/StarWarsCodeFirstTests.cs
  src/Core.Tests/__snapshots__/TypeNameFieldIsCorrectlyExecutedOnInterfaces.json
  src/Core/Validation/FieldMustBeDefinedVisitor.cs
  src/Core/Validation/FieldSelectionMergingVisitor.cs
  src/Types/Types/Introspection/IntrospectionFields.cs
  src/Types/Types/Introspection/__SchemaField.cs
  src/Types/Types/Introspection/__TypeField.cs
  src/Types/Types/Introspection/__TypeNameField.cs
  src/Validation.Tests/FieldMustBeDefinedRuleTests.cs
  src/Validation.Tests/FieldSelectionMergingRuleTests.cs
Labels: bug
