Repository ChilliCream/graphql-platform, pull requests merged in 2018-06, with the labels that each got.

#53 Enum Type Bug Fixes
  src/Core.Tests/Types/DateTypeTests.cs
  src/Core.Tests/Types/EnumTypeTests.cs
  src/Core.Tests/Types/FloatTypeTests.cs
  src/Core/Configuration/SchemaConfiguration.cs
  src/Core/ISchemaConfiguration.cs
  src/Core/Internal/BaseTypes.cs
  src/Core/Schema.Factory.cs
  src/Core/Types/EnumType.cs
  src/Core/Types/EnumTypeDescriptor.cs
  src/Core/Types/IEnumTypeDescriptor.cs
  src/Core/Types/ISchemaError.cs
Labels: bug

#64 Decimal Type
  src/Core.Tests/Types/DecimalTypeTests.cs
  src/Core/Types/DecimalType.cs
  src/HotChocolate.sln
Labels: enhancement

#65 Bugfixes
  src/Core/Configuration/TypeRegistry.cs
  src/Core/Internal/ReflectionUtils.cs
  src/Core/Resolvers/CodeGeneration/SourceCodeGenerator.cs
  src/Core/Types/Introspection/__InputValue.cs
Labels: bug

#76 Refactoring: Reworked the char extension initialization into separate initialization methods.
  run-tests.ps1
  run-tests.sh
  src/Language/Lexer/CharExtensions.Initialization.cs
  src/Language/Lexer/CharExtensions.cs
Labels: refactoring

#92 Fixed: The lexer did not handle the escape characters b f n r t correctly.
  src/Language.Tests/Lexer/StringTokenReaderTests.cs
  src/Language/Lexer/CharExtensions.Initialization.cs
  src/Language/Lexer/CharExtensions.cs
  src/Language/Lexer/Lexer.cs
Labels: bug

#96 Support for GET Request
  README.md
  src/AspNetCore/GetRequest.cs
  src/AspNetCore/PostRequest.cs
  src/AspNetCore/QueryMiddleware.cs
Labels: Spec

#98 Basic Query Caching
  src/AspNetCore.Tests/AspNetCore.Tests.csproj
  src/AspNetCore.Tests/Helpers/QueryRequestDto.cs
  src/AspNetCore.Tests/Helpers/QueryResultDto.cs
  src/AspNetCore.Tests/Helpers/TestServerExtensions.cs
  src/AspNetCore.Tests/Helpers/TestServerFactory.cs
  src/AspNetCore.Tests/QueryMiddlewareTests.cs
  src/AspNetCore.Tests/Schema/Foo.cs
  src/AspNetCore.Tests/Schema/FooInputType.cs
  src/AspNetCore.Tests/Schema/Query.cs
  src/AspNetCore.Tests/Schema/QueryType.cs
  src/AspNetCore.Tests/TestServerExtensions.cs
  src/AspNetCore.Tests/__resources__/ServerSchema.graphql
  src/AspNetCore.Tests/__snapshots__/HttpGet_BasicTest.json
  src/AspNetCore.Tests/__snapshots__/HttpPost_BasicTest.json
  src/AspNetCore.Tests/__snapshots__/HttpPost_WithObjectVariables.json
  src/AspNetCore.Tests/__snapshots__/HttpPost_WithScalarVariables.json
  src/AspNetCore/GraphQLServiceCollectionExtensions.cs
  src/AspNetCore/QueryMiddleware.cs
  src/Core.Tests/Execution/ArgumentTests.cs
  src/Core.Tests/Execution/OperationRequestTests.cs
  src/Core.Tests/Execution/QueryExecuterTests.cs
  src/Core.Tests/Execution/VariableValueBuilderTests.cs
  src/Core.Tests/Types/Descriptors/ArgumentDescriptorTests.cs
  src/Core.Tests/Types/Descriptors/InputFieldDescriptorTests.cs
  src/Core.Tests/Types/Descriptors/ObjectTypeDescriptorTests.cs
  src/Core.Tests/Types/IntrospectionTests.cs
  src/Core.Tests/__snapshots__/ExecuteQueryWith2OperationsAndInvalidOperationName_Error.json
  src/Core.Tests/__snapshots__/ExecuteQueryWith2OperationsAndNoOperationName_Error.json
  src/Core.Tests/__snapshots__/ExecuteQueryWith2OperationsAndOperationName_NoErrors.json
  src/Core.Tests/__snapshots__/ExecuteShortHandQuery.json
  src/Core.Tests/__snapshots__/ExecuteWithMissingVariables_Error.json
  src/Core.Tests/__snapshots__/ExecuteWithNonNullVariableInvalidType_Error.json
  src/Core.Tests/__snapshots__/ExecuteWithNonNullVariableNull_Error.json
  src/Core.Tests/__snapshots__/ExecuteWithNonNullVariableValidValue_NoErrors.json
  src/Core/Execution/ExecutionHelper.cs
  src/Core/Execution/OperationRequest.cs
  src/Core/Execution/QueryExecuter.cs
  src/Core/Execution/QueryRequest.cs
  src/Core/Execution/VariableValueBuilder.cs
  src/Core/Execution/VariableValueResolver.cs
  src/Core/Schema.cs
  src/Core/SchemaExtensions.cs
  src/Core/Types/Descriptors/FieldDescriptor.cs
  src/Core/Types/Descriptors/IFieldDescriptor.cs
  src/Core/Types/Descriptors/InputFieldDescriptor.cs
  src/Core/Types/Descriptors/ObjectTypeDescriptor.cs
  src/Core/Types/ObjectType.cs
Labels: enhancement

#135 Forward the GET request to next handler if contains no query
  src/AspNetCore/GetRequest.cs
Labels: bug

#141 Bugfix Variables and GET Request
  src/AspNetCore.Tests/Helpers/QueryRequestDto.cs
  src/AspNetCore.Tests/QueryMiddlewareTests.cs
  src/AspNetCore/GetRequest.cs
  src/AspNetCore/QueryMiddleware.cs
  src/AspNetCore/QueryRequest.cs
Labels: bug
