Repository ChilliCream/graphql-platform, pull requests merged in 2019-01, with the labels that each got.

#455 Directive order is significant Tests
  ROADMAP.md
  src/Core/Language.Tests/Parser/DirectiveParserTests.cs
  src/Core/Types.Tests/Types/DirectiveCollectionTests.cs
  src/Core/Types/Types/DirectiveCollection.cs
Labels: spec

#458 Fixes: Issues with Custom Scalar Support
  src/Core/Core.Tests/Execution/IntrospectionTests.cs
  src/Core/Core.Tests/Execution/Utilities/VariableValueBuilderTests.cs
  src/Core/Core.Tests/Integration/TypeConversion/TypeConversionTests.cs
  src/Core/Core.Tests/__snapshots__/ExecuteGraphiQLIntrospectionQuery.json
  src/Core/Types.Tests/Types/Scalars/ScalarSupportTests.cs
  src/Core/Types.Tests/Utilities/DictionaryToInputObjectConverterTests.cs
  src/Core/Types.Tests/Utilities/ObjectValueToInputObjectConverter.cs
  src/Core/Types.Tests/__snapshots__/RegisterCustomExtendedScalarType.json
  src/Core/Types.Tests/__snapshots__/RegisterCustomExtendedScalarTypeDateTime.json
  src/Core/Types.Tests/__snapshots__/RegisterCustomExtendedScalarTypeDecimal.json
  src/Core/Types.Tests/__snapshots__/RegisterCustomExtendedScalarTypeLong.json
  src/Core/Types.Tests/__snapshots__/ShouldNotAllowSwappingOfBaseScalarTypeBoolean.json
  src/Core/Types.Tests/__snapshots__/ShouldNotAllowSwappingOfBaseScalarTypeFloat.json
  src/Core/Types.Tests/__snapshots__/ShouldNotAllowSwappingOfBaseScalarTypeID.json
  src/Core/Types.Tests/__snapshots__/ShouldNotAllowSwappingOfBaseScalarTypeInt.json
  src/Core/Types.Tests/__snapshots__/ShouldNotAllowSwappingOfBaseScalarTypeString.json
  src/Core/Types/Configuration/SchemaContextFactory.cs
  src/Core/Types/SchemaConfigurationExtensions.cs
Labels: enhancement

#472 Fixed: BatchOperationHandler multi-thread issue.
  src/Core/Core/Execution/Utilities/BatchedOperationHandler.cs
Labels: bug

#484 Fixed: Schema first fails when enums are used.
  src/Core/Core.Tests/SchemaFirstTests.cs
  src/Core/Core.Tests/__snapshots__/EnumAsInputType.json
  src/Core/Core.Tests/__snapshots__/EnumAsOutputType.json
  src/Core/Types/Types/EnumType.cs
  src/Core/Types/Utilities/TypeConversion.EnumTypes.cs
Labels: bug

#487 Added more resolver overload to correctly be able to infer the resolver type
  src/Core/Types/Types/Descriptors/IObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/MiddlewareObjectFieldDescriptorExtensions.cs
  src/Core/Types/Types/Descriptors/ResolverObjectFieldDescriptorExtensions.cs
Labels: bug

#485 Authorize Directive Serialization Issues
  src/Core/Core.Tests/Execution/Errors/ErrorBehaviourTests.cs
  src/Core/Core.Tests/__snapshots__/RootFieldNotDefined.json
  src/Core/Core.Tests/__snapshots__/RootTypeNotDefined.json
  src/Core/Core/Validation/QueryVisitor.cs
  src/Server/AspNetCore.Authorization/AuthorizeDirective.cs
  src/Server/AspNetCore.Authorization/AuthorizeDirectiveType.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizationTests.cs
  src/Server/AspNetCore.Tests/Helpers/ClientQueryResult.cs
  src/Server/AspNetCore.Tests/Helpers/TestServerFactory.cs
  src/Server/AspNetCore.Tests/QueryMiddlewareTests.cs
  src/Server/AspNetCore.Tests/__snapshots__/DefaultPolicy_NotFound.json
  src/Server/AspNetCore.Tests/__snapshots__/PipedAuthorizeDirectives_Authorized.json
  src/Server/AspNetCore.Tests/__snapshots__/PipedAuthorizeDirectives_SecondFails_NotAuthorized.json
  src/Server/AspNetCore.Tests/__snapshots__/Policy_Authorized.json
  src/Server/AspNetCore.Tests/__snapshots__/Policy_NotAuthorized.json
  src/Server/AspNetCore.Tests/__snapshots__/Policy_NotFound.json
  src/Server/AspNetCore.Tests/__snapshots__/Roles_Authorized.json
  src/Server/AspNetCore.Tests/__snapshots__/Roles_UserHasAllOfTheRoles_Authorized.json
  src/Server/AspNetCore.Tests/__snapshots__/Roles_UserHasDifferentRoles_NotAuthorized.json
  src/Server/AspNetCore.Tests/__snapshots__/Roles_UserHasNoRoles_NotAuthorized.json
  src/Server/AspNetCore.Tests/__snapshots__/Roles_UserHasOneOfTheRoles_NotAuthorized.json
  src/Server/AspNetCore.Tests/__snapshots__/UsePolicy_NotAuthorized.json
Labels: bug

#489 Fixed: schema first enums in input-objects
  src/Core/Core.Tests/SchemaFirstTests.cs
  src/Core/Core.Tests/__snapshots__/InputObjectWithEnum.json
  src/Core/Types/Types/Scalars/IdType.cs
  src/Core/Types/Utilities/ObjectValueToInputObjectConverter.cs
Labels: bug

#496 Fixed TotalCount Bug in Paging
  src/Core/Types.Tests/Types/Relay/QueryableConnectionTests.cs
  src/Core/Types/Types/Relay/QueryableConnectionResolver.cs
Labels: bug

#482 Added field middleware that is bound to the query executer.
  .bettercodehub.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  src/Core/Core.Tests/Execution/ExecutionContextTests.cs
  src/Core/Core.Tests/Execution/ExecutionFieldMiddleware.cs
  src/Core/Core.Tests/Execution/IntrospectionTests.cs
  src/Core/Core.Tests/Execution/Middleware/CoerceVariablesMiddlewareTests.cs
  src/Core/Core.Tests/Execution/Middleware/ExecuteOperationMiddlewareTests.cs
  src/Core/Core.Tests/Execution/Middleware/MaxComplexityMiddlewareTests.cs
  src/Core/Core.Tests/Execution/Middleware/ParseQueryMiddlewareTests.cs
  src/Core/Core.Tests/Execution/Middleware/RequestTimeoutMiddlewareTests.cs
  src/Core/Core.Tests/Execution/Middleware/ResolveOperationMiddlewareTests.cs
  src/Core/Core.Tests/Execution/SchemaDirectiveTests.cs
  src/Core/Core.Tests/__snapshots__/DirectiveMiddlewareDoesWorkOnIntrospection.json
  src/Core/Core.Tests/__snapshots__/ExecDirectiveOrderIsSignificant.json
  src/Core/Core.Tests/__snapshots__/ExecuteFieldWithExecutionClassMiddleware.json
  src/Core/Core.Tests/__snapshots__/ExecuteFieldWithExecutionClassMiddlewareWithFactory.json
  src/Core/Core.Tests/__snapshots__/ExecuteFieldWithExecutionMiddleware.json
  src/Core/Core.Tests/__snapshots__/FieldMiddlewareDoesNotHaveAnEffectOnIntrospection.json
  src/Core/Core/Execution/DirectiveContext.cs
  src/Core/Core/Execution/ExecutionContext.cs
  src/Core/Core/Execution/ExecutionStrategyBase.Resolver.cs
  src/Core/Core/Execution/IQueryContext.cs
  src/Core/Core/Execution/Middleware/ExecuteOperationMiddleware.cs
  src/Core/Core/Execution/Middleware/QueryExecutionBuilderExtensions.cs
  src/Core/Core/Execution/QueryContext.cs
  src/Core/Core/Execution/QueryExecuter.cs
  src/Core/Core/Execution/QueryExecutionBuilder.cs
  src/Core/Core/Execution/Resolvers/DirectiveContext.cs
  src/Core/Core/Execution/Resolvers/MiddlewareContext.cs
  src/Core/Core/Execution/Resolvers/ResolverContext.cs
  src/Core/Core/Execution/Utilities/DirectiveCollector.cs
  src/Core/Core/Execution/Utilities/DirectiveLookup.cs
  src/Core/Core/Execution/Utilities/DirectiveMiddlewareCompiler.cs
  src/Core/Core/Execution/Utilities/FieldHelper.cs
  src/Core/Core/Execution/Utilities/FieldMiddlewareCompiler.cs
  src/Core/Core/Execution/Utilities/IFieldHelper.cs
  src/Core/Core/Execution/Utilities/ResolverTask.cs
  src/Core/Core/Validation/MaxComplexityVisitor.cs
  src/Core/Core/Validation/QueryVisitorHelper.cs
  src/Core/Stitching.Tests/QueryBrokerTests.cs
  src/Core/Types.Tests/Types/ObjectTypeTests.cs
  src/Core/Types/Configuration/IResolverRegistry.cs
  src/Core/Types/Configuration/ResolverRegistry.cs
  src/Core/Types/Resolvers/DirectiveMethodMiddleware.cs
  src/Core/Types/Resolvers/DirectiveMiddlewareDelegates.cs
  src/Core/Types/Resolvers/DirectiveResolverMiddleware.cs
  src/Core/Types/Resolvers/FieldSelection.cs
  src/Core/Types/Resolvers/IDirectiveMiddleware.cs
  src/Core/Types/Types/ITypeInitializationContext.cs
  src/Core/Types/Types/Introspection/IntrospectionExtensions.cs
  src/Core/Types/Types/ObjectField.cs
  src/Core/Types/Types/TypeInitializationContext.cs
  src/Server/AspNetCore.Authorization/AuthorizeDirectiveType.cs
Labels: enhancement

#536 Fixed: Deep delegation paths did case a null value issue
  src/Stitching/Stitching.Tests/DelegateToRemoteSchemaMiddlewareTests.cs
  src/Stitching/Stitching.Tests/__resources__/Stitching.graphql
  src/Stitching/Stitching.Tests/__resources__/StitchingQueryDeepArrayPath.graphql
  src/Stitching/Stitching.Tests/__resources__/StitchingQueryDeepObjectPath.graphql
  src/Stitching/Stitching.Tests/__resources__/StitchingQueryDeepScalarPath.graphql
  src/Stitching/Stitching.Tests/__snapshots__/ExecuteStitchingQueryDeepObjectPath.json
  src/Stitching/Stitching.Tests/__snapshots__/ExecuteStitchingQueryDeepScalarPath.json
  src/Stitching/Stitching/Middleware/DelegateToRemoteSchemaMiddleware.cs
Labels: bug

#538 feat(Core): adds scoped data context
  src/Core/Core.Tests/Execution/Middleware/ScopedContextDataTests.cs
  src/Core/Core/Execution/ExecutionStrategyBase.cs
  src/Core/Core/Execution/Resolvers/DirectiveContext.cs
  src/Core/Core/Execution/Resolvers/MiddlewareContext.cs
  src/Core/Core/Execution/Resolvers/ResolverContext.cs
  src/Core/Core/Execution/Utilities/ResolverTask.cs
  src/Core/Core/Execution/ValueCompletion/FieldValueCompletionContext.cs
  src/Core/Types/Resolvers/IResolverContext.cs
Labels: enhancement

#547 Fixed DateTimeType parsing issue
  src/Core/Language/Visitors/DocumentWriter.cs
  src/Core/Types.Tests/Types/Scalars/DateTimeTypeTests.cs
  src/Core/Types.Tests/Types/Scalars/DateTypeTests.cs
  src/Core/Types/Types/Scalars/DateTimeType.cs
  src/Core/Types/Types/Scalars/DateType.cs
Labels: bug

#546 Added a Generic Interface Type
  src/Core/Types.Tests/Types/InterfaceTypeTests.cs
  src/Core/Types.Tests/Types/ObjectTypeTests.cs
  src/Core/Types/Types/Descriptors/ArgumentDescriptor.cs
  src/Core/Types/Types/Descriptors/FieldDescriptorUtilities.cs
  src/Core/Types/Types/Descriptors/IInterfaceFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/IInterfaceTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/IObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/InterfaceFieldDescription.cs
  src/Core/Types/Types/Descriptors/InterfaceFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/InterfaceTypeDescription.cs
  src/Core/Types/Types/Descriptors/InterfaceTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/InterfaceTypeDescriptorExtensions.cs
  src/Core/Types/Types/Descriptors/ObjectFieldDescription.cs
  src/Core/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptorExtensions.cs
  src/Core/Types/Types/FieldBase.cs
  src/Core/Types/Types/IObjectField.cs
  src/Core/Types/Types/IOutputField.cs
  src/Core/Types/Types/InterfaceType.cs
  src/Core/Types/Types/ObjectField.cs
  src/Core/Types/Types/ObjectFieldBase.cs
  src/Core/Types/Types/ObjectType.cs
Labels: enhancement

#554 Fix sonar issues to reach quality gate.
  src/Core/Core.Tests/Execution/Middleware/RequestTimeoutMiddlewareTests.cs
  src/Core/Core/Execution/ExecutionStrategyBase.cs
  src/Core/Core/Execution/Middleware/CoerceVariablesMiddleware.cs
  src/Core/Core/Execution/Middleware/ExceptionMiddleware.cs
  src/Core/Core/Execution/Middleware/ExecuteOperationMiddleware.cs
  src/Core/Core/Execution/Middleware/RequestTimeoutMiddleware.cs
  src/Core/Core/Execution/Middleware/ResolveOperationMiddleware.cs
  src/Core/Core/Execution/QueryExecuter.cs
  src/Core/Core/Execution/SubscriptionExecutionStrategy.cs
  src/Core/Core/Execution/SubscriptionResult.cs
  src/Core/Core/Execution/Utilities/BatchedOperationHandler.cs
  src/Core/Core/LegacySchemaExtensions.cs
  src/Core/Subscriptions.InMemory/InMemoryEventRegistry.cs
  src/Core/Subscriptions.InMemory/InMemoryEventStream.cs
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithCancellationToken.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithContext.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithField.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithFieldSelection.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithObjectType.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithOperationDefinition.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithQueryDocument.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithQuerySchema.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithQueryService.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithSourceArgument.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithSourceArgumentAndArgument.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithSourceArgumentAndTwoArguments.txt
  src/Core/Types.Tests/__snapshots__/AsyncResolverMethodGenerator_GenerateWithoutArguments.txt
  src/Core/Types.Tests/__snapshots__/AsyncSourceMethodGenerator_GenerateWithOneArgument.txt
  src/Core/Types.Tests/__snapshots__/AsyncSourceMethodGenerator_GenerateWithTwoArgument.txt
  src/Core/Types.Tests/__snapshots__/AsyncSourceMethodGenerator_GenerateWithoutArguments.txt
  src/Core/Types/DataLoader/FetchDataLoader.cs
  src/Core/Types/DataLoader/FetchGroupedDataLoader.cs
  src/Core/Types/DataLoader/FetchSingleDataLoader.cs
  src/Core/Types/Resolvers/CodeGeneration/DirectiveResolverGenerator/AsyncOnInvokeMethodGenerator.cs
  src/Core/Types/Resolvers/CodeGeneration/DirectiveResolverGenerator/SyncOnInvokeMethodGenerator.cs
  src/Core/Types/Resolvers/CodeGeneration/ResolverGenerators/AsyncResolverMethodGenerator.cs
  src/Core/Types/Resolvers/CodeGeneration/ResolverGenerators/AsyncSourceMethodGenerator.cs
  src/Core/Types/Types/ISerializableType.cs
  src/Core/Types/Types/ResolveDirective.cs
  src/Core/Types/Types/Scalars/ScalarType.cs
  src/Server/AspNetCore.Authorization/AuthorizeDirectiveType.cs
  src/Server/AspNetCore.GraphiQL/SettingsMiddleware.cs
  src/Server/AspNetCore.Playground/SettingsMiddleware.cs
  src/Server/AspNetCore/SchemaMiddleware.cs
Labels: refactoring

#552 Added generic union type.
  src/Core/Types.Tests/Types/InputObjectDeserializerTests.cs
  src/Core/Types.Tests/Types/InterfaceTypeTests.cs
  src/Core/Types.Tests/Types/UnionTypeTests.cs
  src/Core/Types/Configuration/TypeInitializers/TypeRegistrar.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptorExtensions.cs
  src/Core/Types/Types/ITypeInitializationContext.cs
  src/Core/Types/Types/ObjectType.cs
  src/Core/Types/Types/TypeInitializationContext.cs
  src/Core/Types/Types/UnionType.cs
Labels: enhancement

#555 Fixes ToCollection on Path
  src/Core/Abstractions.Tests/PathTests.cs
  src/Core/Abstractions.Tests/__snapshots__/Path_ToCollection.json
  src/Core/Abstractions/IError.cs
  src/Core/Abstractions/Path.cs
  src/Core/Core.Tests/Execution/Instrumentation/ApolloTracingResultBuilderTests.cs
  src/Core/Core.Tests/Execution/Instrumentation/PathExtensionsTests.cs
  src/Core/Core/Execution/Errors/QueryError.cs
  src/Core/Core/Execution/Instrumentation/ApolloTracingResolverRecord.cs
  src/Core/Core/Execution/Instrumentation/PathExtensions.cs
  src/Stitching/Stitching/Middleware/DelegateToRemoteSchemaMiddleware.cs
Labels: bug

#558 Added totalCount as optional field to the connection type
  src/Core/Abstractions/ResolverResult.cs
  src/Core/Core/Execution/ExecutionStrategyBase.Resolver.cs
  src/Core/Core/Execution/ExecutionStrategyBase.cs
  src/Core/Core/Execution/SubscriptionExecutionStrategy.cs
  src/Core/Core/Execution/Utilities/ArgumentValueBuilder.cs
  src/Core/Core/Execution/Utilities/FieldCollector.cs
  src/Core/Core/Execution/Utilities/VariableValueBuilder.cs
  src/Core/Core/Validation/InputObjectFieldUniquenessVisitor.cs
  src/Core/Types.Tests/Types/Relay/ConnectionTests.cs
  src/Core/Types.Tests/Types/Relay/ConnectionTypeTests.cs
  src/Core/Types.Tests/Types/Relay/PageInfoTests.cs
  src/Core/Types.Tests/__snapshots__/ExecuteQueryWithPaging.json
  src/Core/Types/Configuration/TypeRegistry.GetType.cs
  src/Core/Types/Configuration/TypeRegistry.RegisterType.cs
  src/Core/Types/Resolvers/CodeGeneration/ResolverSourceCodeGeneratorBase.cs
  src/Core/Types/SchemaSerializer.cs
  src/Core/Types/Types/Descriptors/DirectiveTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/DirectiveUtils.cs
  src/Core/Types/Types/Descriptors/IInterfaceFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/IObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/IObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/IUnionTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/InterfaceFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectFieldDescriptorBase.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/UnionTypeDescriptor.cs
  src/Core/Types/Types/DirectiveCollection.cs
  src/Core/Types/Types/ObjectField.cs
  src/Core/Types/Types/ObjectType.cs
  src/Core/Types/Types/Relay/ConnectionType.cs
  src/Core/Types/Types/Relay/EdgeType.cs
  src/Core/Types/Types/Relay/IEdgeType.cs
  src/Core/Types/Types/Relay/IPageInfo.cs
  src/Core/Types/Types/Relay/ObjectFieldDescriptorExtensions.cs
  src/Core/Types/Types/Relay/PageInfo.cs
  src/Core/Types/Types/Relay/PageInfoType.cs
  src/Core/Types/Types/Relay/QueryableConnectionResolver.cs
  src/Core/Types/Types/TypeContext.cs
  src/Core/Types/Types/TypeReference.cs
  src/Core/Types/Utilities/NamedTypeInfoFactory.cs
Labels: enhancement

#560 Sonar Quality Gate
  src/Core/Core.Tests/Integration/StarWarsCodeFirst/StarWarsCodeFirstTests.cs
  src/Core/Core.Tests/__snapshots__/Execute_ListWithNullValues_ResultContainsNullElement.json
  src/Core/Language.Tests/Visitors/DocumentWriterTests.cs
  src/Core/Language/Visitors/DocumentWriter.cs
  src/Core/Types.Tests/TestUtils.cs
  src/Core/Types.Tests/Types/NativeTypeTests.cs
  src/Core/Types.Tests/Types/ObjectTypeTests.cs
  src/Core/Types.Tests/Types/Relay/NodeTypeTests.cs
  src/Core/Types/Types/NativeType.cs
  src/Server/AspNetCore.Tests/Subscriptions/GraphQLWebSocketProtocolTests.cs
  src/Stitching/Stitching/Builder/StitchingContextBuilder.cs
Labels: refactoring
