Repository ChilliCream/graphql-platform, pull requests merged in 2019-11, with the labels that each got.

#1184 fix(Filters): fix queryable visitor
  src/Core/Types.Filters.Tests/QueryableFilterVisitorTest.cs
  src/Core/Types.Filters/QueryableFilterVisitor.cs
Labels: Filter, bug

#1187 Fixed: StrawberryShake Query File Detection
  src/Client/dotnet-graphql/CompileCommandBase.cs
Labels: bug

#1192 Fixed: StrawberryShake result parser generator
  src/Client/Demo/GraphQL/Generated/.hash.md5
  src/Client/Demo/GraphQL/Generated/CreateReviewResultParser.cs
  src/Client/Demo/GraphQL/Generated/GetHeroResultParser.cs
  src/Client/Demo/GraphQL/Generated/GetHumanResultParser.cs
  src/Client/Demo/GraphQL/Generated/SearchResultParser.cs
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Custom_Scalar_Types.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_As_Output_Field_Return_Type.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_Type.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_Type_Set_Value_Name.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Input_Objects_Arguments.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Nested_List_Nullable_ReturnType.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Nested_List_ReturnType.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.NonNull_Object_List.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.NonNull_Scalar_List.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Return_Type_Renamed.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Single_Nullable_Scalar_Argument.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Alias_Fields.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Input_Objects_Arguments.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Nullable_Scalar_Arguments.snap
  src/Client/Generators/CSharp/ResultParserGenerator.cs
Labels: Strawberry Shake, enhancement

#1148 Adds conventions for descriptors
  src/Client/Abstractions/Serializers/DecimalValueSerializer.cs
  src/Core/Types.Filters.Tests/FilterNamingConventionTests.cs
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.Convention_CamelCase.snap
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.Convention_PascalCase.snap
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.Convention_SnakeCase.snap
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.Default_Convention.snap
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.ServiceProvider_CamelCase.snap
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.ServiceProvider_PascalCase.snap
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.ServiceProvider_SnakeCase.snap
  src/Core/Types.Filters/Conventions/Naming/FilterNamingConventionCamelCase.cs
  src/Core/Types.Filters/Conventions/Naming/FilterNamingConventionPascalCase.cs
  src/Core/Types.Filters/Conventions/Naming/FilterNamingConventionSnakeCase.cs
  src/Core/Types.Filters/Conventions/Naming/IFilterNamingConvention.cs
  src/Core/Types.Filters/FilterFieldDescriptorBase.cs
  src/Core/Types.Tests/SchemaBuilderTests.cs
  src/Core/Types.Tests/Types/Descriptors/DescriptorContextTests.cs
  src/Core/Types/Contracts/ISchemaBuilder.cs
  src/Core/Types/Extensions/SchemaBuilderExtensions.Conventions.cs
  src/Core/Types/Properties/TypeResources.Designer.cs
  src/Core/Types/Properties/TypeResources.resx
  src/Core/Types/SchemaBuilder.Create.cs
  src/Core/Types/SchemaBuilder.cs
  src/Core/Types/Types/Descriptors/Conventions/DefaultNamingConventions.cs
  src/Core/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/Core/Types/Types/Descriptors/Conventions/DescriptorContext.cs
  src/Core/Types/Types/Descriptors/Conventions/IConvention.cs
  src/Core/Types/Types/Descriptors/Conventions/IDescriptorContext.cs
  src/Core/Types/Types/Descriptors/Conventions/INamingConventions.cs
  src/Core/Types/Types/Descriptors/Conventions/ITypeInspector.cs
Labels: enhancement

#1195 Remove Camel Case Naming Convention
  src/Core/Types.Filters.Tests/FilterNamingConventionTests.cs
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.Convention_CamelCase.snap
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.ServiceProvider_CamelCase.snap
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.ServiceProvider_PascalCase.snap
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.ServiceProvider_SnakeCase.snap
  src/Core/Types.Filters/Conventions/Naming/FilterNamingConventionCamelCase.cs
Labels: Filter, refactoring

#1130 Feat add nested sort filter
  examples/AspNetCore.StarWars/Startup.cs
  src/Core/Types.Sorting.Mongo.Tests/MongoSortingObjectTests.cs
  src/Core/Types.Sorting.Mongo.Tests/__snapshots__/MongoSortingObjectTests.GetItems_DescSorting_AllItems_Are_Returned_DescSorted.snap
  src/Core/Types.Sorting.Mongo.Tests/__snapshots__/MongoSortingObjectTests.GetItems_NoSorting_AllItems_Are_Returned_Unsorted.snap
  src/Core/Types.Sorting.Mongo.Tests/__snapshots__/MongoSortingObjectTests.GetItems_OnRenamedField_DescSorting_AllItems_Are_Returned_DescSorted.snap
  src/Core/Types.Sorting.Mongo.Tests/__snapshots__/MongoSortingObjectTests.GetItems_With_Paging__DescSorting_AllItems_Are_Returned_DescSorted.snap
  src/Core/Types.Sorting.Tests/QueryableExtensionsTests.cs
  src/Core/Types.Sorting.Tests/QueryableObjectSortVisitorTests.cs
  src/Core/Types.Sorting.Tests/SortFieldDescriptorTests.cs
  src/Core/Types.Sorting.Tests/SortInputObjectTypeTests.cs
  src/Core/Types.Sorting.Tests/SortInputTypeTests.cs
  src/Core/Types.Sorting.Tests/Types.Sorting.Tests.csproj
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Description_Explicitly.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Directive_By_Name.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Directive_By_Name_With_Argument.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Directive_With_Clr_Type.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Explicit_Sorting.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Explicit_Sorting_ByType.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Implicit_Sorting.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Implicit_Sorting_NoBindInvocation.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Implicit_Sorting_WithIgnoredField.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Implicit_Sorting_WithRenamedField.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Description_Explicitly.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Directive_By_Name.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Directive_By_Name_With_Argument.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Directive_With_Clr_Type.snap
  src/Core/Types.Sorting/ISortFieldDescriptor.cs
  src/Core/Types.Sorting/ISortInputTypeDescriptor.cs
  src/Core/Types.Sorting/ISortObjectOperationDescriptor.cs
  src/Core/Types.Sorting/ISortObjectOperationDescriptor~1.cs
  src/Core/Types.Sorting/ISortOperationDescriptor.cs
  src/Core/Types.Sorting/Properties/SortingResources.Designer.cs
  src/Core/Types.Sorting/Properties/SortingResources.resx
  src/Core/Types.Sorting/QueryableExtensions.cs
  src/Core/Types.Sorting/QueryableSortVisitor.cs
  src/Core/Types.Sorting/SortFieldDefinition.cs
  src/Core/Types.Sorting/SortFieldDescriptor.cs
  src/Core/Types.Sorting/SortInputTypeDescriptor.cs
  src/Core/Types.Sorting/SortObjectOperationDescriptor.cs
  src/Core/Types.Sorting/SortObjectOperationDescriptor~1.cs
  src/Core/Types.Sorting/SortOperation.cs
  src/Core/Types.Sorting/SortOperationDescriptor.cs
  src/Core/Types.Sorting/SortOperationInvocation.cs
  src/Core/Types.Sorting/SortQueryableClosure.cs
  src/Core/Types.Sorting/SortVisitorBase.cs
  src/Core/Types.Sorting/Types.Sorting.csproj
Labels: enhancement, refactoring

#1205 Added support for multiple `ISocketQueryRequestInterceptor`
  src/Server/AspNetCore.Subscriptions.Tests/Messages/DataStartMessageHandlerTests.cs
  src/Server/AspNetCore.Subscriptions.Tests/Messages/DataStopMessageHandlerTests.cs
  src/Server/AspNetCore.Subscriptions/Extensions/SubscriptionServiceCollectionExtensions.cs
  src/Server/AspNetCore.Subscriptions/Messages/DataStartMessageHandler.cs
Labels: bug

#1212 fix(Filters): fix implicit generation of arrays
  src/Core/Types.Filters.Tests/ArrayFilterInputTypeTests.cs
  src/Core/Types.Filters.Tests/__snapshots__/ArrayFilterInputTypeTests.Create_ArraySimpleFilter_FooImplicitBarImplicit_Collection.snap
  src/Core/Types.Filters/FilterInputTypeDescriptor.cs
  src/Core/Types.Filters/Properties/FilterResources.Designer.cs
  src/Core/Types.Filters/Properties/FilterResources.resx
  src/Core/Types/InternalsVisibleTo.cs
Labels: Filter

#1211 Fixes #1210. Create a new service scope when cloning RequestContext
  src/Core/Core.Tests/Execution/ExecutionContextTests.cs
  src/Core/Core/Execution/RequestContext.cs
Labels: bug

#1224 Fixed C# Version String
  src/Client/Tools/StrawberryShake.targets
Labels: bug

#1225 Fixed client subscription services are only added if subscriptions are used.
  src/Client/.vscode/launch.json
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Custom_Scalar_Types.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Custom_Scalar_Types_Byte_Array.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Custom_Scalar_Types_Byte_Array_LanguageVersion.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_As_Output_Field_Return_Type.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_Type.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_Type_Set_Value_Name.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Input_Objects_Arguments.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Nested_List_Nullable_ReturnType.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Nested_List_ReturnType.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.NonNull_Object_List.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.NonNull_Scalar_List.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Return_Type_Renamed.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Single_Nullable_Scalar_Argument.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Alias_Fields.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Input_Objects_Arguments.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Nullable_Scalar_Arguments.snap
  src/Client/Generators/CSharp/ServicesGenerator.cs
  src/Client/Generators/Descriptors/IServicesDescriptor.cs
  src/Client/Generators/Descriptors/ServicesDescriptor.cs
  src/Client/dotnet-graphql/CompileCommand.cs
  src/Client/dotnet-graphql/CompileCommandHandler.cs
  src/Client/dotnet-graphql/GenerateCommandHandler.cs
  src/Client/dotnet-graphql/InitCommandHandler.cs
  src/Client/dotnet-graphql/Program.cs
  src/Client/dotnet-graphql/UpdateCommandHandler.cs
Labels: Strawberry Shake, bug

#1226 Fixed issue that the client released the connection after one subscription message
  src/Client/Demo.Tests/SnapshotExtensions.cs
  src/Client/Demo.Tests/StarWarsClientTests.cs
  src/Client/Demo.Tests/__snapshots__/StarWarsClientTests.OnReview_By_Episode_0.snap
  src/Client/Demo.Tests/__snapshots__/StarWarsClientTests.OnReview_By_Episode_1.snap
  src/Client/Http/Subscriptions/Subscription~1.cs
Labels: Strawberry Shake, bug

#1236 Infer non-nullability from C# ref types enhancement
  src/Core/PersistedQueries.Redis.Tests/RedisQueryStorageTests.cs
  src/Core/PersistedQueries.Redis.Tests/ServiceCollectionExtensionsTests.cs
  src/Core/Types.Tests/CodeFirstTests.cs
  src/Core/Types.Tests/Types/Descriptors/InputFieldDescriptorTests.cs
  src/Core/Types.Tests/Utilities/ExtendedTypeRewriterTests.cs
  src/Core/Types.Tests/Utilities/ExtendedTypeTests.cs
  src/Core/Types.Tests/__snapshots__/CodeFirstTests.InferSchemaWithNonNullRefTypes.snap
  src/Core/Types/SchemaBuilder.Create.cs
  src/Core/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/Core/Types/Utilities/CompilerServices/NullableAttribute.cs
  src/Core/Types/Utilities/CompilerServices/NullableContextAttribute.cs
  src/Core/Types/Utilities/DotNetTypeInfoFactory.cs
  src/Core/Types/Utilities/ExtendedMethodTypeInfo.cs
  src/Core/Types/Utilities/ExtendedType.cs
  src/Core/Types/Utilities/ExtendedTypeKind.cs
  src/Core/Types/Utilities/ExtendedTypeRewriter.cs
  src/Core/Types/Utilities/IExtendedMethodTypeInfo.cs
  src/Core/Types/Utilities/IExtendedType.cs
  src/Core/Types/Utilities/Nullable.cs
  src/Core/Types/Utilities/NullableHelper.cs
  src/Core/Types/Utilities/NullableTypeExtensions.cs
  src/Core/Types/Utilities/ReflectionUtils.cs
  src/Settings.props
Labels: enhancement
