Repository ChilliCream/graphql-platform, pull requests merged in 2019-05, with the labels that each got.

#717 Includes directive definitions in serialized schema
  src/Core/Types.Tests/__snapshots__/SchemaSerializerTests.SerializeSchemaWithDirective.snap
  src/Core/Types/SchemaSerializer.cs
Labels: bug

#720 Expression Resolver Compiler
  src/Core/Types.Tests/Resolvers/Expressions/ResolverPropertyGeneratorTests.cs
  src/Core/Types/Configuration/ResolverCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetArgumentCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetCancellationTokenCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetContextCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetDataLoaderCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetDirectiveArgumentCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetDirectiveCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetEventMessageCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetFieldSelectionCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetFromGenericMethodCompilerBase.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetObjectTypeCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetOperationCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetOutputFieldCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetParentCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetQueryCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetSchemaCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetServiceCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/IResolverParameterCompiler.cs
  src/Core/Types/Resolvers/Expressions/Arguments/ParameterCompilerFactory.cs
  src/Core/Types/Resolvers/Expressions/Arguments/ResolverParameterCompilerBase.cs
  src/Core/Types/Resolvers/Expressions/ResolverCompiler.cs
  src/Core/Types/Resolvers/Expressions/ResolverDescriptor.cs
  src/Core/Types/Resolvers/Expressions/TypeInfoExtensions.cs
Labels: refactoring

#724 Validate Field Types
  CHANGELOG.md
  src/Core/Types.Tests/Types/InputObjectTypeTests.cs
  src/Core/Types.Tests/Types/InterfaceTypeTests.cs
  src/Core/Types.Tests/Types/ObjectTypeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.DoNotAllow_DynamicInputTypes_OnFields.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.DoNotAllow_InputTypes_OnFields.snap
  src/Core/Types/Configuration/TypeRegistrar.cs
  src/Core/Types/Types/Descriptors/ArgumentDescriptorBase~1.cs
  src/Core/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/Core/Types/Types/Descriptors/Conventions/ITypeInspector.cs
  src/Core/Types/Types/Descriptors/OutputFieldDescriptorBase.cs
Labels: bug

#728 [spec] Directive Support for Variable Definition
  CHANGELOG.md
  ROADMAP.md
  src/Core/Language.Tests/AST/VariableDefinitionNodeTests.cs
  src/Core/Language.Tests/AST/__snapshots__/VariableDefinitionNodeTests.Create_ArgumentsArePassedCorrecctly.snap
  src/Core/Language.Tests/AST/__snapshots__/VariableDefinitionNodeTests.WithDefaultValue.snap
  src/Core/Language.Tests/AST/__snapshots__/VariableDefinitionNodeTests.WithDirectives.snap
  src/Core/Language.Tests/AST/__snapshots__/VariableDefinitionNodeTests.WithLocation.snap
  src/Core/Language.Tests/AST/__snapshots__/VariableDefinitionNodeTests.WithType.snap
  src/Core/Language.Tests/AST/__snapshots__/VariableDefinitionNodeTests.WithVariable.snap
  src/Core/Language.Tests/Parser/QueryParserTests.cs
  src/Core/Language.Tests/Utf8/Utf8QueryParserTests.cs
  src/Core/Language.Tests/Utf8/__snapshots__/Utf8KitchenSinkParserTests.ParseFacebookKitchenSinkQuery.snap
  src/Core/Language.Tests/Utf8/__snapshots__/Utf8QueryParserTests.KitchenSinkQueryQuery.snap
  src/Core/Language.Tests/__snapshots__/ParseFacebookKitchenSinkQuery.json
  src/Core/Language/AST/VariableDefinitionNode.cs
  src/Core/Language/Parser/Parser.Operations.cs
  src/Core/Language/Utf8/Utf8GraphQLParser.Operations.cs
  src/Core/Language/Utf8/Utf8GraphQLParser.TypeDefinition.cs
  src/Core/Types.Tests/SchemaSerializerTests.cs
  src/Core/Types.Tests/Types/Descriptors/EnumTypeDescriptorTests.cs
  src/Core/Types.Tests/Types/EnumTypeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/EnumTypeTests.EnumValueT_ValueIsNull_SchemaException.snap
  src/Core/Types.Tests/Types/__snapshots__/EnumTypeTests.EnumValue_ValueIsNull_SchemaException.snap
  src/Core/Types.Tests/Types/__snapshots__/EnumTypeTests.Serialize_EnumValue_WithDirectives.snap
  src/Core/Types.Tests/Types/__snapshots__/EnumTypeTests.Serialize_EnumValue_WithDirectivesT.snap
  src/Core/Types.Tests/__snapshots__/SchemaSerializerTests.SerializeSchemaWriter_Serialize.snap
  src/Core/Types/SchemaSerializer.cs
  src/Core/Types/Types/Descriptors/Contracts/IEnumTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/Contracts/IEnumTypeDescriptor~1.cs
  src/Core/Types/Types/Descriptors/Contracts/IEnumValueDescriptor.cs
  src/Core/Types/Types/Descriptors/EnumTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/EnumTypeDescriptor~1.cs
  src/Core/Types/Types/Descriptors/EnumValueDescriptor.cs
  src/Core/Types/Types/EnumType.cs
  src/Core/Types/Types/EnumValue.cs
  src/Core/Types/Types/Factories/EnumTypeFactory.cs
  src/Stitching/Stitching/Delegation/RemoteQueryBuilder.cs
  src/Stitching/Stitching/Middleware/DelegateToRemoteSchemaMiddleware.cs
Labels: spec

#731 Relay Global Object Identification Enhancements
  src/Core/Types.Tests/Extensions/SchemaBuilderExtensions.Types.Tests.cs
  src/Core/Types.Tests/Types/Relay/NodeResolverTests.cs
  src/Core/Types.Tests/Types/Relay/__snapshots__/NodeResolverTests.NodeResolverObject_ResolveNode_DynamicField.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/NodeResolverTests.NodeResolver_ResolveNode_DynamicField.snap
  src/Core/Types/Extensions/SchemaBuilderExtensions.Types.cs
  src/Core/Types/Types/Descriptors/Contracts/IObjectTypeDescriptor~1.cs
  src/Core/Types/Types/Descriptors/DescriptorBase~1.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor~1.cs
  src/Core/Types/Types/Relay/Descriptors/INodeDescriptor.cs
  src/Core/Types/Types/Relay/Descriptors/INodeDescriptor~1.cs
  src/Core/Types/Types/Relay/Descriptors/INodeResolverDescriptor.cs
  src/Core/Types/Types/Relay/Descriptors/NodeDescriptor.cs
  src/Core/Types/Types/Relay/Descriptors/NodeDescriptor~1.cs
  src/Core/Types/Types/Relay/Descriptors/NodeResolverDescriptor.cs
  src/Core/Types/Types/Relay/Extensions/NodeObjectTypeExtensions.cs
  src/Core/Types/Types/Relay/NodeResolver~1.cs
Labels: enhancement

#734 updated readme examples
  README.md
Labels: documentation

#736 Added implements to object type
  src/Core/Types/Types/Descriptors/Contracts/IObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/Contracts/IObjectTypeDescriptor~1.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor~1.cs
Labels: refactoring

#737 Added support for dependency injection on type converters.
  src/Core/Types.Tests/Utilities/TypeConversionTests.cs
  src/Core/Types/Utilities/ServiceProviderExtensions.cs
  src/Core/Types/Utilities/TypeConversion.cs
  src/Core/Types/Utilities/TypeConversionExtensions.cs
  src/Core/Types/Utilities/TypeConverterRegistryExtensions.cs
Labels: enhancement

#739 Starwars schema builder
  src/Templates/Server/content/HotChocolate.Server.csproj
  src/Templates/Server/content/Startup.cs
  src/Templates/StarWars/content/StarWars/StarWars.csproj
  src/Templates/StarWars/content/StarWars/Startup.cs
Labels: documentation

#746 Visit ObjectValue nodes when validating unused variables
  CHANGELOG.md
  src/Core/Core/Validation/AllVariablesUsedVisitor.cs
  src/Core/Validation.Tests/AllVariablesUsedRuleTests.cs
Labels: bug

#751 Fixed Sonar Issues
  src/Core/Abstractions/AttributeExtensions.cs
  src/Core/Abstractions/Execution/QueryException.cs
  src/Core/Core/Execution/Middleware/MaxComplexityMiddleware.cs
  src/Core/Core/Execution/MutationExecutionStrategy.cs
  src/Core/Core/Execution/Utilities/FragmentCollection.cs
  src/Core/Core/Execution/Utilities/ObjectPool.cs
  src/Core/Core/Execution/Utilities/ObjectPools.cs
  src/Core/Core/Execution/Utilities/ResolverContext.Shared.cs
  src/Core/Core/Execution/Utilities/VariableValueBuilder.cs
  src/Core/Core/Validation/AllVariableUsagesAreAllowedVisitor.cs
  src/Core/Core/Validation/ArgumentNamesVisitor.cs
  src/Core/Core/Validation/ArgumentUniquenessVisitor.cs
  src/Core/Core/Validation/DirectivesAreInValidLocationsVisitor.cs
  src/Core/Core/Validation/FieldMustBeDefinedVisitor.cs
  src/Core/Core/Validation/FieldSelectionMergingVisitor.cs
  src/Core/Core/Validation/FragmentSpreadTargetDefinedVisitor.cs
  src/Core/Core/Validation/FragmentSpreadsMustNotFormCyclesVisitor.cs
  src/Core/Core/Validation/InputObjectFieldVisitorBase.cs
  src/Core/Core/Validation/InputObjectRequiredFieldsVisitor.cs
  src/Core/Core/Validation/LeafFieldSelectionsVisitor.cs
  src/Core/Core/Validation/LoneAnonymousOperationRule.cs
  src/Core/Core/Validation/MaxComplexityWithMultipliersVisitorContext.cs
  src/Core/Core/Validation/OperationNameUniquenessRule.cs
  src/Core/Core/Validation/QueryValidationResult.cs
  src/Core/Core/Validation/QueryValidator.cs
  src/Core/Core/Validation/RequiredArgumentVisitor.cs
  src/Core/Core/Validation/SubscriptionSingleRootFieldVisitor.cs
  src/Core/Core/Validation/ValuesOfCorrectTypeVisitor.cs
  src/Core/Language/Parser/Parser.Extensions.cs
  src/Core/Language/Parser/Parser.Operations.cs
  src/Core/Language/Utf8/Utf8GraphQLParser.Fragments.cs
  src/Core/Language/Utf8/Utf8GraphQLReader.cs
  src/Core/Language/Utf8/Utf8Parser.Values.cs
  src/Core/Language/Visitors/QuerySyntaxSerializer.cs
  src/Core/Language/Visitors/SchemaSyntaxSerializer.cs
  src/Core/Language/Visitors/SchemaSyntaxWalker.cs
  src/Core/Runtime/ServiceFactory.cs
  src/Core/Subscriptions.InMemory/InMemoryEventRegistry.cs
  src/Core/Subscriptions.InMemory/InMemoryEventStream.cs
  src/Core/Subscriptions/EventDescription.cs
  src/Core/Types/Configuration/BindingCompiler.cs
Labels: refactoring

#743 Schema builder auth extension
  examples/AspNetClassic.StarWars/Startup.cs
  examples/AspNetCore.StarWars/Startup.cs
  src/Server/AspNetCore.Authorization/AuthorizeSchemaBuilderExtensions.cs
  src/Server/AspNetCore.Authorization/AuthorizeSchemaConfigurationExtensions.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizationTestData.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizationTests.cs
Labels: refactoring

#762 Made diagnostic names public
  CHANGELOG.md
  src/Core/Core/Execution/Instrumentation/DiagnosticNames.cs
Labels: refactoring

#763 Added delegation path helper to the stitching layer.
  CHANGELOG.md
  src/Stitching/Stitching.Tests/Merge/MergeSyntaxNodeExtensionsTests.cs
  src/Stitching/Stitching.Tests/Merge/__snapshots__/MergeSyntaxNodeExtensionsTests.AddDelegationPath_MultipleComponents.snap
  src/Stitching/Stitching.Tests/Merge/__snapshots__/MergeSyntaxNodeExtensionsTests.AddDelegationPath_MultipleComponents_EmptyPath.snap
  src/Stitching/Stitching.Tests/Merge/__snapshots__/MergeSyntaxNodeExtensionsTests.AddDelegationPath_MultipleComponents_SingleComponent.snap
  src/Stitching/Stitching.Tests/Merge/__snapshots__/MergeSyntaxNodeExtensionsTests.AddDelegationPath_SingleComponent.snap
  src/Stitching/Stitching/Delegation/ScopedVariableNode.cs
  src/Stitching/Stitching/Delegation/SelectionPathComponent.cs
  src/Stitching/Stitching/Merge/Handlers/RootTypeMergeHandler.cs
  src/Stitching/Stitching/Merge/MergeSyntaxNodeExtensions.cs
Labels: enhancement

#765 Streamlined Ignore Field Extension
  src/Core/Types.Tests/Types/DirectiveTests.cs
  src/Core/Types.Tests/Types/DirectiveTypeTests.cs
  src/Core/Types.Tests/Types/InputObjectTypeTests.cs
  src/Core/Types.Tests/Types/InterfaceTypeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/DirectiveTypeTests.Ignore_Argument2_Property.snap
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Ignore_Id_Property.snap
  src/Core/Types.Tests/Types/__snapshots__/InterfaceTypeTests.Ignore_Bar_Property.snap
  src/Core/Types/Types/Descriptors/Extensions/DirectiveTypeDescriptorExtensions.cs
  src/Core/Types/Types/Descriptors/Extensions/InputObjectTypeDescriptorExtensions.cs
  src/Core/Types/Types/Descriptors/Extensions/InterfaceTypeDescriptorExtensions.cs
  src/Core/Types/Types/Descriptors/Extensions/ObjectTypeDescriptorExtensions.cs
Labels: enhancement

#767 Allow to bind clr types explicitly
  CHANGELOG.md
  src/Core/Types.Tests/Configuration/TypeRegistrarTests.cs
  src/Core/Types.Tests/SchemaBuilderTests.cs
  src/Core/Types.Tests/__snapshots__/SchemaBuilderTests.BindClrType_IntToString_IntFieldIsStringField.snap
  src/Core/Types/Configuration/TypeInitializer.cs
  src/Core/Types/Configuration/TypeRegistrar.cs
  src/Core/Types/Contracts/ISchemaBuilder.cs
  src/Core/Types/Extensions/SchemaBuilderExtensions.Types.cs
  src/Core/Types/SchemaBuilder.Create.cs
  src/Core/Types/SchemaBuilder.cs
Labels: enhancement

#774 NullRef Issue when type cannot be inferred from resolver
  src/Core/Types.Tests/Types/ObjectTypeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.Field_Is_Missing_Type_Throws_SchemaException.snap
  src/Core/Types/TypeErrorCodes.cs
  src/Core/Types/Types/ObjectType.cs
Labels: bug

#779 Changed Paging LongCount to Count
  src/Core/Types/Types/Relay/QueryableConnectionResolver.cs
Labels: refactoring

#781 Schema-First support with the schema builder
  CHANGELOG.md
  src/Core/Abstractions/DirectiveArgumentAttribute.cs
  src/Core/Abstractions/ResultAttribute.cs
  src/Core/Core.Tests/Execution/QueryDirectiveTests.cs
  src/Core/Core/Execution/MutationExecutionStrategy.cs
  src/Core/Core/Execution/Utilities/ObjectPool.txt
  src/Core/Core/Execution/Utilities/ObjectPools.txt
  src/Core/Core/Validation/QueryValidator.cs
  src/Core/Language/Utf8/StringHelper.cs
  src/Core/Language/Visitors/SchemaSyntaxSerializer.cs
  src/Core/Runtime/Cache.cs
  src/Core/Runtime/ServiceFactory.cs
  src/Core/Types.Tests/Extensions/SchemaBuilderExtensions.Bindings.Tests.1.cs
  src/Core/Types.Tests/SchemaFirstTests.cs
  src/Core/Types.Tests/__snapshots__/SchemaFirstTests.SchemaBuilder_BindType.snap
  src/Core/Types.Tests/__snapshots__/SchemaFirstTests.SchemaBuilder_BindType_And_Resolver.snap
  src/Core/Types.Tests/__snapshots__/SchemaFirstTests.SchemaBuilder_BindType_And_Resolver_Implicit.snap
  src/Core/Types.Tests/__snapshots__/SchemaFirstTests.SchemaBuilder_BindType_And_Resolver_NameBind.snap
  src/Core/Types.Tests/__snapshots__/SchemaFirstTests.SchemaBuilder_BindType_Configure.snap
  src/Core/Types/Configuration/BindingCompiler.cs
  src/Core/Types/Configuration/Bindings/Builder/ComplexTypeBindingBuilder.cs
  src/Core/Types/Configuration/Bindings/Builder/ResolverTypeBindingBuilder.cs
  src/Core/Types/Extensions/SchemaBuilderExtensions.Bindings.cs
  src/Core/Types/Resolvers/CodeGeneration/ArgumentHelper.cs
  src/Core/Types/Resolvers/CodeGeneration/ArgumentKind.cs
Labels: enhancement

#784 Reduce Memory Allocation
  src/Core/Core/Execution/ExecutionStrategyBase.cs
  src/Core/Core/Execution/MutationExecutionStrategy.cs
  src/Core/Core/Execution/Utilities/CompleteValueContext.cs
  src/Core/Core/Execution/Utilities/CompleteValueContextExtensions.cs
  src/Core/Core/Execution/Utilities/ValueCompletion.cs
  src/Core/Language/Utf8/Utf8GraphQLReader.cs
  src/Core/Types/Types.csproj
  src/Core/Types/Types/Relay/IdSerializer.cs
Labels: refactoring

#785 Refined how we are inferring the name from non-generic schema types.
  src/Core/Types.Tests/Types/Descriptors/EnumTypeDescriptorTests.cs
  src/Core/Types/Types/Descriptors/DirectiveTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/DirectiveTypeDescriptor~1.cs
  src/Core/Types/Types/Descriptors/EnumTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/EnumTypeDescriptor~1.cs
  src/Core/Types/Types/Descriptors/InputObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/InputObjectTypeDescriptor~1.cs
  src/Core/Types/Types/Descriptors/InterfaceTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/InterfaceTypeDescriptor~1.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/UnionTypeDescriptor.cs
  src/Core/Types/Types/DirectiveType.cs
  src/Core/Types/Types/EnumType.cs
  src/Core/Types/Types/InputObjectType.cs
  src/Core/Types/Types/InterfaceType.cs
  src/Core/Types/Types/ObjectType.cs
  src/Core/Types/Types/UnionType.cs
Labels: refactoring

#786 Fixed: Delegations added with a custom ITypeRewriter were ignored.
  src/Core/Types.Tests/SchemaFirstTests.cs
  src/Core/Types.Tests/Types/InputObjectTypeTests.cs
  src/Core/Types.Tests/Types/InterfaceTypeExtensionTests.cs
  src/Core/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeTests.ParseValue_ValueIsNull.snap
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeTests.ParseValue_ValueIsSimpleInput.snap
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Serialize_ValueIsDictionary.snap
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Serialize_ValueIsSimpleInput.snap
  src/Core/Types/TypeErrorCodes.cs
  src/Core/Types/Types/Contracts/INamedInputType.cs
  src/Core/Types/Types/DirectiveCollection.cs
  src/Core/Types/Types/Helpers/FieldInitHelper.cs
  src/Core/Types/Types/InputObjectType.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizationTests.cs
  src/Server/AspNetCore.Tests/Helpers/TestServerFactory.cs
  src/Stitching/Stitching.Tests/Merge/MergeSyntaxNodeExtensionsTests.cs
  src/Stitching/Stitching.Tests/Merge/__snapshots__/MergeSyntaxNodeExtensionsTests.AddDelegationPath_Overwrite.snap
  src/Stitching/Stitching.Tests/Merge/__snapshots__/MergeSyntaxNodeExtensionsTests.AddDelegationPath_SingleComponent_TwoArgs.snap
  src/Stitching/Stitching.Tests/Middleware/InputObjectDelegationTests.cs
  src/Stitching/Stitching.Tests/Middleware/StitchingTestBase.cs
  src/Stitching/Stitching.Tests/Middleware/TypeRewriterTests.cs
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/InputObjectDelegationTests.AllowInputObjectTypesAsArguments_result.snap
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/InputObjectDelegationTests.AllowInputObjectTypesAsArguments_schema.snap
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/TypeRewriterTests.CustomRewriterTakesPriority_result.snap
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/TypeRewriterTests.CustomRewriterTakesPriority_schema.snap
  src/Stitching/Stitching/Delegation/ScopedVariableNode.cs
  src/Stitching/Stitching/Merge/Handlers/RootTypeMergeHandler.cs
  src/Stitching/Stitching/Merge/MergeSyntaxNodeExtensions.cs
  src/Stitching/Stitching/Middleware/DelegateToRemoteSchemaMiddleware.cs
  src/Stitching/Stitching/StitchingBuilder.Factory.cs
Labels: bug

#792 Added temporary directive stitching fix.
  CHANGELOG.md
  src/Core/Language/Visitors/SchemaSyntaxRewriter.cs
  src/Core/Language/Visitors/SyntaxRewriter.cs
  src/Stitching/Stitching.Tests/Middleware/TypeSystemDirectivesTests.cs
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/TypeSystemDirectivesTests.SourceSchemaHasTypeSystemDirectives_result.snap
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/TypeSystemDirectivesTests.SourceSchemaHasTypeSystemDirectives_schema.snap
  src/Stitching/Stitching/Directives/DirectiveNames.cs
  src/Stitching/Stitching/Extensions/StitchingBuilderExtensions.cs
  src/Stitching/Stitching/Merge/Handlers/EnumTypeMergeHandler.cs
  src/Stitching/Stitching/Merge/Handlers/RootTypeMergeHandler.cs
  src/Stitching/Stitching/Merge/Handlers/ScalarTypeMergeHandler.cs
  src/Stitching/Stitching/Merge/Handlers/TypeMergeHanlderBase.cs
  src/Stitching/Stitching/Merge/Handlers/UnionTypeMergeHandler.cs
  src/Stitching/Stitching/Merge/ITypeMergeHandler.cs
  src/Stitching/Stitching/Merge/RemoveDirectivesRewriter.cs
  src/Stitching/Stitching/Merge/SchemaMergerExtensions.cs
  src/Stitching/Stitching/StitchingBuilder.Factory.cs
Labels: bug

#788 Skipped Tests
  src/Core/Types.Tests/Configuration/ResolverDiscoveryTests.cs
  src/Core/Types.Tests/Configuration/SchemaTypeDiscoveryTests.cs
  src/Core/Types.Tests/Configuration/__snapshots__/ResolverDiscoveryTests.DiscoverQueryResolversByClrType.snap
  src/Core/Types.Tests/Configuration/__snapshots__/ResolverDiscoveryTests.DiscoverQueryResolversByName.snap
  src/Core/Types.Tests/Configuration/__snapshots__/ResolverDiscoveryTests.DiscoverQueryResolversByObjectType.snap
  src/Core/Types.Tests/SchemaBuilderTests.cs
  src/Core/Types.Tests/__snapshots__/SchemaBuilderTests.AddType_TypeIsResolverTypeByType_QueryContainsBazField.snap
  src/Core/Types/Configuration/TypeInitializer.cs
  src/Core/Types/Configuration/TypeRegistrar.cs
  src/Core/Types/Types/Helpers/TypeDependencyHelper.cs
  src/Core/Types/Types/ObjectField.cs
  src/Core/Types/Utilities/DotNetTypeInfoFactory.cs
  src/Core/Types/Utilities/NamedTypeInfoFactory.cs
  src/Core/Types/Utilities/TypeInfo.cs
Labels: refactoring

#794 Fixes a bug that causes an ArgumentExceptions when roles are used to authorize.
  src/Server/AspNetCore.Authorization/AuthErrorCodes.cs
  src/Server/AspNetCore.Authorization/AuthorizeDirective.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizeDirectiveTests.cs
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizationTests.Policy_NotFound.snap
Labels: bug

#795 Fixed a syntax exception in the UTF-8 parser when the document has a byte order mark.
  src/Core/Language.Tests/Utf8/Utf8ReaderTests.cs
  src/Core/Language/Utf8/Utf8GraphQLReader.cs
Labels: bug

#796 Added option to disable subscription ws protocol for playground and graphiql
  examples/AspNetCore.StarWars/Startup.cs
  src/Server/AspNetCore.GraphiQL/GraphiQLOptions.cs
  src/Server/AspNetCore.GraphiQL/Resources/index.html
  src/Server/AspNetCore.GraphiQL/Resources/settings.js
  src/Server/AspNetCore.GraphiQL/SettingsMiddleware.cs
  src/Server/AspNetCore.Playground/PlaygroundOptions.cs
  src/Server/AspNetCore.Playground/SettingsMiddleware.cs
Labels: enhancement

#799 Fixed UTF-8 parser issue when argument string value is empty.
  src/Core/Language.Tests/Utf8/Utf8BlockStringTokenReaderTests.cs
  src/Core/Language.Tests/Utf8/Utf8CommentTokenReaderTests.cs
  src/Core/Language.Tests/Utf8/Utf8QueryParserTests.cs
  src/Core/Language.Tests/Utf8/__snapshots__/Utf8BlockStringTokenReaderTests.InvalidDigit.snap
  src/Core/Language.Tests/Utf8/__snapshots__/Utf8BlockStringTokenReaderTests.NoDigitAfterZeroException.snap
  src/Core/Language.Tests/Utf8/__snapshots__/Utf8BlockStringTokenReaderTests.UnexpectedSyntaxException.snap
  src/Core/Language/Utf8/Utf8GraphQLReader.cs
Labels: bug

#802 Resolves null reference exception in Path.Equals
  src/Core/Abstractions.Tests/PathTests.cs
  src/Core/Abstractions/Path.cs
Labels: bug
