Repository ChilliCream/graphql-platform, pull requests merged in 2019-09, with the labels that each got.

#1059 Fixed InvalidOperationException when resultType is not a generic type
  src/Core/Types.Tests/Types/ObjectTypeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.Declare_Resolver_With_Result_Type_Is_Null.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.Declare_Resolver_With_Result_Type_ListTypeOfIntType.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.Declare_Resolver_With_Result_Type_NativeTypeListOfInt.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.Declare_Resolver_With_Result_Type_Override_ListTypeOfIntType.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.Declare_Resolver_With_Result_Type_String.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.Declare_Resolver_With_Result_Type_Weak_Override_ListTypeOfIntType.snap
  src/Core/Types/Types/Descriptors/ObjectFieldDescriptor.cs
Labels: bug

#1063 Distinguish between HTTP and remote schema errors
  src/Core/Abstractions/Abstractions.csproj
  src/Core/Abstractions/ErrorBuilderExtensions.cs
  src/Core/Abstractions/ErrorCodes.cs
  src/Core/Core/Core.csproj
  src/Core/Core/Properties/ValidationResources.Designer.cs
  src/Core/Core/Properties/ValidationResources.resx
  src/Core/Core/Validation/FragmentSpreadTypeExistenceRule.cs
  src/Core/Core/Validation/FragmentSpreadTypeExistenceVisitor.cs
  src/Core/Core/Validation/QueryVisitorErrorBase.cs
  src/Core/Language/Visitors/VisitorExtensions.cs
  src/Core/Validation.Tests/FragmentSpreadTypeExistenceRuleTests.cs
  src/Core/Validation.Tests/QueryValidatorTests.cs
  src/DataLoader/README.md
  src/Stitching/Stitching/Delegation/RemoteQueryMiddleware.cs
  src/Stitching/Stitching/ErrorCodes.cs
  src/Stitching/Stitching/Extensions/StitchingQueryExecutionBuilderExtensions.cs
  src/Stitching/Stitching/Middleware/DelegateToRemoteSchemaMiddleware.cs
Labels: enhancement

#1066 Fixed Scoped Service Handling
  .circleci/config.yml
  global.json
  src/Core/Core/Execution/QueryExecutionBuilder.cs
  src/Core/Core/Execution/QueryExecutor.cs
  src/Server/AspNetCore.HttpPost/HttpPostMiddleware.cs
  src/Server/AspNetCore.Tests/PostMiddlewareTests.cs
  src/Server/AspNetCore.Tests/__snapshots__/PostMiddlewareTests.HttpPost_Ensure_Scoped_Services_Work.snap
Labels: bug

#1055 Added Any Type
  src/Core/Core/Execution/Utilities/ResolverContext.CoerceArgumentValue.cs
  src/Core/Language/AST/FloatValueNode.cs
  src/Core/Language/AST/IntValueNode.cs
  src/Core/Types.Tests/Types/Scalars/AnyTypeTests.cs
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Object.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Object_List.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Object_List_As_Variable.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_Boolean.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_Boolean_As_Variable.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_Float.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_Float_As_Variable.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_Int.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_Int_As_Variable.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_List.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_List_As_Variable.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_Null.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_Null_As_Variable.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_Object_To_Foo.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_String.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Input_Value_String_As_Variable.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Output_Return_Boolean.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Output_Return_DateTime.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Output_Return_Float.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Output_Return_Int.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Output_Return_List.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Output_Return_Object.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.Output_Return_String.snap
  src/Core/Types/Types/Scalars/AnyType.cs
  src/Core/Types/Utilities/ObjectToDictionaryConverter.cs
  src/Core/Types/Utilities/ObjectValueToDictionaryConverter.cs
  src/Core/Types/Utilities/TypeConversion.Setup.cs
Labels: Hot Chocolate Core, enhancement

#622 Multipart request specification support
  src/Core/Core.Tests/Execution/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery.snap
  src/Core/Types/Extensions/SchemaConfigurationExtensions.cs
  src/Core/Types/Properties/TypeResources.resx
  src/Core/Types/Types/Scalars/Scalars.cs
  src/Core/Types/Types/Scalars/UploadType.cs
  src/Core/Types/Types/Upload.cs
  src/Core/Utilities/MultipartRequestHelper.cs
  src/Server/AspNetClassic.Tests/Helpers/ClientQueryRequest.cs
  src/Server/AspNetClassic.Tests/Helpers/ClientQueryRequestFile.cs
  src/Server/AspNetClassic.Tests/Helpers/TestServerExtensions.cs
  src/Server/AspNetClassic.Tests/QueryMiddlewareTests.cs
  src/Server/AspNetClassic.Tests/Schema/Query.cs
  src/Server/AspNetClassic.Tests/Schema/QueryType.cs
  src/Server/AspNetClassic/AspNetClassic.csproj
  src/Server/AspNetCore.Tests.Utilities/ClientQueryRequestFile.cs
  src/Server/AspNetCore.Tests.Utilities/TestServerExtensions.cs
  src/Server/AspNetCore.Tests/Helpers/ClientQueryRequest.cs
  src/Server/AspNetCore.Tests/QueryMiddlewareTests.cs
  src/Server/AspNetCore.Tests/Schema/Query.cs
  src/Server/AspNetCore.Tests/Schema/QueryType.cs
  src/Server/AspNetCore.Tests/__snapshots__/QueryMiddlewareTests.HttpPost_UploadTest.snap
  src/Server/AspNetCore/ApplicationBuilderExtensions.cs
  src/Server/AspNetCore/ContentType.cs
  src/Server/AspNetCore/MultipartQueryMiddleware.cs
Labels: enhancement

#1080 Made filter operation fields public and introduced interfaces.
  src/Core/Types.Filters/Fields/AndField.cs
  src/Core/Types.Filters/Fields/IAndField.cs
  src/Core/Types.Filters/Fields/IFilterOperationField.cs
  src/Core/Types.Filters/Fields/IOrField.cs
  src/Core/Types.Filters/Fields/OperationField.cs
  src/Core/Types.Filters/Fields/OrField.cs
Labels: enhancement

#1081 Introduced non-generic type descriptor method `descriptor.Type(System.Type)`.
  src/Core/Types.Tests/Types/Descriptors/ArgumentDescriptorTests.cs
  src/Core/Types.Tests/Types/Descriptors/DirectiveDescriptorTests.cs
  src/Core/Types.Tests/Types/Descriptors/InputFieldDescriptorTests.cs
  src/Core/Types.Tests/Types/Descriptors/ObjectFieldDescriptorTests.cs
  src/Core/Types/Types/Descriptors/ArgumentDescriptor.cs
  src/Core/Types/Types/Descriptors/ArgumentDescriptorBase~1.cs
  src/Core/Types/Types/Descriptors/Contracts/IArgumentDescriptor.cs
  src/Core/Types/Types/Descriptors/Contracts/IDirectiveArgumentDescriptor.cs
  src/Core/Types/Types/Descriptors/Contracts/IInputFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/Contracts/IInterfaceFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/Contracts/IObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/DirectiveArgumentDescriptor.cs
  src/Core/Types/Types/Descriptors/InputFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/InterfaceFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/OutputFieldDescriptorBase.cs
Labels: enhancement

#1085 Schema Authorization Part 1
  src/Core/Abstractions/Execution/QueryException.cs
  src/Core/Abstractions/QueryException.cs
  src/Core/Abstractions/WellKnownContextData.cs
  src/Core/Abstractions/WellKnownDirectives.cs
  src/Core/Core/Execution/Batching/BatchQueryExecutionResult.cs
  src/Core/Core/Execution/ExecutionStrategyBase.Resolver.cs
  src/Core/Core/Execution/Middleware/ExceptionMiddleware.cs
  src/Core/Core/Execution/Utilities/CompleteValueContext.cs
  src/Core/Core/Execution/Utilities/DirectiveContext.cs
  src/Core/Core/Execution/Utilities/ICompleteValueContext.cs
  src/Core/Core/Execution/Utilities/ResolverContext.Shared.cs
  src/Core/Core/Execution/Utilities/ResolverContext.cs
  src/Core/Core/Execution/Utilities/ValueCompletion.cs
  src/Core/Language/mono_crash.780ae7a6c.0.json
  src/Core/Language/mono_crash.mem.13097.1.blob
  src/Core/Types.Tests/Configuration/TypeInitializerTests.cs
  src/Core/Types.Tests/Configuration/TypeRegistrarTests.cs
  src/Core/Types.Tests/SchemaBuilderTests.cs
  src/Core/Types.Tests/Types/Relay/NodeFieldSupportTests.cs
  src/Core/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.NodeId_Is_Correctly_Formatted.snap
  src/Core/Types.Tests/__snapshots__/SchemaBuilderTests.SetSchema_ConfigureInline_DescriptionIsSet.snap
  src/Core/Types/Configuration/AggregateTypeInitilizationInterceptor.cs
  src/Core/Types/Configuration/CompletionContext.cs
  src/Core/Types/Configuration/Contracts/ITypeInitilizationInterceptor.cs
  src/Core/Types/Configuration/Contracts/ITypeSystemObjectContext.cs
  src/Core/Types/Configuration/InitializationContext.cs
  src/Core/Types/Configuration/TypeInitializationInterceptor.cs
  src/Core/Types/Configuration/TypeInitializer.cs
  src/Core/Types/Configuration/TypeRegistrar.cs
  src/Core/Types/Contracts/ISchemaBuilder.cs
  src/Core/Types/Extensions/SchemaBuilderExtensions.Interceptors.cs
  src/Core/Types/Properties/TypeResources.Designer.cs
  src/Core/Types/Properties/TypeResources.resx
  src/Core/Types/Resolvers/IResolverContext.cs
  src/Core/Types/Schema.Initialization.cs
  src/Core/Types/SchemaBuilder.Create.cs
  src/Core/Types/SchemaBuilder.cs
  src/Core/Types/Types/DirectiveCollection.cs
  src/Core/Types/Types/FieldCollection.cs
  src/Core/Types/Types/NamedTypeBase.cs
  src/Core/Types/Types/ObjectType.cs
  src/Core/Types/Types/Relay/IIdSerializer.cs
  src/Core/Types/Types/Relay/IdSerializationException.cs
  src/Core/Types/Types/Relay/IdSerializer.cs
  src/Core/Types/Types/Relay/NodeField.cs
  src/Core/Types/Types/Scalars/ScalarType.cs
  src/Core/Types/Types/TypeSystemObjectBase~1.cs
  src/Server/AspNetCore.Authorization/AuthorizeDirectiveType.cs
  src/Server/AspNetCore.Authorization/AuthorizeSchemaTypeDescriptorExtensions.cs
  src/Server/AspNetCore.Tests/AspNetCore.Tests.csproj
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicyAndRoles.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithRoles.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_DefaultPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithPolicyAndRoles.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithRoles.snap
Labels: enhancement

#1089 Update Slack link
  README.md
Labels: documentation

#1090 Client Tooling Improvements
  src/Client/.vscode/launch.json
  src/Client/Core/Core.csproj
  src/Client/Core/StrawberryShake.targets
  src/Client/Demo.Tests/StarWarsClientTests.cs
  src/Client/Demo/GraphQL/Generated/Episode.cs
  src/Client/Demo/GraphQL/Generated/EpisodeValueSerializer.cs
  src/Client/Demo/GraphQL/Generated/Friend.cs
  src/Client/Demo/GraphQL/Generated/GetHero.cs
  src/Client/Demo/GraphQL/Generated/GetHeroOperation.cs
  src/Client/Demo/GraphQL/Generated/GetHeroResultParser.cs
  src/Client/Demo/GraphQL/Generated/HasName.cs
  src/Client/Demo/GraphQL/Generated/Hero.cs
  src/Client/Demo/GraphQL/Generated/IFriend.cs
  src/Client/Demo/GraphQL/Generated/IGetHero.cs
  src/Client/Demo/GraphQL/Generated/IHasFriends.cs
  src/Client/Demo/GraphQL/Generated/IHasName.cs
  src/Client/Demo/GraphQL/Generated/IHero.cs
  src/Client/Demo/GraphQL/Generated/IStarWarsClient.cs
  src/Client/Demo/GraphQL/Generated/Queries.cs
  src/Client/Demo/GraphQL/Generated/StarWarsClient.cs
  src/Client/Demo/GraphQL/Generated/StarWarsClientServiceCollectionExtensions.cs
  src/Client/Generators/CSharp/ClientClassGenerator.cs
  src/Client/Generators/CSharp/EnumValueSerializerGenerator.cs
  src/Client/Generators/CSharp/OperationGenerator.cs
  src/Client/Generators/CSharp/ResultParserMethodGenerator.cs
  src/Client/Generators/ClientGenerator.cs
  src/Client/Generators/CodeGenerator~1.cs
  src/Client/StrawberryShake.sln
  src/Client/dotnet-graphql/CompileCommandBase.cs
  src/Client/dotnet-graphql/Configuration.cs
  src/Client/dotnet-graphql/GenerateCommand.cs
  src/Client/dotnet-graphql/InitCommand.cs
  src/Client/dotnet-graphql/StrawberryShake.Tools.targets
  src/Client/dotnet-graphql/UpdateCommand.cs
  src/Client/dotnet-graphql/WellKnownFiles.cs
  src/Client/dotnet-graphql/dotnet-graphql.csproj
  tools/Build.Core.sln
  tools/Build.sln
Labels: Strawberry Shake, enhancement

#1093 Fixed Client NonNull Generator Issue
  src/Client/Demo/GraphQL/Generated/GetHeroResultParser.cs
  src/Client/Generators.Tests/ClientGeneratorTests.cs
  src/Client/Generators.Tests/CodeModelGeneratorTests.txt
  src/Client/Generators.Tests/ModelGeneratorTestBase.cs
  src/Client/Generators.Tests/ObjectModelGeneratorTests.cs
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.NonNull_Object_List.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.NonNull_Scalar_List.snap
  src/Client/Generators.Tests/__snapshots__/CodeModelGeneratorTests.Generate_Models_Multiple_Fragments_Query.graphql.snap
  src/Client/Generators.Tests/__snapshots__/CodeModelGeneratorTests.Generate_Models_Simple_Query.graphql.snap
  src/Client/Generators.Tests/__snapshots__/ObjectModelGeneratorTests.Object_List_With_Fragment.snap
  src/Client/Generators/CSharp/EnumGenerator.cs
  src/Client/Generators/CSharp/EnumValueSerializerGenerator.cs
  src/Client/Generators/CSharp/InputClassGenerator.cs
  src/Client/Generators/CSharp/InputClassSerializerGenerator.cs
  src/Client/Generators/CSharp/ResultParserMethodGenerator.cs
  src/Client/Generators/CSharp/ServicesGenerator.cs
  src/Client/Generators/CodeModelGenerator.cs
  tools/TestSettings.props
Labels: bug

#929 Object filter types
  src/Core/Types.Filters.Mongo.Tests/MongoFilterTests.cs
  src/Core/Types.Filters.Mongo.Tests/__snapshots__/MongoFilterTests.GetItems_ObjectEqualsFilter_FirstItems_Is_Returned.snap
  src/Core/Types.Filters.Tests/ObjectFilterInputTypeTests.cs
  src/Core/Types.Filters.Tests/QueryableFilterVisitorObjectTests.cs
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Bind_Filter_Implicitly.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Create_Filter_Declare_Operators_Explicitly.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Create_ObjectFilter_BindExplicitly.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Create_ObjectFilter_Discover_Everything.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Create_ObjectFilter_FooExplicitBarExplicit.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Create_ObjectFilter_FooExplicitBarExplicitByGeneric.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Create_ObjectFilter_FooExplicitBarImplicit.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Create_ObjectFilter_FooImplicitBarExplicit.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Create_ObjectFilter_FooImplicitBarImplicit.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Declare_Description_Explicitly.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Declare_Directive_By_Name.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Declare_Directive_By_Name_With_Argument.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Declare_Directive_With_Clr_Instance.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Declare_Directive_With_Clr_Type.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Declare_Name_Explicitly.snap
  src/Core/Types.Filters/Extensions/FilterObjectFieldDescriptorExtensions.cs
  src/Core/Types.Filters/FilterFieldDescriptorBase.cs
  src/Core/Types.Filters/FilterInputTypeDescriptor.cs
  src/Core/Types.Filters/FilterOperationKind.cs
  src/Core/Types.Filters/IFilterInputTypeDescriptor.cs
  src/Core/Types.Filters/Object/IObjectFilterFieldsDescriptor.cs
  src/Core/Types.Filters/Object/IObjectFilterFieldsDescriptor~1.cs
  src/Core/Types.Filters/Object/IObjectFilterOperationDescriptor.cs
  src/Core/Types.Filters/Object/IObjectFilterOperationDescriptor~1.cs
  src/Core/Types.Filters/Object/ObjectFilterFieldDescriptor.cs
  src/Core/Types.Filters/Object/ObjectFilterFieldDescriptor~1.cs
  src/Core/Types.Filters/Object/ObjectFilterOperationDescriptor.cs
  src/Core/Types.Filters/Object/ObjectFilterOperationDescriptor~1.cs
  src/Core/Types.Filters/Properties/FilterResources.Designer.cs
  src/Core/Types.Filters/Properties/FilterResources.resx
  src/Core/Types.Filters/QueryableFilterVisitor.cs
  src/Core/Types.Filters/Types.Filters.csproj
  src/Core/Types/Types/Descriptors/ArgumentDescriptorBase~1.cs
Labels: enhancement

#1094 Client Type Directives
  src/Client/Abstractions/SerializerNotFoundException.cs
  src/Client/Generators.Tests/ClientGeneratorTests.cs
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_Type.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_Type_Set_Value_Name.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Return_Type_Renamed.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Single_Nullable_Scalar_Argument.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Alias_Fields.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Nullable_Scalar_Arguments.snap
  src/Client/Generators/CSharp/TypeLookup.cs
  src/Client/Generators/ClientGenerator.cs
  src/Client/Generators/SelectionSetModelGenerator.cs
  src/Client/Generators/Types/NameDirective.cs
  src/Client/Generators/Types/NameDirectiveType.cs
  src/Client/Generators/Types/SerializationDirective.cs
  src/Client/Generators/Types/SerializationDirectiveType.cs
  src/Client/Generators/Types/TypeDirective.cs
  src/Client/Generators/Types/TypeDirectiveType.cs
Labels: enhancement
