Repository ChilliCream/graphql-platform, pull requests merged in 2019-02, with the labels that each got.

#574 Fixed: Resolver NullReferenceExceptions
  src/Core/Core.Tests/Integration/DataLoader/DataLoaderTests.cs
  src/Core/Types/Configuration/ResolverRegistry.cs
  src/Core/Types/DataLoader/DataLoaderRegistryExtensions.cs
  src/Core/Types/DataLoader/DataLoaderResolverContextExtensions.cs
  src/Core/Types/DataLoader/FetchDataLoader.cs
  src/Core/Types/DataLoader/FetchGroupedDataLoader.cs
  src/Core/Types/DataLoader/FetchSingleDataLoader.cs
  src/Core/Types/DataLoader/IDataLoaderRegistry.cs
  src/Stitching/Stitching/Extensions/StitchingServiceCollectionExtensions.cs
Labels: bug

#577 Sonar Quality Gate
  src/Core/Abstractions.Tests/ErrorBuilderTests.cs
  src/Core/Abstractions.Tests/ErrorTests.cs
  src/Core/Abstractions/ErrorBuilder.cs
  src/Core/Abstractions/IErrorBuilder.cs
  src/Core/Core.Tests/Execution/Middleware/QueryExecutionBuilderExtensionsTests.cs
  src/Core/Core/Execution/Middleware/QueryExecutionBuilderExtensions.cs
  src/Core/Core/LegacyDataLoaderConfigurationExtensions.cs
  src/Core/Types.Tests/DataLoader/DataLoaderResolverContextExtensions.cs
  src/Core/Types.Tests/Types/Descriptors/ArgumentDescriptorTests.cs
  src/Core/Types.Tests/Types/Descriptors/InputFieldDescriptorTests.cs
  src/Core/Types.Tests/Types/Descriptors/ResolverObjectFieldDescriptorExtensionsTests.cs
  src/Core/Types.Tests/Types/ListTypeTests.cs
  src/Core/Types/Configuration/ICustomContextConfiguration.cs
  src/Core/Types/Configuration/IDataLoaderConfiguration.cs
  src/Core/Types/Configuration/SchemaConfiguration.CustomContext.cs
  src/Core/Types/Configuration/SchemaConfiguration.DataLoader.cs
  src/Core/Types/DataLoader/DataLoaderRegistryExtensions.cs
  src/Core/Types/DataLoader/DataLoaderResolverContextExtensions.cs
  src/Core/Types/DataLoader/FetchGroupedDataLoader.cs
  src/Core/Types/DataLoader/IDataLoaderRegistry.cs
  src/Core/Utilities.Tests/ActivatorHelperTests.cs
  src/Core/Utilities/ActivatorHelper.cs
  src/Server/AspNetCore.Tests/ServiceCollectionExtensionsTests.cs
  src/Server/AspNetCore/ServiceCollectionExtensions.cs
  src/Stitching/Stitching.Tests/DelegateToRemoteSchemaMiddlewareTests.cs
  src/Stitching/Stitching.Tests/StitchingContextBuilderTests.cs
Labels: refactoring

#591 Fixed: options on stitched schema are now passed
  src/Stitching/Stitching/Extensions/StitchingServiceCollectionExtensions.cs
Labels: bug

#582 update ui playground middleware to latest 1.7.19 from 1.7.10
  src/Server/AspNetCore.Playground/Resources/index.html
  src/Server/AspNetCore.Playground/Resources/middleware.js
Labels: enhancement

#581 add voyager ui middleware
  src/Server/AspNetClassic.Voyager/AspNetClassic.Voyager.csproj
  src/Server/AspNetCore.Voyager/AspNetCore.Voyager.csproj
  src/Server/AspNetCore.Voyager/HttpContextExtensions.cs
  src/Server/AspNetCore.Voyager/Resources/es6-promise.auto.min.js
  src/Server/AspNetCore.Voyager/Resources/fetch.min.js
  src/Server/AspNetCore.Voyager/Resources/index.html
  src/Server/AspNetCore.Voyager/Resources/react-dom.production.min.js
  src/Server/AspNetCore.Voyager/Resources/react.production.min.js
  src/Server/AspNetCore.Voyager/Resources/voyager.css
  src/Server/AspNetCore.Voyager/Resources/voyager.min.js
  src/Server/AspNetCore.Voyager/Resources/voyager.worker.js
  src/Server/AspNetCore.Voyager/SettingsMiddleware.cs
  src/Server/AspNetCore.Voyager/VoyagerApplicationBuilderExtensions.cs
  src/Server/AspNetCore.Voyager/VoyagerOptions.cs
  src/Server/Server.sln
Labels: enhancement
