Repository ChilliCream/graphql-platform, pull requests merged in 2019-12, with the labels that each got.

#1240 Fixed Nullable Detection
  src/Core/Types/Utilities/NullableHelper.cs
Labels: bug

#1241 Fix method nullable detection
  src/Core/Types.Tests/CodeFirstTests.cs
  src/Core/Types.Tests/__snapshots__/CodeFirstTests.InferSchemaWithNonNullRefTypes.snap
  src/Core/Types/Utilities/ExtendedTypeRewriter.cs
  src/Core/Types/Utilities/NullableHelper.cs
Labels: bug

#1243 fix(Sorting): fix global explicit binding
  src/Core/Types.Sorting.Tests/SortInputTypeTests.cs
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Global_Explicit_Sorting.snap
  src/Core/Types.Sorting/SortOperationKindType.cs
Labels: bug

#1248 Stops adding the __typename field when it's in selection
  src/Stitching/Stitching.Tests/Utilities/ExtractFieldQuerySyntaxRewriterTests.cs
  src/Stitching/Stitching.Tests/Utilities/__snapshots__/ExtractFieldQuerySyntaxRewriterTests.ExtractField_Stitching.graphql_StitchingQueryWithTypename.graphql.snap
  src/Stitching/Stitching.Tests/__resources__/StitchingQueryWithTypename.graphql
  src/Stitching/Stitching/Utilities/ExtractFieldQuerySyntaxRewriter.cs
Labels: enhancement

#1246 Updated Tests Tools
  src/Server/AspNetCore.HttpGetSchema/HttpGetSchemaMiddleware.cs
  tools/TestSettings.props
Labels: build

#1253 feat(Sorting): enable pre sorting in resolver
  src/Core/Types.Sorting.Tests/QueryableSortVisitorTests.cs
  src/Core/Types.Sorting.Tests/__snapshots__/QueryableSortVisitorTests.Sort_ComparableAsc_PrefilterInResolver.snap
  src/Core/Types.Sorting/QueryableSortVisitor.cs
Labels: Sort, enhancement

#1252 fix(Sort): fix multiple sort
  src/Core/Types.Sorting.Tests/QueryableSortVisitorTests.cs
  src/Core/Types.Sorting/QueryableSortVisitor.cs
Labels: Sort, bug

#1215 Feat add filter conventions
  src/Core/Types.Filters.Mongo.Tests/MongoFilterTests.cs
  src/Core/Types.Filters.Tests/BooleanFilterInputTypeTests.cs
  src/Core/Types.Filters.Tests/ComparableFilterInputTypeTests.cs
  src/Core/Types.Filters.Tests/FilterInputTypeTest.cs
  src/Core/Types.Filters.Tests/FilterNamingConventionTests.cs
  src/Core/Types.Filters.Tests/QueryableFilterVisitorStringTests.cs
  src/Core/Types.Filters.Tests/__snapshots__/FilterNamingConventionTests.Convention_Custom.snap
  src/Core/Types.Filters/Conventions/Naming/FilterNamingConventionBase.cs
  src/Core/Types.Filters/Conventions/Naming/FilterNamingConventionPascalCase.cs
  src/Core/Types.Filters/Conventions/Naming/FilterNamingConventionSnakeCase.cs
  src/Core/Types.Filters/Conventions/Naming/IFilterNamingConvention.cs
  src/Core/Types.Filters/Expressions/FieldHandlers/ArrayFieldHandler.cs
  src/Core/Types.Filters/Expressions/FieldHandlers/ObjectFieldHandler.cs
  src/Core/Types.Filters/Expressions/FilterExpressionBuilder.cs
  src/Core/Types.Filters/Extensions/FilterNamingConventionExtensions.cs
  src/Core/Types.Filters/Extensions/FilterObjectFieldDescriptorExtensions.cs
  src/Core/Types.Filters/FilterFieldDescriptorBase.cs
  src/Core/Types.Filters/FilterInputTypeDescriptor.cs
  src/Core/Types.Filters/FilterMiddlewareContext.cs
  src/Core/Types.Filters/QueryableFilterMiddleware.cs
  src/Core/Types.Sorting.Tests/SortInputObjectTypeTests.cs
  src/Core/Types.Sorting.Tests/SortNamingConventionTests.cs
  src/Core/Types.Sorting.Tests/__snapshots__/SortingNamingConventionTests.Convention_Custom.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortingNamingConventionTests.Convention_PascalCase.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortingNamingConventionTests.Convention_SnakeCase.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortingNamingConventionTests.Default_Convention.snap
  src/Core/Types.Sorting/Conventions/Naming/ISortingNamingConvention.cs
  src/Core/Types.Sorting/Conventions/Naming/SortingNamingConventionBase.cs
  src/Core/Types.Sorting/Conventions/Naming/SortingNamingConventionPascalCase.cs
  src/Core/Types.Sorting/Conventions/Naming/SortingNamingConventionSnakeCase.cs
  src/Core/Types.Sorting/Extensions/SortObjectFieldDescriptorExtensions.cs
  src/Core/Types.Sorting/Extensions/SortingNamingConventionExtension.cs
  src/Core/Types.Sorting/QueryableSortMiddleware.cs
  src/Core/Types.Sorting/SortInputTypeDescriptor.cs
  src/Core/Types.Sorting/SortMiddlewareContext.cs
  src/Core/Types.Sorting/SortOperationKindType.cs
  src/Core/Types/Resolvers/ClassMiddlewareFactory.cs
  src/Core/Utilities/MiddlewareActivator.cs
Labels: Filter, enhancement

#1264 feat(Sorting): enable sorting of nullables
  src/Core/Types.Sorting.Mongo.Tests/MongoSortingObjectTests.cs
  src/Core/Types.Sorting.Mongo.Tests/__snapshots__/MongoSortingObjectTests.GetItems_DescSorting_AllItems_Are_Returned_DescSortedOnNullable.snap
  src/Core/Types.Sorting.Mongo.Tests/__snapshots__/MongoSortingObjectTests.GetItems_DescSorting_AllItems_Are_Returned_DescSortedOnNullableObject.snap
  src/Core/Types.Sorting.Tests/QueryableObjectSortVisitorTests.cs
  src/Core/Types.Sorting.Tests/SortInputTypeTests.cs
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Implicit_Sorting.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Implicit_Sorting_NoBindInvocation.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Implicit_Sorting_WithIgnoredField.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Implicit_Sorting_WithRenamedField.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDescription.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDirectives_DirectiveClassInstance.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDirectives_DirectiveNode.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDirectives_DirectiveType.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDirectives_NameArgs.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDirectives_NameArgs2.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddName.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_DynamicName.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_DynamicName_NonGeneric.snap
  src/Core/Types.Sorting/Expressions/SortExpressionBuilder.cs
  src/Core/Types.Sorting/QueryableSortMiddleware.cs
  src/Core/Types.Sorting/QueryableSortVisitor.cs
  src/Core/Types.Sorting/QueryableSortVisitorInMemory.cs
  src/Core/Types.Sorting/SortInputTypeDescriptor.cs
  src/Core/Types.Sorting/SortQueryableClosure.cs
Labels: Filter, enhancement

#1266 Adds unignore
  src/Core/Types.Filters.Tests/__snapshots__/BooleanFilterInputTypeTests.Bind_Filter_ImplicitlyTwice.snap
  src/Core/Types.Filters/Boolean/BooleanFilterFieldDescriptor.cs
  src/Core/Types.Filters/Boolean/IBooleanFilterFieldsDescriptor.cs
  src/Core/Types.Filters/Comparable/ComparableFilterFieldDescriptor.cs
  src/Core/Types.Filters/Comparable/IComparableFilterFieldsDescriptor.cs
  src/Core/Types.Filters/String/IStringFilterFieldDescriptor.cs
  src/Core/Types.Filters/String/StringFilterFieldDescriptor.cs
  src/Core/Types.Sorting/ISortObjectOperationDescriptor.cs
  src/Core/Types.Sorting/ISortObjectOperationDescriptor~1.cs
  src/Core/Types.Sorting/ISortOperationDescriptor.cs
  src/Core/Types.Sorting/SortObjectOperationDescriptor.cs
  src/Core/Types.Sorting/SortObjectOperationDescriptor~1.cs
  src/Core/Types.Sorting/SortOperationDescriptor.cs
  src/Core/Types.Tests/Types/Descriptors/DirectiveDescriptorTests.cs
  src/Core/Types.Tests/Types/Descriptors/InputObjectTypeDescriptorTests.cs
  src/Core/Types.Tests/Types/Descriptors/ObjectTypeDescriptorTests.cs
  src/Core/Types.Tests/Types/InputObjectTypeTests.cs
  src/Core/Types.Tests/Types/InterfaceTypeTests.cs
  src/Core/Types.Tests/Types/ObjectTypeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Unignore_Id_Property.snap
  src/Core/Types/Types/Descriptors/Contracts/IDirectiveArgumentDescriptor.cs
  src/Core/Types/Types/Descriptors/Contracts/IInputFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/Contracts/IInterfaceFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/Contracts/IObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/DirectiveArgumentDescriptor.cs
  src/Core/Types/Types/Descriptors/InputFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/InputObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/InterfaceFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/OutputFieldDescriptorBase.cs
Labels: Hot Chocolate Types, enhancement

#1262 Subscription Improvements
  src/Core/Abstractions/Abstractions.csproj
  src/Core/Abstractions/EventMessageAttribute.cs
  src/Core/Abstractions/Execution/IResponseStream.cs
  src/Core/Abstractions/Execution/WellKnownContextData.cs
  src/Core/Core.Tests/Execution/Batching/BatchQueryExecutorTests.cs
  src/Core/Core.Tests/Integration/StarWarsCodeFirst/StarWarsCodeFirstTests.cs
  src/Core/Core/Core.csproj
  src/Core/Core/Execution/Batching/BatchQueryExecutionEnumerator.cs
  src/Core/Core/Execution/Batching/BatchQueryExecutionResult.cs
  src/Core/Core/Execution/Batching/JsonQueryResultSerializer.cs
  src/Core/Core/Execution/ExecutionContext.cs
  src/Core/Core/Execution/IExecutionContext.cs
  src/Core/Core/Execution/SubscriptionExecutionStrategy.cs
  src/Core/Core/Execution/SubscriptionResult.cs
  src/Core/Core/Execution/Utilities/DirectiveContext.cs
  src/Core/Core/Execution/Utilities/ResolverContext.cs
  src/Core/Subscriptions.InMemory/InMemoryEventRegistry.cs
  src/Core/Subscriptions.InMemory/InMemoryEventStream.cs
  src/Core/Subscriptions.InMemory/Subscriptions.InMemory.csproj
  src/Core/Subscriptions.Redis.Tests/RedisIntegrationTests.cs
  src/Core/Subscriptions.Redis.Tests/RedisTests.cs
  src/Core/Subscriptions.Redis/RedisEventRegistry.cs
  src/Core/Subscriptions.Redis/RedisEventStream.cs
  src/Core/Subscriptions.Redis/Subscriptions.Redis.csproj
  src/Core/Subscriptions.Tests/InMemory/InMemoryEventRegistryTests.cs
  src/Core/Subscriptions.Tests/InMemory/InMemoryEventStreamTests.cs
  src/Core/Subscriptions.Tests/SubscriptionTests.cs
  src/Core/Subscriptions/IEventRegistry.cs
  src/Core/Subscriptions/IEventSender.cs
  src/Core/Subscriptions/IEventStream.cs
  src/Core/Subscriptions/JsonPayloadSerializer.cs
  src/Core/Subscriptions/Subscriptions.csproj
  src/Core/Types.Tests/Resolvers/ResolverPropertyGeneratorTests.cs
  src/Core/Types.Tests/Types/SubscriptionTypeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_With_AsyncEnumerable.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_With_AsyncEnumerable_Async.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_With_Enumerable.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_With_Enumerable_Async.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_With_Observable.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_With_Observable_Async.snap
  src/Core/Types/Resolvers/CodeGeneration/ArgumentHelper.cs
  src/Core/Types/Resolvers/Expressions/Arguments/GetEventMessageCompiler.cs
  src/Core/Types/Resolvers/FieldResolverDelegate.cs
  src/Core/Types/Resolvers/IResolverContext.cs
  src/Core/Types/Types/Contracts/IField.cs
  src/Core/Types/Types/Contracts/IHasDescription.cs
  src/Core/Types/Types/Contracts/IObjectField.cs
  src/Core/Types/Types/Contracts/IOutputField.cs
  src/Core/Types/Types/Descriptors/Contracts/IObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/Core/Types/Types/Descriptors/Extensions/SubscribeResolverObjectFieldDescriptorExtensions.cs
  src/Core/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/Core/Types/Types/ObjectField.cs
  src/Server/AspNetCore.Subscriptions.Tests/Messages/DataStartMessageHanlderTests.cs
  src/Server/AspNetCore.Subscriptions/Subscription.cs
Labels: enhancement

#1267 Add same behavior for filters and sorting as in other types
  src/Core/Abstractions/ErrorCodes.cs
  src/Core/Types.Filters.Tests/ArrayFilterInputTypeTests.cs
  src/Core/Types.Filters.Tests/BooleanFilterInputTypeTests.cs
  src/Core/Types.Filters.Tests/ComparableFilterInputTypeTests.cs
  src/Core/Types.Filters.Tests/FilterFieldCollectionExtensionTest.cs
  src/Core/Types.Filters.Tests/ObjectFilterInputTypeTests.cs
  src/Core/Types.Filters.Tests/StringFilterInputTypeTests.cs
  src/Core/Types.Filters.Tests/__snapshots__/ArrayFilterInputTypeTests.Bind_Filter_FilterDescirptor_FirstAddThenIgnore.snap
  src/Core/Types.Filters.Tests/__snapshots__/ArrayFilterInputTypeTests.Bind_Filter_FilterDescirptor_FirstIgnoreThenAdd.snap
  src/Core/Types.Filters.Tests/__snapshots__/ArrayFilterInputTypeTests.Bind_Filter_FilterDescirptor_Override.snap
  src/Core/Types.Filters.Tests/__snapshots__/ArrayFilterInputTypeTests.Bind_Filter_FilterDescirptor_OverrideFieldDescriptor.snap
  src/Core/Types.Filters.Tests/__snapshots__/BooleanFilterInputTypeTests.Bind_Filter_FilterDescirptor_FirstAddThenIgnore.snap
  src/Core/Types.Filters.Tests/__snapshots__/BooleanFilterInputTypeTests.Bind_Filter_FilterDescirptor_FirstIgnoreThenAdd.snap
  src/Core/Types.Filters.Tests/__snapshots__/BooleanFilterInputTypeTests.Bind_Filter_FilterDescirptor_Override.snap
  src/Core/Types.Filters.Tests/__snapshots__/BooleanFilterInputTypeTests.Bind_Filter_FilterDescirptor_OverrideFieldDescriptor.snap
  src/Core/Types.Filters.Tests/__snapshots__/ComparableFilterInputTypeTests.Bind_Filter_FilterDescirptor_FirstAddThenIgnore.snap
  src/Core/Types.Filters.Tests/__snapshots__/ComparableFilterInputTypeTests.Bind_Filter_FilterDescirptor_FirstIgnoreThenAdd.snap
  src/Core/Types.Filters.Tests/__snapshots__/ComparableFilterInputTypeTests.Bind_Filter_FilterDescirptor_Override.snap
  src/Core/Types.Filters.Tests/__snapshots__/ComparableFilterInputTypeTests.Bind_Filter_FilterDescirptor_OverrideFieldDescriptor.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Bind_Filter_FilterDescirptor_FirstAddThenIgnore.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Bind_Filter_FilterDescirptor_FirstIgnoreThenAdd.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Bind_Filter_FilterDescirptor_Override.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Bind_Filter_FilterDescirptor_OverrideFieldDescriptor.snap
  src/Core/Types.Filters.Tests/__snapshots__/ObjectFilterInputTypeTests.Bind_Filter_FilterDescirptor_OverrideString.snap
  src/Core/Types.Filters.Tests/__snapshots__/StringFilterInputTypeTests.Bind_Filter_FilterDescirptor_FirstAddThenIgnore.snap
  src/Core/Types.Filters.Tests/__snapshots__/StringFilterInputTypeTests.Bind_Filter_FilterDescirptor_FirstIgnoreThenAdd.snap
  src/Core/Types.Filters.Tests/__snapshots__/StringFilterInputTypeTests.Bind_Filter_FilterDescirptor_Override.snap
  src/Core/Types.Filters.Tests/__snapshots__/StringFilterInputTypeTests.Bind_Filter_FilterDescirptor_OverrideFieldDescriptor.snap
  src/Core/Types.Filters/Array/ArrayFilterFieldDescriptor.cs
  src/Core/Types.Filters/Array/ArrayFilterFieldDescriptor~1.cs
  src/Core/Types.Filters/Boolean/BooleanFilterFieldDescriptor.cs
  src/Core/Types.Filters/Comparable/ComparableFilterFieldDescriptor.cs
  src/Core/Types.Filters/Extensions/FilterFieldCollectionExtensions.cs
  src/Core/Types.Filters/FilterInputTypeDescriptor.cs
  src/Core/Types.Filters/InternalsVisibleTo.cs
  src/Core/Types.Filters/Object/ObjectFilterFieldDescriptor.cs
  src/Core/Types.Filters/Object/ObjectFilterFieldDescriptor~1.cs
  src/Core/Types.Filters/Properties/FilterResources.Designer.cs
  src/Core/Types.Filters/Properties/FilterResources.resx
  src/Core/Types.Filters/String/StringFilterFieldDescriptor.cs
  src/Core/Types.Sorting.Tests/SortInputObjectTypeTests.cs
  src/Core/Types.Sorting.Tests/SortingFieldCollectionExtensionTest.cs
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Bind_Sort_SortDescirptor_FirstAddThenIgnoreBar.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Bind_Sort_SortDescirptor_FirstIgnoreThenAddBar.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Bind_Sort_SortDescirptor_OverrideDescriptor.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Bind_Sort_SortDescirptor_OverrideObjectDescriptor.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputObjectTypeTests.Create_Implicit_Sorting_WithIgnoredField2.snap
  src/Core/Types.Sorting/Extensions/SortingFieldCollectionExtensions.cs
  src/Core/Types.Sorting/ISortInputTypeDescriptor.cs
  src/Core/Types.Sorting/ISortObjectOperationDescriptor~1.cs
  src/Core/Types.Sorting/IgnoredSortingFieldDescriptor.cs
  src/Core/Types.Sorting/InternalsVisibleTo.cs
  src/Core/Types.Sorting/SortInputTypeDescriptor.cs
  src/Core/Types.Sorting/SortObjectOperationDescriptor.cs
  src/Core/Types.Sorting/SortOperationDescriptor.cs
  src/Core/Types.Sorting/SortOperationDescriptorBase.cs
Labels: Filter, Sort

#1221 Resolve scalar stitching in delegated fields
  src/Core/Abstractions/ErrorBuilderExtensions.cs
  src/Core/Abstractions/Execution/IVariableValueCollection.cs
  src/Core/Core.sln
  src/Core/Core/Execution/Extensions/QueryExecutionBuilderExtensions.cs
  src/Core/Core/Execution/Utilities/DictionaryToObjectValueConverter.cs
  src/Core/Core/Execution/Utilities/VariableValueBuilder.cs
  src/Core/Core/Properties/InternalsVisibleTo.cs
  src/Core/Language/Parser/GraphQLConstants.cs
  src/Core/Utilities/BufferHelper.cs
  src/Server/Server.sln
  src/Stitching/.vscode/tasks.json
  src/Stitching/Stitching.Tests/Client/__snapshots__/RemoteQueryClientTests.DispatchMultipleQueriesWithVariables.snap
  src/Stitching/Stitching.Tests/Delegation/ArgumentScopedVariableResolverTests.cs
  src/Stitching/Stitching.Tests/Delegation/ContextDataScopedVariableResolverTests.cs
  src/Stitching/Stitching.Tests/Delegation/FieldScopedVariableResolverTests.cs
  src/Stitching/Stitching.Tests/Delegation/ScopedContextDataScopedVariableResolverTests.cs
  src/Stitching/Stitching.Tests/Middleware/DelegateToRemoteSchemaMiddlewareTests.cs
  src/Stitching/Stitching.Tests/Middleware/HttpInterceptorTests.cs
  src/Stitching/Stitching.Tests/Middleware/ScalarTests.cs
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/ScalarTests.Custom_Scalar_Delegated_Argument.snap
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/ScalarTests.Custom_Scalar_Delegated_Input_Argument.snap
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/ScalarTests.Custom_Scalar_Delegated_Input_Argument_Unstitched.snap
  src/Stitching/Stitching.Tests/Schemas/SpecialCases/ContractSchemaFactory.cs
  src/Stitching/Stitching.Tests/StitchingBuilderTests.cs
  src/Stitching/Stitching/Client/RemoteQueryClient.cs
  src/Stitching/Stitching/Client/RemoteRequestDispatcher.cs
  src/Stitching/Stitching/Delegation/ArgumentScopedVariableResolver.cs
  src/Stitching/Stitching/Delegation/ContextDataScopedVariableResolver.cs
  src/Stitching/Stitching/Delegation/FieldScopedVariableResolver.cs
  src/Stitching/Stitching/Delegation/IScopedVariableResolver.cs
  src/Stitching/Stitching/Delegation/RootScopedVariableResolver.cs
  src/Stitching/Stitching/Delegation/ScopedContextDataScopedVariableResolver.cs
  src/Stitching/Stitching/Delegation/VariableValue.cs
  src/Stitching/Stitching/ErrorCodes.cs
  src/Stitching/Stitching/Extensions/ContextDataExtensions.cs
  src/Stitching/Stitching/Extensions/StitchingQueryExecutionBuilderExtensions.cs
  src/Stitching/Stitching/IHttpQueryRequestInterceptor.cs
  src/Stitching/Stitching/IRemoteQueryClient.cs
  src/Stitching/Stitching/Middleware/CopyVariablesToResolverContextMiddleware.cs
  src/Stitching/Stitching/Middleware/DelegateToRemoteSchemaMiddleware.cs
  src/Stitching/Stitching/Stitching.csproj
  src/Stitching/Stitching/Utilities/ExtractFieldQuerySyntaxRewriter.Context.cs
  src/Stitching/Stitching/Utilities/ExtractFieldQuerySyntaxRewriter.cs
  src/Stitching/Stitching/Utilities/ExtractedField.cs
  src/Stitching/Stitching/Utilities/HttpQueryClient.cs
  src/Stitching/Stitching/Utilities/JsonRequestWriter.cs
  src/Stitching/Stitching/Utilities/MergeQueryRewriter.cs
  src/Stitching/Stitching/Utilities/ObjectVariableRewriter.cs
  src/Templates/StarWars/content/StarWars.sln
  tools/Build.Core.sln
  tools/Build.sln
Labels: bug

#1277 Fixed issue where the rented buffer was to early returned.
  src/Stitching/Stitching.Tests/Utilities/FieldDependencyResolverTests.cs
  src/Stitching/Stitching/Utilities/ArrayWriter.cs
  src/Stitching/Stitching/Utilities/HttpQueryClient.cs
Labels: bug

#1279 Introduce a database sepecific visitor
  src/Core/Types.Filters.Mongo.Tests/ArrayFilterTests.cs
  src/Core/Types.Filters.Mongo.Tests/__snapshots__/ArrayFilterTests.Array_Filter_On_Objects_Types.snap
  src/Core/Types.Filters.Mongo.Tests/__snapshots__/ArrayFilterTests.Array_Filter_On_Scalar_Types.snap
  src/Core/Types.Filters.Mongo.Tests/__snapshots__/ArrayFilterTests.Collection_Filter_On_Objects_Types.snap
  src/Core/Types.Filters.Mongo.Tests/__snapshots__/ArrayFilterTests.Collection_Filter_On_Scalar_Types.snap
  src/Core/Types.Filters.Tests/NoNullQueryFilterTests.cs
  src/Core/Types.Filters.Tests/QueryableFilterTests.cs
  src/Core/Types.Filters.Tests/QueryableFilterVisitorArrayTests.cs
  src/Core/Types.Filters.Tests/QueryableFilterVisitorBooleanTests.cs
  src/Core/Types.Filters.Tests/QueryableFilterVisitorComparableTests.cs
  src/Core/Types.Filters.Tests/QueryableFilterVisitorObjectTests.cs
  src/Core/Types.Filters.Tests/QueryableFilterVisitorStringTests.cs
  src/Core/Types.Filters.Tests/QueryableFilterVisitorTest.cs
  src/Core/Types.Filters.Tests/__snapshots__/NoNullQueryFilterTests.Create_Schema.snap
  src/Core/Types.Filters.Tests/__snapshots__/NoNullQueryFilterTests.Execute_Filter.snap
  src/Core/Types.Filters.Tests/__snapshots__/QueryableFilterTests.Create_Schema_With_FilterType.snap
  src/Core/Types.Filters.Tests/__snapshots__/QueryableFilterTests.Create_Schema_With_FilterType_With_Fluent_API.snap
  src/Core/Types.Filters/Expressions/FieldHandlers/ArrayFieldHandler.cs
  src/Core/Types.Filters/Expressions/FieldHandlers/IExpressionFieldHandler.cs
  src/Core/Types.Filters/Expressions/FieldHandlers/ObjectFieldHandler.cs
  src/Core/Types.Filters/QueryableClosure.cs
  src/Core/Types.Filters/QueryableFilterMiddleware.cs
  src/Core/Types.Filters/QueryableFilterVisitor.cs
  src/Core/Types.Tests/Utilities/DotNetTypeInfoFactoryTests.cs
  src/Core/Types/Utilities/DotNetTypeInfoFactory.cs
Labels: Filter, bug

#1288 Fixed handling of rewritten non-null reference types.
  src/Core/Types.Tests/Utilities/DotNetTypeInfoFactoryTests.cs
  src/Core/Types/Utilities/DotNetTypeInfoFactory.cs
Labels: bug

#1297 Added support for generic object type extensions.
  src/Core/Types.Tests/Types/EnumTypeTests.cs
  src/Core/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/Core/Types.Tests/Types/__snapshots__/EnumTypeTests.EnumType_That_Is_Bound_To_String_Should_Not_Interfere_With_Scalar.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ObjectTypeExtension_DepricateField_With_Reason.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ObjectTypeExtension_DepricateField_Without_Reason.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ObjectTypeExtension_Execute_Infer_Field.snap
  src/Core/Types/Types/Descriptors/Definitions/ObjectTypeDefinition.cs
  src/Core/Types/Types/Descriptors/Definitions/TypeDefinitionBase~1.cs
  src/Core/Types/Types/Descriptors/Helpers/FieldDescriptorUtilities.cs
  src/Core/Types/Types/Descriptors/InterfaceTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptorBase~1.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor~1.cs
  src/Core/Types/Types/Descriptors/ObjectTypeExtensionDescriptor~1.cs
  src/Core/Types/Types/ObjectTypeExtension.cs
  src/Core/Types/Types/ObjectTypeExtension~1.cs
Labels: enhancement

#1301 Added format option to the UUID type.
  src/Core/Types.Tests/Types/Scalars/UuidTypeTests.cs
  src/Core/Types.Tests/Types/Scalars/__snapshots__/UuidTypeTests.Specify_Invalid_Format.snap
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeNonNullTests.Nullable_Dictionary_Is_Correctly_Detected.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ObjectTypeExtension_DeprecateField_With_Reason.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ObjectTypeExtension_DeprecateField_Without_Reason.snap
  src/Core/Types/Types/Scalars/UuidType.cs
Labels: enhancement

#1304 Fixed clr type binding for issue with new type discovery.
  src/Core/Types.Tests/CodeFirstTests.cs
  src/Core/Types.Tests/__snapshots__/CodeFirstTests.Change_DefaultBinding_For_DateTime.snap
  src/Core/Types/Configuration/ClrTypeReferenceHandler.cs
  src/Core/Types/Configuration/TypeDiscoverer.cs
Labels: bug

#1306 Refine Attribute Support
  src/Core/Types.Filters/UseFilteringAttribute.cs
  src/Core/Types.Sorting/UseSortingAttribute.cs
  src/Core/Types.Tests/Types/EnumTypeDescriptorAttributeTests.cs
  src/Core/Types.Tests/Types/InputObjectTypeAttributeTests.cs
  src/Core/Types.Tests/Types/InterfaceTypeAttributeTests.cs
  src/Core/Types.Tests/Types/ObjectTypeAttributeTests.cs
  src/Core/Types.Tests/Types/Relay/UsePagingAttributeTests.cs
  src/Core/Types.Tests/Types/Relay/__snapshots__/UsePagingAttributeTests.UsePagingAttribute_Execute_Query.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/UsePagingAttributeTests.UsePagingAttribute_Infer_Types.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/UsePagingAttributeTests.UsePagingAttribute_Infer_Types_On_Interface.snap
  src/Core/Types.Tests/Types/UnionTypeAttributeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeAttributeTests.ExtendObjectTypeAttribute_Extend_Query_Type.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeAttributeTests.ObjectTypeAttribute_Mark_Struct_As_ObjectType.snap
  src/Core/Types.Tests/Types/__snapshots__/UnionTypeAttributeTests.UnionTypeAttribute_Infer_Union.snap
  src/Core/Types/Configuration/SchemaTypeResolver.cs
  src/Core/Types/Types/Attributes/ArgumentDescriptorAttribute.cs
  src/Core/Types/Types/Attributes/DescriptorAttribute.cs
  src/Core/Types/Types/Attributes/EnumTypeAttribute.cs
  src/Core/Types/Types/Attributes/EnumTypeDescriptorAttribute.cs
  src/Core/Types/Types/Attributes/EnumValueDescriptorAttribute.cs
  src/Core/Types/Types/Attributes/ExtendObjectTypeAttribute.cs
  src/Core/Types/Types/Attributes/InputFieldDescriptorAttribute.cs
  src/Core/Types/Types/Attributes/InputObjectTypeAttribute.cs
  src/Core/Types/Types/Attributes/InputObjectTypeDescriptorAttribute.cs
  src/Core/Types/Types/Attributes/InterfaceFieldDescriptorAttribute.cs
  src/Core/Types/Types/Attributes/InterfaceTypeAttribute.cs
  src/Core/Types/Types/Attributes/InterfaceTypeDescriptorAttribute.cs
  src/Core/Types/Types/Attributes/ObjectFieldDescriptorAttribute.cs
  src/Core/Types/Types/Attributes/ObjectTypeAttribute.cs
  src/Core/Types/Types/Attributes/ObjectTypeDescriptorAttribute.cs
  src/Core/Types/Types/Attributes/UnionTypeAttribute.cs
  src/Core/Types/Types/Attributes/UnionTypeDescriptorAttribute.cs
  src/Core/Types/Types/Descriptors/ArgumentDescriptor.cs
  src/Core/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/Core/Types/Types/Descriptors/Conventions/ITypeInspector.cs
  src/Core/Types/Types/Descriptors/DirectiveArgumentDescriptor.cs
  src/Core/Types/Types/Descriptors/DirectiveTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/EnumTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/EnumValueDescriptor.cs
  src/Core/Types/Types/Descriptors/InputFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/InputObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/InterfaceFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/InterfaceTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectTypeExtensionDescriptor~1.cs
  src/Core/Types/Types/Descriptors/UnionTypeDescriptor.cs
  src/Core/Types/Types/Relay/UsePagingAttribute.cs
Labels: enhancement

#1307 Added authorize attribute.
  src/Server/AspNetCore.Authorization/AuthorizeAttribute.cs
  src/Server/AspNetCore.Authorization/AuthorizeDirective.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizationTestData.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizationTests.cs
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizationTests.NoAuthServices_Authenticated_False.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizationTests.NoAuthServices_Authenticated_True.snap
Labels: enhancement

#1300 Added tests for inferring filters with attributes
  src/Core/Types.Filters.Tests/FilterInputTypeTest.cs
  src/Core/Types.Filters.Tests/__snapshots__/FilterInputTypeTest.FilterAttribute_NonNullType.snap
Labels: Filter, Hot Chocolate Types

#1308 Fixed parser error handling in middleware.
  src/Server/AspNetClassic.HttpPost/Extensions/HttpPostApplicationBuilderExtensions.cs
  src/Server/AspNetCore.HttpGet/HttpGetMiddleware.cs
  src/Server/AspNetCore.HttpPost/HttpPostMiddleware.cs
  src/Stitching/Stitching.Tests/Utilities/ExtractFieldQuerySyntaxRewriterTests.cs
  src/Stitching/Stitching.Tests/Utilities/__snapshots__/ExtractFieldQuerySyntaxRewriterTests.ExtractFieldWithDirective_Stitching.graphql_StitchingQueryWithSkip.graphql.snap
  src/Stitching/Stitching.Tests/__resources__/StitchingQueryWithSkip.graphql
  src/Stitching/Stitching/Utilities/ExtractFieldQuerySyntaxRewriter.Context.cs
  src/Stitching/Stitching/Utilities/ExtractFieldQuerySyntaxRewriter.cs
Labels: bug

#1310 Added attribute support to filtering and sorting.
  src/Core/Types.Filters.Tests/FilterTypeAttributeTests.cs
  src/Core/Types.Filters/FilterFieldDescriptorBase.cs
  src/Core/Types.Filters/FilterInputTypeDescriptor.cs
  src/Core/Types.Sorting.Tests/SortingTypeAttributeTests.cs
  src/Core/Types.Sorting/SortInputTypeDescriptor.cs
  src/Core/Types.Sorting/SortOperationDescriptor.cs
Labels: Filter, Sort, enhancement

#1316 Fixed issue where the lazy configurations were not executed.
  src/Core/Types.Tests/Types/Relay/UsePagingAttributeTests.cs
  src/Core/Types.Tests/Types/Relay/__snapshots__/UsePagingAttributeTests.UsePagingAttribute_On_Extension_Execute_Query.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/UsePagingAttributeTests.UsePagingAttribute_On_Extension_Infer_Types.snap
  src/Core/Types/Configuration/RegisteredType.cs
  src/Core/Types/Configuration/TypeInitializer.cs
  src/Core/Types/Types/EnumTypeExtension.cs
  src/Core/Types/Types/Helpers/TypeExtensionHelper.cs
  src/Core/Types/Types/InputObjectTypeExtension.cs
  src/Core/Types/Types/InterfaceTypeExtension.cs
  src/Core/Types/Types/ObjectTypeExtension.cs
  src/Core/Types/Types/TypeSystemObjectBase~1.cs
  src/Core/Types/Types/UnionTypeExtension.cs
Labels: bug

#1317 Added support for immutable classes and optionals to input types.
  src/Core/Abstractions.Tests/OptionalTests.cs
  src/Core/Abstractions/Optional.cs
  src/Core/Core/Execution/Middleware/ExceptionMiddleware.cs
  src/Core/Core/Execution/Utilities/FieldSelection.cs
  src/Core/Types.Tests/Types/InputObjectTypeDictionaryTests.cs
  src/Core/Types.Tests/Types/InputObjectTypeExtensionTests.cs
  src/Core/Types.Tests/Types/InputObjectTypeTests.cs
  src/Core/Types.Tests/Types/ObjectTypeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeNonNullTests.Dictionary_Is_Correctly_Deserialized.snap
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeNonNullTests.Nullable_Dictionary_Is_Correctly_Detected.snap
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Input_With_Immutable_ClrType.snap
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Input_With_Optionals_Not_Set.snap
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Input_With_Optionals_Set.snap
  src/Core/Types.Tests/Types/__snapshots__/InputObjectTypeTests.ParseLiteral.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ObjectTypeExtension_DeprecateField_With_Reason.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ObjectTypeExtension_DeprecateField_Without_Reason.snap
  src/Core/Types.Tests/Utilities/DictionaryToInputObjectConverterTests.cs
  src/Core/Types.Tests/Utilities/DotNetTypeInfoFactoryTests.cs
  src/Core/Types/Types.csproj
  src/Core/Types/Types/InputField.cs
  src/Core/Types/Types/InputObjectSerializationException.cs
  src/Core/Types/Types/InputObjectType.cs
  src/Core/Types/Utilities/DotNetTypeInfoFactory.cs
  src/Core/Types/Utilities/Serialization/InputObjectConstructorResolver.cs
  src/Core/Types/Utilities/Serialization/InputObjectFactoryCompiler.cs
  src/Core/Types/Utilities/Serialization/InputObjectParserHelper.cs
  src/Core/Types/Utilities/TypeConversion.ListTypes.cs
Labels: enhancement
