Repository ChilliCream/graphql-platform, pull requests merged in 2019-10, with the labels that each got.

#1104 Fixed client generator type name issues.
  src/Client/Demo/GraphQL/Generated/.hash.md5
  src/Client/Demo/GraphQL/Generated/EpisodeValueSerializer.cs
  src/Client/Demo/GraphQL/Generated/GetHeroResultParser.cs
  src/Client/Demo/GraphQL/Generated/StarWarsClientServiceCollectionExtensions.cs
  src/Client/Demo/GraphQL/berry.json
  src/Client/Generators.Tests/ClientGeneratorTests.cs
  src/Client/Generators.Tests/NameUtilsTests.cs
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Input_Objects_Arguments.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Input_Objects_Arguments.snap
  src/Client/Generators/CSharp/InputClassSerializerGenerator.cs
  src/Client/Generators/SelectionSetModelGenerator.cs
  src/Client/Generators/Types/NameDirectiveType.cs
  src/Client/Generators/Utilities/NameUtils.cs
  src/Client/dotnet-graphql/CompileCommand.cs
  src/Client/dotnet-graphql/CompileCommandBase.cs
  src/Client/dotnet-graphql/GenerateCommand.cs
  src/Client/dotnet-graphql/WellKnownDirectories.cs
  src/Client/dotnet-graphql/WellKnownFiles.cs
Labels: bug

#1107 Removed files a per issue number #1083
  .bettercodehub.yml
  .travis.yml
Labels: refactoring

#1108 Add support for custom scalars in the client generator.
  src/Client/.vscode/launch.json
  src/Client/Demo/GitHub/ GitHub.graphql
  src/Client/Demo/GitHub/Generated/.hash.md5
  src/Client/Demo/GitHub/Generated/FollowerConnection.cs
  src/Client/Demo/GitHub/Generated/GetUser.cs
  src/Client/Demo/GitHub/Generated/GetUserOperation.cs
  src/Client/Demo/GitHub/Generated/GetUserResultParser.cs
  src/Client/Demo/GitHub/Generated/GitHubClient.cs
  src/Client/Demo/GitHub/Generated/GitHubClientServiceCollectionExtensions.cs
  src/Client/Demo/GitHub/Generated/IFollowerConnection.cs
  src/Client/Demo/GitHub/Generated/IGetUser.cs
  src/Client/Demo/GitHub/Generated/IGitHubClient.cs
  src/Client/Demo/GitHub/Generated/IUser.cs
  src/Client/Demo/GitHub/Generated/Queries.cs
  src/Client/Demo/GitHub/Generated/User.cs
  src/Client/Demo/GitHub/Queries.GraphQL
  src/Client/Demo/GitHub/berry.json
  src/Client/Generators.Tests/ClientGeneratorTests.cs
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Custom_Scalar_Types.snap
  src/Client/Generators/ClientGenerator.cs
  src/Client/Generators/Constants/GeneratorDirectives.cs
  src/Client/dotnet-graphql/InitCommand.cs
  src/Core/Types/Configuration/Validation/InetrfaceFieldsAreImplementedRule.cs
  src/Stitching/Stitching/Merge/AddSchemaExtensionRewriter.cs
  src/Stitching/Stitching/Utilities/CustomScalarType.cs
Labels: enhancement

#1110 Fixed DateTime Client Serializer Name
  src/Client/Abstractions/Serializers/DateTimeValueSerializer.cs
  src/Client/Demo/GitHub/GitHub.graphql
  src/Client/Demo/GraphQL/StarWars.Extensions.graphql_
  src/Client/dotnet-graphql/UpdateCommand.cs
Labels: Strawberry Shake, bug

#1111 Reworked Client Result Handling
  src/Client/Abstractions/ErrorBuilder.cs
  src/Client/Abstractions/IOperationResult.cs
  src/Client/Abstractions/IOperationResultBuilder.cs
  src/Client/Abstractions/IResultParser.cs
  src/Client/Abstractions/IResultParser~1.cs
  src/Client/Abstractions/OperationResult.cs
  src/Client/Abstractions/OperationResultBuilder.cs
  src/Client/Abstractions/OperationResultBuilder~1.cs
  src/Client/Demo.Tests/SnapshotExtensions.cs
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Custom_Scalar_Types.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_As_Output_Field_Return_Type.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_Type.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Enum_Type_Set_Value_Name.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Input_Objects_Arguments.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.NonNull_Object_List.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.NonNull_Scalar_List.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Return_Type_Renamed.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Single_Nullable_Scalar_Argument.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Alias_Fields.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Input_Objects_Arguments.snap
  src/Client/Generators.Tests/__snapshots__/ClientGeneratorTests.Two_Nullable_Scalar_Arguments.snap
  src/Client/Http/ErrorCodes.cs
  src/Client/Http/HttpOperationContext.cs
  src/Client/Http/HttpOperationExecutor.cs
  src/Client/Http/IHttpOperationContext.cs
  src/Client/Http/JsonResultParserBase.Constants.cs
  src/Client/Http/JsonResultParserBase.cs
  src/Client/Http/Pipelines/ExceptionMiddleware.cs
  src/Client/Http/Pipelines/HttpPipelineBuilder.cs
  src/Client/Http/Pipelines/ParseSingleResultMiddleware.cs
Labels: enhancement

#1115 Set Error.Path for HTTP exceptions
  src/Stitching/Stitching.Tests/Middleware/DelegateToRemoteSchemaMiddlewareTests.cs
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/DelegateToRemoteSchemaMiddlewareTests.AddErrorFilter.snap
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/DelegateToRemoteSchemaMiddlewareTests.HttpErrorsHavePathSet.snap
  src/Stitching/Stitching/ErrorCodes.cs
  src/Stitching/Stitching/Middleware/DelegateToRemoteSchemaMiddleware.cs
Labels: enhancement

#1124 Use operation name in stitched queries
  src/Stitching/Stitching.Tests/Client/RemoteQueryClientTests.cs
  src/Stitching/Stitching.Tests/Client/__snapshots__/DispatchMultipleQueriesDistinctOperationName_MergedQuery.snap
  src/Stitching/Stitching.Tests/Client/__snapshots__/DispatchMultipleQueriesDistinctOperationName_Result_A.snap
  src/Stitching/Stitching.Tests/Client/__snapshots__/DispatchMultipleQueriesDistinctOperationName_Result_B.snap
  src/Stitching/Stitching.Tests/Delegation/RemoteQueryBuilderTests.cs
  src/Stitching/Stitching.Tests/Delegation/__snapshots__/RemoteQueryBuilderTests.BuildRemoteQueryCanOverrideOperationName.snap
  src/Stitching/Stitching/Client/RemoteRequestDispatcher.cs
  src/Stitching/Stitching/Delegation/RemoteQueryBuilder.cs
  src/Stitching/Stitching/Middleware/DelegateToRemoteSchemaMiddleware.cs
  src/Stitching/Stitching/Utilities/MergeQueryRewriter.cs
Labels: enhancement

#1131 Add Arg helper type for supporting nullable feature
  src/Core/Types.Tests/Utilities/ArgTests.cs
  src/Core/Types/Utilities/Arg.cs
Labels: Hot Chocolate Types

#1133 Fixed: CancellationToken is not correctly passed to the execution pipeline.
  src/Core/Core.Tests/Execution/QueryExecutorTests.cs
  src/Core/Core.Tests/Execution/__snapshots__/QueryExecutorTests.CancellationToken_Is_Passed_Correctly.snap
  src/Core/Core/Execution/QueryContext.cs
  src/Core/Core/Execution/QueryExecutor.cs
Labels: bug

#1138 fix typo in Utf8GraphQLRequestParser
  src/Core/Language/Parser/Utf8GraphQLRequestParser.Utilities.cs
Labels: bug

#1137 Fixed Complexity Middleware
  examples/AspNetCore.StarWars/Startup.cs
  src/Core/Core.Tests/Execution/Middleware/MaxComplexityMiddlewareTests.cs
  src/Core/Core.Tests/Execution/Middleware/__snapshots__/MaxComplexityMiddlewareTests.Validate_Multiple_Levels_Invalid.snap
  src/Core/Core.Tests/Execution/Middleware/__snapshots__/MaxComplexityMiddlewareTests.Validate_Multiple_Levels_Valid.snap
  src/Core/Core/Execution/Middleware/MaxComplexityMiddleware.cs
  src/Core/Core/Validation/MaxComplexityWithMultipliersVisitorContext.cs
  src/Core/PersistedQueries.Redis.Tests/PersistedQueries.Redis.Tests.csproj
  src/Core/PersistedQueries.Redis.Tests/RedisQueryStorageTests.cs
  src/Core/PersistedQueries.Redis.Tests/ServiceCollectionExtensionsTests.cs
  src/Core/Subscriptions.Redis.Tests/RedisIntegrationTests.cs
  src/Core/Subscriptions.Redis.Tests/RedisTests.cs
  src/Core/Subscriptions.Redis.Tests/Subscriptions.Redis.Tests.csproj
  src/Core/Subscriptions.Redis/RedisSubscriptionServiceCollectionExtensions.cs
  src/Core/Types.Filters.Mongo.Tests/MongoFilterTests.cs
  src/Core/Types.Filters.Mongo.Tests/Types.Filters.Mongo.Tests.csproj
  src/Core/Types.Sorting.Mongo.Tests/MongoSortingTests.cs
  src/Core/Types.Sorting.Mongo.Tests/Types.Sorting.Mongo.Tests.csproj
Labels: bug

#1143 Removed Circle-CI
  .circleci/config.yml
  ROADMAP.md
  build.cake
  dockerfile
  run-benchmarks.ps1
  run-benchmarks.sh
  run-tests.ps1
  run-tests.sh
Labels: refactoring

#1152 Modify not_contains filter expression
  src/Core/Types.Filters/Expressions/FilterExpressionBuilder.cs
  src/Core/Types.Filters/Expressions/String/StringContainsOperationHandler.cs
Labels: enhancement

#1166 Fixed coercion for input objects that were provided as variables.
  src/Core/Core.Tests/Execution/ArgumentTests.cs
  src/Core/Core.Tests/Execution/__snapshots__/ArgumentTests.InputObject_As_Variable_Is_Converted_To_ObjectLiteral.snap
  src/Core/Core/Execution/Utilities/VariableValueCollection.cs
Labels: Hot Chocolate Core, bug
