Repository ChilliCream/graphql-platform, pull requests merged in 2020-06, with the labels that each got.

#2013 Added async wait handle
  src/HotChocolate/Core/src/Execution/ExecutionContext.cs
  src/HotChocolate/Core/src/Execution/WaitHandleExtensions.cs
Labels: 🌶 hot chocolate

#2009 fix projection of __typename v10
  src/Core/Types.Selection.Abstractions.Tests/SelectionTestsBase.cs
  src/Core/Types.Selection/SelectionVisitor.cs
  src/Core/Types.Selection/SelectionVisitorBase.cs
Labels: :beetle: bug, 🌶 hot chocolate

#2010 fix projection of __typename v11
  src/HotChocolate/Filters/src/Types.Selections/SelectionVisitor.cs
  src/HotChocolate/Filters/src/Types.Selections/SelectionVisitorBase.cs
  src/HotChocolate/Filters/test/Types.Selections.InMemory.Tests/SelectionTests.cs
  src/HotChocolate/Filters/test/Types.Selections.Mongo.Tests/SelectionTests.cs
  src/HotChocolate/Filters/test/Types.Selections.PostgreSql.Tests/SelectionTests.cs
  src/HotChocolate/Filters/test/Types.Selections.SqlServer.Tests/SelectionTests.cs
Labels: :beetle: bug, 🌶 hot chocolate

#2032 Issue 2031 Resolved by removing a redundant line.
  templates/Server/content/Startup.cs
Labels: 🌶 hot chocolate, 🗣 discussion

#2027 Add federation directives
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ApolloFederation.csproj
  src/HotChocolate/ApolloFederation/src/ApolloFederation/DirectiveTypeDescriptorExtensions.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ExternalDirective.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FieldSetType.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/KeyDirective.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Properties/FederationResources.Designer.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Properties/FederationResources.resx
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ProvidesDirective.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/RequiresDirective.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/TypeNames.cs
  src/HotChocolate/ApolloFederation/src/Directory.Build.props
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/ExternalDirectiveTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/KeyDirectiveTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/ProvidesDirectiveTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/RequiresDirectiveTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/FederationTypesTestBase.cs
Labels: 🌶 hot chocolate, 🎉 enhancement

#2033 docs: Spelling in IBatchLoader XML comments
  src/GreenDonut/src/Core/IDataLoader.cs
Labels: 🌶 hot chocolate, 🎨 refactoring

#2047 Add TimeSpanType
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/Scalars/Iso8601Duration.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarNames.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/Scalars.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/TimeSpanFormat.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/TimeSpanType.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/DateTimeTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/TimeSpanTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/TimeSpanTypeTests.PureCodeFirst_AutomaticallyBinds_TimeSpan.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/TimeSpanTypeTests.PureCodeFirst_AutomaticallyBinds_TimeSpan_With_Format_DotNet.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/TimeSpanTypeTests.PureCodeFirst_AutomaticallyBinds_TimeSpan_With_Format_Iso8601.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/TimeSpanTypeTests.PureCodeFirst_Different_TimeSpan_Formats_In_Same_Type.snap
Labels: 🎉 enhancement

#2071 Added nuke for pull-request builds
  .build/.editorconfig
  .build/.vscode/tasks.json
  .build/Build.GitHub.cs
  .build/Build.Sonar.cs
  .build/Build.cs
  .build/Build.csproj
  .build/Build.csproj.DotSettings
  .config/dotnet-tools.json
  .github/workflows/sonar-pr-hotchocolate.yml
  .github/workflows/tests-pr-hotchocolate.yml
  .gitignore
  .nuke
  .vscode/launch.json
  .vscode/tasks.json
  build.cmd
  build.ps1
  build.sh
  src/GreenDonut/test/Core.Tests/DataLoaderTests.cs
  src/StrawberryShake/Client/test/Http.Tests/WebSocketConnectionPoolTests.cs
  src/StrawberryShake/CodeGeneration/test/Demo.Tests/StarWarsAllClientTests.cs
  src/StrawberryShake/CodeGeneration/test/Demo.Tests/StarWarsQueryClientTests.cs
Labels: 🎨 refactoring

#2001 WIP: add filtering documentation
  website/src/docs/hotchocolate/api-reference/filtering.md
Labels: 🌶 hot chocolate, 📚 documentation

#1999 Documentation for Visitors
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/visitors.md
Labels: 🌶 hot chocolate, 📚 documentation

#2000 Adds documentation for AST
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/language.md
Labels: 🌶 hot chocolate, 📚 documentation

#2081 Added missing tests for ArgumentNode
  src/HotChocolate/Language/test/Language.Tests/AST/ArgumentNodeTests.cs
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/ArgumentNodeTests.Argument_ToString_Indented.snap
  src/HotChocolate/Language/test/Language.Tests/AST/__snapshots__/ArgumentNodeTests.Argument_ToString_UnIndented.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#2086 Fix stitching serialization invalid json #2024 #1972
  src/HotChocolate/Stitching/src/Stitching/Utilities/ArrayWriter.cs
  src/HotChocolate/Stitching/src/Stitching/Utilities/HttpQueryClient.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Utilities/HttpQueryClientTests.cs
Labels: :beetle: bug, 🌶 hot chocolate

#2099 Updated website packages
  website/package.json
  website/src/components/misc/seo.tsx
  website/yarn.lock
Labels: 🌶 website
