Repository ChilliCream/graphql-platform, pull requests merged in 2020-10, with the labels that each got.

#2402 Added Swiss Life logo
  website/src/pages/index.tsx
Labels: 🌶 website

#2410 Added carmmunity logo
  website/src/images/companies/carmmunity.svg
  website/src/pages/index.tsx
Labels: 🌶 website

#2413 Changing type="solution" to type="project" in template.json
  templates/StarWars/content/.template.config/template.json
Labels: :beetle: bug, 🌶 hot chocolate

#2418 Allow for list aggregations when delegating.
  .build/Build.Sonar.cs
  .build/Build.Tests.cs
  src/GreenDonut/test/DiagnosticSource.Tests/GreenDonut.DiagnosticSource.Tests.csproj
  src/HotChocolate/Core/src/Types/SchemaBuilder.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/DelegateToRemoteSchemaMiddleware.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/RemoteQueryBuilder.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ScopedVariables/FieldScopedVariableResolver.cs
  src/HotChocolate/Stitching/src/Stitching/DependencyInjection/HotChocolateStitchingRequestExecutorExtensions.cs
  src/HotChocolate/Stitching/src/Stitching/DependencyInjection/StitchingSchemaInterceptor.cs
  src/HotChocolate/Stitching/src/Stitching/DependencyInjection/StitchingTypeInterceptor.cs
  src/HotChocolate/Stitching/src/Stitching/Extensions/ContextDataExtensions.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/ArgumentScopedVariableResolverTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/FieldScopedVariableResolverTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/RemoteQueryMiddlewareTests.txt
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/BaseTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_Arguments.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_Computed.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_Fragment_Definition.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_Inline_Fragment.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_List_Aggregations.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_Object_Aggregations.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_Scalar_Aggregations.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_Union.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_Variables.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Middleware/DelegateToRemoteSchemaMiddlewareTests.txt
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Customers/CustomerType.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/StitchingQueryComputedField.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/StitchingQueryDeepArrayPath.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/StitchingQueryDeepObjectPath.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/StitchingQueryDeepScalarPath.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/StitchingQueryWithArguments.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/StitchingQueryWithFragmentDefs.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/StitchingQueryWithInlineFragment.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/StitchingQueryWithUnion.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/StitchingQueryWithVariables.graphql
Labels: 🌶 hot chocolate

#2430 Add Enum to GraphQLDescriptionAttribute
  src/HotChocolate/Core/src/Abstractions/GraphQLDescriptionAttribute.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeTests.cs
Labels: 🌶 hot chocolate

#2428 Get default value from constructor when type is a record.
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/test/Types.Records.Tests/RecordsTests.cs
  src/HotChocolate/Core/test/Types.Records.Tests/__snapshots__/RecordsTests.Records_Default_Value_Is_Taken_From_Ctor.snap
Labels: 🌶 hot chocolate, 🎉 enhancement

#2432 Fixed issue where empty selection sets lead to execution errors.
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.resx
  src/HotChocolate/Core/src/Execution/ThrowHelper.cs
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.resx
  src/HotChocolate/Core/src/Validation/Rules/FieldVisitor.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/OperationCompilerTests.cs
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/LeafFieldSelectionsRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.QueriesWithInvalidVariableTypes.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnInterfaceWithoutSubFieldsEmptySelection.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnObjectWithoutSubFieldsEmptySelection.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnUnionWithoutSubFieldsEmptySelection.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.EmptyMutationType.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.EmptyNamedMutationType.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.EmptyNamedQueryType.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.EmptyNamedSubscriptionType.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.EmptyQueryType.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.EmptySubscriptionType.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.InterfaceTypeMissingSelectionEmptySelection.snap
Labels: :beetle: bug, 🌶 hot chocolate

#2446 Adds IExecutable abstraction to core
  src/HotChocolate/Core/src/Abstractions/IExecutable.cs
  src/HotChocolate/Core/src/Abstractions/IExecutable~1.cs
  src/HotChocolate/Core/src/Execution/Processing/ResolverTask.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.Helper.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.Members.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.SystemType.cs
  src/HotChocolate/Core/test/Execution.Tests/CodeFirstTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/OperationCompilerTests.Field_Based_Optimizers.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/OperationCompilerTests.Object_Field_Visibility_Is_Correctly_Inherited.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/OperationCompilerTests.Object_Field_Visibility_Is_Correctly_Inherited_2.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/OperationCompilerTests.Object_Field_Visibility_Is_Correctly_Inherited_3.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/OperationCompilerTests.Prepare_Fragment_Definition.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/OperationCompilerTests.Prepare_Inline_Fragment.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/OperationCompilerTests.Reuse_Selection.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/ResultHelperTests.BuildResult_SimpleResultSet_SnapshotMatches.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/VariableCoercionHelperTests.Coerce_Nullable_ReviewInput_Variable_With_Dictionary.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/VariableCoercionHelperTests.Coerce_Nullable_ReviewInput_Variable_With_Review_Object.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/VariableCoercionHelperTests.Coerce_Nullable_String_Variable_With_Default_Where_Plain_Value_Is_Provided.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/VariableCoercionHelperTests.Error_When_Input_Field_Has_Different_Properties_Than_Defined.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/VariableCoercionHelperTests.Error_When_PlainValue_Is_Null_On_Non_Null_Variable.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/VariableCoercionHelperTests.Error_When_PlainValue_Type_Does_Not_Match_Variable_Type.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/VariableCoercionHelperTests.Error_When_Value_Is_Null_On_Non_Null_Variable.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/VariableCoercionHelperTests.Error_When_Value_Type_Does_Not_Match_Variable_Type.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/VariableCoercionHelperTests.Variable_Type_Is_Not_An_Input_Type.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/CodeFirstTests.ExecuteOneFieldQueryWithQuery.snap
  src/HotChocolate/Core/test/Types.Tests/Internal/ExtendedTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Internal/TypeInfoTests.cs
Labels: 🌶 hot chocolate, 🎉 enhancement

#2440 Add list input for sorting
  src/HotChocolate/Data/src/Data/Sorting/Expressions/QueryableSortProvider.cs
  src/HotChocolate/Data/src/Data/Sorting/Extensions/SortObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/SortVisitorBase`2.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/QueryableSortVisitorBooleanTests.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/QueryableSortVisitorObjectTests.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorBooleanTests.Create_Boolean_OrderBy_List_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorBooleanTests.Create_Boolean_OrderBy_List_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectString_OrderBy_TwoProperties_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectString_OrderBy_TwoProperties_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/QueryableSortVisitorBooleanTests.cs
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/QueryableSortVisitorObjectTests.cs
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorBooleanTests.Create_Boolean_OrderBy_List_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorBooleanTests.Create_Boolean_OrderBy_List_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectString_OrderBy_TwoProperties_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectString_OrderBy_TwoProperties_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/Convention/__snapshots__/SortConventionScopeTests.SortConvention_Should_Work_When_ConfiguredWithAttributes.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/Convention/__snapshots__/SortConventionScopeTests.SortConvention_Should_Work_When_ConfiguredWithType.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/ExtensionTests.ObjectField_UseSorting.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/ExtensionTests.ObjectField_UseSorting_Descriptor.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/ExtensionTests.ObjectField_UseSorting_Generic_RuntimeType.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/ExtensionTests.ObjectField_UseSorting_Generic_SchemaType.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/ExtensionTests.ObjectField_UseSorting_Type_RuntimeType.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/ExtensionTests.ObjectField_UseSorting_Type_SchemaType.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/SortAttributeTests.Create_Schema_With_SortType.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/SortAttributeTests.Create_Schema_With_SortType_With_Fluent_API.snap
Labels: 🌶 hot chocolate, 🎉 enhancement

#2412 Correcting the link to the execution options
  website/src/docs/hotchocolate/v10/security/security.md
Labels: :beetle: bug, 🌶 website

#2457 improve error messages for missing conventions
  src/HotChocolate/Data/src/Data/DataResources.Designer.cs
  src/HotChocolate/Data/src/Data/DataResources.resx
  src/HotChocolate/Data/src/Data/ThrowHelper.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/FilterInputTypeTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/FilterInputTypeTest.FilterInputType_Should_ThrowException_WhenNoConventionIsRegistered.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/FilterInputTypeTest.FilterInputType_Should_ThrowException_WhenNoConventionIsRegisteredDefault.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/SortInputTypeTests.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/SortInputTypeTest.SortInputType_Should_ThrowException_WhenNoConventionIsRegistered.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/SortInputTypeTest.SortInputType_Should_ThrowException_WhenNoConventionIsRegisteredDefault.snap
Labels: 🌶 hot chocolate, 🎉 enhancement

#2455 Removes ReportError On ConventionContext
  src/HotChocolate/Data/src/Data/ErrorHelper.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterProvider.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/SortProvider.cs
  src/HotChocolate/Data/src/Data/ThrowHelper.cs
Labels: :beetle: bug, 🌶 hot chocolate

#2479 Allow Executable to return arbitray response
  src/HotChocolate/Core/src/Abstractions/IExecutable~1.cs
Labels: 🌶 hot chocolate, 🎉 enhancement

#2477 Fix value coercion of enum values
  src/HotChocolate/Core/src/Execution/Processing/VariableCoercionHelper.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/VariableCoercionHelperTests.cs
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/Extensions/TestExtensions.cs
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/QueryableSortVisitorObjectTests.cs
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectString_OrderBy_TwoProperties_Variables_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectString_OrderBy_TwoProperties_Variables_ASC_sql.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectString_OrderBy_TwoProperties_Variables_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectString_OrderBy_TwoProperties_Variables_DESC_sql.snap
Labels: :beetle: bug, 🎉 enhancement

#2480 Prefetch TotalCount
  src/HotChocolate/Core/src/Types.OffsetPagination/HotChocolate.Types.OffsetPagination.csproj
  src/HotChocolate/Core/src/Types.OffsetPagination/OffsetPagingHandler.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/QueryableOffsetPagingHandler.cs
  src/HotChocolate/Data/src/EntityFramework/UseDbContextAttribute.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/HotChocolate.Data.EntityFramework.Tests.csproj
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/Query.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/UseDbContextTests.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Execute_Queryable_OffsetPaging.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Execute_Queryable_OffsetPaging_TotalCount.snap
Labels: :beetle: bug, 🌶 hot chocolate

#2476 Fixing projection of OffsetPaging
  src/HotChocolate/Data/src/Data/Projections/ProjectionVisitor.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/ProjectionVisitorTestBase.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionVisitorPagingTests.css.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/SchemaCache.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPagingNullable_ProjectsOneProperty_Items.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPagingNullable_ProjectsOneProperty_Items__sql.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPagingNullable_ProjectsTwoProperties_Items.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPagingNullable_ProjectsTwoProperties_Items__sql.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPaging_Projection_Should_Stop_When_UsePagingEncountered.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPaging_Projection_Should_Stop_When_UsePagingEncountered__sql.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPaging_Projection_Should_Stop_When_UseProjectionEncountered.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPaging_Projection_Should_Stop_When_UseProjectionEncountered__sql.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPaging_ProjectsOneProperty_Items.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPaging_ProjectsOneProperty_Items__sql.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPaging_ProjectsTwoProperties_Items.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPaging_ProjectsTwoProperties_Items_WithArgs.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPaging_ProjectsTwoProperties_Items_WithArgs__sql.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateOffsetPaging_ProjectsTwoProperties_Items__sql.snap
Labels: :beetle: bug, 🌶 hot chocolate

#2491 Fixed Stitching Issues
  src/HotChocolate/Core/src/Types/Contracts/ISchema.cs
  src/HotChocolate/Core/src/Types/Schema.cs
  src/HotChocolate/Core/src/Types/SchemaSerializer.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/DelegateToRemoteSchemaMiddleware.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/RemoteQueryBuilder.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ScopedVariables/ArgumentScopedVariableResolver.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ScopedVariables/ContextDataScopedVariableResolver.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ScopedVariables/FieldScopedVariableResolver.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ScopedVariables/RootScopedVariableResolver.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ScopedVariables/ScopedContextDataScopedVariableResolver.cs
  src/HotChocolate/Stitching/src/Stitching/ThrowHelper.cs
  src/HotChocolate/Stitching/src/Stitching/Utilities/StitchingSchemaInterceptor.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/ArgumentScopedVariableResolverTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/FieldScopedVariableResolverTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/BaseTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.AutoMerge_Execute_Customer_DoesNotExist_And_Is_Correctly_Null.snap
Labels: :beetle: bug, 🌶 hot chocolate
