Repository ChilliCream/graphql-platform, pull requests merged in 2020-01, with the labels that each got.

#1334 Update Source Link Settings
  src/Package.props
Labels: refactoring

#1363 fix(DI): fix hashprovider DI which has multiple constructors
  src/Core/Core/Execution/Extensions/QueryExecutionBuilderExtensions.cs
Labels: Hot Chocolate Core, bug

#1364 fix(DI): documenthashprovider fix for V10
  src/Core/Core/Execution/Extensions/QueryExecutionBuilderExtensions.cs
Labels: Hot Chocolate Core

#1235 add Support for ByteArray in Core and Client 🚀
  src/Client/Abstractions.Tests/ByteArrayValueSerializerTests.cs
  src/Client/Abstractions/Serializers/ByteArrayValueSerializer.cs
  src/Client/Abstractions/Serializers/ValueSerializers.cs
  src/Client/Abstractions/WellKnownScalars.cs
  src/Core/Core.Tests/Execution/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery.snap
  src/Core/Types.Tests/Types/Scalars/ByteArrayTypeTests.cs
  src/Core/Types.Tests/Types/Scalars/UuidTypeTests.cs
  src/Core/Types/Extensions/SchemaConfigurationExtensions.cs
  src/Core/Types/Types/Scalars/ByteArrayType.cs
  src/Core/Types/Types/Scalars/ScalarNames.cs
  src/Core/Types/Types/Scalars/Scalars.cs
Labels: enhancement

#1331 Fix Startup in template
  src/Templates/Server/content/HotChocolate.Server.Template.csproj
  src/Templates/Server/content/Startup.cs
Labels: bug

#1366 Fixed Publish Schema
  src/SchemaRegistry/Abstractions/SchemaVersion.cs
  src/SchemaRegistry/GraphQL.Tests/GraphQL.Tests.csproj
  src/SchemaRegistry/GraphQL.Tests/Schemas/SchemaMutationTests.cs
  src/SchemaRegistry/GraphQL.Tests/Schemas/__snapshots__/SchemaMutationTests.PublishSchema_DifferentTags.snap
  src/SchemaRegistry/GraphQL/BatchDataLoader.cs
  src/SchemaRegistry/GraphQL/GraphQL.csproj
  src/SchemaRegistry/GraphQL/Properties/Resources.Designer.cs
  src/SchemaRegistry/GraphQL/Properties/Resources.resx
  src/SchemaRegistry/GraphQL/Schemas/SchemaMutations.cs
  src/SchemaRegistry/Repositories.Mongo.Tests/SchemaRepositoryTests.cs
Labels: schema registry

#1378 Fixed sonar issues
  src/Client/Transport.Abstractions/MessageWriter.cs
Labels: refactoring

#1375 Allow the authorization middleware to control when the policy is allowed.
  src/Core/Core/Execution/Utilities/DirectiveMiddlewareCompiler.cs
  src/Core/Core/Execution/Utilities/FieldCollector.cs
  src/Core/Core/Validation/RequiredArgumentVisitor.cs
  src/Core/Types.Tests/Types/DirectiveTests.cs
  src/Core/Types.Tests/Types/InterfaceTypeAttributeTests.cs
  src/Core/Types.Tests/Types/ObjectTypeAttributeTests.cs
  src/Core/Types/Types/Argument.cs
  src/Core/Types/Types/Contracts/IInputField.cs
  src/Core/Types/Types/Descriptors/ArgumentDescriptorBase~1.cs
  src/Core/Types/Types/Descriptors/DirectiveArgumentDescriptor.cs
  src/Core/Types/Types/Directive.cs
  src/Core/Types/Types/DirectiveCollection.cs
  src/Core/Types/Types/Factories/DirectiveTypeFactory.cs
  src/Core/Types/Types/Factories/InputObjectTypeFactory.cs
  src/Core/Types/Types/Helpers/FieldInitHelper.cs
  src/Core/Types/Types/InputField.cs
  src/Core/Types/Utilities/ExtendedType.cs
  src/Core/Types/Utilities/NullableHelper.cs
  src/Core/Types/Utilities/NullableTypeExtensions.cs
  src/Core/Types/Utilities/Serialization/InputObjectConstructorResolver.cs
  src/Core/Types/Utilities/Serialization/InputObjectFactoryCompiler.cs
  src/Core/Types/Utilities/Serialization/InputObjectParserHelper.cs
  src/Server/.vscode/tasks.json
  src/Server/AspNetCore.Authorization/AspNetCore.Authorization.csproj
  src/Server/AspNetCore.Authorization/AuthorizeAttribute.cs
  src/Server/AspNetCore.Authorization/AuthorizeDirective.cs
  src/Server/AspNetCore.Authorization/AuthorizeDirectiveType.cs
  src/Server/AspNetCore.Authorization/AuthorizeMiddleware.cs
  src/Server/AspNetCore.Authorization/AuthorizeObjectFieldDescriptorExtensions.cs
  src/Server/AspNetCore.Authorization/AuthorizeObjectTypeDescriptorExtensions.cs
  src/Server/AspNetCore.Authorization/AuthorizeSchemaBuilderExtensions.cs
  src/Server/AspNetCore.Authorization/AuthorizeSchemaConfigurationExtensions.cs
  src/Server/AspNetCore.Authorization/AuthorizeSchemaTypeDescriptorExtensions.cs
  src/Server/AspNetCore.Authorization/ExecuteResolver.cs
  src/Server/AspNetCore.Authorization/ExecuteResolverType.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizationAttributeTestData.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizationTestData.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizationTests.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizeDirectiveTests.cs
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizationTests.Policy_Is_Executed_After_Resolver_User_Is_Allowed.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizationTests.Policy_Is_Executed_After_Resolver_User_Is_Denied.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicyAndRoles.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithRoles.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_DefaultPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithPolicyAndRoles.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithRoles.snap
  tools/CoreFramework.props
  tools/CoreServerFramework.props
  tools/ParserFramework.props
Labels: Hot Chocolate Server, enhancement

#1386 Changed scalar binding behavior
  src/Core/Core.Tests/Execution/Middleware/MaxComplexityMiddlewareTests.cs
  src/Core/Core.Tests/Execution/Utilities/VariableValueBuilderTests.cs
  src/Core/Core.Tests/Execution/Utilities/__snapshots__/VariableToValueRewriterTests.Replace_Variable_In_Object_List_Object.snap
  src/Core/Core.Tests/Execution/__snapshots__/IntrospectionTests.DefaultValueIsInputObject.snap
  src/Core/Core.Tests/Execution/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery.snap
  src/Core/Types.Tests/Configuration/SchemaTypeDiscoveryTests.cs
  src/Core/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Register_ClrType_InferSchemaTypes_clr.snap
  src/Core/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Register_ClrType_InferSchemaTypes_registered.snap
  src/Core/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Register_SchemaType_ClrTypeExists_clr.snap
  src/Core/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Register_SchemaType_ClrTypeExists_registered.snap
  src/Core/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Upgrade_Type_From_GenericType_clr.snap
  src/Core/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Upgrade_Type_From_GenericType_registered.snap
  src/Core/Types.Tests/SchemaFirstTests.cs
  src/Core/Types.Tests/Types/Directives/CostDirectiveTypeTests.cs
  src/Core/Types.Tests/Types/Scalars/ScalarBindingTests.cs
  src/Core/Types.Tests/Types/Scalars/__snapshots__/ScalarBindingTests.Ensure_That_Explicit_Binding_Behavior_Is_Respected_On_Scalars.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/ScalarBindingTests.Ensure_That_Implicit_Binding_Behavior_Is_Respected_On_Scalars.snap
  src/Core/Types.Tests/__snapshots__/SchemaFirstTests.DescriptionsAreCorrectlyRead.snap
  src/Core/Types/Configuration/DiscoveredTypes.cs
  src/Core/Types/Configuration/TypeRegistrar.cs
  src/Core/Types/Extensions/DirectiveTypeExtensions.cs
  src/Core/Types/SchemaTypes.cs
  src/Core/Types/Types/Directives/Directives.cs
  src/Core/Types/Types/Scalars/AnyType.cs
  src/Core/Types/Types/Scalars/BooleanType.cs
  src/Core/Types/Types/Scalars/ByteArrayType.cs
  src/Core/Types/Types/Scalars/ByteType.cs
  src/Core/Types/Types/Scalars/DateTimeType.cs
  src/Core/Types/Types/Scalars/DateType.cs
  src/Core/Types/Types/Scalars/DecimalType.cs
  src/Core/Types/Types/Scalars/FloatType.cs
  src/Core/Types/Types/Scalars/FloatTypeBase.cs
  src/Core/Types/Types/Scalars/IdType.cs
  src/Core/Types/Types/Scalars/IntType.cs
  src/Core/Types/Types/Scalars/IntegerTypeBase.cs
  src/Core/Types/Types/Scalars/LongType.cs
  src/Core/Types/Types/Scalars/MultiplierPathType.cs
  src/Core/Types/Types/Scalars/NameType.cs
  src/Core/Types/Types/Scalars/PaginationAmountType.cs
  src/Core/Types/Types/Scalars/ScalarType.cs
  src/Core/Types/Types/Scalars/ScalarType~1.cs
  src/Core/Types/Types/Scalars/ScalarType~2.cs
  src/Core/Types/Types/Scalars/Scalars.cs
  src/Core/Types/Types/Scalars/ShortType.cs
  src/Core/Types/Types/Scalars/StringType.cs
  src/Core/Types/Types/Scalars/UrlType.cs
  src/Core/Types/Types/Scalars/UuidType.cs
  src/Core/Utilities.Introspection.Tests/__snapshots__/IntrospectionClientTests.Download_Schema_AST.snap
  src/Core/Utilities.Introspection.Tests/__snapshots__/IntrospectionClientTests.Download_Schema_SDL.snap
  src/Core/Utilities.Introspection/IntrospectionQueryHelper.cs
  src/Core/Utilities.Introspection/IntrospectionTypes.cs
  src/Core/Utilities.Introspection/SchemaFeatures.cs
  src/Core/Utilities.Introspection/WellKnownDirectives.cs
  src/Core/Utilities.Introspection/WellKnownTypes.cs
  src/Core/Validation.Tests/MaxComplexityRuleTests.cs
  src/Core/Validation.Tests/Models/Cat.cs
  src/Core/Validation.Tests/QueryValidatorTests.cs
  src/Stitching/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddSchemaFromHttp.snap
Labels: Hot Chocolate Types, enhancement

#1391 Fixed default behavior for authorization resolver invocations.
  src/Server/AspNetCore.Authorization/AuthorizeAttribute.cs
  src/Server/AspNetCore.Authorization/AuthorizeDirective.cs
  src/Server/AspNetCore.Authorization/AuthorizeObjectFieldDescriptorExtensions.cs
  src/Server/AspNetCore.Authorization/AuthorizeObjectTypeDescriptorExtensions.cs
  src/Server/AspNetCore.Authorization/ExecuteResolver.cs
  src/Server/AspNetCore.Authorization/ExecuteResolverType.cs
  src/Server/AspNetCore.Tests/Authorization/AuthorizeDirectiveTests.cs
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithRoles.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_DefaultPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithPolicy.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithPolicyAndRoles.snap
  src/Server/AspNetCore.Tests/Authorization/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithRoles.snap
Labels: Hot Chocolate Server, bug

#1394 Use Expression.Not in FilterExpressionBuilder.Not
  src/Core/Types.Filters/Expressions/FilterExpressionBuilder.cs
Labels: Filter

#1406 Fixed issue where the backing type was rejected during deserialization.
  src/Core/Core.Tests/Execution/Utilities/VariableValueBuilderTests.cs
  src/Core/Types/Types/InputObjectType.cs
Labels: Hot Chocolate Types

#1370 Fixed issue that causes `CollectFields` to throw errors when done through the `DirectiveContext`.
  src/Core/Core/Execution/Utilities/DirectiveContext.cs
Labels: Hot Chocolate Core, bug

#1404 Added check for DefaultValue in ArgumentNonNullValidator
  src/Core/Core.Tests/Execution/Utilities/ArgumentNonNullValidatorTests.cs
  src/Core/Core/Execution/Utilities/ArgumentNonNullValidator.cs
  src/Core/Core/Execution/Utilities/FieldCollector.cs
Labels: bug

#1409 fix(Filters): fix scalar list filter type
  src/Core/Types.Filters.Tests/QueryableFilterVisitorArrayTests.cs
  src/Core/Types.Filters/Expressions/OperationHandlers/Array/ArrayAnyOperationHandler.cs
  src/Core/Types.Filters/Expressions/OperationHandlers/Boolean/BooleanEqualsOperationHandler.cs
  src/Core/Types.Filters/Expressions/OperationHandlers/Comparable/ComparableInOperationHandler.cs
  src/Core/Types.Filters/Expressions/OperationHandlers/Comparable/ComparableOperationHandlerBase.cs
  src/Core/Types.Filters/Expressions/OperationHandlers/IExpressionOperationHandler.cs
  src/Core/Types.Filters/Expressions/OperationHandlers/String/StringInOperationHandler.cs
  src/Core/Types.Filters/Expressions/OperationHandlers/String/StringOperationHandlerBase.cs
  src/Core/Types.Filters/QueryableFilterVisitor.cs
Labels: Filter, bug

#1405 Add Subscribe Resolver Compiler
  src/Core/Types.Tests/Resolvers/ResolverPropertyGeneratorTests.cs
  src/Core/Types.Tests/Types/Descriptors/ObjectFieldDescriptorTests.cs
  src/Core/Types.Tests/Types/SubscriptionTypeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomething.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomethingObj.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomethingObjTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomethingObjValueTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomethingTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomethingValueTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomething.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomethingObj.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomethingObjTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomethingObjValueTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomethingTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomethingValueTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomething.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomethingObj.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomethingObjTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomethingObjValueTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomethingTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomethingValueTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomething.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomethingObj.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomethingObjTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomethingObjValueTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomethingTask.snap
  src/Core/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomethingValueTask.snap
  src/Core/Types/Configuration/ResolverCompiler.cs
  src/Core/Types/Resolvers/Expressions/ResolveCompiler.cs
  src/Core/Types/Resolvers/Expressions/ResolverCompiler.cs
  src/Core/Types/Resolvers/Expressions/ResolverDescriptor.cs
  src/Core/Types/Resolvers/Expressions/SubscribeCompiler.cs
  src/Core/Types/Resolvers/Expressions/SubscribeExpressionHelper.cs
  src/Core/Types/Types/Attributes/DefaultValueAttribute.cs
  src/Core/Types/Types/Attributes/SubscribeAttribute.cs
  src/Core/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/Core/Types/Types/Descriptors/Extensions/SubscribeResolverObjectFieldDescriptorExtensions.cs
  src/Core/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptorBase~1.cs
  src/Core/Types/Types/Descriptors/ObjectTypeExtensionDescriptor~1.cs
  src/Core/Types/Types/Helpers/TypeExtensionHelper.cs
  src/Core/Types/Types/ObjectTypeExtension.cs
  src/Core/Types/Utilities/DotNetTypeInfoFactory.cs
  src/Core/Types/Utilities/ExtendedTypeRewriter.cs
  src/Core/Types/Utilities/Subscriptions/AsyncEnumerableStreamAdapter.cs
  src/Core/Types/Utilities/Subscriptions/EnumerableSourceStreamAdapter.cs
  src/Core/Types/Utilities/Subscriptions/ObservableSourceStreamAdapter.cs
Labels: Hot Chocolate Types, enhancement

#1415 fix(Filters): fix array null filter expcetion
  src/Core/Types.Filters.Mongo.Tests/MongoFilterTests.cs
  src/Core/Types.Filters.Tests/QueryableFilterVisitorArrayTests.cs
  src/Core/Types.Filters/Expressions/FieldHandlers/ArrayFieldHandler.cs
  src/Core/Types.Filters/Expressions/FieldHandlers/IExpressionFieldHandler.cs
  src/Core/Types.Filters/Expressions/FieldHandlers/ObjectFieldHandler.cs
  src/Core/Types.Filters/Expressions/OperationHandlers/Array/ArrayAnyOperationHandler.cs
  src/Core/Types.Filters/QueryableFilterVisitor.cs
Labels: Filter, bug

#1412 Removed GraphiQL middleware
  CHANGELOG.md
  README.md
  examples/AspNetCore.StarWars/AspNetCore.StarWars.csproj
  examples/AspNetCore.StarWars/Startup.cs
  src/Server/AspNetCore.Abstractions/GraphiQLOptionsBase.cs
  src/Server/AspNetCore.GraphiQL/ApplicationBuilderExtensions.cs
  src/Server/AspNetCore.GraphiQL/AspNetCore.GraphiQL.csproj
  src/Server/AspNetCore.GraphiQL/GraphiQLOptions.cs
  src/Server/AspNetCore.GraphiQL/Resources/es6-promise.auto.min.js
  src/Server/AspNetCore.GraphiQL/Resources/fetch.min.js
  src/Server/AspNetCore.GraphiQL/Resources/graphiql-subscriptions-fetcher-client.js
  src/Server/AspNetCore.GraphiQL/Resources/graphiql.css
  src/Server/AspNetCore.GraphiQL/Resources/graphiql.js
  src/Server/AspNetCore.GraphiQL/Resources/index.html
  src/Server/AspNetCore.GraphiQL/Resources/react-dom.min.js
  src/Server/AspNetCore.GraphiQL/Resources/react.min.js
  src/Server/AspNetCore.GraphiQL/Resources/settings.js
  src/Server/AspNetCore.GraphiQL/Resources/subscriptions-transport-ws-client.js
  src/Server/AspNetCore.GraphiQL/SettingsMiddleware.cs
  src/Server/AspNetCore.Playground/PlaygroundOptions.cs
  src/Server/AspNetCore.Tests/AspNetCore.Tests.csproj
  src/Server/AspNetCore.Tests/GraphiQL/GraphiQLMiddlewareTests.cs
  src/Server/AspNetCore.Tests/GraphiQL/GraphiQLOptionsTests.cs
  src/Server/AspNetCore.Tests/GraphiQL/__snapshots__/GraphiQLMiddlewareTests.Default_Values.snap
  src/Server/AspNetCore.Tests/GraphiQL/__snapshots__/GraphiQLMiddlewareTests.Disable_Subscriptions.snap
  src/Server/AspNetCore.Tests/GraphiQL/__snapshots__/GraphiQLMiddlewareTests.SetPath.snap
  src/Server/AspNetCore.Tests/GraphiQL/__snapshots__/GraphiQLMiddlewareTests.SetPath_Then_SetQueryPath.snap
  src/Server/AspNetCore.Tests/GraphiQL/__snapshots__/GraphiQLMiddlewareTests.SetQueryPath.snap
  src/Server/AspNetCore.Tests/GraphiQL/__snapshots__/GraphiQLMiddlewareTests.SetQueryPath_Then_SetPath.snap
  src/Server/AspNetCore.Tests/GraphiQL/__snapshots__/GraphiQLMiddlewareTests.SetQueryPath_Then_SetSubscriptionPath.snap
  src/Server/AspNetCore.Tests/GraphiQL/__snapshots__/GraphiQLMiddlewareTests.SetSubscriptionPath.snap
  src/Server/AspNetCore.Tests/GraphiQL/__snapshots__/GraphiQLMiddlewareTests.SetSubscriptionPath_Then_SetQueryPath.snap
  src/Server/Server.sln
  tools/Build.All.NoDocker.sln
  tools/Build.Core.sln
  tools/Build.sln
Labels: Hot Chocolate Server

#1419 feat(Sorting): adds nullable sort support to v10
  src/Core/Types.Sorting.Tests/QueryableSortVisitorTests.cs
  src/Core/Types.Sorting.Tests/SortInputTypeTests.cs
  src/Core/Types.Sorting.Tests/Types.Sorting.Tests.csproj
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Implicit_Sorting.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Implicit_Sorting_NoBindInvocation.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Implicit_Sorting_WithIgnoredField.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.Create_Implicit_Sorting_WithRenamedField.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDescription.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDirectives_DirectiveClassInstance.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDirectives_DirectiveNode.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDirectives_DirectiveType.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDirectives_NameArgs.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddDirectives_NameArgs2.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_AddName.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_DynamicName.snap
  src/Core/Types.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_DynamicName_NonGeneric.snap
  src/Core/Types.Sorting/SortInputTypeDescriptor.cs
Labels: Sort, enhancement

#1420 feat(Sorting): add nullable tests
  src/Core/Types.Sorting.Tests/QueryableExtensionsTests.cs
  src/Core/Types.Sorting.Tests/QueryableSortVisitorTests.cs
Labels: Sort

#1426 Fixed ByteArray Serialization
  src/Core/Types.Tests/Types/Scalars/ByteArrayTypeTests.cs
  src/Core/Types/Types/Scalars/ByteArrayType.cs
Labels: bug

#1190 🚧 Support endpoint routing in .NET Core 3.0
  src/Server/AspNetCore.Abstractions/AspNetCore.Abstractions.csproj
  src/Server/AspNetCore.GraphiQL/EndpointRouteBuilderExtensions.cs
  src/Server/AspNetCore.Playground/EndpointRouteBuilderExtensions.cs
  src/Server/AspNetCore.Tests.Utilities/AspNetCore.Tests.Utilities.csproj
  src/Server/AspNetCore.Tests.Utilities/TestServerFactory.cs
  src/Server/AspNetCore.Tests/AspNetCore.Tests.csproj
  src/Server/AspNetCore.Voyager/EndpointRouteBuilderExtensions.cs
  src/Server/AspNetCore/Extensions/EndpointRouteBuilderExtensions.cs
Labels: Hot Chocolate Server, enhancement
