Repository ChilliCream/graphql-platform, pull requests merged in 2020-04, with the labels that each got.

#1641 Nullable Value Type Support for GreenDonut
  src/GreenDonut/benchmarks/Benchmarks/CompoundKeyBenchmarks.cs
  src/GreenDonut/benchmarks/Benchmarks/CompoundKeyEqualBenchmarks.cs
  src/GreenDonut/src/Core/CacheKeyResolverDelegate.cs
  src/GreenDonut/src/Core/CancellationTokenSourceExtensions.cs
  src/GreenDonut/src/Core/DataLoader.cs
  src/GreenDonut/src/Core/DataLoaderBase.cs
  src/GreenDonut/src/Core/DataLoaderExtensions.cs
  src/GreenDonut/src/Core/DataLoaderOptions.cs
  src/GreenDonut/src/Core/DiagnosticEvents.cs
  src/GreenDonut/src/Core/FetchDataDelegate.cs
  src/GreenDonut/src/Core/IDataLoader.cs
  src/GreenDonut/src/Core/ITaskCache.cs
  src/GreenDonut/src/Core/Result.cs
  src/GreenDonut/src/Core/SynchronizationExtensions.cs
  src/GreenDonut/src/Core/TaskCache.cs
  src/GreenDonut/src/Core/TaskCompletionBuffer.cs
  src/GreenDonut/test/Core.Tests/CancellationTokenSourceExtensionsTests.cs
Labels: 🌶 green donut, 🎨 refactoring

#1646 Fix an issue with nullable reference type inference in certain scenarios
  src/HotChocolate/Core/src/Types/Utilities/NullableHelper.cs
  src/HotChocolate/Core/test/Types.Tests/CodeFirstTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.InferSchemaWithNonNullRefTypesAndGenerics.snap
Labels: :beetle: bug

#1651 Fix use selection nullable relation
  src/Core/Types.Selection.Abstractions.Tests/SelectionTestsBase.cs
  src/Core/Types.Selection/SelectionClosure.cs
  src/Core/Types.Selection/SelectionVisitor.cs
Labels: 🌶 hot chocolate

#1635 fix variables inside argument objects not based to remote schema in stitching
  src/HotChocolate/Language/src/Language/Legacy/Visitors/SyntaxRewriter.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Middleware/VariableDelegationTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Middleware/__snapshots__/VariableDelegationTests.ObjectFieldVariableIsCorrectlyPassed_result.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Middleware/__snapshots__/VariableDelegationTests.ObjectFieldVariableIsCorrectlyPassed_schema.snap
Labels: :beetle: bug, 🌶 hot chocolate

#1652 Migrated Operation Rules
  src/HotChocolate/Core/src/Validation/Extensions/ValidationRuleServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/Rules/OperationRule.cs
  src/HotChocolate/Core/src/Validation/Rules/VariableUniqueAndInputTypeVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/InputObjectFieldNamesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/LoneAnonymousOperationRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/LoneAnonymousOperationRuleTests_Old.cs
  src/HotChocolate/Core/test/Validation.Tests/OperationNameUniquenessRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/OperationNameUniquenessRuleTests_Old.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LoneAnonymousOperationRuleTests.QueryWithOneAnonymousAndOneNamedOperation.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LoneAnonymousOperationRuleTests.QueryWithTwoAnonymousOperations.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OperationNameUniquenessRuleTests.TwoOperationsWithTheSameName.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OperationNameUniquenessRuleTests.TwoQueryOperationsWithTheSameName.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1653 Fixed issue when null was converted to value type.
  src/HotChocolate/Core/src/Types/Utilities/TypeConversion.cs
  src/HotChocolate/Core/test/Core.Tests/Integration/TypeConversion/TypeConversionTests.cs
Labels: :beetle: bug, 🌶 hot chocolate

#1656 Migrated argument validation rules
  src/HotChocolate/Core/src/Validation/DocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/DocumentValidatorVisitor.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationRuleServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/Rules/AllVariableUsagesAreAllowedVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/AllVariablesUsedVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/ArgumentsVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/DirectivesVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Rules/ExecutableDefinitionsRule.cs
  src/HotChocolate/Core/src/Validation/Rules/FieldMustBeDefinedVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/FragmentsVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/InputObjectVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/OperationRule.cs
  src/HotChocolate/Core/src/Validation/Rules/VariableUniqueAndInputTypeVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/VariablesVisitor.cs
  src/HotChocolate/Core/src/Validation/TypeDocumentValidatorVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/AllVariableUsagesAreAllowedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/AllVariablesUsedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/ArgumentNamesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/ArgumentNamesRuleTests_Old.cs
  src/HotChocolate/Core/test/Validation.Tests/ArgumentUniquenessRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/ArgumentUniquenessRuleTests_Old.cs
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorVisitorTestBase.cs
  src/HotChocolate/Core/test/Validation.Tests/RequiredArgumentRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/RequiredArgumentRuleTests_Old.cs
  src/HotChocolate/Core/test/Validation.Tests/VariableUniquenessRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/VariablesAreInputTypesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/AllVariablesUsedRuleTests.QueryWithExtraVar.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/AllVariablesUsedRuleTests.VariableNotUsedWithinFragment.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/AllVariablesUsedRuleTests.VariableUnused.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/AllVariablesUsedRuleTests.VariableUsedAndNotDeclared.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/AllVariablesUsedRuleTests.VariableUsedAndNotDeclared2.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/AllVariablesUsedRuleTests.VarsMustBeDefinedInAllOperationsInWhichAFragmentIsUsedErr.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.InvalidDirectiveArgName.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.InvalidFieldArgName.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentUniquenessRuleTests.DuplicateArgument.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldMustBeDefinedRuleTests.DefinedOnImplementorsButNotInterfaceOnPet.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldMustBeDefinedRuleTests.DirectFieldSelectionOnUnion.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldMustBeDefinedRuleTests.FieldIsNotDefinedOnTypeInFragment.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FragmentSpreadIsPossibleRuleTests.FragmentDoesNotMatchType.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/InputObjectFieldUniquenessRuleTests.NameFieldIsAmbiguous.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OperationNameUniquenessRuleTests.TwoOperationsWithTheSameName.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OperationNameUniquenessRuleTests.TwoQueryOperationsWithTheSameName.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/RequiredArgumentRuleTests.MissingRequiredArg.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/RequiredArgumentRuleTests.MissingRequiredArgNonNullBooleanArg.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/RequiredArgumentRuleTests.MissingRequiredDirectiveArg.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/VariablesAreInputTypesRuleTests.QueriesWithInvalidVariableTypes.snap
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitorOptions.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitor~1.VisitationMap.cs
Labels: 🌶 hot chocolate, 🎨 refactoring

#1657 Integrate new validation.
  src/HotChocolate/Core/src/Core/Execution/Extensions/QueryExecutionBuilderExtensions.cs
  src/HotChocolate/Core/src/Core/Execution/IQueryContext.cs
  src/HotChocolate/Core/src/Core/Execution/Middleware/ValidateQueryMiddleware.cs
  src/HotChocolate/Core/src/Core/Execution/QueryContext.cs
  src/HotChocolate/Core/src/Core/HotChocolate.Core.csproj
  src/HotChocolate/Core/src/Types/InternalsVisibleTo.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__TypeNameField.cs
  src/HotChocolate/Core/src/Validation/DocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/DocumentValidatorVisitor.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationRuleServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidator.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/Rules/ArgumentsVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/DirectivesVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Rules/FieldMustBeDefinedVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/FieldsVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/FragmentsVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/InputObjectVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/VariablesVisitor.cs
  src/HotChocolate/Core/src/Validation/TypeDocumentValidatorVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/AllVariableUsagesAreAllowedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/AllVariablesUsedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/ArgumentNamesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/DirectivesAreDefinedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorVisitorTestBase.cs
  src/HotChocolate/Core/test/Validation.Tests/ExecutableDefinitionsRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FieldMustBeDefinedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FieldSelectionMergingRuleTests_Old.cs
  src/HotChocolate/Core/test/Validation.Tests/FragmentNameUniquenessRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FragmentSpreadIsPossibleRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FragmentSpreadTargetDefinedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FragmentSpreadTypeExistenceRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FragmentSpreadsMustNotFormCyclesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FragmentsMustBeUsedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FragmentsOnCompositeTypesRule.cs
  src/HotChocolate/Core/test/Validation.Tests/HotChocolate.Validation.Tests.csproj
  src/HotChocolate/Core/test/Validation.Tests/InputObjectFieldNamesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/InputObjectFieldUniquenessRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/InputObjectRequiredFieldsRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/LeafFieldSelectionsRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/LeafFieldSelectionsRuleTests_Old.cs
  src/HotChocolate/Core/test/Validation.Tests/LoneAnonymousOperationRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/OperationNameUniquenessRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/QueryValidatorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/CatType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/DogType.cs
  src/HotChocolate/Core/test/Validation.Tests/ValidationUtils.cs
  src/HotChocolate/Core/test/Validation.Tests/VariableUniquenessRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/VariablesAreInputTypesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.InvalidDirectiveArgName.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldMustBeDefinedRuleTests.DefinedOnImplementorsButNotInterfaceOnPet.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldMustBeDefinedRuleTests.FieldIsNotDefinedOnTypeInFragment.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnInterfaceWithoutSubFields.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnObjectWithoutSubFields.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnUnionWithoutSubFields.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionsNotAllowedOnInt.snap
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitor~1.cs
Labels: 🎨 refactoring

#1661 Migrated Subscription Rule
  src/HotChocolate/Core/src/Validation/Extensions/ValidationRuleServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/Rules/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Rules/OperationVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/ArgumentNamesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/ArgumentUniquenessRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/ExecutableDefinitionsRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/RequiredArgumentRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/SubscriptionSingleRootFieldRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/SubscriptionSingleRootFieldRuleTests_Old.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/SubscriptionSingleRootFieldRuleTests.DisallowedIntrospectionField.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/SubscriptionSingleRootFieldRuleTests.DisallowedSecondRootField.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/SubscriptionSingleRootFieldRuleTests.DisallowedSecondRootFieldWithinDirective.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1665 Migrate Field Merging Rule
  src/HotChocolate/Core/src/Types/Types/Extensions/TypeExtensions.cs
  src/HotChocolate/Core/src/Validation/DocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/FieldInfo.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/Pooling/DocumentValidatorContextPool.cs
  src/HotChocolate/Core/src/Validation/Pooling/FieldInfoListBuffer.cs
  src/HotChocolate/Core/src/Validation/Pooling/FieldInfoListBufferPool.cs
  src/HotChocolate/Core/src/Validation/Rules/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Rules/FieldsVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/FieldSelectionMergingRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__resources__/InvalidIntrospectionQuery.graphql
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldSelectionMergingRuleTests.ConflictingArgsOnValues.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldSelectionMergingRuleTests.ConflictingArgsValueAndVar.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldSelectionMergingRuleTests.ConflictingArgsWithVars.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldSelectionMergingRuleTests.ConflictingBecauseAlias.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldSelectionMergingRuleTests.ConflictingDifferingResponses.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldSelectionMergingRuleTests.DifferingArgs.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldSelectionMergingRuleTests.ShortHandQueryWithDuplicateFieldInSecondLevelFragment.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1654 Fix Selection on Nullable Relation
  src/HotChocolate/Core/benchmark/validation.ps1
  src/HotChocolate/Filters/src/Types.Filters/Expressions/FieldHandlers/ArrayFieldHandler.cs
  src/HotChocolate/Filters/src/Types.Filters/Expressions/FieldHandlers/ObjectFieldHandler.cs
  src/HotChocolate/Filters/src/Types.Filters/QueryableFilterVisitor.cs
  src/HotChocolate/Filters/src/Types.Selections/SelectionClosure.cs
  src/HotChocolate/Filters/src/Types.Selections/SelectionVisitor.cs
  src/HotChocolate/Filters/test/Types.Selections.InMemory.Tests/SelectionTests.cs
  src/HotChocolate/Filters/test/Types.Selections.Mongo.Tests/SelectionTests.cs
  src/HotChocolate/Filters/test/Types.Selections.PostgreSql.Tests/PostgreSqlServerProvider.cs
  src/HotChocolate/Filters/test/Types.Selections.PostgreSql.Tests/SelectionTests.cs
  src/HotChocolate/Filters/test/Types.Selections.SqlServer.Tests/SelectionTests.cs
  src/HotChocolate/Filters/test/Types.Selections.SqlServer.Tests/SqlServerProvider.cs
  src/HotChocolate/Language/src/Language.Visitors/Actions/SkipAndLeaveSyntaxVisitorAction.cs
  src/HotChocolate/Language/src/Language.Visitors/Contracts/SyntaxVisitorActionKind.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitor~1.cs
Labels: 🌶 hot chocolate

#1684 Migrated tests from GraphQL-JS regarding unique arguments
  src/HotChocolate/Core/test/Validation.Tests/ArgumentNamesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Models/Query.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/CustomDirectiveType.cs
  src/HotChocolate/Core/test/Validation.Tests/ValidationUtils.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.DuplicateDirectiveArguments.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.DuplicateFieldArguments.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.ManyDuplicateDirectiveArguments.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.ManyDuplicateFieldArguments.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1682 Migrated tests from GraphQL-JS regarding scalar leafs
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/test/Validation.Tests/LeafFieldSelectionsRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Models/Dog.cs
  src/HotChocolate/Core/test/Validation.Tests/RequiredArgumentRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/ArgumentsType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/CatType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/FurColor.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.InterfaceTypeMissingSelection.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedOnBoolean.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedOnEnum.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedWithArgs.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedWithDirectives.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedWithDirectivesAndArgs.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/RequiredArgumentRuleTests.IncorrectValueAndMissingArgument.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/RequiredArgumentRuleTests.MissingMultipleNonNullableArguments.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/RequiredArgumentRuleTests.MissingOneNonNullableArgument.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/RequiredArgumentRuleTests.WithDirectiveWithMissingTypes.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1683 Test SingleFieldSubscriptionsRule
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/QueryValidatorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/SubscriptionSingleRootFieldRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/SubscriptionType.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.DisallowedSecondRootField.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/SubscriptionSingleRootFieldRuleTests.DisallowedSecondRootFieldAnonymous.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/SubscriptionSingleRootFieldRuleTests.FailsWithManyMoreThanOneRootField.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1677 Migrated GraphQL-JS test for unused fragments.
  src/HotChocolate/Core/test/Validation.Tests/NoUnusedFragmentsRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUnusedFragmentsRuleTests.ContainsUnknownAndUndefFragments.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUnusedFragmentsRuleTests.ContainsUnknownFragments.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUnusedFragmentsRuleTests.ContainsUnknownFragmentsWithRefCycle.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1671 Mlstubblefield fix/stream closed too early
  src/HotChocolate/AspNetCore/src/AspNetCore.HttpPost/HttpPostMiddleware.cs
Labels: 🌶 hot chocolate

#1664 Test KnownArgumentNamesRule
  src/HotChocolate/Core/test/Validation.Tests/ArgumentNamesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/ValidationUtils.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.DirectiveWithWrongArgsIsInvalid.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.MisspelledDirectiveArgsAreReported.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.MisspelledFieldArgsAreReported.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.UnknownArgsAmongstKnowArgs.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ArgumentNamesRuleTests.UnknownArgsDeeply.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1666 Migrated graphql-js tests for known directive rule.
  src/HotChocolate/Core/test/Validation.Tests/DirectivesAreDefinedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/ValidationUtils.cs
Labels: 🌶 hot chocolate, 🎨 refactoring

#1674 Migrated graphql-js tests for known fragment names rule.
  src/HotChocolate/Core/test/Validation.Tests/FragmentNameUniquenessRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/KnownFragmentNamesRule.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/KnownFragmentNamesTests.DuplicateFragments.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1678 Migrated graphql-js tests for unused fragments.
  src/HotChocolate/Core/test/Validation.Tests/FragmentSpreadsMustNotFormCyclesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/NoUndefinedVariablesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/NoUnusedVariablesRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/HumanType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/QueryType.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.SkipDirectiveIsInTheWrongPlace.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FragmentSpreadsMustNotFormCyclesRuleTests.NoSpreadingItselfDeeply.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FragmentSpreadsMustNotFormCyclesRuleTests.NoSpreadingItselfDeeplyAndImmediately.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FragmentSpreadsMustNotFormCyclesRuleTests.NoSpreadingItselfDeeplyTwoPaths.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FragmentSpreadsMustNotFormCyclesRuleTests.NoSpreadingItselfDeeplyTwoPathsAltTraverseOrder.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FragmentSpreadsMustNotFormCyclesRuleTests.NoSpreadingItselfDirectly.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FragmentSpreadsMustNotFormCyclesRuleTests.NoSpreadingItselfDirectlyWithinInlineFragment.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FragmentSpreadsMustNotFormCyclesRuleTests.NoSpreadingItselfIndirectly.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FragmentSpreadsMustNotFormCyclesRuleTests.NoSpreadingItselfIndirectlyWithinInlineFragment.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FragmentSpreadsMustNotFormCyclesRuleTests.SpeardingRecursivelyWithinFieldFails.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUndefinedVariablesRuleTests.MultipleUndefinedVariablesProduceMultipleErrors.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUndefinedVariablesRuleTests.MultipleVariablesInFragmentsNotDefined.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUndefinedVariablesRuleTests.MultipleVariablesNotDefined.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUndefinedVariablesRuleTests.SingleVariableInFragmentNotDefinedByMultipleOperations.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUndefinedVariablesRuleTests.VariableInFragmentNotDefinedByOperation.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUndefinedVariablesRuleTests.VariableInFragmentNotDefinedByUnNamedQuery.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUndefinedVariablesRuleTests.VariableInFragmentUsedByOtherOperation.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUndefinedVariablesRuleTests.VariableNotDefined.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUndefinedVariablesRuleTests.VariableNotDefinedByUnNamedQuery.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUndefinedVariablesRuleTests.VariablesInFragmentNotDefinedByMultipleOperations.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUnusedVariablesRuleTests.MultipleVariablesNotUsed.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUnusedVariablesRuleTests.MultipleVariablesNotUsedInFragments.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUnusedVariablesRuleTests.VariableNotUsedByFragmentUsedByOtherOperation.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUnusedVariablesRuleTests.VariableNotUsedByUnreferencedFragment.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/NoUnusedVariablesRuleTests.VariableNotUsedInFragments.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/QueryValidatorTests.SkipDirectiveIsInTheWrongPlace.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1675 Migrated tests from GraphQL-JS regarding anonymous operation rule
  src/HotChocolate/Core/src/Core/Execution/JsonQueryResultSerializer.cs
  src/HotChocolate/Core/test/Core.Tests/Execution/ArgumentTests.cs
  src/HotChocolate/Core/test/Core.Tests/Execution/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery_ToJson.snap
  src/HotChocolate/Core/test/Validation.Tests/LoneAnonymousOperationRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/MutationType.cs
  src/HotChocolate/Core/test/Validation.Tests/ValidationUtils.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LoneAnonymousOperationRuleTests.AnonymoutOperationWithAMutation.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LoneAnonymousOperationRuleTests.AnonymoutOperationWithASubscription.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1681 Test ProvidedRequiredArguments
  src/HotChocolate/Core/test/Validation.Tests/RequiredArgumentRuleTests.cs
Labels: 🌶 hot chocolate, 🎨 refactoring

#1691 Temporary fix for variable coercion.
  src/HotChocolate/Core/src/Core/Execution/Utilities/VariableValueBuilder.cs
  src/HotChocolate/Core/test/Core.Tests/Execution/Utilities/VariableValueBuilderTests.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Extensions/ValueNodeExtensions.cs
Labels: :beetle: bug, 🌶 hot chocolate

#1663 Migrated graphql-js validation tests for fields on correct type.
  src/HotChocolate/Core/test/Validation.Tests/FieldsOnCorrectTypeRule.cs
  src/HotChocolate/Core/test/Validation.Tests/Models/Query.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.BadAliasedFieldTargetNotDefined.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.BadAliasedLyingFieldTargetNotDefined.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.BadFieldNotDefinedOnFragement.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.BadFieldNotDefinedOnInlineFragment.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.BadIgnoresDeeplyUnknownField.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.BadNotDefinedOnInterface.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.BadReportsErrorWhenTypeIsKnown.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.BadSubFieldNotDefined.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.DefinedOnImplementorQueriedOnUnion.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.DefinedOnImplementorsButNotOnInterface.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldsOnCorrectTypeRuleTests.DireftFieldSelectionOnUnion.snap
Labels: 🌶 hot chocolate, 🎨 refactoring

#1725 Fixed issue where we did not correctly cleared our rented buffers for the validation.
  src/HotChocolate/Core/src/Validation/DocumentValidatorContext.cs
Labels: :beetle: bug, 🌶 hot chocolate

#1729 Added temporary fix for the argument coercion.
  src/HotChocolate/Core/src/Core/Execution/Utilities/ResolverContext.CoerceArgumentValue.cs
  src/HotChocolate/Core/test/Core.Tests/Execution/Utilities/VariableValueBuilderTests.cs
  src/HotChocolate/Core/test/Core.Tests/Execution/Utilities/__snapshots__/VariableValueBuilderTests.Ensure_That_Mixed_Inputs_Can_Be_Forced_On_Backing_Type_Interface.snap
Labels: :beetle: bug, 🌶 hot chocolate

#1699 Activating Open Collective
  README.md
Labels: 📚 documentation

#1746 Enable nested variables in stiching
  src/Core/Language/Visitors/QuerySyntaxRewriter.cs
  src/Stitching/Stitching.Tests/Merge/__snapshots__/SchemaMergerTests.MergeDemoSchemaAndRemoveRootTypes.snap
  src/Stitching/Stitching.Tests/Merge/__snapshots__/SchemaMergerTests.MergeDemoSchemaAndRemoveRootTypesOnSchemaA.snap
  src/Stitching/Stitching.Tests/Merge/__snapshots__/SchemaMergerTests.MergeDemoSchemaWithDefaultHandler.snap
  src/Stitching/Stitching.Tests/Middleware/DelegateToRemoteSchemaMiddlewareTests.cs
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/DelegateToRemoteSchemaMiddlewareTests.ExecuteStitchingQueryWithVariables.snap
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/VariableDelegationTests.ListVariableIsCorrectlyPassed_schema.snap
  src/Stitching/Stitching.Tests/Middleware/__snapshots__/VariableDelegationTests.ScopedListVariableIsCorrectlyPassed_schema.snap
  src/Stitching/Stitching.Tests/Schemas/Customers/ComplexInput.cs
  src/Stitching/Stitching.Tests/Schemas/Customers/ComplexInputType.cs
  src/Stitching/Stitching.Tests/Schemas/Customers/CustomerType.cs
  src/Stitching/Stitching.Tests/Utilities/__snapshots__/ExtractFieldQuerySyntaxRewriterTests.ExtractField_Stitching.graphql_StitchingQueryWithVariables.graphql.snap
  src/Stitching/Stitching.Tests/Utilities/__snapshots__/MergeQueryRewriterTests.QueryWithPrivateVariables.snap
  src/Stitching/Stitching.Tests/__resources__/Customer.graphql
  src/Stitching/Stitching.Tests/__resources__/Stitching.graphql
  src/Stitching/Stitching.Tests/__resources__/StitchingQueryWithVariables.graphql
  src/Stitching/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddExtensionsFromFile.snap
  src/Stitching/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddExtensionsFromString.snap
  src/Stitching/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddSchemaFromFile.snap
  src/Stitching/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddSchemaFromHttp.snap
  src/Stitching/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddSchemaFromString.snap
  src/Stitching/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddSchema_2.snap
  src/Stitching/Stitching/Utilities/ExtractFieldQuerySyntaxRewriter.cs
Labels: :beetle: bug, 🌶 hot chocolate

#1781 Website Improvements & Search
  website/gatsby-config.js
  website/gatsby-node.js
  website/graphql-types.ts
  website/package.json
  website/src/components/layout.css
  website/src/components/misc/article-comments.tsx
  website/src/components/misc/blog-article-sharebar.tsx
  website/src/components/misc/doc-page-aside.tsx
  website/src/components/misc/doc-page-navigation.tsx
  website/src/components/misc/global-style.tsx
  website/src/components/misc/search.tsx
  website/src/components/structure/header.tsx
  website/src/images/algolia-logo.svg
  website/src/state/common/common.actions.ts
  website/src/state/common/common.reducer.ts
  website/src/state/common/common.state.ts
  website/yarn.lock
Labels: 🌶 website

#1791 Pre-commit hook for prettier
  website/graphql-types.ts
  website/package.json
  website/src/blog/2013-09-12-jquery-steps-form-wizard.md
  website/src/components/misc/blog-article-tags.tsx
  website/src/components/misc/icon-container.tsx
  website/src/components/misc/pagination.tsx
  website/src/components/misc/search.tsx
  website/src/components/structure/footer.tsx
  website/src/docs/hotchocolate/index.md
  website/yarn.lock
Labels: 🌶 website

#1780 Documentation for filter convention
  website/gatsby-config.js
  website/graphql-types.ts
  website/src/components/misc/doc-page-navigation.tsx
  website/src/components/misc/global-style.tsx
  website/src/docs/docs.json
  website/src/docs/hotchocolate/filtering/bool-filter.md
  website/src/docs/hotchocolate/filtering/comparable-filter.md
  website/src/docs/hotchocolate/filtering/filter-and-operations.md
  website/src/docs/hotchocolate/filtering/filter-customization.md
  website/src/docs/hotchocolate/filtering/filter-naming-convention.md
  website/src/docs/hotchocolate/filtering/getting-started.md
  website/src/docs/hotchocolate/filtering/list-filter.md
  website/src/docs/hotchocolate/filtering/object-filter.md
  website/src/docs/hotchocolate/filtering/string-filter.md
Labels: 🌶 website

#1797 Ignored graphql-types.ts file
  website/.gitignore
  website/graphql-types.ts
  website/src/docs/hotchocolate/filtering/filter-and-operations.md
  website/src/docs/hotchocolate/filtering/filter-naming-convention.md
Labels: 🌶 website

#1803 Fixed navigation bug
  website/src/components/misc/doc-page-aside.tsx
  website/src/components/misc/doc-page-navigation.tsx
  website/src/components/misc/useStickyElement.ts
Labels: 🌶 website

#1811 Adds more documentation for filters
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/filtering.md
Labels: 🌶 hot chocolate, 📚 documentation

#1801 Fix variable stitching v11 (Issue 1761)
  src/HotChocolate/Language/src/Language/Legacy/Visitors/QuerySyntaxRewriter.cs
  src/HotChocolate/Stitching/src/Stitching/Utilities/ExtractFieldQuerySyntaxRewriter.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Merge/__snapshots__/SchemaMergerTests.MergeDemoSchemaAndRemoveRootTypes.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Merge/__snapshots__/SchemaMergerTests.MergeDemoSchemaAndRemoveRootTypesOnSchemaA.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Merge/__snapshots__/SchemaMergerTests.MergeDemoSchemaWithDefaultHandler.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Middleware/DelegateToRemoteSchemaMiddlewareTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Middleware/VariableDelegationTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Middleware/__snapshots__/DelegateToRemoteSchemaMiddlewareTests.ExecuteStitchingQueryWithVariables.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Middleware/__snapshots__/VariableDelegationTests.ListVariableIsCorrectlyPassed_schema.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Middleware/__snapshots__/VariableDelegationTests.ObjectFieldVariableIsCorrectlyPassed_schema.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Middleware/__snapshots__/VariableDelegationTests.ScopedListVariableIsCorrectlyPassed_schema.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Customers/ComplexInput.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Customers/ComplexInputType.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Customers/CustomerType.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Utilities/__snapshots__/ExtractFieldQuerySyntaxRewriterTests.ExtractField_Stitching.graphql_StitchingQueryWithVariables.graphql.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Utilities/__snapshots__/MergeQueryRewriterTests.QueryWithPrivateVariables.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/Customer.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/Stitching.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__resources__/StitchingQueryWithVariables.graphql
  src/HotChocolate/Stitching/test/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddExtensionsFromFile.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddExtensionsFromString.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddSchemaFromFile.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddSchemaFromHttp.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddSchemaFromString.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/__snapshots__/StitchingBuilderTests.AddSchema_2.snap
Labels: :beetle: bug, 🌶 hot chocolate

#1814 Fixed style issues on blog
  website/src/components/misc/article-elements.tsx
  website/src/components/misc/blog-article-metadata.tsx
  website/src/components/misc/blog-article-tags.tsx
Labels: 🌶 website

#1837 Fixed and issue that lead to a memory leak in the field merging rule.
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/Program.cs
  src/HotChocolate/Core/benchmark/Validation.Benchmarks/ValidationBenchmarks.cs
  src/HotChocolate/Core/benchmark/execution.imac.md
  src/HotChocolate/Core/benchmark/validation.imac.md
  src/HotChocolate/Core/src/Validation/FieldInfo.cs
  src/HotChocolate/Core/src/Validation/Rules/FieldVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FieldSelectionMergingRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldSelectionMergingRuleTests.SameResponseNameDifferentFieldName.snap
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitor~1.cs
Labels: :beetle: bug, 🌶 hot chocolate

#1840 Improved tables and block quotes
  website/gatsby-config.js
  website/src/components/misc/article-elements.tsx
  website/src/components/misc/global-style.tsx
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/filtering.md
  website/src/docs/hotchocolate/api-reference/index.md
  website/src/docs/hotchocolate/filtering/bool-filter.md
  website/src/docs/hotchocolate/filtering/comparable-filter.md
  website/src/docs/hotchocolate/filtering/filter-and-operations.md
  website/src/docs/hotchocolate/filtering/filter-customization.md
  website/src/docs/hotchocolate/filtering/filter-naming-convention.md
  website/src/docs/hotchocolate/filtering/getting-started.md
  website/src/docs/hotchocolate/filtering/list-filter.md
  website/src/docs/hotchocolate/filtering/object-filter.md
  website/src/docs/hotchocolate/filtering/string-filter.md
Labels: 🌶 website
