Repository ChilliCream/graphql-platform, pull requests merged in 2020-05, with the labels that each got.

#1854 Copy button and language tag
  website/gatsby-config.js
  website/package.json
  website/src/components/misc/article-elements.tsx
  website/src/components/misc/global-style.tsx
  website/src/docs/hotchocolate/api-reference/filtering.md
  website/yarn.lock
Labels: 🌶 website

#1852 Website micro interation
  website/src/components/structure/header.tsx
  website/src/images/chillicream-winking.svg
Labels: 🌶 website

#1856 Support Page & Responsive Submenu
  website/gatsby-config.js
  website/src/components/misc/doc-page-aside.tsx
  website/src/components/misc/doc-page-navigation.tsx
  website/src/components/misc/global-style.tsx
  website/src/components/misc/page-elements.tsx
  website/src/components/misc/search.tsx
  website/src/components/misc/useStickyElement.ts
  website/src/components/structure/header.tsx
  website/src/images/check-circle.svg
  website/src/images/check.svg
  website/src/pages/index.tsx
  website/src/pages/platform.tsx
  website/src/pages/support.tsx
Labels: 🌶 website

#1892 Added ResolveWith descriptor
  src/Core/Types.Tests/Types/ObjectTypeTests.cs
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.ResolveWith.snap
  src/Core/Types/Types/Descriptors/Contracts/IObjectFieldDescriptor.cs
  src/Core/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/Core/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/Core/Types/Types/Helpers/TypeDependencyHelper.cs
  src/Core/Types/Types/ObjectField.cs
Labels: 🌶 hot chocolate, 🎉 enhancement

#1893 Fixed issue where the node id field name was not correctly named (V10).
  src/Core/Types/Types/Relay/Descriptors/NodeDescriptor.cs
  src/Core/Types/Types/Relay/Descriptors/NodeDescriptor~1.cs
  src/Core/Types/Types/Relay/Descriptors/NodeResolverDescriptor.cs
Labels: :beetle: bug, 🌶 hot chocolate

#1894 Fixed issue where the node id field name was not correctly named.
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeResolverDescriptor.cs
Labels: :beetle: bug, 🌶 hot chocolate

#1896 Improvements for TOC and Aside
  website/src/components/misc/article-sections.tsx
  website/src/components/misc/cookie-consent.tsx
  website/src/components/misc/doc-page-aside.tsx
  website/src/components/misc/doc-page-community.tsx
  website/src/components/misc/doc-page-elements.tsx
  website/src/components/misc/doc-page-legacy.tsx
  website/src/components/misc/doc-page-navigation.tsx
  website/src/components/misc/doc-page-pane-header.tsx
  website/src/components/misc/page-top.tsx
  website/src/components/misc/useStickyElement.ts
  website/src/components/structure/layout.tsx
  website/src/components/widgets/doc-page.tsx
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/batching-and-caching.md
  website/src/images/list-alt.svg
  website/src/images/newspaper.svg
  website/src/state/common/common.actions.ts
  website/src/state/common/common.reducer.ts
  website/src/state/common/common.state.ts
Labels: 🌶 website

#1897 Several improvements to doc pages
  website/src/components/misc/article-sections.tsx
  website/src/components/misc/doc-page-navigation.tsx
  website/src/components/structure/layout.tsx
  website/src/state/common/common.actions.ts
  website/src/state/common/common.reducer.ts
Labels: 🌶 website

#1898 Updated website dependencies
  website/package.json
  website/yarn.lock
Labels: 🌶 website

#1899 Improved inline code
  website/gatsby-config.js
  website/src/components/misc/article-sections.tsx
  website/src/components/misc/doc-page-aside.tsx
  website/src/components/misc/doc-page-community.tsx
  website/src/components/misc/doc-page-elements.tsx
  website/src/components/misc/doc-page-navigation.tsx
  website/src/components/misc/global-style.tsx
  website/src/components/widgets/doc-page.tsx
  website/src/docs/hotchocolate/api-reference/filtering.md
Labels: 🌶 website

#1911 Introduced batch dispatcher
  src/HotChocolate/Core/src/Execution/MiddlewareContext.Arguments.cs
  src/HotChocolate/Core/src/Execution/QueryExecutor.cs
  src/HotChocolate/Core/src/Types/DataLoader/BatchScheduler.cs
  src/HotChocolate/Core/src/Types/DataLoader/IBatchDispatcher.cs
Labels: 🌶 green donut, 🌶 hot chocolate

#1918 Added new project to the core
  src/HotChocolate/Core/src/Execution/HotChocolate.Execution.csproj
  src/HotChocolate/Core/src/Execution/IExecutionContext.cs
  src/HotChocolate/Core/src/Fetching/AutoBatchScheduler.cs
  src/HotChocolate/Core/src/Fetching/BatchScheduler.cs
  src/HotChocolate/Core/src/Fetching/HotChocolate.Batching.csproj
  src/HotChocolate/Core/src/Fetching/IAutoBatchDispatcher.cs
  src/HotChocolate/Core/src/Fetching/IBatchDispatcher.cs
  src/HotChocolate/Core/src/Types/DataLoader/CacheDataLoader.cs
  src/HotChocolate/Core/src/Types/DataLoader/FetchSingleDataLoader.cs
  src/HotChocolate/Core/src/Types/HotChocolate.Types.csproj
Labels: 🌶 green donut, 🌶 hot chocolate

#1923 General website layout improvements
  website/package.json
  website/src/components/misc/cookie-consent.tsx
  website/src/components/misc/doc-page-elements.tsx
  website/src/components/misc/doc-page-navigation.tsx
  website/src/components/misc/global-style.tsx
  website/src/components/misc/page-top.tsx
  website/src/components/misc/search.tsx
  website/src/components/structure/footer.tsx
  website/src/components/structure/header.tsx
  website/src/components/structure/layout.tsx
  website/yarn.lock
Labels: 🌶 website

#1932 Add Any renaming to 10
  src/Core/Types.Tests/Types/Scalars/AnyTypeTests.cs
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.CustomName.snap
  src/Core/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.CustomNameAndDescription.snap
  src/Core/Types/Types/Scalars/AnyType.cs
Labels: 🌶 hot chocolate, 🎉 enhancement

#1938 test(Exec): test buffer
  src/HotChocolate/Core/HotChocolate.Core.sln
  src/HotChocolate/Core/src/Execution/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.resx
  src/HotChocolate/Core/src/Execution/Utilities/ObjectBuffer.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/BufferedObjectPoolTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/ObjectBufferTests.cs
  src/HotChocolate/HotChocolate.sln
Labels: 🌶 hot chocolate

#1957 Add full lock task queue
  src/HotChocolate/Core/src/Execution/Utilities/BufferedObjectPool.cs
  src/HotChocolate/Core/src/Execution/Utilities/ObjectBuffer.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/ObjectBufferTests.cs
Labels: 🌶 hot chocolate, 🎉 enhancement

#1959 ExecutionContext & Task Statistics
  src/HotChocolate/Core/src/Execution/ExecutionContext.Pooling.cs
  src/HotChocolate/Core/src/Execution/ExecutionContext.cs
  src/HotChocolate/Core/src/Execution/ITaskStatistics.cs
  src/HotChocolate/Core/src/Execution/MutationExecutor.cs
  src/HotChocolate/Core/src/Execution/TaskStatistics.cs
  src/HotChocolate/Core/src/Execution/Utilities/ITaskQueue.cs
  src/HotChocolate/Core/src/Execution/Utilities/PreparedSelectionListExtensions.cs
  src/HotChocolate/Core/src/Execution/Utilities/TaskQueue.cs
  src/HotChocolate/Core/src/Fetching/BatchScheduler.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/BufferedObjectPoolTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/ExecutionContextTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/Helper/TestPool.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/TaskStatisticsTest.cs
Labels: 🌶 hot chocolate

#1974 Updated resolver doc introduction
  website/.vscode/settings.json
  website/gatsby-config.js
  website/src/components/misc/doc-page-navigation.tsx
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/filtering.md
  website/src/docs/hotchocolate/api-reference/index.md
  website/src/docs/hotchocolate/fetching-data/filtering.md
  website/src/docs/hotchocolate/fetching-data/index.md
  website/src/state/common/common.actions.ts
  website/src/state/common/common.reducer.ts
Labels: 🌶 website

#1979 Fixes ambiguous Nullable Attribute
  src/HotChocolate/Core/src/Types/Utilities/NullableHelper.cs
  src/HotChocolate/Utilities/src/Utilities/StringExtensions.cs
Labels: :beetle: bug, 🌶 hot chocolate

#1982 Fixes ambiguous Nullable Attribute V10
  .gitignore
  src/Core/Types/Utilities/NullableHelper.cs
Labels: :beetle: bug, 🌶 hot chocolate
