Repository ChilliCream/graphql-platform, pull requests merged in 2020-12, with the labels that each got.

#2717 Website: Resolver Examples
  website/package.json
  website/src/blog/2019-01-24-schema-stitching.md
  website/src/blog/2019-02-20-schema-stitching.md
  website/src/blog/2019-03-04-hot-chocolate-0.8.0.md
  website/src/blog/2019-03-19-logging-with-hotchocolate.md
  website/src/blog/2019-03-31-hot-chocolate-0.8.1.md
  website/src/blog/2019-04-11-integration-tests.md
  website/src/blog/2019-04-12-type-system.md
  website/src/blog/2019-05-08-performance.md
  website/src/blog/2019-06-05-hot-chocolate-9.0.0/2019-06-05-hot-chocolate-9.0.0.md
  website/src/blog/2019-08-14-hot-chocolate-10.0.0/2019-08-14-hot-chocolate-10.0.0.md
  website/src/blog/2019-09-27-strawberry-shake.md
  website/src/blog/2019-11-25-strawberry-shake_2.md
  website/src/blog/2019-11-29-schema-design.md
  website/src/blog/2019-12-26-hotchocolate-10.3.0.md
  website/src/blog/2020-03-18-entity-framework/2020-03-18-entity-framework.md
  website/src/docs/hotchocolate/api-reference/coding-approaches.md
  website/src/docs/hotchocolate/api-reference/filtering.md
  website/src/docs/hotchocolate/api-reference/language.md
  website/src/docs/hotchocolate/api-reference/visitors.md
  website/src/docs/hotchocolate/fetching-data/filtering.md
  website/src/docs/hotchocolate/fetching-data/index.md
  website/src/docs/hotchocolate/fetching-data/sorting.md
  website/src/docs/hotchocolate/v10/index.md
  website/src/images/companies/solytic.svg
  website/src/images/companies/sweetgeeks.svg
  website/src/pages/index.tsx
  website/yarn.lock
Labels: 🌶 website

#2718 Added incloud logo
  website/src/docs/hotchocolate/api-reference/coding-approaches.md
  website/src/docs/hotchocolate/fetching-data/index.md
  website/src/images/companies/incloud.svg
  website/src/pages/index.tsx
Labels: 🌶 website

#2719 Added another default text for docs
  website/src/docs/greendonut/index.md
  website/src/docs/hotchocolate/api-reference/coding-approaches.md
  website/src/docs/hotchocolate/api-reference/index.md
  website/src/docs/hotchocolate/defining-a-schema/directives.md
  website/src/docs/hotchocolate/defining-a-schema/index.md
  website/src/docs/hotchocolate/defining-a-schema/scalars.md
  website/src/docs/hotchocolate/defining-a-schema/unions-and-interfaces.md
  website/src/docs/hotchocolate/defining-a-schema/versioning.md
  website/src/docs/hotchocolate/fetching-data/dataloader.md
  website/src/docs/hotchocolate/fetching-data/fetching-from-databases.md
  website/src/docs/hotchocolate/fetching-data/fetching-from-rest.md
  website/src/docs/hotchocolate/fetching-data/pagination.md
Labels: 🌶 website

#2725 Website: Exlrt Logo
  website/src/images/companies/exlrt.svg
  website/src/pages/index.tsx
Labels: 🌶 website

#2728 Website: BIQH Logo
  website/src/images/companies/biqh.svg
  website/src/images/companies/exlrt.svg
  website/src/pages/index.tsx
Labels: 🌶 website

#2651 Add docs for executable
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/executable.md
  website/src/docs/hotchocolate/integrations/entity-framework.md
Labels: 📚 documentation

#2726 Fixed execution of batch requests
  src/HotChocolate/AspNetCore/src/AspNetCore/MiddlewareBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.BatchRequest_GetHero_And_GetHuman.snap
Labels: :beetle: bug, 🌶 hot chocolate

#2656 First part of the filter convention docs
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/extending-filtering.md
Labels: 📚 documentation

#2741 Refined Scalars
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/Scalars/AnyType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/BooleanType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ByteArrayType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ByteType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/DateTimeType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/DateType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/DecimalType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/FloatType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/FloatTypeBase.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/IdType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/IntType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/Iso8601Duration.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/LongType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/MultiplierPathType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/NameType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarNames.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarType~2.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/Scalars.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ShortType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/SpecScalarAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/StringType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/TimeSpanType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/UrlType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/UuidType.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/UuidTypeTests.Specify_Invalid_Format.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/UuidTypeTests.Specify_Invalid_Format_NETCOREAPP2_1.snap
Labels: 🌶 hot chocolate, 🎉 enhancement

#2450 Added extension method to add custom validation rules.
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.Validation.cs
  src/HotChocolate/Core/src/Execution/Serialization/JsonArrayResponseStreamSerializer.cs
  src/HotChocolate/Core/src/Execution/Serialization/MultiPartResponseStreamSerializer.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidatiobBuilderExtensions.Rules.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationBuilderExtensions.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationServiceCollectionExtensions.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/RequestExecutorBuilderExtensions_Validation.Tests.cs
Labels: 🌶 hot chocolate, 🎉 enhancement

#2755 Treat `Task<IQueryable/IExecutable>` properly in UseDbContext
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/HotChocolate/Data/src/EntityFramework/Extensions/EntityFrameworkObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/Query.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/UseDbContextTests.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Execute_Queryable_OffsetPaging_Task.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Execute_Queryable_OffsetPaging_TotalCount_Task.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Execute_Queryable_OffsetPaging_TotalCount_ValueTask.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Execute_Queryable_OffsetPaging_ValueTask.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Execute_Queryable_Task.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Execute_Queryable_ValueTask.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Infer_Schema_From_IQueryable_Fields.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Infer_Schema_From_IQueryable_Task_Fields.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Infer_Schema_From_IQueryable_ValueTask_Fields.snap
Labels: 🌶 hot chocolate, 🎉 enhancement

#2765 Fixes query rewriting when fields are merged.
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/AuthorizeMiddleware.cs
  src/HotChocolate/Core/src/Execution/Processing/DirectiveContext.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Arguments.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Global.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Selection.cs
  src/HotChocolate/Core/src/Execution/Processing/ResolverTask.cs
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/QueryableOffsetPagingHandler.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/GetArgumentCompiler.cs
  src/HotChocolate/Core/src/Types/Resolvers/IFieldSelection.cs
  src/HotChocolate/Core/src/Types/Resolvers/IResolverContext.cs
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.resx
  src/HotChocolate/Core/src/Validation/Rules/DirectiveVisitor.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/QueryableCursorPagingProviderTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverPropertyGeneratorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Models/Human.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DirectivesAreDefinedRuleTests.DifferentDuplicateDirectivesInOneLocation.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DirectivesAreDefinedRuleTests.DuplicateDirectivesInManyLocations.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DirectivesAreDefinedRuleTests.DuplicateDirectivesInOneLocation.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DirectivesAreDefinedRuleTests.DuplicateSkipDirectives.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DirectivesAreDefinedRuleTests.ManyDuplicateDirectivesInOneLocation.snap
  src/HotChocolate/Data/src/Data/ErrorHelper.cs
  src/HotChocolate/Data/src/Data/Projections/ProjectionVisitor.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/DelegateToRemoteSchemaMiddleware.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/DictionaryResultMiddleware.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ExtractFieldQuerySyntaxRewriter.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ExtractedField.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/RemoteQueryBuilder.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ScopedVariables/ArgumentScopedVariableResolver.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ScopedVariables/FieldScopedVariableResolver.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/ScopedVariables/RootScopedVariableResolver.cs
  src/HotChocolate/Stitching/src/Stitching/Directives/ScopedVariableNode.cs
  src/HotChocolate/Stitching/src/Stitching/Merge/AddSchemaExtensionRewriter.cs
  src/HotChocolate/Stitching/src/Stitching/Merge/Extensions/MergeSyntaxNodeExtensions.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/ArgumentScopedVariableResolverTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/FieldScopedVariableResolverTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/BaseTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/BaseTests.Directive_Delegation.snap
Labels: :beetle: bug, 🌶 hot chocolate

#2774 Fix error filters not being activated
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.ErrorFilter.cs
  src/HotChocolate/Core/test/Execution.Tests/Errors/ErrorHandlerTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorHandlerTests.AddClassErrorFilterUsingFactory_SchemaBuiltViaServiceExtensions_ErrorFilterWorks.snap
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorHandlerTests.AddClassErrorFilter_SchemaBuiltViaServiceExtensions_ErrorFilterWorks.snap
  src/HotChocolate/Core/test/Execution.Tests/HotChocolate.Execution.Tests.csproj
Labels: :beetle: bug, 🌶 hot chocolate

#2777 fix: cursor pagnation with two list elements
  src/HotChocolate/Core/src/Types.CursorPagination/QueryableCursorPagingHandler.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/QueryableCursorPagingProviderTests.cs
Labels: :beetle: bug
