Repository ChilliCream/graphql-platform, pull requests merged in 2020-07, with the labels that each got.

#1940 Changes to make Decimal serialization more deterministic with decimal places
  src/Core/Subscriptions.Redis.Tests/RedisIntegrationTests.cs
  src/Core/Subscriptions.Redis/DependencyInjection/RedisSubscriptionServiceCollectionExtensions.cs
  src/Core/Subscriptions.Redis/IMessageSerializer.cs
  src/Core/Subscriptions.Redis/InternalsVisibleTo.cs
  src/Core/Subscriptions.Redis/JsonMessageSerializer.cs
  src/Core/Subscriptions.Redis/RedisEventStream.cs
  src/Core/Subscriptions.Redis/RedisPubSub.cs
  src/Core/Types.Tests/Types/Scalars/DecimalTypeTests.cs
  src/Core/Types/Types/Scalars/DecimalType.cs
  src/Core/Types/Types/Scalars/FloatType.cs
  src/Server/AspNetCore.Tests/GetMiddlewareTests.cs
  src/Server/AspNetCore.Tests/PostMiddlewareTests.cs
Labels: :beetle: bug, 🌶 hot chocolate

#2134 Use invariant culture when parsing numbers in AnyType
  src/Core/Types/Types/Scalars/AnyType.cs
Labels: :beetle: bug, 🌶 hot chocolate

#2135 Use invariant culture when parsing numbers in AnyType
  src/HotChocolate/Core/src/Types/Types/Scalars/AnyType.cs
Labels: :beetle: bug, 🌶 hot chocolate

#2080 Added first filtering refactoring bits.
  src/HotChocolate/Core/src/Abstractions/NameString.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/ConventionBase`1.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/ConventionContext.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterConvention.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterConventionDefinition.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterConventionDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterConventionExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterOperationConventionDefinition.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterOperationConventionDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/IConventionContext.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/IFilterConventionDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/IFilterOperationConventionDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/OperationConvention.cs
  src/HotChocolate/Data/src/Data/Filters/Extensions/FilterDescriptorContextExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/FilterConvention.cs
  src/HotChocolate/Data/src/Data/Filters/FilterFieldDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/FilterInputTypeDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/FilterInputTypeDescriptor`1.cs
  src/HotChocolate/Data/src/Data/Filters/FilterOperationFieldDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/IFilterConvention.cs
  src/HotChocolate/Data/src/Data/Filters/ThrowHelper.cs
  src/HotChocolate/Data/src/Data/Filters/Types/BooleanOperationInput.cs
  src/HotChocolate/Data/src/Data/Filters/Types/ComparableOperationInput`1.cs
  src/HotChocolate/Data/src/Data/Filters/Types/Operations.cs
  src/HotChocolate/Data/src/Data/Filters/Types/StringOperationInput.cs
  src/HotChocolate/Data/test/Data.Tests/Types/BooleanOperationInputTests.cs
  src/HotChocolate/Data/test/Data.Tests/Types/ComparableOperationInputTests.cs
  src/HotChocolate/Data/test/Data.Tests/Types/StringOperationInputTests.cs
  src/HotChocolate/Data/test/Data.Tests/Types/__snapshots__/BooleanOperationInputTests.CreateBooleanOperationType.snap
  src/HotChocolate/Data/test/Data.Tests/Types/__snapshots__/ComparableOperationInputTests.CreateIntOperationType.snap
  src/HotChocolate/Data/test/Data.Tests/Types/__snapshots__/StringOperationInputTests.CreateStringOperationInput.snap
Labels: 🌶 hot chocolate, 🎉 enhancement, 🎨 refactoring

#2133 Proposed fix for nested input values using Optional<T>
  src/Core/Abstractions/IOptional.cs
  src/Core/Abstractions/Optional.cs
  src/Core/Core.Tests/Regressions/NestedOptionalInt_2114.cs
  src/Core/Types/Utilities/TypeConversion.OptionalTypes.cs
  src/Core/Types/Utilities/TypeConversion.cs
Labels: 🌶 hot chocolate, 🎉 enhancement

#2155 Fixed field visibility with compiled operations.
  src/HotChocolate/Core/src/Execution/Utilities/FieldCollector.cs
  src/HotChocolate/Core/src/Execution/Utilities/FieldVisibility.cs
  src/HotChocolate/Core/src/Execution/Utilities/IPreparedOperation.cs
  src/HotChocolate/Core/src/Execution/Utilities/IPreparedSelection.cs
  src/HotChocolate/Core/src/Execution/Utilities/IPreparedSelectionList.cs
  src/HotChocolate/Core/src/Execution/Utilities/PreparedOperation.cs
  src/HotChocolate/Core/src/Execution/Utilities/PreparedSelection.cs
  src/HotChocolate/Core/src/Execution/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/FieldCollectorTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/FieldVisibilityTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Utilities/TaskStatisticsTest.txt
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/FieldCollectorTests.Object_Field_Visibility_Is_Correctly_Inherited.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/FieldCollectorTests.Object_Field_Visibility_Is_Correctly_Inherited_2.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/FieldCollectorTests.Object_Field_Visibility_Is_Correctly_Inherited_3.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/FieldVisibilityTests.Include_Is_String_GraphQLException.snap
  src/HotChocolate/Core/test/Execution.Tests/Utilities/__snapshots__/FieldVisibilityTests.Skip_Is_String_GraphQLException.snap
Labels: :beetle: bug, 🌶 hot chocolate

#2158 Handle conversion of complex objects inside Optional<T>
  src/Core/Core.Tests/Regressions/NestedOptionalInt_2114.cs
  src/Core/Types/Utilities/InputObjectToObjectValueConverter.cs
Labels: :beetle: bug, 🌶 hot chocolate

#2165 Improved Relay ID handling for pure code-first.
  src/Core/Core/Execution/Utilities/ArgumentValue.cs
  src/Core/Core/Execution/Utilities/ArgumentVariableValue.cs
  src/Core/Core/Execution/Utilities/FieldCollector.cs
  src/Core/Core/Execution/Utilities/FieldSelection.cs
  src/Core/Core/Execution/Utilities/ResolverContext.CoerceArgumentValue.cs
  src/Core/Types.Tests/Types/Descriptors/DescriptorContextTests.cs
  src/Core/Types.Tests/Types/InterfaceTypeExtensionTests.cs
  src/Core/Types.Tests/Types/ObjectTypeTests.cs
  src/Core/Types.Tests/Types/Relay/IdAttributeTests.cs
  src/Core/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Arguments.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Objects.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_Type_Is_Correctly_Inferred.snap
  src/Core/Types.Tests/Types/__snapshots__/ObjectTypeTests.Infer_NonNull_Int_Array_Correctly.snap
  src/Core/Types.Tests/Utilities/DotNetTypeInfoFactoryTests.cs
  src/Core/Types.Tests/Utilities/ExtendedTypeRewriterTests.cs
  src/Core/Types/SchemaBuilder.Create.cs
  src/Core/Types/SchemaBuilder.Lazy.cs
  src/Core/Types/Types/Argument.cs
  src/Core/Types/Types/Attributes/SubscribeAttribute.cs
  src/Core/Types/Types/Contracts/IInputField.cs
  src/Core/Types/Types/Descriptors/Conventions/DescriptorContext.cs
  src/Core/Types/Types/Descriptors/Conventions/IDescriptorContext.cs
  src/Core/Types/Types/Descriptors/Definitions/ArgumentDefinition.cs
  src/Core/Types/Types/Descriptors/ObjectTypeDescriptorBase~1.cs
  src/Core/Types/Types/InputField.cs
  src/Core/Types/Types/InputObjectType.cs
  src/Core/Types/Types/Relay/Extensions/PagingObjectFieldDescriptorExtensions.cs
  src/Core/Types/Types/Relay/FieldValueSerializer.cs
  src/Core/Types/Types/Relay/IDAttribute.cs
  src/Core/Types/Types/Relay/IdSerializer.cs
  src/Core/Types/Utilities/DotNetTypeInfoFactory.cs
  src/Core/Types/Utilities/ExtendedTypeRewriter.cs
  src/Core/Types/Utilities/InputObjectToDictionaryConverter.cs
  src/Core/Types/Utilities/InputObjectToObjectValueConverter.cs
  src/Core/Types/Utilities/Serialization/InputObjectParserHelper.cs
Labels: 🌶 hot chocolate, 🎉 enhancement

#2174 Fixes ID Serializer Issues
  src/Core/Core/Execution/Utilities/ResolverContext.CoerceArgumentValue.cs
  src/Core/Types.Tests/Types/Relay/IdAttributeTests.cs
  src/Core/Types.Tests/Types/Relay/NodeTypeTests.cs
  src/Core/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Arguments.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Objects.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Objects_InvalidId.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Objects_InvalidType.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_Type_Is_Correctly_Inferred.snap
  src/Core/Types.Tests/Types/Relay/__snapshots__/RelaySchemaTests.EnableRelay_Node_Field_On_Query_Exists.snap
  src/Core/Types/Types/Relay/Extensions/RelayIdFieldExtensions.cs
  src/Core/Types/Types/Relay/FieldValueSerializer.cs
  src/Core/Types/Types/Relay/NodeType.cs
Labels: :beetle: bug, 🌶 hot chocolate
