Repository ChilliCream/graphql-platform, pull requests merged in 2021-04, with the labels that each got.

#3398 11.1 Release Blog
  CHANGELOG.md
  website/src/blog/2021-03-31-chillicream-platform-11-1/2021-03-31-chillicream-platform-11-1.md
  website/src/blog/2021-03-31-chillicream-platform-11-1/chillicream-platform-11-1-banner.png
  website/src/blog/2021-03-31-chillicream-platform-11-1/normalize-entities.png
  website/src/components/images/blog-post-chillicream-platform-11-1.tsx
  website/src/pages/index.tsx
Labels: 🎬 ready, 📚 documentation

#3414 Fixed keyword collisions in strawberry shake
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ClassBaseGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ClientGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/JsonResultBuilderGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/OperationServiceGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultDataFactoryGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultFromEntityTypeMapperGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultInfoGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator_EntityHandler.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/InputObjectTypeDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Keywords.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/OperationDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/NameUtils.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/InputGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.KeywordCollisions.snap
Labels: 🎬 ready

#3432 Made it easier to controll when introspection queries are allowed.
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/AuthorizeDirective.cs
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Abstractions/Execution/QueryRequestBuilder.cs
  src/HotChocolate/Core/src/Abstractions/IHasContextData.cs
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.Validation.cs
  src/HotChocolate/Core/src/Execution/Pipeline/DocumentValidationMiddleware.cs
  src/HotChocolate/Core/src/Types/DataLoader/DataLoaderResolverContextExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Factories/ObjectTypeFactory.cs
  src/HotChocolate/Core/src/Validation/DocumentValidator.cs
  src/HotChocolate/Core/src/Validation/DocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidatiobBuilderExtensions.Rules.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationBuilderExtensions.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidator.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.resx
  src/HotChocolate/Core/src/Validation/Rules/FieldVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/IntrospectionVisitor.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/RequestExecutorBuilderExtensions_Validation.Tests.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/RequestExecutorBuilderExtensionsValidationTests.AddIntrospectionAllowedRule_IntegrationTest_Allowed.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/RequestExecutorBuilderExtensionsValidationTests.AddIntrospectionAllowedRule_IntegrationTest_NotAllowed.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/RequestExecutorBuilderExtensionsValidationTests.AddIntrospectionAllowedRule_IntegrationTest_NotAllowed_CustomMessage.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/RequestExecutorBuilderExtensionsValidationTests.AddIntrospectionAllowedRule_IntegrationTest_NotAllowed_CustomMessageFact.snap
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/DocumentValidationMiddlewareTests.cs
  src/HotChocolate/Core/test/Validation.Tests/IntrospectionRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/TestHelper.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/IntrospectionRuleTests.IntrospectionNotAllowed_Schema_Field.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/IntrospectionRuleTests.IntrospectionNotAllowed_Schema_Field_Custom_Message.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/IntrospectionRuleTests.IntrospectionNotAllowed_Schema_Field_Custom_MessageFactory.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/IntrospectionRuleTests.IntrospectionNotAllowed_Type_Field.snap
Labels: 🌶 hot chocolate, 🎬 ready

#3427 Fixed scoping of filtering
  src/HotChocolate/Core/src/Execution/Properties/Resources.resx
  src/HotChocolate/Data/src/Data/Extensions/HotChocolateDataRequestBuilderExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Attributes/UseFilteringAttribute.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterConventionDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterTypeInterceptor.cs
  src/HotChocolate/Data/src/Data/Filters/Extensions/FilterObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Extensions/FilterSchemaBuilderExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Attributes/UseProjectionAttribute.cs
  src/HotChocolate/Data/src/Data/Projections/Extensions/SelectionObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Sorting/Attributes/UseSortingAttribute.cs
  src/HotChocolate/Data/src/Data/Sorting/Extensions/SortingSchemaBuilderExtensions.cs
  src/HotChocolate/Data/test/Data.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.CreateSchema_OnDifferentScope_Result.snap
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.CreateSchema_OnDifferentScope_Schema.snap
Labels: 🌶 hot chocolate, 🎬 ready

#3447 Adds polyids and orders alpha some more
  COMMUNITY.md
Labels: 🌶 hot chocolate, 🎬 ready, 📚 documentation

#3454 Code documentation for most of IDiagnosticEvents et al
  src/HotChocolate/Core/src/Execution/IRequestContext.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/ApolloTracingDiagnosticEventListener.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/DateTimeOffsetExtensions.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/DiagnosticEventListener.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/IActivityScope.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/IDiagnosticEventListener.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/IDiagnosticEvents.cs
  src/HotChocolate/Core/src/Types/Resolvers/IMiddlewareContext.cs
Labels: 🌶 hot chocolate, 📚 documentation

#3462 Add Automatic Drafting of Release Notes
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: 🧰 maintenance

#3474 Respect FormOptions when reading Multipart Request
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpMultipartMiddleware.cs
Labels: 🌶 hot chocolate, 🎉 enhancement, 🎬 ready

#3397 Add LocalCurrency scalar type to Hotchocolate.Types
  src/HotChocolate/Core/src/Types.Scalars/LocalCurrencyType.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.Designer.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.resx
  src/HotChocolate/Core/src/Types.Scalars/ThrowHelper.cs
  src/HotChocolate/Core/src/Types.Scalars/WellKnownScalarTypes.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/LocalCurrencyTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/ScalarTypeTestBase.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/LocalCurrencyTypeTests.Integration_DefaultLocalCurrency.snap
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/LocalCurrencyTypeTests.Schema_WithScalar_IsMatch.snap
  website/src/docs/hotchocolate/defining-a-schema/scalars.md
Labels: 🌶 hot chocolate, 🎉 enhancement, 🎬 ready

#3477 Update Pull Request template to use a GitHub supported keyword
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🧰 maintenance

#3472 Fixed MongoDb List Filter
  src/HotChocolate/MongoDb/src/Data/Driver/MongoDbFilterOperation.cs
  src/HotChocolate/MongoDb/src/Data/Driver/OrMongoDbFilterDefinition.cs
  src/HotChocolate/MongoDb/src/Data/Driver/StringFieldDefinitionHelper.cs
  src/HotChocolate/MongoDb/src/Data/Filters/Handlers/List/MongoDbListAllOperationHandler.cs
  src/HotChocolate/MongoDb/src/Data/Filters/Handlers/List/MongoDbListAnyOperationHandler.cs
  src/HotChocolate/MongoDb/src/Data/Filters/Handlers/List/MongoDbListNoneOperationHandler.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/MongoDbFilterVisitorListTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/MongoDbFilterVisitorObjectTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAllObjectStringEqual_Expression_a_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAllObjectStringEqual_Expression_d_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAllObjectStringEqual_Expression_null_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAllStringEqual_Expression_a.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAllStringEqual_Expression_a_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAllStringEqual_Expression_d.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAllStringEqual_Expression_d_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAllStringEqual_Expression_null.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAllStringEqual_Expression_null_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAnyObjectStringEqual_Expression_false.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAnyObjectStringEqual_Expression_false_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAnyStringEqual_Expression_false.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAnyStringEqual_Expression_false_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAnyStringEqual_Expression_null.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAnyStringEqual_Expression_true.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayAnyStringEqual_Expression_true_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayNoneObjectStringEqual_Expression_a_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayNoneObjectStringEqual_Expression_d_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayNoneObjectStringEqual_Expression_null_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayNoneStringEqual_Expression_a.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayNoneStringEqual_Expression_a_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayNoneStringEqual_Expression_d.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayNoneStringEqual_Expression_d_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayNoneStringEqual_Expression_null.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArrayNoneStringEqual_Expression_null_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArraySomeStringEqualWithNull_Expression_a.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArraySomeStringEqualWithNull_Expression_a_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArraySomeStringEqualWithNull_Expression_d.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArraySomeStringEqualWithNull_Expression_d_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArraySomeStringEqualWithNull_Expression_null.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorListTests.Create_ArraySomeStringEqualWithNull_Expression_null_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorObjectTests.Create_ArrayObjectNestedArrayAnyStringEqual_Expression_false.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorObjectTests.Create_ArrayObjectNestedArrayAnyStringEqual_Expression_false_query.snap
Labels: :bug: bug, 🌶 hot chocolate, 🌶️ hot chocolate, 🎬 ready

#3481 Fix Star Wars example
  .build/Build.Publish.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/UsePagingAttribute.cs
  templates/StarWars/content/StarWars/Characters/CharacterQueries.cs
  templates/StarWars/content/StarWars/Characters/CharacterResolvers.cs
  templates/StarWars/content/StarWars/Characters/Droid.cs
  templates/StarWars/content/StarWars/Characters/Episode.cs
  templates/StarWars/content/StarWars/Characters/GetFriendsResolverAttribute.cs
  templates/StarWars/content/StarWars/Characters/Human.cs
  templates/StarWars/content/StarWars/Characters/ICharacter.cs
  templates/StarWars/content/StarWars/Characters/ISearchResult.cs
  templates/StarWars/content/StarWars/Characters/UseConvertUnitAttribute.cs
  templates/StarWars/content/StarWars/Reviews/CreateReviewInput.cs
  templates/StarWars/content/StarWars/Reviews/CreateReviewPayload.cs
  templates/StarWars/content/StarWars/Reviews/Review.cs
  templates/StarWars/content/StarWars/Reviews/ReviewMutations.cs
  templates/StarWars/content/StarWars/Reviews/ReviewQueries.cs
  templates/StarWars/content/StarWars/Reviews/ReviewSubscriptions.cs
  templates/StarWars/content/StarWars/StarWars.csproj
  templates/StarWars/content/StarWars/Startup.cs
Labels: 🧰 maintenance

#3482 Updated emoji of bug label in issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: 🧰 maintenance

#3483 Fixed issue with list types in data classes.
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator_ComplexDataHandler.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Types/EnumValueDirectiveType.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Types/GeneratorDirectives.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Types/RenameDirectiveType.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Types/RuntimeTypeDirectiveType.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Types/SerializationTypeDirectiveType.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/ScalarGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ScalarGeneratorTests.Scalars_Are_Correctly_Inferred.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.NonNullLists.snap
  src/StrawberryShake/Tooling/src/dotnet-graphql/InitCommandHandler.cs
Labels: 🌶 strawberry shake, 🐛 bug

#3491 Amended specifiedBy to specifiedByUrl to abide the GraphQL Spec.
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/Introspection/__Type.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/__snapshots__/StarWarsCodeFirstTests.Ensure_Benchmark_Query_LargeQuery.snap
  src/HotChocolate/Core/test/Execution.Tests/IntrospectionTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.DefaultValueIsInputObject.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery_ToJson.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.Query_Specified_By.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.DescriptionsAreCorrectlyRead.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Interfaces_Impl_Interfaces_Are_Correctly_Exposed_Through_Introspection.snap
Labels: ⚖️ spec, 🌶️ hot chocolate

#3440 Support [ID]! arrays in ID formatter.
  src/HotChocolate/Core/src/Types/Extensions/SchemaBuilderExtensions.Paging.cs
  src/HotChocolate/Core/src/Types/Types/Relay/GlobalIdInputValueFormatter.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/IdAttributeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/PolymorphicGlobalIdInputValueFormatter.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/PolymorphicGlobalIdsTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Arguments.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Objects.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Objects_Given_Nulls.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Objects_InvalidId.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Objects_InvalidType.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_Type_Is_Correctly_Inferred.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.InterceptedId_On_Arguments.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.InterceptedId_On_Objects.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.PolyId_On_Arguments.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.PolyId_On_Objects.snap
Labels: 🌶️ hot chocolate, 🎬 ready, 🐛 bug

#3496 Added language server
  src/StrawberryShake/LanguageServer/.gitignore
  src/StrawberryShake/LanguageServer/.vscode/extensions.json
  src/StrawberryShake/LanguageServer/.vscode/settings.json
  src/StrawberryShake/LanguageServer/package.json
  src/StrawberryShake/LanguageServer/src/index.ts
  src/StrawberryShake/LanguageServer/tsconfig.json
  src/StrawberryShake/LanguageServer/webpack.config.js
  src/StrawberryShake/LanguageServer/yarn.lock
Labels: 🌶️ strawberry shake, 🎉 enhancement

#3495 Update HotChocolate README
  src/HotChocolate/README.md
Labels: 📚 documentation

#3489 Update projections.md to reflect the need for public setters.
  website/src/docs/hotchocolate/fetching-data/projections.md
Labels: 📚 documentation

#3508 Added better client name validation error message to StrawberryShake.
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/CSharpClientGenerator.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/ClientGeneratorContext.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/DiagnosticErrorHelper.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/GeneratorExecutionContextExtensions.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/Properties/AnalyzerResources.Designer.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/Properties/AnalyzerResources.resx
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/StrawberryShake.CodeGeneration.CSharp.Analyzers.csproj
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/SyntaxReceiver.cs
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/StrawberryShake.CodeGeneration.CSharp.Analyzers.Tests.csproj
  src/StrawberryShake/Tooling/src/Configuration/GraphQLConfig.cs
  src/StrawberryShake/Tooling/src/Configuration/GraphQLConfigExtensions.cs
  src/StrawberryShake/Tooling/src/Configuration/StrawberryShakeSettings.cs
Labels: 🌶️ strawberry shake

#3501 We need to use AddTypeExtension for extensions
  website/src/docs/hotchocolate/defining-a-schema/extending-types.md
  website/src/docs/hotchocolate/index.md
Labels: 📚 documentation

#3517 Fixed custom scalar with custom runtime types.
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/IntegrationTests.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/DependencyInjectionGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Types/RuntimeTypeDirective.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Types/RuntimeTypeDirectiveType.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Types/SerializationTypeDirective.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/EnumTypeDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/EntityIdFactoryDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/ResultBuilderDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeInfos.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/SchemaHelper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/ScalarGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ScalarGeneratorTests.Custom_Scalar_With_Unknown_RuntimeType.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Tests/Analyzers/DocumentAnalyzerTests.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/StrawberryShake.CodeGeneration.CSharp.Analyzers.csproj
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/Custom.cs
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/CustomScalar/.generated/CustomScalarClient.StrawberryShake.cs
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/CustomScalar/.graphqlrc.json
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/CustomScalar/ChatGetPeople.graphql
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/CustomScalar/Schema.extensions.graphql
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/CustomScalar/Schema.graphql
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/StarWars/Test.txt
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/StarWars/WriteReview.graphql.txt
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/StrawberryShake.CodeGeneration.CSharp.Analyzers.Tests.csproj
Labels: 🌶️ strawberry shake

#3515 Added extensions method for IError to handle ISyntaxNode
  src/HotChocolate/Core/src/Abstractions/Error.cs
  src/HotChocolate/Core/src/Abstractions/ErrorExtensions.cs
  src/HotChocolate/Core/test/Abstractions.Tests/ErrorTests.cs
  src/HotChocolate/Core/test/Abstractions.Tests/__snapshots__/ErrorTests.Constructor_WithSyntaxNode.snap
  src/HotChocolate/Core/test/Abstractions.Tests/__snapshots__/ErrorTests.RemoveSyntaxNode.snap
  src/HotChocolate/Core/test/Abstractions.Tests/__snapshots__/ErrorTests.WithSyntaxNode.snap
Labels: 🌶️ hot chocolate, 🎬 ready

#3524 Remove solution from StarWars template
  .build/Build.Environment.cs
  templates/StarWars/content/Characters/CharacterQueries.cs
  templates/StarWars/content/Characters/CharacterResolvers.cs
  templates/StarWars/content/Characters/Droid.cs
  templates/StarWars/content/Characters/Episode.cs
  templates/StarWars/content/Characters/Human.cs
  templates/StarWars/content/Characters/ICharacter.cs
  templates/StarWars/content/Characters/ISearchResult.cs
  templates/StarWars/content/Characters/Starship.cs
  templates/StarWars/content/Characters/Unit.cs
  templates/StarWars/content/Characters/UseConvertUnitAttribute.cs
  templates/StarWars/content/Program.cs
  templates/StarWars/content/Repositories/CharacterRepository.cs
  templates/StarWars/content/Repositories/ICharacterRepository.cs
  templates/StarWars/content/Repositories/IReviewRepository.cs
  templates/StarWars/content/Repositories/ReviewRepository.cs
  templates/StarWars/content/Reviews/CreateReviewInput.cs
  templates/StarWars/content/Reviews/CreateReviewPayload.cs
  templates/StarWars/content/Reviews/Review.cs
  templates/StarWars/content/Reviews/ReviewMutations.cs
  templates/StarWars/content/Reviews/ReviewQueries.cs
  templates/StarWars/content/Reviews/ReviewSubscriptions.cs
  templates/StarWars/content/StarWars.csproj
  templates/StarWars/content/StarWars.sln
  templates/StarWars/content/Startup.cs
Labels: 🧰 maintenance

#3519 Added mixed data types to straw berry shake
  src/HotChocolate/Core/src/Abstractions/NameString.cs
  src/HotChocolate/Core/src/Abstractions/NameStringConverter.cs
  src/HotChocolate/Core/src/Abstractions/NameStringExtensions.cs
  src/StrawberryShake/Client/src/Core/EntityIdOrData.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Extensions/DescriptorExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/DependencyInjectionGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/InputTypeGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/JsonResultBuilderGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/JsonResultBuilderGenerator_BuildData.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/JsonResultBuilderGenerator_DeserializeDataType.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/JsonResultBuilderGenerator_EntityOrDataType.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/JsonResultBuilderGenerator_UpdateEntity.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultDataFactoryGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultFromEntityTypeMapperGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultInfoGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator_ComplexDataHandler.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator_DataHandler.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator_EntityHandler.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator_EntityOrUnionDataHandler.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator_MapMethodMeta.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/EnumTypeDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/InputObjectTypeDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/ScalarTypeDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/TypeKind.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Extensions/TypeDescriptorExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/DataTypeDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/OperationDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/ResultBuilderDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeNames.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/EntityIdRewriter.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/EntityOrIdGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/EntityIdOrDataTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/EntityIdOrDataTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/__snapshots__/EntityIdOrDataTest.Execute_EntityIdOrData_Test.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.InterfaceField.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.InterfaceList.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.UnionField.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.UnionList.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.UnionListInEntity.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.Nullable_List_Input.cs___
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Tests/Mappers/TypeDescriptorMapperTests.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake, 🎬 ready

#3522 First steps towards consolidation of documentation / information
  .build/Build.Publish.cs
  README.md
  ROADMAP.md
  examples/README.md
  src/BananaCakePop/README.md
  src/GreenDonut/README.md
  src/HotChocolate/AspNetCore/README.md
  src/HotChocolate/AspNetCore/sample/StarWars/Person.cs
  src/HotChocolate/AspNetCore/sample/StarWars/Program.cs
  src/HotChocolate/AspNetCore/sample/StarWars/Query.cs
  src/HotChocolate/AspNetCore/sample/StarWars/StarWars.csproj
  src/HotChocolate/AspNetCore/sample/StarWars/Startup.cs
  src/HotChocolate/AspNetCore/sample/StarWars/appsettings.Development.json
  src/HotChocolate/AspNetCore/sample/StarWars/appsettings.json
  src/HotChocolate/AzureFunctions/README.md
  src/HotChocolate/Core/README.md
  src/HotChocolate/Filters/README.md
  src/HotChocolate/Language/README.md
  src/HotChocolate/Language/src/Language/README.md
  src/HotChocolate/PersistedQueries/README.md
  src/HotChocolate/README.md
  src/HotChocolate/Stitching/README.md
  src/HotChocolate/Utilities/README.md
  src/MarshmallowPie/README.md
  src/README.md
  src/StrawberryShake/README.md
  templates/Server/content/HotChocolate.Server.Template.csproj
  templates/StarWars/content/StarWars.csproj
  website/src/docs/hotchocolate/get-started.md
Labels: 🌶️ banana cake pop, 🌶️ green donut, 🌶️ hot chocolate, 🌶️ marshmallow pie, 🌶️ strawberry shake, 🌶️ website, 📚 documentation, 🧰 maintenance

#3527 Fixed transport profile validation.
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/CSharpClientGenerator.cs
  src/StrawberryShake/Tooling/src/Configuration/GraphQLConfig.cs
  src/StrawberryShake/Tooling/src/Configuration/Properties/ToolsConfigResources.Designer.cs
  src/StrawberryShake/Tooling/src/Configuration/Properties/ToolsConfigResources.resx
  src/StrawberryShake/Tooling/src/Configuration/StrawberryShake.Tools.Configuration.csproj
  src/StrawberryShake/Tooling/src/Configuration/StrawberryShakeSettings.cs
  src/StrawberryShake/Tooling/src/Configuration/StrawberryShakeTransportProfile.cs
Labels: 🌶️ strawberry shake

#3528 Refined when we emit code
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/CSharpClientGenerator.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/FileDocumentWriter.cs
  src/StrawberryShake/SourceGenerator/src/MSBuild/StrawberryShake.props
  src/StrawberryShake/SourceGenerator/src/MSBuild/StrawberryShake.targets
Labels: 🌶️ strawberry shake

#3529 Fixed issue with multi-line documentation.
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/JsonResultBuilderGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/SyntaxExtensions.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.MultiLineDocumentation.snap
Labels: 🌶️ strawberry shake

#3531 Fixed issue where not provided fields were not validated.
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Types.cs
  src/HotChocolate/Core/src/Execution/Processing/VariableCoercionHelper.cs
  src/HotChocolate/Core/src/Execution/ThrowHelper.cs
  src/HotChocolate/Core/src/Types/Utilities/Serialization/InputObjectParserHelper.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/VariableCoercionIntegrationTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Empty_Object.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Invalid_Field_Provided.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Nullables_And_NonNullables_Are_Set.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Nullables_Are_Not_Set_NonNullables_Are_Set.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Nullables_Are_Set_And_NonNullables_Are_Set_To_Null.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Nullables_Are_Set_And_NonNullables_Not_Are_Set.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Variable_Not_Provided.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Variable_Null.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/VariableCoercionHelperTests.Error_When_Input_Field_Has_Different_Properties_Than_Defined.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/VariableCoercionHelperTests.Error_When_Value_Type_Does_Not_Match_Variable_Type.snap
Labels: 🌶️ hot chocolate

#3534 Added better error handling for the GraphQL builder methods.
  src/HotChocolate/Core/src/Execution/Configuration/IRequestExecutorBuilder.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Types.cs
  src/HotChocolate/Core/src/Types/Extensions/SchemaBuilderExtensions.Types.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Types.Tests.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/SchemaRequestExecutorBuilderExtensionsTypesTests.AddEnumType_Configure_TIsSchemaType.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/SchemaRequestExecutorBuilderExtensionsTypesTests.AddEnumType_TIsSchemaType.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/SchemaRequestExecutorBuilderExtensionsTypesTests.AddInputObjectType_Configure_TIsSchemaType.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/SchemaRequestExecutorBuilderExtensionsTypesTests.AddInputObjectType_TIsSchemaType.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/SchemaRequestExecutorBuilderExtensionsTypesTests.AddInterfaceType_Configure_TIsSchemaType.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/SchemaRequestExecutorBuilderExtensionsTypesTests.AddInterfaceType_TIsSchemaType.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/SchemaRequestExecutorBuilderExtensionsTypesTests.AddObjectType_Configure_TIsSchemaType.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/SchemaRequestExecutorBuilderExtensionsTypesTests.AddObjectType_TIsSchemaType.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/SchemaRequestExecutorBuilderExtensionsTypesTests.AddUnionType_Configure_TIsSchemaType.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/SchemaRequestExecutorBuilderExtensionsTypesTests.AddUnionType_TIsSchemaType.snap
Labels: 🌶️ hot chocolate

#3537 Reworked the GraphQLClientException to have a message.
  src/StrawberryShake/Client/src/Core/GraphQLClientException.cs
Labels: 🌶️ strawberry shake

#3541 Fix OperationRequest equality
  src/StrawberryShake/Client/src/Core/Helper/ComparisonHelper.cs
  src/StrawberryShake/Client/src/Core/OperationRequest.cs
  src/StrawberryShake/Client/test/Core.Tests/OperationRequestTests.cs
Labels: 🌶️ strawberry shake

#3523 Fixed `Extending Filtering` documentation example
  website/src/docs/hotchocolate/api-reference/extending-filtering.md
Labels: 🌶️ website, 📚 documentation

#3550 Fixed razor component generator.
  src/StrawberryShake/Client/src/Razor/QueryBase.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Protocols/GraphQLWebSocket/GraphQLWebSocketProtocol.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/CSharpGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/RazorQueryGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/SourceDocumentKind.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/CSharpSyntaxGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/CSharpSyntaxGeneratorResult.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeNames.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Razor.Tests/GeneratorTestHelper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Razor.Tests/__snapshots__/RazorGeneratorTests.Query_And_Mutation.snap
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/CSharpClientGenerator.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/FileDocumentWriter.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/FileLogger.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/Properties/AnalyzerResources.Designer.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/Properties/AnalyzerResources.resx
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/SingleFileDocumentWriter.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/SourceDocumentExtensions.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/StrawberryShake.CodeGeneration.CSharp.Analyzers.csproj
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/CustomScalar/.generated/CustomScalarClient.StrawberryShake.cs
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/StarWars/.generated/StarWarsClient.StrawberryShake.cs
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/StrawberryShake.CodeGeneration.CSharp.Analyzers.Tests.csproj
Labels: 🌶️ strawberry shake

#3542 Fixed internal field generation in Strawberry Shake
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultInfoGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultTypeGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/NameUtils.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsIntrospectionTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsIntrospectionTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/__snapshots__/StarWarsIntrospectionTest.Execute_StarWarsIntrospection_Test.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/IntrospectionQuery.graphql
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.IntrospectionQuery.snap
Labels: 🌶️ strawberry shake

#3552 Fixed enum discovery in StrawBerry Shake
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator_EntityOrUnionDataHandler.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectOutputTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/EnumTypeUsageAnalyzer.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/EntityOrIdGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/EntityIdOrDataTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.InterfaceField.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.InterfaceList.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.NonNullableValueTypeId.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.UnionField.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.UnionList.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.UnionListInEntity.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.UnionWithNestedObject.snap
Labels: 🌶️ strawberry shake, 🎬 ready

#3554 Fixed issue where types were merged incorrectly.
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/ResolverDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptorBase.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptor~2.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverPropertyGeneratorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.Extended_Field_Overwrites_Extended_Field.snap
Labels: 🌶️ hot chocolate

#3560 Refined the data component semantically.
  src/StrawberryShake/Client/src/Razor/DataComponent.cs
Labels: 🌶️ strawberry shake

#3567 Expose ResolverMember on IObjectField
  src/HotChocolate/Core/src/Types/Types/Contracts/IEnumType.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IEnumType~1.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IEnumValue.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IHasDescription.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IHasDirectives.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IHasName.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IHasScope.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IHasTypeIdentity.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/ILeafType.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/INamedInputType.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/INamedOutputType.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/INamedType.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IObjectField.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IObjectType.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IUnionType.cs
  src/HotChocolate/Core/src/Types/Types/ObjectField.cs
  src/HotChocolate/Core/test/Types.Tests/NamingConventionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/Conventions/DefaultTypeInspectorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/NamingConventionTests.PureCodeFirst_NamingConvention_RenameArgument_RequestBuilder.snap
  src/HotChocolate/Language/src/Language/Legacy/Visitors/ListExtensions.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/SyntaxNodeInfo.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/VisitorExtensions.cs
  src/StrawberryShake/Client/src/Core/OperationRequest.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#3570 Added more information to the id serialization exception
  src/HotChocolate/Core/src/Types/Types/Relay/IdSerializationException.cs
  src/HotChocolate/Core/src/Types/Types/Relay/IdSerializer.cs
Labels: 🌶️ hot chocolate

#3568 Fixed DefaultTypeInspector ignored ScopedStateAttribute
  src/HotChocolate/Core/src/Abstractions/ScopedStateAttribute.cs
  src/HotChocolate/Core/src/Types/Extensions/ResolverContextExtensions.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/ExpressionHelper.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/test/Execution.Tests/ScopedContextDataTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverPropertyGeneratorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/ResolverCompilerTests.SchemaIntegrationTest.snap
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
Labels: 🌶️ hot chocolate, 🐛 bug

#3538 Use ExampleTabs where they weren't used previously
  website/src/docs/hotchocolate/api-reference/object-type.md
  website/src/docs/hotchocolate/defining-a-schema/scalars.md
  website/src/docs/hotchocolate/fetching-data/filtering.md
  website/src/docs/hotchocolate/fetching-data/projections.md
  website/src/docs/hotchocolate/fetching-data/sorting.md
  website/src/docs/hotchocolate/integrations/entity-framework.md
Labels: 🌶️ website, 📚 documentation

#3573 Align HotChocolate.Templates.Server with official templates
  templates/Server/content/Program.cs
  templates/Server/content/Startup.cs
  templates/Server/content/appsettings.Development.json
  templates/Server/content/appsettings.json
Labels: 🎉 enhancement

#3525 Document subscriptions
  website/src/docs/hotchocolate/api-reference/extending-filtering.md
  website/src/docs/hotchocolate/api-reference/filtering.md
  website/src/docs/hotchocolate/defining-a-schema/operations.md
  website/src/docs/hotchocolate/get-started.md
  website/src/pages/index.tsx
  website/src/pages/platform.tsx
Labels: 🌶️ hot chocolate, 🌶️ website, 📚 documentation

#3591 Added Dataloader Documentation
  website/src/docs/hotchocolate/fetching-data/dataloader.md
Labels: 🌶️ website, 🎬 ready

#3590 Added integration overview
  website/src/docs/hotchocolate/integrations/index.md
Labels: 🌶️ website, 🎬 ready

#3589 Added Scalar Documentation for Strawberry Shake
  website/src/docs/strawberryshake/scalars.md
Labels: 🌶️ website, 🎬 ready

#3598 Fixed Strawberry Shake Base64 serialization.
  src/StrawberryShake/Client/src/Core/Json/JsonSerializationHelper.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/DefaultHttpClientFactory.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/DownloadCommandHandler.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/InitCommandArguments.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/InitCommandContext.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/InitCommandHandler.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/OAuth/AccessToken.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/OAuth/AuthArgumentsBase.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/OAuth/CommandLineApplicationExtensions.cs
Labels: 🌶️ strawberry shake

#3597 Add CollectionSegment<T>
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegment.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegment~1.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/CollectionSegmentTests.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/CustomCollectionSegmentHandlerTests.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/CustomCollectionSegmentHandlerTests.Infer_Schema_Correctly_When_CollectionSegment_IsUsed.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/CustomCollectionSegmentHandlerTests.Use_Resolver_Result_If_It_Is_A_Page.snap
Labels: 🌶️ hot chocolate

#3601 Added Fetching from REST documentation
  website/src/docs/hotchocolate/fetching-data/fetching-from-rest.md
Labels: 🌶️ website

#3600 Added Fetching from Database documentation
  website/src/docs/hotchocolate/fetching-data/fetching-from-databases.md
Labels: 🌶️ website, 🎬 ready

#3610 Fixed no scheme authorization in tooling
  src/StrawberryShake/Tooling/src/dotnet-graphql/DefaultHttpClientFactory.cs
Labels: 🌶️ strawberry shake

#3611 Fixed variable rewriter
  src/HotChocolate/Core/src/Execution/Processing/VariableCoercionHelper.cs
  src/HotChocolate/Core/src/Execution/Processing/VariableRewriter.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableFilterProvider.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/QueryableSortProvider.cs
  src/HotChocolate/Data/test/Data.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.Execute_And_OnRoot_Result.snap
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.Execute_And_OnRoot_Reverse_Result.snap
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.Execute_And_OnRoot_Reverse_Schema.snap
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.Execute_And_OnRoot_Schema.snap
Labels: 🌶️ hot chocolate, 🎬 ready

#3613 Fixed mongodb date time filtering
  src/HotChocolate/MongoDb/src/Data/Driver/MongoDbFilterOperation.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/MongoDbFilterVisitorComparableTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_12.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_12_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_13.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_13_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_Nullable_12.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_Nullable_12_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_Nullable_13.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_Nullable_13_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_Nullable_null.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_Nullable_null_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_ShortEqual_Expression_DateTime_null.snap
Labels: 🌶️ hot chocolate, 🎬 ready

#3614 Fixed collisions of aliases in projections
  src/HotChocolate/Data/src/Data/Projections/Optimizers/IsProjectedProjectionOptimizer.cs
  src/HotChocolate/Data/test/Data.Tests/Book.cs
  src/HotChocolate/Data/test/Data.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.ExecuteAsync_Should_ProjectAndPage_When_AliasIsSameAsAlwaysProjectedField_Result.snap
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.ExecuteAsync_Should_ProjectAndPage_When_AliasIsSameAsAlwaysProjectedField_Schema.snap
Labels: 🌶️ hot chocolate, 🎬 ready

#3629 #3628 add support for IsRepeatable not being specified on directives
  src/HotChocolate/Utilities/src/Utilities.Introspection/IntrospectionDeserializer.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/Directive.cs
Labels: 🌶️ hot chocolate, 🐛 bug

#3637 Fix not working links Docs (Performance)
  website/src/docs/hotchocolate/performance/index.md
Labels: 🌶️ website, 📚 documentation
