Repository ChilliCream/graphql-platform, pull requests merged in 2021-08, with the labels that each got.

#3940 Align code style of website with BCP
  website/src/components/articles/article-comments.tsx
  website/src/components/articles/article-content-footer.tsx
  website/src/components/articles/article-sections.tsx
  website/src/components/articles/article.tsx
  website/src/components/blog-article/blog-article-metadata.tsx
  website/src/components/blog-article/blog-article-sharebar.tsx
  website/src/components/blog-article/blog-article-tags.tsx
  website/src/components/blog-article/blog-article.tsx
  website/src/components/doc-page/doc-page-article-wrapper.tsx
  website/src/components/doc-page/doc-page-aside.tsx
  website/src/components/doc-page/doc-page-community.tsx
  website/src/components/doc-page/doc-page-legacy.tsx
  website/src/components/doc-page/doc-page-navigation.tsx
  website/src/components/doc-page/doc-page-pane-header.tsx
  website/src/components/doc-page/doc-page.tsx
  website/src/components/images/banana-cake-pop.tsx
  website/src/components/images/blog-post-chillicream-platform-11-1.tsx
  website/src/components/images/blog-post-ef-meets-graphql.tsx
  website/src/components/images/blog-post-version-11.tsx
  website/src/components/images/hot-chocolate.tsx
  website/src/components/mdx/code-block.tsx
  website/src/components/mdx/copy.tsx
  website/src/components/mdx/example-tabs.tsx
  website/src/components/mdx/inline-code.tsx
  website/src/components/mdx/tabs/panel.tsx
  website/src/components/mdx/tabs/tab.tsx
  website/src/components/mdx/tabs/tabs.tsx
  website/src/components/misc/cookie-consent.tsx
  website/src/components/misc/link.tsx
  website/src/components/misc/page-top.tsx
  website/src/components/misc/pagination.tsx
  website/src/components/misc/search.tsx
  website/src/components/misc/seo.tsx
  website/src/components/structure/header.tsx
  website/src/components/structure/layout.tsx
  website/src/components/structure/main-content-container/content.tsx
  website/src/components/structure/main-content-container/footer.tsx
  website/src/components/structure/main-content-container/main-content-container.tsx
  website/src/components/support/sales-card-perk-item.tsx
  website/src/components/support/sales-card-perk.tsx
  website/src/components/support/sales-card.tsx
  website/src/components/widgets/blog-articles.tsx
  website/src/custom.d.ts
  website/src/pages/404.tsx
  website/src/pages/index.tsx
  website/src/pages/platform.tsx
  website/src/pages/support.tsx
  website/src/partials/sales-partial.tsx
  website/src/templates/blog-article-template.tsx
  website/src/templates/blog-articles-template.tsx
  website/src/templates/blog-tag-template.tsx
  website/src/templates/doc-page-template.tsx
Labels: 🌶️ website

#3976 Use original quality for images on the website
  website/gatsby-config.js
  website/src/components/blog-article/blog-article.tsx
  website/src/components/images/banana-cake-pop.tsx
  website/src/components/images/blog-post-chillicream-platform-11-1.tsx
  website/src/components/images/blog-post-ef-meets-graphql.tsx
  website/src/components/images/blog-post-version-11.tsx
  website/src/components/images/hot-chocolate.tsx
  website/src/components/misc/seo.tsx
  website/src/components/widgets/blog-articles.tsx
  website/src/pages/index.tsx
Labels: 🌶️ website, 🎬 ready

#4052 randyridge/subscription findings
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/DefaultMessagePipeline.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/KeepConnectionAliveJob.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/MessageProcessor.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/WebSocketConnection.cs
  src/HotChocolate/Core/src/Execution/Processing/ResolverTask.cs
  src/HotChocolate/Core/src/Fetching/BatchScheduler.cs
Labels: 🌶️ hot chocolate

#4053 Update docs.json
  website/src/docs/docs.json
Labels: 🌶️ website

#4061 Updated slack links
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
  website/gatsby-config.js
  website/src/blog/2021-07-20-rider-language-injection/2021-07-20-rider-language-injection.md
Labels: 🎬 ready, 🧰 maintenance, 🌶️ website

#4017 Fix issue with Public API analyzer
  .build/Build.PublicApiAnalyzer.cs
  .build/Build.cs
  .build/Helpers.cs
  src/Directory.Build.props
  src/GreenDonut/src/Core/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/src/Fetching/PublicAPI.Unshipped.txt
Labels: 🎬 ready, 🧰 maintenance, 🌶️ hot chocolate, 🌶️ green donut

#4021 Remove wrong ISourceStream from Subscription example
  website/src/docs/hotchocolate/defining-a-schema/subscriptions.md
Labels: 📚 documentation, 👓 ready-for-review

#4056 Fixed naming of enum values with underline
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultNamingConventions.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeTests.ValueContainingUnderline_Should_NotResultInDoubleUnderline.snap
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#4034 Correctly ignore fields using ObjectTypeExtension
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ObjectTypeExtension_Remove_Field.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ObjectTypeExtension_Remove_Field_By_Name.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.TypeExtension_AddMiddleware.snap
  website/src/docs/hotchocolate/defining-a-schema/extending-types.md
Labels: 📚 documentation, 🎬 ready, 🌶️ hot chocolate

#4055 Fixed Socket Session Interceptor Service Injection
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.Http.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.Subscriptions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/WebSocketInterceptorTests.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#4020 Allow to ignore enum values
  src/HotChocolate/Core/src/Abstractions/GraphQLIgnoreAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IEnumTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IEnumTypeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IEnumValueDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/EnumValueDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/EnumValueDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Extensions/EnumTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/EnumType.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/EnumTypeExtension.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeExtensionTests.EnumTypeExtension_Ignore_Fields.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeTests.EnumTypeT_Ignore_Fields.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeTests.EnumTypeT_Ignore_Fields_With_Extension.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeTests.Ignore_Fields_With_GraphQLIgnoreAttribute.snap
Labels: 🎬 ready, 🌶️ hot chocolate

#4067 Updated BCP
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/asset-manifest.json
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/index.html
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/css/2.7792b7b7.chunk.css
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/css/5.18ac5ed7.chunk.css
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/css/main.cc3afb38.chunk.css
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/0.e83e029e.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/0.e83e029e.chunk.js.LICENSE.txt
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/1.fb94fa69.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/10.a9ab900d.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/11.cc8523ce.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/12.0af0b7ae.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/13.d09d9953.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/14.581b3ecd.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/2.07762214.chunk.js.LICENSE.txt
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/2.9304582f.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/3.85f4faa8.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/5.a8b3f71a.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/5.a8b3f71a.chunk.js.LICENSE.txt
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/6.ed463105.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/7.7a2ed0de.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/8.35b16909.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/9.0fd0a53f.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/main.60609fa9.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/main.7a0ccd12.chunk.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/runtime-main.ae8516e0.js
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/static/js/runtime-main.d5aaf06e.js
Labels: 🌶️ hot chocolate, 🌶️ banana cake pop

#4075 Public API no longer operates on All.sln
  .build/Build.Environment.cs
  .build/Build.PublicApiAnalyzer.cs
  .gitignore
Labels: 🧰 maintenance

#4074 Require Paging Boundaries
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPagingHandler.cs
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPagingHelper.cs
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPagingProvider.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Properties/CursorResources.Designer.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Properties/CursorResources.resx
  src/HotChocolate/Core/src/Types.CursorPagination/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/src/Types.CursorPagination/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/OffsetPagingHandler.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/src/Types.OffsetPagination/QueryableOffsetPagingHandler.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingHelper.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingOptions.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.No_Boundaries_Set.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.MaxPageSizeReached.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.No_Paging_Boundaries.snap
Labels: 🌶️ hot chocolate

#4088 Fix Url serialization in strawberry shake
  src/StrawberryShake/Client/src/Core/Serialization/UrlSerializer.cs
Labels: 🌶️ strawberry shake

#4090 Add note about only registering root types once
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
  website/src/docs/hotchocolate/defining-a-schema/queries.md
  website/src/docs/hotchocolate/defining-a-schema/subscriptions.md
Labels: 📚 documentation

#4096 Add issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: 🧰 maintenance

#4102 Added support for descriptor attributes to schema-first.
  src/HotChocolate/Core/src/Types.CursorPagination/ConnectionType.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/UsePagingAttribute.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegmentType~1.cs
  src/HotChocolate/Core/src/Types/Configuration/Contracts/ITypeDiscoveryContext.cs
  src/HotChocolate/Core/src/Types/Configuration/RegisteredType.DiscoveryContext.cs
  src/HotChocolate/Core/src/Types/Internal/TypeDependencyHelper.cs
  src/HotChocolate/Core/src/Types/Schema.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/DescriptorAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/CompleteConfiguration.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/DirectiveTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/EnumTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/FieldDefinitionBase.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/InputObjectTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/InterfaceTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/OutputFieldDefinitionBase.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/SchemaTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/TypeDefinitionBase~1.cs
  src/HotChocolate/Core/src/Types/Types/DirectiveType.cs
  src/HotChocolate/Core/src/Types/Types/Directives/CostTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/InterfaceCompletionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/ResolverTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarType.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/TypeSystemObjectBase~1.cs
  src/HotChocolate/Core/src/Types/Types/UnionType.cs
  src/HotChocolate/Core/src/Types/Types/UnionTypeExtension.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/TypeInitializationOrderTests.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/TypeInitializerTests.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaFirstTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.SchemaFirst_Cursor_Paging.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.SchemaFirst_Cursor_Paging_Execute.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.SchemaFirst_Cursor_Paging_With_Resolver.snap
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterConventionDefinition.cs
Labels: 🌶️ hot chocolate

#4103 Fixed the variable coercion when variable values are omitted.
  src/HotChocolate/Core/src/Execution/Processing/ArgumentCoercionHelper.cs
  src/HotChocolate/Core/src/Execution/Processing/VariableCoercionHelper.cs
  src/HotChocolate/Core/src/Execution/Processing/VariableRewriter.cs
  src/HotChocolate/Core/src/Execution/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Execution/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/test/Execution.Tests/CodeFirstTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/VariableCoercionHelperTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/CodeFirstTests.EnsureThatArgumentDefaultIsUsedWhenVariableValueIsOmitted.snap
Labels: 🌶️ hot chocolate

#4107 Added support for dynamic type references through GraphQL syntax.
  src/HotChocolate/Core/src/Abstractions/GraphQLTypeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/ITypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/DirectiveTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/InputObjectTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/InterfaceTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/ObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/test/Types.Records.Tests/RecordsTests.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaFirstTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/ArgumentDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/Conventions/DefaultTypeInspectorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/DirectiveArgumentDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/InputFieldDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/InterfaceFieldDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/ObjectFieldDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/DirectiveTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InterfaceTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/DirectiveTypeTests.Specify_Argument_Type_With_SDL_Syntax.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Specify_Argument_Type_With_SDL_Syntax.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InterfaceTypeTests.Specify_Argument_Type_With_SDL_Syntax.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InterfaceTypeTests.Specify_Field_Type_With_SDL_Syntax.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Specify_Argument_Type_With_SDL_Syntax.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Specify_Field_Type_With_SDL_Syntax.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Reference_Schema_First_Types_From_Code_First_Models.snap
  src/HotChocolate/Filters/test/Types.Sorting.Tests/ObjectFieldDescriptorExtensionsTests.cs
  website/src/docs/hotchocolate/api-reference/migrate-from-11-to-12.md
Labels: 📚 documentation, 🌶️ hot chocolate

#4125 Added tests for when realy id is null
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/RelaySchemaTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/RelaySchemaTests.Relay_ShouldReturnNonNullError_When_IdIsNull.snap
Labels: 🎬 ready, 🌶️ hot chocolate

#4130 Added integration test for default value
  src/HotChocolate/Core/test/Types.Tests/Types/InputParserTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputParserTests.Integration_InputObjectDefaultValue_ValueIsInitialized.snap
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#4128 Fixed override of resolver pipeline in optimizers
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryableFilterProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryablePagingProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryableSortProjectionOptimizer.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#4127 Added directive location documentation
  website/src/docs/hotchocolate/defining-a-schema/directives.md
Labels: 📚 documentation, 👓 ready-for-review

#4110 Expand enum documentation
  website/src/docs/hotchocolate/defining-a-schema/enums.md
  website/src/docs/hotchocolate/defining-a-schema/extending-types.md
  website/src/docs/hotchocolate/defining-a-schema/object-types.md
Labels: 📚 documentation, 👓 ready-for-review

#4153 Correctly display scrollbar in navigation
  website/src/components/doc-page/doc-page-navigation.tsx
  website/src/pages/index.tsx
Labels: 🌶️ website, 👓 ready-for-review

#4156 Fixed an issue with the initialization of default values.
  src/HotChocolate/Core/src/Types/Configuration/RegisteredType.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Internal/TypeDependencyHelper.cs
Labels: 🌶️ hot chocolate

#3887 Added queryable extensions methods for data
  src/HotChocolate/Data/src/Data/DataResources.Designer.cs
  src/HotChocolate/Data/src/Data/DataResources.resx
  src/HotChocolate/Data/src/Data/Filters/Expressions/Extensions/QueryableFilterExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableFilterProvider.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Extensions/QueryableProjectionExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionProvider.cs
  src/HotChocolate/Data/src/Data/PublicAPI.Unshipped.txt
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Extensions/QueryableSortExtensions.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/QueryableSortProvider.cs
  src/HotChocolate/Data/src/Data/ThrowHelper.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Attributes/CatchErrorMiddlewareAttribute.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Extensions/CommonTestExtensions.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/QueryableFilteringExtensionsTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/QueryableFilteringExtensionsTests.Extension_Should_BeMissingMiddleware.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/QueryableFilteringExtensionsTests.Extension_Should_BeMissingMiddleware__ex.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/QueryableFilteringExtensionsTests.Extension_Should_BeTypeMissMatch.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/QueryableFilteringExtensionsTests.Extension_Should_BeTypeMissMatch__ex.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/QueryableFilteringExtensionsTests.Extensions_Should_FilterQuery.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/Attributes/CatchErrorMiddlewareAttribute.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/Extensions/CommonTestExtensions.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionExtensionsTests.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionExtensionsTests.Extension_Should_BeMissingMiddleware.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionExtensionsTests.Extension_Should_BeMissingMiddleware__ex.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionExtensionsTests.Extension_Should_BeTypeMissMatch.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionExtensionsTests.Extension_Should_BeTypeMissMatch__ex.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionExtensionsTests.Extensions_Should_ProjectQuery.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/Attributes/CatchErrorMiddlewareAttribute.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/Extensions/CommonTestExtensions.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/QueryableSortingExtensionsTests.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/QueryableSortingExtensionsTests.Extension_Should_BeMissingMiddleware.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/QueryableSortingExtensionsTests.Extension_Should_BeMissingMiddleware__ex.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/QueryableSortingExtensionsTests.Extension_Should_BeTypeMissMatch.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/QueryableSortingExtensionsTests.Extension_Should_BeTypeMissMatch__ex.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/QueryableSortingExtensionsTests.Extensions_Should_SortQuery.snap
Labels: 🎬 ready, 🌶️ hot chocolate

#4155 Extend interface documentation
  website/src/docs/hotchocolate/defining-a-schema/enums.md
  website/src/docs/hotchocolate/defining-a-schema/interfaces.md
Labels: 📚 documentation, 👓 ready-for-review

#4064 Added Validation for runtime types
  ErrorCodes.md
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/ISchemaOptions.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/ReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/DirectiveType~1.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/TypeValidationTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Utilities/ErrorHelper.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_Defaults.snap
  src/HotChocolate/Core/test/Types.Tests/Types/InputObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InterfaceTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/UnionTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.InputObjectType_InInputObjectType_ThrowsSchemaException.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InterfaceTypeTests.InterfaceType_InInterfaceType_ThrowsSchemaException.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.ObjectType_InObjectType_ThrowsSchemaException.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/UnionTypeTests.UnionType_InUnionType_ThrowsSchemaException.snap
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#3623 Fix Optional<IFile> in InputObject
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpMultipartMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Utilities/UploadQuery.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.Upload_File_Inline_InputObject.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.Upload_Optional_File.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.Upload_Optional_File_In_Inline_InputObject.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.Upload_Optional_File_In_InputObject.snap
  src/HotChocolate/Core/src/Types/Utilities/DefaultTypeConverter.cs
  website/src/docs/hotchocolate/api-reference/aspnetcore.md
  website/src/docs/hotchocolate/v10/schema/input-object-type.md
Labels: 🐛 bug, 🌶️ website, 🌶️ hot chocolate, 👓 ready-for-review

#4159 Allow upcast when extending types and injecting the parent.
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/EdgeTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/EdgeTests.Extend_Edge_Type_And_Inject_Edge_Value_Request.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/EdgeTests.Extend_Edge_Type_And_Inject_Edge_Value_Schema.snap
Labels: 🌶️ hot chocolate

#4149 Adding new XmlDocumentationFileName configuration to ISchemaOptions a…
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/ISchemaOptions.cs
  src/HotChocolate/Core/src/Types/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Types/ReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultNamingConventions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DescriptorContext.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/IXmlDocumentationFileResolver.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/XmlDocumentationFileResolver.cs
  src/HotChocolate/Core/test/Types.Tests.Documentation/Dummy.xml
  src/HotChocolate/Core/test/Types.Tests.Documentation/HotChocolate.Types.Tests.Documentation.csproj
  src/HotChocolate/Core/test/Types.Tests/Configuration/ReadOnlySchemaOptionsTests.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_Defaults.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/Conventions/XmlDocumentationProviderTests.cs
Labels: 🌶️ hot chocolate
