Repository ChilliCream/graphql-platform, pull requests merged in 2021-10, with the labels that each got.

#4291 Return argument value as field definition runtimeType if requested as object type
  src/HotChocolate/Core/src/Types/Types/InputParser.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ArgumentTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ArgumentTests.Integration_Collection_EnsureCorrectRuntimeType.snap
Labels: 🎬 ready, 🌶️ hot chocolate

#4285 Add a redis subscriptions overload
  src/HotChocolate/Core/src/Subscriptions.Redis/DependencyInjection/RedisSubscriptionsServiceCollectionExtensions.cs
  src/HotChocolate/Core/test/Subscriptions.Redis.Tests/RedisIntegrationTests.cs
  src/HotChocolate/Core/test/Subscriptions.Redis.Tests/RedisSubscriptionsServiceCollectionExtensionsTests.cs
Labels: 🎉 enhancement, 🎬 ready, 🌶️ hot chocolate

#4293 Fix Public API
  src/HotChocolate/Core/src/Abstractions/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Fetching/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Subscriptions.Redis/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/src/Types.CursorPagination/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Types/PublicAPI.Shipped.txt
  src/HotChocolate/Spatial/src/Types/PublicAPI.Shipped.txt
Labels: 🌶️ hot chocolate

#4278 Fixed "About this section" on mobile devices.
  website/src/components/doc-page/doc-page-aside.tsx
  website/src/docs/hotchocolate/server/instrumentation.md
Labels: 📚 documentation, 🎬 ready, 🌶️ website
