Repository ChilliCream/graphql-platform, pull requests merged in 2021-09, with the labels that each got.

#4165 Fixed warnings.
  src/HotChocolate/Core/src/Types/Resolvers/DefaultResolverCompiler.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Helpers/CompleteInterfacesHelper.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/InterfaceCompletionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptorBase.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptor~2.cs
  src/HotChocolate/Core/src/Types/Types/Relay/QueryFieldTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/UnionType.cs
Labels: 🌶️ hot chocolate

#4174 Improve onboarding experience for new contributors
  CONTRIBUTING.md
  README.md
Labels: 🎬 ready

#4170 When reading a channel, use TryRead() instead of ReadAsync() for speed and glory
  src/HotChocolate/Core/src/Subscriptions.InMemory/InMemorySourceStream.cs
Labels: 🌶️ hot chocolate

#4181 Fixed Pagination Regression for IQueryable
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPaginationAlgorithm.cs
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPagingRange.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/EnumerableCursorPagingExtensions.cs
  src/HotChocolate/Core/src/Types.CursorPagination/QueryableCursorPagingHandler.cs
  src/HotChocolate/Core/src/Types.CursorPagination/QueryableCursorPagingHelper.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/CursorPagingHandlerTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/EnumerableCursorPagingExtensionsTests.cs
  src/HotChocolate/MongoDb/src/Data/Paging/AggregateFluentPagingContainer.cs
  src/HotChocolate/MongoDb/src/Data/Paging/FindFluentPagingContainer.cs
  src/HotChocolate/MongoDb/src/Data/Paging/IMongoPagingContainer.cs
  src/HotChocolate/MongoDb/src/Data/Paging/MongoCursorPagingHandler.cs
  src/HotChocolate/MongoDb/src/Data/Paging/MongoDbCursorPagingHandler.cs
  src/HotChocolate/MongoDb/src/Data/Paging/MongoDbCursorPagingProvider.cs
Labels: 🌶️ hot chocolate

#4182 More robust CombinedServiceProvider
  src/HotChocolate/Utilities/src/Utilities/CombinedServiceProvider.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/CombinedServiceProviderTests.cs
Labels: 🐛 bug, 🌶️ hot chocolate

#4196 ASP.NET Core Middleware Refinements
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/EndpointRouteBuilderExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpGetSchemaMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/MiddlewareRoutingType.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/PublicAPI.Shipped.txt
  src/HotChocolate/AspNetCore/src/AspNetCore/PublicAPI.Unshipped.txt
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpGetMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpGetSchemaMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/WebSocketProtocolTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/ToolConfigurationFileMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetMiddlewareTests.MapGraphQLHttp_Simple_IsAlive_Test_Explicit_Path.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL_Explicit_Route.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL_Explicit_Route_Explicit_Pattern.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/ToolConfigurationFileMiddlewareTests.Fetch_Tool_Config_Without_Options_Explicit_Route.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/ToolConfigurationFileMiddlewareTests.Fetch_Tool_Config_Without_Options_Explicit_Route_Combined.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/ToolConfigurationFileMiddlewareTests.Fetch_Tool_Config_Without_Options_Explicit_Route_Explicit_Path.snap
Labels: 🐛 bug, 🎉 enhancement, 🌶️ hot chocolate

#2861 Added options to opt-out of AND/OR in filtering.
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterConvention.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterConventionDefinition.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterConventionDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/IFilterConvention.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/IFilterConventionDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/FilterInputTypeDefinition.cs
  src/HotChocolate/Data/src/Data/Filters/FilterInputTypeDescriptor.cs
  src/HotChocolate/Data/src/Data/PublicAPI.Unshipped.txt
  src/HotChocolate/Data/test/Data.Filters.Tests/Convention/FilterConventionTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Convention/__snapshots__/FilterConventionTests.FilterConvention_Should_NotAdd.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/Convention/__snapshots__/FilterConventionTests.FilterConvention_Should_NotAddOr.snap
Labels: 🎬 ready, 🌶️ hot chocolate

#4203 Fixed issue where null values were not allowed in DataLoader.
  src/GreenDonut/src/Core/BatchDataLoader.cs
  src/GreenDonut/src/Core/PublicAPI.Unshipped.txt
  src/GreenDonut/src/Core/Result.cs
  src/GreenDonut/test/Core.Tests/BatchDataLoaderTests.cs
  src/GreenDonut/test/Core.Tests/ResultTests.cs
Labels: 🌶️ green donut

#4204 Execution Package Cleanup
  src/HotChocolate/Core/src/Execution/DependencyInjection/InternalServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Convention.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContextPoolPolicy.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanBuilderContext.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryStepBatch.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/ResolverQueryPlanNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ExecutionTaskPool.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ExecutionTaskPoolPolicy.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Conventions.Tests.cs
Labels: 🌶️ hot chocolate

#4205 Added service scope attribute.
  src/HotChocolate/Core/src/Types/Types/Attributes/UseServiceScopeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/ObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Attributes/UseServiceScopeAttributeTests.cs
Labels: 🌶️ hot chocolate

#4186 incorporate changes made to the backport of #4143 in #4144 back to main
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/WebSocketConnection.cs
Labels: 🌶️ hot chocolate

#4194 Website: Add additional company logos
  website/src/images/companies/additiv.svg
  website/src/images/companies/bdna.svg
  website/src/images/companies/infoslips.svg
  website/src/images/companies/orderin.svg
  website/src/images/companies/speedway-motors.svg
  website/src/images/companies/travel-soft.svg
  website/src/pages/index.tsx
Labels: 🌶️ website

#3967 Relay documentation
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/relay.md
  website/src/docs/hotchocolate/defining-a-schema/index.md
  website/src/docs/hotchocolate/defining-a-schema/relay.md
Labels: 📚 documentation, 🎬 ready, 🌶️ website

#4212 Fixed Total Count Cursor Pagination
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPaginationAlgorithm.cs
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPagingHandler.cs
  src/HotChocolate/Core/src/Types.CursorPagination/QueryableCursorPagingHandler.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/QueryableOffsetPagingHandler.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/HotChocolate.Types.CursorPagination.Tests.csproj
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/DatabaseContext.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/SqlCursorCursorPagingIntegrationTests.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/SqlLiteCursorTestBase.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/SqlLiteOffsetTestBase.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/SqlOffsetPagingIntegrationTests.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.Attribute_Simple_StringList_Default_Items.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.Attribute_Simple_StringList_First_2.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.Attribute_Simple_StringList_First_2_After.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.Attribute_Simple_StringList_Global_DefaultItem_2.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.No_Boundaries_Set.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.Simple_StringList_Default_Items.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.Simple_StringList_First_2.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.Simple_StringList_First_2_After.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.Simple_StringList_Global_DefaultItem_2.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.TotalCount_Should_Be_Correct.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlOffsetPagingIntegrationTests.Attribute_Simple_StringList_Default_Items.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlOffsetPagingIntegrationTests.Attribute_Simple_StringList_Global_DefaultItem_2.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlOffsetPagingIntegrationTests.Attribute_Simple_StringList_Skip_2.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlOffsetPagingIntegrationTests.Attribute_Simple_StringList_Skip_2_After.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlOffsetPagingIntegrationTests.No_Boundaries_Set.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlOffsetPagingIntegrationTests.Simple_StringList_Default_Items.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlOffsetPagingIntegrationTests.Simple_StringList_Global_DefaultItem_2.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlOffsetPagingIntegrationTests.Simple_StringList_Skip_2.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlOffsetPagingIntegrationTests.Simple_StringList_Skip_2_After.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlOffsetPagingIntegrationTests.TotalCount_Should_Be_Correct.snap
Labels: 🌶️ hot chocolate

#4221 Fixed issue when all root fields are deferred.
  src/HotChocolate/Core/src/Execution/Processing/Operation.cs
  src/HotChocolate/Core/src/Execution/Processing/SelectionVariants.cs
  src/HotChocolate/Core/test/Execution.Tests/DeferTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.NoOptimization_Defer_One_Root.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.NoOptimization_Defer_Only_Root.snap
Labels: 🌶️ hot chocolate

#4218 Fixed typo in entity framework docs.
  website/src/docs/hotchocolate/integrations/entity-framework.md
Labels: 📚 documentation

#4224 Updated incremental delivery serialization to conform with RFC changes.
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.SingleRequest_Defer_Results.snap
  src/HotChocolate/Core/src/Execution/Serialization/MultiPartResponseStreamSerializer.cs
  src/HotChocolate/Core/test/Execution.Tests/Serialization/__snapshots__/MultiPartResponseStreamSerializerTests.Serialize_Response_Stream.snap
Labels: 🌶️ hot chocolate

#4225 Fixed type inference when using `ResolveWith`.
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Infer_Types_Correctly_When_Using_ResolveWith.snap
Labels: 🌶️ hot chocolate

#4228 Note about using middleware with ResolveNode
  website/src/docs/hotchocolate/defining-a-schema/relay.md
Labels: 📚 documentation, 👓 ready-for-review

#4233 Fixed object pooling issues.
  src/GreenDonut/src/Core/DataLoaderBase.cs
  src/GreenDonut/src/Core/TaskCacheKey.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/IExecutionTask.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/ParallelExecutionTask.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/PureExecutionTask.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/SerialExecutionTask.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/IExecutionDiagnosticEvents.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredStream.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredTaskExecutor.cs
  src/HotChocolate/Core/src/Execution/Processing/Internal/WorkQueue.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/OperationQueryPlanNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanBuilder.MutationStrategy.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanBuilder.QueryPlanContext.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanBuilder.QueryStrategy.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanBuilder.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTaskBase.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTaskFactory.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Pause.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/DataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/Internal/SuspendedWorkQueueTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/Internal/WorkQueueTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.GetHero_Stream_Plan_Nested_Streams_Parallel.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.GetHero_Stream_Plan_Nested_Streams_Serial.snap
Labels: 🌶️ hot chocolate, 🌶️ green donut

#4237 Handle IAsyncEnumerable<T> for stream and non-stream fields.
  src/HotChocolate/Core/src/Execution/Processing/ISelection.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Global.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.cs
  src/HotChocolate/Core/src/Execution/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/src/Execution/RequestContext.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IObjectField.cs
  src/HotChocolate/Core/src/Types/Types/ObjectField.cs
  src/HotChocolate/Core/test/Execution.Tests/StreamTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.List_With_AsyncEnumerable.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_With_AsyncEnumerable.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_With_AsyncEnumerable_Schema.snap
Labels: 🌶️ hot chocolate

#4226 Added tests to ensure defaults are handled correctly when using attributes.
  src/HotChocolate/Core/src/Types/Types/Attributes/DefaultValueAttribute.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputObjectTypeAttributeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeAttributeTests.Infer_Default_Values_From_Attribute.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeAttributeTests.Infer_Default_Values_From_Attribute_Execute.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeAttributeTests.Infer_Default_Values_From_Attribute_Execute_With_Variables.snap
Labels: 🌶️ hot chocolate

#4239 Fixed issue where casing was ignored for input fields.
  src/HotChocolate/Core/src/Types/Internal/FieldInitHelper.cs
  src/HotChocolate/Core/src/Types/Utilities/Serialization/InputObjectCompiler.cs
  src/HotChocolate/Core/src/Types/Utilities/Serialization/InputObjectConstructorResolver.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Input_Casing_Is_Recognized.snap
Labels: 🌶️ hot chocolate

#4241 Fixed MultiPart protocol issues.
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpPostMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.Ensure_Multipart_Format_Is_Correct_With_Defer.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.Ensure_Multipart_Format_Is_Correct_With_Stream.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.SingleRequest_Defer_Results.snap
  src/HotChocolate/Core/src/Abstractions/Execution/QueryResult.cs
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.Designer.cs
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.resx
  src/HotChocolate/Core/src/Execution/Extensions/OperationContextExtensions.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredFragment.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredStream.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredTaskExecutor.cs
  src/HotChocolate/Core/src/Execution/Processing/IDeferredExecutionTask.cs
  src/HotChocolate/Core/src/Execution/Processing/ResultHelper.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.cs
  src/HotChocolate/Core/src/Execution/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Execution/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/src/Execution/Serialization/MultiPartResponseStreamSerializer.cs
  src/HotChocolate/Core/test/Execution.Tests/Serialization/__snapshots__/MultiPartResponseStreamSerializerTests.Serialize_Response_Stream.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_Nested_Nodes.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_Nodes.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_With_AsyncEnumerable.snap
Labels: 🌶️ hot chocolate

#4248 Fixed Stream Execution in combination with DataLoader.
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/ParallelExecutionTask.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredStream.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.cs
  src/HotChocolate/Core/test/Execution.Tests/StreamTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_With_AsyncEnumerable_InitialCount_1.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_With_AsyncEnumerable_Schema.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_With_DataLoader.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_With_DataLoader_InitialCount_1.snap
Labels: 🌶️ hot chocolate

#4250 DataLoader refinements.
  src/GreenDonut/src/Core/DataLoaderBase.cs
Labels: 🌶️ green donut

#4252 Fixed wrong class used for IObjectTypeDescriptor in class TodoType in Documentation
  website/src/docs/hotchocolate/fetching-data/fetching-from-rest.md
Labels: 📚 documentation

#4255 add note on instrumentation
  website/src/docs/hotchocolate/api-reference/migrate-from-11-to-12.md
Labels: 📚 documentation

#4256 Update migrate-from-11-to-12.md
  website/src/docs/hotchocolate/api-reference/migrate-from-11-to-12.md
Labels: 📚 documentation

#4259 Adding missing setter to ResolveXmlDocumentationFileName property on …
  src/HotChocolate/Core/src/Types/ISchemaOptions.cs
Labels: 🌶️ hot chocolate

#4264 Fixed issue with the UUID parser when using the Utf8Parser
  src/HotChocolate/Core/src/Types/Types/Scalars/UuidType.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/UuidTypeTests.cs
Labels: 🌶️ hot chocolate

#4189 Document server middleware and interceptors
  website/src/components/articles/article-sections.tsx
  website/src/components/doc-page/doc-page-aside.tsx
  website/src/components/doc-page/doc-page-navigation.tsx
  website/src/components/doc-page/doc-page.tsx
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/aspnetcore.md
  website/src/docs/hotchocolate/defining-a-schema/input-object-types.md
  website/src/docs/hotchocolate/defining-a-schema/relay.md
  website/src/docs/hotchocolate/fetching-data/pagination.md
  website/src/docs/hotchocolate/security/authorization.md
  website/src/docs/hotchocolate/server/global-state.md
  website/src/docs/hotchocolate/server/index.md
  website/src/docs/hotchocolate/server/interceptors.md
  website/src/docs/hotchocolate/server/middleware.md
  website/src/docs/hotchocolate/server/uploading-files.md
Labels: 📚 documentation, 🌶️ website, 👓 ready-for-review

#4266 Add AllowIntrospection method and document introspection
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.Validation.cs
  src/HotChocolate/Core/src/Execution/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/RequestExecutorBuilderExtensions_Validation.Tests.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/RequestExecutorBuilderExtensionsValidationTests.AllowIntrospection_IntegrationTest_Allowed.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/RequestExecutorBuilderExtensionsValidationTests.AllowIntrospection_IntegrationTest_NotAllowed.snap
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/__snapshots__/RequestExecutorBuilderExtensionsValidationTests.AllowIntrospection_IntegrationTest_NotAllowed_CustomMessage.snap
  website/src/docs/docs.json
  website/src/docs/hotchocolate/security/index.md
  website/src/docs/hotchocolate/security/introspection.md
  website/src/docs/hotchocolate/server/index.md
  website/src/docs/hotchocolate/server/introspection.md
Labels: 📚 documentation, 🎬 ready, 🌶️ website, 🌶️ hot chocolate

#4253 Fixed issues with the query plan state machine that lead to unexpected behavior.
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.Include_Query_Plan.snap
  src/HotChocolate/Benchmarks/execution.sh
  src/HotChocolate/Benchmarks/src/ConferenceApp/HotChocolate.ConferenceApp.csproj
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/ExecutionTask.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/ExecutionTaskExtensions.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/ExecutionTaskStatus.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/IExecutionTask.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/PureExecutionTask.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/SerialExecutionTask.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredStream.cs
  src/HotChocolate/Core/src/Execution/Processing/IWorkScheduler.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/ExecutionStep.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/IQueryPlanState.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/OperationNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/ParallelNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/ParallelQueryPlanStep.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/ParallelStep.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlan.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanBuilder.MutationStrategy.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanBuilder.QueryStrategy.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanBuilder.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanSerializationProperties.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanStateMachine.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanStep.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/ResolverNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/ResolverQueryPlanStep.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/ResolverStep.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/SelectionBatch.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/SequenceNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/SequenceQueryPlanStep.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/SequenceStep.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.Execute.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTaskBase.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTaskFactory.cs
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.List.cs
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.Object.cs
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.ExecuteAsync.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/IntrospectionFields.cs
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorHandlerTests.FilterOnlyNullRefExceptions.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Internal/SuspendedWorkQueueTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/Internal/WorkQueueTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/QueryPlanIntegrationTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.CreateReviewForEpisode_Plan_Parallel.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.CreateReviewForEpisode_Plan_Serial.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.CreateTwoReviewsForEpisode_Plan_Parallel.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.CreateTwoReviewsForEpisode_Plan_Serial.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.TypeNameFieldsInMutations_Parallel.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanIntegrationTests.DoNotStopExecutingIfReturnTypeIsNullable.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanIntegrationTests.EnsureThatExecutionIsAbortedIfMutationRetunrTypeIsNotNullable.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Nested_Fragments.snap
Labels: 🌶️ hot chocolate

#4265 Fixed Variable Coercion of Single Element in List
  src/HotChocolate/Core/src/Execution/Processing/VariableRewriter.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterVisitorBooleanTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterVisitorVariablesTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorVariablesTests.Create_BooleanEqual_Expression_false.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorVariablesTests.Create_BooleanEqual_Expression_true.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/QueryableSortVisitorVariablesTests.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorVariablesTests.Create_Boolean_OrderBy_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorVariablesTests.Create_Boolean_OrderBy_DESC.snap
Labels: 🌶️ hot chocolate

#4242 Added Data Extensions for IQueryable
  src/HotChocolate/Data/src/Data/Filters/Expressions/Extensions/QueryableFilterExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Extensions/QueryableProjectionExtensions.cs
  src/HotChocolate/Data/src/Data/PublicAPI.Unshipped.txt
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Extensions/QueryableSortExtensions.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#4240 Add DbContext extension method to ResolverContext
  src/HotChocolate/Data/src/EntityFramework/Extensions/EntityFrameworkResolverContextExtensions.cs
  src/HotChocolate/Data/src/EntityFramework/Properties/EntityFrameworkResources.Designer.cs
  src/HotChocolate/Data/src/EntityFramework/Properties/EntityFrameworkResources.resx
  src/HotChocolate/Data/src/EntityFramework/PublicAPI.Unshipped.txt
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/Query.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/SqlLiteCursorTestBase.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/SqlLiteOffsetTestBase.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/UseDbContextTests.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/EntityFrameworkExecutableTests.DbContextType_Is_Object.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.DbContext_ResolverExtension.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.DbContext_ResolverExtension_Missing_DbContext.snap
  website/src/docs/hotchocolate/integrations/entity-framework.md
Labels: 📚 documentation, 🎬 ready, 🌶️ hot chocolate

#4267 Fixed Variable Coercion of Nullable Enum Values
  src/HotChocolate/Core/src/Execution/Processing/VariableCoercionHelper.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/VariableCoercionHelperTests.cs
  src/HotChocolate/Data/HotChocolate.Data.sln
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterVisitorVariablesTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorVariablesTests.Create_BooleanEqual_Expression_NonNull_false.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorVariablesTests.Create_BooleanEqual_Expression_NonNull_true.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/HotChocolate.Data.Sorting.InMemory.Tests.csproj
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/QueryableSortVisitorVariablesTests.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorVariablesTests.Create_Boolean_OrderBy_NonNull_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorVariablesTests.Create_Boolean_OrderBy_NonNull_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorVariablesTests.Integration_Create_Boolean_OrderBy_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorVariablesTests.Integration_Create_Boolean_OrderBy_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorVariablesTests.Integration_Create_Boolean_OrderBy_NonNull_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorVariablesTests.Integration_Create_Boolean_OrderBy_NonNull_DESC.snap
Labels: 🌶️ hot chocolate

#4245 Document instrumentation
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/apollo-tracing.md
  website/src/docs/hotchocolate/api-reference/migrate-from-11-to-12.md
  website/src/docs/hotchocolate/server/global-state.md
  website/src/docs/hotchocolate/server/index.md
  website/src/docs/hotchocolate/server/instrumentation.md
  website/src/docs/hotchocolate/server/interceptors.md
Labels: 📚 documentation, 🌶️ website, 👓 ready-for-review

#4271 Fixed Task Completion Source of SourceStreamAdapter
  src/HotChocolate/Core/src/Types/Utilities/Subscriptions/ObservableSourceStreamAdapter.cs
Labels: 🌶️ hot chocolate

#4275 Fixed TypeModule Setup
  src/HotChocolate/Core/src/Execution/Configuration/DefaultResolverCompilerBuilder.cs
  src/HotChocolate/Core/src/Execution/Configuration/ITypeModule.cs
  src/HotChocolate/Core/src/Execution/Configuration/RequestExecutorSetup.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.TypeModules.cs
  src/HotChocolate/Core/src/Execution/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/HotChocolate/Core/test/Execution.Tests/Configuration/TypeModuleTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Configuration/__snapshots__/TypeModuleTests.Extend_Type_From_TypeModule.snap
  src/HotChocolate/Core/test/Execution.Tests/Configuration/__snapshots__/TypeModuleTests.Extend_Type_From_TypeModule_Execute.snap
  src/HotChocolate/Core/test/Execution.Tests/Configuration/__snapshots__/TypeModuleTests.Use_Type_Module_From_DI.snap
  src/HotChocolate/Core/test/Execution.Tests/Configuration/__snapshots__/TypeModuleTests.Use_Type_Module_From_DI_And_Execute.snap
  src/HotChocolate/Core/test/Execution.Tests/Configuration/__snapshots__/TypeModuleTests.Use_Type_Module_From_Factory.snap
Labels: 🌶️ hot chocolate

#4272 Added extensions to register ISerializer
  src/StrawberryShake/Client/src/Core/Extensions/SerializerServiceCollectionExtensions.cs
  src/StrawberryShake/Client/src/Core/PublicAPI.Unshipped.txt
  src/StrawberryShake/Client/test/Core.Tests/Serialization/SerializerResolverTests.cs
Labels: 🌶️ strawberry shake

#4276 Fixed issue with backward pagination disabled.
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPagingHandler.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingDefaults.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.Ensure_That_Explicit_Backward_Paging_Fields_Work.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.Ensure_That_Explicit_Backward_Paging_Fields_Work_Execute.snap
  src/HotChocolate/Data/src/Data/Projections/Expressions/Extensions/QueryableProjectionExtensions.cs
Labels: 🌶️ hot chocolate

#4277 Added fluent paging helpers.
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/CursorPagingQueryableExtensions.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/CursorPagingQueryableExtensionsTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/CursorPagingQueryableExtensionsTests.Enumerable_ApplyCursorPaginationAsync_First_1.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/CursorPagingQueryableExtensionsTests.Enumerable_ApplyCursorPaginationAsync_No_Boundaries.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/CursorPagingQueryableExtensionsTests.Queryable_ApplyCursorPaginationAsync_First_1.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/CursorPagingQueryableExtensionsTests.Queryable_ApplyCursorPaginationAsync_No_Boundaries.snap
Labels: 🌶️ hot chocolate

#4270 Hot Chocolate 12 Release Blog
  website/src/blog/2021-09-27-hot-chocolate-12/2021-09-27-hot-chocolate-12.md
  website/src/blog/2021-09-27-hot-chocolate-12/bcp.png
  website/src/blog/2021-09-27-hot-chocolate-12/hot-chocolate-12-banner.png
  website/src/components/misc/global-style.tsx
Labels: 🌶️ website

#4282 Fix search on website
  website/src/components/misc/search.tsx
Labels: 🌶️ website
