Repository ChilliCream/graphql-platform, pull requests merged in 2021-05, with the labels that each got.

#3630 Update dependency-injection.md
  website/src/docs/hotchocolate/api-reference/dependency-injection.md
Labels: 📚 documentation

#3658 Fixes the error that caused the side not being scrollable #3415
  website/.storybook/main.js
  website/.vscode/settings.json
  website/gatsby-config.js
  website/package.json
  website/src/components/articles/article-elements.tsx
  website/src/components/articles/article-sections.tsx
  website/src/components/blog-article/blog-article.tsx
  website/src/components/doc-page/doc-page-article-wrapper.tsx
  website/src/components/doc-page/doc-page-aside.tsx
  website/src/components/doc-page/doc-page-elements.tsx
  website/src/components/doc-page/doc-page-navigation.tsx
  website/src/components/doc-page/doc-page.tsx
  website/src/components/misc/page-top.tsx
  website/src/components/structure/header.tsx
  website/src/components/structure/main-content-container/main-content-container.tsx
  website/src/docs/hotchocolate/api-reference/aspnetcore.md
  website/src/docs/hotchocolate/api-reference/extending-filtering.md
  website/src/docs/hotchocolate/api-reference/migrate-from-10-to-11.md
  website/src/docs/hotchocolate/distributed-schema/index.md
  website/src/docs/hotchocolate/distributed-schema/schema-configuration.md
  website/src/docs/hotchocolate/distributed-schema/schema-federations.md
  website/src/docs/hotchocolate/distributed-schema/schema-stitching.md
  website/src/docs/strawberryshake/configuration.md
  website/src/docs/strawberryshake/get-started/index.md
  website/src/docs/strawberryshake/networking/authentication.md
  website/src/pages/index.tsx
  website/src/shared-style.ts
  website/src/state/state.ts
  website/tsconfig.json
  website/yarn.lock
Labels: 🌶️ website

#3672 Mark descriptor.Interface as obsolete
  src/HotChocolate/Core/benchmark/StarWars/Types/DroidType.cs
  src/HotChocolate/Core/benchmark/StarWars/Types/HumanType.cs
  src/HotChocolate/Core/benchmark10/StarWars/Types/DroidType.cs
  src/HotChocolate/Core/benchmark10/StarWars/Types/HumanType.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IInterfaceTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IInterfaceTypeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IObjectTypeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceTypeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptorBase~1.cs
  src/HotChocolate/Core/test/Execution.Tests/CodeFirstTests.cs
  src/HotChocolate/Core/test/StarWars/Types/DroidType.cs
  src/HotChocolate/Core/test/StarWars/Types/HumanType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/AlienType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/CatType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/HumanType.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/PetType.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Contracts/LifeInsuranceContractType.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Contracts/SomeOtherContractType.cs
Labels: 🌶️ hot chocolate

#3627 Fixed pagination projection with alias
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryablePagingProjectionOptimizer.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionVisitorPagingTests.css.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateNullable_NodesAndEdgesWithAliases.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorPagingTests.CreateNullable_NodesAndEdgesWithAliases__sql.snap
Labels: 🌶️ hot chocolate, 🎬 ready

#3493 Add Latitude Scalar
  src/HotChocolate/Core/src/Types.Scalars/LatitudeType.cs
  src/HotChocolate/Core/src/Types.Scalars/LocalCurrencyType.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.Designer.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.resx
  src/HotChocolate/Core/src/Types.Scalars/ThrowHelper.cs
  src/HotChocolate/Core/src/Types.Scalars/WellKnownScalarTypes.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/LatitudeTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/LatitudeTypeTests.Latitude_Integration.snap
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/LatitudeTypeTests.Schema_WithScalar_IsMatch.snap
  website/src/docs/hotchocolate/defining-a-schema/scalars.md
Labels: 🌶️ hot chocolate, 🌶️ website, 🎉 enhancement

#3535 Add Longitude scalar
  src/HotChocolate/Core/src/Types.Scalars/LongitudeType.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.Designer.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.resx
  src/HotChocolate/Core/src/Types.Scalars/ThrowHelper.cs
  src/HotChocolate/Core/src/Types.Scalars/WellKnownScalarTypes.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/LongitudeTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/LongitudeTypeTests.Longitude_Integration.snap
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/LongitudeTypeTests.Schema_WithScalar_IsMatch.snap
  website/src/docs/hotchocolate/defining-a-schema/scalars.md
Labels: 🌶️ hot chocolate, 🌶️ website, 🎉 enhancement

#3689 Mark descriptor.Item and descriptor.BindItems as obsolete
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IEnumTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IEnumTypeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/EnumTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/EnumTypeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__DirectiveLocation.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__TypeKind.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/EnumTypeDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeTests.cs
Labels: 🌶️ hot chocolate

#3664 Add support for eui-64 mac addresses for MacAddress scalar type
  src/HotChocolate/Core/src/Types.Scalars/MacAddressType.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.Designer.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.resx
  src/HotChocolate/Core/test/Types.Scalars.Tests/MacAddressTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/MacAddressTypeTests.Schema_WithScalar_IsMatch.snap
  website/src/docs/hotchocolate/defining-a-schema/scalars.md
Labels: 🌶️ hot chocolate, 🎉 enhancement

#3548 Document Pagination
  website/src/docs/hotchocolate/fetching-data/pagination.md
Labels: 🌶️ website, 📚 documentation

#3698 Fixed website scroll perf issue
  website/gatsby-config.js
  website/package.json
  website/src/components/articles/article-sections.tsx
  website/src/components/doc-page/doc-page.tsx
  website/src/components/misc/page-top.tsx
  website/src/components/structure/header.tsx
  website/src/components/structure/main-content-container/main-content-container.tsx
  website/src/docs/hotchocolate/api-reference/object-type.md
  website/src/state/common/common.reducer.ts
  website/src/state/common/common.state.ts
  website/src/state/index.ts
  website/src/state/use-observable.ts
  website/yarn.lock
Labels: 🌶️ website

#3697 Fix overlapping "In this article" section
  website/src/components/articles/article-sections.tsx
Labels: 🌶️ website

#3701 Cleanup of Neo4j Language
  src/HotChocolate/Neo4J/src/Data/Language/AliasedExpression.cs
  src/HotChocolate/Neo4J/src/Data/Language/Comparison.cs
  src/HotChocolate/Neo4J/src/Data/Language/Conditions.cs
  src/HotChocolate/Neo4J/src/Data/Language/Expression.cs
  src/HotChocolate/Neo4J/src/Data/Language/ExpressionList.cs
  src/HotChocolate/Neo4J/src/Data/Language/Expressions.cs
  src/HotChocolate/Neo4J/src/Data/Language/FunctionDefinition.cs
  src/HotChocolate/Neo4J/src/Data/Language/FunctionInvocation.cs
  src/HotChocolate/Neo4J/src/Data/Language/Interfaces/IAliased.cs
  src/HotChocolate/Neo4J/src/Data/Language/Interfaces/IFunctionDefinition.cs
  src/HotChocolate/Neo4J/src/Data/Language/Interfaces/ILiteral.cs
  src/HotChocolate/Neo4J/src/Data/Language/Interfaces/INamed.cs
  src/HotChocolate/Neo4J/src/Data/Language/Interfaces/IPropertyContainer.cs
  src/HotChocolate/Neo4J/src/Data/Language/Interfaces/IVisitable.cs
  src/HotChocolate/Neo4J/src/Data/Language/Interfaces/IVisitor.cs
  src/HotChocolate/Neo4J/src/Data/Language/KeyValueMapEntry.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/Asterisk.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/BooleanLiteral.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/DoubleLiteral.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/IntegerLiteral.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/ListLiteral.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/Literal.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/NullLiteral.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/PlainStringLiteral.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/StringLiteral.cs
  src/HotChocolate/Neo4J/src/Data/Language/MapExpression.cs
  src/HotChocolate/Neo4J/src/Data/Language/MapProjection.cs
  src/HotChocolate/Neo4J/src/Data/Language/Node.cs
  src/HotChocolate/Neo4J/src/Data/Language/NodeLabel.cs
  src/HotChocolate/Neo4J/src/Data/Language/NodeLabels.cs
  src/HotChocolate/Neo4J/src/Data/Language/Operation.cs
  src/HotChocolate/Neo4J/src/Data/Language/Operator.Defaults.cs
  src/HotChocolate/Neo4J/src/Data/Language/Operator.cs
  src/HotChocolate/Neo4J/src/Data/Language/OperatorType.cs
  src/HotChocolate/Neo4J/src/Data/Language/OrderBy.cs
  src/HotChocolate/Neo4J/src/Data/Language/Parameter.cs
  src/HotChocolate/Neo4J/src/Data/Language/Property.cs
  src/HotChocolate/Neo4J/src/Data/Language/Relationship.cs
  src/HotChocolate/Neo4J/src/Data/Language/RelationshipChain.cs
  src/HotChocolate/Neo4J/src/Data/Language/RelationshipDetails.cs
  src/HotChocolate/Neo4J/src/Data/Language/RelationshipDirection.cs
  src/HotChocolate/Neo4J/src/Data/Language/RelationshipLength.cs
  src/HotChocolate/Neo4J/src/Data/Language/RelationshipTypes.cs
  src/HotChocolate/Neo4J/src/Data/Language/SortDirection.cs
  src/HotChocolate/Neo4J/src/Data/Language/SortItem.cs
  src/HotChocolate/Neo4J/src/Data/Language/SymbolicName.cs
  src/HotChocolate/Neo4J/src/Data/Language/Visitor/CypherVisitor.VisitationMap.cs
Labels: 🌶️ hot chocolate

#3703 Allow to request the query plan of the executed request.
  src/HotChocolate/AspNetCore/src/AspNetCore/DefaultHttpRequestInterceptor.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/DefaultSocketSessionInterceptor.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HttpContextExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpHeaderKeys.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpHeaderValues.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpPostMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Utilities/TestServerExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.Include_Query_Plan.snap
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/OperationQueryPlanNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/ParallelQueryPlanNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanSerializationProperties.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/ResolverQueryPlanNode.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/SequenceQueryPlanNode.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.CreateReviewForEpisode_Plan_Parallel.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.CreateReviewForEpisode_Plan_Serial.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.CreateTwoReviewsForEpisode_Plan_Parallel.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.CreateTwoReviewsForEpisode_Plan_Serial.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.GetHero_Plan_Parallel.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.GetHero_Plan_Serial.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.GetHero_Root_Deferred_Plan_Parallel.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/Plan/__snapshots__/QueryPlanBuilderTests.GetHero_Root_Deferred_Plan_Serial.snap
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/StrawberryShake.CodeGeneration.CSharp.Analyzers.csproj
  src/StrawberryShake/SourceGenerator/test/CodeGeneration.CSharp.Analyzers.Tests/StrawberryShake.CodeGeneration.CSharp.Analyzers.Tests.csproj
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#3725 Neo4J - Fix .net standard 2.0 missing IReadOnlySet
  src/HotChocolate/Neo4J/src/Data/Language/CompoundCondition.cs
Labels: 🌶️ hot chocolate

#3699 Remember Tab Selection
  website/src/components/doc-page/doc-page.tsx
  website/src/components/mdx/example-tabs.tsx
  website/src/components/mdx/tabs/tab-groups.tsx
  website/src/components/mdx/tabs/tabs.tsx
Labels: 🌶️ website

#3677 PublicApiAnalyzer refinements
  .build/Build.PublicApiAnalyzer.cs
  .build/Build.cs
  .build/Build.csproj
  .config/dotnet-tools.json
  .devops/azure-pipelines.release-hotchocolate.yml
  .devops/azure-pipelines.sonar-hotchocolate.yml
  .devops/azure-pipelines.sonar-pr-hotchocolate.yml
  .devops/azure-pipelines.test-pr-hotchocolate.yml
  .github/workflows/check-public-api.yml
  .nuke
  .nuke/build.schema.json
  .nuke/parameters.json
  .nuke/temp/All.Test.sln
  API-Baselines.md
  build.cmd
  build.ps1
  build.sh
  scripts/diff-shipped-api.ps1
  scripts/display-unshipped-api.ps1
  scripts/mark-api-shipped.ps1
  src/.vscode/settings.json
  src/HotChocolate/Core/src/Abstractions/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Abstractions/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/src/Core/HotChocolate.Core.csproj
  src/HotChocolate/Core/src/Execution/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Execution/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/src/Types/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Types/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceTypeDescriptor.cs
  src/HotChocolate/Core/src/Validation/PublicAPI.Unshipped.txt
  src/HotChocolate/Language/src/Language.SyntaxTree/PublicAPI.Unshipped.txt
  src/HotChocolate/Language/src/Language/PublicAPI.Shipped.txt
  src/PublicAPI.empty.txt
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/__snapshots__/StarWarsIntrospectionTest.Execute_StarWarsIntrospection_Test.snap
  website/src/components/doc-page/doc-page.tsx
  website/src/components/mdx/example-tabs.tsx
  website/src/components/mdx/tabs/tab-groups.tsx
  website/src/components/mdx/tabs/tabs.tsx
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ website, 🎬 ready, 🧰 maintenance

#3726 Fix loading of Hotchocolate.StarWars.Tests project
  src/HotChocolate/Core/HotChocolate.Core.sln
Labels: 🌶️ hot chocolate

#3739 Add information about last update to documentation
  website/gatsby-node.js
  website/package.json
  website/src/components/articles/article-content-footer.tsx
  website/src/components/doc-page/doc-page.tsx
  website/yarn.lock
Labels: 🌶️ website, 🎉 enhancement

#3750 Update index.md
  website/src/docs/strawberryshake/performance/index.md
Labels: 📚 documentation

#3748 Update index.md
  website/src/docs/strawberryshake/get-started/index.md
Labels: 📚 documentation

#3752 Autogenerate Strawberry Shake help texts
  src/StrawberryShake/Tooling/src/dotnet-graphql/DownloadCommand.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/Help/CompileHelpTextGenerator.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/Help/GenerateHelpTextGenerator.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/Help/InitHelpTextGenerator.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/Help/RootHelpTextGenerator.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/Help/UpdateHelpTextGenerator.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/InitCommand.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/Program.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/UpdateCommand.cs
Labels: 🌶️ strawberry shake, 🎉 enhancement

#3733 Adds new pagination helper to main
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPagingHelper.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/EnumerableCursorPagingExtensions.cs
  src/HotChocolate/Core/src/Types.CursorPagination/HotChocolate.Types.CursorPagination.csproj
  src/HotChocolate/Core/src/Types.CursorPagination/InternalsVisibleTo.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/Extensions/EnumerableOffsetPaginationHelper.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/OffsetPagingHelper.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/CursorPagingHandlerTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/EnumerableCursorPagingExtensionsTests.cs
  src/HotChocolate/MongoDb/src/Data/Paging/AggregateFluentPagingContainer.cs
  src/HotChocolate/MongoDb/src/Data/Paging/MongoDbCursorPagingProvider.cs
  src/HotChocolate/MongoDb/src/Data/Paging/MongoDbOffsetPagingProvider.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/MongoDbCursorPagingFindFluentTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/__snapshots__/MongoDbCursorPagingFindFluentTests.Simple_StringList_Last_1_Before.snap
Labels: 🌶️ hot chocolate, 🌶️ website

#3757 Neo4J: Code analysis bug fixes
  src/HotChocolate/Neo4J/src/Data/Language/Exists.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/Asterisk.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/BooleanLiteral.cs
  src/HotChocolate/Neo4J/src/Data/Language/Literals/NullLiteral.cs
  src/HotChocolate/Neo4J/src/Data/Language/Operator.cs
Labels: 🌶️ hot chocolate
