Repository ChilliCream/graphql-platform, pull requests merged in 2021-07, with the labels that each got.

#3830 Add authentication/authorization docs for v11
  website/src/docs/docs.json
  website/src/docs/hotchocolate/security/authentication.md
  website/src/docs/hotchocolate/security/authorization.md
  website/src/docs/hotchocolate/security/index.md
Labels: 📚 documentation

#3902 Use lowercasing on the documentation for the filtering
  website/src/docs/hotchocolate/fetching-data/filtering.md
Labels: 📚 documentation

#3917 Added TypeConverter for RelayId
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptor~2.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/MongoDbRelayTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/__snapshots__/MongoDbOffsetPagingFindFluentTests.Return_BsonId.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/__snapshots__/MongoDbOffsetPagingFindFluentTests.Return_Node.snap
Labels: 🌶️ hot chocolate

#3920 Added tests for query directives in schema
  src/HotChocolate/Core/test/Types.Tests/Types/DirectiveTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/DirectiveTests.QueryDirectives_AreAddedToTheSchema.snap
Labels: 🌶️ hot chocolate

#3925 New version selection experience
  website/src/components/articles/article-elements.tsx
  website/src/components/articles/article-sections.tsx
  website/src/components/articles/article.tsx
  website/src/components/blog-article/blog-article-metadata.tsx
  website/src/components/blog-article/blog-article-tags.tsx
  website/src/components/doc-page/doc-page-community.tsx
  website/src/components/doc-page/doc-page-legacy.tsx
  website/src/components/doc-page/doc-page-navigation.tsx
  website/src/components/doc-page/doc-page.tsx
  website/src/components/images/blog-post-chillicream-platform-11-1.tsx
  website/src/components/images/blog-post-ef-meets-graphql.tsx
  website/src/components/images/blog-post-version-11.tsx
  website/src/components/mdx/code-block.tsx
  website/src/components/mdx/copy.tsx
  website/src/components/mdx/tabs/tab.tsx
  website/src/components/misc/global-style.tsx
  website/src/components/misc/marketing-elements.tsx
  website/src/components/misc/page-elements.tsx
  website/src/components/misc/pagination.tsx
  website/src/components/misc/search.tsx
  website/src/components/structure/header.tsx
  website/src/components/structure/main-content-container/footer.tsx
  website/src/components/support/sales-card.tsx
  website/src/components/widgets/blog-articles.tsx
  website/src/docs/docs.json
  website/src/pages/404.tsx
  website/src/pages/index.tsx
  website/src/state/common/common.actions.ts
  website/src/state/common/common.reducer.ts
  website/src/state/common/common.state.ts
Labels: 🌶️ website

#3802 Expand resolver documentation
  website/src/docs/docs.json
  website/src/docs/hotchocolate/defining-a-schema/object-types.md
  website/src/docs/hotchocolate/fetching-data/index.md
  website/src/docs/hotchocolate/fetching-data/resolvers.md
Labels: 👓 ready-for-review, 📚 documentation

#3934 Use up-to-date versions in templates
  .build/Build.Publish.cs
  templates/Server/content/Startup.cs
Labels: 👓 ready-for-review, 🧰 maintenance

#3951 Fixed Socket Interceptor OnCloseAsync
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/Messages/DataStartMessageHandler.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/Messages/InitializeConnectionMessage.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/Messages/TerminateConnectionMessageHandler.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/SubscriptionSession.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/WebSocketSession.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/WebSocketSubscriptionMiddleware.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/Messages/ConnectionTerminateHandlerTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/Messages/DataStopMessageHandlerTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/SocketSessionInterceptorMock.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/SubscriptionTestBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/WebSocketInterceptorTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Utilities/ServerTestBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Utilities/SubscriptionsExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Utilities/TestSocketSessionInterceptor.cs
Labels: 🌶️ hot chocolate, 🎬 ready

#3950 website: add xm logo
  website/src/images/companies/xm.svg
  website/src/pages/index.tsx
Labels: 🌶️ website, 👓 ready-for-review

#3942 Some minor documentation adjustments
  website/src/components/doc-page/doc-page-navigation.tsx
  website/src/components/doc-page/doc-page-pane-header.tsx
  website/src/components/doc-page/doc-page.tsx
  website/src/docs/hotchocolate/defining-a-schema/input-object-types.md
  website/src/docs/hotchocolate/defining-a-schema/object-types.md
  website/src/docs/hotchocolate/security/authorization.md
Labels: 👓 ready-for-review, 📚 documentation

#3955 Fixed URL for demo GraphQL server.
  website/src/docs/strawberryshake/configuration.md
  website/src/docs/strawberryshake/get-started/console.md
  website/src/docs/strawberryshake/get-started/index.md
  website/src/docs/strawberryshake/get-started/xamarin.md
  website/src/docs/strawberryshake/networking/authentication.md
Labels: 📚 documentation

#3956 doc: Input ctors behaviour
  website/src/docs/hotchocolate/defining-a-schema/input-object-types.md
Labels: 👓 ready-for-review, 📚 documentation

#3916 Fix projection of multiple fields
  src/HotChocolate/Data/src/Data/Projections/Convention/ProjectionConvention.cs
  src/HotChocolate/Data/src/Data/Projections/Optimizers/IsProjectedProjectionOptimizer.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionVisitorIsProjectedTests.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorIsProjectedTests.IsProjected_Should_AlwaysBeProjectedWhenSelected_When_TrueAndMultiple.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableProjectionVisitorIsProjectedTests.IsProjected_Should_AlwaysBeProjectedWhenSelected_When_TrueAndMultiple__sql.snap
Labels: 👓 ready-for-review

#3880 Fixed MongoDB TotalCount
  src/HotChocolate/MongoDb/src/Data/Paging/AggregateFluentPagingContainer.cs
  src/HotChocolate/MongoDb/src/Data/Paging/FindFluentPagingContainer.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/MongoDbCursorPagingAggregateFluentTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/MongoDbCursorPagingFindFluentTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/__snapshots__/MongoDbCursorPagingAggregateFluentTests.TotalCount_AndFirst.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/__snapshots__/MongoDbCursorPagingFindFluentTests.TotalCount_AndFirst.snap
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#3878 Moved pagination to new extension methods
  src/HotChocolate/Core/src/Types.CursorPagination/QueryableCursorPagingHandler.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/OffsetPagingArguments.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/QueryableOffsetPagingHandler.cs
  src/HotChocolate/Neo4J/src/Data/Paging/Neo4JOffsetPagingProvider.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#3919 Added tests for signle list values
  src/HotChocolate/Core/test/Types.Tests/Types/ListTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ListTypeTests.Integration_List_ListValues_Object.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ListTypeTests.Integration_List_ListValues_Scalars.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ListTypeTests.Integration_List_ScalarValue_Object.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ListTypeTests.Integration_List_ScalarValue_Scalars.snap
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#2528 added ability to opt out from forward/backwards cursor pagination
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/PagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/UsePagingAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingDefaults.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingOptions.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.Deactivate_BackwardPagination.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.Deactivate_BackwardPagination_Interface.snap
Labels: 🌶️ hot chocolate, 🎉 enhancement, 🎬 ready, 🔍 investigate

#3958 Dynamic Schemas 2
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Resolvers.cs
  src/HotChocolate/Core/src/Types/Configuration/Contracts/ITypeSystemObjectContext.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeDiscoverer.cs
  src/HotChocolate/Core/src/Types/Extensions/SchemaBuilderExtensions.Resolvers.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/Introspection/IntrospectionTypes.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__AppliedDirective.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__Directive.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__DirectiveArgument.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__DirectiveLocation.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__EnumValue.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__Field.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__InputValue.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__Schema.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/__snapshots__/StarWarsCodeFirstTests.Ensure_Benchmark_Query_LargeQuery.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.DefaultValueIsInputObject.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.DirectiveIntrospection_AllDirectives_Internal.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.DirectiveIntrospection_AllDirectives_Public.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.DirectiveIntrospection_SomeDirectives_Internal.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery_ToJson.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Register_ClrType_InferSchemaTypes.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Register_SchemaType_ClrTypeExists.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Upgrade_Type_From_GenericType.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.DescriptionsAreCorrectlyRead.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Interfaces_Impl_Interfaces_Are_Correctly_Exposed_Through_Introspection.snap
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/__snapshots__/SessionTests.OpenSessionAsync_NoProtocolNegotiated_ThrowException.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsIntrospectionTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/__snapshots__/StarWarsIntrospectionTest.Execute_StarWarsIntrospection_Test.snap
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#3968 fix: corrected 'hash' spelling in exception message
  src/HotChocolate/Language/src/Language.Utf8/DocumentHashProviderBase.cs
Labels: 🌶️ hot chocolate

#3971 Added language injection blogpost
  website/src/blog/2021-07-20-rider-language-injection/2021-07-20-rider-language-injection.md
  website/src/blog/2021-07-20-rider-language-injection/header.png
  website/src/blog/2021-07-20-rider-language-injection/language-injection-settings.png
  website/src/blog/2021-07-20-rider-language-injection/lookandfeel.png
  website/src/blog/2021-07-20-rider-language-injection/preferences.png
  website/src/blog/2021-07-20-rider-language-injection/rider-language-injection.png
Labels: 🌶️ website

#3975 Fixed cache locking issue.
  src/HotChocolate/Core/src/Execution/Processing/Internal/SuspendedWorkQueue.cs
  src/HotChocolate/Utilities/src/Utilities/Cache.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/CacheTests.cs
Labels: 🌶️ hot chocolate

#3983 doc: make multipart upload example off Mutation
  website/src/docs/hotchocolate/api-reference/aspnetcore.md
Labels: 📚 documentation

#3977 Mark API of 11.3.2 as shipped
  src/HotChocolate/Core/src/Types.CursorPagination/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Types/PublicAPI.Shipped.txt
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#3990 Add "Extending types by name" section
  website/src/docs/hotchocolate/defining-a-schema/extending-types.md
Labels: 🎬 ready, 📚 documentation

#3997 Execution Engine Optimizations
  src/HotChocolate/Benchmarks/src/Benchmarks.Execution/Program.cs
  src/HotChocolate/Core/src/Execution/Batching/ExportDirectiveHelper.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Middleware.cs
  src/HotChocolate/Core/src/Execution/Extensions/ExecutionResultExtensions.cs
  src/HotChocolate/Core/src/Execution/Extensions/OperationContextExtensions.cs
  src/HotChocolate/Core/src/Execution/IRequestContext.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/ApolloTracingResolverRecord.cs
  src/HotChocolate/Core/src/Execution/Pipeline/DocumentCacheMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/DocumentValidationMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationCacheMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationComplexityMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationResolverMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationVariableCoercionMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/PipelineTools.cs
  src/HotChocolate/Core/src/Execution/Pipeline/WritePersistedQueryMiddleware.cs
  src/HotChocolate/Core/src/Execution/Processing/ArgumentMap.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredFragment.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredTaskExecutor.cs
  src/HotChocolate/Core/src/Execution/Processing/ExecutionContext.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/ExecutionContext.cs
  src/HotChocolate/Core/src/Execution/Processing/IExecutionContext.cs
  src/HotChocolate/Core/src/Execution/Processing/IOperationContext.cs
  src/HotChocolate/Core/src/Execution/Processing/IWorkBacklog.cs
  src/HotChocolate/Core/src/Execution/Processing/IWorkScheduler.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.State.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.IExecutionTaskContext.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.Request.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContextPoolPolicy.cs
  src/HotChocolate/Core/src/Execution/Processing/Plan/QueryPlanStateMachine.cs
  src/HotChocolate/Core/src/Execution/Processing/QueryExecutor.cs
  src/HotChocolate/Core/src/Execution/Processing/ResultObjectBuffer.cs
  src/HotChocolate/Core/src/Execution/Processing/RootValueResolver.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTaskFactory.cs
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.Object.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.ExecuteAsync.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.cs
  src/HotChocolate/Core/src/Execution/RequestContext.cs
  src/HotChocolate/Core/src/Execution/RequestExecutor.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/TypeExtensions.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/RequestClassMiddlewareFactoryTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Serialization/JsonArrayResponseStreamSerializerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/TypeExtensionsTests.cs
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/StrawberryShake.CodeGeneration.CSharp.Analyzers.csproj
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#4006 Reworked Async Work Processing
  src/HotChocolate/Benchmarks/src/Benchmarks.Execution/Program.cs
  src/HotChocolate/Benchmarks/src/ConferenceApp/BenchmarkBase.cs
  src/HotChocolate/Core/src/Execution/Processing/IWorkScheduler.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTaskBase.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTaskFactory.cs
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.List.cs
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.Object.cs
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Pause.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.cs
Labels: 🌶️ hot chocolate

#4009 Replace references to Blazor in console program docs
  website/src/docs/strawberryshake/get-started/console.md
Labels: 📚 documentation

#4011 Split Neo4J CodeGeneration into own project
  src/HotChocolate/Analyzers/HotChocolate.Analyzers.sln
  src/HotChocolate/Analyzers/src/Analyzers/HotChocolate.Analyzers.csproj
  src/HotChocolate/Analyzers/src/Analyzers/Neo4JSourceGenerator.cs
  src/HotChocolate/CodeGeneration/HotChocolate.CodeGeneration.sln
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/HotChocolate.CodeGeneration.Neo4J.csproj
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/Neo4JCodeGenerator.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/Neo4JSyntaxExtensions.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/Neo4JTypeNames.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/PublicAPI.Shipped.txt
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/PublicAPI.Unshipped.txt
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/SchemaHelper.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/Types/RelationshipDirection.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/Types/RelationshipDirectionType.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/Types/RelationshipDirective.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration.Neo4J/Types/RelationshipDirectiveType.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration/CodeGeneratorContext.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration/ICodeGenerator.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration/INeo4JCodeGenerator.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration/SchemaExtensions.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration/SyntaxExtensions.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration/TypeNames.cs
  src/HotChocolate/CodeGeneration/test/CodeGeneration.Neo4J.Tests/HotChocolate.CodeGeneration.Neo4J.Tests.csproj
  src/HotChocolate/CodeGeneration/test/CodeGeneration.Neo4J.Tests/Neo4JCodeGeneratorTests.cs
  src/HotChocolate/CodeGeneration/test/CodeGeneration.Neo4J.Tests/__snapshots__/Neo4JCodeGeneratorTests.Works.snap
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#4005 Documentation adjustments
  website/src/components/structure/main-content-container/footer.tsx
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/extending-filtering.md
  website/src/docs/hotchocolate/api-reference/language.md
  website/src/docs/hotchocolate/api-reference/migrate-from-10-to-11.md
  website/src/docs/hotchocolate/defining-a-schema/documentation.md
  website/src/docs/hotchocolate/defining-a-schema/extending-types.md
  website/src/docs/hotchocolate/defining-a-schema/index.md
  website/src/docs/hotchocolate/defining-a-schema/input-object-types.md
  website/src/docs/hotchocolate/defining-a-schema/interfaces.md
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
  website/src/docs/hotchocolate/defining-a-schema/object-types.md
  website/src/docs/hotchocolate/defining-a-schema/scalars.md
  website/src/docs/hotchocolate/distributed-schema/schema-configuration.md
  website/src/docs/hotchocolate/distributed-schema/schema-federations.md
  website/src/docs/hotchocolate/fetching-data/fetching-from-rest.md
  website/src/docs/hotchocolate/fetching-data/filtering.md
  website/src/docs/hotchocolate/fetching-data/projections.md
  website/src/docs/hotchocolate/fetching-data/sorting.md
  website/src/docs/hotchocolate/integrations/index.md
  website/src/docs/hotchocolate/integrations/spatial-data.md
  website/src/docs/hotchocolate/performance/index.md
  website/src/docs/strawberryshake/get-started/console.md
  website/src/docs/strawberryshake/get-started/index.md
  website/src/docs/strawberryshake/performance/index.md
  website/src/docs/strawberryshake/scalars.md
  website/src/pages/platform.tsx
  website/src/partials/sales-partial.tsx
Labels: 🎬 ready, 📚 documentation

#4014 Added support for AggregateError to the execution pipeline.
  src/HotChocolate/Core/src/Abstractions/AggregateError.cs
  src/HotChocolate/Core/src/Abstractions/Error.cs
  src/HotChocolate/Core/src/Abstractions/ErrorHandlerExtensions.cs
  src/HotChocolate/Core/src/Abstractions/Execution/QueryResultBuilder.cs
  src/HotChocolate/Core/src/Abstractions/IError.cs
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.Designer.cs
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.resx
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Resolvers.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Global.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.IExecutionTaskContext.cs
  src/HotChocolate/Core/src/Execution/Processing/SubscriptionExecutor.cs
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.Tools.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.ExecuteAsync.cs
  src/HotChocolate/Core/src/Execution/PublicAPI.Shipped.txt
  src/HotChocolate/Core/src/Execution/PublicAPI.Unshipped.txt
  src/HotChocolate/Core/test/Execution.Tests/Errors/ErrorHandlerTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorHandlerTests.ReportAggregateError_In_Resolver.snap
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorHandlerTests.UseAggregateError_In_ErrorFilter.snap
Labels: 🌶️ hot chocolate
