Repository ChilliCream/graphql-platform, pull requests merged in 2021-03, with the labels that each got.

#3197 Fixed argument type detection.
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectInputObjectTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/InputObjectTypeUsageAnalyzer.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.Generate_ChatClient_AllOperations.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.Create_Query_With_Skip_Take.snap
Labels: :beetle: bug, 🌶 strawberry shake

#3100 Add Strawberry Shake initial docs
  website/gatsby-node.js
  website/src/docs/docs.json
  website/src/docs/strawberryshake/configuration.md
  website/src/docs/strawberryshake/get-started.md
  website/src/docs/strawberryshake/index.md
  website/src/docs/strawberryshake/troubleshooting.md
Labels: 🌶 strawberry shake

#2988 Add Storybook und Support Card
  website/.storybook/main.js
  website/.storybook/preview.tsx
  website/gatsby-config.js
  website/package.json
  website/src/components/articles/article-elements.tsx
  website/src/components/articles/article.tsx
  website/src/components/blog-article/blog-article-tags.tsx
  website/src/components/blog-article/blog-article.tsx
  website/src/components/button.stories.tsx
  website/src/components/button.tsx
  website/src/components/doc-page/doc-page-article-wrapper.tsx
  website/src/components/doc-page/doc-page-aside.tsx
  website/src/components/doc-page/doc-page-elements.tsx
  website/src/components/doc-page/doc-page-navigation.tsx
  website/src/components/doc-page/doc-page.tsx
  website/src/components/mdx/auto-linked-heading.tsx
  website/src/components/mdx/copy.tsx
  website/src/components/mdx/example-tabs.stories.tsx
  website/src/components/mdx/tabs/tab.tsx
  website/src/components/mdx/tabs/tabs.stories.tsx
  website/src/components/mdx/tabs/tabs.tsx
  website/src/components/misc/cookie-consent.tsx
  website/src/components/misc/global-style.tsx
  website/src/components/misc/marketing-elements.tsx
  website/src/components/misc/page-elements.tsx
  website/src/components/misc/pagination.tsx
  website/src/components/misc/search.tsx
  website/src/components/structure/header.tsx
  website/src/components/structure/layout.tsx
  website/src/components/support/sales-card-perk-item.tsx
  website/src/components/support/sales-card-perk.tsx
  website/src/components/support/sales-card.stories.tsx
  website/src/components/support/sales-card.tsx
  website/src/images/banana-cake-pop.png
  website/src/images/get-started-bcp-query.png
  website/src/images/get-started-bcp-schema-explorer.png
  website/src/images/get-started-bcp.png
  website/src/images/hot-chocolate-console.png
  website/src/images/platform.png
  website/src/pages/support.tsx
  website/src/partials/sales-partial.stories.tsx
  website/src/partials/sales-partial.tsx
  website/src/shared-style.ts
  website/yarn.lock
Labels: 🌶 website

#2936 Multipart request specification
  CHANGELOG.md
  ErrorCodes.md
  src/HotChocolate/AspNetCore/src/AspNetCore/AllowedContentType.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ContentType.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ErrorHelper.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/EndpointRouteBuilderExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/GraphQLServerOptions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HotChocolate.AspNetCore.csproj
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpMultipartMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpMultipartRequest.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpPostMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/MiddlewareBase.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Properties/AspNetCoreResources.Designer.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Properties/AspNetCoreResources.resx
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpRequestParser.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/IHttpRequestParser.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/IVariablePathSegment.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/IndexPathSegment.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/KeyPathSegment.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/VariablePath.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ThrowHelper.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/UploadedFile.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HotChocolate.AspNetCore.Tests.csproj
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpMultipartMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Serialization/VariablePathTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Utilities/ServerTestBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Utilities/TestServerExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Utilities/UploadQuery.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.EmptyForm_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.EmptyMap_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.EmptyOperations_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.IncompleteOperations_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.InvalidMap_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.MapBeforeOperations_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.MapWithNoOperations_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.MissingFile_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.MissingKeyInMap_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.MissingObjectPathsForKey_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.Upload_File.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.Upload_File_In_InputObject.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.Upload_File_In_List.snap
  src/HotChocolate/Core/HotChocolate.Core.sln
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Abstractions/Execution/QuerySourceText.cs
  src/HotChocolate/Core/src/Types.Scalars.Upload/FileValueNode.cs
  src/HotChocolate/Core/src/Types.Scalars.Upload/HotChocolate.Types.Scalars.Upload.csproj
  src/HotChocolate/Core/src/Types.Scalars.Upload/IFile.cs
  src/HotChocolate/Core/src/Types.Scalars.Upload/Properties/UploadResources.Designer.cs
  src/HotChocolate/Core/src/Types.Scalars.Upload/Properties/UploadResources.resx
  src/HotChocolate/Core/src/Types.Scalars.Upload/StreamFile.cs
  src/HotChocolate/Core/src/Types.Scalars.Upload/UploadType.cs
  src/HotChocolate/Core/src/Types/Utilities/Serialization/InputObjectParserHelper.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLRequestParser.cs
  src/HotChocolate/PersistedQueries/src/PersistedQueries.FileSystem/FileSystemQueryStorage.cs
  website/src/docs/hotchocolate/api-reference/aspnetcore.md
Labels: 🌶 hot chocolate

#3329 Added missing timeout middleware
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.UseRequest.cs
  src/HotChocolate/Core/src/Execution/ErrorHelper.cs
  src/HotChocolate/Core/src/Execution/Pipeline/DocumentParserMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationVariableCoercionMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/RequestClassMiddlewareFactory.cs
  src/HotChocolate/Core/src/Execution/Pipeline/TimeoutMiddleware.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/SubscriptionExecutor.Subscription.cs
  src/HotChocolate/Core/src/Execution/Processing/SubscriptionExecutor.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.resx
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/TimeoutMiddlewareTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/__snapshots__/TimeoutMiddlewareTests.TimeoutMiddleware_Is_Integrated_Into_DefaultPipeline.snap
Labels: 🌶 hot chocolate, 🎬 ready

#3316 Enhanced Type Extensions
  src/HotChocolate/Core/src/Abstractions/GraphQLNameAttribute.cs
  src/HotChocolate/Core/src/Abstractions/ParentAttribute.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Internal/TypeExtensionHelper.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/ExtendObjectTypeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/INamedTypeExtension.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IObjectTypeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/ITypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ArgumentDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/DefinitionBase.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/FieldDefinitionBase.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/FieldDefinitionBase~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/IHasDirectiveDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/IHasExtendsType.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ITypeConfigration.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ITypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldBinding.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldBindingType.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/OutputFieldDefinitionBase.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/TypeDefinitionBase~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Helpers/FieldDescriptorUtilities.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptorBase~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/TypeConfiguration.cs
  src/HotChocolate/Core/src/Types/Types/DirectiveCollection.cs
  src/HotChocolate/Core/src/Types/Types/EnumTypeExtension.cs
  src/HotChocolate/Core/src/Types/Types/InputObjectTypeExtension.cs
  src/HotChocolate/Core/src/Types/Types/InterfaceTypeExtension.cs
  src/HotChocolate/Core/src/Types/Types/NamedTypeExtensionBase.cs
  src/HotChocolate/Core/src/Types/Types/ObjectTypeExtension.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingHelper.cs
  src/HotChocolate/Core/src/Types/Types/TypeSystemObjectBase~1.cs
  src/HotChocolate/Core/src/Types/Types/UnionTypeExtension.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/UsePagingAttributeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.BindByType.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.BindResolver_With_Property.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.Remove_Fields.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.Remove_Fields_BindField.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.Remove_Fields_Globally.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.Remove_Properties_Globally.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.Replace_Field.snap
  website/src/docs/docs.json
  website/src/docs/hotchocolate/defining-a-schema/extending-types.md
Labels: 🌶 hot chocolate, 🎬 ready

#3320 Moved Scalars to Hotchocolate.Types
  src/HotChocolate/Core/src/Types.Scalars/EmailAddressType.cs
  src/HotChocolate/Core/src/Types.Scalars/HexColorType.cs
  src/HotChocolate/Core/src/Types.Scalars/HslType.cs
  src/HotChocolate/Core/src/Types.Scalars/HslaType.cs
  src/HotChocolate/Core/src/Types.Scalars/IPv4Type.cs
  src/HotChocolate/Core/src/Types.Scalars/IPv6Type.cs
  src/HotChocolate/Core/src/Types.Scalars/IsbnType.cs
  src/HotChocolate/Core/src/Types.Scalars/MacAddressType.cs
  src/HotChocolate/Core/src/Types.Scalars/NegativeFloatType.cs
  src/HotChocolate/Core/src/Types.Scalars/NegativeIntType.cs
  src/HotChocolate/Core/src/Types.Scalars/NonEmptyStringType.cs
  src/HotChocolate/Core/src/Types.Scalars/NonNegativeFloatType.cs
  src/HotChocolate/Core/src/Types.Scalars/NonNegativeIntType.cs
  src/HotChocolate/Core/src/Types.Scalars/NonPositiveFloatType.cs
  src/HotChocolate/Core/src/Types.Scalars/NonPositiveIntType.cs
  src/HotChocolate/Core/src/Types.Scalars/PhoneNumberType.cs
  src/HotChocolate/Core/src/Types.Scalars/PortType.cs
  src/HotChocolate/Core/src/Types.Scalars/PositiveIntType.cs
  src/HotChocolate/Core/src/Types.Scalars/PostalCodeType.cs
  src/HotChocolate/Core/src/Types.Scalars/RegexType.cs
  src/HotChocolate/Core/src/Types.Scalars/RgbType.cs
  src/HotChocolate/Core/src/Types.Scalars/RgbaType.cs
  src/HotChocolate/Core/src/Types.Scalars/ThrowHelper.cs
  src/HotChocolate/Core/src/Types.Scalars/UnsignedIntType.cs
  src/HotChocolate/Core/src/Types.Scalars/UnsignedLongType.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/EmailAddressTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/HexTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/HslTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/HslaTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/IPv4TypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/IPv6TypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/IsbnTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/MacAddressTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/NegativeFloatTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/NegativeIntTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/NonEmptyStringTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/NonNegativeFloatTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/NonNegativeIntTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/NonPositiveFloatTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/NonPositiveIntTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/PhoneNumberTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/PortTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/PositiveIntTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/PostalCodeTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/RegexTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/RgbTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/RgbaTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/ScalarTypeTestBase.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedIntTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedLongTypeTests.cs
Labels: 🌶 hot chocolate, 🎨 refactoring

#3281 Added LocalTime scalar
  src/HotChocolate/Core/src/Types.Scalars/LocalTimeType.cs
  src/HotChocolate/Core/src/Types.Scalars/NegativeFloatType.cs
  src/HotChocolate/Core/src/Types.Scalars/NonEmptyStringType.cs
  src/HotChocolate/Core/src/Types.Scalars/NonNegativeFloatType.cs
  src/HotChocolate/Core/src/Types.Scalars/NonNegativeIntType.cs
  src/HotChocolate/Core/src/Types.Scalars/NonPositiveFloatType.cs
  src/HotChocolate/Core/src/Types.Scalars/NonPositiveIntType.cs
  src/HotChocolate/Core/src/Types.Scalars/PortType.cs
  src/HotChocolate/Core/src/Types.Scalars/PostalCodeType.cs
  src/HotChocolate/Core/src/Types.Scalars/RegexType.cs
  src/HotChocolate/Core/src/Types.Scalars/RgbType.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.Designer.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.resx
  src/HotChocolate/Core/src/Types.Scalars/ThrowHelper.cs
  src/HotChocolate/Core/src/Types.Scalars/WellKnownScalarTypes.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/LocalTimeTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/LocalTimeTypeTests.Schema_WithScalar_IsMatch.snap
  website/src/docs/hotchocolate/defining-a-schema/scalars.md
Labels: 🌶 hot chocolate, 🎉 enhancement

#3328 Fixed operation compiler issue with nested fragments.
  src/HotChocolate/Core/benchmark/Directory.Build.props
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/HotChocolate.Execution.Benchmarks.csproj
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/Program.cs
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/reports/HotChocolate.Execution.Benchmarks.DefaultExecutionPipelineBenchmark-report-github.md
  src/HotChocolate/Core/benchmark/StarWars/HotChocolate.StarWars.csproj
  src/HotChocolate/Core/src/Execution/Extensions/OperationContextExtensions.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.Context.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
  src/HotChocolate/Core/test/Execution.Tests/DeferTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/StarWarsCodeFirstTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/__snapshots__/StarWarsCodeFirstTests.NestedFragmentsWithNestedObjectFieldsAndSkip.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/OperationCompilerTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Nested_Fragments.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.NoOptimization_Spread_Defer.snap
  website/src/docs/hotchocolate/api-reference/object-type.md
  website/src/docs/hotchocolate/defining-a-schema/extending-types.md
Labels: 🌶 hot chocolate, 🎬 ready

#3315 Added Authentication Docs for StrawBerry Shake
  src/StrawberryShake/Client/src/Transport.WebSockets/DependencyInjection/WebSocketClientBuilderExtensions.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/DependencyInjection/WebSocketClientFactoryServiceCollectionExtensions.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/IWebSocketClient.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/WebSocketClient.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/WebSocketClientBuilderExtensionsTests.cs
  website/src/docs/strawberryshake/networking/authentication.md
Labels: 🎬 ready

#3337 StrawberryShake global tool: Return true if no errors in UpdateCommandHandler
  src/StrawberryShake/Tooling/src/dotnet-graphql/UpdateCommandHandler.cs
Labels: :beetle: bug, 🌶 strawberry shake, 🎬 ready

#2780 Added schema stitching docs
  website/src/docs/docs.json
  website/src/docs/hotchocolate/distributed-schema/index.md
  website/src/docs/hotchocolate/distributed-schema/schema-configuration.md
  website/src/docs/hotchocolate/distributed-schema/schema-federations.md
  website/src/docs/hotchocolate/distributed-schema/schema-stitching.md
Labels: 🌶 hot chocolate, 🎬 ready

#3135 Fix use of Get() and GetAsync() as default node resolvers
  src/HotChocolate/Core/src/Types/Types/Relay/Attributes/NodeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/INodeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptor.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/TransactionScopeHandlerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/NodeFieldSupportTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Implicit_Resolver.snap
Labels: 🌶 hot chocolate, 🎬 ready

#3340 Exposed more details about the cache and added documentation
  src/HotChocolate/Core/src/Execution/Caching/DefaultDocumentCache.cs
  src/HotChocolate/Core/src/Execution/Caching/DefaultPreparedOperationCache.cs
  src/HotChocolate/Core/src/Execution/Caching/IPreparedOperationCache.cs
  src/HotChocolate/Language/src/Language.Utf8/IDocumentCache.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/Utf8GraphQLRequestParserTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetHeroTest.cs
Labels: 🌶 hot chocolate

#3347 Fixed DateTimeType with default(DateTime)
  src/HotChocolate/Core/src/Types/Types/Scalars/DateTimeType.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/DateTimeTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/DateTimeTypeTests.Integration_DefaultDateTime.snap
Labels: 🌶 hot chocolate, 🎬 ready

#3352 Object type extension improvements.
  src/HotChocolate/Core/src/Types/Internal/TypeExtensionHelper.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ArgumentDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/DefinitionBase.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/DefinitionBase~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/FieldDefinitionBase.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/FieldDefinitionBase~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/IComplexOutputTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/InterfaceTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/OutputFieldDefinitionBase.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/TypeDefinitionBase~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Extensions/MiddlewareObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/LazyTypeConfigurationBuilder.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/LazyTypeConfigurationBuilder~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/ObjectTypeExtension.cs
  src/HotChocolate/Core/src/Types/Types/ObjectType~1.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Attributes/NodeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Attributes/NodeResolverAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptorBase.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Extensions/RelayIdFieldExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Relay/IIdSerializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/INodeResolver.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolver~2.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/TransactionScopeHandlerTests.cs
  src/HotChocolate/Core/test/Types.Tests/IgnoreTests.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaBuilderTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/NodeResolverTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeResolverTests.NodeAttribute_On_Extension.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeResolverTests.NodeAttribute_On_Extension2.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeResolverTests.NodeAttribute_On_Extension3.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeResolverTests.NodeAttribute_On_Extension4.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeResolverTests.NodeAttribute_On_Extension_Fetch_Through_Node_Field.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/IgnoreTests.IgnoreOutputField.snap
Labels: 🌶 hot chocolate, 🎬 ready

#3357 Fixed issue where descriptor attributes where applied multiple times.
  src/HotChocolate/Core/src/Execution/Options/RequestExecutorOptions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ArgumentDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/DefinitionBase.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DirectiveArgumentDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DirectiveTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/EnumTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/EnumValueDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InputFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InputObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/UnionTypeDescriptor.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/UsePagingAttributeTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/UsePagingAttributeTests.Ensure_Attributes_Are_Applied_Once.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/UsePagingAttributeTests.Ensure_Attributes_Are_Applied_Once_Execute_Query.snap
  src/HotChocolate/Data/src/Data/Filters/FilterFieldDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/FilterInputTypeDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/FilterOperationFieldDescriptor.cs
  src/HotChocolate/Data/src/Data/Sorting/SortEnumTypeDescriptor.cs
  src/HotChocolate/Data/src/Data/Sorting/SortFieldDescriptor.cs
  src/HotChocolate/Data/src/Data/Sorting/SortInputTypeDescriptor.cs
  src/HotChocolate/Filters/src/Types.Filters/FilterFieldDescriptorBase.cs
  src/HotChocolate/Filters/src/Types.Filters/FilterInputTypeDescriptor.cs
  src/HotChocolate/Filters/src/Types.Sorting/SortInputTypeDescriptor.cs
  src/HotChocolate/Filters/src/Types.Sorting/SortOperationDescriptor.cs
Labels: 🌶 hot chocolate, 🎬 ready

#3364 Ensured that Authorize can be applied on extension types.
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizeSchemaTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/HotChocolate.AspNetCore.Authorization.Tests.csproj
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeSchemaTests.AuthorizeOnExtension.snap
Labels: :beetle: bug, 🌶 hot chocolate, 🎬 ready

#3372 Fixed generation of entities in interfaces
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/JsonResultBuilderGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Extensions/TypeDescriptorExtensions.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/ResultTypeGeneratorTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ResultTypeGeneratorTests.Nested_Entity.snap
Labels: 🌶 strawberry shake, 🎬 ready

#3362 Add UtcOffset
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.Designer.cs
  src/HotChocolate/Core/src/Types.Scalars/ScalarResources.resx
  src/HotChocolate/Core/src/Types.Scalars/ThrowHelper.cs
  src/HotChocolate/Core/src/Types.Scalars/UnsignedLongType.cs
  src/HotChocolate/Core/src/Types.Scalars/UtcOffsetType.cs
  src/HotChocolate/Core/src/Types.Scalars/WellKnownScalarTypes.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/HotChocolate.Types.Scalars.Tests.csproj
  src/HotChocolate/Core/test/Types.Scalars.Tests/LocalTimeTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UtcOffsetTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/UtcOffsetTypeTests.Integration_DefaultUtcOffset.snap
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/UtcOffsetTypeTests.Schema_WithScalar_IsMatch.snap
  website/src/docs/hotchocolate/defining-a-schema/scalars.md
Labels: 🌶 hot chocolate, 🎬 ready

#3375 Added test for filtering on a Queryable wrapped in a task
  src/HotChocolate/Data/test/Data.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.CreateSchema_CodeFirst_AsyncQueryable_Result.snap
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.CreateSchema_CodeFirst_AsyncQueryable_Schema.snap
Labels: 🎬 ready

#3374 Fix __typename on interfaces
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/FieldCollector.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/EntityIdRewriter.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/QueryDocumentRewriter.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/RemoveClientDirectivesRewriter.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/TypeNameQueryRewriter.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.NodeTypenameCollision.snap
Labels: 🎬 ready

#3376 Fixed dependency injection behavior of type extensions.
  src/HotChocolate/Core/src/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Core/src/Execution/Processing/DefaultActivator.cs
  src/HotChocolate/Core/src/Execution/Processing/IActivator.cs
  src/HotChocolate/Core/src/Execution/Processing/IOperationContext.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Global.cs
  src/HotChocolate/Core/src/Execution/Processing/RootValueResolver.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjectionTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DependencyInjectionTests.Extension_With_Constructor_Injection_1.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DependencyInjectionTests.Extension_With_Constructor_Injection_2.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DependencyInjectionTests.Extension_With_Scoped_Constructor_Injection.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DependencyInjectionTests.Type_With_Constructor_Injection_1.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DependencyInjectionTests.Type_With_Constructor_Injection_2.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DependencyInjectionTests.Type_With_Scoped_Constructor_Injection.snap
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/HotChocolate/Utilities/src/Utilities/ActivatorHelper.cs
  src/HotChocolate/Utilities/src/Utilities/ServiceProviderExtensions.cs
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/dependency-injection.md
Labels: :beetle: bug, 🌶 hot chocolate, 🎬 ready

#3005 Add schema interceptor delegates + extensions
  ErrorCodes.md
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.TypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/DelegateSchemaInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/OnAfterSchemaCreate.cs
  src/HotChocolate/Core/src/Types/Configuration/OnBeforeSchemaCreate.cs
  src/HotChocolate/Core/src/Types/Configuration/OnSchemaError.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/SchemaRequestExecutorBuilderExtensions.TypeInterceptor.Tests.cs
Labels: 🌶 hot chocolate, 🎉 enhancement, 🎬 ready

#3377 Throw when non-generic executable is used in runtime types.
  src/HotChocolate/Core/src/Types/Configuration/ExtendedTypeReferenceHandler.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.Helper.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.SystemType.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/SchemaErrorBuilder.Error.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/test/Types.Tests/ForbiddenRuntimeTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ForbiddenRuntimeTypeTests.ExecutableList_NotAllowed.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ForbiddenRuntimeTypeTests.Executable_NotAllowed.snap
Labels: 🌶 hot chocolate, 🎬 ready

#3378 Fixed how we create the verification hash for automatic persisted queries.
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpRequestParser.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpGetMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetMiddlewareTests.Get_ActivePersistedQuery_AddQuery_Unformatted.snap
Labels: 🌶 hot chocolate, 🎬 ready

#3373 Removed compiler warnings from StrawberryShake
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/DependencyInjectionGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/EntityTypeGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultFromEntityTypeMapperGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator_ArrayHandler.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TypeMapperGenerator_ComplexDataHandler.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeNames.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/CSharpCompiler.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/GeneratorTestHelper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/MultiProfileTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetFriendsTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetHeroTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/DependencyInjectionGeneratorTests.Default_Combined.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/DependencyInjectionGeneratorTests.Default_DifferentTransportMethods.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/DependencyInjectionGeneratorTests.Default_InMemory.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/DependencyInjectionGeneratorTests.Default_MultiProfile.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/DependencyInjectionGeneratorTests.Default_Mutation.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/DependencyInjectionGeneratorTests.Default_Query.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/DependencyInjectionGeneratorTests.Default_Subscription.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityGeneratorTests.Generate_BookClient_DataInEntity_UnionDataTypes.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityGeneratorTests.Generate_BookClient_DataOnly_InterfaceDataTypes.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityGeneratorTests.Generate_BookClient_DataOnly_UnionDataTypes.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityGeneratorTests.Generate_ChatClient_ConnectionNotAnEntity.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityGeneratorTests.Generate_ChatClient_MapperMapsEntityOnRootCorrectly.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityIdFactoryGeneratorTests.Simple_ComplexEntity.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityIdFactoryGeneratorTests.Simple_DateTimeOffset_Entity.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityIdFactoryGeneratorTests.Simple_IdEntity.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityIdFactoryGeneratorTests.Simple_Uuid_Entity.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ErrorGeneratorTests.Generate_ChatClient_InvalidNullCheck.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ErrorGeneratorTests.Generate_NoErrors.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Input_Type_Fields_Are_Inspected_For_LeafTypes.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.Generate_ChatClient_AllOperations.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ResultTypeGeneratorTests.Nested_Entity.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ResultTypeGeneratorTests.Operation_With_Comments.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ResultTypeGeneratorTests.Operation_With_Complex_Types.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ScalarGeneratorTests.Complete_Schema_With_Uuid_And_DateTime.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ScalarGeneratorTests.TimeSpan_Not_Detected.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.Create_DataType_Query.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.Create_GetFeatById.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.Create_GetFeatsPage.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.Create_PeopleSearch_From_ActiveDirectory_Schema.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.Create_Query_With_Skip_Take.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.NodeTypenameCollision.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.QueryInterference.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.Query_With_Nested_Fragments.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/StarWarsGeneratorTests.Interface_With_Default_Names.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/StarWarsGeneratorTests.Interface_With_Fragment_Definition_Two_Models.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/StarWarsGeneratorTests.Operation_With_Leaf_Argument.snap
Labels: 🌶 strawberry shake, 🎬 ready

#3379 Added documentation for MongoDB Data
  website/src/docs/docs.json
  website/src/docs/hotchocolate/integrations/mongodb.md
Labels: 🎬 ready

#3380 Use defaultAction parameter when creating SyntaxVisitor
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitor.cs
Labels: 🌶 hot chocolate, 🎬 ready

#3399 Fixed: Custom type inspectors can now again add custom ignores.
  src/GreenDonut/test/DiagnosticSource.Tests/DataLoader.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/ITypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptorBase~1.cs
  src/HotChocolate/Core/src/Types/Types/ObjectTypeExtension~1.cs
Labels: :beetle: bug, 🌶 hot chocolate
