Repository ChilliCream/graphql-platform, pull requests merged in 2021-12, with the labels that each got.

#4511 Inputs will infer only arguments.
  src/HotChocolate/Core/src/Types.Mutations/DependencyInjection/RequestExecutorBuilderExtensions.Errors.cs
  src/HotChocolate/Core/src/Types.Mutations/Input/InputArgumentParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types.Mutations/Input/InputArgumentTypeInterceptor.cs
  src/HotChocolate/Core/src/Types.Mutations/Input/InputParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types.Mutations/Properties/MutationResources.Designer.cs
  src/HotChocolate/Core/src/Types.Mutations/Properties/MutationResources.resx
  src/HotChocolate/Core/src/Types/Internal/CustomParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Internal/CustomServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Internal/IParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/DefaultResolverCompiler.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ArgumentParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/CancellationTokenParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ClaimsPrincipalParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/DocumentParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/GlobalStateParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/LambdaParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/LegacyScopedServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ParentParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/PureResolverContextParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ResolverContextParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/SchemaParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ScopedServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ScopedStateParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/CombineInputErrorPayloadTests.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/ErrorMiddlewareTests.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/InputArgumentTests.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/PayloadTests.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/SchemaTransformationTests.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/InputArgumentTests.Ensure_That_CancellationToken_Are_Not_Inferred_As_Input.snap
  src/HotChocolate/Data/src/EntityFramework/DbContextKind.cs
  src/HotChocolate/Data/src/EntityFramework/DbContextParameterExpressionBuilder.cs
  src/HotChocolate/Data/src/EntityFramework/Extensions/ResolverCompilerBuilderExtensions.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/EntityFrameworkResolverCompilerIntegrationTests.cs
Labels: 🌶️ hot chocolate

#4513 Renamed Syncronised to Syncronized
  src/HotChocolate/Core/src/Abstractions/ServiceKind.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceExpressionHelper.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/CustomResolverCompilerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverServiceTests.cs
  src/HotChocolate/Data/src/EntityFramework/DbContextParameterExpressionBuilder.cs
Labels: 🌶️ hot chocolate

#4515 Update CustomHeaderHelper.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/CustomHeaderHelper.cs
Labels: 🌶️ strawberry shake

#4523 Added note for mutation conventions and removed erros
  website/src/docs/docs.json
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 📚 documentation, 🌶️ website

#4498 Added BSON Type to mongodb package.
  src/HotChocolate/MongoDb/src/Types/BsonType.cs
  src/HotChocolate/MongoDb/src/Types/HotChocolate.Types.MongoDb.csproj
  src/HotChocolate/MongoDb/src/Types/MongoDbScalarNames.cs
  src/HotChocolate/MongoDb/src/Types/MongoDbTypesRequestExecutorExtensions.cs
  src/HotChocolate/MongoDb/src/Types/MongoDbTypesSchemaBuilderExtensions.cs
  src/HotChocolate/MongoDb/src/Types/ObjectIdType.cs
  src/HotChocolate/MongoDb/src/Types/PublicAPI.Unshipped.txt
  src/HotChocolate/MongoDb/src/Types/Resources/MongoDbTypesResources.Designer.cs
  src/HotChocolate/MongoDb/src/Types/Resources/MongoDbTypesResources.resx
  src/HotChocolate/MongoDb/src/Types/ThrowHelper.cs
  src/HotChocolate/MongoDb/test/Types.MongoDb/BsonTypeTests.cs
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Object.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Object_List.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Object_List_As_Variable.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_DictionaryPassed.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_ListPassed.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_PassedVariable_boolean.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_PassedVariable_double.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_PassedVariable_int.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_PassedVariable_long.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_PassedVariable_string.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_Passed_array.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_Passed_boolean.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_Passed_decimal.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_Passed_double.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_Passed_int.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_Passed_long.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshotAndType_When_Passed_string.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Should_MatchSnapshot_When_BsonDocument.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_Boolean.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_Boolean_As_Variable.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_BsonDocument_As_Variable.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_Float.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_Float_As_Variable.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_Int.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_Int_As_Variable.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_List.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_List_As_Variable.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_Null.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_Null_As_Variable.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_String.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Input_Value_String_As_Variable.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Return_List.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Return_Object.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_BindAllRuntimeTypes.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_BsonDocument.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_binary.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_boolean.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_bsonArray.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_dateTime.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_decimal.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_double.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_int32.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_int64.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_null.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_objectId.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_string.snap
  src/HotChocolate/MongoDb/test/Types.MongoDb/__snapshots__/BsonTypeTests.Output_Should_MatchSnapshot_When_Value_timestamp.snap
Labels: 🌶️ hot chocolate

#4497 Document field middleware
  website/gatsby-config.js
  website/src/docs/docs.json
  website/src/docs/hotchocolate/execution-engine/field-middleware.md
  website/src/docs/hotchocolate/execution-engine/index.md
Labels: 📚 documentation, 🌶️ website, 👓 ready-for-review

#4528 GraphQLClientException: improve case of 1 error
  src/StrawberryShake/Client/src/Core/GraphQLClientException.cs
  src/StrawberryShake/Client/test/Core.Tests/GraphQLClientExceptionTests.cs
Labels: 🌶️ strawberry shake

#4534 Decouple dispatch when using AutoBatchScheduler.
  src/GreenDonut/src/Core/AutoBatchScheduler.cs
Labels: 🌶️ green donut

#4537 Fixed issue where directive middleware would interfere with mutation middleware.
  src/HotChocolate/Core/src/Execution/Processing/ArgumentCoercionHelper.cs
  src/HotChocolate/Core/src/Execution/Processing/ArgumentMap.cs
  src/HotChocolate/Core/src/Execution/Processing/DirectiveContext.cs
  src/HotChocolate/Core/src/Execution/Processing/IArgumentMap.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Arguments.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Pure.cs
  src/HotChocolate/Core/src/Execution/Processing/SubscriptionExecutor.Subscription.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.Execute.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionMiddleware.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Resolvers/ArgumentValue.cs
  src/HotChocolate/Core/src/Types/Resolvers/IMiddlewareContext.cs
  src/HotChocolate/Core/src/Types/Types/Relay/QueryFieldTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.Ensure_That_Directive_Middleware_Play_Nice.snap
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutation_Inferred_With_QueryField.snap
  src/HotChocolate/Data/src/Data/Projections/Expressions/Interceptor/QueryableFilterInterceptor.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Interceptor/QueryableSortInterceptor.cs
Labels: 🌶️ hot chocolate

#4543 Reworked Mutation Convention Documentation
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 📚 documentation

#4544 Fixed typos in the schema federation docs.
  website/src/docs/hotchocolate/distributed-schema/index.md
Labels: 📚 documentation

#4490 Fixed issues in filter combinators.
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableCombinator.cs
  src/HotChocolate/MongoDb/src/Data/Filters/MongoDbFilterCombinator.cs
  src/HotChocolate/MongoDb/src/Data/MongoDbResources.Designer.cs
  src/HotChocolate/MongoDb/src/Data/MongoDbResources.resx
  src/HotChocolate/MongoDb/src/Data/ThrowHelper.cs
  src/HotChocolate/Neo4J/src/Data/Filtering/Neo4JFilterCombinator.cs
  src/HotChocolate/Neo4J/src/Data/Neo4JResources.Designer.cs
  src/HotChocolate/Neo4J/src/Data/Neo4JResources.resx
  src/HotChocolate/Neo4J/src/Data/ThrowHelper.cs
Labels: 🌶️ hot chocolate

#4549 Reworked the mutation convention options defaults.
  src/HotChocolate/Core/src/Types.Mutations/DependencyInjection/MutationRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionOptionDefaults.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
Labels: 🌶️ hot chocolate

#4554 Release Blog 12.4
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-09-27-hot-chocolate-12-4.md
  website/src/blog/2021-12-14-hot-chocolate-12-4/hot-chocolate-12-banner.png
Labels: 🌶️ website

#4552 Added DateOnly and TimeOnly to Data
  src/HotChocolate/Data/src/Data/Filters/Convention/Extensions/FilterConventionDescriptorExtensions.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/FilterVisitorTestBase.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorDateOnlyTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorTimeOnlyTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/ComparableOperationInputTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Explicit_Operation_NET6.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Implicit_Operation_NET6.snap
Labels: 🌶️ hot chocolate

#4551 Cleanup Warning in filtering
  src/HotChocolate/Data/src/Data/DataResources.Designer.cs
  src/HotChocolate/Data/src/Data/DataResources.resx
  src/HotChocolate/Data/src/Data/Filters/Convention/DataTypeExtensionHelper.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterTypeInterceptor.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Extensions/QueryableFilterExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/FilterExpressionBuilder.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/String/QueryableStringContainsHandler.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/String/QueryableStringEndsWithHandler.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/String/QueryableStringNotContainsHandler.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/String/QueryableStringNotEndsWithHandler.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/String/QueryableStringNotStartsWithHandler.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/String/QueryableStringStartsWithHandler.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableFilterProvider.cs
  src/HotChocolate/Data/src/Data/Filters/Extensions/FilterFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/FilterInputTypeDescriptor`1.cs
  src/HotChocolate/Data/src/Data/Filters/IFilterInputTypeDescriptor`1.cs
  src/HotChocolate/Data/src/Data/Filters/Types/FilterGlobalIdInputValueFormatter.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterVisitorContext.cs
  src/HotChocolate/Data/src/Data/Projections/Convention/ProjectionConvention.cs
  src/HotChocolate/Data/src/Data/Projections/Convention/ProjectionConventionExtension.cs
  src/HotChocolate/Data/src/Data/Projections/Convention/ProjectionProvider.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Extensions/QueryableProjectionExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryablePagingProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionProvider.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/TypeExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/ProjectionVisitor.cs
  src/HotChocolate/Data/src/Data/Sorting/Convention/SortTypeInterceptor.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Extensions/QueryableSortContextExtensions.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Extensions/QueryableSortExtensions.cs
  src/HotChocolate/Data/src/Data/Sorting/Fields/SortEnumValue.cs
  src/HotChocolate/Data/src/Data/Sorting/ISortInputTypeDescriptor`1.cs
  src/HotChocolate/Data/src/Data/Sorting/SortEnumTypeDefinition.cs
  src/HotChocolate/Data/src/Data/Sorting/SortInputTypeDescriptor`1.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/SortProvider.cs
  src/HotChocolate/Data/src/Data/ThrowHelper.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/MockExecutable.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/Query.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterVisitorInterfacesTests.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/QueryableFilterVisitorInterfacesTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorListTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorMethodTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorObjectTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/FilterInputTypeTests.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableFirstOrDefaultTests.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionFilterTests.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionHashSetTest.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionInterfaceTypeTests.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionNestedTests.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionSetTest.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionSortedSetTest.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionSortingTests.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionUnionTypeTests.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableSingleOrDefaultTests.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/QueryableFilterVisitorInterfacesTests.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/SchemaCache.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/SortVisitorTestBase.cs
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/SortVisitorTestBase.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/Expression/QueryableSortVisitorAscObjectTests.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/SortInputTypeTests.cs
  src/HotChocolate/Data/test/Data.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate

#4557 Fixed Snapshots
  src/HotChocolate/Core/test/Fetching.Tests/AutoBatchSchedulerTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Implicit_Operation_NET6.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/SortInputTypeTest.SortInputType_Should_IgnoreFieldWithoutCallingConvention.snap
Labels: 🌶️ hot chocolate

#4558 Refined Mutation Docs
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-09-27-hot-chocolate-12-4.md
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 📚 documentation, 🌶️ website

#4562 Removed Debug Code
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
Labels: 🐛 bug, 🌶️ hot chocolate

#4568 Fixed lowercase typenames and fields with leading _
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/SyntaxExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.InputTypes.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/FieldsWithUnderlinePrefix.graphql
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.FieldsWithUnderlineInName.snap
Labels: 🌶️ strawberry shake

#4572 Allow more easily to configure the global type check.
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/ISchemaOptions.cs
  src/HotChocolate/Core/src/Types/ReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/ObjectTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/IsOfType.cs
  src/HotChocolate/Core/src/Types/Types/ObjectType.Initialization.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Override_Instance_Check_With_Options.snap
Labels: 🌶️ hot chocolate

#4577 Fixed mutation convention context data
  src/HotChocolate/Core/src/Types.Mutations/MutationContextData.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutation_Attribute.snap
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutation_Inferred_Attribute.snap
Labels: 🌶️ hot chocolate

#4571 Added suuport for lower case types in strawberry shake
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectEnumTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectInputObjectTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzerContext.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/FragmentHelper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/HasuraSchema.graphql
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.HasuraMutation.snap
Labels: 🌶️ strawberry shake

#4578 Reworked Test and Coverage Builds
  .build/.vscode/launch.json
  .build/Build.GitHub.cs
  .build/Build.Sonar.cs
  .build/Build.Tests.cs
  .build/Build.csproj
  .github/workflows/check-public-api.yml
  .nuke/build.schema.json
  .nuke/temp/Build.Test.sln
  build.sh
  src/.vscode/tasks.json
  src/Directory.Build.props
  src/GreenDonut/test/Directory.Build.props
  src/HotChocolate/Analyzers/src/Directory.Build.props
  src/HotChocolate/Analyzers/test/Analyzers.Configuration.Tests/HotChocolate.Configuration.Analyzers.Tests.csproj
  src/HotChocolate/Analyzers/test/Analyzers.Tests/HotChocolate.Analyzers.Tests.csproj
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/DefaultAuthorizationHandler.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/WebSocketInterceptorTests.cs
  src/HotChocolate/AspNetCore/test/Directory.Build.props
  src/HotChocolate/AzureFunctions/test/Directory.Build.props
  src/HotChocolate/CodeGeneration/src/Directory.Build.props
  src/HotChocolate/CodeGeneration/test/CodeGeneration.Neo4J.Tests/HotChocolate.CodeGeneration.Neo4J.Tests.csproj
  src/HotChocolate/Core/src/Abstractions/NameStringConverter.cs
  src/HotChocolate/Core/src/Execution/Processing/IArgumentMap.cs
  src/HotChocolate/Core/src/Types/Configuration/AggregateTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializationInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Resolvers/ArgumentValue.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/XmlDocumentationFileResolver.cs
  src/HotChocolate/Core/src/Types/Types/Relay/QueryFieldTypeInterceptor.cs
  src/HotChocolate/Core/test/Directory.Build.props
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_Defaults.snap
  src/HotChocolate/Data/test/Directory.Build.props
  src/HotChocolate/Filters/test/Directory.Build.props
  src/HotChocolate/Language/test/Directory.Build.props
  src/HotChocolate/MongoDb/test/Directory.Build.props
  src/HotChocolate/Neo4J/test/Directory.Build.props
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Filtering.Tests/Neo4JConfig.cs
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Integration.Tests/Neo4JConfig.cs
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Paging.Tests/Neo4JConfig.cs
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Projections.Tests/Neo4JConfig.cs
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Sorting.Tests/Neo4JConfig.cs
  src/HotChocolate/PersistedQueries/test/Directory.Build.props
  src/HotChocolate/Spatial/test/Directory.Build.props
  src/HotChocolate/Stitching/test/Directory.Build.props
  src/HotChocolate/Utilities/test/Directory.Build.props
  src/StrawberryShake/Client/test/Directory.Build.props
  src/StrawberryShake/Client/test/Persistence.SQLite.Tests/StrawberryShake.Persistence.SQLite.Tests.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.FieldsWithUnderlineInName.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Razor.Tests/__snapshots__/RazorGeneratorTests.Query_And_Mutation.snap
  src/StrawberryShake/CodeGeneration/test/Directory.Build.props
  src/StrawberryShake/Directory.Build.props
  src/StrawberryShake/SourceGenerator/src/Directory.Build.props
  src/StrawberryShake/SourceGenerator/test/Directory.Build.props
  src/StrawberryShake/Tooling/src/Configuration/StrawberryShake.Tools.Configuration.csproj
  src/StrawberryShake/Tooling/test/Directory.Build.props
Labels: 🧰 maintenance, 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ green donut

#4563 Introduce HotChocolate.Data.AutoMapper
  src/HotChocolate/Data/HotChocolate.Data.sln
  src/HotChocolate/Data/src/AutoMapper/AutoMapperQueryableExtensions.cs
  src/HotChocolate/Data/src/AutoMapper/HotChocolate.Data.AutoMapper.csproj
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionContextExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionScopeExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionVisitor.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/AutomapperTests.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/HotChocolate.Data.AutoMapper.Tests.csproj
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/RequestExecutorBuilderExtensions.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/TestExtensions.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/UseSqlLoggingAttribute.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_Deep__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_Deep_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_Deep_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_ManyToOne_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_Deep__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_Deep_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_Deep_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne__NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_expression_NET6_0.snap
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/__snapshots__/ProjectToTests.Execute_OneToOne_sql_NET6_0.snap
Labels: 🌶️ hot chocolate

#4586 Fixed bug in lower case type names and fixed inputs with default value.
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectEnumTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectInputObjectTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzerContext.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/FragmentHelper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.HasuraMutation.snap
Labels: 🌶️ strawberry shake

#4588 Renamed RequiredDesignator to RequiredModifier.
  src/HotChocolate/Core/src/Types/Types/Extensions/TypeExtensions.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/OptionalModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/RequiredModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SyntaxKind.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.QuerySyntax.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/KitchenSinkParserTests.ParseFacebookKitchenSinkQueryNullability.snap
Labels: 🌶️ hot chocolate

#4592 Clear rented buffers before using them.
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DescriptorBase~1.cs
  src/HotChocolate/Core/src/Types/Types/InputParser.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
Labels: 🐛 bug, 🌶️ hot chocolate

#3988 Fix custom scalar value-type support
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/RuntimeTypeInfo.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeInfos.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/SchemaHelper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/ScalarGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ScalarGeneratorTests.Custom_Scalar_With_RuntimeType_ValueType_AsInput.snap
Labels: 🌶️ strawberry shake

#4584 Fixed default binding behavior in scalars package
  src/HotChocolate/Core/src/Types.Scalars/SignedByteType.cs
  src/HotChocolate/Core/src/Types.Scalars/UnsignedIntType.cs
  src/HotChocolate/Core/src/Types.Scalars/UnsignedLongType.cs
  src/HotChocolate/Core/src/Types.Scalars/UnsignedShortType.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/ScalarTypeTestBase.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/SignedByteTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedIntTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedLongTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedShortTypeTests .cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/SignedByteTypeTests.SignedByteType_Should_BeBoundImplicity_When_Registered.snap
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/UnsignedIntTypeTests.UnsignedIntType_Should_BeBoundImplicity_When_Registered.snap
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/UnsignedLongTypeTests.UnsignedLongType_Should_BeBoundImplicity_When_Registered.snap
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/UnsignedShortTypeTests.UnsignedShortType_Should_BeBoundImplicity_When_Registered.snap
Labels: 🌶️ hot chocolate
