Repository ChilliCream/graphql-platform, pull requests merged in 2022-08, with the labels that each got.

#5214 Allow empty filter expressions to be visited
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableCombinator.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterOperationCombinator.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterOperationCombinator~1.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterVisitor.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterVisitorBase`2.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterCombinatorTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterCombinatorTests.Create_Empty_Expression.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableFirstOrDefaultTests.Create_DeepFilterObjectTwoProjections_NET6_0.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableFirstOrDefaultTests.Create_DeepFilterObjectTwoProjections_NET7_0.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableFirstOrDefaultTests.Create_ListObjectDifferentLevelProjection_NET6_0.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableFirstOrDefaultTests.Create_ListObjectDifferentLevelProjection_NET7_0.snap
  src/HotChocolate/MongoDb/src/Data/Driver/MongoDbFilterDefinition.cs
  src/HotChocolate/MongoDb/src/Data/Driver/MongoDbFilterOperation.cs
  src/HotChocolate/MongoDb/src/Data/Extensions/MongoDbFilterScopeExtensions.cs
  src/HotChocolate/MongoDb/src/Data/Extensions/MongoFilterVisitorContextExtensions.cs
  src/HotChocolate/MongoDb/src/Data/Filters/Handlers/List/MongoDbListOperationHandlerBase.cs
  src/HotChocolate/MongoDb/src/Data/Filters/MongoDbFilterCombinator.cs
  src/HotChocolate/MongoDb/src/Data/Filters/MongoDbFilterProvider.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/MongoDbFilterCombinatorTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterCombinatorTests.Create_Empty_Expression.snap
  src/HotChocolate/Neo4J/src/Data/Execution/Neo4JExecutable.cs
  src/HotChocolate/Neo4J/src/Data/Filtering/Extensions/Neo4JFilterScopeExtensions.cs
  src/HotChocolate/Neo4J/src/Data/Filtering/Extensions/Neo4JFilterVisitorContextExtensions.cs
  src/HotChocolate/Neo4J/src/Data/Filtering/Handlers/List/Neo4JListOperationHandlerBase.cs
  src/HotChocolate/Neo4J/src/Data/Filtering/Neo4JFilterCombinator.cs
  src/HotChocolate/Neo4J/src/Data/Filtering/Neo4JFilterProvider.cs
  src/HotChocolate/Neo4J/src/Data/Language/CompoundCondition.cs
  src/HotChocolate/Neo4J/src/Data/Language/Where.cs
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Filtering.Tests/Neo4JFilterCombinatorTests.cs
  src/HotChocolate/Neo4J/test/HotChocolate.Data.Neo4J.Filtering.Tests/__snapshots__/Neo4JFilterCombinatorTests.Create_Empty_Expression.snap
Labels: 🌶️ hot chocolate

#5286 Simplify scoped resolver compiler extensions.
  src/HotChocolate/Core/src/Types/Resolvers/DefaultResolverCompiler.cs
  src/HotChocolate/Core/src/Types/Resolvers/IResolverCompiler.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/InterfaceFieldDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DescriptorBase~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Helpers/FieldDescriptorUtilities.cs
  src/HotChocolate/Core/src/Types/Types/ObjectField.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolverCompilerHelper.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverCompilerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/ResolverCompilerTests.ScopedExpressionBuilderSchemaTest.snap
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/ResolverCompilerTests.ScopedExpressionBuilderTest.snap
Labels: 🌶️ hot chocolate, cla-signed

#5294 Allow middleware to register resolver task bound cleanup tasks.
  src/HotChocolate/AspNetCore/src/Transport.Sockets/MessageProcessor.cs
  src/HotChocolate/AspNetCore/src/Transport.Sockets/MessageReceiver.cs
  src/HotChocolate/Core/src/Execution/HotChocolate.Execution.csproj
  src/HotChocolate/Core/src/Execution/Processing/DirectiveContext.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Arguments.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Global.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.Execution.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ResultBuilder.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ResultBuilder.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.Execute.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.cs
  src/HotChocolate/Core/src/Types/Resolvers/CleanAfter.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceHelper.cs
  src/HotChocolate/Core/src/Types/Resolvers/IMiddlewareContext.cs
  src/HotChocolate/Data/src/EntityFramework/DbContextParameterExpressionBuilder.cs
  src/HotChocolate/Data/src/EntityFramework/Extensions/EntityFrameworkObjectFieldDescriptorExtensions.cs
Labels: 🌶️ hot chocolate, cla-signed

#5292 Fixed failing data tests
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableFirstOrDefaultTests.Create_DeepFilterObjectTwoProjections_NET6_0.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableFirstOrDefaultTests.Create_DeepFilterObjectTwoProjections_NET7_0.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableFirstOrDefaultTests.Create_ListObjectDifferentLevelProjection_NET6_0.snap
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/__snapshots__/QueryableFirstOrDefaultTests.Create_ListObjectDifferentLevelProjection_NET7_0.snap
Labels: 🌶️ hot chocolate, cla-signed

#5297 Allow to override the enum type name and value comparer.
  src/HotChocolate/Core/src/Types/HotChocolate.Types.csproj
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IEnumTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IEnumTypeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/EnumTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/EnumTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/EnumType.Initialization.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeTests.cs
  src/HotChocolate/Fusion/src/Core/Execution/ExecutionState.cs
  src/HotChocolate/Fusion/src/Core/Execution/IExecutionState.cs
  src/HotChocolate/Fusion/src/Core/Execution/RemoteQueryExecutor.cs
  src/HotChocolate/Fusion/src/Core/Execution/RemoteQueryExecutor.txt
  src/HotChocolate/Fusion/test/Core.Tests/RemoteQueryExecutorTests.cs
Labels: 🎉 enhancement, 🌶️ hot chocolate, cla-signed

#5298 Integrated Gateway into Request Pipeline
  src/HotChocolate/Core/src/Execution/DependencyInjection/InternalServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredWorkScheduler.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.Execution.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ResultBuilder.cs
  src/HotChocolate/Fusion/src/Core/Clients/GraphQLClientFactory.cs
  src/HotChocolate/Fusion/src/Core/Clients/GraphQLHttpClient.cs
  src/HotChocolate/Fusion/src/Core/Clients/GraphQLRequest.cs
  src/HotChocolate/Fusion/src/Core/Clients/GraphQLResponse.cs
  src/HotChocolate/Fusion/src/Core/Clients/IGraphQLClient.cs
  src/HotChocolate/Fusion/src/Core/Clients/ResponseProperties.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/RequestExecutorBuilderExtensions.cs
  src/HotChocolate/Fusion/src/Core/Execution/ArgumentContext.cs
  src/HotChocolate/Fusion/src/Core/Execution/FederatedQueryContext.cs
  src/HotChocolate/Fusion/src/Core/Execution/FederatedQueryExecutor.cs
  src/HotChocolate/Fusion/src/Core/Execution/IRemoteRequestExecutor.cs
  src/HotChocolate/Fusion/src/Core/Execution/RemoteRequestExecutorFactory.cs
  src/HotChocolate/Fusion/src/Core/Execution/RequestHandler.cs
  src/HotChocolate/Fusion/src/Core/Execution/Response.cs
  src/HotChocolate/Fusion/src/Core/Execution/WorkItem.cs
  src/HotChocolate/Fusion/src/Core/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Pipeline/PipelineProperties.cs
  src/HotChocolate/Fusion/src/Core/Pipeline/QueryPlanMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Utilities/JsonQueryResultFormatter.cs
  src/HotChocolate/Fusion/src/Core/Utilities/JsonRequestFormatter.cs
  src/HotChocolate/Fusion/test/Core.Tests/RemoteQueryExecutorTests.cs
Labels: 🌶️ hot chocolate, cla-signed

#5295 Extended documnetation on Subscriptions for v12
  website/src/docs/hotchocolate/defining-a-schema/subscriptions.md
Labels: 📚 documentation

#5317 Fixed InputParser issue for optional value types.
  src/CookieCrumble/src/CookieCrumble/Extensions/SnapshotExtensions.cs
  src/HotChocolate/Core/src/Types/Types/InputParser.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputParserTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputParserTests.Force_NonNull_Struct_To_Be_Optional.snap
Labels: 🌶️ hot chocolate

#5324 Add file upload to strawberry shake
  src/StrawberryShake/Client/src/Core/OperationRequest.cs
  src/StrawberryShake/Client/src/Core/Serialization/BuiltInScalarNames.cs
  src/StrawberryShake/Client/src/Core/Serialization/UploadSerializer.cs
  src/StrawberryShake/Client/src/Core/ThrowHelper.cs
  src/StrawberryShake/Client/src/Core/Upload.cs
  src/StrawberryShake/Client/src/Transport.Http/HttpConnection.cs
  src/StrawberryShake/Client/src/Transport.Http/StrawberryShake.Transport.Http.csproj
  src/StrawberryShake/Client/src/Transport.InMemory/DependencyInjection/InMemoryClient.cs
  src/StrawberryShake/Client/src/Transport.InMemory/StrawberryShake.Transport.InMemory.csproj
  src/StrawberryShake/Client/test/Core.Tests/OperationRequestTests.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Extensions/DescriptorExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/DependencyInjectionGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/OperationServiceGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/ThrowHelper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectInputObjectTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Models/InputObjectTypeModel.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/BuiltInScalarNames.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/Operations/MutationOperationDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/Operations/OperationDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/Operations/QueryOperationDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/Operations/SubscriptionOperationDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/InputObjectTypeDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Extensions/UploadScalarHelperExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/OperationDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.InputTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeInfos.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeNames.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/SchemaHelper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/InputGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalar_InMemoryTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalar_InMemoryTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadSchemaHelpers.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_ComplexInputTypes.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_UploadAsArg.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_UploadInDeepInputObject.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_UploadInInputObject.snap
Labels: 🌶️ strawberry shake

#5327 Adds file upload to SS version 12
  src/StrawberryShake/Client/src/Core/OperationRequest.cs
  src/StrawberryShake/Client/src/Core/Serialization/BuiltInScalarNames.cs
  src/StrawberryShake/Client/src/Core/Serialization/UploadSerializer.cs
  src/StrawberryShake/Client/src/Core/ThrowHelper.cs
  src/StrawberryShake/Client/src/Core/Upload.cs
  src/StrawberryShake/Client/src/Transport.Http/HttpConnection.cs
  src/StrawberryShake/Client/src/Transport.Http/StrawberryShake.Transport.Http.csproj
  src/StrawberryShake/Client/src/Transport.InMemory/DependencyInjection/InMemoryClient.cs
  src/StrawberryShake/Client/src/Transport.InMemory/StrawberryShake.Transport.InMemory.csproj
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Extensions/DescriptorExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/DependencyInjectionGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/OperationServiceGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/ThrowHelper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzer.CollectInputObjectTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Models/InputObjectTypeModel.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/Operations/MutationOperationDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/Operations/OperationDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/Operations/QueryOperationDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/Operations/SubscriptionOperationDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/InputObjectTypeDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Extensions/UploadScalarHelperExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/OperationDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.InputTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeInfos.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/TypeNames.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/SchemaHelper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/InputGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalar_InMemoryTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalar_InMemoryTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadSchemaHelpers.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_ComplexInputTypes.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_UploadAsArg.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_UploadInDeepInputObject.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_UploadInInputObject.snap
Labels: 🌶️ strawberry shake

#5329 Fixed upload scalar on SS
  src/StrawberryShake/Client/src/Transport.InMemory/DependencyInjection/InMemoryClient.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/OperationServiceGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/OperationDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/InputGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalar_InMemoryTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalar_InMemoryTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadSchemaHelpers.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_FirstNonUpload.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_LastNonUpload.snap
Labels: 🌶️ strawberry shake

#5330 Fixed upload scalar on SS
  src/StrawberryShake/Client/src/Transport.InMemory/DependencyInjection/InMemoryClient.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/OperationServiceGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/OperationDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/InputGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalar_InMemoryTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalar_InMemoryTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadSchemaHelpers.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_FirstNonUpload.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_LastNonUpload.snap
Labels: 🌶️ strawberry shake

#5333 Fixed upload scalar on SS
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/OperationDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/InputGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.MultipleOperations_WithAndWithoutUpload.snap
Labels: 🌶️ strawberry shake

#5338 Redundant IHasScope removed
  src/HotChocolate/Data/src/Data/Filters/FilterFieldDefinition.cs
Labels: 🌶️ hot chocolate

#5342 Reworked Fusion Query Plan
  src/CookieCrumble/src/CookieCrumble/CookieCrumble.csproj
  src/CookieCrumble/src/CookieCrumble/Formatters/QueryPlanSnapshotValueFormatter.cs
  src/CookieCrumble/src/CookieCrumble/Snapshot.cs
  src/HotChocolate/Core/src/Execution/Processing/Operation.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ResultBuilder.cs
  src/HotChocolate/Core/src/Execution/Processing/SelectionSet.cs
  src/HotChocolate/Core/src/Execution/Processing/SelectionVariants.cs
  src/HotChocolate/Core/src/Execution/Serialization/JsonQueryResultFormatter.cs
  src/HotChocolate/Core/src/Execution/Serialization/RawJsonValue.cs
  src/HotChocolate/Core/src/Types/Execution/Processing/IOperation.cs
  src/HotChocolate/Core/src/Types/Execution/Processing/ISelectionSet.cs
  src/HotChocolate/Fusion/src/Core/Execution/ExecutionState.cs
  src/HotChocolate/Fusion/src/Core/Execution/ExecutorUtils.cs
  src/HotChocolate/Fusion/src/Core/Execution/FederatedQueryContext.cs
  src/HotChocolate/Fusion/src/Core/Execution/FederatedQueryExecutor.cs
  src/HotChocolate/Fusion/src/Core/Execution/FederationContextExtensions.cs
  src/HotChocolate/Fusion/src/Core/Execution/IExecutionState.cs
  src/HotChocolate/Fusion/src/Core/Execution/IFederationContext.cs
  src/HotChocolate/Fusion/src/Core/Execution/RequestHandler.cs
  src/HotChocolate/Fusion/src/Core/Execution/WorkItem.cs
  src/HotChocolate/Fusion/src/Core/FusionResources.Designer.cs
  src/HotChocolate/Fusion/src/Core/FusionResources.resx
  src/HotChocolate/Fusion/src/Core/HotChocolate.Fusion.csproj
  src/HotChocolate/Fusion/src/Core/Metadata/ServiceConfigurationReader.cs
  src/HotChocolate/Fusion/src/Core/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/ComposeNode.cs
  src/HotChocolate/Fusion/src/Core/Planning/ExecutionNode.cs
  src/HotChocolate/Fusion/src/Core/Planning/ExecutionPlanBuilder.cs
  src/HotChocolate/Fusion/src/Core/Planning/FetchNode.cs
  src/HotChocolate/Fusion/src/Core/Planning/IntrospectionExecutionStep.cs
  src/HotChocolate/Fusion/src/Core/Planning/IntrospectionNode.cs
  src/HotChocolate/Fusion/src/Core/Planning/ParallelNode.cs
  src/HotChocolate/Fusion/src/Core/Planning/QueryPlan.cs
  src/HotChocolate/Fusion/src/Core/Planning/QueryPlanContext.cs
  src/HotChocolate/Fusion/src/Core/Planning/QueryPlanNode.cs
  src/HotChocolate/Fusion/src/Core/Planning/QueryPlanNodeKind.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestNode.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestPlanner.cs
  src/HotChocolate/Fusion/src/Core/Planning/SelectionSetInfo.cs
  src/HotChocolate/Fusion/src/Core/Planning/SerialNode.cs
  src/HotChocolate/Fusion/src/Core/ThrowHelper.cs
  src/HotChocolate/Fusion/test/Core.Tests/ExecutionPlanBuilderTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/RemoteQueryExecutorTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.GetPersonById_With_Bio.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.GetPersonById_With_Bio_Friends_Bio.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.GetPersonById_With_Name_And_Bio.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.GetPersonById_With_Name_And_Bio_With_Prefixed_Directives.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.GetPersonById_With_Name_And_Bio_With_Prefixed_Directives_PrefixedSelf.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.GetPersonById_With_Name_Friends_Name_Bio.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.StoreService_Immutable.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.StoreService_Introspection.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.StoreService_Introspection_TypeName.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.StoreService_Me_Name_Reviews_Upc.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.StoreService_Selection_With_Arguments.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ExecutionPlanBuilderTests.Use_Alias_GetPersonById_With_Name_And_Bio.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RemoteQueryExecutorTests.Do.snap
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.cs
Labels: 🌶️ hot chocolate

#5340 Fixes: Strawberry Shake Tooling download command does not send scope(s) to token endpoint.
  src/StrawberryShake/Tooling/src/dotnet-graphql/OAuth/AuthArgumentsBase.cs
Labels: 🌶️ strawberry shake
