Repository ChilliCream/graphql-platform, pull requests merged in 2022-04, with the labels that each got.

#4903 Add Context for Filtering
  src/HotChocolate/Data/docs/Filtering/Context/Context.drawio
  src/HotChocolate/Data/src/Data/Extensions/HotChocolateDataRequestBuilderExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterContext.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterContextParameterExpressionBuilder.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterContextResolverContextExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterFieldInfo.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterInfo.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterOperationInfo.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterValue.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterValueCollection.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterValueNode.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterContext.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterFieldInfo.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterInfo.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterOperationInfo.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterValue.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterValueCollection.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterValueNode.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/QueryableDefaultFieldHandler.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableFilterProvider.cs
  src/HotChocolate/Data/src/Data/Filters/Fields/AndField.cs
  src/HotChocolate/Data/src/Data/Filters/Fields/FilterField.cs
  src/HotChocolate/Data/src/Data/Filters/Fields/FilterOperationField.cs
  src/HotChocolate/Data/src/Data/Filters/Fields/OrField.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterVisitorBase`2.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Attributes/CatchErrorMiddlewareAttribute.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Context/FilterContextParameterExpressionBuilderTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Context/FilterContextTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Context/__snapshots__/FilterContextTests.FilterContext_Should_NotFail_When_FilterArgumentIsNotProvided.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/Context/__snapshots__/FilterContextTests.GetFields_Should_ReturnOrOperations.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/QueryableFilteringExtensionsTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/QueryableFilteringExtensionsTests.Extension_Should_BeTypeMissMatch.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/QueryableFilteringExtensionsTests.Extension_Should_BeTypeMissMatch__ex.snap
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#4904 Improve Banana Cake Pop Install Instructions
  website/src/docs/bananacakepop/index.md
  website/src/docs/bananacakepop/install.md
  website/src/docs/docs.json
Labels: 📚 documentation, 🌶️ website

#4905 Added sorting context
  src/HotChocolate/Data/docs/Sorting/Context/Context.drawio
  src/HotChocolate/Data/src/Data/Extensions/HotChocolateDataRequestBuilderExtensions.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/ISortingContext.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/ISortingFieldInfo.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/ISortingInfo.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/ISortingValue.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/ISortingValueCollection.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/ISortingValueNode.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingContext.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingContextParameterExpressionBuilder.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingContextResolverContextExtensions.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingFieldInfo.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingInfo.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingValue.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingValueCollection.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingValueNode.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/Context/SortingContextParameterExpressionBuilderTests.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/Context/SortingContextTests.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/Context/__snapshots__/SortingContextTests.SortingContext_Should_NotFail_When_SortingArgumentHasAListValue.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/Context/__snapshots__/SortingContextTests.SortingContext_Should_NotFail_When_SortingArgumentIsNotProvided.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/Context/__snapshots__/SortingContextTests.SortingContext_Should_SerializeAllOperations.snap
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#4916 Backported inline DataLoader fix from 13
  src/GreenDonut/src/Core/DataLoaderBase.cs
  src/HotChocolate/Core/src/Fetching/Extensions/DataLoaderResolverContextExtensions.cs
  src/HotChocolate/Core/src/Fetching/FetchBatchDataLoader.cs
  src/HotChocolate/Core/src/Fetching/FetchCacheDataLoader.cs
  src/HotChocolate/Core/src/Fetching/FetchGroupedDataLoader.cs
  src/HotChocolate/Core/test/Fetching.Tests/HotChocolate.Fetching.Tests.csproj
  src/HotChocolate/Core/test/Fetching.Tests/InlineBatchDataLoaderTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/InlineCacheDataLoaderTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/InlineGroupDataLoaderTests.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#4913 Fixes issue where the Inline DataLoader name is not respected.
  src/GreenDonut/src/Core/DataLoaderBase.IDataLoader.cs
  src/GreenDonut/src/Core/DataLoaderBase.cs
  src/GreenDonut/src/Core/TaskCacheOwner.cs
  src/HotChocolate/Core/src/Fetching/Extensions/DataLoaderResolverContextExtensions.cs
  src/HotChocolate/Core/src/Fetching/FetchBatchDataLoader.cs
  src/HotChocolate/Core/src/Fetching/FetchCache.cs
  src/HotChocolate/Core/src/Fetching/FetchCacheDataLoader.cs
  src/HotChocolate/Core/src/Fetching/FetchGroupedDataLoader.cs
  src/HotChocolate/Core/test/Fetching.Tests/AutoBatchSchedulerTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/BatchSchedulerTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/HotChocolate.Fetching.Tests.csproj
  src/HotChocolate/Core/test/Fetching.Tests/InlineBatchDataLoaderTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/InlineCacheDataLoaderTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/InlineGroupDataLoaderTests.cs
  src/HotChocolate/Core/test/Types.Tests/DataLoader/DataLoaderResolverContextExtensions.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#4921 Add HashCode Bcl Library
  src/HotChocolate/Language/src/Language.SyntaxTree/HotChocolate.Language.SyntaxTree.csproj
Labels: 🌶️ hot chocolate

#4922 Initial equality changes
  src/HotChocolate/Language/src/Language.SyntaxTree/Extensions/CollectionExtensions.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Extensions/HashCodeOrDefault.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Extensions/SyntaxNodeExtensions.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Extensions/TypeNodeExtensions.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FieldNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FloatValueNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FragmentDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FragmentSpreadNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InlineFragmentNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/EqualityHelper.cs
Labels: 🌶️ hot chocolate

#4919 Rename enable Filter and Sorting Context
  src/HotChocolate/Data/src/Data/Filters/Context/FilterContext.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterContextResolverContextExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterContext.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/ISortingContext.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingContext.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingContextResolverContextExtensions.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#4928 Fixed tests for filtering and sorting context
  src/HotChocolate/Data/test/Data.Filters.Tests/Context/FilterContextTests.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/Context/SortingContextTests.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#4931 Input and Interface definition nodes
  src/HotChocolate/Language/src/Language.SyntaxTree/ArgumentNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/BooleanValueNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ComplexTypeDefinitionNodeBase.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/DirectiveDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/DirectiveNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/EnumTypeDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/EnumTypeDefinitionNodeBase.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/EnumTypeExtensionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/EnumValueDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/EnumValueNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Extensions/HashCodeExtensions.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FieldDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FieldNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FloatValueNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FragmentDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FragmentSpreadNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InlineFragmentNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InputObjectTypeDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InputObjectTypeDefinitionNodeBase.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InputObjectTypeExtensionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InputValueDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/IntValueNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InterfaceTypeDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InterfaceTypeDefinitionNodeBase.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InterfaceTypeExtensionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/NamedSyntaxNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.SchemaSyntax.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializerOptions.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/ListTypeNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/VariableNodeTests.cs
Labels: 🎉 enhancement, 🎨 refactoring, 🌶️ hot chocolate

#3218 Fix CustomOperationFilterInput example
  website/src/docs/hotchocolate/fetching-data/filtering.md
Labels: 📚 documentation, 🎬 ready

#4933 Fixed warnings in HotChocolate.Data
  src/HotChocolate/Data/src/AutoMapper/HotChocolate.Data.AutoMapper.csproj
  src/HotChocolate/Data/src/Data/HotChocolate.Data.csproj
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Handlers/QueryableAscendingSortOperationHandler.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Handlers/QueryableDescendingSortOperationHandler.cs
  src/HotChocolate/Data/src/EntityFramework/Extensions/ExecutableMiddleware.cs
  src/HotChocolate/Data/src/EntityFramework/Extensions/ResolverCompilerBuilderExtensions.cs
  src/HotChocolate/Data/src/EntityFramework/HotChocolate.Data.EntityFramework.csproj
  src/HotChocolate/Data/src/EntityFramework/ToListMiddleware.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/HotChocolate.Data.AutoMapper.Tests.csproj
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/HotChocolate.Data.EntityFramework.Tests.csproj
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/HotChocolate.Data.Filters.InMemory.Tests.csproj
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/HotChocolate.Data.Filters.SqlServer.Tests.csproj
  src/HotChocolate/Data/test/Data.Filters.Tests/HotChocolate.Data.Filters.Tests.csproj
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/HotChocolate.Data.Projections.SqlServer.Tests.csproj
  src/HotChocolate/Data/test/Data.Projections.Tests/HotChocolate.Data.Projections.Tests.csproj
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/HotChocolate.Data.Sorting.InMemory.Tests.csproj
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/HotChocolate.Data.Sorting.SqlLite.Tests.csproj
  src/HotChocolate/Data/test/Data.Sorting.Tests/HotChocolate.Data.Sorting.Tests.csproj
  src/HotChocolate/Data/test/Data.Tests/HotChocolate.Data.Tests.csproj
Labels: 🌶️ hot chocolate

#4936 Node equality tests passing
  src/HotChocolate/Language/src/Language.SyntaxTree/Extensions/HashCodeExtensions.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FieldNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/FragmentDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InputObjectTypeDefinitionNodeBase.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/NamedSyntaxNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/NamedTypeNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SelectionSetNode.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/FieldNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/FragmentDefinitionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/FragmentSpreadNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/InlineFragmentNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/InputObjectTypeDefinitionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/InputObjectTypeExtensionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/InputValueDefinitionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/InterfaceTypeDefinitionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/InterfaceTypeExtensionNodeTests.cs
Labels: 🌶️ hot chocolate

#4930 Added queryExpiration option to Redis query cache.
  src/HotChocolate/PersistedQueries/src/PersistedQueries.Redis/Extensions/HotChocolateRedisPersistedQueriesRequestExecutorBuilderExtensions.cs
  src/HotChocolate/PersistedQueries/src/PersistedQueries.Redis/Extensions/HotChocolateRedisPersistedQueriesServiceCollectionExtensions.cs
  src/HotChocolate/PersistedQueries/src/PersistedQueries.Redis/RedisQueryStorage.cs
  src/HotChocolate/PersistedQueries/test/PersistedQueries.Redis.Tests/IntegrationTests.cs
  src/HotChocolate/PersistedQueries/test/PersistedQueries.Redis.Tests/RedisQueryStorageTests.cs
  src/HotChocolate/PersistedQueries/test/PersistedQueries.Redis.Tests/RequestExecutorBuilderTests.cs
  src/HotChocolate/PersistedQueries/test/PersistedQueries.Redis.Tests/ServiceCollectionExtensionsTests.cs
  src/HotChocolate/PersistedQueries/test/PersistedQueries.Redis.Tests/__snapshots__/IntegrationTests.ExecutePersistedQuery_After_Expiration.snap
  src/HotChocolate/PersistedQueries/test/PersistedQueries.Redis.Tests/__snapshots__/IntegrationTests.ExecutePersistedQuery_Before_Expiration.snap
Labels: 🌶️ hot chocolate

#4938 Fixed warnings in HotChocolate.Spatial
  src/HotChocolate/Spatial/src/Data/HotChocolate.Data.Spatial.csproj
  src/HotChocolate/Spatial/src/Types/HotChocolate.Types.Spatial.csproj
  src/HotChocolate/Spatial/src/Types/Serialization/GeoJsonGeometrySerializer.cs
  src/HotChocolate/Spatial/src/Types/Serialization/IGeoJsonSerializer.cs
  src/HotChocolate/Spatial/test/Data.Filters.SqlServer.Tests/HotChocolate.Spatial.Data.Filters.SqlServer.Tests.csproj
  src/HotChocolate/Spatial/test/Data.Projections.SqlServer.Tests/HotChocolate.Data.Projections.Spatial.SqlServer.Tests.csproj
  src/HotChocolate/Spatial/test/Data.Tests/Extensions/QueryableFilterVisitorGeometryTests.cs
  src/HotChocolate/Spatial/test/Data.Tests/GeometryFilterTypeTests.cs
  src/HotChocolate/Spatial/test/Data.Tests/HotChocolate.Data.Spatial.Tests.csproj
  src/HotChocolate/Spatial/test/Types.Tests/HotChocolate.Types.Spatial.Tests.csproj
Labels: 🎬 ready, 🌶️ hot chocolate

#4943 Update constructor of two example serializers in Documentation
  website/src/docs/strawberryshake/scalars.md
Labels: 📚 documentation

#4941 rework equality for ObjectValueNode
  src/HotChocolate/Language/src/Language.SyntaxTree/Extensions/SyntaxNodeExtensions.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/NamedTypeNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ObjectFieldNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ObjectValueNode.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/ObjectFieldNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/ObjectFieldValueNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/ObjectValueNodeTests.cs
Labels: 🌶️ hot chocolate

#4946 Fixed a test in the mongo integration
  src/HotChocolate/MongoDb/src/Data/Extensions/MongoDbDataRequestBuilderExtensions.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#4940 Implemented equality for ScalarDefinitionNode.
  src/HotChocolate/Language/src/Language.SyntaxTree/InputObjectTypeDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/RequiredModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ScalarTypeDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ScalarTypeDefinitionNodeBase.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ScalarTypeExtensionNode.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/HotChocolate.Language.SyntaxTree.Tests.csproj
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/RequiredModifierNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/ScalarTypeDefinitionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/ScalarTypeExtensionNodeTests.cs
Labels: 🌶️ hot chocolate

#4942 Implemented equality for OperationTypeDefinitionNode.
  src/HotChocolate/Language/src/Language.SyntaxTree/OperationTypeDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.SchemaSyntax.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/OperationTypeDefinitionNodeTests.cs
Labels: 🌶️ hot chocolate

#4948 Adds Union and Variable nodes
  src/HotChocolate/Core/src/Execution/Processing/SelectionIncludeCondition.cs
  src/HotChocolate/Data/src/Data/Utilities/NameHelpers.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InputObjectTypeDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/InputObjectTypeDefinitionNodeBase.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/UnionTypeDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/UnionTypeDefinitionNodeBase.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/UnionTypeExtensionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/VariableDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/VariableNode.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/UnionTypeDefinitionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/UnionTypeExtensionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/VariableDefinitionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/VariableNodeTests.cs
Labels: 🌶️ hot chocolate

#4964 Some small fixes
  src/HotChocolate/Language/src/Language.SyntaxTree/OptionalModifierNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ScalarTypeDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SchemaDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SchemaExtensionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SelectionSetNode.cs
Labels: 🌶️ hot chocolate

#4965 Fixed Optional.From when not having a value
  src/HotChocolate/Core/src/Abstractions/Optional.cs
  src/HotChocolate/Core/test/Abstractions.Tests/OptionalTests.cs
Labels: 🌶️ hot chocolate

#4963 BananaCakePop--install.md: Add instructions for Scoop
  website/src/docs/bananacakepop/install.md
Labels: 📚 documentation

#4950 Adds scalar, schema and selectionset equality
  src/HotChocolate/Data/src/Data/DataResources.Designer.cs
  src/HotChocolate/Data/src/Data/DataResources.resx
  src/HotChocolate/Data/src/Data/Utilities/NameHelpers.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/FilterOperationFieldExtensionsTests.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ScalarTypeExtensionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SchemaCoordinateNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SchemaDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SchemaDefinitionNodeBase.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SchemaExtensionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/SelectionSetNode.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/SchemaCoordinateNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/SchemaDefinitionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/SchemaExtensionNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/SelectionSetNodeTests.cs
Labels: 🌶️ hot chocolate

#4961 Implemented equality for ObjectTypeDefinitionNode
  src/HotChocolate/Language/src/Language.SyntaxTree/ObjectTypeDefinitionNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ObjectTypeDefinitionNodeBase.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/ObjectTypeExtensionNode.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/ObjectTypeDefinitionNodeTests.cs
Labels: 🌶️ hot chocolate

#4917 Fixed type trimming. The trimmer no correctly visits directives.
  src/HotChocolate/Core/src/Types/Configuration/TypeTrimmer.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/TypeTrimmerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/TypeTrimmerTests.Executable_Directives_Should_Be_Visited.snap
Labels: 🌶️ hot chocolate

#4877 Adds expression support for filtering
  src/HotChocolate/Data/src/Data/DataResources.Designer.cs
  src/HotChocolate/Data/src/Data/DataResources.resx
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterConvention.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterTypeInterceptor.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/IFilterConvention.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/ExpressionFilterMetadata.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/QueryableDefaultFieldHandler.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableFilterProvider.cs
  src/HotChocolate/Data/src/Data/Filters/Fields/FilterField.cs
  src/HotChocolate/Data/src/Data/Filters/Fields/IFilterField.cs
  src/HotChocolate/Data/src/Data/Filters/FilterFieldDefinition.cs
  src/HotChocolate/Data/src/Data/Filters/FilterFieldDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/FilterInputTypeDescriptor`1.cs
  src/HotChocolate/Data/src/Data/Filters/IFilterFieldDefinition.cs
  src/HotChocolate/Data/src/Data/Filters/IFilterMetaData.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterProvider.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/IFilterProvider.cs
  src/HotChocolate/Data/src/Data/HotChocolate.Data.csproj
  src/HotChocolate/Data/src/Data/ThrowHelper.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterVisitorComparableTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterVisitorExpressionTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_CollectionLengthExpression_0.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_CollectionLengthExpression_1.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_CollectionLengthExpression_null.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_StringConcatExpression_NoMatch.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_StringConcatExpression_Sam_Sampleman.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_StringConcatExpression_null.snap
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Expression_WithMoreThanOneParameter_ThrowsException.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/QueryableFilterVisitorExpressionTests.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_CollectionLengthExpression_0_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_CollectionLengthExpression_0_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_CollectionLengthExpression_1_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_CollectionLengthExpression_1_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_CollectionLengthExpression_null_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_StringConcatExpression_NoMatch_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_StringConcatExpression_NoMatch_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_StringConcatExpression_Sam_Sampleman_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_StringConcatExpression_Sam_Sampleman_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_StringConcatExpression_null_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_StringConcatExpression_null_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/FilterConventionExtensionsTests.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#4973 Fixed a warning in HotChocolate.Data
  src/HotChocolate/Data/src/Data/Filters/IFilterFieldDefinition.cs
Labels: 🎬 ready, 🧰 maintenance, 🌶️ hot chocolate

#4996 Update Banana Cake Pop install instructions
  website/src/docs/bananacakepop/install.md
Labels: 📚 documentation

#5004 Fixed typo
  src/StrawberryShake/Client/src/Core/OperationResultExtensions.cs
Labels: 🎬 ready, 🌶️ strawberry shake

#5011 Fix typo under projections documentation.
  website/src/docs/hotchocolate/v11/fetching-data/projections.md
Labels: 📚 documentation
