Repository ChilliCream/graphql-platform, pull requests merged in 2022-09, with the labels that each got.

#5362 Fixed grammar and spelling in the sorting doc
  website/src/docs/hotchocolate/fetching-data/sorting.md
Labels: 📚 documentation

#5363 Fixed missing initial preamble in the MultiPart response formmatter.
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.BatchRequest_GetHero_And_GetHuman_MultiPart.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.Ensure_Multipart_Format_Is_Correct_With_Defer.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.Ensure_Multipart_Format_Is_Correct_With_Defer_If_Condition_True.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.Ensure_Multipart_Format_Is_Correct_With_Stream.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.SingleRequest_Defer_Results.snap
  src/HotChocolate/Core/src/Execution/Serialization/MultiPartResponseStreamFormatter.cs
Labels: 🌶️ hot chocolate

#5365 website update for bcp 1
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/2022-09-01-new-in-banana-cake-pop-1.md
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/hidden-tabs-1.png
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/new-in-banana-cake-pop-1.png
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/status-bar-1.png
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/status-bar-2.png
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/status-bar-3.png
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/subscription-protocol-auto-detection-1.png
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/subscription-protocol-auto-detection-2.png
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/workspace-auto-synchronization-1.png
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/youtube-thumbnail.png
  website/src/docs/bananacakepop/index.md
  website/src/docs/bananacakepop/install.md
  website/src/pages/index.tsx
Labels: 📚 documentation, 🌶️ website

#5368 Fix name of LocalCurrency scalar type
  src/HotChocolate/Core/src/Types.Scalars/LocalCurrencyType.cs
  src/HotChocolate/Core/src/Types.Scalars/ThrowHelper.cs
  src/HotChocolate/Core/src/Types.Scalars/WellKnownScalarTypes.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/__snapshots__/LocalCurrencyTypeTests.Schema_WithScalar_IsMatch.snap
Labels: 🌶️ hot chocolate

#5390 Added GraphQL-SSE support
  src/HotChocolate/AspNetCore/src/AspNetCore/Instrumentation/HttpRequestKind.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/WebSocketSubscriptionMiddleware.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/GraphQLOverHttpSpecTests.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Core/src/Execution/Serialization/EventStreamFormatter.cs
  src/HotChocolate/Core/src/Execution/Serialization/MultiPartResponseStreamFormatter.cs
Labels: 🌶️ hot chocolate

#5353 Adds ShadowCopy to Neo4J Analyzer to fix file locking issues on compilation
  src/HotChocolate/Analyzers/src/Analyzers/Diagnostics/ErrorHelper.cs
  src/HotChocolate/Analyzers/src/Analyzers/Files.cs
  src/HotChocolate/Analyzers/src/Analyzers/Neo4JSourceGenerator.TypeInitialization.cs
  src/HotChocolate/Analyzers/src/Analyzers/Neo4JSourceGenerator.cs
  src/HotChocolate/Analyzers/src/Analyzers/ShadowCopyAnalyzerAssemblyLoader.cs
Labels: 🌶️ hot chocolate, Area: Neo4J

#5346 Add missing type error message
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/test/Types.Tests/SchemaErrorTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaErrorTests.IncorrectType_In_Parameters_ShouldThrow.snap
Labels: 🌶️ hot chocolate

#4988 Azure Functions isolated process
  src/Directory.Build.props
  src/HotChocolate/AzureFunctions/Directory.Build.props
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/Extensions/GraphQLRequestExecutorExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/Extensions/HotChocolateAzFuncIsolatedProcessHostBuilderExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/Extensions/HttpRequestDataExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/HotChocolate.AzureFunctions.IsolatedProcess.csproj
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/HttpContextShim.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/Extensions/HotChocolateAzureFunctionServiceCollectionExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/Extensions/HotChocolateFunctionsHostBuilderExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/Extensions/HttpContextExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/GraphQLAzureFunctionsConstants.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/HotChocolate.AzureFunctions.csproj
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/HttpContextBuilder.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/PipelineBuilder.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/Helpers/MockFunctionContext.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/Helpers/MockHttpRequestData.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/Helpers/MockHttpResponseData.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/Helpers/MockIsolatedProcessHostBuilder.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/Helpers/TestHttpRequestDataHelper.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/HotChocolate.AzureFunctions.IsolatedProcess.Tests.csproj
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/IsolatedProcessEndToEndTests.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/IsolatedProcessHostBuilderTests.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/CustomBindingTests.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/FunctionsHostBuilderTests.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/Helpers/AzFuncTestHelper.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/Helpers/MockInProcessFunctionsHostBuilder.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/Helpers/TestHttpContextHelper.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/InProcessEndToEndTests.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/ServiceTests.cs
Labels: 🌶️ hot chocolate

#5392 Azure Function Isolated Process Refinements
  src/HotChocolate/AspNetCore/src/AspNetCore/HotChocolate.AspNetCore.csproj
  src/HotChocolate/AspNetCore/src/AspNetCore/Resources/index.html
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/GraphQLOverHttpSpecTests.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/AzureHeaderDictionary.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/AzureHttpContext.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/AzureHttpResponse.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/Extensions/GraphQLRequestExecutorExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/Extensions/HotChocolateAzFuncIsolatedProcessHostBuilderExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/Extensions/HttpRequestDataExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/HttpContextShim.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/DefaultGraphQLRequestExecutor.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/Extensions/HotChocolateAzureFunctionServiceCollectionExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/Extensions/HotChocolateFunctionsHostBuilderExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/Extensions/HttpContextExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/GraphQLAttribute.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/GraphQLAzureFunctionsConstants.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/GraphQLExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/HotChocolate.AzureFunctions.csproj
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/HttpContextBuilder.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/IGraphQLRequestExecutor.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/PipelineBuilder.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/Helpers/MockHttpRequestData.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/Helpers/TestHttpRequestDataHelper.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/IsolatedProcessEndToEndTests.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/IsolatedProcessHostBuilderTests.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/Helpers/HttpContextExtensions.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/Helpers/TestHttpContextHelper.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/InProcessEndToEndTests.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/TestConstants.cs
  src/HotChocolate/Core/src/Execution/Serialization/EventStreamFormatter.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/UpdateCommand.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/UpdateCommandHandler.cs
  templates/v12/function-isolated/.gitignore
  templates/v12/function-isolated/.template.config/template.json
  templates/v12/function-isolated/GraphQLFunction.cs
  templates/v12/function-isolated/HotChocolate.Template.AzureFunctions.csproj
  templates/v12/function-isolated/Program.cs
  templates/v12/function-isolated/Query.cs
  templates/v12/function-isolated/host.json
  templates/v12/function/HotChocolate.Template.AzureFunctions.csproj
  templates/v12/server/HotChocolate.Template.Server.csproj
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#5391 5345 more concise error message v12
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/test/Types.Tests/SchemaErrorTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaErrorTests.IncorrectType_In_Parameters_ShouldThrow.snap
Labels: 🌶️ hot chocolate

#5398 Update index.md
  website/src/docs/strawberryshake/get-started/index.md
Labels: 📚 documentation

#5409 Fixed Batching when using Defer or Stream
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredWorkScheduler.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredWorkState.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Execute.cs
  src/HotChocolate/Core/src/Fetching/BatchScheduler.cs
  src/HotChocolate/Core/src/Fetching/IBatchDispatcher.cs
  src/HotChocolate/Utilities/src/Utilities/ArrayWriter.cs
Labels: 🌶️ hot chocolate

#5410 Fixed transport compatibility issues
  src/HotChocolate/AspNetCore/src/AspNetCore/ContentType.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HeaderUtilities.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/GraphQLOverHttpSpecTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.SingleRequest_Defer_Results.snap
Labels: 🌶️ hot chocolate

#5412 Fixed node discovery when using the NodeResolverAtt on the query type
  src/HotChocolate/Core/src/Fetching/BatchScheduler.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolverTypeInterceptor.cs
Labels: 🌶️ hot chocolate

#5411 Fix wrong name of constructor in docs example
  website/src/docs/hotchocolate/integrations/entity-framework.md
Labels: 📚 documentation

#5404 Docs - return type of Group DataLoader-driven field
  website/src/docs/hotchocolate/fetching-data/dataloader.md
Labels: 📚 documentation

#5397 Add support to marshal across FunctionContext.Items into HttpContext.…
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/AzureHttpContext.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/IsolatedProcessEndToEndTests.cs
Labels: 🌶️ hot chocolate

#5425 Fixes several issues for projecting from node fields.
  .vscode/tasks.json
  global.json
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Execution/HotChocolate.Execution.csproj
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
  src/HotChocolate/Core/src/Fetching/Extensions/ObjectFieldDataLoaderExtensions.cs
  src/HotChocolate/Core/src/Types.CursorPagination/ConnectionType.cs
  src/HotChocolate/Core/src/Types.CursorPagination/EdgeType.cs
  src/HotChocolate/Core/src/Types.Json/FromJsonSchemaDirective.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegmentType~1.cs
  src/HotChocolate/Core/src/Types/SchemaErrorBuilder.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/ConfigurationKind.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DescriptorBase~1.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/DirectiveCollectionExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingHelper.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Extensions/RelayIdFieldHelpers.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldResolvers.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolverInfo.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolverTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/TypeSystemObjectBase~1.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/TypeInitializationOrderTests.cs
  src/HotChocolate/Data/src/Data/Filters/Extensions/FilterObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/FilterInputType.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/IFilterVisitorContext.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Handlers/QueryableProjectionFieldHandler.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Interceptor/QueryableFilterInterceptor.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Interceptor/QueryableSortInterceptor.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionProvider.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionVisitor.cs
  src/HotChocolate/Data/src/Data/Projections/Extensions/OutputFieldExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Extensions/SelectionObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Extensions/SingleOrDefaultObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/ISelectionVisitorContext.cs
  src/HotChocolate/Data/src/Data/Projections/ProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/ProjectionVisitor.cs
  src/HotChocolate/Data/src/Data/Projections/SelectionVisitorContext.cs
  src/HotChocolate/Data/src/Data/Projections/SelectionVisitor`1.cs
  src/HotChocolate/Data/src/Data/Sorting/Extensions/SortObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Sorting/SortInputType.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/ISortVisitorContext.cs
  src/HotChocolate/Data/test/Data.Projections.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Node_Resolver_With_SingleOrDefault.snap
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Node_Resolver_With_SingleOrDefault_Schema.graphql
  src/HotChocolate/Filters/src/Types.Filters/Extensions/FilterObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Filters/src/Types.Sorting/Extensions/SortObjectFieldDescriptorExtensions.cs
Labels: 🌶️ hot chocolate

#5423 Update index.md
  website/src/docs/hotchocolate/integrations/index.md
Labels: 📚 documentation

#5430 Fixed schema error when using static properties as resolver
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Resolvers/DefaultResolverCompiler.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Static_Field_Inference_3_Execute.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Static_Field_Inference_4_Execute.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Static_Field_Inference_5.graphql
Labels: 🌶️ hot chocolate

#5431 Added a better error for error type name collisions.
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/TypeSystemObjectBase~1.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.Union_Result_2_Error_Name_Collision.snap
Labels: 🌶️ hot chocolate

#5432 Adds nodes fields support to projections
  src/HotChocolate/Data/src/Data/Projections/ProjectionTypeInterceptor.cs
  src/HotChocolate/Data/test/Data.Projections.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Node_Resolver_With_SingleOrDefault_Schema.graphql
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Nodes_Resolver_With_SingleOrDefault.snap
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Nodes_Resolver_With_SingleOrDefault_Fragments.snap
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Nodes_Resolver_Without_SingleOrDefault.snap
Labels: 🌶️ hot chocolate
