Repository ChilliCream/graphql-platform, pull requests merged in 2022-05, with the labels that each got.

#5018 Fixed directive description parsing
  src/HotChocolate/Core/test/Execution.Tests/SchemaFirstTests.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Directives.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/DirectiveParserTests.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#5007 Adds directive name to IsBuiltInType helper
  src/HotChocolate/Utilities/src/Utilities.Introspection/BuiltInTypes.cs
Labels: 🌶️ hot chocolate

#4987 Added tests for OperationDefinitionNode equality.
  src/HotChocolate/Language/src/Language.SyntaxTree/OperationDefinitionNode.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/ObjectValueNodeTests.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/OperationDefinitionNodeTests.cs
Labels: 🌶️ hot chocolate

#5026 Fixed snapshots in data
  src/HotChocolate/Data/src/Data/Extensions/HotChocolateDataRequestBuilderExtensions.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_CollectionLengthExpression_null.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorExpressionTests.Create_CollectionLengthExpression_null_NET6_0.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/FilterInputTypeTest.FilterInputType_Inline_AddDirective.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/FilterInputTypeTest.FilterInputType_Inline_AllowAndAllowOr.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/FilterInputTypeTest.FilterInputType_Inline_RenameTypes.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/FilterInputTypeTest.FilterInputType_Inline_SetTypeDescription.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/FilterInputTypeTest.FilterInputType_Inline_SwitchToImplicit.snap
Labels: 🌶️ hot chocolate

#5013 Added documentation for optional properties.
  website/src/docs/hotchocolate/defining-a-schema/input-object-types.md
Labels: 📚 documentation, 🎬 ready

#5020 Adds startsWith and nstartsWith to Elastic Search
  src/HotChocolate/ElasticSearch/HotChocolate.ElasticSearch.sln
  src/HotChocolate/ElasticSearch/src/Data.ElasticSearch.Driver/Filters/Convention/Extensions/ElasticSearchFilterConventionDescriptorExtensions.cs
  src/HotChocolate/ElasticSearch/src/Data.ElasticSearch.Driver/Filters/Handlers/ElasticSearchStringNotStartsWithOperationHandler.cs
  src/HotChocolate/ElasticSearch/src/Data.ElasticSearch.Driver/Filters/Handlers/ElasticSearchStringStartsWithOperationHandler.cs
  src/HotChocolate/ElasticSearch/src/Data.ElasticSearch/ElasticSearchOperationRewriter.cs
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/StringPrefixTests.cs
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_AndField.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_AndField_WithNegation.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_AndField_WithNegation_query.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_AndField_query.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_DeepField.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_DeepField_query.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_DeepNegatedField.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_DeepNegatedField_query.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_MultipleField.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_MultipleField_OneNegated.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_MultipleField_OneNegated_query.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_MultipleField_query.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_OrField.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_OrField_WithNegation.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_OrField_WithNegation_query.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_OrField_query.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_SingleField.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_SingleField_query.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_SingleNegatedField.snap
  src/HotChocolate/ElasticSearch/test/Data.ElasticSearch.Tests/__snapshots__/StringPrefixTests.ElasticSearch_SingleNegatedField_query.snap
Labels: 🌶️ hot chocolate, Area: ElasticSearch

#5040 Reworked Types Source Generator
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ISyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/AggregateInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ClassBaseClassInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ISyntaxInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ISyntaxInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ModuleInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ModuleInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ModuleOptions.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeAttributeInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeExtensionInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/StringConstants.cs
  src/HotChocolate/Core/src/Types.Analyzers/TypeModuleGenerator.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/CustomEnum.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/IEntity.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Person.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/QueryType.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/SchemaTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/SchemaTests.SchemaSnapshot.snap
Labels: 🌶️ hot chocolate

#4937 Align naming behavior of CollectionSegments to Connections
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegmentCountType.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegmentInfo.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegmentType~1.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/Extensions/OffsetPagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/Extensions/UseOffsetPagingAttribute.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/Properties/OffsetResources.Designer.cs
  src/HotChocolate/Core/src/Types/HotChocolate.Types.csproj
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingDefaults.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingOptions.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/CustomCollectionSegmentHandlerTests.Infer_Schema_Correctly_When_CollectionSegment_IsUsed.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.Attribute_Interface_With_Paging_Field.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.Attribute_Simple_StringList_Schema.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.Interface_With_Paging_Field.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.No_Paging_Boundaries.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.Simple_StringList_Schema.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.SchemaFirst_Cursor_OffsetPaging.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Infer_Schema_From_IQueryable_Fields.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Infer_Schema_From_IQueryable_Task_Fields.snap
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/UseDbContextTests.Infer_Schema_From_IQueryable_ValueTask_Fields.snap
  src/HotChocolate/SqlKata/test/Data.SqlKata.Paging.Tests/__snapshots__/MongoDbOffsetPagingFindFluentTests.Return_Node.snap
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#5008 notify observer to complete async stream
  src/StrawberryShake/Client/src/Core/OperationExecutor.Observable.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubCompletionTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubCompletionTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
Labels: 🎬 ready, 🌶️ strawberry shake

#5044 Update index.md blazor wasm template name
  website/src/docs/strawberryshake/get-started/index.md
Labels: 📚 documentation

#5046 Fix typo (proerty -> property)
  website/src/docs/hotchocolate/execution-engine/field-middleware.md
Labels: 📚 documentation

#5041 Make ApolloFederation Printer Public
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.DirectiveType.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.InputType.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.LeafType.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.OutputTypes.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.cs
Labels: 🌶️ hot chocolate

#4895 Schema Merge
  src/HotChocolate/Core/src/Abstractions/SchemaCoordinate.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Syntax.cs
  src/HotChocolate/Stitching/Directory.Build.props
  src/HotChocolate/Stitching/HotChocolate.Stitching.sln
  src/HotChocolate/Stitching/src/Stitching.Types/BindingList.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Bindings/DependenciesBinding.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Bindings/FetchBinding.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Bindings/SourceBinding.cs
  src/HotChocolate/Stitching/src/Stitching.Types/DefaultObjectTypeDefinitionMerger.cs
  src/HotChocolate/Stitching/src/Stitching.Types/ExceptionHelper.cs
  src/HotChocolate/Stitching/src/Stitching.Types/HotChocolate.Stitching.Types.csproj
  src/HotChocolate/Stitching/src/Stitching.Types/IBinding.cs
  src/HotChocolate/Stitching/src/Stitching.Types/ITypeDefinition.cs
  src/HotChocolate/Stitching/src/Stitching.Types/ITypeDefinitionMerger.cs
  src/HotChocolate/Stitching/src/Stitching.Types/ObjectTypeDefinition.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyExtensionsMiddleware.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ISchemaMergeContext.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/MergeSchema.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/MergeSchemaMiddleware.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/SchemaMergeContext.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ServiceConfiguration.cs
  src/HotChocolate/Stitching/src/Stitching.Types/TypeDefinitionMerger.cs
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/DefaultObjectTypeDefinitionMergerTests.cs
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/DefaultObjectTypeDefinitionTests.cs
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/HotChocolate.Stitching.Types.Tests.csproj
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/ApplyExtensionsMiddlewareTests.cs
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyExtensionsMiddlewareTests.Apply_Object_Extension_Merge_Field_Directives_Single_Document.snap
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyExtensionsMiddlewareTests.Apply_Object_Extension_Single_Document.snap
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/__snapshots__/DefaultObjectTypeDefinitionMergerTests.Merge_Simple_Type.snap
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/__snapshots__/DefaultObjectTypeDefinitionMergerTests.Same_Field_In_Each_Schema_Version.snap
Labels: 🌶️ hot chocolate

#5050 Fixed bad xml comments
  src/HotChocolate/Core/src/Types.Json/JsonObjectTypeExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterValueCollection.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterValue.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterValueCollection.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/Extensions/FilterConventionDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/IFilterConvention.cs
  src/HotChocolate/Data/src/Data/Filters/Convention/IFilterConventionDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/List/QueryableListOperationHandlerBase.cs
  src/HotChocolate/Data/src/Data/Filters/Extensions/FilterSchemaBuilderExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/FilterInputType.cs
  src/HotChocolate/Data/src/Data/Filters/IFilterMetaData.cs
  src/HotChocolate/Data/src/Data/Filters/Inline/IListOperationTypeDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/Inline/ListFilterDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Inline/ListOperationTypeDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/Inline/ListOperationTypeDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterOperationHandler.cs
  src/HotChocolate/Data/src/Data/Projections/Visitor/IProjectionFieldHandler~1.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/ISortingValue.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/ISortingValueCollection.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingValueCollection.cs
  src/HotChocolate/Data/src/Data/Sorting/Convention/ISortConvention.cs
  src/HotChocolate/Data/src/Data/Sorting/Convention/ISortConventionDescriptor.cs
  src/HotChocolate/Data/src/Data/Sorting/ISortMetadata.cs
Labels: 🌶️ hot chocolate

#5067 Removed the schema resolver delegate
  src/HotChocolate/Core/src/Types/Configuration/Contracts/ITypeCompletionContext.cs
  src/HotChocolate/Core/src/Types/Configuration/RegisteredType.CompletionContext.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Schema.cs
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
  src/HotChocolate/Core/src/Types/SchemaTypes.cs
  src/HotChocolate/Core/src/Types/SchemaTypesDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DescriptorContext.cs
  src/HotChocolate/Core/src/Types/Types/InterfaceType.Initialization.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/TypeInitializerTests.cs
Labels: 🌶️ hot chocolate

#5068 docs: Adds subscription doc to distributed schema
  website/src/docs/hotchocolate/distributed-schema/subscriptions.md
Labels: 📚 documentation

#5063 Update error type
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 📚 documentation

#4958 Issue 4957 Correct problem with Apollo Federation entity resolver bypassing dataloader
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Helpers/EntitiesResolver.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/EntitiesResolverTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/HotChocolate.ApolloFederation.Tests.csproj
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/TestHelper.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#4960 Align total count on connection & collection segment
  src/HotChocolate/Core/src/Types.CursorPagination/Connection.cs
  src/HotChocolate/Core/src/Types.CursorPagination/ConnectionPageInfo.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Connection~1.cs
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPaginationAlgorithm.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegment.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegmentInfo.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegment~1.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/OffsetPaginationAlgorithm.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/ConnectionPageInfoTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/ConnectionTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/CustomCursorHandlerTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.TotalCountWithCustomConnection.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/CollectionSegmentTests.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.TotalCountWithCustomCollectionSegment.snap
  src/HotChocolate/Neo4J/src/Data/Paging/Neo4JOffsetPagingProvider.cs
Labels: 🎉 enhancement, 🎬 ready, 🌶️ hot chocolate

#5080 Fixed node resolver and entities resolver
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Helpers/EntitiesResolver.cs
  src/HotChocolate/Core/src/Types/Types/Helpers/ResolverContextProxy.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
Labels: 🐛 bug, 🌶️ hot chocolate

#5086 Adds pure resolvers for stitching for v12
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Pure.cs
  src/HotChocolate/Core/src/Types/Resolvers/IPureResolverContext.cs
  src/HotChocolate/Core/src/Types/Resolvers/IResolverContext.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/RemoteFieldHelper.cs
  src/HotChocolate/Stitching/src/Stitching/Utilities/StitchingTypeInterceptor.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/FederatedSchemaTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/FederatedSchemaTests.AutoMerge_CompileOperation.snap
Labels: 🌶️ hot chocolate, 🌶️ green donut, 👓 ready-for-review

#5097 Fixed Typo in Filter Docs
  website/src/docs/hotchocolate/api-reference/extending-filtering.md
Labels: 📚 documentation

#5087 Align total count on connection & collection segment (#4960)
  src/HotChocolate/Core/src/Types.CursorPagination/Connection.cs
  src/HotChocolate/Core/src/Types.CursorPagination/ConnectionPageInfo.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Connection~1.cs
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPaginationAlgorithm.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegment.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegmentInfo.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegment~1.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/OffsetPaginationAlgorithm.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/ConnectionPageInfoTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/ConnectionTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/CustomCursorHandlerTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.TotalCountWithCustomConnection.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/CollectionSegmentTests.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.TotalCountWithCustomCollectionSegment.snap
  src/HotChocolate/Neo4J/src/Data/Paging/Neo4JOffsetPagingProvider.cs
Labels: 🌶️ hot chocolate

#5052 Release task in node resolver after use
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolverCompilerHelper.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolver~2.cs
Labels: 🌶️ hot chocolate

#5078 Reworked the syntax rewriter and introduced a syntax navigator.
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryablePagingProjectionOptimizer.cs
  src/HotChocolate/Language/src/Language.Utf8/Properties/LangUtf8Resources.Designer.cs
  src/HotChocolate/Language/src/Language.Utf8/Properties/LangUtf8Resources.resx
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Syntax.cs
  src/HotChocolate/Language/src/Language.Visitors/Contracts/INavigatorContext.cs
  src/HotChocolate/Language/src/Language.Visitors/Contracts/ISyntaxNavigator.cs
  src/HotChocolate/Language/src/Language.Visitors/Contracts/ISyntaxRewriter.cs
  src/HotChocolate/Language/src/Language.Visitors/Contracts/ISyntaxVisitor.cs
  src/HotChocolate/Language/src/Language.Visitors/Contracts/ISyntaxVisitor~1.cs
  src/HotChocolate/Language/src/Language.Visitors/DefaultSyntaxNavigator.cs
  src/HotChocolate/Language/src/Language.Visitors/DelegateSyntaxRewriter.cs
  src/HotChocolate/Language/src/Language.Visitors/DelegateSyntaxVisitor.cs
  src/HotChocolate/Language/src/Language.Visitors/HotChocolate.Language.Visitors.csproj
  src/HotChocolate/Language/src/Language.Visitors/Properties/Resources.Designer.cs
  src/HotChocolate/Language/src/Language.Visitors/Properties/Resources.resx
  src/HotChocolate/Language/src/Language.Visitors/RewriteSyntaxNode.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxRewriter.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxRewriter~1.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitor.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitor~1.VisitationMap.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxVisitor~1.cs
  src/HotChocolate/Language/src/Language.Visitors/Utilities/ListExtensions.cs
  src/HotChocolate/Language/src/Language.Visitors/Utilities/SyntaxRewriterExtensions.cs
  src/HotChocolate/Language/src/Language.Visitors/Utilities/SyntaxVisitorActionExtension.cs
  src/HotChocolate/Language/src/Language.Visitors/Utilities/SyntaxVisitorExtensions.cs
  src/HotChocolate/Language/src/Language.Visitors/VisitSyntaxNode.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/DocumentRewriterExtensions.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/Keywords.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/QuerySyntaxRewriter.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/SchemaSyntaxRewriter.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/SyntaxRewriter.cs
  src/HotChocolate/Language/src/Language/ListExtensions.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/DefaultSyntaxNavigatorTests.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/DirectiveQuerySyntaxRewriter.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/QuerySyntaxRewriterTests.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/SchemaCoordinateVisitorTests.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/SyntaxRewriterTests.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/SyntaxVisitorTests.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/__snapshots__/SyntaxRewriterTests.Rename_Field.snap
  src/HotChocolate/Stitching/src/Stitching/DependencyInjection/HotChocolateStitchingRequestExecutorExtensions.cs
  src/HotChocolate/Stitching/src/Stitching/Processing/ExtractFieldQuerySyntaxRewriter.Context.cs
  src/HotChocolate/Stitching/src/Stitching/Processing/ExtractFieldQuerySyntaxRewriter.cs
  src/HotChocolate/Stitching/src/Stitching/SchemaBuilding/AddSchemaExtensionRewriter.MergeContext.cs
  src/HotChocolate/Stitching/src/Stitching/SchemaBuilding/AddSchemaExtensionRewriter.cs
  src/HotChocolate/Stitching/src/Stitching/SchemaBuilding/TypeReferenceRewriter.cs
  src/HotChocolate/Stitching/src/Stitching/Utilities/SchemaExtensionsRewriter.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/RewriteTypesTests.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/EntityIdRewriter.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/FragmentRewriter.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/RemoveClientDirectivesRewriter.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/RemovedUnusedFragmentRewriter.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/TypeNameQueryRewriter.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#5108 Do not allocate for default accept or reject socket connection.
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/Protocols/ConnectionStatus.cs
Labels: 🌶️ hot chocolate
