Repository ChilliCream/graphql-platform, pull requests merged in 2022-03, with the labels that each got.

#4807 Update Neo4JDataRequestBuilderExtensions.cs
  src/HotChocolate/Neo4J/src/Data/Extensions/Neo4JDataRequestBuilderExtensions.cs
Labels: 🌶️ hot chocolate

#4816 Use Default Values in UsePagingAttribute (#4815)
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/UsePagingAttribute.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/UsePagingAttributeTests.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#4819 GraphQL over WebSocke fixes.
  src/GreenDonut/src/Core/AutoBatchScheduler.cs
  src/GreenDonut/test/Core.Tests/DataLoaderTests.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/DefaultSocketSessionInterceptor.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ISocketSessionInterceptor.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/OperationManager.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/OperationSession.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/Protocols/Apollo/ApolloSubscriptionProtocolHandler.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/OperationManagerTests.cs
  src/HotChocolate/Core/src/Abstractions/AggregateError.cs
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Stitching/src/Stitching/Execution/SubscriptionRequestHandler.cs
  src/HotChocolate/Utilities/src/Utilities/ActivatorHelper.cs
  src/HotChocolate/Utilities/src/Utilities/ArrayWriter.cs
  src/HotChocolate/Utilities/src/Utilities/BufferHelper.cs
  src/HotChocolate/Utilities/src/Utilities/Cache.cs
  src/HotChocolate/Utilities/src/Utilities/CacheEntryEventArgs.cs
  src/HotChocolate/Utilities/src/Utilities/CombinedServiceProvider.cs
  src/HotChocolate/Utilities/src/Utilities/CreateServiceDelegate.cs
  src/HotChocolate/Utilities/src/Utilities/CreateServiceDelegate~1.cs
  src/HotChocolate/Utilities/src/Utilities/DictionaryServiceProvider.cs
  src/HotChocolate/Utilities/src/Utilities/EmptyServiceProvider.cs
  src/HotChocolate/Utilities/src/Utilities/IParameterHandler.cs
  src/HotChocolate/Utilities/src/Utilities/MiddlewareCompiler.cs
  src/HotChocolate/Utilities/src/Utilities/QueueExtensions.cs
  src/HotChocolate/Utilities/src/Utilities/ServiceException.cs
  src/HotChocolate/Utilities/src/Utilities/ServiceFactory.cs
  src/HotChocolate/Utilities/src/Utilities/ServiceParameterHandler.cs
  src/HotChocolate/Utilities/src/Utilities/ServiceProviderExtensions.cs
  src/HotChocolate/Utilities/src/Utilities/StackExtensions.cs
  src/HotChocolate/Utilities/src/Utilities/StreamAdapters/AsyncEnumerableStreamAdapter.cs
  src/HotChocolate/Utilities/src/Utilities/StreamAdapters/EnumerableStreamAdapter.cs
  src/HotChocolate/Utilities/src/Utilities/StreamAdapters/QueryableStreamAdapter.cs
  src/HotChocolate/Utilities/src/Utilities/StringExtensions.cs
  src/HotChocolate/Utilities/src/Utilities/TypeParameterHandler.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Messaging/MessagePipeline.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Messaging/MessageProcessor.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Messaging/MessageReceiver.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Messaging/Messages/CancelledOperationMessage.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Messaging/Messages/CompleteOperationMessage.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Messaging/Messages/DataDocumentOperationMessage.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Messaging/Messages/ErrorOperationMessage.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Protocols/GraphQLWebSocket/GraphQLWebSocketProtocol.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Session.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/WebSocketConnection.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/IntegrationTests.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/Messaging/OperationMessagesTest.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/Messaging/__snapshots__/OperationMessagesTest.ErrorOperationMessage_ConnectionError_IsMatch.snap
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/Messaging/__snapshots__/OperationMessagesTest.ErrorOperationMessage_WithMessage_IsMatch.snap
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/Protocols/GraphQLWebSocket/GraphQLWebSocketProtocolTests.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/Protocols/GraphQLWebSocket/__snapshots__/GraphQlWsProtocolTests.ProcessAsync_Error_ReceiveOperationMessage.snap
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/__snapshots__/IntegrationTests.Execution_Error.snap
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/__snapshots__/IntegrationTests.Request_With_ConnectionPayload.snap
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/__snapshots__/IntegrationTests.Validation_Error.snap
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ green donut

#4792 Add default arguments to IEndpointRouteBuilder Map methods
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/EndpointRouteBuilderExtensions.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#4817 Document dependency injection / Entity Framework Core
  .devops/deploy-website.yml
  .devops/test-website.yml
  src/HotChocolate/Data/src/EntityFramework/Extensions/EntityFrameworkObjectFieldDescriptorExtensions.cs
  website/src/docs/docs.json
  website/src/docs/hotchocolate/api-reference/dependency-injection.md
  website/src/docs/hotchocolate/fetching-data/resolvers.md
  website/src/docs/hotchocolate/integrations/entity-framework.md
  website/src/docs/hotchocolate/integrations/index.md
  website/src/docs/hotchocolate/server/dependency-injection.md
  website/src/docs/hotchocolate/server/files.md
  website/src/docs/hotchocolate/server/index.md
Labels: 📚 documentation, 🎬 ready, 🧰 maintenance, 🌶️ website, 🌶️ hot chocolate

#4830 Fixed Typos
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
Labels: 🌶️ hot chocolate

#4829 Error message grammar correction.
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
Labels: 🌶️ hot chocolate

#4836 Fix Website Release Pipeline
  .devops/deploy-website-cluster.yml
Labels: 🧰 maintenance

#4840 Align State APIs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Helpers/EntitiesResolver.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Helpers/ReferenceResolverHelper.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/ReferenceResolverAttributeTests.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/DefaultHttpRequestInterceptor.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/DefaultSocketSessionInterceptor.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizationHandlerTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizeSchemaTests.cs
  src/HotChocolate/Core/src/Abstractions/Execution/IQueryRequestBuilder.cs
  src/HotChocolate/Core/src/Abstractions/Execution/QueryRequestBuilder.cs
  src/HotChocolate/Core/src/Abstractions/Execution/QueryRequestBuilderExtensions.cs
  src/HotChocolate/Core/src/Types.Mutations/Errors/ErrorMiddleware.cs
  src/HotChocolate/Core/src/Types/Extensions/ResolverContextExtensions.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceHelper.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/ScopedServiceObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
  src/HotChocolate/Core/test/Abstractions.Tests/Execution/QueryRequestBuilderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/NullErrorPropagationTests.cs
  src/HotChocolate/Core/test/Types.Tests/ResolverContextStateExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/CustomResolverCompilerTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.GetOrSetGlobalState_KeyExists_CorrectType.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.GetOrSetGlobalState_KeyExists_WrongType.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.GetOrSetGlobalState_KeyMissing.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.GetOrSetLocalState_KeyExists_CorrectType.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.GetOrSetLocalState_KeyExists_WrongType.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.GetOrSetLocalState_KeyMissing.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.GetOrSetScopedState_KeyExists_CorrectType.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.GetOrSetScopedState_KeyExists_WrongType.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.GetOrSetScopedState_KeyMissing.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.RemoveLocalState_KeyMissing.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.RemoveScopedState_KeyMissing.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.SetGlobalState.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.SetLocalState.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/ResolverContextStateExtensionTests.SetScopedState.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaBuilderTests.AddType_TypeIsResolverTypeByType_QueryContainsBazField.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.SchemaBuilder_BindType_And_Resolver.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.SchemaBuilder_BindType_And_Resolver_Implicit.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.SchemaBuilder_BindType_And_Resolver_NameBind.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.SchemaBuilder_BindType_Configure.snap
  src/HotChocolate/Data/src/EntityFramework/Extensions/EntityFrameworkObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Listeners/ActivityExecutionDiagnosticListener.cs
  src/HotChocolate/Stitching/src/Stitching/Processing/DelegateResolve.cs
  src/HotChocolate/Stitching/src/Stitching/Processing/DelegateSubscribe.cs
  src/HotChocolate/Stitching/src/Stitching/Processing/DelegationHelpers.cs
  src/HotChocolate/Stitching/src/Stitching/Processing/QueryResultMiddleware.cs
  src/StrawberryShake/Client/src/Transport.InMemory/DependencyInjection/InMemoryClient.cs
  src/StrawberryShake/Client/test/Transport.InMemory.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake, 👓 ready-for-review

#4775 Close open WebSocket sessions when application is shutting down
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/WebSocketConnection.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/WebSocketSession.cs
Labels: 🌶️ hot chocolate

#4859 Added new subscription client to stitching.
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/Protocols/GraphQLOverWebSocket/GraphQLOverWebSocketProtocolHandler.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/StringValueNode.cs
  src/HotChocolate/Stitching/src/Stitching/DependencyInjection/HotChocolateStitchingRequestExecutorExtensions.cs
  src/HotChocolate/Stitching/src/Stitching/Execution/HttpResponseDeserializer.cs
  src/HotChocolate/Stitching/src/Stitching/Execution/ISocketClientFactory.cs
  src/HotChocolate/Stitching/src/Stitching/Execution/JsonResponseDeserializer.cs
  src/HotChocolate/Stitching/src/Stitching/Execution/SubscriptionRequestHandler.cs
  src/HotChocolate/Stitching/src/Stitching/HotChocolate.Stitching.csproj
  src/HotChocolate/Stitching/src/Stitching/Processing/QueryResultMiddleware.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/BaseTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/StitchingTestContext.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/TestWebSocketClient.cs
Labels: 🌶️ hot chocolate

#4865 Stiching Batching Options
  .devops/azure-pipelines.release-hotchocolate.yml
  .devops/azure-pipelines.test-pr-hotchocolate.yml
  src/HotChocolate/Core/src/Types.Json/JsonObjectTypeExtensions.cs
  src/HotChocolate/Core/test/Types.Json.Tests/FromJsonDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Json.Tests/FromJsonDirectiveTests.cs
  src/HotChocolate/Core/test/Types.Json.Tests/__snapshots__/FromJsonDirectiveTests.MapField_AutomaticScalars.snap
  src/HotChocolate/Stitching/src/Stitching/BatchingSupport.cs
  src/HotChocolate/Stitching/src/Stitching/DependencyInjection/HotChocolateStitchingRequestExecutorExtensions.cs
  src/HotChocolate/Stitching/src/Stitching/EndpointCapabilities.cs
  src/HotChocolate/Stitching/src/Stitching/SubscriptionSupport.cs
Labels: 🧰 maintenance, 🌶️ hot chocolate

#4868 Added tests for input default values when using schema-first.
  src/HotChocolate/Core/test/Types.Tests/SchemaFirstTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Ensure_Default_Values_With_Inputs_Are_Applied.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Ensure_Default_Values_With_Inputs_Can_Be_Overriden.snap
Labels: 🌶️ hot chocolate

#4899 Fixed documentation of data extensions
  src/HotChocolate/Data/src/Data/Extensions/HotChocolateDataRequestBuilderExtensions.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#4878 Adds expression support for sorting
  src/HotChocolate/Data/src/Data/DataResources.Designer.cs
  src/HotChocolate/Data/src/Data/DataResources.resx
  src/HotChocolate/Data/src/Data/HotChocolate.Data.csproj
  src/HotChocolate/Data/src/Data/Sorting/Convention/ISortConvention.cs
  src/HotChocolate/Data/src/Data/Sorting/Convention/SortConvention.cs
  src/HotChocolate/Data/src/Data/Sorting/Convention/SortTypeInterceptor.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Handlers/ExpressionSortMetadata.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Handlers/QueryableDefaultSortFieldHandler.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/QueryableSortProvider.cs
  src/HotChocolate/Data/src/Data/Sorting/Fields/ISortField.cs
  src/HotChocolate/Data/src/Data/Sorting/Fields/SortField.cs
  src/HotChocolate/Data/src/Data/Sorting/ISortFieldDefinition.cs
  src/HotChocolate/Data/src/Data/Sorting/ISortMetadata.cs
  src/HotChocolate/Data/src/Data/Sorting/SortFieldDefinition.cs
  src/HotChocolate/Data/src/Data/Sorting/SortFieldDescriptor.cs
  src/HotChocolate/Data/src/Data/Sorting/SortInputTypeDescriptor`1.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/ISortProvider.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/SortProvider.cs
  src/HotChocolate/Data/src/Data/ThrowHelper.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/QueryableSortVisitorExpressionTests.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_CollectionLengthExpression_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_CollectionLengthExpression_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_StringConcatExpression_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_StringConcatExpression_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Expression_WithMoreThanOneParameter_ThrowsException.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/QueryableSortVisitorExpressionTests.cs
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_CollectionLengthExpression_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_CollectionLengthExpression_ASC_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_CollectionLengthExpression_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_CollectionLengthExpression_DESC_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_StringConcatExpression_ASC.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_StringConcatExpression_ASC_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_StringConcatExpression_DESC.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Create_StringConcatExpression_DESC_sql_NET6_0.snap
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/__snapshots__/QueryableSortVisitorExpressionTests.Expression_WithMoreThanOneParameter_ThrowsException.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/SortConventionExtensionsTests.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#4898 Update BCP preview links
  website/src/docs/bananacakepop/index.md
Labels: 📚 documentation
