Repository ChilliCream/graphql-platform, pull requests merged in 2022-10, with the labels that each got.

#5419 Update executable.md
  website/src/docs/hotchocolate/api-reference/executable.md
Labels: 📚 documentation

#5467 added blog post for bcp 2
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/2022-09-01-new-in-banana-cake-pop-1.md
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/new-in-banana-cake-pop-1.png
  website/src/blog/2022-09-01-new-in-banana-cake-pop-1/youtube-thumbnail.png
  website/src/blog/2022-10-05-new-in-banana-cake-pop-2/2022-10-05-new-in-banana-cake-pop-2.md
  website/src/blog/2022-10-05-new-in-banana-cake-pop-2/new-in-banana-cake-pop-2.png
  website/src/blog/shared/new-in-bcp-youtube.png
  website/src/docs/bananacakepop/install.md
Labels: 📚 documentation, 🌶️ website

#5469 Notify completion of subscription to storeless client
  src/StrawberryShake/Client/src/Core/StorelessOperationExecutor.Observable.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubNoStoreTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubNoStoreTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
Labels: 🌶️ strawberry shake

#5466 Removed newtonsoft form utitlities
  src/HotChocolate/Analyzers/src/Analyzers/HotChocolate.Analyzers.csproj
  src/HotChocolate/Utilities/src/Utilities/HotChocolate.Utilities.csproj
Labels: 🌶️ hot chocolate

#5473 Fix event stream formatter so that support graphql-sse protocol
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/GraphQLOverHttpSpecTests.cs
  src/HotChocolate/Core/src/Execution/Serialization/EventStreamResultFormatter.cs
Labels: 🌶️ hot chocolate

#5498 Input Object Type inference and formatters
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IFieldCollection.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InputObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InputObjectTypeDescriptor~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptorBase~1.cs
  src/HotChocolate/Core/src/Types/Types/FieldCollection.cs
  src/HotChocolate/Core/src/Types/Types/Helpers/FieldDescriptorUtilities.cs
  src/HotChocolate/Core/src/Types/Types/Helpers/TypeMemHelper.cs
  src/HotChocolate/Core/src/Types/Utilities/Serialization/InputObjectCompiler.cs
  src/HotChocolate/Core/src/Types/Utilities/Serialization/InputObjectConstructorResolver.cs
Labels: 🌶️ hot chocolate

#5492 Added snapshot formatter that can handle deferred results
  src/CookieCrumble/src/CookieCrumble/Formatters/ExecutionResultSnapshotValueFormatter.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpGetMiddlewareTests.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ObjectResult.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.FragmentSpread_Defer.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.FragmentSpread_Defer_Label_Set_To_abc.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.FragmentSpread_Defer_Nested.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.InlineFragment_Defer.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.InlineFragment_Defer_Label_Set_To_abc.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.InlineFragment_Defer_Nested.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_InitialCount_Set_To_1.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_Label_Set_To_abc.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/StreamTests.Stream_Nested_Defer.snap
  src/StrawberryShake/Client/src/Transport.Http/HttpClientBuilderExtensions.cs
  src/StrawberryShake/Client/src/Transport.Http/ResponseEnumerator.cs
  src/StrawberryShake/Client/src/Transport.Http/ResponseHelper.cs
  src/StrawberryShake/Tooling/.vscode/launch.json
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#5494 Fix stackoverflow exception
  src/StrawberryShake/Client/src/Core/Json/JsonSerializationHelper.cs
  src/StrawberryShake/Client/test/Core.Tests/Json/JsonSerializationHelperTests.cs
Labels: 🐛 bug, 🌶️ strawberry shake

#5515 Website Sub-Menus
  website/gatsby-config.js
  website/gatsby-node.js
  website/src/components/images/workshop-ndc-minnesota.tsx
  website/src/components/layout/footer.tsx
  website/src/components/layout/header.tsx
  website/src/components/mdx/tabs/list.tsx
  website/src/components/misc/global-style.tsx
  website/src/components/misc/link.tsx
  website/src/components/misc/marketing-elements.tsx
  website/src/components/misc/page-elements.tsx
  website/src/components/misc/spinner.tsx
  website/src/components/widgets/most-recent-bcp-blog-posts-section.tsx
  website/src/docs/docs.json
  website/src/images/angle-right.svg
  website/src/images/workshops/ndc-minnesota.jpg
  website/src/images/youtube.svg
  website/src/pages/index.tsx
  website/src/pages/products/bananacakepop.tsx
  website/src/shared-style.ts
Labels: 🌶️ website

#5482 Make introspection feature-detection more robust
  src/HotChocolate/Utilities/src/Utilities.Introspection/SchemaFeatures.cs
Labels: 🌶️ hot chocolate

#5146 Opa Authorization Handler for AspNetCore
  src/HotChocolate/AspNetCore/HotChocolate.AspNetCore.sln
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/DefaultQueryRequestFactory.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/HotChocolate.AspNetCore.Authorization.Opa.csproj
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/HotChocolateAuthorizeRequestExecutorBuilder.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/OpaAuthorizationHandler.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/OpaJsonExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/OpaOptions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/OpaService.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Result/DelegatePolicyResultHandler.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Result/IOpaAuthzResult.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Result/IPolicyResultHandler.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Result/OpaAuthResult.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Result/PolicyResultContext.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Result/PolicyResultContextExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Result/PolicyResultHandlerBase.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Result/QueryResponse.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Types/IOpaQueryRequestFactory.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Types/IOpaService.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Types/IPAndPort.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Types/Input.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Types/OriginalRequest.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Types/Policy.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Types/QueryRequest.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/AuthorizationAttributeTestData.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/AuthorizationTestData.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/AuthorizationTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/HotChocolate.AspNetCore.Authorization.Opa.Tests.csproj
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/Policies.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/Policies/has_age_defined.rego
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/PolicyHandlerMatchingTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.DefaultPolicy_NotFound.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.NoAuthServices_Authenticated_False.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.NoAuthServices_Authenticated_True.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.PipedAuthorizeDirectives_Authorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.PipedAuthorizeDirectives_SecondFails_NotAuthorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Policy_Authorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Policy_Is_Executed_After_Resolver_User_Is_Allowed.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Policy_Is_Executed_After_Resolver_User_Is_Denied.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Policy_NotAuthorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Policy_NotFound.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Policy_Resources_Is_IResolverContext.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Roles_Authorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Roles_UserHasAllOfTheRoles_Authorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Roles_UserHasDifferentRoles_NotAuthorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Roles_UserHasNoRoles_NotAuthorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Roles_UserHasNoneOfTheRoles_NotAuthorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/__snapshots__/AuthorizationTests.Roles_UserHasOneOfTheRoles_Authorized.snap
Labels: 🎉 enhancement, 🌶️ hot chocolate
