Repository ChilliCream/graphql-platform, pull requests merged in 2022-11, with the labels that each got.

#5522 Fixed value overflows break query validation.
  src/HotChocolate/Core/src/Types/Types/Scalars/IntType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/IntegerTypeBase.cs
  src/HotChocolate/Core/src/Validation/Rules/ValueVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/ValuesOfCorrectTypeRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/ValuesOfCorrectTypeRuleTests.OverflowInt.snap
Labels: 🌶️ hot chocolate

#5060 Notify observer to complete async stream on network error.
  src/StrawberryShake/Client/src/Transport.WebSockets/ISocketClient.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/ISocketOperation.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/ISocketProtocol.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Session.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/SocketOperation.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/SocketProtocolBase.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/WebSocketClient.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/TestHelper/SocketClientStub.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubCompletionTest.cs
Labels: 🌶️ strawberry shake

#5500 Retrieve IHttpStitchingRequestInterceptor from combined services to allow override from application services
  src/HotChocolate/Stitching/src/Stitching/DependencyInjection/HotChocolateStitchingRequestExecutorExtensions.cs
Labels: 🌶️ hot chocolate

#5544 Update operation-complexity.md
  website/src/docs/hotchocolate/v12/security/operation-complexity.md
Labels: 📚 documentation

#5556 Add reference to sample project for MartenDB integration
  website/src/docs/hotchocolate/v13/integrations/marten.md
Labels: 📚 documentation

#5530 Redirect v10 documentation links
  website/config/conf.d/default.conf
  website/gatsby-node.js
  website/src/components/doc-page/doc-page.tsx
  website/src/docs/strawberryshake/v12/configuration.md
  website/src/docs/strawberryshake/v12/index.md
  website/src/docs/strawberryshake/v13/configuration.md
  website/src/docs/strawberryshake/v13/index.md
  website/src/templates/doc-page-template.tsx
Labels: 📚 documentation, 🌶️ website, 👓 ready-for-review

#5562 Fixed workshop date
  website/src/components/layout/header.tsx
Labels: 🌶️ website
