Repository ChilliCream/graphql-platform, pull requests merged in 2022-01, with the labels that each got.

#4601 Allow schema middleware to export certain types.
  src/HotChocolate/AspNetCore/src/AspNetCore/DefaultHttpRequestInterceptor.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ErrorHelper.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HttpResponseExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpGetSchemaMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/MiddlewareBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpGetSchemaMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_Types_SDL.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_Types_SDL_Character_and_Query.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_Types_SDL_Invalid_TypeName.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_Types_SDL_Type_Not_Found.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_Types_SDL_Types_Empty.snap
  src/HotChocolate/Core/src/Abstractions/Error.cs
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Types/SchemaSerializer.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/__snapshots__/ComplexityAnalyzerTests.MaxComplexity_Reached.snap
  src/HotChocolate/Core/test/Types.Tests/SchemaSerializerTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaSerializerTests.SerializeTypes.snap
  src/HotChocolate/MongoDb/src/Data/ThrowHelper.cs
  src/HotChocolate/Neo4J/src/Data/ThrowHelper.cs
Labels: 🌶️ hot chocolate

#4602 Allow to specify json encoder.
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResultSerializer.cs
  src/HotChocolate/Core/src/Abstractions/Execution/IQueryRequest.cs
  src/HotChocolate/Core/src/Abstractions/Execution/IQueryResult.cs
  src/HotChocolate/Core/src/Abstractions/Execution/IQueryResultSerializer.cs
  src/HotChocolate/Core/src/Abstractions/Execution/IReadOnlyQueryRequest.cs
  src/HotChocolate/Core/src/Abstractions/Execution/IReadOnlyQueryResult.cs
  src/HotChocolate/Core/src/Execution/Serialization/JsonArrayResponseStreamSerializer.cs
  src/HotChocolate/Core/src/Execution/Serialization/JsonConstants.cs
  src/HotChocolate/Core/src/Execution/Serialization/JsonQueryResultSerializer.cs
  src/HotChocolate/Core/src/Execution/Serialization/MultiPartResponseStreamSerializer.cs
Labels: 🌶️ hot chocolate

#4611 Added missing activity enricher.
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityEnricher.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityScopes.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/InstrumentationOptions.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Listeners/ActivityServerDiagnosticListener.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/RequestDetails.cs
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/ServerInstrumentationTests.cs
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Allow_document_to_be_captured.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Cause_a_resolver_error_that_deletes_the_whole_result.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Ensure_operation_name_is_used_as_request_name.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Ensure_that_the_validation_activity_has_an_error_status.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.MaxComplexity_Not_Reached.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.MaxComplexity_Reached.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Track_events_of_a_simple_query_default.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Track_events_of_a_simple_query_detailed.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Get_SingleRequest_GetHeroName.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_SingleRequest_GetHeroName.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_SingleRequest_GetHeroName_Default.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_add_query_to_http_activity.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_add_variables_to_http_activity.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_capture_deferred_response.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_ensure_list_path_is_correctly_built.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_parser_error.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_variables_are_not_automatically_added_to_activities.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_with_extensions_map.snap
Labels: 🌶️ hot chocolate

#4612 Reworked Open-Telemetry Defaults
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityScopes.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/InstrumentationOptions.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Listeners/ActivityExecutionDiagnosticListener.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Listeners/ActivityServerDiagnosticListener.cs
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Track_events_of_a_simple_query_default.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_SingleRequest_GetHeroName_Default.snap
Labels: 🌶️ hot chocolate

#4615 Make node resolver return a nullable type to match the Node query.
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolverDelegate.cs
Labels: 🌶️ hot chocolate

#4616 Skip validation when possible.
  src/HotChocolate/Core/src/Directory.Build.props
  src/HotChocolate/Core/src/Execution/Pipeline/DocumentValidationMiddleware.cs
  src/HotChocolate/Core/src/Validation/DocumentValidator.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidator.cs
  src/HotChocolate/Core/test/Execution.Tests/Instrumentation/__snapshots__/DiagnosticsEventsTests.ApolloTracing_Always_Parsing_And_Validation_Is_Cached.snap
  src/HotChocolate/Core/test/Execution.Tests/MiddlewareContextTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/DocumentValidationMiddlewareTests.cs
  src/HotChocolate/Core/test/Execution.Tests/ScalarExecutionErrorTests.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Tests/Internal/ExtendedTypeTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LoneAnonymousOperationRuleTests.AnonymousOperationWithAMutation.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LoneAnonymousOperationRuleTests.AnonymousOperationWithASubscription.snap
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityEnricher.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityScopes.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/HotChocolate.Diagnostics.csproj
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Allow_document_to_be_captured.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Cause_a_resolver_error_that_deletes_the_whole_result.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_1_field.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_1_field_and_op.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_3_field.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_4_field.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Ensure_operation_name_is_used_as_request_name.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.MaxComplexity_Not_Reached.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Track_events_of_a_simple_query_default.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Track_events_of_a_simple_query_detailed.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Get_SingleRequest_GetHeroName.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_SingleRequest_GetHeroName.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_SingleRequest_GetHeroName_Default.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_add_query_to_http_activity.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_add_variables_to_http_activity.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_capture_deferred_response.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_ensure_list_path_is_correctly_built.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_variables_are_not_automatically_added_to_activities.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_with_extensions_map.snap
Labels: 🌶️ hot chocolate

#4617 Added OpenTelemetry Documentation
  website/src/docs/hotchocolate/server/instrumentation.md
  website/src/docs/shared/jaeger1.png
  website/src/docs/shared/jaeger2.png
  website/src/docs/shared/jaeger3.png
  website/src/docs/shared/jaeger4.png
Labels: 📚 documentation, 🌶️ website

#4595 Issue #3678 support value type extended scalars in Strawberry Shake
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/OperationGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.NonNullableValueType_WithoutGlobal_Input.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.NonNullable_ValueType_Input.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.Nullable_ValueType_Input.snap
Labels: 🎬 ready, 🌶️ strawberry shake

#4619 Fixed issue where a null payload caused non-null error when using mutation conventions.
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionMiddleware.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.Allow_Payload_Result_Field_To_Be_Null.snap
Labels: 🌶️ hot chocolate

#4621 Fixed Lower Case Type Names
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/InputTypeGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/InputObjectTypeDescriptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Keywords.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/OperationDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.InputTypes.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/RuntimeTypeInfo.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/SchemaGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.KeywordCollisions.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.FieldsWithUnderlineInName.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.HasuraMutation.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.LowerCaseScalarArgument.snap
Labels: 🌶️ strawberry shake

#4556 Update authorization.md
  website/src/docs/hotchocolate/security/authorization.md
Labels: 📚 documentation

#4461 Update requirement of package
  website/src/docs/hotchocolate/security/authorization.md
Labels: 📚 documentation

#4639 Fixed mutation convention with ID attribute
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionMiddleware.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ArgumentDefinition.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.Allow_Id_Middleware.snap
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.Allow_InputObject_Middleware.snap
Labels: 🌶️ hot chocolate

#4645 Fixed mutation convention runtime type determination
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
Labels: 🌶️ hot chocolate

#4570 Hot Chocolate 12.5 Release Blog
  website/src/blog/2021-12-14-hot-chocolate-12-4/2021-12-14-hot-chocolate-12-4.md
  website/src/blog/2022-01-13-hot-chocolate-12-5/2022-01-13-hot-chocolate-12-5.md
  website/src/blog/2022-01-13-hot-chocolate-12-5/bcp1.png
  website/src/blog/2022-01-13-hot-chocolate-12-5/bcp2.png
  website/src/blog/2022-01-13-hot-chocolate-12-5/hot-chocolate-12-5-banner.png
  website/src/blog/2022-01-13-hot-chocolate-12-5/jaeger.png
Labels: 🌶️ website

#4650 Integrated Apollo Federation Support in Build
  .build/Build.PublicApiAnalyzer.cs
  .build/Build.Sonar.cs
  .build/Build.Tests.cs
  .build/Helpers.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/AnyType.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/EntitiesResolver.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/Representation.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/AnyTypeTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/ProvidesDirectiveTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/RequiresDirectiveTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ExternalDirectiveTests.AnnotateExternalToTypeFieldCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ExternalDirectiveTests.AnnotateExternalToTypeFieldPureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ExternalDirectiveTests.AnnotateExternalToTypeFieldSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToClassAttributePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToClassAttributesPureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToObjectTypeCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToObjectTypePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToObjectTypeSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ProvidesDirectiveTests.AnnotateProvidesToClassAttributePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ProvidesDirectiveTests.AnnotateProvidesToFieldCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ProvidesDirectiveTests.AnnotateProvidesToFieldSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/RequiresDirectiveTests.AnnotateProvidesToClassAttributePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/RequiresDirectiveTests.AnnotateProvidesToFieldCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/RequiresDirectiveTests.AnnotateProvidesToFieldSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/EntitiesResolverTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/EntityTypeTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/FederationSchemaPrinterTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/FederationTypesTestBase.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/FieldSetTypeTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/MockResolverContext.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/ReferenceResolverAttributeTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/ReferenceResolverTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/ServiceTypeTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/TestHelper.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.TestFederationPrinterApolloDirectivesSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.TestFederationPrinterSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/ServiceTypeTests.TestServiceTypeEmptyQueryTypePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/ServiceTypeTests.TestServiceTypeTypePureCodeFirst.snap
  src/HotChocolate/Core/src/Types/Configuration/TypeRegistrar.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/Scalars.cs
  src/StrawberryShake/Client/src/Transport.Http/HttpClientBuilderExtensions.cs
Labels: 🧰 maintenance, 🌶️ hot chocolate, 🌶️ strawberry shake

#4653 Fixed mutation convention for ListType payload
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutationReturnList_Inferred.snap
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutationReturnList_Inferred_Execute.snap
Labels: 🌶️ hot chocolate

#4655 Added error limits to the document validation.
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.Validation.cs
  src/HotChocolate/Core/src/Execution/Pipeline/DocumentValidationMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationVariableCoercionMiddleware.cs
  src/HotChocolate/Core/src/Validation/DefaultDocumentValidatorFactory.cs
  src/HotChocolate/Core/src/Validation/DocumentValidator.cs
  src/HotChocolate/Core/src/Validation/DocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/MaxValidationErrorsException.cs
  src/HotChocolate/Core/src/Validation/Options/IErrorOptionsAccessor.cs
  src/HotChocolate/Core/src/Validation/Options/IMaxExecutionDepthOptionsAccessor.cs
  src/HotChocolate/Core/src/Validation/Options/IValidationConfiguration.cs
  src/HotChocolate/Core/src/Validation/Options/ValidationConfiguration.cs
  src/HotChocolate/Core/src/Validation/Options/ValidationOptions.cs
  src/HotChocolate/Core/src/Validation/Rules/ArgumentVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/DirectiveVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/DocumentRule.cs
  src/HotChocolate/Core/src/Validation/Rules/FieldVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/FragmentVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/IntrospectionVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/MaxExecutionDepthVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/OperationVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/ValueVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/VariableVisitor.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/RequestExecutorBuilderExtensions_Validation.Tests.cs
  src/HotChocolate/Core/test/Execution.Tests/Errors/ErrorBehaviorTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorBehaviorTests.SetMaxAllowedValidationErrors_To_1.snap
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorVisitorTestBase.cs
  src/HotChocolate/Core/test/Validation.Tests/FieldMustBeDefinedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FragmentSpreadTargetDefinedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FragmentSpreadTypeExistenceRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/FragmentsMustBeUsedRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Options/ValidationOptionsTests.cs
  src/HotChocolate/Core/test/Validation.Tests/TestHelper.cs
  src/HotChocolate/Core/test/Validation.Tests/VariableUniquenessRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__resources__/10000_query.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/1000_query.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/100_query.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/25000_query.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/30000_query.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/50000_query.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/__type_query_repeated_6250.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/__typename_query.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/__typename_query_repeated_4167.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/anonymous_empty_query_repeated_25000.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/short_long_names_query.graphql
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Anonymous_empty_query_repeated_25000.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Ensure_Recursive_Fragments_Fail.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Ensure_Recursive_Fragments_Fail_2.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Produce_Many_Errors_10000_query.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Produce_Many_Errors_1000_query.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Produce_Many_Errors_100_query.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Produce_Many_Errors_25000_query.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Produce_Many_Errors_30000_query.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Produce_Many_Errors_50000_query.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.QueriesWithInvalidVariableTypes.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Short_Long_Names.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Type_query_repeated_6250.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Typename_query_repeated_4167.snap
Labels: 🌶️ hot chocolate

#4656 Fix typo in mutations documentation
  website/src/docs/hotchocolate/defining-a-schema/mutations.md
Labels: 📚 documentation

#4659 Fixes problems with benchmarks and adds reference results
  src/HotChocolate/Benchmarks/execution.cmd
  src/HotChocolate/Benchmarks/results/net6/mta/ExtensionDataBenchmarks.md
  src/HotChocolate/Benchmarks/results/net6/mta/HttpQueryBenchmarks.md
  src/HotChocolate/Benchmarks/results/net6/mta/IntrospectionBenchmarks.md
  src/HotChocolate/Benchmarks/results/net6/mta/QueryBenchmarks.md
  src/HotChocolate/Benchmarks/results/net6/mta/SchemaBuildingBenchmarks.md
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/DefaultExecutionPipelineBenchmark.cs
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/Resources/GetHeroWithFriendsQuery.graphql
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/Resources/GetTwoHeroesWithFriendsRequest.graphql
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/Resources/LargeQuery.graphql
  src/HotChocolate/Core/benchmark/Validation.Benchmarks/Resources/StarWarsQuery.graphql
  src/HotChocolate/Core/benchmark/Validation.Benchmarks/ValidationBenchmarks.cs
  src/HotChocolate/Core/benchmark/execution.cmd
  src/HotChocolate/Core/benchmark/results/net6/mta/DefaultExecutionPipelineBenchmark.md
  src/HotChocolate/Core/benchmark/results/net6/mta/ValidationBenchmarks.md
  src/HotChocolate/Core/benchmark/validation.cmd
  src/HotChocolate/Core/benchmark10/Execution.Benchmarks/DefaultExecutionPipelineBenchmark.cs
Labels: 🌶️ hot chocolate

#4667 Refined ID attribute to allow use of IDAttribute also without global ID policy
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ExternalDirectiveTests.AnnotateExternalToTypeFieldPureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToClassAttributePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToClassAttributesPureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToObjectTypeCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToObjectTypePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToObjectTypeSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ProvidesDirectiveTests.AnnotateProvidesToClassAttributePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ProvidesDirectiveTests.AnnotateProvidesToFieldCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ProvidesDirectiveTests.AnnotateProvidesToFieldSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/RequiresDirectiveTests.AnnotateProvidesToClassAttributePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/RequiresDirectiveTests.AnnotateProvidesToFieldCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/RequiresDirectiveTests.AnnotateProvidesToFieldSchemaFirst.snap
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Relay.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Extensions/RelayIdFieldHelpers.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Extensions/RelaySchemaBuilderExtensions.cs
  src/HotChocolate/Core/src/Types/Types/WellKnownContextData.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Records.Tests/RecordsTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/IdAttributeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/IdDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/IdMiddlewareTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/FilterVisitorTestBase.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/FilteringAndPaging.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/HotChocolate.Data.Filters.InMemory.Tests.csproj
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterVisitorBooleanTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterVisitorComparableTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterVisitorIdTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/SchemaCache.cs
Labels: 🌶️ hot chocolate

#4671 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: 🧰 maintenance, 👓 ready-for-review

#4674 Add note about field member to migration document
  website/src/docs/hotchocolate/api-reference/migrate-from-11-to-12.md
Labels: 📚 documentation, 👓 ready-for-review

#4654 Added support for DateOnly and TimeOnly in MongoDB
  src/HotChocolate/MongoDb/src/Data/Filters/Convention/Extensions/MongoDbFilterConventionDescriptorExtensions.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/FilterVisitorTestBase.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/MongoDbFilterVisitorDateOnlyTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/MongoDbFilterVisitorTimeOnlyTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_DateOnlyEqual_Expression_2022-01-15.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_DateOnlyEqual_Expression_2022-01-15_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_DateOnlyEqual_Expression_2022-01-16.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_DateOnlyEqual_Expression_2022-01-16_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_DateOnlyNotEqual_Expression_2022-01-15.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_DateOnlyNotEqual_Expression_2022-01-15_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_DateOnlyNotEqual_Expression_2022-01-16.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_DateOnlyNotEqual_Expression_2022-01-16_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyEqual_Expression_2022-01-15.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyEqual_Expression_2022-01-15_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyEqual_Expression_2022-01-16.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyEqual_Expression_2022-01-16_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyEqual_Expression_null.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyEqual_Expression_null_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyNotEqual_Expression_2022-01-15.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyNotEqual_Expression_2022-01-15_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyNotEqual_Expression_2022-01-16.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyNotEqual_Expression_2022-01-16_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyNotEqual_Expression_null.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorDateOnlyTests.Create_NullableDateOnlyNotEqual_Expression_null_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyEqual_Expression_0630.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyEqual_Expression_0630_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyEqual_Expression_1600.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyEqual_Expression_1600_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyEqual_Expression_null.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyEqual_Expression_null_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyNotEqual_Expression_0630.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyNotEqual_Expression_0630_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyNotEqual_Expression_1600.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyNotEqual_Expression_1600_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyNotEqual_Expression_null.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_NullableTimeOnlyNotEqual_Expression_null_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_TimeOnlyEqual_Expression_0630.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_TimeOnlyEqual_Expression_0630_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_TimeOnlyEqual_Expression_1600.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_TimeOnlyEqual_Expression_1600_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_TimeOnlyNotEqual_Expression_0630.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_TimeOnlyNotEqual_Expression_0630_query.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_TimeOnlyNotEqual_Expression_1600.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorTimeOnlyTests.Create_TimeOnlyNotEqual_Expression_1600_query.snap
Labels: 🎬 ready, 🌶️ hot chocolate

#4678 Fixed how we compile reference resolvers.
  src/HotChocolate/ApolloFederation/src/ApolloFederation/AnyType.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationTypeInterceptor.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/ArgumentParser.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/EntitiesResolver.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/EntityResolverDescriptor.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/ReferenceResolverArgumentExpressionBuilder.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/ReferenceResolverHelper.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/WellKnownContextData.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/SchemaSetup.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/Types/Data.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/Types/Product.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/Types/ProductDimension.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/Types/ProductVariation.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/Types/Query.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/Types/User.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/EntitiesResolverTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/ReferenceResolverAttributeTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/CertificationTests.Product_By_Id.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/CertificationTests.Product_By_Package.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/CertificationTests.Product_By_Variation.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/CertificationTests.Provides.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/CertificationTests.Requires.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/CertificationTests.Schema_Snapshot.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/CertificationTests.Subgraph_SDL.snap
  website/src/docs/hotchocolate/api-reference/apollo-federation.md
Labels: 📚 documentation, 🌶️ hot chocolate

#4681 Update MongoDB Connection Documentation
  website/src/docs/hotchocolate/integrations/mongodb.md
Labels: 📚 documentation

#4684 Reworked External Field Handling
  src/HotChocolate/ApolloFederation/examples/Accounts/Program.cs
  src/HotChocolate/ApolloFederation/examples/Accounts/Query.cs
  src/HotChocolate/ApolloFederation/examples/Accounts/User.cs
  src/HotChocolate/ApolloFederation/examples/Accounts/UserRepository.cs
  src/HotChocolate/ApolloFederation/examples/Inventory/Product.cs
  src/HotChocolate/ApolloFederation/examples/Inventory/Program.cs
  src/HotChocolate/ApolloFederation/examples/Reviews/Product.cs
  src/HotChocolate/ApolloFederation/examples/Reviews/Program.cs
  src/HotChocolate/ApolloFederation/examples/Reviews/Query.cs
  src/HotChocolate/ApolloFederation/examples/Reviews/Review.cs
  src/HotChocolate/ApolloFederation/examples/Reviews/ReviewRepository.cs
  src/HotChocolate/ApolloFederation/examples/Reviews/Untitled-1.json
  src/HotChocolate/ApolloFederation/examples/Reviews/User.cs
  src/HotChocolate/ApolloFederation/examples/Reviews/UserRepository.cs
  src/HotChocolate/ApolloFederation/examples/gateway.js
  src/HotChocolate/ApolloFederation/examples/package-lock.json
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Extensions/ApolloFederationDescriptorExtensions.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationTypeInterceptor.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/ArgumentParser.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/EntitiesResolver.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/ExternalSetterExpressionHelper.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ReferenceResolvers/ReferenceResolverHelper.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/WellKnownContextData.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/ReferenceResolverAttributeTests.cs
  website/src/docs/docs.json
Labels: 🌶️ website, 🌶️ hot chocolate

#4691 Refined Federation Printer for Custom Schema Directives.
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.DirectiveType.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.InputType.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.LeafType.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.OutputTypes.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/FederationSchemaPrinterTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.CustomDirective_IsInternal.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.CustomDirective_IsPublic.snap
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/AuthorizeDirectiveType.cs
Labels: 🌶️ hot chocolate

#4693 Bump Stackexchange.Redis to 2.2.88
  src/HotChocolate/Core/src/Subscriptions.Redis/HotChocolate.Subscriptions.Redis.csproj
  src/HotChocolate/PersistedQueries/src/PersistedQueries.Redis/HotChocolate.PersistedQueries.Redis.csproj
  src/HotChocolate/Stitching/src/Stitching.Redis/HotChocolate.Stitching.Redis.csproj
Labels: 🌶️ hot chocolate

#4694 Fixed deprecation in federation schema printer.
  src/HotChocolate/ApolloFederation/examples/AnnotationBased/gateway.js
  src/HotChocolate/ApolloFederation/examples/CodeFirst/gateway.js
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.LeafType.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationSchemaPrinter.OutputTypes.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/FederationSchemaPrinterTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/TestHelper.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.CustomDirective_IsInternal.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.CustomDirective_IsPublic.snap
  src/HotChocolate/Core/src/Types/Types/Directives/DeprecatedDirective.cs
Labels: 🌶️ hot chocolate

#4695 Added DataLoader Batching Diagnostics
  src/GreenDonut/src/Core/DataLoaderDiagnosticEventListener.cs
  src/GreenDonut/src/Core/IDataLoaderDiagnosticEvents.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityEnricher.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityScopes.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Extensions/DiagnosticsRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/InstrumentationOptions.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Listeners/ActivityDataLoaderDiagnosticListener.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Listeners/ActivityExecutionDiagnosticListener.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Scopes/AnalyzeOperationComplexityScope.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Scopes/DataLoaderBatchScope.cs
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/CustomDataLoader.cs
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/QueryInstrumentationTests.cs
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Track_data_loader_events_with_keys.snap
Labels: 🌶️ hot chocolate, 🌶️ green donut

#4702 Adds pure resolver for stitching
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Pure.cs
  src/HotChocolate/Core/src/Types/Resolvers/IPureResolverContext.cs
  src/HotChocolate/Core/src/Types/Resolvers/IResolverContext.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/RemoteFieldHelper.cs
  src/HotChocolate/Stitching/src/Stitching/Utilities/StitchingTypeInterceptor.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/FederatedSchemaTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/FederatedSchemaTests.AutoMerge_CompileOperation.snap
Labels: 🌶️ hot chocolate

#4699 Fixing minor typo in mongodb documentation
  website/src/docs/hotchocolate/integrations/mongodb.md
Labels: 📚 documentation

#4708 Added Schema Source Generator
  .build/Build.Sonar.cs
  src/HotChocolate/Core/HotChocolate.Core.sln
  src/HotChocolate/Core/src/Abstractions/ModuleNameAttribute.cs
  src/HotChocolate/Core/src/Types.Analyzers/HotChocolate.Types.Analyzers.csproj
  src/HotChocolate/Core/src/Types.Analyzers/TypeModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownAttributes.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownFileNames.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownTypes.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/HotChocolate.Types.Analyzers.Tests.csproj
  src/HotChocolate/Core/test/Types.Analyzers.Tests/ModuleName.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Person.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/PersonAddress.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/QueryType.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/SchemaTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/SchemaTests.SchemaSnapshot.snap
  src/HotChocolate/Core/test/Types.Tests/HotChocolate.Types.Tests.csproj
Labels: 🧰 maintenance, 🌶️ hot chocolate

#4709 Reintroduced PaginationAmount for legacy paging support.
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/PagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingOptions.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/PaginationAmountType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarNames.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/Scalars.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.LegacySupport_Query.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.LegacySupport_Schema.snap
Labels: 🌶️ hot chocolate

#4710 Fixed Breaking Change
  src/HotChocolate/Core/src/Types/Resolvers/IResolverContext.cs
Labels: 🌶️ hot chocolate
