Repository ChilliCream/graphql-platform, pull requests merged in 2022-02, with the labels that each got.

#4723 Added support for schema building directives when using schema-first.
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Types/Extensions/SchemaBuilderExtensions.Conventions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DescriptorContext.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/IDescriptorContext.cs
  src/HotChocolate/Core/src/Types/Types/Factories/EnumTypeFactory.cs
  src/HotChocolate/Core/src/Types/Types/Factories/InputObjectTypeFactory.cs
  src/HotChocolate/Core/src/Types/Types/Factories/InterfaceTypeFactory.cs
  src/HotChocolate/Core/src/Types/Types/Factories/ObjectTypeFactory.cs
  src/HotChocolate/Core/src/Types/Types/Factories/SchemaBuildingDirectiveHelper.cs
  src/HotChocolate/Core/src/Types/Types/Factories/SdlToTypeSystemHelper.cs
  src/HotChocolate/Core/src/Types/Types/Factories/UnionTypeFactory.cs
  src/HotChocolate/Core/src/Types/Types/ISchemaDirective.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/DataLoaderTests.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaFirstTests.cs
Labels: 🌶️ hot chocolate

#4725 Added Helpers for JSON types
  src/HotChocolate/Core/HotChocolate.Core.sln
  src/HotChocolate/Core/src/Types.Json/FromJsonSchemaDirective.cs
  src/HotChocolate/Core/src/Types.Json/HotChocolate.Types.Json.csproj
  src/HotChocolate/Core/src/Types.Json/JsonObjectTypeExtensions.cs
  src/HotChocolate/Core/src/Types.Json/JsonRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Core/src/Types.Json/ThrowHelper.cs
  src/HotChocolate/Core/src/Types/Types/Factories/SdlToTypeSystemHelper.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/__snapshots__/DataLoaderTests.Ensure_That_DataLoader_Dispatch_Correctly_When_Used_Serially.snap
  src/HotChocolate/Core/test/Types.Json.Tests/FromJsonDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Json.Tests/FromJsonDirectiveTests.cs
  src/HotChocolate/Core/test/Types.Json.Tests/HotChocolate.Types.Json.Tests.csproj
  src/HotChocolate/Core/test/Types.Json.Tests/__snapshots__/FromJsonDescriptorTests.MapField.snap
  src/HotChocolate/Core/test/Types.Json.Tests/__snapshots__/FromJsonDescriptorTests.MapField_Explicitly.snap
  src/HotChocolate/Core/test/Types.Json.Tests/__snapshots__/FromJsonDescriptorTests.MapField_With_Name.snap
  src/HotChocolate/Core/test/Types.Json.Tests/__snapshots__/FromJsonDirectiveTests.MapField.snap
  src/HotChocolate/Core/test/Types.Json.Tests/__snapshots__/FromJsonDirectiveTests.MapField_AutomaticScalars.snap
  src/HotChocolate/Core/test/Types.Json.Tests/__snapshots__/FromJsonDirectiveTests.MapField_With_Name.snap
Labels: 🌶️ hot chocolate

#4727 Fixed issue were schema-first input runtime types were not correctly inferred.
  src/HotChocolate/Core/src/Types/Types/Interceptors/ResolverTypeInterceptor.cs
  src/HotChocolate/Core/test/Execution.Tests/SchemaFirstTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/SchemaFirstTests.EnumAsInputType.snap
Labels: 🌶️ hot chocolate

#4729 Fix spelling error
  website/src/pages/platform.tsx
Labels: 🌶️ website

#4730 Fix grammar
  website/src/docs/strawberryshake/index.md
Labels: 📚 documentation, 🌶️ website

#4728 Fixed warnings in automapper package
  src/HotChocolate/Data/src/AutoMapper/AutoMapperQueryableExtensions.cs
  src/HotChocolate/Data/test/Data.AutoMapper.Tests/AutomapperTests.cs
Labels: 🌶️ hot chocolate

#4731 Fixed interface inference issue when using schema-first
  .vscode/tasks.json
  src/HotChocolate/Core/src/Types/Configuration/AggregateTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/Contracts/ITypeSystemObjectContext.cs
  src/HotChocolate/Core/src/Types/Configuration/RegisteredType.CompletionContext.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeDiscoverer.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/InterfaceCompletionTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaFirstTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Execute_Against_Schema_With_Interface_Execute.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Execute_Against_Schema_With_Interface_Schema.snap
Labels: 🌶️ hot chocolate

#4733 Added Analyzer to Templates
  src/HotChocolate/Core/src/Abstractions/Execution/IVariableValueCollection.cs
  src/HotChocolate/Core/src/Types.Analyzers/TypeModuleGenerator.cs
  templates/v12/function/HotChocolate.Template.AzureFunctions.csproj
  templates/v12/server/HotChocolate.Template.Server.csproj
Labels: 🌶️ hot chocolate

#4750 Fixed schema-first input enum binding.
  src/HotChocolate/Core/src/Types/Types/Interceptors/ResolverTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaFirstTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Ensure_Input_Only_Enums_Are_Correctly_Bound.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Ensure_Input_Only_Enums_Are_Correctly_Bound_When_Using_BindRuntimeType.snap
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/StrawberryShake.CodeGeneration.CSharp.Analyzers.csproj
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#4751 Cleanup StrawberrShake Generator Test Projects
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/DateTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/DateTypeTests.DateOnly_And_TimeOnly_As_Argument.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/FilteringAndPaging.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Server.Tests/StrawberryShake.CodeGeneration.CSharp.Server.Tests.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/StrawberryShake.CodeGeneration.CSharp.Tests.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Razor.Tests/StrawberryShake.CodeGeneration.Razor.Tests.csproj
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#4749 Rename root activity before operation is known
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityEnricher.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Listeners/ActivityExecutionDiagnosticListener.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Listeners/ActivityServerDiagnosticListener.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Scopes/AnalyzeOperationComplexityScope.cs
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/QueryInstrumentationTests.cs
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/ServerInstrumentationTests.cs
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Parsing_error_when_rename_root_is_activated.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Validation_error_when_rename_root_is_activated.snap
Labels: 🌶️ hot chocolate

#4762 Fixed StrawberryShake MSBuild integration
  src/StrawberryShake/SourceGenerator/src/CodeGeneration.CSharp.Analyzers/StrawberryShake.CodeGeneration.CSharp.Analyzers.csproj
  src/StrawberryShake/SourceGenerator/src/MSBuild/StrawberryShake.props
  src/StrawberryShake/SourceGenerator/src/MSBuild/StrawberryShake.targets
  src/StrawberryShake/SourceGenerator/src/MSBuild/graphql.MSBuild.ContentType.xaml
  src/StrawberryShake/SourceGenerator/src/MSBuild/graphql.MSBuild.xaml
Labels: 🌶️ strawberry shake

#4767 Added fetch once DataLoader
  src/GreenDonut/src/Core/FetchOnceDataLoader.cs
Labels: 🌶️ green donut

#4770 Removed Stitching From Source Generator
  .build/Build.Publish.cs
  src/HotChocolate/Stitching/src/Stitching/Pipeline/DefaultHttpStitchingRequestInterceptor.cs
  src/HotChocolate/Stitching/src/Stitching/Pipeline/HttpRequestClient.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/ISocketClient.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp.Server/CSharpGeneratorServer.Generate.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/DependencyInjectionGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/StrawberryShake.CodeGeneration.csproj
Labels: 🧰 maintenance, 🌶️ hot chocolate, 🌶️ strawberry shake

#4776 Fixed Sonar Issue in Mongo Package
  src/HotChocolate/MongoDb/src/Data/Filters/MongoDbFilterCombinator.cs
Labels: 🌶️ hot chocolate
