Repository ChilliCream/graphql-platform, pull requests merged in 2022-06, with the labels that each got.

#5117 Fixed Complexity Validation Status Code.
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpPostMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.Complexity_Exceeded.snap
  src/HotChocolate/Core/src/Execution/ErrorHelper.cs
Labels: 🌶️ hot chocolate

#5122 Fixed total count breaking change in connection;
  src/HotChocolate/Core/src/Types.CursorPagination/Connection.cs
  src/HotChocolate/Core/src/Types.CursorPagination/ConnectionPageInfo.cs
Labels: 🌶️ hot chocolate

#5048 Always use NtsGeometryServices instance for geometry creation
  src/HotChocolate/Spatial/src/Types/GeoJsonResolvers.cs
  src/HotChocolate/Spatial/src/Types/Serialization/GeoJsonLineStringSerializer.cs
  src/HotChocolate/Spatial/src/Types/Serialization/GeoJsonMultiLineStringSerializer.cs
  src/HotChocolate/Spatial/src/Types/Serialization/GeoJsonMultiPointSerializer.cs
  src/HotChocolate/Spatial/src/Types/Serialization/GeoJsonMultiPolygonSerializer.cs
  src/HotChocolate/Spatial/src/Types/Serialization/GeoJsonPointSerializer.cs
  src/HotChocolate/Spatial/src/Types/Serialization/GeoJsonPolygonSerializer.cs
  src/HotChocolate/Spatial/test/Data.Filters.SqlServer.Tests/PostgreSqlFixture.cs
  src/HotChocolate/Spatial/test/Data.Filters.SqlServer.Tests/QueryableFilterVisitorContainsTests.cs
  src/HotChocolate/Spatial/test/Data.Filters.SqlServer.Tests/QueryableFilterVisitorDistanceTests.cs
  src/HotChocolate/Spatial/test/Data.Filters.SqlServer.Tests/QueryableFilterVisitorIntersectTests.cs
  src/HotChocolate/Spatial/test/Data.Filters.SqlServer.Tests/QueryableFilterVisitorOverlapsTests.cs
  src/HotChocolate/Spatial/test/Data.Filters.SqlServer.Tests/QueryableFilterVisitorTouchesTests.cs
  src/HotChocolate/Spatial/test/Data.Filters.SqlServer.Tests/QueryableFilterVisitorWithinTests.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#5140 Paging EnsureConnectionNameCasing updated with ToUpperInvariant
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/PagingObjectFieldDescriptorExtensions.cs
Labels: 🌶️ hot chocolate

#5142 Added Type Rename Merge Middleware
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpPostMiddlewareBase.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/MiddlewareBase.cs
  src/HotChocolate/Language/src/Language.Visitors/Contracts/ISyntaxNavigator.cs
  src/HotChocolate/Language/src/Language.Visitors/DefaultSyntaxNavigator.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxRewriter~1.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/DefaultSyntaxNavigatorTests.cs
  src/HotChocolate/Stitching/src/Stitching.Types/HotChocolate.Stitching.Types.csproj
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyExtensions/ApplyComplexTypeExtension.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyExtensions/ApplyExtensionsMiddleware.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyRenaming/ApplyRenamingMiddleware.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyRenaming/RenameContext.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyRenaming/RenameIndexer.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyRenaming/RenameInfo.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyRenaming/RenameRewriter.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/BindDirective.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ISchemaMergeContext.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/RenameDirective.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/SchemaMergeContext.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/SchemaMergePipelineBuilder.cs
  src/HotChocolate/Stitching/src/Stitching.Types/ThrowHelper.cs
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/ApplyExtensionsMiddlewareTests.cs
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/ApplyLocalRenamingMiddlewareTests.cs
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyExtensionsMiddlewareTests.Apply_Local_Remove.snap
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyLocalRenamingMiddlewareTests.Apply_Local_Rename.snap
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyLocalRenamingMiddlewareTests.Apply_Local_Rename_Interface_Field.snap
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyLocalRenamingMiddlewareTests.Apply_Local_Rename_Interface_Field_2.snap
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyLocalRenamingMiddlewareTests.Apply_Local_Rename_Interface_Name.snap
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyLocalRenamingMiddlewareTests.Apply_Local_Rename_Object_And_Refactor_Usages.snap
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyLocalRenamingMiddlewareTests.Apply_Local_Rename_Scalar_And_Update_Usages.snap
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyRenamingMiddlewareTests.Apply_Local_Rename.snap
Labels: 🌶️ hot chocolate

#5152 Added middleware to apply missing binding directives.
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyMissingBindings/ApplyMissingBindingsMiddleware.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyMissingBindings/BindingContext.cs
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyMissingBindings/BindingRewriter.cs
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/ApplyMissingBindingsMiddlewareTests.cs
  src/HotChocolate/Stitching/test/Stitching.Types.Tests/Pipeline/__snapshots__/ApplyMissingBindingsMiddlewareTests.Apply_Missing_Bindings.snap
Labels: 🌶️ hot chocolate

#5158 Fixes Interface Field Naming Convention.
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceFieldDescriptor.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InterfaceTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InterfaceTypeTests.Ensure_Interface_Field_Is_Requested_When_Applying_NamingConvention.snap
Labels: 🌶️ hot chocolate

#5157 Doc Update: Fix Stacked DataLoader example typo
  website/src/docs/hotchocolate/fetching-data/dataloader.md
Labels: 📚 documentation

#5166 Backport #4775 to v12: "Close open WebSocket sessions when application is shutting down"
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/WebSocketSession.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/WebSocketSubscriptionMiddleware.cs
Labels: 🌶️ hot chocolate

#5169 Enable Selection Optimizers
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.Optimizers.cs
Labels: 🌶️ hot chocolate

#5156 Support SyntaxNode removal in Syntax Rewriters
  src/HotChocolate/Language/src/Language.Visitors/Contracts/ISyntaxRewriter.cs
  src/HotChocolate/Language/src/Language.Visitors/DelegateSyntaxRewriter.cs
  src/HotChocolate/Language/src/Language.Visitors/RewriteSyntaxNode.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxNodeCannotBeNullException.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxRewriter.cs
  src/HotChocolate/Language/src/Language.Visitors/SyntaxRewriter~1.cs
  src/HotChocolate/Language/src/Language.Visitors/Utilities/SyntaxRewriterExtensions.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/SyntaxRewriterTests.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/__snapshots__/SyntaxRewriterTests.Remove_Field.snap
  src/HotChocolate/Stitching/src/Stitching.Types/Pipeline/ApplyRenaming/RenameRewriter.cs
  src/HotChocolate/Stitching/src/Stitching/Processing/ExtractFieldQuerySyntaxRewriter.cs
Labels: 🌶️ hot chocolate

#5175 Reduce impact of `MapField`
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Middleware.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/MapFieldTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverServiceTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/MapFieldTests.MapField_WithClass.snap
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/MapFieldTests.MapField_WithDelegate.snap
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/MapFieldTests.MapField_WithFactory.snap
Labels: 🌶️ hot chocolate

#5182 Reduce impact of `MapField`
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Middleware.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/MapFieldTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverServiceTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/MapFieldTests.MapField_WithClass.snap
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/MapFieldTests.MapField_WithDelegate.snap
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/MapFieldTests.MapField_WithFactory.snap
Labels: 🌶️ hot chocolate

#5186 Adds support for flags enum
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/ISchemaOptions.cs
  src/HotChocolate/Core/src/Types/ReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/FlagEnumTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/FlagEnumInterceptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Input_Should_EmptySelection.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Input_Should_UnknownValue.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Input_Should_WorkOnArguments_DifferentEnumTypes.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Schema_Should_Generate_Description.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Schema_Should_Generate_Directive.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Schema_Should_Generate_Inputs.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Schema_Should_Generate_Interface.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Schema_Should_Generate_Outputs.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Schema_Should_Return_Lists.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Schema_Should_Return_Lists_Nullable.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Schema_Should_Return_Scalar.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/__snapshots__/FlagEnumInterceptorTests.Schema_Should_Return_Scalar_Nullable.snap
Labels: 🌶️ hot chocolate

#5178 Migrate HotChocolate.Data to new selections
  src/HotChocolate/Data/src/AutoMapper/AutoMapperQueryableExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Context/ISelectedField.cs
  src/HotChocolate/Data/src/Data/Projections/Context/SelectedField.cs
  src/HotChocolate/Data/src/Data/Projections/Convention/IProjectionConvention.cs
  src/HotChocolate/Data/src/Data/Projections/Convention/IProjectionProvider.cs
  src/HotChocolate/Data/src/Data/Projections/Convention/ProjectionConvention.cs
  src/HotChocolate/Data/src/Data/Projections/Convention/ProjectionProvider.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryableFilterProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryablePagingProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryableSortProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/QueryableProjectionVisitor.cs
  src/HotChocolate/Data/src/Data/Projections/Optimizers/IsProjectedProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/ProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/Visitor/IProjectionOptimizer.cs
  src/HotChocolate/Data/test/Data.Projections.Tests/ProjectionConventionExtensionsTests.cs
  src/HotChocolate/Filters/src/Types.Filters/QueryableFilterMiddleware.cs
Labels: 🌶️ hot chocolate

#5191 Make pure resolver pure again
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
Labels: 🌶️ hot chocolate

#5192 Pause while processing
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Execute.cs
Labels: 🌶️ hot chocolate

#5193 Execution Engine Optimizations
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/DefaultExecutionPipelineBenchmark.cs
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/NamePathBenchmark.cs
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/Program.cs
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/ResourceHelper.cs
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/ResultDataBenchmarks.cs
  src/HotChocolate/Core/benchmark/Execution.Benchmarks/reports/HotChocolate.Execution.Benchmarks.DefaultExecutionPipelineBenchmark-report-github.md
  src/HotChocolate/Core/src/Abstractions/AttributeExtensions.cs
  src/HotChocolate/Core/src/Abstractions/Error.cs
  src/HotChocolate/Core/src/Abstractions/ErrorBuilder.cs
  src/HotChocolate/Core/src/Abstractions/ErrorHandlerExtensions.cs
  src/HotChocolate/Core/src/Abstractions/Execution/ExecutionResultExtensions.cs
  src/HotChocolate/Core/src/Abstractions/Execution/OrderedDictionary.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Path/PathFactory.cs
  src/HotChocolate/Core/src/Abstractions/Execution/QueryRequestBuilder.cs
  src/HotChocolate/Core/src/Abstractions/Execution/QueryResultHelper.cs
  src/HotChocolate/Core/src/Abstractions/ExtensionData.cs
  src/HotChocolate/Core/src/Abstractions/Path.cs
  src/HotChocolate/Core/src/Abstractions/SchemaCoordinate.cs
  src/HotChocolate/Core/src/Abstractions/Types/LiteralExtensions.cs
  src/HotChocolate/Core/src/Execution/Processing/ArgumentCoercionHelper.cs
  src/HotChocolate/Core/src/Execution/Processing/ArgumentMap.cs
  src/HotChocolate/Core/src/Execution/Processing/Internal/WorkQueue.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationOptimizerContext.cs
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
  src/HotChocolate/Core/src/Execution/Processing/SelectionSetOptimizerContext.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.Execute.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Execute.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Pause.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.cs
Labels: 🌶️ hot chocolate

#5188 Disallow introspection fields on subscription root
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.resx
  src/HotChocolate/Core/src/Validation/Rules/OperationVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/SubscriptionSingleRootFieldRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/SubscriptionSingleRootFieldRuleTests.DisallowedOnlyIntrospectionField.snap
Labels: 🌶️ hot chocolate
