Repository ChilliCream/graphql-platform, pull requests merged in 2023-07, with the labels that each got.

#6309 Fix Namespace of AuthorizeAttribute
  website/src/docs/hotchocolate/v13/security/authorization.md
Labels: 📚 documentation

#6306 Fusion fetch in parallel
  src/HotChocolate/Fusion/src/Core/Clients/DefaultHttpGraphQLClient.cs
  src/HotChocolate/Fusion/src/Core/Execution/FederatedQueryContext.cs
Labels: 🌶️ hot chocolate

#6311 Introduced Fusion Configuration Rewriter
  src/HotChocolate/Fusion/src/Core/Configuration/ConfigurationRewriter.cs
  src/HotChocolate/Fusion/src/Core/Configuration/IConfigurationRewriter.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/GatewayConfigurationContext.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/GatewayConfigurationFileObserver.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/GatewayConfigurationResolver.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/GatewayConfigurationTypeModule.cs
  src/HotChocolate/Fusion/src/Core/HotChocolate.Fusion.csproj
  src/HotChocolate/Fusion/src/Core/Metadata/FusionGraphConfigurationReader.cs
  src/HotChocolate/Fusion/src/Core/Metadata/HttpClientConfiguration.cs
  src/HotChocolate/Fusion/src/Core/Metadata/WebSocketClientConfiguration.cs
  src/HotChocolate/Fusion/test/Core.Tests/ConfigurationRewriterTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ConfigurationRewriterTests.Rewrite_HttpClient_Configuration.snap
Labels: 🌶️ hot chocolate

#6325 Reworked the fusion execution state management.
  .editorconfig
  .vscode/settings.json
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationTypeInterceptor.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/GatewayConfigurationFileObserver.cs
  src/HotChocolate/Fusion/src/Core/Execution/ExecutionState.cs
  src/HotChocolate/Fusion/src/Core/Execution/ExecutorUtils.cs
  src/HotChocolate/Fusion/src/Core/Execution/FederatedQueryContext.cs
  src/HotChocolate/Fusion/src/Core/Execution/FusionContextExtensions.cs
  src/HotChocolate/Fusion/src/Core/Execution/SelectionData.cs
  src/HotChocolate/Fusion/src/Core/Execution/SelectionSetState.cs
  src/HotChocolate/Fusion/src/Core/FusionResources.Designer.cs
  src/HotChocolate/Fusion/src/Core/FusionResources.resx
  src/HotChocolate/Fusion/src/Core/Planning/Nodes/QueryPlan.cs
  src/HotChocolate/Fusion/src/Core/Planning/Nodes/ResolveByKeyBatch.cs
Labels: 🌶️ hot chocolate

#6339 Fixed Object Composition for Partial Results.
  src/HotChocolate/Fusion/src/Core/Execution/ExecutorUtils.cs
  src/HotChocolate/Fusion/src/Core/Planning/Nodes/Compose.cs
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Require_Data_In_Context_3.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_02_Aliases.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_10_Two_Mutation_Same_SubGraph.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_11_Two_Mutation_Two_SubGraph.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_20_DeepQuery.snap
Labels: 🌶️ hot chocolate

#6337 Update sorting.md
  website/src/docs/hotchocolate/v12/fetching-data/sorting.md
Labels: 📚 documentation

#6198 Add BananaCakePop Package
  .build/Build.BananaCakePop.cs
  .build/Build.Environment.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/EndpointRouteBuilderExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HttpContextExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/GraphQLEndpointOptions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/GraphQLToolOptions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/GraphQLToolServeMode.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HotChocolate.AspNetCore.csproj
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpGetMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpRequestParser.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ToolDefaultFileMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ToolOptionsFileMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ToolStaticFileMiddleware.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpGetMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpGetSchemaMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/ToolConfigurationFileMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/ToolConfigurationFileMiddlewareTests.Fetch_MapBananaCakePop_Tool_Config.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/ToolConfigurationFileMiddlewareTests.Fetch_MapBananaCakePop_Tool_FromCdn.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/ToolConfigurationFileMiddlewareTests.Fetch_Tool_Config_Without_Options.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/ToolConfigurationFileMiddlewareTests.Fetch_Tool_Config_Without_Options_Explicit_Route.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/ToolConfigurationFileMiddlewareTests.Fetch_Tool_Config_Without_Options_Explicit_Route_Combined.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/ToolConfigurationFileMiddlewareTests.Fetch_Tool_Config_Without_Options_Explicit_Route_Explicit_Path.snap
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/DefaultGraphQLRequestExecutor.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/Extensions/HotChocolateAzureFunctionServiceCollectionExtensions.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/HotChocolate.AzureFunctions.csproj
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/IsolatedProcessEndToEndTests.cs
  src/HotChocolate/Directory.Build.props
Labels: 🧰 maintenance, 🌶️ hot chocolate

#6345 Introduce Fusion Composition Settings File.
  src/HotChocolate/Fusion/src/Abstractions/FusionGraphPackage.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/ComposeCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/RootCommand.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/ComposeCommandTests.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/ComposeCommandTests.Ensure_Default_Settings_Are_Included.json
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/ComposeCommandTests.Ensure_Legacy_Node_Switch_Is_Recognized.json
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/ComposeCommandTests.Ensure_Settings_Are_Included.json
Labels: 🌶️ hot chocolate

#6348 Fixed issue with variable forwarding in nested fields.
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/RequestDocumentFormatter.cs
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/ResolverTests.Variables_Are_Computed_Even_Without_Resolver.graphql
  src/HotChocolate/Fusion/test/Core.Tests/RequestPlannerTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/InterfaceTests.Query_Interface_List.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/InterfaceTests.Query_Interface_List_With_Fragment.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/InterfaceTests.Query_Interface_List_With_Fragment_Fetch.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_25_Variables_Are_Passed_Through.snap
  src/HotChocolate/Fusion/test/Shared/Appointments/AppointmentQuery.cs
  src/HotChocolate/Fusion/test/Shared/Appointments/Patient1.cs
Labels: 🌶️ hot chocolate, Area: Fusion

#6353 set RequestUri on HttpMessage when performing post calls
  src/HotChocolate/AspNetCore/src/Transport.Http/DefaultGraphQLHttpClient.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/GraphQLHttpClientTests.cs
Labels: 🌶️ hot chocolate, Area: Fusion

#6355 Implemented GraphQL SSE client.
  src/CookieCrumble/src/CookieCrumble/Formatters/OperationResultSnapshotValueFormatter.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/AllowedGetOperations.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/EndpointRouteBuilderExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpGetMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/ContentType.cs
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/OperationResult.cs
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Properties/TransportAbstractionResoucrces.Designer.cs
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Properties/TransportAbstractionResoucrces.resx
  src/HotChocolate/AspNetCore/src/Transport.Http/DefaultGraphQLHttpClient.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpClientExtensions.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpEventStreamProcessor.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpRequest.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpResponse.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/HotChocolate.Transport.Http.csproj
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/ServerTestBase.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/GraphQLHttpClientTests.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/__snapshots__/GraphQLHttpClientTests.ExecuteGetAsync_Returns_OperationResult.snap
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/__snapshots__/GraphQLHttpClientTests.ExecuteGetAsync_WithVariablesReturns_OperationResult.snap
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/__snapshots__/GraphQLHttpClientTests.ExecutePostAsync_Returns_OperationResult.snap
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/Extensions/HotChocolateAzureFunctionServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/Serialization/EventStreamResultFormatter.cs
  src/HotChocolate/Utilities/src/Utilities/ArrayWriter.cs
Labels: 🌶️ hot chocolate

#6358 Implemented File Upload Client.
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/FileReference.cs
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/FileReferenceInfo.cs
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/FileReferenceNode.cs
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Properties/TransportAbstractionResoucrces.Designer.cs
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Properties/TransportAbstractionResoucrces.resx
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Serialization/Utf8JsonWriterHelper.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/DefaultGraphQLHttpClient.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpRequest.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/HttpRequestHeadersExtensions.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/GraphQLHttpClientTests.cs
  src/HotChocolate/Core/src/Types.Scalars.Upload/FileValueNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Properties/Resources.Designer.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Properties/Resources.resx
  src/HotChocolate/Language/src/Language.SyntaxTree/SyntaxKind.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxWriterExtensions.cs
Labels: 🌶️ hot chocolate

#6357 Fixed issue with null value serialization when using GraphQL literals.
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Serialization/Utf8JsonWriterHelper.cs
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.GetFirstPage_With_After_Null.snap
Labels: 🌶️ hot chocolate

#6360 enable shortcut to toggle search
  website/gatsby-config.js
  website/src/components/layout/header.tsx
Labels: 🌶️ website

#6367 Reworked the dictionary serializer to allow for a more flexible AnyType.
  .github/workflows/codeql-analysis.yml
  src/HotChocolate/Core/src/Types/Utilities/ObjectToDictionaryConverter.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/AnyTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.UseExpandoObjectWithAny.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/AnyTypeTests.UseImmutableDictWithAny.snap
Labels: 🧰 maintenance, 🌶️ hot chocolate

#6372 Fix broken examples in dataloader.md
  website/src/docs/hotchocolate/v13/fetching-data/dataloader.md
Labels: 📚 documentation

#6377 Simplified Subscription Provider
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/GraphQLOverWebSocket/WebSocketProtocolTests.cs
  src/HotChocolate/Core/src/Subscriptions.InMemory/InMemoryPubSub.cs
  src/HotChocolate/Core/src/Subscriptions.Nats/NatsTopic.cs
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/RabbitMQConnectionFailedException.cs
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/RabbitMQTopic.cs
  src/HotChocolate/Core/src/Subscriptions.Redis/RedisTopic.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultSourceStream.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultTopic.cs
  src/HotChocolate/Core/src/Subscriptions/ITopic.cs
  src/HotChocolate/Core/src/Subscriptions/TopicShard.cs
  src/HotChocolate/Core/src/Types.Scalars/RegexType.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/DataLoaderTests.cs
Labels: 🌶️ hot chocolate

#6380 Updated Docs: AddOpenTelemetryTracing was removed in OpenTelemetry v1.4.0
  website/src/docs/hotchocolate/v13/server/instrumentation.md
Labels: 📚 documentation

#6381 Added GraphQL Request Field Limit.
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/ErrorHelper.cs
  src/HotChocolate/Core/src/Execution/Options/RequestParserOptions.cs
  src/HotChocolate/Core/src/Execution/Pipeline/Complexity/ComplexityAnalyzerCompiler.cs
  src/HotChocolate/Core/src/Types/HotChocolate.Types.csproj
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/FieldFlags.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/IntrospectionFields.cs
  src/HotChocolate/Core/src/Types/Types/OutputFieldBase.cs
  src/HotChocolate/Core/test/Abstractions.Tests/Execution/__snapshots__/QueryRequestBuilderTests.BuildRequest_OnlyQueryDocIsSet_RequestHasOnlyQuery.snap
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/ComplexityAnalyzerTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/__snapshots__/ComplexityAnalyzerTests.Alias_Explosion_Does_Not_Kill_The_Analyzer.snap
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/__snapshots__/ComplexityAnalyzerTests.Alias_Explosion_Does_Not_Kill_The_Analyzer_With_Defaults.snap
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/__snapshots__/ComplexityAnalyzerTests.Alias_Explosion_Does_Not_Kill_The_Analyzer_With_Defaults_2.snap
  src/HotChocolate/Core/test/Execution.Tests/__resources__/aliases.graphql
  src/HotChocolate/Core/test/Execution.Tests/__resources__/aliases_2048.graphql
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorTests.cs
  src/HotChocolate/Fusion/src/Core/Execution/Nodes/Introspect.cs
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/ExecutionStepDiscoveryMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/FieldRequirementsPlannerMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/NodeRequestDocumentFormatter.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/RequestDocumentFormatter.cs
  src/HotChocolate/Fusion/test/Core.Tests/IntrospectionTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__resources__/aliases_2048.graphql
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/IntrospectionTests.ShortCircuit_RootTypeName_Requests.snap
  src/HotChocolate/Language/src/Language.SyntaxTree/DocumentNode.cs
  src/HotChocolate/Language/src/Language.Utf8/ParserOptions.cs
  src/HotChocolate/Language/src/Language.Utf8/Properties/LangUtf8Resources.Designer.cs
  src/HotChocolate/Language/src/Language.Utf8/Properties/LangUtf8Resources.resx
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Operations.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/GraphQLParserSyntaxTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/QueryParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/DirectiveParserTests.ParseQueryDirective.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/KitchenSinkParserTests.ParseFacebookKitchenSinkQuery.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/KitchenSinkParserTests.ParseFacebookKitchenSinkQueryNullability.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/KitchenSinkParserTests.ParseFacebookKitchenSinkSchema.snap
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/QueryParserTests.QueryWithComments.snap
  src/HotChocolate/Language/test/Language.Tests/__resources__/aliases.graphql
  src/HotChocolate/Language/test/Language.Tests/__snapshots__/SyntaxNodeVisitorTests.Visit_Kitchen_Sink_Query.snap
  src/HotChocolate/Language/test/Language.Tests/__snapshots__/SyntaxNodeVisitorTests.Visit_Kitchen_Sink_Schema.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Merge/Handlers/__snapshots__/EnumTypeMergeHandlerTests.Merge_DifferentTypes_InputMergesLeftoversArePassed.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Merge/Handlers/__snapshots__/InputObjectTypeMergeHandlerTests.Merge_DifferentTypes_InputMergesLeftoversArePassed.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Merge/Handlers/__snapshots__/InterfaceTypeMergeHandlerTests.Merge_DifferentTypes_InterfMergesLeftoversArePassed.snap
  src/HotChocolate/Stitching/test/Stitching.Tests/Merge/Handlers/__snapshots__/ObjectTypeMergeHandlerTests.Merge_DifferentTypes_ObjectMergesLeftoversArePassed.snap
Labels: 🌶️ hot chocolate

#6388 Optimized the Type Module Source Generator
  src/HotChocolate/Core/.vscode/settings.json
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ISyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/AggregateInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ClassBaseClassInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderDefaultsInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ISyntaxInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ModuleInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/RegisterDataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/SyntaxInfoComparer.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeExtensionInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/TypeModuleGenerator.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/SchemaTests.SchemaSnapshot.graphql
Labels: 🌶️ hot chocolate

#6387 Adds postgres transport for subscriptions
  src/HotChocolate/Core/HotChocolate.Core.sln
  src/HotChocolate/Core/src/Subscriptions.Postgres/AsyncAutoResetEvent.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/AsyncTaskDispatcher.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/ContinuousTask.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/CopyOnWriteList.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/HotChocolate.Subscriptions.Postgres.csproj
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgresChannel.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgresChannelObserver.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgresChannelWriter.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgresMessageEnvelope.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgresSubscriptionOptions.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgresSubscriptionTransportExtensions.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgresTopic.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgressPubSub.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/Properties/PostgresResources.Designer.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/Properties/PostgresResources.resx
  src/HotChocolate/Core/src/Subscriptions.Postgres/ResilientNpgsqlConnection.cs
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/DependencyInjection/RabbitMQPubSubExtensions.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/AsyncAutoResetEventTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/AsyncTaskDispatcherTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/BackgroundTaskTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/CopyOnWriteListTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/HotChocolate.Subscriptions.Postgres.Tests.csproj
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/PostgresChannelTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/PostgresChannelWriterTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/PostgresMessageEnvelopeTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/PostgresPubSubIntegrationTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/ResilientNpgsqlConnectionTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/TestChannel.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/__snapshots__/SubscriptionIntegrationTestBase.Subscribe_Infer_Topic.snap
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/__snapshots__/SubscriptionIntegrationTestBase.Subscribe_Static_Topic.snap
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/__snapshots__/SubscriptionIntegrationTestBase.Subscribe_Topic_With_2_Arguments.snap
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/__snapshots__/SubscriptionIntegrationTestBase.Subscribe_Topic_With_Arguments.snap
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/__snapshots__/SubscriptionIntegrationTestBase.Subscribe_Topic_With_Arguments_2_Subscriber.snap
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/__snapshots__/SubscriptionIntegrationTestBase.Subscribe_Topic_With_Arguments_2_Topics.snap
Labels: 🌶️ hot chocolate

#6389 Adds documentation for the Postgres Subscription Provider
  website/src/docs/hotchocolate/v13/defining-a-schema/subscriptions.md
Labels: 📚 documentation

#6390 Expose internals of fusion to bcp services
  src/HotChocolate/Fusion/src/Core/HotChocolate.Fusion.csproj
Labels: 🌶️ hot chocolate

#6395 Include net8.0 tools in StrawberryShake package
  src/StrawberryShake/MetaPackages/Blazor/StrawberryShake.Blazor.csproj
  src/StrawberryShake/MetaPackages/Maui/StrawberryShake.Maui.csproj
  src/StrawberryShake/MetaPackages/Server/StrawberryShake.Server.csproj
Labels: 🌶️ strawberry shake

#6308 Publicly expose ability to register an error type on a mutation field
  src/HotChocolate/Core/src/Types.Mutations/Extensions/MutationObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types.Mutations/Extensions/ObjectFieldDefinitionExtensions.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/Introspection/__AppliedDirective.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__DirectiveArgument.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutation_Add_Error_Via_Type_Interceptor.graphql
Labels: 🌶️ hot chocolate
