Repository ChilliCream/graphql-platform, pull requests merged in 2023-05, with the labels that each got.

#6098 Fixed XML docs on UseFirstOrDefaultAttribute
  src/HotChocolate/Data/src/Data/Projections/Attributes/UseFirstOrDefaultAttribute.cs
Labels: 🌶️ hot chocolate

#6099 Fixed NullReferenceException in OperationComplexityMiddleware (#5278)
  src/HotChocolate/Core/src/Execution/Pipeline/OperationComplexityMiddleware.cs
Labels: 🌶️ hot chocolate

#6100 Reworked Cache Handling in Pipeline
  src/HotChocolate/Core/src/Execution/Pipeline/Complexity/ComplexityAnalyzerCompiler.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationCacheMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationComplexityMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/PipelineTools.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationResolverHelper.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.resx
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/ComplexityAnalyzerTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/DocumentCacheMiddlewareTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/OperationCacheMiddlewareTests.cs
Labels: 🌶️ hot chocolate

#6102 Fixed Pipeline Caching Issues
  src/HotChocolate/Core/src/Execution/Pipeline/Complexity/ComplexityAnalyzerCompiler.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationCacheMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationComplexityMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/PipelineTools.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationResolverHelper.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.resx
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/ComplexityAnalyzerTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/DocumentCacheMiddlewareTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/OperationCacheMiddlewareTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/__snapshots__/ComplexityAnalyzerTests.Apply_Complexity_Defaults.graphql
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Allow_document_to_be_captured.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Allow_document_to_be_captured__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Cause_a_resolver_error_that_deletes_the_whole_result.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Cause_a_resolver_error_that_deletes_the_whole_result__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_1_field.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_1_field__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_1_field_and_op.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_1_field_and_op__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_3_field.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_3_field__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_4_field.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Create_operation_display_name_with_4_field__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Ensure_operation_name_is_used_as_request_name.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Ensure_operation_name_is_used_as_request_name__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.MaxComplexity_Not_Reached.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.MaxComplexity_Not_Reached__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.MaxComplexity_Reached.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.MaxComplexity_Reached__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Track_events_of_a_simple_query_detailed.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Track_events_of_a_simple_query_detailed__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Get_SingleRequest_GetHeroName.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Get_SingleRequest_GetHeroName__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_SingleRequest_GetHeroName.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_SingleRequest_GetHeroName_Default.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_SingleRequest_GetHeroName_Default__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_SingleRequest_GetHeroName__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_add_query_to_http_activity.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_add_query_to_http_activity__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_add_variables_to_http_activity.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_add_variables_to_http_activity__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_capture_deferred_response.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_capture_deferred_response__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_ensure_list_path_is_correctly_built.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_ensure_list_path_is_correctly_built__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_variables_are_not_automatically_added_to_activities.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_variables_are_not_automatically_added_to_activities__NET7.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_with_extensions_map.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_with_extensions_map__NET7.snap
Labels: 🌶️ hot chocolate

#6101 Fixed HotChocolate.Core.sln references
  src/HotChocolate/Core/HotChocolate.Core.sln
Labels: 🌶️ hot chocolate

#6105 Fixed issue with aggregate errors when using mutation convention.
  src/HotChocolate/Core/src/Types.Mutations/Errors/ErrorMiddleware.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.Mutation_Aggregate_Error_Not_Mapped.snap
Labels: 🌶️ hot chocolate

#6107 Authorization Refinements
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy_AfterResolver.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy_BeforeResolver.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy_Validation.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy_AfterResolver.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy_BeforeResolver.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy_Validation.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithRoles.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.TypeAuth_DefaultPolicy.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithPolicy.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithRoles.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeSchemaTests.AuthorizeOnExtension.snap
  src/HotChocolate/Core/src/Abstractions/WellKnownMiddleware.cs
  src/HotChocolate/Core/src/Authorization/AuthorizationOptions.cs
  src/HotChocolate/Core/src/Authorization/AuthorizationTypeInterceptor.cs
  src/HotChocolate/Core/src/Authorization/AuthorizeAttribute.cs
  src/HotChocolate/Core/src/Authorization/AuthorizeDirective.cs
  src/HotChocolate/Core/src/Authorization/AuthorizeDirectiveType.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/DirectiveCollection.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/IntrospectionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptorBase.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldResolvers.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolverTypeInterceptor.cs
  src/HotChocolate/Core/test/Authorization.Tests/AnnotationBasedAuthorizationTests.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_Defaults.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_EnableOneOf_EnableDirectiveIntrospection.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/NodeFieldSupportTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.NodeId_Is_Correctly_Formatted.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Implicit.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Implicit_Custom_IdField.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Implicit_ExternalDefinedOnInterface_Resolver.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Implicit_ExternalInheritedInstance_Resolver.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Implicit_ExternalInheritedStatic_Resolver.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Implicit_External_Resolver.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Implicit_Inherited_Resolver.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Implicit_Named_Resolver.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Implicit_Resolver.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Parent_Id.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Separated_Resolver.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Resolve_Separated_Resolver_ImplicitId.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Node_Type_Is_Correctly_In_Context.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Nodes_Get_Many.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Nodes_Get_Single.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeFieldSupportTests.Tow_Many_Nodes.snap
  src/HotChocolate/Data/src/Data/Projections/Extensions/ProjectionObjectFieldDescriptorExtensions.cs
Labels: 🌶️ hot chocolate

#6116 Upgraded MongoDB Packages
  src/HotChocolate/MongoDb/src/Data/HotChocolate.Data.MongoDb.csproj
  src/HotChocolate/MongoDb/src/Types/HotChocolate.Types.MongoDb.csproj
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/HotChocolate.Data.MongoDb.Filters.Tests.csproj
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/HotChocolate.Data.MongoDb.Paging.Tests.csproj
  src/HotChocolate/MongoDb/test/Data.MongoDb.Projections.Tests/HotChocolate.Data.MongoDb.Projections.Tests.csproj
  src/HotChocolate/MongoDb/test/Data.MongoDb.Sorting.Tests/HotChocolate.Data.MongoDb.Sorting.Tests.csproj
  src/HotChocolate/MongoDb/test/Types.MongoDb/HotChocolate.Types.MongoDb.Tests.csproj
Labels: 🌶️ hot chocolate

#5915 Fixed compile issues in benchmark solution.
  src/HotChocolate/Benchmarks/src/ConferenceApp/Attendees/AttendeeSubscriptions.cs
  src/HotChocolate/Benchmarks/src/ConferenceApp/Extensions/UseApplicationDbContextAttribute.cs
  src/HotChocolate/Benchmarks/src/ConferenceApp/Extensions/UseUpperCaseAttribute.cs
Labels: 🌶️ hot chocolate

#6117 Fixed extensions/locations confusion in error extraction.
  src/HotChocolate/Fusion/src/Core/Execution/ExecutorUtils.cs
Labels: 🌶️ hot chocolate

#5967 Fixed StrawberryShake result has empty Extensions Issue
  src/StrawberryShake/Client/src/Core/Json/JsonExtensionParser.cs
  src/StrawberryShake/Client/src/Core/OperationResultBuilder.cs
  src/StrawberryShake/Client/src/Core/ResultFields.cs
  src/StrawberryShake/Client/test/Core.Tests/OperationResultBuilderTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/GeneratorTestHelper.cs
Labels: 🎬 ready, 🌶️ strawberry shake

#6122 Fixed Syntax Serialization for File Upload.
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/UploadTypeTests.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxWriterExtensions.cs
Labels: 🌶️ hot chocolate

#6123 Fixed SetOptions.
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DescriptorContext.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/RequestExecutorBuilderExtensions_SchemaOptionsTests.cs
Labels: 🌶️ hot chocolate

#6124 Added Strip leading I from Interface Name option.
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/ReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultNamingConventions.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_Defaults.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_EnableOneOf_EnableDirectiveIntrospection.snap
  src/HotChocolate/Core/test/Types.Tests/Types/InterfaceTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InterfaceTypeTests.StripLeadingIFromInterface.snap
Labels: 🌶️ hot chocolate

#6134 Added @allowAnonymous directive
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy_AfterResolver.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy_BeforeResolver.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_DefaultPolicy_Validation.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy_AfterResolver.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy_BeforeResolver.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithPolicy_Validation.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.FieldAuth_WithRoles.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.TypeAuth_DefaultPolicy.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithPolicy.graphql
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizeDirectiveTests.TypeAuth_WithRoles.graphql
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Authorization/AllowAnonymousAttribute.cs
  src/HotChocolate/Core/src/Authorization/AllowAnonymousDirectiveType.cs
  src/HotChocolate/Core/src/Authorization/AuthorizationTypeInterceptor.cs
  src/HotChocolate/Core/src/Authorization/AuthorizeDirectiveType.cs
  src/HotChocolate/Core/src/Authorization/Extensions/AuthorizeObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Authorization/Extensions/AuthorizeSchemaBuilderExtensions.cs
  src/HotChocolate/Core/test/Authorization.Tests/AnnotationBasedAuthorizationTests.cs
Labels: 🌶️ hot chocolate

#5898 Fix query subscriptions not emitting data
  src/StrawberryShake/Client/src/Core/OperationExecutor.Observable.cs
  src/StrawberryShake/Client/test/Core.Tests/OperationExecutorTests.cs
Labels: 🌶️ strawberry shake

#6135 update training dates on website
  website/src/components/layout/header.tsx
  website/src/state/workshops/workshops.state.ts
Labels: 🌶️ website

#6133 Adds Keep Alive message to SSE
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/SubscriptionsExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/GraphQLOverHttpSpecTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL_Explicit_Route.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL_Explicit_Route_Explicit_Pattern.snap
  src/HotChocolate/Core/src/Execution/Serialization/EventStreamResultFormatter.cs
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__snapshots__/IntrospectionClientTests.Download_Schema_AST.snap
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__snapshots__/IntrospectionClientTests.Download_Schema_SDL.snap
Labels: 🌶️ hot chocolate

#6110 Improvement for ResolveWith
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
Labels: 🌶️ hot chocolate

#6147 update trainings in website
  website/src/components/layout/header.tsx
  website/src/components/misc/promo.tsx
  website/src/pages/services/training.tsx
  website/src/state/workshops/workshops.state.ts
Labels: 🌶️ website

#6148 Skip authorization rules on after resolver if the result is null.
  src/HotChocolate/Core/src/Authorization/AuthorizeMiddleware.cs
  src/HotChocolate/Core/test/Authorization.Tests/AnnotationBasedAuthorizationTests.cs
Labels: 🌶️ hot chocolate

#6146 Adds documentation for allow anoonymous
  website/src/docs/hotchocolate/v13/security/authorization.md
Labels: 📚 documentation

#6144 Adds documentation for complex ids
  website/src/docs/hotchocolate/v13/defining-a-schema/relay.md
Labels: 📚 documentation

#6150 Registered ASP.NET Core Auth when using the default provider.
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/Extensions/HotChocolateAuthorizeRequestExecutorBuilder.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/HotChocolate.AspNetCore.Authorization.csproj
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizationTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.DefaultPolicy_NotFound_But_Allowed_2.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.NoAuthServices.snap
Labels: 🌶️ hot chocolate

#6149 ensure StateHasChanged is called on render context
  src/StrawberryShake/Client/src/Razor/UseQuery.cs
  src/StrawberryShake/Client/src/Razor/UseSubscription.cs
Labels: 🌶️ strawberry shake

#6155 Dependency Injection Refinements
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Stitching/src/Stitching/Requests/BufferedRequest.cs
  src/HotChocolate/Utilities/src/Utilities/ActivatorHelper.cs
  src/HotChocolate/Utilities/src/Utilities/CombinedServiceProvider.cs
  src/HotChocolate/Utilities/src/Utilities/HotChocolate.Utilities.csproj
  src/HotChocolate/Utilities/src/Utilities/MiddlewareCompiler.cs
  src/HotChocolate/Utilities/src/Utilities/ServiceFactory.cs
  src/HotChocolate/Utilities/src/Utilities/ServiceProviderExtensions.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/ActivatorHelperTests.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/CacheEntryEventArgsTests.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/CacheTests.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/CombinedServiceProviderTests.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/MiddlewareCompilerTests.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/ServiceFactoryTests.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/StreamAdapters/AsyncEnumerableStreamAdapterTests.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/StreamAdapters/EnumerableStreamAdapterTests.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/StreamAdapters/QueryableStreamAdapter.cs
Labels: 🌶️ hot chocolate

#6167 fix dialogs' stacking
  website/src/components/misc/cookie-consent.tsx
  website/src/components/misc/promo.tsx
Labels: 🌶️ website

#6166 Fix various issues in the sorting documentation
  website/src/docs/hotchocolate/v13/fetching-data/sorting.md
Labels: 📚 documentation

#6165 Update filter input type name in filtering documentation
  website/src/docs/hotchocolate/v13/fetching-data/filtering.md
Labels: 📚 documentation

#6161 Add dynamic schema documentation
  website/src/docs/docs.json
  website/src/docs/hotchocolate/v13/defining-a-schema/dynamic-schemas.md
Labels: 📚 documentation, 🌶️ website

#6160 Add documentation for CLI
  website/src/docs/docs.json
  website/src/docs/hotchocolate/v13/server/command-line.md
Labels: 📚 documentation, 🌶️ website

#6152 Adds `DefaultValueSyntaxAttribute`
  src/HotChocolate/Core/src/Types/Types/Attributes/DefaultValueAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/DefaultValueSyntaxAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/ArgumentDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/DirectiveArgumentDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/InputObjectTypeDescriptorExtensions.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/ArgumentDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/DirectiveArgumentDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/InputFieldDescriptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Input_Infer_Default_Values.snap
  website/src/docs/hotchocolate/v13/defining-a-schema/input-object-types.md
Labels: 📚 documentation, 🌶️ hot chocolate

#6168 Fixes and issue with custom directives and directive variables.
  cSpell.json
  src/HotChocolate/Stitching/src/Stitching/Delegation/ExtractFieldQuerySyntaxRewriter.cs
  src/HotChocolate/Stitching/src/Stitching/Requests/MergeRequestRewriter.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/FederatedSchemaTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/__snapshots__/FederatedSchemaTests.Skip_Field_With_Variable.snap
Labels: 🌶️ hot chocolate

#6170 Fixed Default Source Stream Error Behaviour.
  src/HotChocolate/Core/src/Abstractions/Execution/ISourceStream.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultSourceStream.cs
Labels: 🌶️ hot chocolate

#6174 Fixed website build
  cSpell.json
  website/src/docs/bananacakepop/v2/bcp-services.md
  website/src/docs/bananacakepop/v2/documents/index.md
  website/src/docs/bananacakepop/v2/documents/operations.md
  website/src/docs/bananacakepop/v2/explore-the-ui/status-bar.md
  website/src/docs/bananacakepop/v2/install.md
  website/src/docs/bananacakepop/v2/organizations/index.md
  website/src/docs/bananacakepop/v2/subscriptions.md
  website/src/docs/bananacakepop/v2/workspaces.md
  website/src/docs/barista/v1/authentication.md
  website/src/docs/barista/v1/commands/api.md
  website/src/docs/barista/v1/commands/workspace.md
Labels: 📚 documentation

#6175 Fixed navigation in Barista Docs
  website/src/docs/bananacakepop/v2/bcp-services.md
  website/src/docs/docs.json
Labels: 📚 documentation, 🌶️ website

#6176 Allowed better transport configuration in the Gateway.
  src/HotChocolate/Fusion/src/Core/Clients/DefaultHttpGraphQLClient.cs
  src/HotChocolate/Fusion/src/Core/Clients/DefaultHttpGraphQLClientFactory.cs
  src/HotChocolate/Fusion/src/Core/Clients/DefaultWebSocketConnection.cs
  src/HotChocolate/Fusion/src/Core/Clients/DefaultWebSocketConnectionFactory.cs
  src/HotChocolate/Fusion/src/Core/Clients/DefaultWebSocketGraphQLSubscriptionClient.cs
  src/HotChocolate/Fusion/src/Core/Clients/DefaultWebSocketGraphQLSubscriptionClientFactory.cs
  src/HotChocolate/Fusion/src/Core/Clients/IGraphQLClient.cs
  src/HotChocolate/Fusion/src/Core/Clients/IGraphQLSubscriptionClientFactory.cs
  src/HotChocolate/Fusion/src/Core/Clients/WebSocketGraphQLSubscriptionClient.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Fusion/src/Core/FusionResources.Designer.cs
  src/HotChocolate/Fusion/src/Core/FusionResources.resx
  src/HotChocolate/Fusion/src/Core/Metadata/HttpClientConfiguration.cs
  src/HotChocolate/Fusion/src/Core/Metadata/IGraphQLClientConfiguration.cs
  src/HotChocolate/Fusion/src/Core/Metadata/WebSocketClientConfiguration.cs
  templates/v12/gateway/Program.cs
  templates/v12/gateway/Properties/Helper.cs
  templates/v12/gateway/Properties/WebSocketConnection.cs
Labels: 🌶️ hot chocolate

#6190 Fix DotNetVersion parse order (#6180)
  src/StrawberryShake/MetaPackages/Common/MSBuild/StrawberryShake.targets
Labels: 🌶️ strawberry shake

#6186 StrawberryShake: remove temp directory after update
  src/StrawberryShake/Tooling/src/dotnet-graphql/UpdateCommandHandler.cs
Labels: 🌶️ strawberry shake

#6183 Adds documentation for environments
  website/src/docs/bananacakepop/v2/environments.md
  website/src/docs/bananacakepop/v2/explore-the-ui/images/status-1.png
  website/src/docs/bananacakepop/v2/explore-the-ui/images/status-6.png
  website/src/docs/bananacakepop/v2/explore-the-ui/status-bar.md
  website/src/docs/bananacakepop/v2/images/env-0.png
  website/src/docs/bananacakepop/v2/images/env-1.png
  website/src/docs/bananacakepop/v2/images/env-2.png
  website/src/docs/bananacakepop/v2/images/env-3.png
  website/src/docs/bananacakepop/v2/images/env-4.png
  website/src/docs/docs.json
Labels: 📚 documentation, 🌶️ website

#6178 [Documentation] Method `IResolverContext.RaiseError` doesn't exist
  website/src/docs/hotchocolate/v13/api-reference/error-filter.md
Labels: 📚 documentation

#6201 Add Documentation for Middlewares
  website/src/docs/bananacakepop/v2/integrations/apollo.md
  website/src/docs/bananacakepop/v2/integrations/express.md
  website/src/docs/bananacakepop/v2/integrations/gatsby.md
  website/src/docs/bananacakepop/v2/integrations/hot-chocolate.md
  website/src/docs/bananacakepop/v2/integrations/index.md
  website/src/docs/bananacakepop/v2/integrations/koa.md
  website/src/docs/docs.json
Labels: 📚 documentation, 🌶️ website

#6212 Rework middleware documentation
  website/src/docs/bananacakepop/v2/getting-started.md
  website/src/docs/bananacakepop/v2/integrations/express.md
Labels: 📚 documentation

#6204 Fixed QueryableStringOperationHandler example.
  website/src/docs/hotchocolate/v13/api-reference/extending-filtering.md
Labels: 📚 documentation

#6189 Enforce preflight header on multipart requests.
  src/HotChocolate/AspNetCore/src/AspNetCore/GraphQLServerOptions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpGetMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpGetSchemaMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpHeaderKeys.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpMultipartMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpPostMiddlewareBase.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/MiddlewareBase.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpRequestParser.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ServerDefaults.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/TestServerExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpGetSchemaMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpMultipartMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL_Disabled.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.Fail_Without_Preflight_Header.snap
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Configuration/ContextDataExtensionsTest.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Configuration/HotChocolateStitchingRequestExecutorExtensionsTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/ContextDataScopedVariableResolverTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/DictionaryDeserializerTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/FieldScopedVariableResolverTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/RemoteQueryBuilderTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Delegation/ScopedContextDataScopedVariableResolverTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Integration/BaseTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Merge/MergeSyntaxNodeExtensionsTests.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Contracts/LifeInsuranceContract.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Contracts/LifeInsuranceContractType.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Contracts/Query.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Contracts/QueryType.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Contracts/SomeOtherContract.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Customers/ConsultantType.cs
  src/HotChocolate/Stitching/test/Stitching.Tests/Schemas/Customers/CreateCustomerPayload.cs
  src/StrawberryShake/Client/src/Persistence.SQLite/SQLitePersistence.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#6220 StackExchange.Redis from version 2.2.88 to 2.6.80 in HotChocolate.Stitching.Redis
  src/HotChocolate/Stitching/src/Stitching.Redis/HotChocolate.Stitching.Redis.csproj
Labels: 🌶️ hot chocolate
