Repository ChilliCream/graphql-platform, pull requests merged in 2023-06, with the labels that each got.

#6214 Reworked Unsubscribe from Topic.
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/OperationSession.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/GraphQLOverWebSocket/WebSocketProtocolTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/GraphQLOverWebSocket/__snapshots__/WebSocketProtocolTests.Subscribe_ReceiveDataOnMutation.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL_Explicit_Route.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL_Explicit_Route_Explicit_Pattern.snap
  src/HotChocolate/Core/src/Subscriptions/DefaultPubSub.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultSourceStream.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultTopic.cs
  src/HotChocolate/Core/src/Subscriptions/Diagnostics/AggregateSubscriptionDiagnosticEventsListener.cs
  src/HotChocolate/Core/src/Subscriptions/Diagnostics/ISubscriptionDiagnosticEvents.cs
  src/HotChocolate/Core/src/Subscriptions/Diagnostics/SubscriptionDiagnosticEventsListener.cs
  src/HotChocolate/Core/src/Subscriptions/TopicShard.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/__snapshots__/StarWarsCodeFirstTests.Ensure_Benchmark_Query_LargeQuery.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/__snapshots__/StarWarsCodeFirstTests.Schema.snap
  src/HotChocolate/Core/test/StarWars/Mutation.cs
  src/HotChocolate/Core/test/StarWars/Query.cs
  src/HotChocolate/Core/test/Utilities/SubscriptionTestDiagnostics.cs
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__snapshots__/IntrospectionClientTests.Download_Schema_AST.snap
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__snapshots__/IntrospectionClientTests.Download_Schema_SDL.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubCompletionTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/__snapshots__/StarWarsIntrospectionTest.Execute_StarWarsIntrospection_Test.snap
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#6223 Fix #6222 InterfaceTypeDescriptor duplicating fields if CreateDefinition called more than once.
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceTypeDescriptor.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/InterfaceTypeDescriptorTests.cs
Labels: 🌶️ hot chocolate

#6229 Always Create Code Generation Root for StrawberryShake.
  src/StrawberryShake/MetaPackages/Common/MSBuild/StrawberryShake.targets
Labels: 🌶️ strawberry shake

#6233 Fixes Type extension broken with typeof.
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ExtendObjectTypeAttribute_Extends_SchemaType.graphql
Labels: 🌶️ hot chocolate

#6234 Fixed invalid condition in socket message helper.
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/Protocols/GraphQLOverWebSocket/MessageHelper.cs
Labels: 🌶️ hot chocolate

#6235 Fixed invalid condition in Neo4J driver.
  src/HotChocolate/Neo4J/src/Data/Filtering/Neo4JFilterCombinator.cs
Labels: 🌶️ hot chocolate

#6236 Fix DefaultTypeInspector.CollectNullability() return value
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/Protocols/GraphQLOverWebSocket/MessageHelper.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.Tools.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.ExtendObjectTypeAttribute_Extends_SchemaType.graphql
  src/HotChocolate/Neo4J/src/Data/Filtering/Neo4JFilterCombinator.cs
Labels: 🌶️ hot chocolate

#6230 Fix issue with nullability inference of nested types.
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.Tools.cs
  src/HotChocolate/Core/test/Types.Tests/CodeFirstTests.cs
  src/HotChocolate/Core/test/Types.Tests/Internal/ExtendedTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Infer_Nullability_From_Nested_Classes.graphql
Labels: 🌶️ hot chocolate

#6237 Fixed explicit binding behavior
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectTypeDefinition.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_EnableOneOf_EnableDirectiveIntrospection.snap
  src/HotChocolate/Core/test/Types.Tests/SchemaBuilderTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Ignore_Generic_Methods.graphql
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Static_Field_Inference_3.graphql
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Static_Field_Inference_3_Execute.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaBuilderTests.Ensure_Types_Are_Bound_Explicitly.graphql
Labels: 🌶️ hot chocolate

#6243 Publicly expose underlying request executor builder
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionGatewayBuilder.cs
Labels: 🌶️ hot chocolate

#6245 Added tests that show `CompareTo` is ignore.
  src/HotChocolate/Core/test/Types.Tests/CodeFirstTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Comparison_Is_Ignored.graphql
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Structural_Equality_Is_Ignored.graphql
Labels: 🌶️ hot chocolate

#6244 fixed accessibility of `NoOpStringBuilderPool`: private -> public
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DescriptorContext.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/NoOpStringBuilderPool.cs
Labels: 🌶️ hot chocolate

#6253 Added first class pipeline support to fusion.
  .vscode/settings.json
  src/HotChocolate/Core/src/Execution/Configuration/RequestExecutorSetup.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.UseRequest.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FileWatcherTypeModule.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Fusion/src/Core/Execution/FederatedQueryExecutor.cs
  src/HotChocolate/Fusion/src/Core/Pipeline/OperationExecutionMiddleware.cs
Labels: 🌶️ hot chocolate

#6262 Expose variables in ComplexityContext to allow custom complexity calculation
  src/HotChocolate/Core/src/Execution/Pipeline/Complexity/ComplexityContext.cs
Labels: 🌶️ hot chocolate

#6263 Expose variables in ComplexityContext to allow custom complexity calculation (target: main)
  src/HotChocolate/Core/src/Execution/Pipeline/Complexity/ComplexityContext.cs
Labels: 🌶️ hot chocolate

#6286 Fixed Issue with Field Requirements
  src/HotChocolate/Fusion/src/Core/Planning/ExecutionNodeBuilderMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/ExecutionStepDiscoveryMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/Extensions/OperationExtensions.cs
  src/HotChocolate/Fusion/src/Core/Planning/Extensions/QueryPlanContextExtensions.cs
  src/HotChocolate/Fusion/src/Core/Planning/FieldRequirementsPlannerMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/QueryPlanContext.cs
  src/HotChocolate/Fusion/src/Core/Planning/QueryPlanner.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/NodeRequestDocumentFormatter.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/RequestDocumentFormatter.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequirementsPlannerMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequirementsPlannerMiddleware2.cs
  src/HotChocolate/Fusion/src/Core/Planning/Steps/ExecutionStep.cs
  src/HotChocolate/Fusion/src/Core/Planning/Steps/IntrospectionExecutionStep.cs
  src/HotChocolate/Fusion/src/Core/Planning/Steps/NodeEntityExecutionStep.cs
  src/HotChocolate/Fusion/src/Core/Planning/Steps/NodeExecutionStep.cs
  src/HotChocolate/Fusion/src/Core/Planning/Steps/RequirementExecutionStep.cs
  src/HotChocolate/Fusion/src/Core/Planning/Steps/SelectionExecutionStep.cs
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/ExecutionPlanBuilderTests.cs.txt
  src/HotChocolate/Fusion/test/Core.Tests/RemoteQueryExecutorTests.cs.txt
  src/HotChocolate/Fusion/test/Core.Tests/RequestPlannerTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Require_Data_In_Context_2.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_20_DeepQuery.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_21_Field_Requirement_Not_In_Context.snap
  src/HotChocolate/Neo4J/src/Data/Language/Comparison.cs
Labels: 🌶️ hot chocolate

#6287 Fixed issue when querying interface lists.
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/NodeRequestDocumentFormatter.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/RequestDocumentFormatter.cs
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/InterfaceTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/RequestPlannerTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/TestHelper.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/InterfaceTests.Query_Interface_List.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_22_Interfaces.snap
  src/HotChocolate/Fusion/test/Shared/Appointments/Appointment.cs
  src/HotChocolate/Fusion/test/Shared/Appointments/AppointmentQuery.cs
  src/HotChocolate/Fusion/test/Shared/Appointments/IPatient.cs
  src/HotChocolate/Fusion/test/Shared/Appointments/PatientCH.cs
  src/HotChocolate/Fusion/test/Shared/Appointments/PatientDE.cs
  src/HotChocolate/Fusion/test/Shared/DemoProject.cs
Labels: 🌶️ hot chocolate

#6290 Memory Optimization on Schema
  src/HotChocolate/Core/src/Types/Schema.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/DirectiveType.cs
Labels: 🌶️ hot chocolate

#6284 Update operation-complexity.md
  website/src/docs/hotchocolate/v13/security/operation-complexity.md
Labels: 📚 documentation

#6298 Fixed apply default in `Authorize` extension methods.
  src/HotChocolate/Core/src/Authorization/Extensions/AuthorizeObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Authorization/Extensions/AuthorizeObjectTypeDescriptorExtensions.cs
Labels: 🌶️ hot chocolate

#6297 Fixed StrawberryShake PersistedQuery Docs.
  website/src/docs/strawberryshake/v13/performance/persisted-queries.md
Labels: 📚 documentation

#6275 Fixed `parse result` method for `date` and `local date` scalars
  src/HotChocolate/Core/src/Types.Scalars/LocalDateType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/DateType.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/LocalDateTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/DateTypeTests.cs
Labels: 🌶️ hot chocolate

#6266 ArrayWriter.EnsureBufferCapacity must account for _start
  src/HotChocolate/Utilities/src/Utilities/ArrayWriter.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/ArrayWriterTests.cs
Labels: 🌶️ hot chocolate

#6303 Fusion Error Handling
  src/HotChocolate/Core/src/Execution/Processing/Result/ListResult.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ObjectFieldResult.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ObjectResult.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ResultBuilder.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ResultData.cs
  src/HotChocolate/Fusion/src/Core/Clients/DefaultHttpGraphQLClient.cs
  src/HotChocolate/Fusion/src/Core/Clients/GraphQLResponse.cs
  src/HotChocolate/Fusion/src/Core/Clients/InvalidContentTypeException.cs
  src/HotChocolate/Fusion/src/Core/Execution/ExecutorUtils.cs
  src/HotChocolate/Fusion/src/Core/Execution/FederatedQueryContext.cs
  src/HotChocolate/Fusion/src/Core/Execution/NonNullPropagateException.cs
  src/HotChocolate/Fusion/src/Core/FusionResources.Designer.cs
  src/HotChocolate/Fusion/src/Core/FusionResources.resx
  src/HotChocolate/Fusion/src/Core/Metadata/IType.cs
  src/HotChocolate/Fusion/src/Core/Planning/ExecutionTreeBuilderMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/NodeAndStep.cs
  src/HotChocolate/Fusion/src/Core/Planning/Nodes/Compose.cs
  src/HotChocolate/Fusion/src/Core/Planning/Nodes/QueryPlan.cs
  src/HotChocolate/Fusion/src/Core/Planning/Nodes/Resolve.cs
  src/HotChocolate/Fusion/src/Core/Planning/Nodes/ResolveByKeyBatch.cs
  src/HotChocolate/Fusion/src/Core/Planning/QueryPlanContext.cs
  src/HotChocolate/Fusion/test/Core.Tests/ErrorTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Require_Data_In_Context.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Require_Data_In_Context_2.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ErrorTests.Accounts_Offline_Author_NonNull.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ErrorTests.Accounts_Offline_Author_Nullable.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ErrorTests.Accounts_Offline_Reviews_ListElement_Nullable.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ErrorTests.Authors_And_Reviews_Query_Reformat_AuthorIds.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_11_Two_Mutation_Two_SubGraph.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_19_Requires.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_21_Field_Requirement_Not_In_Context.snap
Labels: 🌶️ hot chocolate

#6305 Adds services to fusion registration extensions
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/GatewayConfigurationContext.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/GatewayConfigurationResolver.cs
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
Labels: 🌶️ hot chocolate
