Repository ChilliCream/graphql-platform, pull requests merged in 2023-09, with the labels that each got.

#6499 update workshops
  website/src/state/workshops/workshops.state.ts
Labels: 🌶️ website

#6502 Fixed options check for mutation conventions .
  src/HotChocolate/Core/src/Types.Mutations/Extensions/ObjectFieldDefinitionExtensions.cs
Labels: 🌶️ hot chocolate

#6507 Fixes documentation referring to how Strawberry Shake uses Roslyn
  website/src/docs/strawberryshake/v13/get-started/console.md
  website/src/docs/strawberryshake/v13/get-started/xamarin.md
Labels: 📚 documentation

#6504 Fix issue with Query Planner ExecutionStep Requirements
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/RequirementsPlannerMiddleware.cs
  src/HotChocolate/Fusion/test/Core.Tests/RequestPlannerTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_18_Node_Single_Fragment_Multiple_Subgraphs.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_27_Multiple_Require_Steps_From_Same_Subgraph.snap
  src/HotChocolate/Fusion/test/Shared/Authors/Author.cs
  src/HotChocolate/Fusion/test/Shared/Authors/AuthorQuery.cs
  src/HotChocolate/Fusion/test/Shared/Authors/AuthorRepository.cs
  src/HotChocolate/Fusion/test/Shared/Authors/Book.cs
  src/HotChocolate/Fusion/test/Shared/Books/Author.cs
  src/HotChocolate/Fusion/test/Shared/Books/Book.cs
  src/HotChocolate/Fusion/test/Shared/Books/BookQuery.cs
  src/HotChocolate/Fusion/test/Shared/Books/BookRepository.cs
  src/HotChocolate/Fusion/test/Shared/DemoProject.cs
Labels: 🌶️ hot chocolate

#6508 Refactored query planner to allow top queries.
  src/HotChocolate/Fusion/src/Core/Execution/Nodes/Resolve.cs
  src/HotChocolate/Fusion/src/Core/Execution/Nodes/ResolveByKeyBatch.cs
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/ExecutionNodeBuilderMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/ExecutionStepDiscoveryMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/ExecutionTreeBuilderMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/FieldRequirementsPlannerMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/RequestDocumentFormatter.cs
  src/HotChocolate/Fusion/src/Core/Planning/Steps/SelectionExecutionStep.cs
  src/HotChocolate/Fusion/src/Core/Planning/Steps/SelectionPath.cs
  src/HotChocolate/Fusion/test/Core.Tests/RequestPlannerTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DataTests.Fetch_Data_Across_Subgraphs.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_28_Simple_Root_Data.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_29_Simple_Root_List_Data.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_30_Entity_Data.snap
Labels: 🌶️ hot chocolate

#6521 Adds `about` to footer
  website/gatsby-config.js
  website/package.json
  website/src/components/layout/footer.tsx
  website/src/components/misc/cookie-consent.tsx
  website/src/components/misc/link.tsx
  website/src/pages/products/bananacakepop.tsx
  website/static/google479bcd6a898ecdf0.html
  website/static/legal/acceptable-use-policy.html
  website/static/legal/archive/index.html
  website/static/legal/cookie-policy.html
  website/static/legal/privacy-policy.html
  website/static/legal/terms-of-service.html
Labels: 🌶️ website

#6522 Fixed website build
  website/.yarn/cache/gatsby-plugin-google-analytics-npm-5.3.0-a7a3ddc24a-037192c535.zip
  website/.yarn/cache/gatsby-plugin-google-tagmanager-npm-5.3.1-2fa19fe213-86e1f9aac0.zip
  website/.yarn/cache/web-vitals-npm-1.1.2-8e3860bc35-9207102908.zip
  website/yarn.lock
Labels: 🌶️ website

#6524 Migrated website deployment to GitHub Actions.
  .devops/azure-pipelines.sonar-hotchocolate.yml
  .devops/deploy-website-cluster.yml
  .devops/deploy-website.yml
  .github/workflows/publish-website.yml
Labels: 🧰 maintenance

#6520 Fixed typo in docs - projections.md
  website/src/docs/hotchocolate/v13/fetching-data/projections.md
Labels: 📚 documentation

#6512 Allow postgres subscriptions to be configured in publish only mode
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgresSubscriptionTransportExtensions.cs
  src/HotChocolate/Core/src/Subscriptions/DependencyInjection/CoreSubscriptionsServiceCollectionExtensions.cs
Labels: 🌶️ hot chocolate

#6530 Fixed Directive Middleware Caching Issue.
  src/HotChocolate/Core/src/Types/Resolvers/DirectiveClassMiddlewareFactory.cs
  src/HotChocolate/Core/test/Types.Tests/Types/DirectiveTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/DirectiveTypeTests.Use_EnsureClassMiddlewareDoesNotTrap_Next.snap
Labels: 🌶️ hot chocolate

#6532 Fixed Error Behavior in Query Plan
  src/HotChocolate/Fusion/src/Core/Execution/Nodes/Resolve.cs
  src/HotChocolate/Fusion/src/Core/Execution/Nodes/ResolveByKeyBatch.cs
  src/HotChocolate/Fusion/src/Core/Metadata/FusionGraphConfigurationReader.cs
  src/HotChocolate/Fusion/test/Core.Tests/ErrorTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ErrorTests.Internal_Server_Error_On_Root_Field.snap
  src/HotChocolate/Spatial/test/Data.Projections.SqlServer.Tests/HotChocolate.Data.Projections.Spatial.SqlServer.Tests.csproj
  src/HotChocolate/Spatial/test/Data.Projections.SqlServer.Tests/packages.lock.json
Labels: 🌶️ hot chocolate

#6538 Revert #6506
  src/StrawberryShake/MetaPackages/Common/MSBuild/StrawberryShake.targets
Labels: 🌶️ strawberry shake

#6541 Introduced Fusion Export Command
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Command/ExportCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/ComposeCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/ExportCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/ExportGraphCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/RootCommand.cs
Labels: 🌶️ hot chocolate

#6553 Fixed issue in parser for directive location VARIABLE_DEFINITION.
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringContains_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringEndsWith_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringNoContains_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringNotEndsWith_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringNotStartsWith_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringStartsWith_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_StringContains_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_StringEndsWith_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_StringNoContains_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_StringNotEndsWith_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_StringNotStartsWith_Expression_NET8_0.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_StringStartsWith_Expression_NET8_0.snap
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DescriptionMergeTests.Output_Rewrite_Nullability_For_Output_Types.graphql
  src/HotChocolate/Language/src/Language.SyntaxTree/DirectiveLocation.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/SchemaParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/SchemaParserTests.Parse_Directive_With_VariableDefinition.snap
Labels: 🌶️ hot chocolate

#6543 Cache printed GraphQL Query for Tracing
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityEnricher.cs
Labels: 🌶️ hot chocolate

#6549 Mark 'BuildPipeline' method as virtual
  src/HotChocolate/MongoDb/src/Data/Execution/MongoDbAggregateFluentExecutable.cs
  src/HotChocolate/MongoDb/src/Data/Execution/MongoDbCollectionExecutable.cs
  src/HotChocolate/MongoDb/src/Data/Execution/MongoDbFindFluentExecutable.cs
Labels: 🌶️ hot chocolate

#6531 Feat ignore additional input fields (#6307)
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.InputParser.cs
  src/HotChocolate/Core/src/Types/Types/InputFormatter.cs
  src/HotChocolate/Core/src/Types/Types/InputParser.cs
  src/HotChocolate/Core/src/Types/Types/InputParserOptions.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/StarWarsCodeFirstTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/__snapshots__/StarWarsCodeFirstTests.GraphQLOrgMutationIgnoreAdditionalInputFieldsExample.snap
  src/HotChocolate/Core/test/Types.Tests/Types/InputParserTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputParserTests.Parse_InputObject_AllIsSet_IgnoreAdditionalInputFields.snap
Labels: 🌶️ hot chocolate
