Repository ChilliCream/graphql-platform, pull requests merged in 2023-12, with the labels that each got.

#6742 StrawberryShake documentation fixes
  website/src/docs/strawberryshake/v12/get-started/console.md
  website/src/docs/strawberryshake/v12/get-started/index.md
  website/src/docs/strawberryshake/v12/get-started/xamarin.md
  website/src/docs/strawberryshake/v13/get-started/console.md
  website/src/docs/strawberryshake/v13/get-started/index.md
  website/src/docs/strawberryshake/v13/get-started/xamarin.md
Labels: 📚 documentation

#6709 Adds more documentation for BCP
  website/src/docs/bananacakepop/v2/apis.md
  website/src/docs/bananacakepop/v2/apis/client-registry.md
  website/src/docs/bananacakepop/v2/apis/fusion.md
  website/src/docs/bananacakepop/v2/apis/images/apis-0.png
  website/src/docs/bananacakepop/v2/apis/images/apis-1.png
  website/src/docs/bananacakepop/v2/apis/images/apis-2.png
  website/src/docs/bananacakepop/v2/apis/images/apis-3.png
  website/src/docs/bananacakepop/v2/apis/images/apis-4.png
  website/src/docs/bananacakepop/v2/apis/images/apis-5.png
  website/src/docs/bananacakepop/v2/apis/images/apis-6.png
  website/src/docs/bananacakepop/v2/apis/images/client-registry-1.png
  website/src/docs/bananacakepop/v2/apis/images/client-registry-2.png
  website/src/docs/bananacakepop/v2/apis/images/fusion-0.png
  website/src/docs/bananacakepop/v2/apis/images/fusion-1.png
  website/src/docs/bananacakepop/v2/apis/images/fusion-2.png
  website/src/docs/bananacakepop/v2/apis/images/fusion-3.png
  website/src/docs/bananacakepop/v2/apis/images/fusion-4.png
  website/src/docs/bananacakepop/v2/apis/images/fusion-5.png
  website/src/docs/bananacakepop/v2/apis/images/operation-reporting-1.png
  website/src/docs/bananacakepop/v2/apis/images/operation-reporting-2.png
  website/src/docs/bananacakepop/v2/apis/images/schema-registry-0.png
  website/src/docs/bananacakepop/v2/apis/images/schema-registry-1.png
  website/src/docs/bananacakepop/v2/apis/images/schema-registry-2.png
  website/src/docs/bananacakepop/v2/apis/images/stages-0.png
  website/src/docs/bananacakepop/v2/apis/images/stages-1.png
  website/src/docs/bananacakepop/v2/apis/images/stages-2.png
  website/src/docs/bananacakepop/v2/apis/images/stages-3.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-0.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-1.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-10.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-11.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-12.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-13.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-2.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-3.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-4.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-5.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-6.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-7.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-8.png
  website/src/docs/bananacakepop/v2/apis/images/telemetry-9.png
  website/src/docs/bananacakepop/v2/apis/open-telemetry.md
  website/src/docs/bananacakepop/v2/apis/operation-reporting.md
  website/src/docs/bananacakepop/v2/apis/overview.md
  website/src/docs/bananacakepop/v2/apis/schema-registry.md
  website/src/docs/bananacakepop/v2/apis/stages.md
  website/src/docs/bananacakepop/v2/bcp-services.md
  website/src/docs/bananacakepop/v2/schema-client-registry/index.md
  website/src/docs/docs.json
Labels: 📚 documentation, 🌶️ website

#6751 Avoid writing BOM in StrawberryShake Tools
  src/StrawberryShake/Tooling/src/dotnet-graphql/DefaultFileSystem.cs
Labels: 🌶️ strawberry shake

#6763 Fixed transport layer byte-array handling.
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Serialization/Utf8JsonWriterHelper.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/packages.lock.json
  src/HotChocolate/Fusion/test/Shared/packages.lock.json
Labels: 🌶️ hot chocolate

#6767 [Fusion] Do not send omitted arguments with default values to subgraph
  src/HotChocolate/Fusion/src/Core/Metadata/ResolverDefinition.FetchRewriterContext.cs
  src/HotChocolate/Fusion/src/Core/Metadata/ResolverDefinition.ResolverRewriter.cs
  src/HotChocolate/Fusion/src/Core/Metadata/ResolverDefinition.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/NodeRequestDocumentFormatter.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/RequestDocumentFormatter.cs
  src/HotChocolate/Fusion/test/Core.Tests/RequestPlannerTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.GetFirstPage_With_After_Null.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/InterfaceTests.Query_Interface_List.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/InterfaceTests.Query_Interface_List_With_Fragment.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/InterfaceTests.Query_Interface_List_With_Fragment_Fetch.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_22_Interfaces.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_23_Interfaces_Merge.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_31_Argument_No_Value_Specified_With_Selection_Set.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_32_Argument_No_Value_Specified.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_33_Argument_Default_Value_Explicitly_Specified.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_34_Argument_Not_Default_Value_Specified.snap
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_35_Argument_Value_Variable_Specified.snap
Labels: 🌶️ hot chocolate

#6674 Fixed mutation error dependency registration.
  src/HotChocolate/Core/src/Types.Mutations/Errors/MutationErrorHandler.cs
  src/HotChocolate/Core/src/Types.Mutations/Errors/MutationErrorTypeInterceptor.cs
  src/HotChocolate/Core/src/Types.Mutations/Extensions/ObjectFieldDefinitionExtensions.cs
  src/HotChocolate/Core/src/Types/SchemaBuilder.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/packages.lock.json
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.Mutation_With_ErrorAnnotatedAndCustomInterface_LateAndEarlyRegistration.snap
  src/HotChocolate/Fusion/test/Shared/packages.lock.json
Labels: 🌶️ hot chocolate

#6776 Fixed issue with default values on mutations.
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Internal/FieldInitHelper.cs
Labels: 🌶️ hot chocolate

#6773 Fix some grammatical errors in resource files
  src/HotChocolate/Core/src/Types.Mutations/Properties/MutationResources.resx
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/test/Types.Tests/Configuration/Validation/__snapshots__/InterfaceTypeValidation.Field_Is_Not_Implemented.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/Validation/__snapshots__/ObjectTypeValidation.Implemented_Field_Is_NonNull_Field_Is_Nullable.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/Validation/__snapshots__/ObjectTypeValidation.Object_Implements_Not_The_Interfaces_Of_Its_Interfaces.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/Validation/__snapshots__/ObjectTypeValidation.Object_Implements_Not_The_Interfaces_Of_Its_Interfaces_2.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Validation/__snapshots__/InterfaceTypeValidationRuleTests.RejectFieldsWithInvalidName.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Validation/__snapshots__/ObjectTypeValidationRuleTests.RejectInterfaceWithMissingImplementation.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Validation/__snapshots__/ObjectTypeValidationRuleTests.RejectInterfaceWithNullableMissMatchInImplementationOfField.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Validation/__snapshots__/ObjectTypeValidationRuleTests.RejectInterfaceWithWrongImplementation.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.ObjectFieldDoesNotMatchInterfaceDefinitionReturnTypeInvalid.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.TwoInterfacesProvideFieldAWithDifferentOutputType.snap
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Properties/CodeGenerationResources.resx
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#6777 Fixed CostAttribute multiplier path signature.
  src/HotChocolate/Core/src/Types/Types/Attributes/CostAttribute.cs
Labels: 🌶️ hot chocolate

#6780 Fixed Typo in BCP docs.md
  website/src/docs/bananacakepop/v2/bcp-services.md
Labels: 📚 documentation

#6779 Fixed broken postgres tests
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/PostgresChannelWriterTests.cs
Labels: 🌶️ hot chocolate

#6778 Fixed documentation of bcp services
  website/src/docs/bananacakepop/v2/bcp-services.md
Labels: 📚 documentation

#6784 EF Core middleware must probe for IAsyncEnumerable.
  src/HotChocolate/Core/test/Types.Analyzers.Tests/packages.lock.json
  src/HotChocolate/Data/src/EntityFramework/ToListMiddleware.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/SqlCursorCursorPagingIntegrationTests.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/SqlLiteCursorTestBase.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/SqlCursorPagingIntegrationTests.In_Memory_Queryable_Does_Not_Throw.snap
  src/HotChocolate/Fusion/test/Shared/packages.lock.json
Labels: 🌶️ hot chocolate

#6786 Fix deprecation of input fields / arguments
  src/HotChocolate/Core/src/Types/Configuration/Validation/TypeValidationHelper.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IArgumentDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IInputFieldDescriptor.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/IntrospectionFormatter.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/IntrospectionQueryBuilder.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/InputField.cs
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__snapshots__/IntrospectionQueryBuilderTests.Create_Query_With_ArgumentDeprecation.snap
  website/src/docs/hotchocolate/v13/defining-a-schema/versioning.md
Labels: 📚 documentation, 🌶️ hot chocolate, 👓 ready-for-review
