Repository ChilliCream/graphql-platform, pull requests merged in 2023-04, with the labels that each got.

#6013 Correct the default format for UUIDs
  src/HotChocolate/Core/src/Types/Types/Scalars/UuidType.cs
  website/src/docs/hotchocolate/v13/defining-a-schema/scalars.md
Labels: 📚 documentation, 🌶️ hot chocolate

#6014 Rework the request executor configuration hooks to allow hot reload for Fusion.
  src/HotChocolate/Core/src/Abstractions/IApplicationServiceProvider.cs
  src/HotChocolate/Core/src/Execution/Configuration/ConfigurationContext.cs
  src/HotChocolate/Core/src/Execution/Configuration/IApplicationServiceProvider.cs
  src/HotChocolate/Core/src/Execution/Configuration/OnConfigureRequestExecutorOptionsAction.cs
  src/HotChocolate/Core/src/Execution/Configuration/OnConfigureSchemaBuilderAction.cs
  src/HotChocolate/Core/src/Execution/Configuration/OnRequestExecutorCreatedAction.cs
  src/HotChocolate/Core/src/Execution/Configuration/OnRequestExecutorEvictedAction.cs
  src/HotChocolate/Core/src/Execution/Configuration/RequestExecutorOptionsAction.cs
  src/HotChocolate/Core/src/Execution/Configuration/RequestExecutorSetup.cs
  src/HotChocolate/Core/src/Execution/Configuration/SchemaBuilderAction.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/InternalSchemaServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/InternalServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/HotChocolate.Execution.csproj
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Pure.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.Hooks.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/PagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/Extensions/OffsetPagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeRegistrar.CreateInstance.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeRegistrar.cs
  src/HotChocolate/Core/src/Types/HotChocolate.Types.csproj
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DescriptorContext.Services.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DescriptorContext.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/IDescriptorContext.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptor~2.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarType.Initialization.cs
  src/HotChocolate/Core/src/Types/Utilities/ServiceProviderExtensions.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterProvider.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FileWatcherTypeModule.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Stitching/src/Stitching/DependencyInjection/HotChocolateStitchingRequestExecutorExtensions.cs
  src/HotChocolate/Stitching/src/Stitching/Requests/BufferedRequest.cs
  src/HotChocolate/Utilities/src/Utilities/ActivatorHelper.cs
Labels: 🌶️ hot chocolate

#6018 fix onConfigure access-modifier
  website/src/docs/hotchocolate/v12/api-reference/custom-attributes.md
Labels: 📚 documentation

#6016 Fix update command not updating schema file
  src/StrawberryShake/Tooling/src/dotnet-graphql/UpdateCommandHandler.cs
Labels: 🌶️ strawberry shake

#6012 Fix parsing DotNetMajor with preview sdks
  src/StrawberryShake/MetaPackages/Common/MSBuild/StrawberryShake.targets
Labels: 🎬 ready, 🌶️ strawberry shake

#6029 Fix issue `JSON` scalar crashes on JsonElement inputs #6023
  src/HotChocolate/Core/src/Types/Types/Scalars/JsonType.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleJsonMutationExtension_Inferred_Execute.snap
  src/HotChocolate/Core/test/Types.Tests/Types/JsonTypeTests.cs
Labels: 🌶️ hot chocolate

#6045 Docs: Update middleware attribute example to proper access modifier.
  website/src/docs/hotchocolate/v13/execution-engine/field-middleware.md
Labels: 📚 documentation

#6055 Ma/companies
  website/src/components/widgets/companies-section.tsx
  website/src/components/widgets/most-recent-bcp-blog-posts-section.tsx
  website/src/images/companies/microsoft.svg
  website/src/pages/index.tsx
  website/src/pages/products/bananacakepop.tsx
Labels: 🌶️ website

#6054 Fixed DotNetVersion blank
  src/StrawberryShake/MetaPackages/Common/MSBuild/StrawberryShake.targets
Labels: 🌶️ strawberry shake

#6057 Renamed Introspection Operation Name
  src/HotChocolate/Core/src/Execution/ErrorHelper.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeRegistrar.CreateInstance.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/BuiltInTypes.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/IIntrospectionClient.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/ISchemaFeatures.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/IntrospectionClient.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/IntrospectionDeserializer.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/IntrospectionException.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/IntrospectionQueryHelper.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/Directive.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/EnumValue.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/Field.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/FullType.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/HttpQueryRequest.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/InputField.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/IntrospectionData.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/IntrospectionError.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/IntrospectionResult.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/RootTypeRef.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/Schema.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/TypeKind.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Models/TypeRef.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/Queries/introspection_phase_1.graphql
  src/HotChocolate/Utilities/src/Utilities.Introspection/Queries/introspection_phase_2.graphql
  src/HotChocolate/Utilities/src/Utilities.Introspection/SchemaFeatures.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/WellKnownDirectives.cs
  src/HotChocolate/Utilities/src/Utilities.Introspection/WellKnownTypes.cs
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/IntrospectionClientTests.cs
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/IntrospectionDeserializerTests.cs
Labels: 🌶️ hot chocolate

#6071 update premium companies
  website/src/components/widgets/companies-section.tsx
  website/src/images/companies/swiss-life.svg
Labels: 🌶️ website

#6074 update connected companies
  website/src/components/widgets/companies-section.tsx
Labels: 🌶️ website

#6069 Fix Fusion composition of enums
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeHandler/EnumTypeMergeHandler.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeHandler/UnionTypeMergeHandler.cs
Labels: 🌶️ hot chocolate

#6067 Fix broken links
  website/src/blog/2019-01-24-schema-stitching.md
  website/src/blog/2019-02-04-hot-chocolate-0.7.0.md
  website/src/blog/2019-02-20-schema-stitching.md
  website/src/blog/2019-03-19-logging-with-hotchocolate.md
  website/src/blog/2019-12-26-hotchocolate-10.3.0.md
  website/src/blog/2020-03-18-entity-framework/2020-03-18-entity-framework.md
  website/src/blog/2020-11-23-hot-chocolate-11/2020-11-23-hot-chocolate-11.md
  website/src/blog/2021-01-20-hot-chocolate-logging/2021-01-10-hot-chocolate-logging.md
  website/src/blog/2021-05-30-entity-framework/2020-03-18-entity-framework.md
  website/src/blog/2021-09-27-hot-chocolate-12/2021-09-27-hot-chocolate-12.md
  website/src/blog/2022-01-13-hot-chocolate-12-5/2022-01-13-hot-chocolate-12-5.md
  website/src/docs/hotchocolate/v10/data-fetching/index.md
  website/src/docs/hotchocolate/v10/examples/index.md
  website/src/docs/hotchocolate/v10/examples/other-examples.md
  website/src/docs/hotchocolate/v10/examples/slack-clone.md
  website/src/docs/hotchocolate/v10/execution-engine/instrumentation.md
  website/src/docs/hotchocolate/v11/distributed-schema/schema-federations.md
  website/src/docs/hotchocolate/v11/distributed-schema/schema-stitching.md
  website/src/docs/hotchocolate/v11/integrations/mongodb.md
  website/src/docs/hotchocolate/v12/distributed-schema/schema-federations.md
  website/src/docs/hotchocolate/v12/distributed-schema/schema-stitching.md
  website/src/docs/hotchocolate/v12/integrations/mongodb.md
  website/src/docs/hotchocolate/v13/integrations/mongodb.md
Labels: 📚 documentation, 🌶️ website

#6081 improve clicking on companies
  website/src/components/widgets/companies-section.tsx
Labels: 🌶️ website

#6082 update workshops
  website/src/components/images/workshop-dotnetdays-iasi.tsx
  website/src/components/images/workshop-ndc-oslo.tsx
  website/src/components/layout/header.tsx
  website/src/images/workshops/dotnetdays-iasi.png
  website/src/images/workshops/ndc-oslo.jpg
  website/src/pages/services/training.tsx
Labels: 🌶️ website

#6083 enhance stacking
  website/src/components/widgets/companies-section.tsx
Labels: 🌶️ website

#6084 update footer info
  website/src/components/layout/footer.tsx
  website/src/pages/services/advisory.tsx
  website/src/pages/services/support.tsx
  website/src/pages/services/training.tsx
Labels: 🌶️ website

#6062 Fix Subscription Handling of System Messages
  src/HotChocolate/Core/src/Abstractions/Subscriptions/SubscriptionOptions.cs
  src/HotChocolate/Core/src/Subscriptions.InMemory/IInMemoryTopic.cs
  src/HotChocolate/Core/src/Subscriptions.InMemory/InMemoryPubSub.cs
  src/HotChocolate/Core/src/Subscriptions.InMemory/InMemoryTopic.cs
  src/HotChocolate/Core/src/Subscriptions.Nats/NatsPubSub.cs
  src/HotChocolate/Core/src/Subscriptions.Nats/NatsTopic.cs
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/Properties/RabbitMQResources.Designer.cs
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/Properties/RabbitMQResources.resx
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/RabbitMQPubSub.cs
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/RabbitMQTopic.cs
  src/HotChocolate/Core/src/Subscriptions.Redis/RedisPubSub.cs
  src/HotChocolate/Core/src/Subscriptions.Redis/RedisTopic.cs
  src/HotChocolate/Core/src/Subscriptions.Serializers.Newtonsoft/NewtonsoftJsonMessageSerializer.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultJsonMessageSerializer.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultPubSub.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultSourceStream.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultTopic.cs
  src/HotChocolate/Core/src/Subscriptions/Diagnostics/AggregateSubscriptionDiagnosticEventsListener.cs
  src/HotChocolate/Core/src/Subscriptions/Diagnostics/ISubscriptionDiagnosticEvents.cs
  src/HotChocolate/Core/src/Subscriptions/Diagnostics/SubscriptionDiagnosticEventsListener.cs
  src/HotChocolate/Core/src/Subscriptions/IMessageSerializer.cs
  src/HotChocolate/Core/src/Subscriptions/MessageEnvelope.cs
  src/HotChocolate/Core/src/Subscriptions/MessageKind.cs
  src/HotChocolate/Core/src/Subscriptions/TopicShard.cs
  src/HotChocolate/Core/test/Subscriptions.Tests/DefaultJsonMessageSerializerTests.cs
  src/HotChocolate/Core/test/Subscriptions.Tests/MessageEnvelopeTests.cs
  src/HotChocolate/Core/test/Subscriptions.Tests/NewtonsoftJsonMessageSerializerTests.cs
  src/HotChocolate/Core/test/Utilities/SubscriptionTestDiagnostics.cs
  src/HotChocolate/Stitching/src/Stitching/Merge/SchemaMergeException.cs
Labels: 🌶️ hot chocolate

#6086 Improved Errors for Subscriptions
  src/HotChocolate/Core/src/Subscriptions.InMemory/InMemoryPubSub.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultPubSub.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultTopic.cs
  src/HotChocolate/Core/src/Subscriptions/ITopic.cs
  src/HotChocolate/Core/src/Subscriptions/InvalidMessageTypeException.cs
  src/HotChocolate/Core/src/Subscriptions/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Subscriptions/Properties/Resources.resx
  src/HotChocolate/Core/test/Subscriptions.InMemory.Tests/InMemoryIntegrationTests.cs
Labels: 🌶️ hot chocolate

#6093 Add SetUser extension to IQueryRequestBuilder
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizeSchemaTests.cs
  src/HotChocolate/Core/src/Abstractions/Execution/QueryRequestBuilderExtensions.cs
  src/HotChocolate/Core/test/Authorization.Tests/AnnotationBasedAuthorizationTests.cs
  src/HotChocolate/Core/test/Types.Tests/ResolverContextStateExtensionTests.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#6087 Make `CustomParameterExpressionBuilder<TArg>` non-sealed
  src/HotChocolate/Core/src/Types/Internal/CustomParameterExpressionBuilder.cs
Labels: 🌶️ hot chocolate

#6095 update workshops
  website/src/components/images/workshop-ndc-copenhagen.tsx
  website/src/components/layout/header.tsx
  website/src/images/workshops/ndc-copenhagen.jpg
  website/src/pages/services/training.tsx
  website/src/state/index.ts
  website/src/state/state.ts
  website/src/state/workshops/index.ts
  website/src/state/workshops/workshops.reducer.ts
  website/src/state/workshops/workshops.state.ts
Labels: 🌶️ website

#6097 Allow Zero Complexity
  src/HotChocolate/Core/src/Types/Types/Directives/CostDirective.cs
  src/HotChocolate/Core/src/Types/Types/Directives/CostDirectiveType.cs
  src/HotChocolate/Core/src/Types/Types/Directives/CostInterfaceFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Directives/CostObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Directives/CostDirectiveTests.cs
Labels: 🌶️ hot chocolate
