Repository ChilliCream/graphql-platform, pull requests merged in 2023-10, with the labels that each got.

#6570 Adds True Nullability GraphQL Spec Proposal
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Abstractions/WellKnownDirectives.cs
  src/HotChocolate/Core/src/Execution/ErrorHelper.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationResolverMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/PipelineTools.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.CompilerContext.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.resx
  src/HotChocolate/Core/src/Types/Configuration/AggregateTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInterceptor.cs
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/ReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/SchemaBuilder.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Directives/Directives.cs
  src/HotChocolate/Core/src/Types/Types/Directives/NullBubblingDirective.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/TypeExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/MiddlewareValidationTypeInterceptor.cs
  src/HotChocolate/Core/test/Execution.Tests/ClientControlledNullabilityTests.cs
  src/HotChocolate/Core/test/Execution.Tests/TrueNullabilityTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/TrueNullabilityTests.Error_Query_With_TrueNullability_And_NullBubbling_Disabled.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/TrueNullabilityTests.Error_Query_With_TrueNullability_And_NullBubbling_Disabled_With_Variable.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/TrueNullabilityTests.Error_Query_With_TrueNullability_And_NullBubbling_Enabled.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/TrueNullabilityTests.Error_Query_With_TrueNullability_And_NullBubbling_Enabled_By_Default.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/TrueNullabilityTests.Schema_With_TrueNullability.graphql
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/TrueNullabilityTests.Schema_Without_TrueNullability.graphql
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_Defaults.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/ReadOnlySchemaOptionsTests.Copy_Options_EnableOneOf_EnableDirectiveIntrospection.snap
Labels: 🌶️ hot chocolate

#6565 Print @deprecated in HotChocolate.Skimmed.SchemaFormatter
  src/HotChocolate/Core/src/Types/Types/Directives/DeprecatedDirective.cs
  src/HotChocolate/Core/src/Types/Types/Directives/DeprecatedDirectiveType.cs
  src/HotChocolate/Fusion/test/Composition.Tests/DeprecationMergeTests.cs
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DeprecationMergeTests.Merge_Entity_Output_Field_Argument_Deprecation.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DeprecationMergeTests.Merge_Entity_Output_Field_Deprecation.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DeprecationMergeTests.Merge_Enum_Value_Deprecation.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DeprecationMergeTests.Merge_Output_Field_Argument_Deprecation.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DeprecationMergeTests.Merge_Output_Field_Deprecation.graphql
  src/HotChocolate/Skimmed/src/Skimmed/Serialization/SchemaFormatter.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#6571 Fixed tag directive nullability.
  src/HotChocolate/Core/src/Types/Types/Directives/Tag.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Directives/__snapshots__/TagDirectiveTests.EnsureAllLocationsAreApplied.graphql
Labels: 🌶️ hot chocolate

#6577 Adds Extensions support for Subgraph JSON
  src/HotChocolate/Fusion/src/Abstractions/FusionGraphPackage.cs
  src/HotChocolate/Fusion/src/Abstractions/SubgraphConfigJson.cs
  src/HotChocolate/Fusion/src/Abstractions/SubgraphConfiguration.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/ComposeCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Helpers/PackageHelper.cs
  src/HotChocolate/Fusion/src/CommandLine/Helpers/SubgraphConfigurationDto.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/CommandTestBase.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/HotChocolate.Fusion.CommandLine.Tests.csproj
  src/HotChocolate/Fusion/test/CommandLine.Tests/PackageHelperTests.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/PackageHelperTests.Create_Extract_Extensions.snap
  src/HotChocolate/Fusion/test/Composition.Tests/CompositionTestBase.cs
  src/HotChocolate/Fusion/test/Composition.Tests/DataTypesTests.cs
  src/HotChocolate/Fusion/test/Composition.Tests/ErrorTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/RequestPlannerTests.cs
  src/HotChocolate/Fusion/test/Shared/DemoSubgraph.cs
Labels: 🌶️ hot chocolate

#6398 Add automatic wrapper for open api specification.
  .build/Build.Tests.2.cs
  .build/Helpers.cs
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.List.cs
  src/HotChocolate/Core/src/Types.Json/FromJsonSchemaDirective.cs
  src/HotChocolate/Core/src/Types.Json/JsonObjectTypeExtensions.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/ComposeCommandTests.Compose_Fusion_Graph.snap
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/ComposeCommandTests.Compose_Fusion_Graph_Append_Subgraph.snap
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/ComposeCommandTests.Compose_Loose_Subgraph_Files.snap
  src/HotChocolate/OpenApi/Directory.Build.props
  src/HotChocolate/OpenApi/HotChocolate.OpenApi.sln
  src/HotChocolate/OpenApi/src/Directory.Build.props
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Helpers/ObjectTypeFactory.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Helpers/OpenApiNamingHelper.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Helpers/OperationResolverHelper.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Helpers/Utf8JsonWriterHelper.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/HotChocolate.OpenApi.csproj
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/IOpenApiWrapperMiddleware.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/OpenApiFieldNameNullException.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/OpenApiWrapper.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/OpenApiWrapperContext.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/OpenApiWrapperContextExtensions.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/OpenApiWrapperPipelineBuilder.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Operation.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Pipeline/CreateInputTypesMiddleware.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Pipeline/CreateMutationTypeMiddleware.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Pipeline/CreatePayloadTypesMiddleware.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Pipeline/CreateQueryTypeMiddleware.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Pipeline/DiscoverOperationsMiddleware.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Properties/OpenApiResources.Designer.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Properties/OpenApiResources.resx
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/RequestExecutorBuilderExtension.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/SchemaTypeInfo.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/packages.lock.json
  src/HotChocolate/OpenApi/tests/Directory.Build.props
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/Controller/PetStoreController.cs
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/Controller/UberController.cs
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/HotChocolate.OpenApi.Tests.csproj
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/IntegrationTests.cs
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/SchemaGenerationTests.cs
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__resources__/PetStore.yaml
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__resources__/Uber.json
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.QueryPets_Returns_Results_addPet.json
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.QueryPets_Returns_Results_deletePet.json
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.QueryPets_Returns_Results_findAnyPets.json
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.QueryPets_Returns_Results_findSinglePet.json
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.QueryUber_Returns_Results_getProducts.json
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.QueryUber_Returns_Results_me.json
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__snapshots__/SchemaGenerationTests.Simple_PetStore_V3_Generates_Correct_Schema.graphql
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__snapshots__/SchemaGenerationTests.Simple_PetStore_V3_Generates_Correct_SkimmedSchema.graphql
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/__snapshots__/SchemaGenerationTests.Uber_Generates_Correct_SkimmedSchema.graphql
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/packages.lock.json
  src/HotChocolate/Utilities/src/Utilities/HotChocolate.Utilities.csproj
Labels: 🧰 maintenance, 🌶️ hot chocolate

#6582 Use scheme provided by arguments
  src/StrawberryShake/Tooling/src/dotnet-graphql/OAuth/AuthArgumentsBase.cs
Labels: 🌶️ strawberry shake

#6580 Move to JsonElement in ConfigurationExtensions
  src/HotChocolate/Fusion/src/Abstractions/FusionGraphPackage.cs
  src/HotChocolate/Fusion/src/Abstractions/HotChocolate.Fusion.Abstractions.csproj
  src/HotChocolate/Fusion/src/Abstractions/JsonElementExtensions.cs
  src/HotChocolate/Fusion/src/Abstractions/SubgraphConfigJson.cs
  src/HotChocolate/Fusion/src/Abstractions/SubgraphConfigJsonSerializer.cs
  src/HotChocolate/Fusion/src/Abstractions/SubgraphConfiguration.cs
  src/HotChocolate/Fusion/src/CommandLine/Helpers/PackageHelper.cs
  src/HotChocolate/Fusion/src/CommandLine/Helpers/SubgraphConfigurationDto.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/PackageHelperTests.cs
  src/HotChocolate/Fusion/test/Shared/DemoSubgraph.cs
  src/HotChocolate/Utilities/src/Utilities/HotChocolate.Utilities.csproj
Labels: 🌶️ hot chocolate

#6584 Remove a subgraph from a composed fusion gateway
  src/HotChocolate/Fusion/src/Abstractions/FusionGraphPackage.cs
  src/HotChocolate/Fusion/src/Abstractions/SubgraphConfigJsonSerializer.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/ComposeCommand.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/ComposeCommandTests.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/ComposeCommandTests.Compose_Fusion_Graph_Remove_Subgraph.snap
Labels: 🌶️ hot chocolate

#6587 Make CustomOptionsFlags public
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
  src/HotChocolate/Core/src/Types/Execution/Processing/ISelection.cs
Labels: 🎬 ready, 🌶️ hot chocolate

#6559 Split rabbit mq topic event sender into seperate registration method
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/DependencyInjection/RabbitMQPubSubExtensions.cs
Labels: 🌶️ hot chocolate

#6596 Issue 6594 nested resolver key
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Helpers/ArgumentParser.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/EntitiesResolverTests.cs
Labels: 🌶️ hot chocolate

#6595 Added more robust extensibility to extend mutation errors.
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationTypeInterceptor.cs
  src/HotChocolate/Caching/src/Caching/CacheControlValidationTypeInterceptor.cs
  src/HotChocolate/Core/src/Authorization/AuthorizationTypeInterceptor.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/AggregateTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/Contracts/ITypeCompletionContext.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInterceptor.cs
  src/HotChocolate/Core/src/Types/HotChocolate.Types.csproj
  src/HotChocolate/Core/src/Types/Types/Interceptors/MiddlewareValidationTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/IntrospectionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/ObjectType.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolverTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/QueryFieldTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Data/src/Data/Projections/ProjectionTypeInterceptor.cs
  src/HotChocolate/Stitching/src/Stitching/SchemaDefinitions/SchemaDefinitionTypeInterceptor.cs
Labels: 🌶️ hot chocolate

#6601 Added tag directive refinements.
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Extensions/ApolloFederationRequestExecutorBuilderExtensions.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Extensions/ApolloFederationSchemaBuilderExtensions.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationTypeInterceptor.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/AnnotationBased/__snapshots__/CertificationTests.Schema_Snapshot.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/AnnotationBased/__snapshots__/CertificationTests.Subgraph_SDL.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/CodeFirst/__snapshots__/CertificationTests.Schema_Snapshot.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/CodeFirst/__snapshots__/CertificationTests.Subgraph_SDL.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ExternalDirectiveTests.AnnotateExternalToTypeFieldPureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToClassAttributePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToClassAttributesPureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/KeyDirectiveTests.AnnotateKeyToObjectTypePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ProvidesDirectiveTests.AnnotateProvidesToClassAttributePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/RequiresDirectiveTests.AnnotateProvidesToClassAttributePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.TestFederationPrinterApolloDirectivesPureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.TestFederationPrinterApolloDirectivesSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.TestFederationPrinterSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.TestFederationPrinterSchemaFirst_With_DateTime.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/FederationSchemaPrinterTests.TestFederationPrinterTypeExtensionPureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/ServiceTypeTests.TestServiceTypeEmptyQueryTypePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/ServiceTypeTests.TestServiceTypeEmptyQueryTypeSchemaFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/ServiceTypeTests.TestServiceTypeTypePureCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/__snapshots__/ServiceTypeTests.TestServiceTypeTypeSchemaFirst.snap
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Types/Types/Directives/Tag.cs
  src/HotChocolate/Core/src/Types/Types/Directives/TagDirectiveConfigAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Directives/TagHelper.cs
  src/HotChocolate/Core/src/Types/Types/Directives/TagMode.cs
  src/HotChocolate/Core/src/Types/Types/Directives/TagOptions.cs
  temp.txt
Labels: 🌶️ hot chocolate

#6602 add online workshop Vienna
  website/src/components/images/workshop-online.tsx
  website/src/components/layout/header.tsx
  website/src/images/workshops/online.jpg
  website/src/state/workshops/workshops.state.ts
Labels: 🌶️ website

#6603 update workshop Vienna
  website/src/images/workshops/online.jpg
  website/src/state/workshops/workshops.state.ts
Labels: 🌶️ website

#6607 Update headers of website
  website/src/components/layout/header.tsx
Labels: 🌶️ website

#6608 Fixed character in acceptable user and privacy policy
  .github/workflows/ci.yml
  cSpell.json
  website/src/blog/2023-08-15-fusion/2023-08-15-fusion.md
  website/static/legal/acceptable-use-policy.html
  website/static/legal/privacy-policy.html
Labels: 🧰 maintenance, 🌶️ website

#6621 Fixed field merging issue for skip/include.
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Command/ExportCommand.cs
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/SelectionIncludeConditionTests.cs
Labels: 🌶️ hot chocolate

#6622 Adds better schema errors when data middleware is declared more than once.
  accept.sh
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Execution/Extensions/ExecutionRequestExecutorExtensions.cs
  src/HotChocolate/Core/src/Types/Internal/FieldInitHelper.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/FieldCollection.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/EnableTrueNullabilityTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/MiddlewareValidationTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__DirectiveArgument.cs
  src/HotChocolate/Core/src/Types/Utilities/ErrorHelper.cs
  src/HotChocolate/Data/test/Data.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.Schema_Should_Generate_WhenMutationInputHasManyToManyRelationshipWithOutputType.snap
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationTests.Schema_Should_Generate_WhenMutationInputHasManyToOneRelationshipWithOutputType.snap
Labels: 🌶️ hot chocolate

#6626 Removed Compiler Warnings
  src/HotChocolate/Core/src/Execution/Processing/SubscriptionExecutor.Subscription.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/ContinuousTask.cs
  src/HotChocolate/Core/src/Subscriptions/CannotSubscribeException.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultTopic.cs
  src/HotChocolate/Core/src/Types/Configuration/AggregateTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/HotChocolate.Types.csproj
  src/HotChocolate/Core/src/Types/InvalidSchemaCoordinateException.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/SchemaException.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/ExtendObjectTypeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__AppliedDirective.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__DirectiveArgument.cs
  src/HotChocolate/Core/src/Types/Types/TypeInitializationException.cs
  src/HotChocolate/Core/src/Validation/MaxValidationErrorsException.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/Helpers/OperationResolverHelper.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/HotChocolate.OpenApi.csproj
Labels: 🌶️ hot chocolate

#6627 Fixed build issue that prevented the FSharp package from being build.
  .build/Build.Environment.cs
  .build/Build.Publish.cs
  src/HotChocolate/Core/HotChocolate.Core.sln
Labels: 🧰 maintenance, 🌶️ hot chocolate

#6590 cleanup compilation constants
  src/CookieCrumble/src/CookieCrumble/Extensions/WriterExtensions.cs
  src/CookieCrumble/src/CookieCrumble/TestEnvironment.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HttpResponseExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HeaderUtilities.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpGetMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpPostMiddlewareBase.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/Protocols/JsonOperationMessage.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/Protocols/MessageUtilities.cs
  src/HotChocolate/Core/src/Abstractions/Execution/OrderedDictionary.cs
  src/HotChocolate/Core/src/Abstractions/Utilities/NameUtils.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Pause.cs
  src/HotChocolate/Core/src/Execution/Serialization/EventStreamResultFormatter.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/Conventions/DefaultTypeInspectorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputObjectTypeDictionaryTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectFieldExpressionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/UuidTypeTests.cs
  src/HotChocolate/Language/src/Language.Web/DocumentHashProviderBase.cs
  src/HotChocolate/Language/src/Language.Web/MD5DocumentHashProvider.cs
  src/HotChocolate/Language/src/Language.Web/Sha1DocumentHashProvider.cs
  src/HotChocolate/Language/src/Language.Web/Sha256DocumentHashProvider.cs
Labels: 🧰 maintenance, 🌶️ hot chocolate

#6401 Adds GraphQL SSE support to StrawberryShake
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Serialization/Utf8JsonWriterHelper.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpResponse.cs
  src/HotChocolate/Utilities/src/Utilities/HotChocolate.Utilities.csproj
  src/StrawberryShake/Client/StrawberryShake.Client.sln
  src/StrawberryShake/Client/src/Resources/Properties/Resources.Designer.cs
  src/StrawberryShake/Client/src/Resources/Properties/Resources.resx
  src/StrawberryShake/Client/src/Transport.Http/HttpConnection.cs
  src/StrawberryShake/Client/src/Transport.Http/ResponseEnumerable.cs
  src/StrawberryShake/Client/src/Transport.Http/ResponseEnumerator.cs
  src/StrawberryShake/Client/src/Transport.Http/ResponseHelper.cs
  src/StrawberryShake/Client/src/Transport.Http/StrawberryShake.Transport.Http.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubGraphQLSSETest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubGraphQLSSETest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#6632 Fixes how arg values will be handled when the input obj is inferred
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionMiddleware.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
Labels: 🌶️ hot chocolate

#6636 Improve allocations from `JsonResultFormatter`
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/packages.lock.json
  src/HotChocolate/Core/src/Execution/Serialization/JsonResultFormatter.cs
  src/HotChocolate/Core/src/Execution/Serialization/JsonResultFormatterOptions.cs
Labels: 🌶️ hot chocolate

#6635 Update ActivityScopes.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityScopes.cs
Labels: 🌶️ hot chocolate

#6648 Optimized Field Merging
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/TypeExtensions.cs
  src/HotChocolate/Core/src/Validation/DocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/FieldInfo.cs
  src/HotChocolate/Core/src/Validation/FieldInfoPair.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/Rules/FieldVisitor.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/OperationCompilerTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Field_Is_Visible_When_One_Selection_Is_Visible_1.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Field_Is_Visible_When_One_Selection_Is_Visible_2.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Field_Is_Visible_When_One_Selection_Is_Visible_3.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Field_Is_Visible_When_One_Selection_Is_Visible_4.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Object_Field_Visibility_Is_Correctly_Inherited.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Object_Field_Visibility_Is_Correctly_Inherited_2.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Object_Field_Visibility_Is_Correctly_Inherited_3.snap
  src/HotChocolate/Core/test/Validation.Tests/FieldSelectionMergingRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/FieldSelectionMergingRuleTests.ReportsDeepConflictToNearestCommonAncestorInFragments.snap
Labels: 🌶️ hot chocolate

#6641 Add default http request version and policy
  src/HotChocolate/AspNetCore/src/Transport.Http/DefaultGraphQLHttpClient.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/GraphQLHttpClientConfigurationTests.cs
Labels: 🌶️ hot chocolate

#6643 Interface on Error Type
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.Mutation_With_ErrorWithInterface.snap
Labels: 🌶️ hot chocolate

#6649 Optimized Field Merging
  .github/workflows/release.yml
  src/HotChocolate/Core/src/Types/Types/Extensions/TypeExtensions.cs
  src/HotChocolate/Core/src/Validation/DocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/FieldInfo.cs
  src/HotChocolate/Core/src/Validation/FieldInfoPair.cs
  src/HotChocolate/Core/src/Validation/HotChocolate.Validation.csproj
  src/HotChocolate/Core/src/Validation/IDocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/Rules/FieldVisitor.cs
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/QueryInstrumentationTests.Track_data_loader_events.snap
Labels: 🧰 maintenance, 🌶️ hot chocolate

#6650 Improve allocations from JsonResultSerializer
  src/HotChocolate/Core/src/Execution/Serialization/JsonQueryResultSerializer.cs
Labels: 🌶️ hot chocolate
