Repository ChilliCream/graphql-platform, pull requests merged in 2023-01, with the labels that each got.

#5650 Fixed Strawberry Shake Any Type
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/SchemaHelper.cs
Labels: 🌶️ strawberry shake

#5655 Fixed Strawberry Shake Any Type
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/SchemaHelper.cs
Labels: 🌶️ strawberry shake

#5657 fix root layout
  website/src/components/doc-page/doc-page-aside.tsx
  website/src/components/doc-page/doc-page-elements.tsx
  website/src/components/doc-page/doc-page-navigation.tsx
  website/src/components/layout/footer.tsx
  website/src/components/layout/header.tsx
  website/src/components/layout/main.tsx
  website/src/components/misc/global-style.tsx
  website/src/components/misc/page-top.tsx
  website/src/shared-style.ts
Labels: 🌶️ website

#5665 Reorder Blog Post
  website/src/blog/2023-01-08-new-in-banana-cake-pop-3/2023-01-08-new-in-banana-cake-pop-3.md
Labels: 🌶️ website

#5666 Update links in blogpost
  website/src/blog/2023-01-08-new-in-banana-cake-pop-3/2023-01-08-new-in-banana-cake-pop-3.md
Labels: 🌶️ website

#5667 Fixed Persisted query opt-in by MSBuild prop
  src/StrawberryShake/MetaPackages/Common/MSBuild/StrawberryShake.targets
Labels: 🌶️ strawberry shake

#5671 Fixed Scoped Services handling on resolvers.
  src/CookieCrumble/src/CookieCrumble/Extensions/SnapshotExtensions.cs
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.DataLoader.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Global.cs
  src/HotChocolate/Core/src/Fetching/DefaultDataLoaderRegistry.cs
  src/HotChocolate/Core/src/Fetching/Extensions/DataLoaderResolverContextExtensions.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceHelper.cs
  src/HotChocolate/Core/src/Types/Resolvers/IResolverContext.cs
  src/HotChocolate/Core/src/Types/Types/DirectiveCollection.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/QueryableCursorPagingProviderTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Attributes/UseServiceScopeAttributeTests.cs
  src/HotChocolate/Data/src/Data/Projections/Extensions/ProjectionObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/EntityFramework/DbContextParameterExpressionBuilder.cs
  src/HotChocolate/Data/src/EntityFramework/Extensions/EntityFrameworkObjectFieldDescriptorExtensions.cs
Labels: 🌶️ hot chocolate

#5672 update docs for blog
  website/src/blog/2023-01-08-new-in-banana-cake-pop-3/2023-01-08-new-in-banana-cake-pop-3.md
Labels: 🌶️ website

#5676 Fix description of StrawberryShake package
  src/StrawberryShake/Client/src/MetaPackage/StrawberryShake.csproj
Labels: 🌶️ strawberry shake

#5677 Fixed ServiceKind.Resolver not working with ResolveWith
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/OutputFieldDescriptorBase.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverServiceTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/ResolverServiceTests.AddResolverService_2.snap
Labels: 🌶️ hot chocolate

#5678 Fix ServiceKind.Resolver not working with ResolverWith
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/OutputFieldDescriptorBase.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverServiceTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/ResolverServiceTests.AddResolverService_2.snap
Labels: 🌶️ hot chocolate

#5681 Added DataLoader source generator.
  src/GreenDonut/test/Core.Tests/BatchDataLoaderTests.cs
  src/GreenDonut/test/Core.Tests/CancellationTokenSourceExtensionsTests.cs
  src/GreenDonut/test/Core.Tests/DataLoaderExtensionsTests.cs
  src/GreenDonut/test/Core.Tests/DataLoaderOptionsTests.cs
  src/GreenDonut/test/Core.Tests/DataLoaderTests.cs
  src/GreenDonut/test/Core.Tests/GroupDataLoaderTests.cs
  src/GreenDonut/test/Core.Tests/ManualBatchScheduler.cs
  src/GreenDonut/test/Core.Tests/TaskCacheOwnerTests.cs
  src/GreenDonut/test/Core.Tests/TaskCacheTests.cs
  src/GreenDonut/test/Core.Tests/TestHelpers.cs
  src/HotChocolate/CodeGeneration/src/CodeGeneration/SyntaxExtensions.cs
  src/HotChocolate/Core/src/Abstractions/DataLoaderAttribute.cs
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.Designer.cs
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.resx
  src/HotChocolate/Core/src/Abstractions/ScopedServiceAttribute.cs
  src/HotChocolate/Core/src/Fetching/DataLoaderParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Fetching/Extensions/DataLoaderResolverContextExtensions.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ISyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/HotChocolate.Types.Analyzers.csproj
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ClassBaseClassInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderKind.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/RegisterDataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeAttributeInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeExtensionInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Properties/SourceGenResources.Designer.cs
  src/HotChocolate/Core/src/Types.Analyzers/Properties/SourceGenResources.resx
  src/HotChocolate/Core/src/Types.Analyzers/TypeModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownAttributes.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownFileNames.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownTypes.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/SubscribeAndResolveAttribute.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/DataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/Query.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/TimeoutMiddlewareTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/PersonLastName.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/SomeQuery.cs
  src/HotChocolate/Data/src/EntityFramework/Extensions/ResolverCompilerBuilderExtensions.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/Query.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/UseDbContextTests.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#5683 add static page for bcp maintenance
  website/static/bcp-maintenance.html
Labels: 🌶️ website

#5689 Refined DataLoader Source Generator
  src/HotChocolate/Analyzers/src/Analyzers/Diagnostics/ErrorHelper.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.DataLoader.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderAttributeHelper.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderDefaultsInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderDefaultsInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ModuleInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Properties/SourceGenResources.Designer.cs
  src/HotChocolate/Core/src/Types.Analyzers/Properties/SourceGenResources.resx
  src/HotChocolate/Core/src/Types.Analyzers/TypeModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownAttributes.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownTypes.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/DirectiveCollection.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/SomeQuery.cs
Labels: 🌶️ hot chocolate

#5690 Fixed static type extensions when using generics.
  src/HotChocolate/Core/src/Types/Types/ObjectTypeExtension.cs
  src/HotChocolate/Core/src/Types/Types/ObjectTypeExtension~1.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.Query_Extension_With_Static_Members_And_Generic.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeExtensionTests.Query_Extension_With_Static_Members_And_Generic_Schema.graphql
Labels: 🌶️ hot chocolate

#5695 Fixed handling of generics for DataLoader
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/DataLoaderAttributeHelper.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/StringBuilderPool.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/SymbolExtensions.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderDefaultsInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownTypes.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/SomeQuery.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/ss.cs
Labels: 🌶️ hot chocolate

#5699 fix(typo): schema-configuration.md
  website/src/docs/hotchocolate/v13/distributed-schema/schema-configuration.md
Labels: 📚 documentation

#5649 Update JsonObjectTypeExtensions.cs
  src/HotChocolate/Core/src/Types.Json/JsonObjectTypeExtensions.cs
  src/HotChocolate/Core/test/Types.Json.Tests/FromJsonDescriptorTests.cs
Labels: 🌶️ hot chocolate

#5703 Added Set Converter
  src/HotChocolate/Core/src/Types/Utilities/ListTypeConverter.cs
  src/HotChocolate/Core/test/Execution.Tests/CodeFirstTests.cs
  src/HotChocolate/Core/test/Execution.Tests/HotChocolate.Execution.Tests.csproj
  src/HotChocolate/Core/test/Execution.Tests/Integration/TypeConverter/TypeConverterTests.cs
  src/HotChocolate/Core/test/Execution.Tests/StreamTests.cs
  src/HotChocolate/Core/test/Types.Tests/CodeFirstTests.cs
Labels: 🌶️ hot chocolate

#5706 Fixed authorize interceptor not skipping non auth directives.
  src/HotChocolate/Caching/HotChocolate.Caching.sln
  src/HotChocolate/Core/src/Authorization/AuthorizationTypeInterceptor.cs
  src/HotChocolate/Core/test/Authorization.Tests/AnnotationBasedAuthorizationTests.cs
Labels: 🌶️ hot chocolate

#5685 Update v13 Migration Guide
  website/src/docs/hotchocolate/v13/integrations/entity-framework.md
  website/src/docs/hotchocolate/v13/migrating/migrate-from-12-to-13.md
Labels: 📚 documentation

#5707 Fix broken link in Migration Guide
  website/src/docs/hotchocolate/v13/migrating/migrate-from-12-to-13.md
Labels: 📚 documentation

#5727 update workshops promotion
  cSpell.json
  website/src/components/images/workshop-dotnetdays-lasi.tsx
  website/src/components/layout/header.tsx
  website/src/images/workshops/dotnetdays-lasi.png
  website/src/pages/services/training.tsx
Labels: 🌶️ website

#5718 Fix memory leak bug caused by query list keyvaluepair variable params
  src/StrawberryShake/Client/src/Core/Internal/ComparisonHelper.cs
  src/StrawberryShake/Client/test/Core.Tests/OperationRequestTests.cs
Labels: 🌶️ strawberry shake

#5712 Prevent canceled @stream tasks from breaking subsequent @stream query
  src/HotChocolate/Core/src/Execution/Processing/DeferredWorkState.cs
Labels: 🌶️ hot chocolate

#5725 Fix link
  website/src/docs/hotchocolate/v13/distributed-schema/schema-stitching.md
Labels: 📚 documentation

#5713 Add message to exception when enum conversion fails
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/EnumParserGenerator.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/MultiProfileTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsIntrospectionTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/StrawberryShake.CodeGeneration.CSharp.Tests.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityGeneratorTests.Generate_StarWars_Client_With_Defer.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityOrIdGeneratorTests.UnionWithNestedObject.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ErrorGeneratorTests.Generate_NoErrors.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/NoStoreStarWarsGeneratorTests.Interface_With_Default_Names.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/NoStoreStarWarsGeneratorTests.Operation_With_Leaf_Argument.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/NoStoreStarWarsGeneratorTests.Operation_With_Type_Argument.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/OperationGeneratorTests.Generate_ChatClient_AllOperations.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ScalarGeneratorTests.Complete_Schema_With_Uuid_And_DateTime.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.Create_UpdateMembers_Mutation.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.FieldsWithUnderlineInName.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.HasuraMutation.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.IntrospectionQuery.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.NonNullLists.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/SchemaGeneratorTests.QueryInterference.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/StarWarsGeneratorTests.Interface_With_Default_Names.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/StarWarsGeneratorTests.Operation_With_Leaf_Argument.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/StarWarsGeneratorTests.Operation_With_Type_Argument.snap
Labels: 🌶️ strawberry shake

#5732 Fixed cache control defaults were not reliably applied.
  src/HotChocolate/Caching/src/Caching/CacheControlTypeInterceptor.cs
  src/HotChocolate/Caching/src/Caching/Types/CacheControlScope.cs
  src/HotChocolate/Caching/test/Caching.Tests/SchemaTests.cs
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ModuleGenerator.cs
  src/HotChocolate/Core/src/Types/HotChocolate.Types.csproj
  src/HotChocolate/Core/src/Types/Internal/TypeDependencyHelper.cs
  src/HotChocolate/Core/src/Types/Internal/TypeDiscoveryHandler.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/ObjectTypeExtension.cs
  src/HotChocolate/Core/src/Types/Types/StaticObjectTypeExtension.cs
Labels: 🌶️ hot chocolate

#5734 Allow policy do handle authenticated check.
  src/HotChocolate/AspNetCore/HotChocolate.AspNetCore.sln
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/DefaultAuthorizationHandler.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/DefaultHttpRequestInterceptor.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpContextParameterExpressionBuilder.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizationTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizeDirectiveTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizeSchemaTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.DefaultPolicy_Allow_Anonymous.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.DefaultPolicy_Disallow_Anonymous.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.DefaultPolicy_NotFound_But_Allowed.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/SubscriptionsExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/TestServerExtensions.cs
  src/HotChocolate/Core/src/Abstractions/MissingStateException.cs
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.Designer.cs
  src/HotChocolate/Core/src/Abstractions/Properties/AbstractionResources.resx
  src/HotChocolate/Core/src/Abstractions/StateKind.cs
  src/HotChocolate/Core/src/Abstractions/UserState.cs
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Authorization/Extensions/HotChocolateAuthorizeRequestExecutorBuilder.cs
Labels: 🌶️ hot chocolate

#5723 Change mistaken "filtering" wording
  website/src/docs/hotchocolate/v12/fetching-data/projections.md
Labels: 📚 documentation

#5735 Allow for easier resolver compiler customization.
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Resolvers.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/CustomResolverCompilerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/CustomResolverCompilerTests.AddWellKnownState_New.snap
Labels: 🌶️ hot chocolate

#5736 Fixed resolver compiler did not use the GraphQL argument name for args.
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Helpers/ReferenceResolverArgumentExpressionBuilder.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/GlobalStateHelpers.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpContextParameterExpressionBuilder.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ParameterExpressionBuilders/HttpContextParameterExpressionBuilder.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ParameterExpressionBuilders/HttpRequestParameterExpressionBuilder.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/ParameterExpressionBuilders/HttpResponseParameterExpressionBuilder.cs
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions.IsolatedProcess/AzureHttpResponse.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Core/src/Fetching/DataLoaderParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Internal/CustomParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Internal/CustomServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Internal/IParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Internal/ParameterExpressionBuilderContext.cs
  src/HotChocolate/Core/src/Types/Resolvers/DefaultResolverCompiler.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ArgumentParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/CancellationTokenParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ClaimsPrincipalParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/EventMessageParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/FieldParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/GlobalStateParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/LambdaParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/LegacyScopedServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ObjectTypeParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ParentParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/PureResolverContextParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ResolverContextParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/SchemaParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ScopedServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ScopedStateParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/SelectionParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/IResolverCompiler.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/SubscribeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Helpers/TypeMemHelper.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/ResolverTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/ObjectField.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptorBase.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/SomeQuery.cs
  src/HotChocolate/Core/test/Types.Tests/CodeFirstTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverCompilerTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Allow_PascalCasedArguments_Schema.graphql
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Change_DefaultBinding_For_DateTime.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Default_Type_Resolution_Shall_Be_Exact.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Default_Type_Resolution_Shall_Be_Exact_Schema.graphql
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.InferSchemaWithNonNullRefTypes.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.InferSchemaWithNonNullRefTypesAndGenerics.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Infer_Interface_Usage.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Infer_Interface_Usage_With_Interfaces_Implementing_Interfaces.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Structural_Equality_Is_Ignored.graphql
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/CodeFirstTests.Type_Is_Correctly_Upgraded.snap
  src/HotChocolate/Data/src/Data/Filters/Context/FilterContextParameterExpressionBuilder.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingContextParameterExpressionBuilder.cs
  src/HotChocolate/Data/src/EntityFramework/DbContextParameterExpressionBuilder.cs
  src/HotChocolate/Neo4J/test/Data.Neo4J.Integration.Tests/AnnotationBased/Schema/Queries.cs
Labels: 🌶️ hot chocolate

#5737 Added configuration method to register the GraphQL upload scalar.
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/UploadQuery.cs
  src/HotChocolate/Core/src/Types.Scalars.Upload/HotChocolate.Types.Scalars.Upload.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadSchemaHelpers.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#5738 Added generic ID attribute.
  src/HotChocolate/Core/src/Types/Types/Relay/Attributes/IDAttribute.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.Allow_Id_Middleware2.snap
Labels: 🌶️ hot chocolate

#5739 Replaced request context accessor with request context enricher.
  src/HotChocolate/Core/src/Execution/DefaultRequestContextAccessor.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/InternalServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/IRequestContextAccessor.cs
  src/HotChocolate/Core/src/Execution/IRequestContextEnricher.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/RequestClassMiddlewareFactory.cs
  src/HotChocolate/Core/src/Execution/RequestExecutor.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Stitching/src/Stitching.Redis/DependencyInjection/HotChocolateStitchingRedisRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Stitching/src/Stitching/Delegation/DelegateToRemoteSchemaMiddleware.cs
  src/HotChocolate/Stitching/src/Stitching/DependencyInjection/HotChocolateStitchingRequestExecutorExtensions.cs
  src/HotChocolate/Stitching/src/Stitching/Requests/StitchingContext.cs
Labels: 🌶️ hot chocolate

#5740 Fixed type inference issue when using any with schema-first.
  src/HotChocolate/Core/src/Execution/Pipeline/ExceptionMiddleware.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/ITypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Helpers/TypeMemHelper.cs
  src/HotChocolate/Core/src/Types/Types/InputObjectType.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/ResolverTypeInterceptor.cs
  src/HotChocolate/Core/test/Execution.Tests/SchemaFirstTests.cs
Labels: 🌶️ hot chocolate

#5741 Ported: Fixed issue where mutating the result object would drop the ContextData #5211
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/TestServerExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpPostMiddlewareTests.cs
  src/HotChocolate/Core/src/Abstractions/Execution/QueryResultBuilder.cs
Labels: 🌶️ hot chocolate

#5742 Improve constructor binding
  .build/Build.Publish.cs
  src/HotChocolate/Core/src/Types/Types/Helpers/TypeMemHelper.cs
  src/HotChocolate/Core/src/Types/Utilities/Serialization/InputObjectCompiler.cs
  src/HotChocolate/Core/src/Types/Utilities/Serialization/InputObjectConstructorResolver.cs
  src/HotChocolate/Core/test/Types.Tests/Regressions/Issue_4811.cs
Labels: 🧰 maintenance, 🌶️ hot chocolate

#5745 Wire activity enricher for field errors that are reported at the request level.
  src/HotChocolate/Core/src/Execution/Instrumentation/AggregateExecutionDiagnosticEvents.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/ExecutionDiagnosticEventListener.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/IExecutionDiagnosticEvents.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/NoopExecutionDiagnosticEvents.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ResultBuilder.NonNullHandling.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ResultBuilder.Pooling.cs
  src/HotChocolate/Core/src/Types/Utilities/ListTypeConverter.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/ActivityEnricher.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Listeners/ActivityExecutionDiagnosticListener.cs
Labels: 🌶️ hot chocolate

#5746 Allow user to pin GraphQL over HTTP transport spec version.
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.Http.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpTransportVersion.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/HttpResponseFormatterOptions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/GraphQLOverHttpSpecTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpPostMiddlewareTests.cs
Labels: 🌶️ hot chocolate

#5748 Fixed stream and defer http tests.
  src/CookieCrumble/src/CookieCrumble/Formatters/GraphQLHttpResponseFormatter.cs
  src/CookieCrumble/src/CookieCrumble/Formatters/SnapshotValueFormatters.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/TestServerExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpPostMiddlewareTests.cs
  src/HotChocolate/Core/src/Execution/RequestExecutor.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Interceptors/FlagEnumInterceptorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/SubscriptionTypeTests.cs
  src/StrawberryShake/Client/test/Transport.InMemory.Tests/IntegrationTests.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#5749 Add hooks to the HTTP response formatter to write response headers.
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.Http.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpPostMiddlewareTests.cs
Labels: 🌶️ hot chocolate
