Repository ChilliCream/graphql-platform, pull requests merged in 2023-08, with the labels that each got.

#6418 update workshops
  website/src/state/workshops/workshops.state.ts
Labels: 🌶️ website

#6407 Release Build Migration to GitHub
  .github/workflows/release.yml
Labels: 🧰 maintenance

#6410 Upgrade default bcp middleware version
  src/HotChocolate/Directory.Build.props
Labels: 🌶️ hot chocolate

#6451 Add required GraphQL-preflight: 1 header in docs
  website/src/docs/hotchocolate/v13/server/files.md
Labels: 📚 documentation

#6417 Update directives.md to add new directive argument
  website/src/docs/hotchocolate/v13/defining-a-schema/directives.md
Labels: 📚 documentation

#6444 Scope the projection selection properly when using the mutation conventions.
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Execution/Processing/SelectionVariants.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Execution/Processing/ISelectionVariants.cs
  src/HotChocolate/Data/src/Data/DataResources.Designer.cs
  src/HotChocolate/Data/src/Data/DataResources.resx
  src/HotChocolate/Data/src/Data/Projections/Extensions/ProjectionObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/test/Data.Projections.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Mutation_Convention_HasError.snap
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Mutation_Convention_Select.snap
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Mutation_Convention_Select_With_SingleOrDefault.snap
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Mutation_Convention_ThrowsError.snap
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Mutation_Convention_With_Relay_Projection.snap
  src/HotChocolate/Data/test/Data.Projections.Tests/__snapshots__/IntegrationTests.Mutation_Convention_With_Relay_Projection_Schema.graphql
Labels: 🌶️ hot chocolate

#6453 Fixed BCP CDN Cache Test
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/ToolConfigurationFileMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/ToolConfigurationFileMiddlewareTests.Fetch_MapBananaCakePop_Tool_FromCdn.snap
Labels: 🌶️ hot chocolate

#6454 Reintroduce RequestContextAccessor
  global.json
  src/HotChocolate/Core/src/Execution/DefaultRequestContextAccessor.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/IRequestContextAccessor.cs
  src/HotChocolate/Core/src/Execution/RequestExecutor.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
Labels: 🌶️ hot chocolate

#6455 Migrate Sonar PR Build to GitHub Actions
  .devops/azure-pipelines.sonar-pr-hotchocolate.yml
  .github/workflows/sonar-pr.yml
Labels: 🧰 maintenance

#6456 Migrate CI Build to GitHub Actions
  .devops/azure-pipelines.test-pr-hotchocolate.yml
  .devops/test-website.yml
  .github/workflows/tests-pr-hotchocolate.yml
  .github/workflows/tests.yml
Labels: 🧰 maintenance

#6457 Integrate Coverage to Build Pipeline
  .build/Build.Tests.2.cs
  .build/Build.Tests.cs
  .github/workflows/ci-cleanup.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs-linting.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/sonar-pr.yml
  .github/workflows/tests.yml
Labels: 🧰 maintenance

#6462 Fixed Issue with MartenDB Tests
  .github/workflows/ci.yml
  src/HotChocolate/Marten/test/Data.Marten.Filters.Tests/FilteringAndPaging.cs
Labels: 🧰 maintenance, 🌶️ hot chocolate

#6463 Publicly expose ability to register an error type on a mutation field
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Properties/TransportAbstractionResoucrces.Designer.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/HttpResources.Designer.cs
  src/HotChocolate/Core/HotChocolate.Core.sln
  src/HotChocolate/Core/src/Types.Mutations/Extensions/MutationObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types.Mutations/Extensions/ObjectFieldDefinitionExtensions.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Types/Introspection/__AppliedDirective.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__DirectiveArgument.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.SimpleMutation_Add_Error_Via_Type_Interceptor.graphql
Labels: 🌶️ hot chocolate

#6461 Fix naming issues with generic types
  src/HotChocolate/Core/src/Abstractions/NameFormattingHelpers.cs
  src/HotChocolate/Core/test/Types.Tests/GenericTypeNamingTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/GenericTypesNamingTests.NamingResolution.snap
Labels: 🌶️ hot chocolate

#6416 Add configurable access for generated clients (#6374)
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Builders/EnumBuilder.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Builders/InterfaceBuilder.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/CSharpGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/CSharpGeneratorSettings.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ClientGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ClientInterfaceGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/DataTypeGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/DependencyInjectionGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/EntityIdFactoryGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/EntityTypeGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/EnumGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/EnumParserGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/InputTypeGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/InputValueFormatterGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/JsonResultBuilderGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/NoStoreAccessorGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/OperationDocumentGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/OperationServiceGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/OperationServiceInterfaceGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/RazorQueryGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/RazorSubscriptionGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultDataFactoryGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultFromEntityTypeMapperGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultInfoGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultInterfaceGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultTypeGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/StoreAccessorGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/TransportProfileEnumGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/AccessModifier.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/CSharpSyntaxGeneratorSettings.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/GeneratorTestHelper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/StarWarsGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/EntityGeneratorTests.Generate_StarWars_Client_With_Defer.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/ErrorGeneratorTests.ClosePaymentsMutationErrors.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/InputGeneratorTests.Operation_With_Comments_With_Input_Records.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__snapshots__/StarWarsGeneratorTests.Generate_Client_With_Internal_Access_Modifier.snap
  src/StrawberryShake/Tooling/src/Configuration/StrawberryShakeSettings.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/GeneratorHelpers.cs
  src/StrawberryShake/Tooling/test/Configuration.Tests/GraphQLConfigTests.cs
  src/StrawberryShake/Tooling/test/Configuration.Tests/__snapshots__/GraphQLConfigTests.Load_Json.snap
  src/StrawberryShake/Tooling/test/Configuration.Tests/__snapshots__/GraphQLConfigTests.Load_Json_With_Records.snap
  src/StrawberryShake/Tooling/test/Configuration.Tests/__snapshots__/GraphQLConfigTests.Load_Json_With_Transport_Profiles.snap
  website/src/docs/strawberryshake/v13/configuration.md
Labels: 📚 documentation, 🌶️ strawberry shake

#6471 update docs (v13/enums.md, 2023-08-15-fusion.md)
  website/src/blog/2023-08-15-fusion/2023-08-15-fusion.md
  website/src/docs/hotchocolate/v13/defining-a-schema/enums.md
Labels: 📚 documentation, 🌶️ website

#6472 StrawberryShake public access modifier must be default.
  src/HotChocolate/Core/src/Subscriptions.Postgres/packages.lock.json
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/packages.lock.json
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/CSharpGeneratorSettings.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/GeneratorHelpers.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#6476 Fixed memory leak on websocket transport.
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/OperationSession.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ResultBucket.cs
  src/HotChocolate/Core/src/Execution/Serialization/EventStreamResultFormatter.cs
  src/HotChocolate/Fusion/src/Core/Clients/DefaultHttpGraphQLSubscriptionClient.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/TestHelper.cs
  src/HotChocolate/Fusion/test/Shared/DemoProject.cs
Labels: 🌶️ hot chocolate

#6477 update companies
  website/src/components/widgets/companies-section.tsx
  website/src/images/companies/galaxus.svg
Labels: 🌶️ website

#4148 Edit legal docs
  website/src/pages/legal/acceptable-use-policy.html
  website/src/pages/legal/cookie-policy.html
  website/src/pages/legal/privacy-policy.html
  website/src/pages/legal/terms-of-service.html
Labels: 👓 ready-for-review, ⌛ stale

#6043 docs: Mention abstract classes can be used for union types
  website/src/docs/hotchocolate/v13/defining-a-schema/unions.md
Labels: 📚 documentation

#6493 Introduced subgraph consistency check.
  .mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/61843_133378542792508790/values.xml
  src/HotChocolate/Fusion/src/Composition/LogEntryHelper.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/ParseSubGraphSchemaMiddleware.cs
  src/HotChocolate/Fusion/src/Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion/src/Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion/test/Composition.Tests/ErrorTests.cs
  src/HotChocolate/Fusion/test/Shared/TestCompositionLog.cs
Labels: 🌶️ hot chocolate

#6496 Fixed dictionary contains check for errors.
  src/HotChocolate/Core/src/Types.Mutations/Extensions/ObjectFieldDefinitionExtensions.cs
Labels: 🌶️ hot chocolate

#6484 Fixed double dispose of continous task
  src/HotChocolate/Core/src/Subscriptions.Postgres/ContinuousTask.cs
Labels: 🌶️ hot chocolate

#6498 Adds staitc update BCP page
  website/static/bcp-upgrade.html
Labels: 🌶️ website
