Repository ChilliCream/graphql-platform, pull requests merged in 2023-11, with the labels that each got.

#6652 Deprecate SchemaBuilder Hooks
  .github/workflows/ci.yml
  src/HotChocolate/Core/src/Authorization/AuthorizationTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/AggregateTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInterceptor.cs
  src/HotChocolate/Core/src/Types/HotChocolate.Types.csproj
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/SchemaTypeDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/SchemaTypeDescriptor.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/RequestExecutorBuilderExtensions_SchemaOptionsTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/packages.lock.json
  src/HotChocolate/Core/test/Types.Tests/SchemaBuilderTests.cs
  src/HotChocolate/Fusion/test/Shared/packages.lock.json
  src/HotChocolate/Stitching/src/Stitching/SchemaDefinitions/SchemaDefinitionSchemaInterceptor.cs
  src/HotChocolate/Stitching/src/Stitching/Utilities/StitchingSchemaInterceptor.cs
Labels: 🌶️ hot chocolate

#6664 Fixes documentation of dynamic topics
  website/src/docs/hotchocolate/v13/defining-a-schema/subscriptions.md
Labels: 📚 documentation

#6665 Adds example for failing error interface
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/packages.lock.json
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.Mutation_With_ErrorAnnotatedAndCustomInterface.snap
  src/HotChocolate/Fusion/test/Shared/packages.lock.json
Labels: 🌶️ hot chocolate

#6685 Fixed Typos in Strawberry Shake Network Documentation.
  website/src/docs/strawberryshake/v13/networking/index.md
Labels: 📚 documentation

#6686 Make postgres subscription compatible with npgsql 8
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgresChannelWriter.cs
Labels: 🌶️ hot chocolate

#6642 Fix sse message corruption
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpEventStreamProcessor.cs
  src/HotChocolate/Utilities/src/Utilities/ServiceException.cs
Labels: 🌶️ hot chocolate

#6689 Fix Utf8JsonWriterHelper to not ignore null dictionary values
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Serialization/Utf8JsonWriterHelper.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/OperationRequestTests.cs
Labels: 🌶️ hot chocolate

#6693 Fixed rider issue with file references in StrawberryShake
  src/StrawberryShake/MetaPackages/Common/MSBuild/StrawberryShake.targets
Labels: 🌶️ strawberry shake

#6699 fix: dotnet version check filter non version output
  src/StrawberryShake/MetaPackages/Common/MSBuild/StrawberryShake.targets
Labels: 🌶️ strawberry shake

#6705 Fixed argument naming conventions for mutation conventions.
  src/HotChocolate/Core/src/Types.Mutations/Errors/ErrorMiddleware.cs
  src/HotChocolate/Core/src/Types.Mutations/Errors/ErrorNullMiddleware.cs
  src/HotChocolate/Core/src/Types.Mutations/Errors/ErrorObjectType.cs
  src/HotChocolate/Core/src/Types.Mutations/Extensions/MutationObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types.Mutations/Extensions/ObjectFieldDefinitionExtensions.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationContextData.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationContextDataKeys.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionMiddleware.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationResultTypeDiscoveryHandler.cs
  src/HotChocolate/Core/src/Types.Mutations/ResolverArgument.cs
  src/HotChocolate/Core/src/Types.Mutations/UseMutationConventionAttribute.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
Labels: 🌶️ hot chocolate

#6711 Fix cache pollution for in/nin filter expressions
  src/HotChocolate/Data/src/Data/Filters/Expressions/FilterExpressionBuilder.cs
Labels: 🌶️ hot chocolate

#6713 Fixed large json read corruption
  src/HotChocolate/Fusion/src/Abstractions/JsonElementExtensions.cs
  src/StrawberryShake/Client/src/Core/Serialization/JsonSerializer.cs
  src/StrawberryShake/Client/test/Core.Tests/Serialization/JsonSerializerTests.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#6715 Fix typo in Banana Cake Pop docs
  website/src/pages/products/bananacakepop.tsx
Labels: 🌶️ website

#6708 Update open api schema snapshot to fix unit tests
  src/HotChocolate/Core/test/Types.Analyzers.Tests/packages.lock.json
  src/HotChocolate/Fusion/test/Shared/packages.lock.json
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/HotChocolate.OpenApi.csproj
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/packages.lock.json
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/Controller/PetStoreController.cs
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/HotChocolate.OpenApi.Tests.csproj
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/IntegrationTests.cs
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/packages.lock.json
Labels: 🌶️ hot chocolate

#6719 Fixed Array writer reset
  src/HotChocolate/Utilities/src/Utilities/ArrayWriter.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/ArrayWriterTests.cs
Labels: 🌶️ hot chocolate

#6725 [maintenance] Empty type termination using semicolon.
  src/CookieCrumble/src/CookieCrumble/LocalFactDiscoverer.cs
  src/HotChocolate/Core/src/Abstractions/ScopedServiceAttribute.cs
  src/HotChocolate/Core/src/Abstractions/Types/IInputType.cs
  src/HotChocolate/Core/src/Abstractions/Types/ITypeSystemMember.cs
  src/HotChocolate/Core/src/Execution/Options/IRequestExecutorOptionsAccessor.cs
  src/HotChocolate/Core/src/Fetching/Extensions/DataLoaderResolverContextExtensions.cs
  src/HotChocolate/Core/src/Subscriptions/Diagnostics/ISubscriptionDiagnosticEventsListener.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Attributes/NodeResolverAttribute.cs
  src/HotChocolate/Core/test/Abstractions.Tests/MutationResultTests.cs
  src/HotChocolate/Core/test/Authorization.Tests/AnnotationBasedAuthorizationTests.cs
  src/HotChocolate/Core/test/Authorization.Tests/CodeFirstAuthorizationTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Errors/ErrorHandlerTests.cs
  src/HotChocolate/Core/test/Execution.Tests/SchemaDirectiveTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/SomeQuery.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/packages.lock.json
  src/HotChocolate/Core/test/Types.Tests/Configuration/TypeDiscovererTests.cs
  src/HotChocolate/Core/test/Types.Tests/HotChocolate.Types.Tests.csproj
  src/HotChocolate/Core/test/Types.Tests/Internal/TypeInfoTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverCompilerTests.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaBuilderTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/UnionTypeAttributeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/UnionTypeTests.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/SortInputTypeTests.cs
  src/HotChocolate/Fusion/src/Composition/Features/IFusionFeature.cs
  src/HotChocolate/Fusion/test/Shared/packages.lock.json
  src/HotChocolate/Language/src/Language/Legacy/Visitors/ISyntaxNodeVisitor.cs
  src/HotChocolate/Raven/test/Data.Raven.Filters.Tests/FilteringAndPaging.cs
  src/HotChocolate/Raven/test/Data.Raven.Filters.Tests/QueryableFilterVisitorComparableTests.cs
  src/HotChocolate/Utilities/test/Utilities.Tests/CombinedServiceProviderTests.cs
  src/Nullable.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Builders/ICode.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Builders/ITypeBuilder.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/ScalarGeneratorTests.cs
  src/StrawberryShake/CodeGeneration/test/Directory.Build.props
  src/StrawberryShake/Tooling/src/dotnet-graphql/dotnet-graphql.csproj
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#6733 fix example in docs
  website/src/docs/bananacakepop/v2/integrations/hot-chocolate.md
Labels: 📚 documentation
