Repository ChilliCream/graphql-platform, pull requests merged in 2023-03, with the labels that each got.

#5896 Add "Nodes batch size" section to migrate-from-12-to-13.md
  website/src/docs/hotchocolate/v13/migrating/migrate-from-12-to-13.md
Labels: 📚 documentation

#5908 Update migration guide
  website/src/docs/hotchocolate/v13/migrating/migrate-from-12-to-13.md
Labels: 👓 ready-for-review

#5910 Fixed broken link
  website/src/docs/strawberryshake/v13/performance/persisted-queries.md
Labels: 📚 documentation

#5916 update trainings info
  website/src/pages/services/training.tsx
Labels: 🌶️ website

#5918 Add batching and HTTP transport docs
  cSpell.json
  website/README.md
  website/config/conf.d/default.conf
  website/src/docs/docs.json
  website/src/docs/hotchocolate/v13/api-reference/aspnetcore.md
  website/src/docs/hotchocolate/v13/api-reference/index.md
  website/src/docs/hotchocolate/v13/migrating/migrate-from-10-to-11.md
  website/src/docs/hotchocolate/v13/migrating/migrate-from-11-to-12.md
  website/src/docs/hotchocolate/v13/migrating/migrate-from-12-to-13.md
  website/src/docs/hotchocolate/v13/server/batching.md
  website/src/docs/hotchocolate/v13/server/dependency-injection.md
  website/src/docs/hotchocolate/v13/server/http-transport.md
  website/src/docs/hotchocolate/v13/server/index.md
Labels: 📚 documentation, 🌶️ website, 👓 ready-for-review

#5917 The package was missing an 's'
  website/src/docs/strawberryshake/v13/migrating/migrate-from-12-to-13.md
Labels: 📚 documentation

#5909 Version 13.x only needs StrawberryShake.Server
  website/src/docs/strawberryshake/v13/get-started/console.md
Labels: 📚 documentation

#5907 Fix "will" typo in BindFieldsImplicitly summary
  src/HotChocolate/Filters/src/Types.Filters/IFilterInputTypeDescriptor.cs
Labels: 🌶️ hot chocolate

#5941 Fixed Json scalar
  src/HotChocolate/Core/src/Types/Types/Scalars/JsonType.cs
  src/HotChocolate/Core/test/Types.Tests/Types/JsonTypeTests.cs
Labels: 🌶️ hot chocolate

#5947 Adds CLI to Hot Chocolate.
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/App.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Command/ExportCommand.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Command/GraphQLRootCommand.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Command/SchemaCommand.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Helpers/Bind.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Helpers/Opt.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/HotChocolate.AspNetCore.CommandLine.csproj
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/InternalsVisibleTo.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Options/OutputOption.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Options/SchemaNameOption.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/WebApplicationExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/HotChocolate.AspNetCore.CommandLine.Tests.csproj
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/RootCommandTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/SchemaCommandTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/SchemaExportCommandTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/RootCommandTests.App_Should_OutputCorrectHelpTest_When_HelpIsRequested.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaCommandTests.App_Should_OutputCorrectHelpTest_When_HelpIsRequested.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaExportCommandTests.App_Should_OutputCorrectHelpTest_When_HelpIsRequested.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaExportCommandTests.App_Should_PrintSchema_When_OutputNotSpecified.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaExportCommandTests.App_Should_WriteNamedSchemaToOutput_When_SchemaNameIsSpecified.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaExportCommandTests.App_Should_WriteSchemaToFile_When_OutputOptionIsSpecfied.snap
  templates/v12/server/HotChocolate.Template.Server.csproj
  templates/v12/server/Program.cs
Labels: 🌶️ hot chocolate

#5954 include next online workshop
  website/src/pages/services/training.tsx
Labels: 🌶️ website

#5963 promo for next online workshop
  website/src/components/layout/layout.tsx
  website/src/components/misc/close.tsx
  website/src/components/misc/promo.tsx
  website/src/images/close.svg
  website/src/state/common/common.actions.ts
  website/src/state/common/common.reducer.ts
  website/src/state/common/common.state.ts
Labels: 🌶️ website

#5964 persist promo in localstorage
  website/src/components/misc/promo.tsx
Labels: 🌶️ website

#5920 Fix link to `MatenDB` integration sample
  website/src/docs/hotchocolate/v13/integrations/marten.md
Labels: 📚 documentation

#5977 Fixed Operation Compiler for Conditional Selections.
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.Optimizers.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Processing/Selection.cs
  src/HotChocolate/Core/src/Execution/Processing/SelectionPath.cs
  src/HotChocolate/Core/src/Execution/Processing/SelectionSetOptimizerContext.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Execution/Properties/Resources.resx
  src/HotChocolate/Core/test/Execution.Tests/Processing/OperationCompilerTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Crypto_Conditional_Fragment_Has_Additional_Field.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Crypto_Fragment_Removes_Conditional_State_For_Price.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Crypto_Include.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Field_Based_Optimizers.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Field_Is_Visible_When_One_Selection_Is_Visible_1.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Field_Is_Visible_When_One_Selection_Is_Visible_2.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Field_Is_Visible_When_One_Selection_Is_Visible_4.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Object_Field_Visibility_Is_Correctly_Inherited.snap
  src/HotChocolate/Core/test/Execution.Tests/Processing/__snapshots__/OperationCompilerTests.Object_Field_Visibility_Is_Correctly_Inherited_2.snap
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryablePagingProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/Optimizers/IsProjectedProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/ProjectionOptimizer.cs
Labels: 🌶️ hot chocolate

#5973 Support F# Records and Options
  src/HotChocolate/Core/HotChocolate.Core.sln
  src/HotChocolate/Core/src/Types.FSharp/DependencyInjection.fs
  src/HotChocolate/Core/src/Types.FSharp/HotChocolate.Types.FSharp.fsproj
  src/HotChocolate/Core/src/Types.FSharp/OptionTypeConverter.fs
  src/HotChocolate/Core/src/Types/Internal/TypeInfo.RuntimeType.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/SchemaTests.cs
  src/HotChocolate/Core/test/Types.FSharp.Test/HotChocolate.Types.FSharp.Test.fsproj
  src/HotChocolate/Core/test/Types.FSharp.Test/OptionConverterTests.fs
  src/HotChocolate/Core/test/Types.FSharp.Test/SchemaTests.fs
  src/HotChocolate/Core/test/Types.FSharp.Test/__snapshots__/SchemaTests.Schema can be resolved.snap
  src/Nullable.props
Labels: 🌶️ hot chocolate

#5979 Typo fix
  website/src/docs/hotchocolate/v13/defining-a-schema/scalars.md
Labels: 📚 documentation

#5998 Updated Syntax Visitors Docs
  website/src/docs/hotchocolate/v12/api-reference/visitors.md
Labels: 📚 documentation

#5971 Updated Instrumentation Docs
  website/src/docs/hotchocolate/v13/server/instrumentation.md
Labels: 📚 documentation

#6009 Added Fusion Command Line
  src/HotChocolate/Fusion/HotChocolate.Fusion.sln
  src/HotChocolate/Fusion/src/CommandLine/App.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/ComposeCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/RootCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/SubgraphCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/SubgraphConfigCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/SubgraphConfigSetCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/SubgraphConfigSetHttpCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/SubgraphConfigSetNameCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/SubgraphConfigSetWebSocketCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/SubgraphPackCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Defaults.cs
  src/HotChocolate/Fusion/src/CommandLine/Extensions.cs
  src/HotChocolate/Fusion/src/CommandLine/Helpers/Bind.cs
  src/HotChocolate/Fusion/src/CommandLine/Helpers/PackageHelper.cs
  src/HotChocolate/Fusion/src/CommandLine/Helpers/SubgraphConfigurationDto.cs
  src/HotChocolate/Fusion/src/CommandLine/Helpers/SubgraphFiles.cs
  src/HotChocolate/Fusion/src/CommandLine/HotChocolate.Fusion.CommandLine.csproj
  src/HotChocolate/Fusion/src/CommandLine/Options/SubgraphConfigFileOption.cs
  src/HotChocolate/Fusion/src/CommandLine/Options/SubgraphExtensionFileOption.cs
  src/HotChocolate/Fusion/src/CommandLine/Options/SubgraphPackageFileOption.cs
  src/HotChocolate/Fusion/src/CommandLine/Options/SubgraphSchemaFileOption.cs
  src/HotChocolate/Fusion/src/CommandLine/Options/WorkingDirectoryOption.cs
  src/HotChocolate/Fusion/src/CommandLine/Program.cs
  src/HotChocolate/Fusion/src/CommandLine/subgraph-config.json
  src/HotChocolate/Fusion/src/Core/HotChocolate.Fusion.csproj
  src/HotChocolate/Fusion/test/CommandLine.Tests/HotChocolate.Fusion.CommandLine.Tests.csproj
  src/HotChocolate/Fusion/test/CommandLine.Tests/PackageHelperTests.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/Usings.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/PackageHelperTests.Create_Subgraph_Package.snap
Labels: 🌶️ hot chocolate
