Repository ChilliCream/graphql-platform, pull requests merged in 2024-01, with the labels that each got.

#6806 Adds example with positional record
  website/src/docs/hotchocolate/v12/api-reference/apollo-federation.md
Labels: 📚 documentation

#6811 Fix spellcheck job
  .github/workflows/ci.yml
  website/src/docs/bananacakepop/v2/apis/client-registry.md
  website/src/docs/bananacakepop/v2/apis/fusion.md
  website/src/docs/bananacakepop/v2/apis/open-telemetry.md
  website/src/docs/bananacakepop/v2/apis/operation-reporting.md
  website/src/docs/hotchocolate/v12/api-reference/apollo-federation.md
  website/src/docs/hotchocolate/v13/api-reference/apollo-federation.md
Labels: 📚 documentation, 🧰 maintenance

#6807 Adds GraphQL-Preflight in StrawberryShake automatically
  src/HotChocolate/AspNetCore/src/Transport.Http/DefaultGraphQLHttpClient.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/GraphQLHttpClientTests.cs
Labels: 🌶️ hot chocolate

#6810 Support for Keyed Service Attribute
  src/HotChocolate/Core/src/Abstractions/ServiceAttribute.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/PagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types.FSharp/packages.lock.json
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ScopedServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceExpressionHelper.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceHelper.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/packages.lock.json
  src/HotChocolate/Core/test/Types.FSharp.Test/packages.lock.json
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverServiceTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/ResolverServiceTests.Resolve_KeyedService.snap
  src/HotChocolate/Fusion/test/Shared/packages.lock.json
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate

#6814 Update Subscription docs (remove generic argument in SubscribeAsync)
  website/src/docs/hotchocolate/v13/defining-a-schema/subscriptions.md
Labels: 📚 documentation

#6824 Update BCP Fusion Documentation
  website/src/docs/bananacakepop/v2/apis/fusion.md
  website/src/docs/barista/v1/commands/api-key.md
  website/src/docs/barista/v1/index.md
Labels: 📚 documentation

#6825 Fix printing directives on variable declarations
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxSerializer.QuerySyntax.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Operations.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/Utilities/QuerySyntaxPrinterTests.cs
Labels: 🌶️ hot chocolate

#6823 Add Number value literal lookahead restrictions
  src/HotChocolate/Core/test/Types.Analyzers.Tests/packages.lock.json
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_parser_error.snap
  src/HotChocolate/Diagnostics/test/Diagnostics.Tests/__snapshots__/ServerInstrumentationTests.Http_Post_parser_error__NET7.snap
  src/HotChocolate/Fusion/test/Shared/packages.lock.json
  src/HotChocolate/Language/src/Language.Utf8/Properties/LangUtf8Resources.Designer.cs
  src/HotChocolate/Language/src/Language.Utf8/Properties/LangUtf8Resources.resx
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLReader.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/ValueParserTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/__snapshots__/KitchenSinkParserTests.ParseFacebookKitchenSinkQueryNullability.snap
Labels: 🌶️ hot chocolate

#6827 Removed Sonar Build
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: 🧰 maintenance

#6828 Remove unused stale.yml file
  .github/stale.yml
Labels: 🧰 maintenance

#6821 Add circular reference validation rules in input types
  src/HotChocolate/Core/src/Types/Configuration/Validation/InputObjectTypeValidationRule.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/Utilities/ErrorHelper.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/packages.lock.json
  src/HotChocolate/Core/test/Types.Tests/Types/Validation/InputObjectTypeValidationRuleTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Validation/__snapshots__/InputObjectTypeValidationRuleTests.RejectsCircularReferenceThroughOtherType.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Validation/__snapshots__/InputObjectTypeValidationRuleTests.RejectsMultipleCircularReferences.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Validation/__snapshots__/InputObjectTypeValidationRuleTests.RejectsNonBreakableDirectCircularReference.snap
  src/HotChocolate/Fusion/src/CommandLine/packages.lock.json
  src/HotChocolate/Fusion/test/Shared/packages.lock.json
  src/StrawberryShake/Tooling/src/dotnet-graphql/packages.lock.json
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#6829 Added better errors for MultiPart requests.
  src/HotChocolate/AspNetCore/src/AspNetCore/ErrorHelper.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpMultipartMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Properties/AspNetCoreResources.Designer.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Properties/AspNetCoreResources.resx
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.Fail_Without_Preflight_Header.snap
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
Labels: 🌶️ hot chocolate

#6830 Added IApplicationBuilder overload to MapGraphQL.
  .github/workflows/ci-cleanup.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/qodana_code_quality.yml
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/EndpointRouteBuilderExtensions.cs
Labels: 🧰 maintenance, 🌶️ hot chocolate

#6831 Updated Build Pipeline
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
Labels: 🧰 maintenance

#6838 Fixed ApolloFederation FieldSet directives.
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationTypeInterceptor.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Types/Directives/ExtendServiceTypeDescriptorExtensions.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Types/Directives/KeyDirective.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Types/Directives/KeyLegacySupportAttribute.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Types/Directives/ProvidesDirective.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Types/Directives/RequiresDirective.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Types/ServerFields.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/AnnotationBased/__snapshots__/CertificationTests.Provides.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/AnnotationBased/__snapshots__/CertificationTests.Schema_Snapshot.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/AnnotationBased/__snapshots__/CertificationTests.Subgraph_SDL.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/CodeFirst/__snapshots__/CertificationTests.Schema_Snapshot.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/CodeFirst/__snapshots__/CertificationTests.Subgraph_SDL.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/ServiceTypeTests.cs
Labels: 🌶️ hot chocolate

#4925 Use UTF-8 without BOM for SyntaxPrinter
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeTests.EnumValueT_ValueIsNull_SchemaException.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeTests.EnumValueT_ValueIsNull_SchemaException_NETCOREAPP2_1.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeTests.EnumValue_ValueIsNull_SchemaException_NETCOREAPP2_1.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeTests.Serialize_EnumValue_WithDirectivesT.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeNonNullTests.Nullable_Dictionary_Is_Correctly_Detected_NETCOREAPP2_1.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.DoNotAllow_DynamicInputTypes_OnFields.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.DoNotAllow_DynamicInputTypes_OnFields_NETCOREAPP2_1.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.ParseLiteral.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.ParseValue_ValueIsNull.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.ParseValue_ValueIsSimpleInput.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Serialize_ValueIsDictionary.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputObjectTypeTests.Serialize_ValueIsSimpleInput.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputSerializerTests.Deserialize_InputObject_AllIsSet.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputSerializerTests.Deserialize_InputObject_AllIsSet_ConstructorInit.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputSerializerTests.Deserialize_InputObject_AllIsSet_MissingRequired.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputSerializerTests.Deserialize_InputObject_AllIsSet_OneInvalidField.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputSerializerTests.Deserialize_InputObject_AllIsSet_TwoInvalidFields.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputSerializerTests.Parse_InputObject_AllIsSet.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputSerializerTests.Parse_InputObject_AllIsSet_ConstructorInit.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputSerializerTests.Parse_InputObject_AllIsSet_MissingRequired.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputSerializerTests.Parse_InputObject_AllIsSet_OneInvalidField.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/InputSerializerTests.Parse_InputObject_AllIsSet_TwoInvalidFields.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Argument_Type_IsInfered_From_Parameter.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Infer_List_From_Queryable_NETCOREAPP2_1.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Infer_Non_Null_Filed_NETCOREAPP2_1.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.Model_With_Nullables.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/ObjectTypeTests.ObjectType_From_Dictionary_NETCOREAPP2_1.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/PaginationTests.Execute_NestedOffsetPaging_NoCyclicDependencies.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/PaginationTests.Execute_NestedOffsetPaging_With_Indirect_Cycles.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomething.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomethingObj.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomethingObjTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomethingObjValueTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomethingTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_AsyncEnumerable_onSomethingValueTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomething.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomethingObj.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomethingObjTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomethingObjValueTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomethingTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Enumerable_onSomethingValueTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomething.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomethingObj.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomethingObjTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomethingObjValueTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomethingTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Observable_onSomethingValueTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomething.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomethingObj.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomethingObjTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomethingObjValueTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomethingTask.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.Subscribe_Attribute_Queryable_onSomethingValueTask.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaSerializerTests.SerializeAsync_Serialize.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaSerializerTests.SerializeTypes.snap
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxPrinter.cs
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__snapshots__/IntrospectionClientTests.Download_Schema_SDL.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/MultiProfileTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsIntrospectionTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubCompletionTest.Client.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake, 👓 ready-for-review

#6834 Deprecate HotChocolate.Templates.Server
  .build/Build.Environment.cs
  .build/Build.Publish.cs
  templates/Server/HotChocolate.Templates.Server.nuspec
  templates/Server/content/.template.config/template.json
  templates/Server/content/HotChocolate.Server.Template.csproj
  templates/Server/content/Program.cs
  templates/Server/content/Query.cs
  templates/Server/content/Startup.cs
  templates/Server/content/appsettings.Development.json
  templates/Server/content/appsettings.json
  website/src/docs/hotchocolate/v12/performance/automatic-persisted-queries.md
  website/src/docs/hotchocolate/v13/performance/automatic-persisted-queries.md
Labels: 📚 documentation, 🧰 maintenance

#6842 Add Markdownlint to CI (and ignore all rules for now)
  .github/linters/.markdownlint.yml
  .github/workflows/ci.yml
  .markdownlintrc
Labels: 🧰 maintenance

#6004 Mutation Convention Type Inference Issue.
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationResultTypeDiscoveryHandler.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.List_Return_Type.graphql
Labels: 🐛 bug, 🌶️ hot chocolate

#6847 Remove missing project references from HotChocolate.ApolloFederation.sln
  src/HotChocolate/ApolloFederation/HotChocolate.ApolloFederation.sln
Labels: 🌶️ hot chocolate
