Repository ChilliCream/graphql-platform, pull requests merged in 2024-10, with the labels that each got.

#7541 Added nullability awareness to projections.
  src/GreenDonut/src/Core/GreenDonut.csproj
  src/HotChocolate/Core/src/Execution/Extensions/HotChocolateExecutionSelectionExtensions.cs
  src/HotChocolate/Core/src/Execution/Processing/Operation.cs
  src/HotChocolate/Core/src/Execution/Projections/HotChocolateExecutionDataLoaderExtensions.cs
  src/HotChocolate/Core/src/Execution/Projections/SelectionExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Execution/Processing/IOperation.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/PagingHelperIntegrationTests.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/TestContext/FooBarContext.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Ensure_Nullable_Connections_Dont_Throw.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Ensure_Nullable_Connections_Dont_Throw_2.md
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7542 Improved selector when using batching.
  src/HotChocolate/Pagination/src/Pagination.EntityFramework/Expressions/ExtractOrderPropertiesVisitor.cs
  src/HotChocolate/Pagination/src/Pagination.EntityFramework/Expressions/ExtractSelectExpressionVisitor.cs
  src/HotChocolate/Pagination/src/Pagination.EntityFramework/Expressions/QueryHelpers.cs
  src/HotChocolate/Pagination/src/Pagination.EntityFramework/Expressions/ReplaceSelectorVisitor.cs
  src/HotChocolate/Pagination/src/Pagination.EntityFramework/Expressions/ReplacerParameterVisitor.cs
  src/HotChocolate/Pagination/src/Pagination.EntityFramework/Extensions/PagingQueryableExtensions.cs
Labels: 🌶️ hot chocolate

#7547 Allow selector to be null when using Select.
  src/GreenDonut/src/Core/Projections/SelectionDataLoaderExtensions.cs
  src/HotChocolate/Core/src/Execution/Projections/HotChocolateExecutionDataLoaderExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/ProjectableDataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Brand_Details_Requires_Brand_Name_With_Proper_Type.md
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Brand_Details_Requires_Brand_Name_With_Proper_Type_With_Explicit_Generic.md
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Brand_With_Name_Selector_is_Null.md
  src/HotChocolate/Pagination/src/Pagination.Batching/Extensions/HotChocolatePaginationBatchingDataLoaderExtensions.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7548 Fixed issue with errors in mutation convention when explicitly bindun…
  src/HotChocolate/Core/src/Types.Errors/ErrorObjectType.cs
  src/HotChocolate/Core/src/Types.Errors/ExceptionObjectType.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/__snapshots__/AnnotationBasedMutations.InferErrorEvenIfExplicitFieldBindingIsUsed.snap
Labels: 🌶️ hot chocolate

#7549 Fixed issue with DataLoader groups and selector injection.
  src/GreenDonut/src/Core/Projections/DefaultSelectorBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/DataLoaderFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderGenerator.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7550 Added more fine grained control over the persisted operation pipeline.
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/TestOperationDocumentStorage.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/PersistedOperationTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationTests.Standard_Query_Allowed_When_Persisted.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationTests.Standard_Query_Not_Allowed_Even_When_Persisted.snap
  src/HotChocolate/Core/src/Execution/Caching/DefaultDocumentCache.cs
  src/HotChocolate/Core/src/Execution/Options/IPersistedOperationOptionsAccessor.cs
  src/HotChocolate/Core/src/Execution/Options/PersistedOperationOptions.cs
  src/HotChocolate/Core/src/Execution/Options/RequestExecutorOptions.cs
  src/HotChocolate/Core/src/Execution/Pipeline/DocumentCacheMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OnlyPersistedOperationsAllowedMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/ReadPersistedOperationMiddleware.cs
  src/HotChocolate/Core/test/Execution.Tests/Pipeline/DocumentCacheMiddlewareTests.cs
  src/HotChocolate/Language/src/Language.Web/CachedDocument.cs
  src/HotChocolate/Language/src/Language.Web/IDocumentCache.cs
  src/HotChocolate/Language/src/Language.Web/Utf8GraphQLRequestParser.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/GraphQLRequestParserTests.cs
Labels: 🌶️ hot chocolate

#7552 Fixed infer arguments when using lookup.
  src/HotChocolate/Fusion/src/Composition/FusionGraphComposer.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/Enrichers/LookupEntityEnricher.cs
  src/HotChocolate/Fusion/test/Composition.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.User_Field_Is_Fully_Specified_Lookup.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.User_Field__Lookup_Infers_Is_Directive.graphql
  src/HotChocolate/Fusion/test/Core.Tests/RequestPlannerTests.cs
Labels: 🌶️ hot chocolate

#7556 Added flags for node and nodes field.
  src/HotChocolate/Core/src/Execution/Extensions/HotChocolateExecutionSelectionExtensions.cs
  src/HotChocolate/Core/src/Execution/Projections/SelectionExpressionBuilder.cs
  src/HotChocolate/Core/src/Types.CursorPagination/ConnectionType.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/FieldFlags.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/ProjectableDataLoaderTests.cs
Labels: 🌶️ hot chocolate

#7558 Fixed request context cleanup
  src/HotChocolate/Core/src/Execution/RequestContext.cs
Labels: 🌶️ hot chocolate

#7560 Reworked Persisted Operation Options
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/PersistedOperationTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationTests.Ensure_Pooled_Objects_Are_Cleared.md
  src/HotChocolate/Core/src/Execution/Options/IPersistedOperationOptionsAccessor.cs
  src/HotChocolate/Core/src/Execution/Options/PersistedOperationOptions.cs
  src/HotChocolate/Core/src/Execution/Options/RequestExecutorOptions.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OnlyPersistedOperationsAllowedMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/ReadPersistedOperationMiddleware.cs
Labels: 🌶️ hot chocolate

#7559 fusion.md: Clarify when fusion or subgraph app id is required
  website/src/docs/bananacakepop/v2/apis/fusion.md
Labels: 📚 documentation

#7564 Added Codecov configuration file to set the mode to informational
  .github/codecov.yml
Labels: 🧰 maintenance

#7565 Simplified Codecov coverage upload
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: 🧰 maintenance

#7563 Used non-escaped text from XML doc summary for descriptions
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/XmlDocumentationProvider.cs
  src/HotChocolate/Core/test/Types.Tests.Documentation/ClassWithSummary.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/Conventions/XmlDocumentationProviderTests.cs
Labels: 🌶️ hot chocolate

#7567 Pinned Source Generator Packages
  src/HotChocolate/Core/src/Types.Analyzers/HotChocolate.Types.Analyzers.csproj
Labels: 🌶️ hot chocolate

#7568 Website: Cookie Consent Fix
  README.md
  website/src/blog/2024-10-07-introducing-nitro/2024-10-07-introducing-nitro.md
  website/src/components/articles/doc-article-legacy.tsx
  website/src/components/misc/cookie-consent.tsx
Labels: 🌶️ website

#7573 Improved field selection error messages
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/GraphQLOverHttpSpecTests.cs
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.resx
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorBehaviorTests.Property_Return_UnexpectedErrorWithPath.json
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/LeafFieldSelectionsRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/QueryType.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.ScalarSelectionsNotAllowedOnInt.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.SkipDirectiveIsInTheWrongPlace.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Type_query_repeated_6250.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnInterfaceWithoutSubFields.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnInterfaceWithoutSubFieldsEmptySelection.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnObjectWithoutSubFields.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnObjectWithoutSubFieldsEmptySelection.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnUnionWithoutSubFields.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.DirectQueryOnUnionWithoutSubFieldsEmptySelection.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.InterfaceTypeMissingSelection.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.InterfaceTypeMissingSelectionEmptySelection.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedOnBoolean.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedOnEnum.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedOnListOfListOfScalars.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedOnListOfScalars.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedWithArgs.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedWithDirectives.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionNotAllowedWithDirectivesAndArgs.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/LeafFieldSelectionsRuleTests.ScalarSelectionsNotAllowedOnInt.snap
Labels: 🌶️ hot chocolate

#7576 Removed unnecessary Service attribute usage from v14 documentation
  website/src/docs/hotchocolate/v14/api-reference/apollo-federation.md
  website/src/docs/hotchocolate/v14/api-reference/executable.md
  website/src/docs/hotchocolate/v14/defining-a-schema/relay.md
  website/src/docs/hotchocolate/v14/defining-a-schema/subscriptions.md
  website/src/docs/hotchocolate/v14/fetching-data/dataloader.md
  website/src/docs/hotchocolate/v14/fetching-data/fetching-from-databases.md
  website/src/docs/hotchocolate/v14/fetching-data/fetching-from-rest.md
  website/src/docs/hotchocolate/v14/fetching-data/filtering.md
  website/src/docs/hotchocolate/v14/fetching-data/pagination.md
  website/src/docs/hotchocolate/v14/fetching-data/projections.md
  website/src/docs/hotchocolate/v14/fetching-data/resolvers.md
  website/src/docs/hotchocolate/v14/fetching-data/sorting.md
  website/src/docs/hotchocolate/v14/integrations/mongodb.md
Labels: 📚 documentation

#7578 Added more overloads for list selects.
  src/GreenDonut/src/Core/DataLoaderFetchContext.cs
  src/GreenDonut/src/Core/Projections/DefaultSelectorBuilder.cs
  src/GreenDonut/src/Core/Projections/SelectionDataLoaderExtensions.cs
  src/HotChocolate/Core/src/Execution/Extensions/HotChocolateExecutionSelectionExtensions.cs
  src/HotChocolate/Core/src/Execution/Projections/HotChocolateExecutionDataLoaderExtensions.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/DataLoaderFileBuilder.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/ProjectableDataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Project_Key_To_Collection_Expression_Integration.md
  src/HotChocolate/Pagination/src/Pagination.Batching/Extensions/HotChocolatePaginationBatchingDataLoaderExtensions.cs
  src/HotChocolate/Pagination/src/Pagination.EntityFramework/Extensions/PagingQueryableExtensions.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7580 Added migration section for MutationResult -> FieldResult
  website/src/docs/hotchocolate/v14/migrating/migrate-from-13-to-14.md
Labels: 📚 documentation

#7581 Allow branching on paging and selection DataLoader.
  src/GreenDonut/src/Core/Projections/SelectionDataLoader.cs
  src/GreenDonut/src/Core/Projections/SelectionDataLoaderExtensions.cs
  src/HotChocolate/Core/src/Execution/Projections/HotChocolateExecutionDataLoaderExtensions.cs
  src/HotChocolate/Pagination/src/Pagination.Batching/Extensions/HotChocolatePaginationBatchingDataLoaderExtensions.cs
  src/HotChocolate/Pagination/src/Pagination.Batching/PagingDataLoader.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/PagingHelperIntegrationTests.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7582 Added migration section for IOperationDocumentStorage
  website/src/docs/hotchocolate/v14/migrating/migrate-from-13-to-14.md
Labels: 📚 documentation

#7583 Removed Startup class usage from documentation
  website/src/docs/hotchocolate/v14/api-reference/apollo-federation.md
  website/src/docs/hotchocolate/v14/api-reference/error-filter.md
  website/src/docs/hotchocolate/v14/api-reference/extending-filtering.md
  website/src/docs/hotchocolate/v14/defining-a-schema/arguments.md
  website/src/docs/hotchocolate/v14/defining-a-schema/directives.md
  website/src/docs/hotchocolate/v14/defining-a-schema/documentation.md
  website/src/docs/hotchocolate/v14/defining-a-schema/dynamic-schemas.md
  website/src/docs/hotchocolate/v14/defining-a-schema/enums.md
  website/src/docs/hotchocolate/v14/defining-a-schema/extending-types.md
  website/src/docs/hotchocolate/v14/defining-a-schema/input-object-types.md
  website/src/docs/hotchocolate/v14/defining-a-schema/interfaces.md
  website/src/docs/hotchocolate/v14/defining-a-schema/mutations.md
  website/src/docs/hotchocolate/v14/defining-a-schema/object-types.md
  website/src/docs/hotchocolate/v14/defining-a-schema/queries.md
  website/src/docs/hotchocolate/v14/defining-a-schema/relay.md
  website/src/docs/hotchocolate/v14/defining-a-schema/scalars.md
  website/src/docs/hotchocolate/v14/defining-a-schema/subscriptions.md
  website/src/docs/hotchocolate/v14/defining-a-schema/unions.md
  website/src/docs/hotchocolate/v14/defining-a-schema/versioning.md
  website/src/docs/hotchocolate/v14/fetching-data/fetching-from-databases.md
  website/src/docs/hotchocolate/v14/fetching-data/fetching-from-rest.md
  website/src/docs/hotchocolate/v14/fetching-data/filtering.md
  website/src/docs/hotchocolate/v14/fetching-data/pagination.md
  website/src/docs/hotchocolate/v14/fetching-data/projections.md
  website/src/docs/hotchocolate/v14/fetching-data/resolvers.md
  website/src/docs/hotchocolate/v14/fetching-data/sorting.md
  website/src/docs/hotchocolate/v14/integrations/marten.md
  website/src/docs/hotchocolate/v14/integrations/mongodb.md
  website/src/docs/hotchocolate/v14/integrations/spatial-data.md
  website/src/docs/hotchocolate/v14/migrating/migrate-from-13-to-14.md
  website/src/docs/hotchocolate/v14/performance/index.md
  website/src/docs/hotchocolate/v14/security/authentication.md
  website/src/docs/hotchocolate/v14/security/authorization.md
  website/src/docs/hotchocolate/v14/server/dependency-injection.md
  website/src/docs/hotchocolate/v14/server/endpoints.md
  website/src/docs/hotchocolate/v14/server/files.md
  website/src/docs/hotchocolate/v14/server/instrumentation.md
  website/src/docs/hotchocolate/v14/server/interceptors.md
  website/src/docs/hotchocolate/v14/server/introspection.md
Labels: 📚 documentation

#7584 Refined Slicing Argument Validation
  src/HotChocolate/CostAnalysis/src/CostAnalysis/Utilities/CostAnalyzerUtilities.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/SlicingArgumentsTests.cs
Labels: 🌶️ hot chocolate

#7585 [Fusion] Support type-system directives
  src/HotChocolate/Core/src/Types/Types/Extensions/DirectiveLocationExtensions.cs
  src/HotChocolate/Fusion/src/Abstractions/FusionTypeBaseNames.cs
  src/HotChocolate/Fusion/src/Abstractions/FusionTypeNames.cs
  src/HotChocolate/Fusion/src/Composition/Extensions/ComplexTypeMergeExtensions.cs
  src/HotChocolate/Fusion/src/Composition/Extensions/InputObjectMergeExtensions.cs
  src/HotChocolate/Fusion/src/Composition/Extensions/MergeExtensions.cs
  src/HotChocolate/Fusion/src/Composition/FusionGraphComposer.cs
  src/HotChocolate/Fusion/src/Composition/FusionTypes.cs
  src/HotChocolate/Fusion/src/Composition/HotChocolate.Fusion.Composition.csproj
  src/HotChocolate/Fusion/src/Composition/LogEntryHelper.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeEntityMiddleware.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeHandler/EnumTypeMergeHandler.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeHandler/InputObjectTypeMergeHandler.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeHandler/InterfaceTypeMergeHandler.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeHandler/ScalarTypeMergeHandler.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeHandler/UnionTypeMergeHandler.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeQueryAndMutationTypeMiddleware.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeSchemaDefinitionMiddleware.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeSubscriptionTypeMiddleware.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeTypeMiddleware.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/PrepareFusionSchemaMiddleware.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/RemoveDirectivesWithoutLocationMiddleware.cs
  src/HotChocolate/Fusion/src/Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion/src/Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion/src/Core/HotChocolate.Fusion.csproj
  src/HotChocolate/Fusion/test/Composition.Tests/DirectiveTests.cs
  src/HotChocolate/Fusion/test/Shared/TestSubgraph.cs
  src/HotChocolate/Fusion/test/Shared/TestSubgraphCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/DeprecatedDirectiveDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/IncludeDirectiveDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/SkipDirectiveDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/DirectiveDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/Extensions/DirectiveLocationExtensions.cs
  src/HotChocolate/Skimmed/src/Skimmed/Serialization/SchemaParser.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review, Area: Fusion

#7587 Added the other NuGet packages to the Nitro migration section
  website/src/docs/hotchocolate/v14/migrating/migrate-from-13-to-14.md
Labels: 📚 documentation

#7590 Fixed incorrect handling of IntermediateOutputPath by using GraphQLCodeGenerationRoot consistently
  src/StrawberryShake/MetaPackages/Common/MSBuild/StrawberryShake.targets
Labels: 🌶️ strawberry shake

#7593 Fixed issue with global context data being disposed to early.
  src/HotChocolate/Core/src/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Core/src/Execution/RequestExecutor.cs
  src/HotChocolate/Core/test/Execution.Tests/DeferAndStreamTestSchema.cs
  src/HotChocolate/Core/test/Execution.Tests/DeferTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.Ensure_GlobalState_Is_Passed_To_DeferContext_Single_Defer.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.Ensure_GlobalState_Is_Passed_To_DeferContext_Stacked_Defer.snap
Labels: 🌶️ hot chocolate

#7589 Added predicates to DataLoader
  global.json
  src/GreenDonut/src/Core/DataLoaderFetchContext.cs
  src/GreenDonut/src/Core/Experiments.cs
  src/GreenDonut/src/Core/ExpressionHelpers.cs
  src/GreenDonut/src/Core/Predicates/DefaultPredicateBuilder.cs
  src/GreenDonut/src/Core/Predicates/IPredicateBuilder.cs
  src/GreenDonut/src/Core/Predicates/IPredicateDataLoader.cs
  src/GreenDonut/src/Core/Predicates/PredicateDataLoader.cs
  src/GreenDonut/src/Core/Predicates/PredicateDataLoaderExtensions.cs
  src/GreenDonut/src/Core/Selectors/DefaultSelectorBuilder.cs
  src/GreenDonut/src/Core/Selectors/ISelectionDataLoader.cs
  src/GreenDonut/src/Core/Selectors/ISelectorBuilder.cs
  src/GreenDonut/src/Core/Selectors/KeyValueResult.cs
  src/GreenDonut/src/Core/Selectors/SelectionDataLoader.cs
  src/GreenDonut/src/Core/Selectors/SelectionDataLoaderExtensions.cs
  src/HotChocolate/Core/src/Execution/Experiments.cs
  src/HotChocolate/Core/src/Execution/Projections/HotChocolateExecutionDataLoaderExtensions.cs
  src/HotChocolate/Core/src/Execution/Projections/HotChocolateExecutionSelectionExtensions.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/DataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/DataLoaderParameterKind.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownTypes.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/ProjectableDataLoaderTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Types/DataLoaders.cs
  src/HotChocolate/Data/src/Data/Filters/Context/FilterContext.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterContext.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableFilterProvider.cs
  src/HotChocolate/Data/src/Data/Filters/Extensions/HotChocolateExecutionPredicateDataLoaderExtensions.cs
  src/HotChocolate/Data/src/Data/HotChocolate.Data.csproj
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/DataLoaderTests.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/HotChocolate.Data.Filters.SqlServer.Tests.csproj
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/TestContext/Brand.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/TestContext/CatalogContext.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/TestContext/EntityConfigurations/BrandEntityTypeConfiguration.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/TestContext/EntityConfigurations/ProductEntityTypeConfiguration.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/TestContext/EntityConfigurations/ProductTypeEntityTypeConfiguration.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/TestContext/Product.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/TestContext/ProductImage.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/TestContext/ProductType.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/DataLoaderTests.Filter_With_Expression.md
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/DataLoaderTests.Filter_With_Expression_Null.md
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/DataLoaderTests.Filter_With_Filtering.md
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/DataLoaderTests.Filter_With_Multi_Expression.md
  src/HotChocolate/Pagination/src/Pagination.Batching/Extensions/HotChocolatePaginationBatchingDataLoaderPredicateExtensions.cs
  src/HotChocolate/Pagination/src/Pagination.Batching/Extensions/HotChocolatePaginationBatchingDataLoaderSelectorExtensions.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/InterfaceIntegrationTests.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/PagingHelperIntegrationTests.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7595 Removed Apollo Tracing documentation
  website/src/docs/hotchocolate/v14/server/index.md
  website/src/docs/hotchocolate/v14/server/instrumentation.md
Labels: 📚 documentation

#7594 Updated instructions for disabling cost limit enforcement
  website/src/docs/hotchocolate/v14/security/cost-analysis.md
Labels: 📚 documentation

#7596 Added event hook for document not found in storage.
  src/HotChocolate/Core/src/Execution/Instrumentation/AggregateExecutionDiagnosticEvents.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/ExecutionDiagnosticEventListener.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/IExecutionDiagnosticEvents.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/NoopExecutionDiagnosticEvents.cs
  src/HotChocolate/Core/src/Execution/Pipeline/PersistedOperationNotFoundMiddleware.cs
Labels: 🌶️ hot chocolate

#7597 Updated Nitro to 20.0.2
  src/HotChocolate/Directory.Build.props
Labels: 🌶️ hot chocolate

#7608 Updated packages
  src/Directory.Packages.props
  src/StrawberryShake/Client/test/Persistence.SQLite.Tests/StrawberryShake.Persistence.SQLite.Tests.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/StrawberryShake.CodeGeneration.CSharp.Tests.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Razor.Tests/StrawberryShake.CodeGeneration.Razor.Tests.csproj
Labels: 🌶️ strawberry shake

#7610 Fixed issue with predicates and selectors in generated DataLoader.
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/DataLoaderFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownTypes.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/DataLoaderTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_PredicateBuilder_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_SelectorBuilder_MatchesSnapshot.md
Labels: 🌶️ hot chocolate

#7611 Fixed issue with global state when using deferred execution and scoped services.
  src/HotChocolate/Core/src/Execution/IRequestContext.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Core/src/Execution/RequestContext.cs
  src/HotChocolate/Core/src/Execution/RequestExecutor.cs
  src/HotChocolate/Core/test/Execution.Tests/DeferAndStreamTestSchema.cs
  src/HotChocolate/Core/test/Execution.Tests/DeferTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/DeferTests.Ensure_GlobalState_Is_Passed_To_DeferContext_Single_Defer_2.md
Labels: 🌶️ hot chocolate

#7612 Ensures that FieldResult<T> has errors declared.
  src/HotChocolate/Core/src/Types/Configuration/Validation/EnsureFieldResultsDeclareErrorsRule.cs
  src/HotChocolate/Core/src/Types/Configuration/Validation/SchemaValidator.cs
  src/HotChocolate/Core/test/Types.Queries.Tests/CodeFirstSchemaTests.cs
  src/HotChocolate/Core/test/Types.Queries.Tests/__snapshots__/CodeFirstSchemaTests.FieldResult_With_Errors_Are_Valid.graphql
  src/HotChocolate/Core/test/Types.Queries.Tests/__snapshots__/CodeFirstSchemaTests.Throw_SchemaError_When_FieldResult_Has_No_Errors.snap
  src/HotChocolate/Core/test/Types.Queries.Tests/__snapshots__/CodeFirstSchemaTests.Throw_SchemaError_When_FieldResult_Has_No_Errors_1.snap
  src/HotChocolate/Core/test/Types.Queries.Tests/__snapshots__/CodeFirstSchemaTests.Throw_SchemaError_When_FieldResult_Has_No_Errors_2.snap
  src/HotChocolate/Core/test/Types.Queries.Tests/__snapshots__/CodeFirstSchemaTests.Throw_SchemaError_When_FieldResult_Has_No_Errors_3.snap
Labels: 🌶️ hot chocolate

#7603 Added required keyed services breaking change to migration guide
  website/src/docs/hotchocolate/v14/migrating/migrate-from-13-to-14.md
Labels: 📚 documentation

#7614 Enable AOT Analyzer for Fusion
  src/HotChocolate/Fusion/src/Fusion.Execution/HotChocolate.Fusion.Execution.csproj
  src/HotChocolate/Fusion/src/Fusion.Execution/Types/CompositeSchema.cs
  src/HotChocolate/Skimmed/src/Directory.Build.props
Labels: 🌶️ hot chocolate

#7640 Fixed issue that is caused by an internal predicate builder.
  src/GreenDonut/src/Core/Predicates/DefaultPredicateBuilder.cs
Labels: 🌶️ green donut

#7637 Updated the Security section in the v14 blog post
  website/src/blog/2024-08-30-hot-chocolate-14/2024-08-30-hot-chocolate-14.md
Labels: 🌶️ website

#7634 Added migration sections for Dependency Injection and Entity Framework
  website/src/docs/hotchocolate/v14/migrating/migrate-from-13-to-14.md
Labels: 📚 documentation

#7619 Removed HotChocolate.Types.FSharp
  .build/Build.Environment.cs
  .build/Build.Publish.cs
  src/Directory.Packages.props
  src/HotChocolate/Core/HotChocolate.Core.sln
  src/HotChocolate/Core/src/Types.FSharp/DependencyInjection.fs
  src/HotChocolate/Core/src/Types.FSharp/HotChocolate.Types.FSharp.fsproj
  src/HotChocolate/Core/src/Types.FSharp/OptionTypeConverter.fs
  src/HotChocolate/Core/src/Types/Internal/TypeInfo.RuntimeType.cs
  src/HotChocolate/Core/test/Types.FSharp.Test/HotChocolate.Types.FSharp.Test.fsproj
  src/HotChocolate/Core/test/Types.FSharp.Test/OptionConverterTests.fs
  src/HotChocolate/Core/test/Types.FSharp.Test/SchemaTests.fs
  src/HotChocolate/Core/test/Types.FSharp.Test/__snapshots__/SchemaTests.Schema can be resolved.snap
  src/Nullable.props
Labels: 🧰 maintenance, 🌶️ hot chocolate

#7616 Updated the issue templates to set the type instead of applying a label
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: 🧰 maintenance

#7647 Fixed issue that caused compile errors on generated DataLoader code.
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/DataLoaderFileBuilder.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.DataLoader_With_Optional_Lookup.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_IDictionary_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_Nullable_Result_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_Group_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_Group_Only_On_Class_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_Group_Only_On_Method_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_Lookup_From_OtherType_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_Lookup_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_Optional_State_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_PagingArguments_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_PredicateBuilder_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_Required_State_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_SelectorBuilder_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_State_With_Default_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_CacheDataLoader_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_GroupedDataLoader_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.Generate_Without_Interface.md
Labels: 🌶️ hot chocolate

#7645 Fixed typos in dataloader docs / improve grammatical consistency
  website/src/docs/hotchocolate/v11/fetching-data/dataloader.md
  website/src/docs/hotchocolate/v12/fetching-data/dataloader.md
  website/src/docs/hotchocolate/v13/fetching-data/dataloader.md
  website/src/docs/hotchocolate/v14/fetching-data/dataloader.md
Labels: 📚 documentation

#7604 Updated the Dependency Injection and Entity Framework documentation
  website/src/docs/hotchocolate/v14/integrations/entity-framework.md
  website/src/docs/hotchocolate/v14/server/dependency-injection.md
Labels: 📚 documentation

#7657 Fixed issue that closed stream when using StreamWriter in SyntaxPrinter.PrintToAsync
  src/HotChocolate/Language/src/Language.SyntaxTree/Utilities/SyntaxPrinter.cs
  src/HotChocolate/PersistedOperations/test/PersistedOperations.FileSystem.Tests/IntegrationTests.cs
  src/HotChocolate/PersistedOperations/test/PersistedOperations.FileSystem.Tests/__snapshots__/IntegrationTests.ExecuteAutomaticPersistedOperation.snap
Labels: 🌶️ hot chocolate

#7622 Mark v14 docs as stable
  website/config/conf.d/default.conf
  website/src/docs/docs.json
Labels: 🌶️ website, 👓 ready-for-review

#7661 Added missing ParallelExecutable flag to node and nodes fields
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/DataLoaderTests.cs
Labels: 🌶️ hot chocolate

#7643 [Fusion] Fixed composition of spec directives
  src/HotChocolate/Fusion/src/Composition/Extensions/MergeExtensions.cs
  src/HotChocolate/Fusion/src/Composition/FusionTypes.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/MergeTypeMiddleware.cs
  src/HotChocolate/Fusion/test/Composition.Tests/DirectiveTests.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/BooleanTypeDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/BuiltIns.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/DeprecatedDirectiveDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/FloatTypeDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/IDTypeDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/IncludeDirectiveDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/IntTypeDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/SkipDirectiveDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/SpecifiedByDirectiveDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/BuiltIns/StringTypeDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/Serialization/SchemaFormatter.cs
  src/HotChocolate/Skimmed/src/Skimmed/Serialization/SchemaParser.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review
