Repository ChilliCream/graphql-platform, pull requests merged in 2024-03, with the labels that each got.

#6951 Introduce optimized persisted query pipeline.
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/EndpointRouteBuilderExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreHostingBuilderExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpGetMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpMultipartMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpPostMiddlewareBase.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/MiddlewareBase.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/MiddlewareHelper.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/PersistedQueryMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpRequestParser.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/IHttpRequestParser.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/PersistedQueryCache.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/ServerTestBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/TestServerExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/PersistedQueryMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedQueryMiddlewareTests.ExecutePersistedQuery_HttpPost_Empty_Body_InvalidId.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedQueryMiddlewareTests.ExecutePersistedQuery_HttpPost_Empty_Body_NotFound.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedQueryMiddlewareTests.ExecutePersistedQuery_HttpPost_Empty_Body_Success.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedQueryMiddlewareTests.ExecutePersistedQuery_HttpPost_With_Variables_Success.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedQueryMiddlewareTests.ExecutePersistedQuery_InvalidId.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedQueryMiddlewareTests.ExecutePersistedQuery_NotFound.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedQueryMiddlewareTests.ExecutePersistedQuery_Success.md
  src/HotChocolate/Core/src/Execution/RequestExecutorProxy.cs
  src/HotChocolate/Language/src/Directory.Build.props
  src/HotChocolate/Language/src/Language.Web/Utf8GraphQLRequestParser.cs
Labels: 🌶️ hot chocolate

#6957 IsSelected Refinements
  src/HotChocolate/Core/src/Execution/Processing/EmptySelectionCollection.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Global.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Selection.cs
  src/HotChocolate/Core/src/Execution/Processing/SelectionCollection.cs
  src/HotChocolate/Core/src/Types/Extensions/ResolverContextExtensions.cs
  src/HotChocolate/Core/src/Types/Resolvers/DefaultResolverCompiler.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/IsSelectedParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/IResolverContext.cs
  src/HotChocolate/Core/src/Types/Resolvers/ISelectionCollection.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/IsSelectedAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ArgumentDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DescriptorContext.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/IDescriptorContext.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DirectiveArgumentDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DirectiveTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/EnumTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/EnumValueDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InputFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InputObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/UnionTypeDescriptor.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/QueryableCursorPagingProviderTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/IsSelectedTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/IsSelectedTests.Select_Category_Level_1.md
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/IsSelectedTests.Select_Category_Level_2.md
  src/HotChocolate/Data/src/Data/Filters/FilterFieldDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/FilterInputTypeDescriptor.cs
  src/HotChocolate/Data/src/Data/Filters/FilterOperationFieldDescriptor.cs
  src/HotChocolate/Data/src/Data/Projections/Extensions/ProjectionObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Sorting/SortEnumTypeDescriptor.cs
  src/HotChocolate/Data/src/Data/Sorting/SortFieldDescriptor.cs
  src/HotChocolate/Data/src/Data/Sorting/SortInputTypeDescriptor.cs
Labels: 🌶️ hot chocolate

#6956 Fixed pattern entity enricher for batch resolvers.
  src/HotChocolate/Fusion/src/Composition/Pipeline/Enrichers/PatternEntityEnricher.cs
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.Accounts_And_Reviews_Infer_Patterns.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.Accounts_And_Reviews_Products_AutoCompose_With_Node.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/RequireTests.Require_Scalar_Arguments_No_Overloads.graphql
Labels: 🌶️ hot chocolate

#6922 DefaultValue attribute on an input object doesn't get applied (#6897)
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/DefaultValueTests.cs
  src/HotChocolate/Core/src/Abstractions/Optional.cs
  src/HotChocolate/Core/test/Abstractions.Tests/OptionalTests.cs
Labels: 🌶️ hot chocolate

#6961 Fixed GreenDonut standalone DI configuration.
  src/GreenDonut/src/Core/DependencyInjection/DataLoaderServiceCollectionExtension.cs
  src/GreenDonut/src/Core/DependencyInjection/IDataLoaderScope.cs
Labels: 🌶️ green donut

#6962 Fixed DataLoader DeadLock in tests.
  src/GreenDonut/src/Core/GreenDonut.csproj
  src/GreenDonut/test/Core.Tests/DataLoaderTests.cs
  src/GreenDonut/test/Core.Tests/GreenDonut.Tests.csproj
  src/GreenDonut/test/Core.Tests/ManualBatchScheduler.cs
Labels: 🌶️ green donut

#6964 Added missing this to AddGraphQL extension method
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreHostingBuilderExtensions.cs
Labels: 🌶️ hot chocolate

#6969 Adds documentation for deployments
  website/src/docs/bananacakepop/v2/apis/deployments.md
  website/src/docs/bananacakepop/v2/apis/images/deployments-0.png
  website/src/docs/bananacakepop/v2/apis/images/deployments-1.png
  website/src/docs/barista/v1/commands/client.md
  website/src/docs/barista/v1/commands/fusion-configuration.md
  website/src/docs/barista/v1/commands/schema.md
  website/src/docs/docs.json
Labels: 📚 documentation, 🌶️ website

#6976 Added Service Discovery to Gateway.
  src/HotChocolate/Fusion/src/Abstractions/Composition/HttpClientConfiguration.cs
  src/HotChocolate/Fusion/src/Abstractions/Composition/JsonElementExtensions.cs
  src/HotChocolate/Fusion/src/Abstractions/Composition/SubgraphConfigJson.cs
  src/HotChocolate/Fusion/src/Abstractions/Composition/SubgraphConfigJsonSerializer.cs
  src/HotChocolate/Fusion/src/Abstractions/Composition/SubgraphConfiguration.cs
  src/HotChocolate/Fusion/src/Abstractions/Composition/WebSocketClientConfiguration.cs
  src/HotChocolate/Fusion/src/Abstractions/IClientConfiguration.cs
  src/HotChocolate/Fusion/src/Composition/CompositionContext.cs
  src/HotChocolate/Fusion/src/Composition/FusionGraphComposer.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/IMergeMiddleware.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/ParseSubGraphSchemaMiddleware.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Fusion/src/Core/Metadata/ConfigurationRewriter.cs
  src/HotChocolate/Fusion/src/Core/Metadata/ServiceDiscoveryConfigurationRewriter.cs
Labels: 🌶️ hot chocolate

#6980 Fixed issue that wrongly inferrs arguments as services.
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/InferredServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/Cancellation/CancellationTests.cs
  src/HotChocolate/Core/test/Types.Tests/CodeFirstTests.cs
  src/HotChocolate/Core/test/Utilities/TestHelper.cs
Labels: 🌶️ hot chocolate

#6989 Fixed Missing Aspire Package
  global.json
  src/HotChocolate/Fusion/src/Aspire/Extensions/FusionExtensions.cs
Labels: 🌶️ hot chocolate

#6991 Restructured Fusion Packages
  src/HotChocolate/Fusion/src/Aspire.Analyzers/ConfigurationGenerator.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Helpers/CodeWriter.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Helpers/CodeWriterExtensions.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Helpers/StringBuilderPool.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Helpers/SymbolExtensions.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/HotChocolate.Fusion.Aspire.Analyzers.csproj
  src/HotChocolate/Fusion/src/Aspire.Analyzers/HotChocolate.Fusion.Aspire.Analyzers.targets
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Models/GatewayClass.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Models/GatewayInfo.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Models/ISyntaxInfo.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Models/SubgraphClass.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Models/SubgraphInfo.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Properties/AnalyzerResources.Designer.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Properties/AnalyzerResources.resx
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Properties/launchSettings.json
  src/HotChocolate/Fusion/src/Aspire.Analyzers/WellKnownTypeNames.cs
  src/HotChocolate/Fusion/src/Aspire/HotChocolate.Fusion.Aspire.csproj
  src/HotChocolate/Fusion/test/Aspire.Analyzers.Tests/HotChocolate.Fusion.Aspire.Analyzers.Tests.csproj
  src/HotChocolate/Fusion/test/Aspire.Analyzers.Tests/Program.cs
  src/HotChocolate/Fusion/test/Aspire.Analyzers.Tests/Projects.cs
  src/HotChocolate/Fusion/test/Aspire.Analyzers.Tests/Test.cs
  templates/StarWars/content/StarWars.csproj
  templates/v12/function-isolated/HotChocolate.Template.AzureFunctions.Isolated.csproj
  templates/v12/function/HotChocolate.Template.AzureFunctions.csproj
  templates/v12/gateway-bcp/HotChocolate.Template.Gateway.Managed.csproj
  templates/v12/gateway/HotChocolate.Template.Gateway.csproj
  templates/v12/server/HotChocolate.Template.Server.csproj
Labels: 🌶️ hot chocolate

#6988 Rename file to match standard naming scheme
  src/HotChocolate/Data/src/Data/Projections/Extensions/ProjectionDescriptorContextExtensions.cs
Labels: 🌶️ hot chocolate

#7000 Automatically Create Subgraph Config for Aspire.
  src/HotChocolate/Fusion/src/Aspire/Composition/FusionGatewayConfigurationHelper.cs
Labels: 🌶️ hot chocolate

#7001 Return status codes from Fusion CLI commands
  src/HotChocolate/Fusion/src/CommandLine/Commands/ComposeCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/ExportGraphCommand.cs
  src/HotChocolate/Fusion/src/CommandLine/Commands/SubgraphPackCommand.cs
Labels: 🌶️ hot chocolate

#7002 End successfully after aspire compose.
  src/HotChocolate/Fusion/src/Aspire.Analyzers/ConfigurationGenerator.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Properties/AnalyzerResources.Designer.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Properties/AnalyzerResources.resx
Labels: 🌶️ hot chocolate

#7003 Write Fusion CLI error logs to stderr
  src/HotChocolate/Fusion/src/CommandLine/Commands/ComposeCommand.cs
Labels: 🌶️ hot chocolate

#7009 Added new ObjectTypeAttribute<T> Feature.
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationVersion.cs
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Execution/Processing/PathHelper.cs
  src/HotChocolate/Core/src/Types.Analyzers/Errors.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ModuleSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ObjectTypeExtensionSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/OperationFieldSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/RequestMiddlewareSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/CodeWriterExtensions.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ClassBaseClassInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ObjectTypeExtensionInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ObjectTypeExtensionInfoInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/RequestMiddlewareInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/SyntaxInfoComparer.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeAttributeInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeExtensionInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/MiddlewareGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/TypeModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/TypesGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownAttributes.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownFileNames.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/ObjectTypeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/ObjectType~1.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/AnnotationBasedSchemaTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Person.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/PersonLastName.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/SomeRequestMiddleware.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/SchemaTests.SchemaSnapshot.md
  src/HotChocolate/Fusion/src/Core/Metadata/ServiceDiscoveryConfigurationRewriter.cs
  src/HotChocolate/Language/src/Language.Web/DocumentHashProviderBase.cs
Labels: 🌶️ hot chocolate

#7011 Fix Fusion Non-Null propagation
  src/HotChocolate/Core/src/Execution/Processing/ValueCompletion.List.cs
  src/HotChocolate/Fusion/src/Core/Execution/ExecutorUtils.cs
  src/HotChocolate/Fusion/src/Core/Execution/Nodes/QueryPlan.cs
  src/HotChocolate/Fusion/src/Core/Execution/NonNullPropagateException.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ErrorTests.Accounts_Offline_Author_NonNull.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ErrorTests.Accounts_Offline_Author_Nullable.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ErrorTests.Accounts_Offline_Reviews_ListElement_Nullable.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/ErrorTests.Internal_Server_Error_On_Root_Field.snap
Labels: 🌶️ hot chocolate

#7021 Removed Aspire Analyzer Dependency.
  src/HotChocolate/Fusion/HotChocolate.Fusion.sln
  src/HotChocolate/Fusion/src/Aspire.Analyzers/ConfigurationGenerator.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Helpers/CodeWriter.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Helpers/CodeWriterExtensions.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Helpers/StringBuilderPool.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Helpers/SymbolExtensions.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/HotChocolate.Fusion.Aspire.Analyzers.csproj
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Models/GatewayClass.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Models/GatewayInfo.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Models/ISyntaxInfo.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Models/SubgraphClass.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Models/SubgraphInfo.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Properties/AnalyzerResources.Designer.cs
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Properties/AnalyzerResources.resx
  src/HotChocolate/Fusion/src/Aspire.Analyzers/Properties/launchSettings.json
  src/HotChocolate/Fusion/src/Aspire.Analyzers/WellKnownTypeNames.cs
  src/HotChocolate/Fusion/src/Aspire/Aspire/FusionGateway.cs
  src/HotChocolate/Fusion/src/Aspire/Composition/FusionGatewayConfigurationHelper.cs
  src/HotChocolate/Fusion/src/Aspire/Composition/GatewayInfo.cs
  src/HotChocolate/Fusion/src/Aspire/Composition/SubgraphInfo.cs
  src/HotChocolate/Fusion/src/Aspire/Extensions/FusionExtensions.cs
  src/HotChocolate/Fusion/src/Aspire/HotChocolate.Fusion.Aspire.csproj
  src/HotChocolate/Fusion/src/Aspire/HotChocolate.Fusion.Aspire.targets
  src/HotChocolate/Fusion/test/Aspire.Analyzers.Tests/HotChocolate.Fusion.Aspire.Analyzers.Tests.csproj
Labels: 🌶️ hot chocolate

#7027 Add Fusion diagnostic events
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Fusion/src/Core/Execution/Diagnostic/AggregateFusionDiagnosticEvents.cs
  src/HotChocolate/Fusion/src/Core/Execution/Diagnostic/FusionDiagnosticEventListener.cs
  src/HotChocolate/Fusion/src/Core/Execution/Diagnostic/IFusionDiagnosticEventListener.cs
  src/HotChocolate/Fusion/src/Core/Execution/Diagnostic/IFusionDiagnosticEvents.cs
  src/HotChocolate/Fusion/src/Core/Execution/Diagnostic/NoopFusionDiagnosticEvents.cs
  src/HotChocolate/Fusion/src/Core/Execution/FederatedQueryContext.cs
  src/HotChocolate/Fusion/src/Core/Execution/Nodes/QueryPlan.cs
  src/HotChocolate/Fusion/src/Core/Execution/Nodes/Resolve.cs
  src/HotChocolate/Fusion/src/Core/Execution/Nodes/ResolveByKeyBatch.cs
  src/HotChocolate/Fusion/src/Core/Execution/Pipeline/OperationExecutionMiddleware.cs
Labels: 🌶️ hot chocolate
