Repository ChilliCream/graphql-platform, pull requests merged in 2024-12, with the labels that each got.

#7785 [Fusion vNext] Add plan serialization
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/IOperationPlanNodeProvider.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/IPlanNodeProvider.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/ISerializablePlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/OperationPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/PlanNodeKind.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/RootPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/SerializationHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationVariableBinder.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/OperationPlannerTests.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#7789 Adds Fusion Documentation
  website/src/docs/docs.json
  website/src/docs/fusion/v14/assets/fusion-overview-1.png
  website/src/docs/fusion/v14/assets/nitro-0.webp
  website/src/docs/fusion/v14/assets/quick-start-1.png
  website/src/docs/fusion/v14/assets/quick-start-2.png
  website/src/docs/fusion/v14/assets/quick-start-3.png
  website/src/docs/fusion/v14/assets/telemetry-0.webp
  website/src/docs/fusion/v14/cli.md
  website/src/docs/fusion/v14/devops.md
  website/src/docs/fusion/v14/entities.md
  website/src/docs/fusion/v14/index.md
  website/src/docs/fusion/v14/lookups.md
  website/src/docs/fusion/v14/quick-start.md
  website/src/docs/hotchocolate/v14/fusion/index.md
Labels: 📚 documentation, 🌶️ website

#7762 Update NITRO CLI Documentation
  website/src/docs/docs.json
  website/src/docs/nitro/cli-commands/api-key.md
  website/src/docs/nitro/cli-commands/api.md
  website/src/docs/nitro/cli-commands/client.md
  website/src/docs/nitro/cli-commands/environment.md
  website/src/docs/nitro/cli-commands/pat.md
  website/src/docs/nitro/cli-commands/schema.md
  website/src/docs/nitro/cli-commands/stage.md
  website/src/docs/nitro/cli-commands/workspace.md
  website/src/docs/nitro/cli/automation.md
  website/src/docs/nitro/cli/global-options.md
Labels: 📚 documentation, 🌶️ website

#7790 Fixed Quick Start Guide In the Docs
  website/src/docs/fusion/v14/quick-start.md
Labels: 📚 documentation

#7791 Adds Fusion Aspire Documentation
  website/src/docs/docs.json
  website/src/docs/fusion/v14/aspire.md
Labels: 📚 documentation, 🌶️ website

#7792 Adds fusion node documentation
  website/src/docs/docs.json
  website/src/docs/fusion/v14/index.md
  website/src/docs/fusion/v14/node.md
Labels: 📚 documentation, 🌶️ website

#7787 Added "AddDataLoader<TService, TImplementation>" executor overload that takes a factory
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.DataLoader.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/DataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/__snapshots__/DataLoaderTests.ClassDataLoader_Resolve_From_DependencyInjection_Using_Factory.md
Labels: 🌶️ hot chocolate

#7800 Added support for between both cursors
  src/HotChocolate/Pagination/src/Pagination.EntityFramework/Extensions/PagingQueryableExtensions.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/PagingHelperTests.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/PagingHelperTests.Fetch_First_2_Items_Between.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/PagingHelperTests.Fetch_Last_2_Items_Between.md
Labels: 🌶️ hot chocolate

#7798 Added ability to mark requests as warmup
  src/HotChocolate/Caching/src/Caching/Extensions/QueryCacheRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Core/src/Abstractions/Execution/ExecutionResultKind.cs
  src/HotChocolate/Core/src/Abstractions/Execution/OperationRequestBuilderExtensions.cs
  src/HotChocolate/Core/src/Abstractions/Execution/WarmupExecutionResult.cs
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.UseRequest.cs
  src/HotChocolate/Core/src/Execution/Extensions/WarmupRequestContextExtensions.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OnlyPersistedOperationsAllowedMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/SkipWarmupExecutionMiddleware.cs
  src/HotChocolate/Core/test/Execution.Tests/WarmupRequestTests.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  website/src/docs/docs.json
  website/src/docs/hotchocolate/v15/performance/index.md
  website/src/docs/hotchocolate/v15/server/warmup.md
Labels: 📚 documentation, 🌶️ website, 🌶️ hot chocolate, 👓 ready-for-review

#7795 Corrected AssemblyName/RootNamespace in Fusion-vnext Composition project
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/HotChocolate.Fusion.Composition.csproj
Labels: 🌶️ hot chocolate

#7794 Added CookieCrumble.TUnit to Fusion-vnext
  src/HotChocolate/Fusion-vnext/test/Directory.Build.props
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/FileResource.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/ModuleInitializer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/OperationPlannerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_1_Source_Schema.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_2_Source_Schema.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_3_Source_Schema.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_3_Source_Schema_And_Single_Variable.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/ParsingTests.Test.graphql
Labels: 🌶️ hot chocolate

#7793 Fixed client complete aborting websocket that is sending
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/OperationSession.cs
Labels: 🌶️ hot chocolate

#7802 Fixed unreachable code errors
  src/HotChocolate/Core/test/Execution.Tests/SemanticNonNullTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/FieldMiddlewareTests.cs
  src/HotChocolate/Fusion/test/Shared/Appointments/AppointmentQuery.cs
Labels: 🌶️ hot chocolate

#7803 Added "AddDataLoader<TService, TImplementation>" executor overload that takes a factory
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.DataLoader.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/DataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/__snapshots__/DataLoaderTests.ClassDataLoader_Resolve_From_DependencyInjection_Using_Factory.md
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#7788 [Fusion vNext] Add support for @skip / @include
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/ConditionPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/FieldPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/InlineFragmentPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/OperationPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/PlanNodeKind.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/SelectionPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationVariableBinder.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/ConditionTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/FusionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/OperationPlannerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__resources__/fusion1.graphql
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#7806 Added support for taking between both cursors in ef
  src/HotChocolate/Data/src/EntityFramework/Pagination/EfQueryableCursorPagingHandler.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Pagination.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Pagination.Tests/__snapshots__/IntegrationTests.Paging_Fetch_First_2_Items_Between.md
  src/HotChocolate/Data/test/Data.EntityFramework.Pagination.Tests/__snapshots__/IntegrationTests.Paging_Fetch_Last_2_Items_Between.md
Labels: 🌶️ hot chocolate

#7809 Allowed built-in scalars and directives to be parsed by the SchemaParser
  src/HotChocolate/Skimmed/src/Skimmed/Serialization/SchemaParser.cs
  src/HotChocolate/Skimmed/test/Skimmed.Tests/SchemaParserTests.cs
Labels: 🌶️ hot chocolate

#7807 Added initial structure for Fusion vNext Composition
  dictionary.txt
  src/Directory.Packages.props
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/CompositionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Errors/CompositionError.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Errors/ErrorHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/TypeDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/HotChocolate.Fusion.Composition.csproj
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/CompositionLog.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/Contracts/ICompositionLog.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/Contracts/ILoggingSession.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntry.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogSeverity.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LoggingSession.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidation/PostMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Contracts/IPreMergeValidationRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidationContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/DisallowedInaccessibleElementsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/OutputFieldTypesMergeableRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Results/CompositionResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Results/CompositionResult~1.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SatisfiabilityValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/HotChocolate.Fusion.Composition.Tests.csproj
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/DisallowedInaccessibleElementsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/OutputFieldTypesMergeableRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/ValidationHelperTests.cs
  src/HotChocolate/Skimmed/src/Skimmed/Contracts/ITypeDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/Extensions/TypeExtensions.cs
Labels: 🌶️ hot chocolate

#7804 [Fusion] Add lookup requirements.
  src/Directory.Packages.props
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeAttributeInspector.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/SchemaPrinter.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/DirectiveLocationExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Factories/DirectiveTypeFactory.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/ConditionPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/FieldPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/FieldRequirementPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/IPlanNodeProvider.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/ISerializablePlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/InlineFragmentPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/OperationPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/PlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/PlanNodeKind.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/RootPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/SelectionPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/SerializationHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationVariableBinder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/PlanNodeJsonFormatter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/PlanNodeYamlFormatter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/Completion/CompletionTools.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/Completion/CompositeSchemaBuilder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/Completion/CompositeSchemaContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/CompositeDirective.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/CompositeDirectiveType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/CompositeSchema.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/FieldPath.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/Lookup.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/LookupKind.cs
  src/HotChocolate/Fusion-vnext/test/Directory.Build.props
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/ConditionTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/OperationPlannerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_1_Source_Schema.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_2_Source_Schema.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_3_Source_Schema.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_3_Source_Schema_And_Single_Variable.snap
  src/HotChocolate/Primitives/src/Primitives/DirectiveLocationUtils.cs
  src/HotChocolate/Primitives/src/Primitives/Properties/PrimitivesResources.Designer.cs
  src/HotChocolate/Primitives/src/Primitives/Properties/PrimitivesResources.resx
Labels: 🌶️ hot chocolate

#7816 [Fusion] Enrich Operation Plan Snapshots
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Nodes/RequestPlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationVariableBinder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/PlanNodeJsonFormatter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/PlanNodeYamlFormatter.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Extensions/SnapshotExtensions.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/FusionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/OperationPlannerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_1_Source_Schema.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_2_Source_Schema.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_3_Source_Schema.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_3_Source_Schema_And_Single_Variable.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/__snapshots__/OperationPlannerTests.Plan_With_Conditional_InlineFragment.yaml
Labels: 🌶️ hot chocolate

#7812 Added '@' prefix when exporting directives in Apollo.
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationTypeInterceptor.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/ComposeDirectiveTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ComposeDirectiveTests.ExportDirectiveUsingNameCodeFirst.graphql
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/ComposeDirectiveTests.ExportDirectiveUsingTypeCodeFirst.graphql
Labels: 🌶️ hot chocolate, Area: Apollo Federation

#7819 Fixed source-generated class names
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/GeneratorUtils.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/TestHelper.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/TypeModuleSyntaxGeneratorTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/TypeModuleSyntaxGeneratorTests.GenerateSource_With_Problematic_Assembly_Name_MatchesSnapshot.md
Labels: 🌶️ hot chocolate

#7821 Refactored Fusion Composition validation
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Collections/MultiValueDictionary.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Errors/ErrorHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Events/IEvent.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Events/IEventHandler.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/CompositionLog.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/Contracts/ICompositionLog.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LoggingSession.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Contracts/IPreMergeValidationRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidationContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/DisallowedInaccessibleElementsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/OutputFieldTypesMergeableRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/DisallowedInaccessibleElementsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/OutputFieldTypesMergeableRuleTests.cs
Labels: 🌶️ hot chocolate

#7777 Azure Blob Storage as storage backend for Persisted Operations
  src/Directory.Packages.props
  src/HotChocolate/PersistedOperations/HotChocolate.PersistedOperations.sln
  src/HotChocolate/PersistedOperations/src/PersistedOperations.AzureBlobStorage/AzureBlobOperationDocumentStorage.cs
  src/HotChocolate/PersistedOperations/src/PersistedOperations.AzureBlobStorage/Extensions/HotChocolateAzureBlobStoragePersistedOperationsRequestExecutorBuilderExtensions.cs
  src/HotChocolate/PersistedOperations/src/PersistedOperations.AzureBlobStorage/Extensions/HotChocolateAzureBlobStoragePersistedOperationsServiceCollectionExtensions.cs
  src/HotChocolate/PersistedOperations/src/PersistedOperations.AzureBlobStorage/HotChocolate.PersistedOperations.AzureBlobStorage.csproj
  src/HotChocolate/PersistedOperations/src/PersistedOperations.AzureBlobStorage/Properties/Resources.Designer.cs
  src/HotChocolate/PersistedOperations/src/PersistedOperations.AzureBlobStorage/Properties/Resources.resx
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/AzureBlobStorageOperationDocumentStorageTests.cs
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/HotChocolate.PersistedOperations.AzureBlobStorage.Tests.csproj
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/IntegrationTests.cs
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/ModuleInitializer.cs
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/RequestExecutorBuilderTests.cs
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/ServiceCollectionExtensionsTests.cs
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/__snapshots__/AzureBlobStorageOperationDocumentStorageTests.Read_OperationDocument_From_Storage.snap
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/__snapshots__/AzureBlobStorageOperationDocumentStorageTests.Write_OperationDocument_To_Storage.snap
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/__snapshots__/IntegrationTests.ExecutePersistedOperation.snap
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/__snapshots__/IntegrationTests.ExecutePersistedOperation_NotFound.snap
  src/HotChocolate/PersistedOperations/test/PersistedOperations.AzureBlobStorage.Tests/__snapshots__/ServiceCollectionExtensionsTests.AddAzureBlobStorageOperationDocumentStorage_Services.snap
  website/src/docs/hotchocolate/v15/performance/automatic-persisted-operations.md
  website/src/docs/hotchocolate/v15/performance/persisted-operations.md
Labels: 📚 documentation, 🌶️ hot chocolate

#7831 Ensure that the execution batching provider is disposed.
  src/HotChocolate/Core/src/Fetching/BatchScheduler.cs
  src/HotChocolate/Core/src/Fetching/IBatchHandler.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7826 Adds support for async service scope in request executor
  src/HotChocolate/Core/src/Abstractions/Execution/VariableBatchRequest.cs
  src/HotChocolate/Core/src/Execution/RequestExecutor.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7832 Fixed batching completes before all responses are returned.
  src/HotChocolate/Core/src/Execution/RequestExecutor.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7833 Fixed options monitor race condition.
  src/HotChocolate/Core/src/Execution/Configuration/DefaultRequestExecutorOptionsMonitor.cs
Labels: 🌶️ hot chocolate

#7827 Use the new .NET api to check for nullable reference types
  src/HotChocolate/Core/src/Execution/Projections/SelectionExpressionBuilder.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/ProjectableDataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Branches_Are_Merged.md
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Force_A_Branch.md
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Product_With_Name_And_Brand_With_Name.md
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Product_With_Nullable_Reference_Property_Set_To_Null.md
  src/HotChocolate/Core/test/Execution.Tests/TestContext/Product.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Ensure_Nullable_Connections_Dont_Throw.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Ensure_Nullable_Connections_Dont_Throw_2.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Ensure_Nullable_Connections_Dont_Throw_2_NET9_0.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Ensure_Nullable_Connections_Dont_Throw_NET9_0.md
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7834 Fixed initialization race-condition in generated code.
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ResolverFileBuilder.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/TestMe.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/ObjectTypeTests.GenerateSource_BatchDataLoader_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/ResolverTests.GenerateSource_ResolverWithGlobalStateArgument_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/ResolverTests.GenerateSource_ResolverWithGlobalStateSetStateArgument_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/ResolverTests.GenerateSource_ResolverWithLocalStateArgument_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/ResolverTests.GenerateSource_ResolverWithLocalStateSetStateArgument_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/ResolverTests.GenerateSource_ResolverWithScopedStateArgument_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/ResolverTests.GenerateSource_ResolverWithScopedStateSetStateArgument_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/TypeModuleSyntaxGeneratorTests.GenerateSource_TypeModuleOrdering_MatchesSnapshot.md
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7836 Made AddAuthorizeDirectiveType public for customizations.
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Authorization/Extensions/AuthorizeSchemaBuilderExtensions.cs
Labels: 🍒 cherry-pick

#7839 Updated the XML doc summary for DisallowedInaccessibleElementsRule
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/DisallowedInaccessibleElementsRule.cs
Labels: 🌶️ hot chocolate

#7837 Fixed parameter order in OutputFieldTypesNotMergeable method
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
Labels: 🌶️ hot chocolate

#7840 Added `ValidationHelper.IsExternal` method for Fusion Composition
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
Labels: 🌶️ hot chocolate

#7842 [Fusion] Added pre-merge validation rule `ExternalMissingOnBaseRule`
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/ImmutableArrayExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ExternalMissingOnBaseRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalMissingOnBaseRuleTests.cs
Labels: 🌶️ hot chocolate

#7847 Updated Fusion-vnext test projects to use xUnit v3 instead of TUnit
  src/HotChocolate/Fusion-vnext/test/Directory.Build.props
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/DisallowedInaccessibleElementsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalMissingOnBaseRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/OutputFieldTypesMergeableRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/ValidationHelperTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/ConditionTests/SkipAndIncludeTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/ConditionTests/SkipFragmentTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/ConditionTests/SkipTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/FragmentTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/InlineFragmentTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/LookupRequirementsTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/ModuleInitializer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/OperationPlannerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/InlineFragmentOperationRewriterTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/MergeSelectionSetRewriterTests.cs
Labels: 🌶️ hot chocolate

#7844 [Fusion] Added pre-merge validation rule `ExternalArgumentDefaultMismatch`
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ExternalArgumentDefaultMismatchRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalArgumentDefaultMismatchRuleTests.cs
Labels: 🌶️ hot chocolate

#7857 [docs] Change "two main benefits" to "several benefits"
  website/src/docs/hotchocolate/v14/performance/persisted-operations.md
Labels: 📚 documentation

#7856 [Fusion] Improved composition errors
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/CompositionLog.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/Contracts/ICompositionLog.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ExternalMissingOnBaseRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/OutputFieldTypesMergeableRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/CompositionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/DisallowedInaccessibleElementsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalArgumentDefaultMismatchRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalMissingOnBaseRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/OutputFieldTypesMergeableRuleTests.cs
Labels: 🌶️ hot chocolate

#7862 Updated the documentation to use the `ChilliCream.Nitro.Fusion` package
  website/src/docs/fusion/v14/devops.md
  website/src/docs/nitro/apis/fusion.md
Labels: 📚 documentation

#7863 Access formatters more efficiently.
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
Labels: 🌶️ hot chocolate

#7864 [Fusion] Added pre-merge validation rule "ExternalUnusedRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ExternalUnusedRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownArgumentNames.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalUnusedRuleTests.cs
Labels: 🌶️ hot chocolate

#7865 [Fusion] Added pre-merge validation rule "RootMutationUsedRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/RootMutationUsedRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownTypeNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootMutationUsedRuleTests.cs
Labels: 🌶️ hot chocolate

#7867 Added Fusion Cost Analyzer Improvements.
  src/HotChocolate/Core/src/Types/Configuration/AggregateTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Factories/SchemaSyntaxVisitor.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/CostAnalyzerMiddleware.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/CostTypeInterceptor.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/DependencyInjection/CostAnalyzerRequestExecutorBuilderExtensions.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/Extensions/CostAnalyzerRequestContextExtensions.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/HotChocolate.CostAnalysis.csproj
  src/HotChocolate/CostAnalysis/src/CostAnalysis/Options/CostOptions.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/Options/RequestCostOptions.cs
  src/HotChocolate/Fusion/src/Composition/Extensions/MergeExtensions.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Fusion/test/Composition.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.Accounts_And_Reviews_With_Cost.graphql
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Authors_And_Reviews_And_Products_Introspection.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Authors_And_Reviews_Query_GetUserReviews_Report_Cost.md
  src/HotChocolate/Fusion/test/Shared/Accounts/AccountQuery.cs
  src/HotChocolate/Fusion/test/Shared/DemoProject.cs
  src/HotChocolate/Fusion/test/Shared/DemoProjectSchemaExtensions.cs
  src/HotChocolate/Fusion/test/Shared/Reviews/ReviewsQuery.cs
  src/HotChocolate/Skimmed/src/Skimmed/DirectiveDefinition.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7866 [Fusion] Added pre-merge validation rule "RootQueryUsedRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/RootQueryUsedRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownTypeNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootQueryUsedRuleTests.cs
Labels: 🌶️ hot chocolate

#7868 [Fusion] Added pre-merge validation rule "RootSubscriptionUsedRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/RootSubscriptionUsedRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownTypeNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootSubscriptionUsedRuleTests.cs
Labels: 🌶️ hot chocolate

#7870 [Fusion] Aligned Root(Mutation|Query|Subscription)Used rules with spec
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/RootMutationUsedRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/RootQueryUsedRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/RootSubscriptionUsedRule.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootMutationUsedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootQueryUsedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootSubscriptionUsedRuleTests.cs
Labels: 🌶️ hot chocolate

#7871 [Fusion] Added pre-merge validation rule "KeyFieldsSelectInvalidTypeRule"
  dictionary.txt
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyFieldsSelectInvalidTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyFieldsSelectInvalidTypeRuleTests.cs
Labels: 🌶️ hot chocolate

#7872 [Fusion] Added pre-merge validation rule "KeyDirectiveInFieldsArgumentRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyDirectiveInFieldsArgumentRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyDirectiveInFieldsArgumentRuleTests.cs
Labels: 🌶️ hot chocolate

#7873 [Fusion] Added pre-merge validation rule "KeyFieldsHasArgumentsRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyFieldsHasArgumentsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyFieldsHasArgumentsRuleTests.cs
Labels: 🌶️ hot chocolate

#7874 [Fusion] Added pre-merge validation rule "KeyInvalidFieldsRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyInvalidFieldsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyInvalidFieldsRuleTests.cs
Labels: 🌶️ hot chocolate

#7875 [Fusion] Miscellaneous changes to composition
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/ImmutableArrayExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/DisallowedInaccessibleElementsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalArgumentDefaultMismatchRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalMissingOnBaseRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalUnusedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyDirectiveInFieldsArgumentRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyFieldsHasArgumentsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyFieldsSelectInvalidTypeRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyInvalidFieldsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/OutputFieldTypesMergeableRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootMutationUsedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootQueryUsedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootSubscriptionUsedRuleTests.cs
Labels: 🌶️ hot chocolate

#7880 [Fusion] Added pre-merge validation rule "KeyInvalidSyntaxRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyInvalidSyntaxRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyInvalidSyntaxRuleTests.cs
Labels: 🌶️ hot chocolate

#7881 [Fusion] Added pre-merge validation rule "ProvidesDirectiveInFieldsArgumentRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ProvidesDirectiveInFieldsArgumentRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ProvidesDirectiveInFieldsArgumentRuleTests.cs
Labels: 🌶️ hot chocolate
