Repository ChilliCream/graphql-platform, pull requests merged in 2024-06, with the labels that each got.

#7136 Use the correct middleware in the UseTimeout extension method
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.UseRequest.cs
Labels: 🌶️ hot chocolate

#7138 remove displayed "```csharp" in Unsafe Type Creation code example
  website/src/docs/hotchocolate/v13/defining-a-schema/dynamic-schemas.md
Labels: 📚 documentation

#7147 Remove Qodana
  .github/workflows/qodana_code_quality.yml
  dictionary.txt
  qodana.yaml
Labels: 🧰 maintenance

#7148 Fix error code for MultiPartFileMissing
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.MissingFile_Test.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpMultipartMiddlewareTests.MissingKeyInMap_Test.snap
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
Labels: 🌶️ hot chocolate

#6902 Pin FSharp.Core to 8.0.100
  src/HotChocolate/Core/src/Types.FSharp/HotChocolate.Types.FSharp.fsproj
Labels: 🌶️ hot chocolate

#7150 Added support for directives on scalar types
  src/HotChocolate/Core/src/Types/Configuration/ITypeRegistrar.cs
  src/HotChocolate/Core/src/Types/Configuration/RegisteredType.CompletionContext.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeRegistrar.cs
  src/HotChocolate/Core/src/Types/Schema.Initialization.cs
  src/HotChocolate/Core/src/Types/SchemaBuilder.Setup.cs
  src/HotChocolate/Core/src/Types/SchemaBuilder.cs
  src/HotChocolate/Core/src/Types/SchemaTools.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/ScalarTypeDescriptorAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Contracts/IObjectField.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IScalarTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/TypeDefinitionBase~1.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ScalarTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Directives/SpecifiedByDirective.cs
  src/HotChocolate/Core/src/Types/Types/Factories/SchemaFirstTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Factories/SchemaSyntaxVisitor.cs
  src/HotChocolate/Core/src/Types/Types/Factories/SchemaSyntaxVisitorContext.cs
  src/HotChocolate/Core/src/Types/Types/Factories/UnionTypeFactory.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarType.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarType.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/CustomScalarTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/CustomScalarTests.CustomDirective_With_Directives_Annotation.graphql
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/CustomScalarTests.CustomDirective_With_Directives_Fluent.graphql
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/__snapshots__/CustomScalarTests.CustomDirective_With_Directives_SDL.graphql
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Ensure_Default_Values_With_Inputs_Can_Be_Overridden.snap
  src/HotChocolate/Language/test/Language.Tests/ValueNodeExtensionsTests.cs
  src/HotChocolate/Skimmed/src/Skimmed/ScalarType.cs
Labels: 🌶️ hot chocolate

#6474 Suppress compiler warnings in auto-generated code
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/CodeWriterExtensions.cs
Labels: 🌶️ hot chocolate

#7157 Fixed Paging Helpers
  src/HotChocolate/Data/src/EntityFramework/Extensions/PagingResultExtensions.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage.md
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetSecondPage_With_2_Items.md
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/QueryableFilterVisitorIdTests.cs
Labels: 🌶️ hot chocolate

#7178 Removed code related to legacy stitching
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Abstractions/Properties/InternalsVisibleTo.cs
  src/HotChocolate/Core/src/Execution/Instrumentation/IExecutionDiagnosticEvents.cs
  src/HotChocolate/Core/src/Execution/Properties/InternalsVisibleTo.cs
  src/HotChocolate/Core/src/Types/HotChocolate.Types.csproj
  src/HotChocolate/Language/src/Language.Utf8/Properties/InternalsVisibleTo.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Utilities.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Values.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.cs
  src/HotChocolate/Language/src/Language.Web/Properties/InternalsVisibleTo.cs
  src/HotChocolate/Language/src/Language/InternalsVisibleTo.cs
  src/HotChocolate/Utilities/src/Utilities/Properties/InternalsVisibleTo.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/StrawberryShake.Transport.WebSockets.csproj
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7177 Fixed Various Issues with the new Resolver Compiler
  src/HotChocolate/Core/HotChocolate.Core.sln
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ResolverFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/SymbolExtensions.cs
  src/HotChocolate/Core/src/Types.Analyzers/HotChocolate.Types.Analyzers.csproj
  src/HotChocolate/Core/src/Types.Analyzers/Models/AggregateInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/DataLoaderDefaultsInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/DataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ModuleInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ObjectTypeExtensionInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/OperationInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/OperationRegistrationInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/RegisterDataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/RequestMiddlewareInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/RequestMiddlewareParameterInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/TypeExtensionInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/TypeInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownAttributes.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownTypes.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/PagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Extensions/ResolverContextExtensions.cs
  src/HotChocolate/Core/src/Types/Internal/IParameterBinding.cs
  src/HotChocolate/Core/test/Types.Analyzers.DataLoader.Tests/HotChocolate.Types.Analyzers.DataLoader.Tests.csproj
  src/HotChocolate/Core/test/Types.Analyzers.DataLoader.Tests/ModuleInfo.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Types/BookNode.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/IntegrationTests.Schema.graphql
  src/HotChocolate/Data/src/Data/Filters/Context/FilterContextParameterExpressionBuilder.cs
  src/HotChocolate/Data/src/Data/Filters/Context/IFilterContext.cs
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingContextParameterExpressionBuilder.cs
  src/HotChocolate/Data/src/EntityFramework/Extensions/EntityFrameworkRequestExecutorBuilderExtensions.cs
  src/HotChocolate/MongoDb/src/Data/Filters/MongoDbFilterProvider.cs
  src/HotChocolate/MongoDb/src/Data/Projections/Convention/MongoDbProjectionProvider.cs
  src/HotChocolate/MongoDb/src/Data/Sorting/Handlers/MongoDbSortProvider.cs
Labels: 🌶️ hot chocolate

#7181 Detect Pure Resolver Properly with new Resolver Compiler
  src/HotChocolate/Core/src/Abstractions/ErrorBuilder.cs
  src/HotChocolate/Core/src/Abstractions/IErrorBuilder.cs
  src/HotChocolate/Core/src/Authorization/AuthorizeMiddleware.cs
  src/HotChocolate/Core/src/Execution/ErrorHelper.cs
  src/HotChocolate/Core/src/Execution/Extensions/OperationContextExtensions.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Global.cs
  src/HotChocolate/Core/src/Execution/ThrowHelper.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ObjectTypeExtensionFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ResolverFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DefaultLocalTypeLookup.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ILocalTypeLookup.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/TypesSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/SymbolExtensions.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ObjectTypeExtensionInfoInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ObjectTypeExtensionInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/Resolver.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ResolverInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ResolverName.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ResolverParameter.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ResolverParameterKind.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownAttributes.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingMiddleware.cs
  src/HotChocolate/Core/src/Types/Utilities/ErrorHelper.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/test/Abstractions.Tests/ErrorBuilderTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Types/BookNode.cs
  src/HotChocolate/Data/src/Data/ErrorHelper.cs
  src/HotChocolate/Data/src/Data/ThrowHelper.cs
  src/HotChocolate/Fusion/src/Core/Utilities/ErrorHelper.cs
  src/HotChocolate/MongoDb/src/Data/ErrorHelper.cs
  src/HotChocolate/Raven/src/Data/ErrorHelper.cs
  src/HotChocolate/Spatial/src/Data/ErrorHelper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/ThrowHelper.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/OperationDocumentHelper.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7185 Added support for NodeResolvers with new Resolver Compiler.
  src/HotChocolate/Core/src/Types.Analyzers/Errors.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ObjectTypeExtensionFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ResolverFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DefaultLocalTypeLookup.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ISyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/MiddlewareGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/TypeModuleSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/TypesSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/GraphQLServerGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/CodeWriter.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/GeneratorUtils.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ClassBaseClassInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderDefaultsInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ISyntaxInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ModuleInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ObjectTypeExtensionInfoInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/OperationInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/RequestMiddlewareInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/TypeAttributeInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/DataLoaderDefaultsInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/DataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ISyntaxInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ModuleInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ObjectTypeExtensionInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/OperationInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/OperationRegistrationInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/RegisterDataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/RequestMiddlewareInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/Resolver.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/ResolverParameter.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/SyntaxInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/SyntaxInfoComparer.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/TypeExtensionInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/TypeInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownTypes.cs
  src/HotChocolate/Core/src/Types/Internal/IParameterBinding.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ArgumentParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/IsSelectedParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceParameterExpressionBuilder.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/IntegrationTests.Query_Extension_Node_Resolver.md
  src/HotChocolate/Data/src/EntityFramework/Extensions/EntityFrameworkRequestExecutorBuilderExtensions.cs
Labels: 🌶️ hot chocolate

#7183 Fixed SQLite file access issue on Windows
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/AuthorFixture.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetHeroTest.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7195 Fixed Resolver Compiler Issue When Only Having a Node Resolver
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ObjectTypeExtensionFileBuilder.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Types/ChapterNode.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Types/ChapterNode2.cs
Labels: 🌶️ hot chocolate

#7196 Fixed Resolver Compiler Issue with Properties
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ResolverFileBuilder.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Types/ChapterNode2.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/IntegrationTests.Schema.graphql
Labels: 🌶️ hot chocolate

#7197 Add Cost Defaults for Offset Pagination
  src/HotChocolate/Core/src/Types.CursorPagination/ConnectionType.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/PagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegmentType~1.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/Extensions/OffsetPagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/FieldFlags.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingHelper.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/CostTypeInterceptor.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/PagingTests.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/__snapshots__/PagingTests.Ensure_Paging_Defaults_Are_Applied.graphql
Labels: 🌶️ hot chocolate

#7165 Resolve issue where an Entity is required in subgraphs and remove non-resolvable from _entity output
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationTypeInterceptor.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Properties/FederationResources.Designer.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Properties/FederationResources.resx
  src/HotChocolate/ApolloFederation/src/ApolloFederation/ThrowHelper.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Types/Directives/KeyAttribute.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Types/Directives/KeyDescriptorExtensions.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/NonResolvableKeyDirectiveTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/NonResolvableKeyDirectiveTests.AnnotateKeyToClassAttributeAnnotationBased.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/NonResolvableKeyDirectiveTests.AnnotateKeyToClassAttributesAnnotationBased.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/NonResolvableKeyDirectiveTests.AnnotateKeyToInterfaceAttributesAnnotationBased.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/NonResolvableKeyDirectiveTests.AnnotateKeyToInterfaceTypeCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/NonResolvableKeyDirectiveTests.AnnotateKeyToObjectTypeAnnotationBased.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/Directives/__snapshots__/NonResolvableKeyDirectiveTests.AnnotateKeyToObjectTypeCodeFirst.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/EntityTypeTests.cs
Labels: 🌶️ hot chocolate

#7193 Removed legacy code from HotChocolate.Language
  src/HotChocolate/Core/src/Types/Utilities/ObjectValueToDictionaryConverter.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/ISyntaxNodeVisitor.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/ISyntaxNodeVisitor~1.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/IVisitationMap.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/QuerySyntaxWalker.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/SchemaSyntaxWalker.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/SyntaxNodeInfo.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/SyntaxNodeVisitor.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/SyntaxVisitor.VisitMethods.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/SyntaxVisitor.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/SyntaxWalkerBase.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/VisitationMap.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/VisitorAction.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/VisitorExtensions.VisitorMaps.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/VisitorExtensions.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/VisitorFn.cs
  src/HotChocolate/Language/src/Language/Legacy/Visitors/VisitorFnWrapper.cs
  src/HotChocolate/Language/test/Language.Tests/SyntaxNodeVisitorTests.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/DummyQuerySyntaxWalker.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/DummySchemaSyntaxWalker.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/QuerySyntaxWalkerTests.cs
  src/HotChocolate/Language/test/Language.Tests/Visitors/SchemaSyntaxWalkerTests.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/EnumTypeUsageAnalyzer.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/InputObjectTypeUsageAnalyzer.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/__snapshots__/StarWarsIntrospectionTest.Execute_StarWarsIntrospection_Test.snap
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7201 Fixed websocket transport client
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/Extensions/ArrayWriterExtensions.cs
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/Properties/SocketClientResources.Designer.cs
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/Properties/SocketClientResources.resx
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/Protocols/GraphQLOverWebSocket/GraphQLOverWebSocketProtocolHandler.cs
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/Protocols/GraphQLOverWebSocket/Messages/CompleteMessage.cs
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/Protocols/GraphQLOverWebSocket/Messages/ErrorMessage.cs
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/Protocols/GraphQLOverWebSocket/Messages/NextMessage.cs
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/ThrowHelper.cs
Labels: 🌶️ hot chocolate

#7202 Improve CostAnalyzer Error Details
  src/HotChocolate/CostAnalysis/src/CostAnalysis/CostAnalyzer.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/CostAnalyzerMiddleware.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/Utilities/CostAnalyzerUtilities.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/Utilities/ErrorHelper.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/Utilities/ResultHelper.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/PagingTests.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/__snapshots__/PagingTests.Ensure_Paging_Defaults_Are_Applied.graphql
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/__snapshots__/PagingTests.Require_Paging_Boundaries_By_Default_With_Connections.md
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/__snapshots__/PagingTests.Require_Paging_Nested_Boundaries.md
Labels: 🌶️ hot chocolate

#7191 Set correct SDK for OpenAPI tests
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/HotChocolate.OpenApi.Tests.csproj
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate

#7184 Updated specified-by section for OneOf errors
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/OneOfIntegrationTests.A_is_null_and_B_is_set_Error.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/OneOfIntegrationTests.A_is_set_and_B_is_null_Error.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/OneOfIntegrationTests.A_is_set_and_B_is_set_Error.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/OneOfIntegrationTests.A_is_set_and_B_is_set_to_string_Error.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/OneOfIntegrationTests.A_is_variable_and_B_is_set_Error.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/OneOfIntegrationTests.B_is_set_and_C_is_invalid_prop_Error.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.EmptyOneOf.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.IfFieldWithLiteralValueIsPresentThenTheValueMustNotBeNull_Error.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.MultipleFieldsAreNotAllowed_1.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.MultipleFieldsAreNotAllowed_2.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/OneOfRuleTests.MultipleFieldsAreNotAllowed_3.snap
  src/HotChocolate/Raven/test/Data.Raven.Filters.Tests/FilterVisitorTestBase.cs
  src/HotChocolate/Raven/test/Data.Raven.Tests/AnnotationBasedTests.cs
  src/HotChocolate/Raven/test/Data.Raven.Tests/DataExtensionsTests.cs
  src/HotChocolate/Raven/test/Data.Raven.Tests/FluentApiTests.cs
Labels: 🌶️ hot chocolate

#7206 Removed legacy paging support
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/PagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingOptions.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/PaginationAmountType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarNames.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/Scalars.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.LegacySupport_Query.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.LegacySupport_Schema.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/ConnectionTypeTests.ExecuteQueryWithPaging.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/ConnectionTypeTests.UsePaging_WithComplexType.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/ConnectionTypeTests.UsePaging_WithNonNull_ElementType.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/ConnectionTypeTests.UsePaging_WithNonNull_ElementType_SchemaSnapshot.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/UsePagingAttributeTests.UsePagingAttribute_Execute_Query.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/UsePagingAttributeTests.UsePagingAttribute_Infer_Types.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/UsePagingAttributeTests.UsePagingAttribute_Infer_Types_On_Interface.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/UsePagingAttributeTests.UsePagingAttribute_On_Extension_Execute_Query.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/UsePagingAttributeTests.UsePagingAttribute_On_Extension_Infer_Types.snap
Labels: 🌶️ hot chocolate

#7205 Allow GraphQLConfig.Documents to be an array
  src/StrawberryShake/Tooling/src/Configuration/GraphQLConfig.cs
  src/StrawberryShake/Tooling/src/Configuration/StringOrStringArrayConverter.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/GeneratorHelpers.cs
  src/StrawberryShake/Tooling/test/Configuration.Tests/GraphQLConfigTests.cs
Labels: 🎬 ready, 🌶️ strawberry shake
