Repository ChilliCream/graphql-platform, pull requests merged in 2024-09, with the labels that each got.

#7417 Refined DataLoader Select API
  src/GreenDonut/src/Core/Projections/DefaultSelectorQuery.cs
  src/GreenDonut/src/Core/Projections/ISelectorQuery.cs
  src/GreenDonut/src/Core/Projections/SelectionDataLoaderExtensions.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/ProjectableDataLoaderTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Types/DataLoaders.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7362 Fix @skip on field before parent of field with error
  src/HotChocolate/Fusion/src/Core/Execution/ExecutionUtils.cs
  src/HotChocolate/Fusion/test/Core.Tests/SkipTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/SkipTests.Error_On_SubField_Skip_On_Preceding_Field_In_Parent.md
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#7419 Reverted Getting Started URL
  website/src/docs/docs.json
  website/src/docs/hotchocolate/v14/get-started-with-graphql-in-net-core.md
  website/src/docs/hotchocolate/v14/index.md
Labels: 📚 documentation, 🌶️ website

#7408 Align authorization behavior to regular ASP.NET Core
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/AuthorizationPolicyCache.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/DefaultAuthorizationHandler.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/Extensions/HotChocolateAuthorizeRequestExecutorBuilder.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization/MissingAuthorizationPolicyException.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizationAttributeTestData.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizationTestData.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizationTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizeDirectiveTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.AuthorizationService_CalledWith_RolesAuthorizationRequirement.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.Authorize_WithoutArgs_HasClaimsIdentity_Authenticated.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.Authorize_WithoutArgs_NoClaimsIdentity_NotAuthenticated.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.Roles_And_Policy_UserHasOneOfTheRolesAndMatchesPolicy_Authorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.Roles_And_Policy_UserHasOneOfTheRolesAndMissesPolicy_NotAuthorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.Roles_And_Policy_UserMatchesPolicyButIsntInOneOfTheRoles_NotAuthorized.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/__snapshots__/AuthorizationTests.Roles_And_Policy_UserNeitherHasRoleOrMatchesPolicy_NotAuthorized.snap
  src/HotChocolate/Core/src/Authorization/AuthorizeAttribute.cs
  src/HotChocolate/Core/src/Authorization/AuthorizeDirective.cs
  src/HotChocolate/Core/src/Authorization/HotChocolate.Authorization.csproj
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#7423 Ensure no empty strings are send to the server.
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Serialization/Utf8JsonWriterHelper.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/PersistedQueryTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedQueryTests.HotChocolateStyle_Sha256Hash_Query_Empty_String_Success.snap
  src/HotChocolate/Language/src/Language.Web/Utf8GraphQLRequestParser.Utilities.cs
Labels: 🌶️ hot chocolate

#7424 Ensure that enum value order is honored
  src/HotChocolate/Core/src/Types/Types/Contracts/IEnumType.cs
  src/HotChocolate/Core/src/Types/Types/EnumType.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/EnumType.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeTests.EnsureEnumValueOrder.graphql
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/EnumTypeTests.EnsureEnumValueOrder_With_Introspection.md
  src/HotChocolate/MongoDb/test/Data.MongoDb.Sorting.Tests/__snapshots__/MongoDbAggregateFluentTests.BsonElement_Rename.snap
  src/HotChocolate/MongoDb/test/Data.MongoDb.Sorting.Tests/__snapshots__/MongoDbAggregateFluentTests.Collection_Configuration.snap
Labels: 🌶️ hot chocolate

#7425 Added persisted operation route refinements
  src/HotChocolate/AspNetCore/src/AspNetCore/ErrorHelper.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/EndpointRouteBuilderExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/MiddlewareHelper.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/PersistedOperationMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpRequestParser.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/IHttpRequestParser.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/ServerTestBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/TestOperationDocumentStorage.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/PersistedOperationMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/PersistedQueryTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationMiddlewareTests.ExecutePersistedQuery_HttpPost_Empty_Body_InvalidId.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationMiddlewareTests.ExecutePersistedQuery_HttpPost_Empty_Body_NotFound.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationMiddlewareTests.ExecutePersistedQuery_HttpPost_Empty_Body_Success.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationMiddlewareTests.ExecutePersistedQuery_HttpPost_With_Variables_Success.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationMiddlewareTests.ExecutePersistedQuery_InvalidId.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationMiddlewareTests.ExecutePersistedQuery_NotFound.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationMiddlewareTests.ExecutePersistedQuery_OperationName_Is_Optional_Success.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationMiddlewareTests.ExecutePersistedQuery_Require_OperationName_Fail.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/PersistedOperationMiddlewareTests.ExecutePersistedQuery_Success.md
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.UseRequest.cs
  src/HotChocolate/Core/src/Execution/ErrorHelper.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OnlyPersistedOperationsAllowedMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/PersistedOperationNotFoundMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/ReadPersistedOperationMiddleware.cs
  src/HotChocolate/Core/src/Execution/Pipeline/WritePersistedOperationMiddleware.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Language/src/Language.Web/Utf8GraphQLRequestParser.cs
  src/HotChocolate/PersistedQueries/test/PersistedQueries.FileSystem.Tests/IntegrationTests.cs
  src/HotChocolate/PersistedQueries/test/PersistedQueries.InMemory.Tests/IntegrationTests.cs
  src/HotChocolate/PersistedQueries/test/PersistedQueries.Redis.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate

#7426 Fixed serialization of composite Ids when setting outputNewIdFormat: false
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.IdSerializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/DefaultNodeIdSerializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/LegacyNodeIdSerializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/OptimizedNodeIdSerializer.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/DefaultNodeIdSerializerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/LegacyNodeIdSerializerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/OptimizedNodeIdSerializerTests.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#7430 Disable introspection by default on non dev environments
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/EndpointRouteBuilderExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.Http.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpGetSchemaMiddleware.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/IHttpResponseFormatter.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/ServerTestBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpGetSchemaMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/HttpPostMiddlewareTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/IntrospectionTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_Schema.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_Schema_NET6.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/IntrospectionTests.Introspection_Request_When_Development_Success.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/IntrospectionTests.Introspection_Request_When_NOT_Development_Fail.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/IntrospectionTests.Introspection_Request_With_Rule_Removed_Fail.md
  src/HotChocolate/AzureFunctions/src/HotChocolate.AzureFunctions/Extensions/HotChocolateAzureFunctionServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Abstractions/Execution/DefaultTimeProvider.cs
  src/HotChocolate/Core/src/Abstractions/Execution/ITimeProvider.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.Validation.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/Options/IRequestExecutorOptionsAccessor.cs
  src/HotChocolate/Core/src/Execution/Options/RequestExecutorOptions.cs
  src/HotChocolate/Core/src/Types/AggregateSchemaDocumentFormatter.cs
  src/HotChocolate/Core/src/Types/ISchemaDocumentFormatter.cs
  src/HotChocolate/Core/src/Types/Schema.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidatiobBuilderExtensions.Rules.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationBuilderExtensions.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaDocumentFormatterTests.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/TestHelper/TestServerHelper.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7428 Removed unused tracing code
  src/HotChocolate/AspNetCore/src/AspNetCore/DefaultHttpRequestInterceptor.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/DefaultSocketSessionInterceptor.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HttpContextExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpHeaderKeys.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/HttpHeaderValues.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/TestServerExtensions.cs
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#7435 Added documentation directory for StrawberryShake v14
  website/src/docs/docs.json
  website/src/docs/strawberryshake/v14/caching/entities.md
  website/src/docs/strawberryshake/v14/caching/index.md
  website/src/docs/strawberryshake/v14/caching/invalidation.md
  website/src/docs/strawberryshake/v14/configuration.md
  website/src/docs/strawberryshake/v14/get-started/console.md
  website/src/docs/strawberryshake/v14/get-started/index.md
  website/src/docs/strawberryshake/v14/get-started/xamarin.md
  website/src/docs/strawberryshake/v14/index.md
  website/src/docs/strawberryshake/v14/migrating/migrate-from-12-to-13.md
  website/src/docs/strawberryshake/v14/networking/authentication.md
  website/src/docs/strawberryshake/v14/networking/index.md
  website/src/docs/strawberryshake/v14/performance/index.md
  website/src/docs/strawberryshake/v14/performance/persisted-queries.md
  website/src/docs/strawberryshake/v14/performance/persisted-state.md
  website/src/docs/strawberryshake/v14/scalars.md
  website/src/docs/strawberryshake/v14/subscriptions.md
  website/src/docs/strawberryshake/v14/tooling.md
Labels: 📚 documentation, 🌶️ website

#7431 Added Parent Projection Requirements
  src/HotChocolate/Core/src/Abstractions/ParentAttribute.cs
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/Processing/Operation.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationOptimizerContext.cs
  src/HotChocolate/Core/src/Execution/Projections/FieldRequirementsMetadata.cs
  src/HotChocolate/Core/src/Execution/Projections/PropertyNode.cs
  src/HotChocolate/Core/src/Execution/Projections/PropertyTreeBuilder.cs
  src/HotChocolate/Core/src/Execution/Projections/RequirementsTypeInterceptor.cs
  src/HotChocolate/Core/src/Execution/Projections/SelectionExpressionBuilder.cs
  src/HotChocolate/Core/src/Types.CursorPagination/ConnectionType.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/PagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegmentType~1.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/Extensions/OffsetPagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Execution/Processing/IOperation.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/FieldDefinitionBase.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/FieldFlags.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Definitions/ObjectFieldDefinition.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/QueryFieldTypeInterceptor.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/ProjectableDataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Brand_Details_Requires_Brand_Name.md
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Brand_Details_Requires_Brand_Name_NET7_0.md
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Brand_Only_TypeName.md
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Brand_Only_TypeName_NET7_0.md
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Brand_Products_TypeName.md
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Brand_Products_TypeName_NET7_0.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Types/AuthorNode.cs
Labels: 🌶️ hot chocolate

#7437 Fixed issue that deadlocked DataLoader key batches
  src/GreenDonut/src/Core/Batch.cs
  src/GreenDonut/src/Core/DataLoaderBase.cs
  src/GreenDonut/test/Core.Tests/DataLoaderListBatchTests.cs
Labels: 🌶️ green donut

#7440 Fixed issue with DataLoader batch pool not being correctly cleared
  src/GreenDonut/src/Core/Batch.cs
  src/GreenDonut/src/Core/DataLoaderBase.cs
  src/GreenDonut/src/Core/Instrumentation/IDataLoaderDiagnosticEventListener.cs
  src/GreenDonut/src/Core/Promise.cs
  src/GreenDonut/src/Core/PromiseCachePool.cs
  src/GreenDonut/test/Core.Tests/DataLoaderListBatchTests.cs
Labels: 🌶️ green donut

#7438 Fixed typo in file name
  src/HotChocolate/Core/src/Validation/Extensions/ValidationBuilderExtensions.Rules.cs
Labels: 🌶️ hot chocolate

#7455 Restored missing images in HC documentation
  website/src/images/get-started-bcp-editor.png
  website/src/images/get-started-bcp-query.png
  website/src/images/get-started-bcp-schema.png
  website/src/images/get-started-bcp-setup.png
  website/src/images/get-started-bcp.png
Labels: 🌶️ website

#7445 Fixed call to renamed method
  src/HotChocolate/PersistedOperations/test/PersistedOperations.Redis.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate

#7457 Fix Website Mobile Version Issues
  website/src/components/article-elements.tsx
  website/src/components/articles/responsive-article-menu.tsx
  website/src/components/mdx/code-block.tsx
  website/src/components/mdx/tabs/list.tsx
  website/src/components/mdx/warning.tsx
  website/src/pages/index.tsx
  website/src/style/global-style.tsx
Labels: 🌶️ website

#7456 Updated UseOffsetPaging to handle ExtendedTypeReferences
  src/HotChocolate/Core/src/Types.OffsetPagination/Extensions/OffsetPagingObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.Deactivate_BackwardPagination.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.ExtendedTypeRefNested_Default_Items.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.ExtendedTypeRef_Default_Items.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.IncludeNodesField_False.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.SetPagingOptionsIsStillApplied.snap
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/__snapshots__/IntegrationTests.Simple_StringList_Schema.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.ExtendedTypeRefNested_Default_Items.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.ExtendedTypeRef_Default_Items.snap
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/__snapshots__/IntegrationTests.Simple_StringList_Schema.snap
Labels: 🌶️ hot chocolate

#7450 Updated the code coverage configuration
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  src/CookieCrumble/test/CookieCrumble.Tests/CookieCrumble.Tests.csproj
  src/Directory.Packages.props
  src/GreenDonut/test/Directory.Build.props
  src/HotChocolate/ApolloFederation/test/Directory.Build.props
  src/HotChocolate/AspNetCore/test/Directory.Build.props
  src/HotChocolate/AzureFunctions/test/Directory.Build.props
  src/HotChocolate/Caching/test/Directory.Build.props
  src/HotChocolate/Core/test/Directory.Build.props
  src/HotChocolate/CostAnalysis/test/Directory.Build.props
  src/HotChocolate/Data/test/Directory.Build.props
  src/HotChocolate/Diagnostics/test/Directory.Build.props
  src/HotChocolate/Fusion/test/Directory.Build.props
  src/HotChocolate/Language/test/Directory.Build.props
  src/HotChocolate/Marten/test/Directory.Build.props
  src/HotChocolate/MongoDb/test/Directory.Build.props
  src/HotChocolate/OpenApi/test/Directory.Build.props
  src/HotChocolate/Pagination/test/Directory.Build.props
  src/HotChocolate/PersistedOperations/test/Directory.Build.props
  src/HotChocolate/Primitives/test/Directory.Build.props
  src/HotChocolate/Raven/test/Directory.Build.props
  src/HotChocolate/Skimmed/test/Directory.Build.props
  src/HotChocolate/Spatial/test/Directory.Build.props
  src/HotChocolate/Utilities/test/Directory.Build.props
  src/StrawberryShake/Client/test/Directory.Build.props
  src/StrawberryShake/CodeGeneration/test/Directory.Build.props
  src/StrawberryShake/Tooling/test/Directory.Build.props
Labels: 🧰 maintenance, 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ green donut

#7448 Renamed DefaultQueryFileMapTests to DefaultOperationDocumentFileMapTests
  src/HotChocolate/PersistedOperations/test/PersistedOperations.FileSystem.Tests/DefaultOperationDocumentFileMapTests.cs
Labels: 🌶️ hot chocolate

#7452 Fixed Fusion NodeIdParser registration to use generic parser instead …
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
Labels: 🌶️ hot chocolate

#7449 Handled optional values in CoerceArgumentValue<T>
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Arguments.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
Labels: 🌶️ hot chocolate

#6833 Apply limit to IQueryable in FirstOrDefault/SingleOrDefaultMiddleware
  src/HotChocolate/Data/src/Data/Projections/FirstOrDefaultMiddleware~1.cs
  src/HotChocolate/Data/src/Data/Projections/SingleOrDefaultMiddleware~1.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate

#7444 Fixed file names with trailing space
  src/HotChocolate/Core/test/Types.Scalars.Tests/UnsignedShortTypeTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/TypeInspectorTests.cs
Labels: 🌶️ hot chocolate

#7459 Fixed issue that the the paging DataLoader key is not unique.
  src/HotChocolate/Pagination/src/Pagination.Batching/Extensions/HotChocolatePaginationBatchingDataLoaderExtensions.cs
Labels: 🌶️ hot chocolate

#7460 Remove old workshops
  website/src/components/layout/site/header.tsx
  website/src/state/workshops/workshops.state.ts
Labels: 🌶️ website

#7466 Added Website Fixes
  website/config/conf.d/default.conf
  website/src/components/articles/doc-article-navigation.tsx
  website/src/docs/bananacakepop/v2/open-telemetry/operation-monitoring.md
  website/src/docs/docs.json
  website/src/pages/index.tsx
  website/src/pages/platform/analytics.tsx
Labels: 📚 documentation, 🌶️ website

#7467 Updated RavenDB
  src/HotChocolate/Raven/test/Data.Raven.Filters.Tests/CustomRavenDBDefaultOptions.cs
  src/HotChocolate/Raven/test/Data.Raven.Filters.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringContains_Expression_NET6_0.snap
  src/HotChocolate/Raven/test/Data.Raven.Filters.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringContains_Expression_NET7_0.snap
  src/HotChocolate/Raven/test/Data.Raven.Filters.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringContains_Expression_NET8_0.snap
  src/HotChocolate/Raven/test/Data.Raven.Filters.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringNoContains_Expression_NET6_0.snap
  src/HotChocolate/Raven/test/Data.Raven.Filters.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringNoContains_Expression_NET7_0.snap
  src/HotChocolate/Raven/test/Data.Raven.Filters.Tests/__snapshots__/QueryableFilterVisitorStringTests.Create_NullableStringNoContains_Expression_NET8_0.snap
  src/HotChocolate/Raven/test/Data.Raven.Paging.Tests/CustomRavenDBOptions.cs
  src/HotChocolate/Raven/test/Data.Raven.Projections.Tests/CustomRavenDBDefaultOptions.cs
  src/HotChocolate/Raven/test/Data.Raven.Sorting.Tests/CustomRavenDBDefaultOptions.cs
  src/HotChocolate/Raven/test/Data.Raven.Sorting.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectNullableShort_OrderBy_NET6_0.snap
  src/HotChocolate/Raven/test/Data.Raven.Sorting.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectNullableShort_OrderBy_NET7_0.snap
  src/HotChocolate/Raven/test/Data.Raven.Sorting.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectNullableShort_OrderBy_NET8_0.snap
  src/HotChocolate/Raven/test/Data.Raven.Tests/CustomRavenDBDefaultOptions.cs
Labels: 🌶️ hot chocolate

#7446 Fixed underflow on DateTime parsing
  src/HotChocolate/Core/src/Types/Types/Scalars/DateTimeType.cs
  src/StrawberryShake/Client/src/Core/Serialization/DateTimeSerializer.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7427 Omitted cost directives with default weight from the SDL
  src/HotChocolate/Core/src/Types/AggregateSchemaDocumentFormatter.cs
  src/HotChocolate/Core/src/Types/ISchemaDocumentFormatter.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaDocumentFormatterTests.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/CostSchemaDocumentFormatter.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/CostSyntaxRewriter.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/DependencyInjection/CostAnalyzerRequestExecutorBuilderExtensions.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/WellKnownArgumentNames.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/WellKnownDirectiveNames.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/CostSyntaxRewriterTests.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/SchemaIntegrationTests.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/__snapshots__/CostSyntaxRewriterTests.Rewrite_DefaultWeights_RemovesCostDirectives.graphql
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/__snapshots__/CostSyntaxRewriterTests.Rewrite_NonDefaultWeights_DoesNotRemoveCostDirectives.graphql
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/__snapshots__/SchemaIntegrationTests.Rewrite_DefaultWeights_RemovesCostDirectives.graphql
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/__snapshots__/SchemaIntegrationTests.Rewrite_NonDefaultWeights_DoesNotRemoveCostDirectives.graphql
Labels: 🌶️ hot chocolate

#7447 Updated ValidDateTimeScalarStrings and InvalidDateTimeScalarStrings
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/DateTimeTypeTests.cs
Labels: 🌶️ hot chocolate

#7476 Fixed permission issue in release job
  .github/workflows/release.yml
Labels: 🧰 maintenance

#7478 Added URL safe base 64 encoding.
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.IdSerializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/DefaultNodeIdSerializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/OptimizedNodeIdSerializer.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/DefaultNodeIdSerializerTests.cs
Labels: 🌶️ hot chocolate

#7479 Fixed issue that did not allow nulls when parsing nested lists.
  src/HotChocolate/Core/src/Types/Types/InputParser.cs
  src/HotChocolate/Core/test/Execution.Tests/CodeFirstTests.cs
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/CodeFirstTests.NestedListsDoNotSupportNullValuedSubListsOnInput.snap
Labels: 🌶️ hot chocolate

#7482 Fixed DataLoader Cancellation
  src/GreenDonut/src/Core/DataLoaderBase.cs
  src/GreenDonut/src/Core/DataLoaderOptions.cs
  src/GreenDonut/src/Core/DependencyInjection/DataLoaderServiceCollectionExtensions.cs
  src/GreenDonut/src/Core/PromiseCacheOwner.cs
  src/GreenDonut/test/Core.Tests/BatchDataLoaderTests.cs
  src/GreenDonut/test/Core.Tests/CacheDataLoaderTests.cs
  src/GreenDonut/test/Core.Tests/DataLoaderExtensionsTests.cs
  src/GreenDonut/test/Core.Tests/DataLoaderTests.cs
Labels: 🌶️ green donut

#7483 Optimize mutation error field by using pure resolver
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
Labels: 🌶️ hot chocolate

#7481 Fixed build error
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/BuiltInTypesSharableTests.cs
Labels: 🌶️ hot chocolate

#7487 cursor pagination to return total count.
  src/HotChocolate/Pagination/src/Pagination.Mappings/Extensions/PagingResultExtensions.cs
Labels: 🌶️ hot chocolate

#7485 Updated the Decimal type description
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Implicit_Operation.graphql
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ComparableOperationInputTests.Create_Implicit_Operation_Normalized.graphql
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/__snapshots__/ListFilterInputTests.Create_Implicit_Operation.graphql
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_Implicit_Operation.graphql
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/__snapshots__/MongoDbFilterVisitorComparableTests.Create_Implicit_Operation_Normalized.graphql
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/Expenses.graphql
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/FieldsWithUnderlinePrefix.graphql
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/PaymentSchema.graphql
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7484 Fixed typo ("on key" -> "one key")
  src/HotChocolate/Data/src/EntityFramework/Properties/EntityFrameworkResources.Designer.cs
  src/HotChocolate/Data/src/EntityFramework/Properties/EntityFrameworkResources.resx
  src/HotChocolate/Pagination/src/Pagination.EntityFramework/Extensions/PagingQueryableExtensions.cs
Labels: 🌶️ hot chocolate

#7489 Aligned ExtendObjectTypeAttribute binding behavior
  src/HotChocolate/Core/src/Types/Types/Attributes/ExtendObjectTypeAttribute.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Attributes/ExtendObjectTypeAttributeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Attributes/__snapshots__/ExtendObjectTypeAttributeTests.Generic_ImplicitlyExtends.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Attributes/__snapshots__/ExtendObjectTypeAttributeTests.NonGeneric_ImplicitlyExtends.snap
Labels: 🌶️ hot chocolate

#7490 Removed StarWars template
  .build/Build.Environment.cs
  .build/Build.Publish.cs
  templates/StarWars/HotChocolate.Templates.StarWars.nuspec
  templates/StarWars/content/.template.config/template.json
  templates/StarWars/content/Characters/CharacterQueries.cs
  templates/StarWars/content/Characters/CharacterResolvers.cs
  templates/StarWars/content/Characters/Droid.cs
  templates/StarWars/content/Characters/Episode.cs
  templates/StarWars/content/Characters/Human.cs
  templates/StarWars/content/Characters/ICharacter.cs
  templates/StarWars/content/Characters/ISearchResult.cs
  templates/StarWars/content/Characters/Starship.cs
  templates/StarWars/content/Characters/Unit.cs
  templates/StarWars/content/Characters/UseConvertUnitAttribute.cs
  templates/StarWars/content/Program.cs
  templates/StarWars/content/Repositories/CharacterRepository.cs
  templates/StarWars/content/Repositories/ICharacterRepository.cs
  templates/StarWars/content/Repositories/IReviewRepository.cs
  templates/StarWars/content/Repositories/ReviewRepository.cs
  templates/StarWars/content/Reviews/CreateReviewInput.cs
  templates/StarWars/content/Reviews/CreateReviewPayload.cs
  templates/StarWars/content/Reviews/Review.cs
  templates/StarWars/content/Reviews/ReviewMutations.cs
  templates/StarWars/content/Reviews/ReviewQueries.cs
  templates/StarWars/content/Reviews/ReviewSubscriptions.cs
  templates/StarWars/content/StarWars.csproj
  templates/StarWars/content/Startup.cs
Labels: 🧰 maintenance

#7494 Enable EnsureAllNodesCanBeResolved by default
  dictionary.txt
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/test/Authorization.Tests/CodeFirstAuthorizationTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/NodeTypeTests.cs
  website/src/docs/hotchocolate/v14/migrating/migrate-from-13-to-14.md
Labels: 📚 documentation, 🌶️ hot chocolate, 👓 ready-for-review

#7497 Remove duplicate call to `GetCustomAttributes`
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
Labels: 🌶️ hot chocolate

#7496 Ensured correct culture is set on tests to match culture dependent snapshots
  src/CookieCrumble/src/CookieCrumble/Attributes/UseCultureAttribute.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/LatitudeTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/LongitudeTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/JsonTypeTests.cs
Labels: 🌶️ hot chocolate

#7495 Fixed typo in Build.Environment.cs
  .build/Build.Environment.cs
Labels: 🧰 maintenance

#7492 Moved templates into parent directory
  .build/Build.Environment.cs
  templates/HotChocolate.Templates.nuspec
  templates/function-isolated/.gitignore
  templates/function-isolated/.template.config/template.json
  templates/function-isolated/GraphQLFunction.cs
  templates/function-isolated/HotChocolate.Template.AzureFunctions.Isolated.csproj
  templates/function-isolated/Program.cs
  templates/function-isolated/Query.cs
  templates/function-isolated/host.json
  templates/function-isolated/local.settings.json
  templates/function/.gitignore
  templates/function/.template.config/template.json
  templates/function/GraphQLFunction.cs
  templates/function/HotChocolate.Template.AzureFunctions.csproj
  templates/function/Query.cs
  templates/function/Startup.cs
  templates/function/host.json
  templates/function/local.settings.json
  templates/gateway-aspire/.template.config/template.json
  templates/gateway-aspire/HotChocolate.Template.Gateway.Aspire.csproj
  templates/gateway-aspire/Program.cs
  templates/gateway-aspire/Properties/launchSettings.json
  templates/gateway-aspire/appsettings.Development.json
  templates/gateway-aspire/appsettings.json
  templates/gateway-bcp/.template.config/template.json
  templates/gateway-bcp/HotChocolate.Template.Gateway.Managed.csproj
  templates/gateway-bcp/Program.cs
  templates/gateway-bcp/Properties/launchSettings.json
  templates/gateway-bcp/appsettings.Development.json
  templates/gateway-bcp/appsettings.json
  templates/gateway/.template.config/template.json
  templates/gateway/HotChocolate.Template.Gateway.csproj
  templates/gateway/Program.cs
  templates/gateway/Properties/launchSettings.json
  templates/gateway/appsettings.Development.json
  templates/gateway/appsettings.json
  templates/server/.template.config/template.json
  templates/server/HotChocolate.Template.Server.csproj
  templates/server/Program.cs
  templates/server/Properties/ModuleInfo.cs
  templates/server/Properties/launchSettings.json
  templates/server/Types/Author.cs
  templates/server/Types/Book.cs
  templates/server/Types/Query.cs
  templates/server/appsettings.Development.json
  templates/server/appsettings.json
Labels: 🧰 maintenance

#7501 Disabled FS3261
  src/HotChocolate/Core/src/Types.FSharp/HotChocolate.Types.FSharp.fsproj
Labels: 🌶️ hot chocolate

#7507 Fixed LoadRequired for multiple keys.
  src/GreenDonut/src/Core/DataLoaderExtensions.cs
  src/GreenDonut/test/Core.Tests/DataLoaderListBatchTests.cs
Labels: 🌶️ green donut

#7508 Ignore nullability for ToConnection helper.
  src/HotChocolate/Pagination/src/Pagination.Mappings/Extensions/PagingResultExtensions.cs
Labels: 🌶️ hot chocolate

#7505 Fixed a case where a schema path with unix paths (/) would cause the schema file to be added twice on windows machines
  src/StrawberryShake/Tooling/src/dotnet-graphql/GeneratorHelpers.cs
Labels: 🌶️ strawberry shake

#7506 Fixed EfQueryableCursorPagingHandler (hasNextPage & hasPreviousPage)
  src/HotChocolate/Data/src/EntityFramework/Pagination/EfQueryableCursorPagingHandler.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Pagination.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Pagination.Tests/__snapshots__/IntegrationTests.Paging_First_10_With_Default_Sorting_HasNextPage.md
  src/HotChocolate/Data/test/Data.EntityFramework.Pagination.Tests/__snapshots__/IntegrationTests.Paging_Last_10_With_Default_Sorting_HasPreviousPage.md
Labels: 🌶️ hot chocolate

#7513 Allow Access To Nitro
  src/HotChocolate/Fusion/src/Core/HotChocolate.Fusion.csproj
Labels: 🌶️ hot chocolate

#7512 Fixed issue with the DataLoader registration.
  src/GreenDonut/src/Core/DependencyInjection/DataLoaderRegistrar.cs
  src/GreenDonut/src/Core/DependencyInjection/DataLoaderServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Fetching/DataLoaderScopeHolder.cs
  src/HotChocolate/Core/src/Fetching/ExecutionDataLoaderScope.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7516 Renamed DataLoader cache methods
  src/GreenDonut/src/Core/DataLoaderBase.IDataLoader.cs
  src/GreenDonut/src/Core/DataLoaderBase.cs
  src/GreenDonut/src/Core/DataLoaderExtensions.cs
  src/GreenDonut/src/Core/IDataLoader.cs
  src/GreenDonut/test/Core.Tests/DataLoaderExtensionsTests.cs
  src/GreenDonut/test/Core.Tests/DataLoaderTests.cs
Labels: 🌶️ green donut

#7515 Removed the Azure in-process function template
  .build/Build.Environment.cs
  .build/Build.Publish.cs
  templates/azure-function/.gitignore
  templates/azure-function/.template.config/template.json
  templates/azure-function/GraphQLFunction.cs
  templates/azure-function/HotChocolate.Template.AzureFunctions.csproj
  templates/azure-function/Program.cs
  templates/azure-function/Query.cs
  templates/azure-function/host.json
  templates/azure-function/local.settings.json
  templates/function-isolated/Query.cs
  templates/function/.gitignore
  templates/function/.template.config/template.json
  templates/function/GraphQLFunction.cs
  templates/function/HotChocolate.Template.AzureFunctions.csproj
  templates/function/Startup.cs
  templates/function/host.json
  templates/function/local.settings.json
Labels: 🧰 maintenance

#6047 Add Vary + s-maxage to CacheControl directive for efficient CDN caching
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/Caching/src/Caching/CacheControlAttribute.cs
  src/HotChocolate/Caching/src/Caching/CacheControlConstraintsOptimizer.cs
  src/HotChocolate/Caching/src/Caching/CacheControlTypeInterceptor.cs
  src/HotChocolate/Caching/src/Caching/CacheControlValidationTypeInterceptor.cs
  src/HotChocolate/Caching/src/Caching/ErrorHelper.cs
  src/HotChocolate/Caching/src/Caching/Extensions/CacheControlInterfaceTypeDescriptorExtensions.cs
  src/HotChocolate/Caching/src/Caching/Extensions/CacheControlObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Caching/src/Caching/Extensions/CacheControlObjectTypeDescriptorExtensions.cs
  src/HotChocolate/Caching/src/Caching/Extensions/CacheControlUnionTypeDescriptorExtensions.cs
  src/HotChocolate/Caching/src/Caching/ICacheControlConstraints.cs
  src/HotChocolate/Caching/src/Caching/ImmutableCacheConstraints.cs
  src/HotChocolate/Caching/src/Caching/Options/CacheControlOptionsAccessor.cs
  src/HotChocolate/Caching/src/Caching/Properties/CacheControlResources.Designer.cs
  src/HotChocolate/Caching/src/Caching/Properties/CacheControlResources.resx
  src/HotChocolate/Caching/src/Caching/QueryCacheMiddleware.cs
  src/HotChocolate/Caching/src/Caching/Types/CacheControlDirective.cs
  src/HotChocolate/Caching/src/Caching/Types/CacheControlDirectiveType.cs
  src/HotChocolate/Caching/src/Caching/Types/CacheControlScopeType.cs
  src/HotChocolate/Caching/test/Caching.Tests/CacheControlDirectiveTests.cs
  src/HotChocolate/Caching/test/Caching.Tests/CacheControlDirectiveTypeTests.cs
  src/HotChocolate/Caching/test/Caching.Tests/CacheControlTypeInterceptorTests.cs
  src/HotChocolate/Caching/test/Caching.Tests/HttpCachingTests.cs
  src/HotChocolate/Caching/test/Caching.Tests/SchemaTests.cs
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.DataResolvers_ApplyDefaults.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.DataResolvers_ApplyDefaults_DifferentDefaultMaxAge.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.DataResolvers_ApplyDefaults_DifferentDefaultScope.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.DataResolvers_ApplyDefaults_False.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.DataResolvers_CacheControl_Disabled.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.QueryFields_ApplyDefaults.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.QueryFields_ApplyDefaults_DifferentDefaultMaxAge.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.QueryFields_ApplyDefaults_DifferentDefaultScope.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.QueryFields_ApplyDefaults_False.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.QueryFields_CacheControl_Disabled.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/CacheControlTypeInterceptorTests.sharedMaxAgeAndInheritMaxAgeOnSameField.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/HttpCachingTests.MaxAge_Multiple_Combine_Public_Private_Caches_Private.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/HttpCachingTests.MaxAge_Multiple_Should_Cache_Shortest_Time.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/HttpCachingTests.MaxAge_SharedMaxAge_Combine_Produces_Resolved_Cache.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/HttpCachingTests.SharedMaxAgeAndScope_Should_Cache.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/HttpCachingTests.SharedMaxAgeAndVary_Multiple_Should_Cache_And_Combine.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/HttpCachingTests.SharedMaxAgeAndVary_Should_Cache.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/HttpCachingTests.SharedMaxAge_MaxAge_Combine_Produces_Resolved_Cache.snap
  src/HotChocolate/Caching/test/Caching.Tests/__snapshots__/HttpCachingTests.SharedMaxAge_Multiple_Combine_Public_Private_Caches_Private.snap
  src/HotChocolate/Core/src/Abstractions/WellKnownContextData.cs
Labels: 🌶️ hot chocolate

#7517 Upgraded MongoDB Driver to 2.29.0
  src/Directory.Packages.props
  src/HotChocolate/MongoDb/src/Data/Driver/FilterDefinitionExtensions.cs
  src/HotChocolate/MongoDb/src/Data/Driver/MongoDbFilterDefinition.cs
  src/HotChocolate/MongoDb/src/Data/Driver/MongoDbProjectionDefinition.cs
  src/HotChocolate/MongoDb/src/Data/Driver/MongoDbSortDefinition.cs
  src/HotChocolate/MongoDb/src/Data/Driver/SortDefinitionExtensions.cs
  src/HotChocolate/MongoDb/src/Data/Extensions/BsonDocumentExtensions.cs
Labels: 🌶️ hot chocolate

#7524 Reworked Default Security Policies
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreHostingBuilderExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.cs
  src/HotChocolate/Caching/test/Caching.Tests/SchemaTests.cs
  src/HotChocolate/Core/src/Abstractions/ErrorCodes.cs
  src/HotChocolate/Core/src/Authorization/AuthorizeValidationRule.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.Validation.cs
  src/HotChocolate/Core/src/Validation/CoordinateLimit.cs
  src/HotChocolate/Core/src/Validation/DocumentValidator.cs
  src/HotChocolate/Core/src/Validation/DocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/DocumentValidatorRule.cs
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationBuilderExtensions.Rules.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationBuilderExtensions.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/FieldDepthCycleTracker.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidatorContext.cs
  src/HotChocolate/Core/src/Validation/IDocumentValidatorRule.cs
  src/HotChocolate/Core/src/Validation/Rules/ArgumentVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/DocumentRule.cs
  src/HotChocolate/Core/src/Validation/Rules/IntrospectionDepthVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/IntrospectionVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/MaxAllowedFieldCycleDepthVisitor.cs
  src/HotChocolate/Core/src/Validation/Rules/MaxExecutionDepthVisitor.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/RequestExecutorBuilderExtensions_Validation.Tests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/HotChocolate.Validation.Tests.csproj
  src/HotChocolate/Core/test/Validation.Tests/IntrospectionDepthRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/__resources__/introspection_with_cycle.graphql
  src/HotChocolate/Core/test/Validation.Tests/__resources__/introspection_without_cycle.graphql
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/DocumentValidatorTests.Introspection_Cycle_Detected.snap
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Fusion/test/Shared/DemoProject.cs
  src/HotChocolate/Language/src/Language/ListExtensions.cs
  src/HotChocolate/Raven/test/Data.Raven.Tests/AnnotationBasedTests.cs
Labels: 🌶️ hot chocolate

#7526 Fixed parser error when selection-set is missing an EndBrace.
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorBehaviorTests.SyntaxError.json
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Operations.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/ErrorTests.cs
Labels: 🌶️ hot chocolate

#7525 Switched on oneof by default.
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/AnnotationBased/__snapshots__/CertificationTests.Schema_Snapshot.snap
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/CertificationSchema/AnnotationBased/__snapshots__/CertificationTests.Subgraph_SDL.snap
  src/HotChocolate/Caching/test/Caching.Tests/SchemaTests.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/__snapshots__/StarWarsCodeFirstTests.Ensure_Benchmark_Query_LargeQuery.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.DefaultValueIsInputObject.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.DirectiveIntrospection_AllDirectives_Internal.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.DirectiveIntrospection_AllDirectives_Public.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.DirectiveIntrospection_SomeDirectives_Internal.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery_ToJson.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Register_ClrType_InferSchemaTypes.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Register_SchemaType_ClrTypeExists.snap
  src/HotChocolate/Core/test/Types.Tests/Configuration/__snapshots__/TypeDiscovererTests.Upgrade_Type_From_GenericType.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/DescriptionTests.Schema_With_All_Possible_Descriptions.graphql
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/DescriptionTests.Schema_With_All_Possible_Descriptions_No_Indent.graphql
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.DescriptionsAreCorrectlyRead.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Interfaces_Impl_Interfaces_Are_Correctly_Exposed_Through_Introspection.snap
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Authors_And_Reviews_And_Products_Introspection.md
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/__snapshots__/StarWarsIntrospectionTest.Execute_StarWarsIntrospection_Test.snap
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7528 Added DataLoader group generator.
  src/GreenDonut/src/Core/Attributes/DataLoaderGroupAttribute.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/DataLoaderFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/DataLoaderModuleFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ModuleFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/TypeModuleSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/DataLoaderAttributeHelper.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/DataLoaderInfo.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/GroupedDataLoaderInfo.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/DataLoaderTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Types/DataLoaders.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.GenerateSource_BatchDataLoader_With_Group_MatchesSnapshot.md
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7531 Added Helper to convert a ISelection to an Expression.
  src/HotChocolate/Core/src/Execution/Extensions/HotChocolateExecutionSelectionExtensions.cs
  src/HotChocolate/Core/src/Execution/Projections/HotChocolateExecutionDataLoaderExtensions.cs
Labels: 🌶️ hot chocolate

#7533 Removed usage of always() and !cancelled() in workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: 🧰 maintenance

#7534 Added more security policy options.
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/IntrospectionTests.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.Validation.cs
  src/HotChocolate/Core/src/Validation/DefaultDocumentValidatorFactory.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationBuilderExtensions.Rules.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationBuilderExtensions.cs
  src/HotChocolate/Core/src/Validation/Extensions/ValidationServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Validation/Options/IIntrospectionOptionsAccessor.cs
  src/HotChocolate/Core/src/Validation/Options/ValidationConfiguration.cs
  src/HotChocolate/Core/src/Validation/Options/ValidationOptions.cs
  src/HotChocolate/Core/src/Validation/Options/ValidationOptionsModifiers.cs
  src/HotChocolate/Core/src/Validation/Options/ValidationRulesOptions.cs
  src/HotChocolate/Core/src/Validation/Rules/IntrospectionDepthVisitor.cs
  src/HotChocolate/Core/test/Execution.Tests/DependencyInjection/RequestExecutorBuilderExtensions_Validation.Tests.cs
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorVisitorTestBase.cs
  src/HotChocolate/Core/test/Validation.Tests/IntrospectionDepthRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/IntrospectionRuleTests.cs
  src/HotChocolate/Core/test/Validation.Tests/TestHelper.cs
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/IntrospectionRuleTests.IntrospectionNotAllowed_Schema_Field.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/IntrospectionRuleTests.IntrospectionNotAllowed_Schema_Field_Custom_Message.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/IntrospectionRuleTests.IntrospectionNotAllowed_Schema_Field_Custom_MessageFactory.snap
  src/HotChocolate/Core/test/Validation.Tests/__snapshots__/IntrospectionRuleTests.IntrospectionNotAllowed_Type_Field.snap
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/TestHelper/TestServerHelper.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7536 Fixed issue when required data was present in query.
  src/HotChocolate/Core/src/Execution/Projections/IPropertyNodeProvider.cs
  src/HotChocolate/Core/src/Execution/Projections/PropertyNode.cs
  src/HotChocolate/Core/src/Execution/Projections/PropertyNodeContainer.cs
  src/HotChocolate/Core/src/Execution/Projections/SelectionExpressionBuilder.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/ProjectableDataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Projections/__snapshots__/ProjectableDataLoaderTests.Brand_Details_Requires_Brand_Name_2.md
Labels: 🌶️ hot chocolate

#7537 Reverted unintentional changes to blog and documentation
  website/src/blog/2019-04-11-integration-tests.md
  website/src/blog/2021-07-20-rider-language-injection/2021-07-20-rider-language-injection.md
  website/src/docs/hotchocolate/v10/execution-engine/custom-context-data.md
  website/src/docs/hotchocolate/v11/api-reference/aspnetcore.md
  website/src/docs/hotchocolate/v11/api-reference/custom-context-data.md
  website/src/docs/hotchocolate/v11/api-reference/dependency-injection.md
  website/src/docs/hotchocolate/v11/api-reference/migrate-from-10-to-11.md
  website/src/docs/hotchocolate/v11/distributed-schema/schema-configuration.md
  website/src/docs/hotchocolate/v11/security/authorization.md
  website/src/docs/hotchocolate/v12/api-reference/custom-context-data.md
  website/src/docs/hotchocolate/v12/api-reference/migrate-from-10-to-11.md
  website/src/docs/hotchocolate/v12/distributed-schema/schema-configuration.md
  website/src/docs/hotchocolate/v12/security/authorization.md
  website/src/docs/hotchocolate/v12/server/dependency-injection.md
  website/src/docs/hotchocolate/v12/server/global-state.md
  website/src/docs/hotchocolate/v12/server/interceptors.md
  website/src/docs/hotchocolate/v12/server/introspection.md
  website/src/docs/hotchocolate/v13/api-reference/custom-context-data.md
  website/src/docs/hotchocolate/v13/distributed-schema/schema-configuration.md
  website/src/docs/hotchocolate/v13/migrating/migrate-from-10-to-11.md
  website/src/docs/hotchocolate/v13/migrating/migrate-from-12-to-13.md
  website/src/docs/hotchocolate/v13/performance/persisted-queries.md
  website/src/docs/hotchocolate/v13/security/authorization.md
  website/src/docs/hotchocolate/v13/server/dependency-injection.md
  website/src/docs/hotchocolate/v13/server/global-state.md
  website/src/docs/hotchocolate/v13/server/interceptors.md
  website/src/docs/hotchocolate/v13/server/introspection.md
Labels: 📚 documentation, 🌶️ website

#7538 Added more node ID value serializers.
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.IdSerializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/DecimalNodeIdValueSerializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/DoubleNodeIdValueSerializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/SingleNodeIdValueSerializer.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/OptimizedNodeIdSerializerTests.cs
Labels: 🌶️ hot chocolate

#7539 Renamed ToSelectorExpression() to AsSelector()
  src/HotChocolate/Core/src/Execution/Extensions/HotChocolateExecutionSelectionExtensions.cs
  src/HotChocolate/Core/src/Execution/Projections/HotChocolateExecutionDataLoaderExtensions.cs
Labels: 🌶️ hot chocolate

#7540 Added ToConnection mapping overloads
  src/HotChocolate/Core/src/Types.CursorPagination/Edge.cs
  src/HotChocolate/Pagination/src/Pagination.Mappings/Extensions/PagingResultExtensions.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/PagingHelperIntegrationTests.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Map_Page_To_Connection_With_Dto.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Map_Page_To_Connection_With_Dto_2.md
Labels: 🌶️ hot chocolate
