Repository ChilliCream/graphql-platform, pull requests merged in 2024-05, with the labels that each got.

#7078 Use SortedDictionary for consistent order of persisted queries when writing relay format
  src/StrawberryShake/Tooling/src/dotnet-graphql/GenerateCommand.cs
Labels: 🎬 ready, 🌶️ strawberry shake

#7086 Adds support for generic ID Attribute
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterTypeInterceptor.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/IdFilterTypeInterceptorTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/IdFilterTypeInterceptorTests.Filtering_Should_InfereType_When_AnnotatedGeneric.graphql
Labels: 🌶️ hot chocolate

#7090 Fix test target frameworks
  src/HotChocolate/AzureFunctions/test/Directory.Build.props
  src/HotChocolate/Core/test/Subscriptions.RabbitMQ.Tests/HotChocolate.Subscriptions.RabbitMQ.Tests.csproj
Labels: 🌶️ hot chocolate

#7092 Fixed ID Attribute
  src/HotChocolate/Data/src/Data/Filters/Convention/FilterTypeInterceptor.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/IdFilterTypeInterceptorTests.Filtering_Should_InferType_When_AnnotatedGeneric.graphql
  src/HotChocolate/OpenApi/tests/HotChocolate.OpenApi.Tests/IntegrationTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/AnyScalarDefaultSerializationTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/EntityIdOrDataTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/MultiProfileTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetFriendsDeferInListTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetFriendsDeferredTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetFriendsNoStoreTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetFriendsTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetHeroTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetHeroTraitsTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsIntrospectionTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubCompletionTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubGraphQLSSETest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubNoStoreTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsTypeNameOnInterfacesTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsTypeNameOnUnionsTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsUnionListTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalar_InMemoryTest.Client.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7091 Moved paging primitives into separate library.
  src/HotChocolate/Core/HotChocolate.Core.sln
  src/HotChocolate/Core/src/Pagination.Core/HotChocolate.Pagination.Core.csproj
  src/HotChocolate/Core/src/Pagination.Core/Page.cs
  src/HotChocolate/Core/src/Pagination.Core/PageKey.cs
  src/HotChocolate/Core/src/Pagination.Core/PagingArguments.cs
  src/HotChocolate/Data/src/EntityFramework.Helpers/HotChocolate.Data.EntityFramework.Helpers.csproj
  src/HotChocolate/Data/src/EntityFramework.Helpers/Paging/BatchQueryRewriter.cs
  src/HotChocolate/Data/src/EntityFramework.Helpers/Paging/Extensions/PagingQueryableExtensions.cs
  src/HotChocolate/Data/src/EntityFramework/Extensions/EntityFrameworkRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Data/src/EntityFramework/Extensions/PagingResultExtensions.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/PagingHelperIntegrationTests.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/PagingHelperTests.cs
Labels: 🌶️ hot chocolate

#7087 Restored the old `[ID]` behaviour
  src/HotChocolate/Core/src/Types/Types/Relay/Extensions/RelayIdFieldHelpers.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/IdMiddlewareTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdMiddlewareTests.Mutation_ParameterWithoutExplicitType_Should_NotBeValidated.snap
Labels: 🌶️ hot chocolate

#7100 Fix markdownlint errors
  .github/linters/.markdownlint.yml
  .github/workflows/ci.yml
  .markdownlint.yml
  .markdownlintrc
  .vscode/extensions.json
  .vscode/settings.json
  CODE-OF-CONDUCT.md
  COMMUNITY.md
  README.md
  SECURITY.md
  website/src/blog/2019-03-04-hot-chocolate-0.8.0.md
  website/src/blog/2019-04-11-integration-tests.md
  website/src/blog/2019-04-12-type-system.md
  website/src/blog/2019-11-29-schema-design.md
  website/src/blog/2019-12-26-hotchocolate-10.3.0.md
  website/src/blog/2020-03-18-entity-framework/2020-03-18-entity-framework.md
  website/src/blog/2021-01-20-hot-chocolate-logging/2021-01-10-hot-chocolate-logging.md
  website/src/blog/2021-05-30-entity-framework/2020-03-18-entity-framework.md
  website/src/docs/bananacakepop/v2/apis/client-registry.md
  website/src/docs/bananacakepop/v2/apis/schema-registry.md
  website/src/docs/barista/v1/commands/launch.md
  website/src/docs/barista/v1/commands/login.md
  website/src/docs/barista/v1/commands/logout.md
  website/src/docs/barista/v1/commands/stage.md
  website/src/docs/barista/v1/commands/workspace.md
  website/src/docs/barista/v1/index.md
  website/src/docs/hotchocolate/v10/data-fetching/filters.md
  website/src/docs/hotchocolate/v11/api-reference/filtering.md
  website/src/docs/hotchocolate/v11/api-reference/migrate-from-10-to-11.md
  website/src/docs/hotchocolate/v11/defining-a-schema/object-types.md
  website/src/docs/hotchocolate/v12/api-reference/apollo-federation.md
  website/src/docs/hotchocolate/v12/api-reference/filtering.md
  website/src/docs/hotchocolate/v12/api-reference/migrate-from-10-to-11.md
  website/src/docs/hotchocolate/v13/api-reference/apollo-federation.md
  website/src/docs/hotchocolate/v13/api-reference/filtering.md
  website/src/docs/hotchocolate/v13/migrating/migrate-from-10-to-11.md
  website/src/docs/hotchocolate/v13/migrating/migrate-from-12-to-13.md
  website/src/docs/hotchocolate/v13/performance/persisted-queries.md
  website/src/docs/hotchocolate/v13/server/batching.md
  website/src/docs/strawberryshake/v12/caching/entities.md
  website/src/docs/strawberryshake/v12/caching/invalidation.md
  website/src/docs/strawberryshake/v12/get-started/index.md
  website/src/docs/strawberryshake/v12/get-started/xamarin.md
  website/src/docs/strawberryshake/v13/caching/entities.md
  website/src/docs/strawberryshake/v13/caching/invalidation.md
  website/src/docs/strawberryshake/v13/get-started/index.md
  website/src/docs/strawberryshake/v13/get-started/xamarin.md
Labels: 📚 documentation, 🧰 maintenance, 🌶️ website

#6730 Reuse version property provided by the SDK
  src/StrawberryShake/MetaPackages/Common/MSBuild/StrawberryShake.targets
Labels: 🌶️ strawberry shake

#7108 Fix NETSDK1206 warning
  src/StrawberryShake/Client/test/Persistence.SQLite.Tests/StrawberryShake.Persistence.SQLite.Tests.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/StrawberryShake.CodeGeneration.CSharp.Tests.csproj
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Razor.Tests/StrawberryShake.CodeGeneration.Razor.Tests.csproj
Labels: 🌶️ strawberry shake

#7107 Fix ASP0019 warning
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/Helpers/TestHttpContextHelper.cs
Labels: 🌶️ hot chocolate

#7106 Rename OpenAPI "tests" folder to "test"
  src/HotChocolate/OpenApi/HotChocolate.OpenApi.sln
  src/HotChocolate/OpenApi/test/Directory.Build.props
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/Controllers/PetStoreController.cs
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/Controllers/SyntheticWithLinksController.cs
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/GraphQLNamingHelperTests.cs
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/HotChocolate.OpenApi.Tests.csproj
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/IntegrationTests.cs
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/OpenApiMutableSchemaBuilderTests.cs
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/OpenApiParameterSerializerTests.cs
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/RuntimeExpressionEvaluatorTests.cs
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__resources__/petstore-expanded.yaml
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__resources__/synthetic-with-default-values.yaml
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__resources__/synthetic-with-deprecations.yaml
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__resources__/synthetic-with-links.yaml
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__resources__/synthetic-with-tags.yaml
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithMutationConventions_ReturnsExpectedResult_addPet_Failure.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithMutationConventions_ReturnsExpectedResult_addPet_Success.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithMutationConventions_ReturnsExpectedResult_deletePet_Failure.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithMutationConventions_ReturnsExpectedResult_deletePet_Success.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithMutationConventions_ReturnsExpectedResult_findPetById_Failure.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithMutationConventions_ReturnsExpectedResult_findPetById_Success.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithMutationConventions_ReturnsExpectedResult_findPets_Failure.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithMutationConventions_ReturnsExpectedResult_findPets_Success.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithoutMutationConventions_ReturnsExpectedResult_addPet_Failure.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithoutMutationConventions_ReturnsExpectedResult_addPet_Success.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithoutMutationConventions_ReturnsExpectedResult_deletePet_Failure.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithoutMutationConventions_ReturnsExpectedResult_deletePet_Success.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithoutMutationConventions_ReturnsExpectedResult_findPetById_Failure.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithoutMutationConventions_ReturnsExpectedResult_findPetById_Success.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithoutMutationConventions_ReturnsExpectedResult_findPets_Failure.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_PetStoreExpandedWithoutMutationConventions_ReturnsExpectedResult_findPets_Success.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_SyntheticWithLinks_ReturnsExpectedResult_getArticleById.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/IntegrationTests.ExecuteQuery_SyntheticWithLinks_ReturnsExpectedResult_getArticles.json
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/OpenApiMutableSchemaBuilderTests.CreateMutableSchema_WithDefaultValues_ReturnsExpectedResult.graphql
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/OpenApiMutableSchemaBuilderTests.CreateMutableSchema_WithDeprecations_ReturnsExpectedResult.graphql
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/OpenApiMutableSchemaBuilderTests.CreateMutableSchema_WithLinks_ReturnsExpectedResult.graphql
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/OpenApiMutableSchemaBuilderTests.CreateMutableSchema_WithMutationConventions_ReturnsExpectedResult.graphql
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/OpenApiMutableSchemaBuilderTests.CreateMutableSchema_WithTags_ReturnsExpectedResult.graphql
  src/HotChocolate/OpenApi/test/HotChocolate.OpenApi.Tests/__snapshots__/OpenApiMutableSchemaBuilderTests.CreateMutableSchema_WithoutMutationConventions_ReturnsExpectedResult.graphql
Labels: 🌶️ hot chocolate

#7019 Don't check for a convention when not one isn't needed
  src/HotChocolate/Data/src/Data/Filters/Extensions/FilterObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/src/Data/Sorting/Extensions/SortObjectFieldDescriptorExtensions.cs
Labels: 🌶️ hot chocolate

#7114 Add Newsletter
  website/src/blog/2024-04-01-fullstack-workshop/2024-04-01-fullstack-workshop.md
  website/src/blog/2024-04-01-fullstack-workshop/header.png
  website/src/blog/2024-04-01-fullstack-workshop/img1.png
  website/src/blog/2024-05-21-newsletter-may/2024-05-21-newsletter-may.md
  website/src/blog/2024-05-21-newsletter-may/header.png
  website/src/blog/2024-05-21-newsletter-may/img1.png
  website/src/blog/2024-05-21-newsletter-may/img2.png
  website/src/blog/2024-05-21-newsletter-may/img3.png
  website/src/blog/2024-05-21-newsletter-may/img4.png
  website/src/components/images/fullstack-workshop.tsx
  website/src/components/images/newsletter-may-2024.tsx
  website/src/docs/hotchocolate/v12/server/dependency-injection.md
  website/src/docs/hotchocolate/v12/server/interceptors.md
  website/src/docs/hotchocolate/v13/server/dependency-injection.md
  website/src/docs/hotchocolate/v13/server/interceptors.md
  website/src/pages/index.tsx
Labels: 📚 documentation, 🌶️ website

#7117 Reworked Status Code Behavior
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/ServerTestBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/GraphQLOverHttpSpecTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetMiddlewareTests.SingleRequest_CreateReviewForEpisode_Omit_NonNull_Variable.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetMiddlewareTests.Throw_Custom_GraphQL_Error.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.SingleRequest_CreateReviewForEpisode_Omit_NonNull_Variable.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpPostMiddlewareTests.Throw_Custom_GraphQL_Error.snap
  src/HotChocolate/Diagnostics/src/Diagnostics/Scopes/ExecuteOperationScope.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/Scopes/ExecuteRequestScope.cs
Labels: 🌶️ hot chocolate

#7116 feat: accept structs in ObjectTypeAttribute<T>
  src/HotChocolate/Core/src/Types/Types/Attributes/ObjectTypeAttribute.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/BookType.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/SchemaTests.SchemaSnapshot.md
Labels: 🌶️ hot chocolate

#7119 Reduced Generated Type Extension Code
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ModuleSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ObjectTypeExtensionSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/TypeModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/TypesGenerator.cs
Labels: 🌶️ hot chocolate

#7122 Fix markdownlint errors
  website/src/blog/2024-04-01-fullstack-workshop/2024-04-01-fullstack-workshop.md
  website/src/blog/2024-05-21-newsletter-may/2024-05-21-newsletter-may.md
Labels: 🌶️ website

#7121 Add VariableDefinition directive location to DirectiveTypeFactory
  src/HotChocolate/Core/src/Types/Types/Factories/DirectiveTypeFactory.cs
Labels: 🌶️ hot chocolate

#7129 Reset requirements planner for every iteration.
  src/HotChocolate/Core/src/Execution/Processing/SelectionSet.cs
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/RequirementsPlannerMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/QueryPlanContext.cs
  src/HotChocolate/Fusion/test/Core.Tests/DataTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/ErrorTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/EventStreamTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/FileUploadTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/InterfaceTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/IntrospectionTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/TestHelper.cs
  src/HotChocolate/Fusion/test/Core.Tests/UnionTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_27_Multiple_Require_Steps_From_Same_Subgraph.md
Labels: 🌶️ hot chocolate

#6995 ignore when required variable was already added to selection
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/FieldRequirementsPlannerMiddleware.cs
  src/HotChocolate/Fusion/test/Composition.Tests/RequireTests.cs
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.Accounts_And_Reviews2_Products_With_Nodes.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.Accounts_And_Reviews_Products.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.Accounts_And_Reviews_Products_AutoCompose_With_Node.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.Accounts_And_Reviews_Products_With_Nodes.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/RequireTests.Require_Scalar_Arguments_No_Overloads.graphql
  src/HotChocolate/Fusion/test/Core.Tests/RequestPlannerTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Authors_And_Reviews_And_Products_AutoCompose.graphql
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Authors_And_Reviews_And_Products_Introspection.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Fetch_User_With_Invalid_Node_Field.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Fetch_User_With_Node_Field.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Fetch_User_With_Node_Field_From_Two_Subgraphs.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Fetch_User_With_Node_Field_Pass_In_Review_Id.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Fetch_User_With_Node_Field_Pass_In_Unknown_Id.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Forward_Nested_Node_Variables.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/FileUploadTests.AutoCompose.graphql
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_36_Requires_CommonField_Multiple_Times.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_37_Requires_CommonField_Once.md
  src/HotChocolate/Fusion/test/Shared/DemoProjectSchemaExtensions.cs
  src/HotChocolate/Fusion/test/Shared/Products/ProductBookmark.cs
  src/HotChocolate/Fusion/test/Shared/Products/ProductConfiguration.cs
  src/HotChocolate/Fusion/test/Shared/Products/ProductQuery.cs
  src/HotChocolate/Fusion/test/Shared/Products/ProductRepository.cs
Labels: 🌶️ hot chocolate
