Repository ChilliCream/graphql-platform, pull requests merged in 2025-03, with the labels that each got.

#8085 [Fusion] Added source schema directive definitions
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/ExternalMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/InaccessibleMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/InternalMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/IsMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/KeyMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/LookupMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/OverrideMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/ProvidesMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/RequireMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/SchemaNameMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/ShareableMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownArgumentNames.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
Labels: 🌶️ hot chocolate

#8086 [Fusion] Set schema name from `@schemaName` directive
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaParser.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaParserTests.cs
Labels: 🌶️ hot chocolate

#8090 [Fusion] Added Fusion CLI
  dictionary.txt
  src/HotChocolate/Fusion-vnext/HotChocolate.Fusion-vnext.slnx
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/Commands/ComposeCommand.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/Commands/RootCommand.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/HotChocolate.Fusion.CommandLine.csproj
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/Program.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/Properties/CommandLineResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/Properties/CommandLineResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/ComposeCommandTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/HotChocolate.Fusion.CommandLine.Tests.csproj
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/invalid-example-1/result/composite-schema.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/invalid-example-1/source-schema-1.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/invalid-example-1/source-schema-2.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/invalid-example-2/source-schema-1.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/invalid-example-2/source-schema-2.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/valid-example-1/result/composite-schema.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/valid-example-1/source-schema-1.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/valid-example-1/source-schema-2.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__snapshots__/ComposeCommandTests.Compose_InvalidExample1_FromWorkingDirectory_ToStdOutWithWarningsAndErrors.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaParserTests.cs
Labels: 🌶️ hot chocolate

#8096 Fixed authorization type interceptor flow.
  src/HotChocolate/Core/src/Authorization/AuthorizationTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/test/Authorization.Tests/AnnotationBasedAuthorizationTests.cs
  src/HotChocolate/Core/test/Authorization.Tests/SchemaFirstAuthorizationTests.cs
  src/HotChocolate/Core/test/Authorization.Tests/__snapshots__/AnnotationBasedAuthorizationTests.Authorize_Node_Field_Schema.graphql
  src/HotChocolate/Core/test/Authorization.Tests/__snapshots__/SchemaFirstAuthorizationTests.Authorize_Apply_Can_Be_Omitted.graphql
Labels: 🌶️ hot chocolate, Area: Authorization, 🍒 cherry-pick

#8098 Added oneof tests
  src/HotChocolate/Core/test/Types.Tests/Types/OneOfIntegrationTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/OneOfIntegrationTests.OneOf_DefaultValue_On_Directive_Argument.snap
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/OneOfIntegrationTests.OneOf_DefaultValue_On_Directive_Argument_Fluent.snap
Labels: 🌶️ hot chocolate

#8092 [Fusion] Added post-merge validation rule "RequireInvalidFieldsRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/CompositionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/DirectivesProviderExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/RequireInvalidFieldsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/RequireInvalidFieldsRuleTests.cs
Labels: 🌶️ hot chocolate

#8061 Fix nested sorting a new approach QueryContext
  src/HotChocolate/Data/src/Data/Sorting/Context/SortingContext.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/IntegrationTests.Sorting_Should_Work_When_Nested.snap
Labels: 🌶️ hot chocolate

#8045 Clean SortInput postfix
  src/HotChocolate/Data/src/Data/Sorting/Convention/SortConvention.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/Convention/SortConventionTests.cs
Labels: 🌶️ hot chocolate

#8047 Add services to support complex sort handler
  src/HotChocolate/Data/src/Data/DataResources.Designer.cs
  src/HotChocolate/Data/src/Data/DataResources.resx
  src/HotChocolate/Data/src/Data/Sorting/Convention/SortConvention.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/ISortProviderConvention.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/SortProvider.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/SortProviderExtensions.cs
  src/HotChocolate/Data/src/Data/ThrowHelper.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/QueryableSortVisitorObjectTests.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/SchemaCache.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/__snapshots__/QueryableSortVisitorObjectTests.Create_ObjectComplex_OrderBy_Sum.snap
Labels: 🌶️ hot chocolate

#8078 Abandon Response Formatting Gracefully on Cancellation
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/Core/src/Execution/Serialization/EventStreamResultFormatter.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8102 [Fusion] Added post-merge validation rule "NonNullInputFieldIsInaccessibleRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/NonNullInputFieldIsInaccessibleRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/NonNullInputFieldIsInaccessibleRuleTests.cs
Labels: 🌶️ hot chocolate

#8103 [Fusion] Added pre-merge validation rule "FieldWithMissingRequiredArgumentRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidationRules/FieldWithMissingRequiredArgumentRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidationRules/FieldWithMissingRequiredArgumentRuleTests.cs
Labels: 🌶️ hot chocolate

#8108 Avoided setting an implicit name for enum values with an explicit name
  src/HotChocolate/Core/src/Types/Types/Descriptors/EnumTypeDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/EnumValueDescriptor.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8107 Do not overwrite Id Serializer with AddGlobalObjectIdentification
  src/HotChocolate/Core/src/Execution/DependencyInjection/SchemaRequestExecutorBuilderExtensions.Relay.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/NodeIdSerializerTests.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review, 🍒 cherry-pick

#8110 Fixed issues with ToPageAsync() and relative cursors.
  src/GreenDonut/src/GreenDonut.Data.EntityFramework/Expressions/ExpressionHelpers.cs
  src/GreenDonut/src/GreenDonut.Data.EntityFramework/Expressions/ReverseOrderExpressionRewriter.cs
  src/GreenDonut/src/GreenDonut.Data.EntityFramework/Extensions/PagingQueryableExtensions.cs
  src/GreenDonut/src/GreenDonut.Data.Primitives/Page.cs
  src/GreenDonut/src/GreenDonut.Data/Cursors/Cursor.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/PagingHelperTests.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/RelativeCursorTests.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/SnapshotExtensions.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.BatchPaging_Last_5_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.BatchPaging_Last_5_NET9_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.BatchPaging_With_Relative_Cursor_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.BatchPaging_With_Relative_Cursor_NET9_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_Empty_PagingArgs.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_Empty_PagingArgs_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_First_5_After_Id_13.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_First_5_After_Id_13_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_First_5_Before_Id_96.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_First_5_Before_Id_96_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_Last_5.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_Last_5_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.Fetch_First_2_Items_Second_Page_With_Offset_Negative_2.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Brand.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Brand_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Brand_Name.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Brand_Name_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Product_List.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Product_List_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_NET8_0.md
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Data/src/EntityFramework/Pagination/EfQueryableCursorPagingHandler.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Products_First_2_With_4_EndCursors.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Products_First_2_With_4_EndCursors_Skip_4.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Products_First_2_With_4_EndCursors_Skip_4__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Products_First_2_With_4_EndCursors__net_8_0.md
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationPagingHelperTests.BatchPaging_Last_5.md
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationPagingHelperTests.BatchPaging_Last_5_NET9_0.md
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage_With_Deep_SecondPage.md
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage_With_Nullable_Fallback_SecondPage.md
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage_With_Nullable_SecondPage.md
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationPagingHelperTests.GetSecondPage_With_2_Items.md
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_Empty_PagingArgs.md
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_First_5_After_Id_13.md
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_First_5_Before_Id_96.md
  src/HotChocolate/Data/test/Data.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_Last_5.md
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8112 Fixed Source Generator Visual Studio 2022 incompatibility
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ConnectionTypeFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/EdgeTypeFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/TypeFileBuilderBase.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/TypesSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/HotChocolate.Types.Analyzers.csproj
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ConnectionTypeTransformer.cs
  src/HotChocolate/Core/src/Types.Analyzers/KnownSymbols.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/IOutputTypeInfo.cs
Labels: 🌶️ hot chocolate

#8114 Added Docker Hub login step to CI and coverage workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  dictionary.txt
Labels: 🧰 maintenance

#8116 Fixed Node id field can no longer be provided via an extension type
  src/HotChocolate/Core/src/Types/Types/Relay/Attributes/NodeAttribute.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/NodeResolverTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/NodeResolverTests.NodeAttribute_On_Extension_With_Renamed_Id.snap
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8113 Fix flaky executor tests
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/EvictSchemaTests.cs
  src/HotChocolate/Core/test/Execution.Tests/AutoUpdateRequestExecutorProxyTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Configuration/TypeModuleTests.cs
  src/HotChocolate/Core/test/Execution.Tests/RequestExecutorProxyTests.cs
  src/HotChocolate/Core/test/Execution.Tests/RequestExecutorResolverTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8119 Throw error when is implicitly bound as schema type.
  src/HotChocolate/Core/src/Types/Properties/TypeResources.Designer.cs
  src/HotChocolate/Core/src/Types/Properties/TypeResources.resx
  src/HotChocolate/Core/src/Types/SchemaBuilder.cs
  src/HotChocolate/Core/test/Types.Tests/CodeFirstTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8120 [Fusion] Fix flaky Hot Reload test
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review, 🍒 cherry-pick

#8123 Updated node ID serializers to ensure correct padding while parsing
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/DefaultNodeIdSerializer.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/OptimizedNodeIdSerializer.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/DefaultNodeIdSerializerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/OptimizedNodeIdSerializerTests.cs
Labels: 🌶️ hot chocolate

#8122 Updated ISelection.AsSelector to correctly handle the `nodes` field
  src/HotChocolate/Core/src/Execution.Projections/Extensions/HotChocolateExecutionSelectionExtensions.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/NodeResolverTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8121 Updated CI workflow to only run Docker Hub login step for local branches
  .github/workflows/ci.yml
Labels: 🧰 maintenance

#8124 Make `includeDeprecated` non nullable.
  src/HotChocolate/Core/src/Types/Types/Introspection/__Directive.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__Field.cs
  src/HotChocolate/Core/src/Types/Types/Introspection/__Type.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/__snapshots__/StarWarsCodeFirstTests.Ensure_Benchmark_Query_LargeQuery.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.DefaultValueIsInputObject.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery.snap
  src/HotChocolate/Core/test/Execution.Tests/__snapshots__/IntrospectionTests.ExecuteGraphiQLIntrospectionQuery_ToJson.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.DescriptionsAreCorrectlyRead.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SchemaFirstTests.Interfaces_Impl_Interfaces_Are_Correctly_Exposed_Through_Introspection.snap
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/__snapshots__/StarWarsIntrospectionTest.Execute_StarWarsIntrospection_Test.snap
Labels: ⚖️ spec, 🌶️ hot chocolate, 🌶️ strawberry shake, 💥 breaking-changes, 🍒 cherry-pick

#8125 Fixed GraphQL schema does not support operation validation.
  src/HotChocolate/Core/src/Validation/ErrorHelper.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Validation/Properties/Resources.resx
  src/HotChocolate/Core/src/Validation/Rules/FieldVisitor.cs
  src/HotChocolate/Core/test/Execution.Tests/Errors/__snapshots__/ErrorBehaviorTests.RootTypeNotDefined.json
  src/HotChocolate/Core/test/Validation.Tests/FieldMustBeDefinedRuleTests.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/PagingTests.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/__snapshots__/PagingTests.Execute_On_Missing_Root_Type.md
Labels: security, 🌶️ hot chocolate, 🍒 cherry-pick

#7950 [Fusion] Add failing tests for selections below shared, non-refetchable field
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Field_Below_Shared_Field_Only_Available_On_One_Subgraph_Type_Of_Shared_Field_Not_Node.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Field_Below_Shared_Field_Only_Available_On_One_Subgraph_Type_Of_Shared_Field_Not_Node_2.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Field_Below_Shared_Field_Only_Available_On_One_Subgraph_Type_Of_Shared_Field_Not_Node_3.md
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#8133 Refactored OPA authorization tests to work with a dynamic port
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/AuthorizationAttributeTestData.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/AuthorizationTestData.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/AuthorizationTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Opa.Tests/OpaProcess/OpaProcess.cs
Labels: 🌶️ hot chocolate

#7894 [Fusion] @semanticNonNull support
  src/HotChocolate/Core/src/Types/SemanticNonNullTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Utilities/ErrorHelper.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/FusionRequestExecutorBuilderExtensions.cs
  src/HotChocolate/Fusion/src/Core/Execution/ExecutionUtils.cs
  src/HotChocolate/Fusion/src/Core/Execution/Pipeline/SemanticNonNullOptimizer.cs
  src/HotChocolate/Fusion/test/Core.Tests/SemanticNonNullTests.cs
  src/HotChocolate/Fusion/test/Shared/TestSubgraph.cs
Labels: 🌶️ hot chocolate, Area: Fusion, 🍒 cherry-pick

#8136 Do not apply @semanticNonNull to id fields
  src/HotChocolate/Core/src/Types/SemanticNonNullTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Tests/SemanticNonNullTests.cs
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SemanticNonNullTests.Object_Implementing_Node.snap
  src/HotChocolate/Core/test/Types.Tests/__snapshots__/SemanticNonNullTests.Object_With_Id_Field.snap
Labels: 🌶️ hot chocolate, 👓 ready-for-review, 🍒 cherry-pick

#8135 Added WebSocket payload formatter and options for GraphQL over WebSocket
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.Subscriptions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultWebSocketPayloadFormatter.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/IWebSocketPayloadFormatter.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/WebSocketPayloadFormatterOptions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/Protocols/Apollo/ApolloSubscriptionProtocolHandler.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/Protocols/GraphQLOverWebSocket/GraphQLOverWebSocketProtocolHandler.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/Apollo/WebSocketProtocolTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/GraphQLOverWebSocket/WebSocketProtocolTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8139 Fixed issue where projections fallback was not possible.
  src/HotChocolate/Core/src/Execution.Projections/SelectionExpressionBuilder.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Data/CatalogContext.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Migrations/20240317214259_Initial.Designer.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Migrations/20240317214259_Initial.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Migrations/CatalogContextModelSnapshot.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Migrations/CatalogContextSeed.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Models/SingleProperty.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Types/SingleProperties/SinglePropertyQueries.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Types/SingleProperties/SinglePropertyType.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.CreateSchema.graphql
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Ensure_That_Self_Requirement_Is_Honored.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Ensure_That_Self_Requirement_Is_Honored__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Fallback_To_Runtime_Properties_When_No_Field_Is_Bindable.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Fallback_To_Runtime_Properties_When_No_Field_Is_Bindable__net_8_0.md
Labels: 🌶️ hot chocolate

#8140 Added OTel blog post
  website/src/blog/2025-03-17-open-telemetry-for-everyone/2025-03-17-open-telemetry-for-everyone.md
  website/src/blog/2025-03-17-open-telemetry-for-everyone/header.png
  website/src/blog/2025-03-17-open-telemetry-for-everyone/otel1.png
  website/src/docs/docs.json
  website/src/docs/nitro/open-telemetry/operation-monitoring.md
  website/src/docs/nitro/open-telemetry/service-monitoring.md
Labels: 📚 documentation, 🌶️ website

#7989 [Fusion] Fail Query Plan generation early
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/ExecutionStepDiscoveryMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/Steps/SelectionExecutionStep.cs
  src/HotChocolate/Fusion/src/Core/Planning/Steps/SelectionPath.cs
  src/HotChocolate/Fusion/test/Core.Tests/RequestPlannerTests.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#8141 Updated Paging YouTube Episode
  website/src/docs/hotchocolate/v15/fetching-data/pagination.md
Labels: 📚 documentation

#8142 Updated Nitro to Version 26.0.3
  src/HotChocolate/Directory.Build.props
Labels: 🌶️ hot chocolate

#8143 Skipped flaky test in Apollo WebSocketProtocolTests
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/Apollo/WebSocketProtocolTests.cs
Labels: 🌶️ hot chocolate

#8145 Fixed issue with parameter replacement in queryable field handlers
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/QueryableDefaultFieldHandler.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Handlers/QueryableDefaultSortFieldHandler.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/QueryableFilterVisitorObjectTests.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorObjectTests.Create_ObjectStringEqual_Flattened.snap
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/QueryableFilterVisitorObjectTests.Create_ObjectStringEquals_Related_Flattened.snap
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8149 Make TypeInterceptor.IsEnabled public
  src/HotChocolate/Core/src/Fetching/DataLoaderRootFieldTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInterceptor.cs
  src/HotChocolate/Core/src/Types/SemanticNonNullTypeInterceptor.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/CostTypeInterceptor.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review, 🍒 cherry-pick

#8150 Reduce totalCount requests when using relative cursors.
  src/GreenDonut/src/GreenDonut.Data.EntityFramework/Expressions/ExpressionHelpers.cs
  src/GreenDonut/src/GreenDonut.Data.EntityFramework/Extensions/PagingQueryableExtensions.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/TypeFileBuilderBase.cs
  src/HotChocolate/Core/src/Types.Analyzers/WellKnownTypes.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/UseConnectionAttribute.cs
  src/HotChocolate/Core/src/Types/Resolvers/DefaultParameterBindingResolver.cs
  src/HotChocolate/Core/src/Types/Resolvers/DefaultResolverCompiler.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ConnectionFlagsParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/IsSelectedParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Resolvers/IsSelectedContext.cs
  src/HotChocolate/Core/src/Types/Resolvers/IsSelectedVisitor.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/ConnectionFlags.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/ConnectionFlagsHelper.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingOptions.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_ConnectionFlags.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_ConnectionT_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_CustomConnection_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_CustomConnection_No_Duplicates_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_CustomConnection_UseConnection_ConnectionName_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_CustomConnection_UseConnection_IncludeTotalCount_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_GenericCustomConnection_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_GenericCustomConnection_WithConnectionName_MatchesSnapshot.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_Inherit_From_ConnectionBase_Inherit_PageEdge.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_Inherit_From_ConnectionBase_Reuse_PageEdge.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_Inherit_From_ConnectionBase_Reuse_PageEdge_Generic.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_Inherit_From_PageConnection.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Types/Brands/BrandNode.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2_Name_Desc.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2_Name_Desc_Brand_Name.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2_Name_Desc_Brand_Name__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2_Name_Desc__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Products_First_2_And_Brand.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Products_First_2_And_Brand__net_8_0.md
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8152 Colocate Edge and Connection Type
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ConnectionTypeTransformer.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/EdgeTypeInfo.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_Inherit_From_ConnectionBase_Reuse_PageEdge.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_Inherit_From_ConnectionBase_Reuse_PageEdge_Generic.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/PagingTests.GenerateSource_Inherit_From_PageConnection.md
Labels: 🌶️ hot chocolate

#8153 Added pageInfo as connection flag
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ConnectionFlagsParameterExpressionBuilder.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/ConnectionFlags.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/ConnectionFlagsHelper.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingOptions.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Types/Brands/BrandNode.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Verify_That_PageInfo_Flag_Is_Correctly_Inferred.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Verify_That_PageInfo_Flag_Is_Correctly_Inferred__net_8_0.md
Labels: 🌶️ hot chocolate

#8157 Added additional checks to the SelectionSetValidator
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Properties/FusionUtilitiesResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Properties/FusionUtilitiesResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Validators/SelectionSetValidator.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Utilities.Tests/Validators/SelectionSetValidatorTests.cs
Labels: 🌶️ hot chocolate

#8158 [Fusion] Removed validation rule "RequireDirectiveInFieldArgumentRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/RequireDirectiveInFieldArgumentRule.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/RequireDirectiveInFieldArgumentRuleTests.cs
Labels: 🌶️ hot chocolate

#8159 [Fusion] Parsed `@require(field:)` as FieldSelectionMap
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Events/SchemaEvents.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidator.cs
Labels: 🌶️ hot chocolate

#8161 [Fusion] Refactored validation rule "ExternalUnusedRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/ExternalUnusedRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Validators/FieldInSelectionSetValidator.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/ExternalUnusedRuleTests.cs
Labels: 🌶️ hot chocolate

#8162 [Fusion] Renamed parameter `selectedSet` to `selectionSet`
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Validators/SelectionSetValidator.cs
Labels: 🌶️ hot chocolate

#8165 Relaxed type symbol check for connections.
  src/HotChocolate/Core/src/Types.Analyzers/KnownSymbols.cs
Labels: 🌶️ hot chocolate

#8168 [Fusion] Refactored validation rule "KeyInvalidFieldsRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Events/SchemaEvents.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/KeyInvalidFieldsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidator.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/KeyInvalidFieldsRuleTests.cs
Labels: 🌶️ hot chocolate

#8170 [Fusion] Refactored selection set field events
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Events/SchemaEvents.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Info/FieldNodeInfo.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/KeyDirectiveInFieldsArgumentRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/KeyFieldsHasArgumentsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/KeyFieldsSelectInvalidTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/KeyInvalidFieldsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/KeyInvalidFieldsTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/KeyInvalidSyntaxRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SyntaxWalkers/SelectionSetFieldNodesExtractor.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SyntaxWalkers/SelectionSetFieldsExtractor.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/ProvidesDirectiveInFieldsArgumentRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SyntaxWalkers/SelectionSetFieldNodesExtractorTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SyntaxWalkers/SelectionSetFieldsExtractorTests.cs
Labels: 🌶️ hot chocolate

#8171 [Fusion] Added tests for the FieldInSelectionSetValidator
  src/HotChocolate/Fusion-vnext/test/Fusion.Utilities.Tests/Validators/FieldInSelectionSetValidatorTests.cs
Labels: 🌶️ hot chocolate

#8172 [Fusion] Removed "extend" keyword from test theory data
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/QueryRootTypeInaccessibleRuleTests.cs
Labels: 🌶️ hot chocolate

#8174 [Fusion] Added missing rule summaries and synced test cases with spec
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedEnumTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedInterfaceTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedUnionTypeRule.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/EmptyMergedEnumTypeRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/EmptyMergedInterfaceTypeRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/EmptyMergedUnionTypeRuleTests.cs
Labels: 🌶️ hot chocolate

#8151 Removed outdated comments in StaticQueryAnalysisTests
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/StaticQueryAnalysisTests.cs
Labels: 🌶️ hot chocolate

#8156 Updated the DOCKER_CONFIG environment variable
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: 🧰 maintenance

#8180 [Fusion] Updated comment and theory data in `TypeKindMismatchRuleTests`
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidationRules/TypeKindMismatchRuleTests.cs
Labels: 🌶️ hot chocolate

#8183 [Fusion] Refactored `RequireInvalidFieldsRule` (no source schema access)
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/CompositionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/RequireInvalidFieldsRule.cs
Labels: 🌶️ hot chocolate

#8178 Updated Nitro to 26.0.4
  src/HotChocolate/Directory.Build.props
Labels: 🌶️ hot chocolate

#8186 Downgraded analyzer to support .NET 8
  src/HotChocolate/Core/src/Types.Analyzers/HotChocolate.Types.Analyzers.csproj
Labels: 🌶️ hot chocolate

#8187 [Fusion] Updated `RequireInvalidFieldsRule` (disallow same schema)
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/ObjectFieldDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/RequireInvalidFieldsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Validators/FieldSelectionMapValidator.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/RequireInvalidFieldsRuleTests.cs
Labels: 🌶️ hot chocolate

#8188 [Fusion] Cleaned up extension classes
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/DirectivesProviderExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/MutableComplexTypeDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/MutableObjectTypeDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/MutableOutputFieldDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/MutableSchemaDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/ObjectTypeDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/TypeDefinitionExtensions.cs
Labels: 🌶️ hot chocolate

#8190 Added promise cache interceptor.
  src/GreenDonut/src/GreenDonut.Abstractions/IPromiseCache.cs
  src/GreenDonut/src/GreenDonut.Abstractions/IPromiseCacheInterceptor.cs
  src/GreenDonut/src/GreenDonut/DependencyInjection/DataLoaderServiceCollectionExtensions.cs
  src/GreenDonut/src/GreenDonut/PromiseCache.cs
  src/GreenDonut/src/GreenDonut/PromiseCacheOwner.cs
  src/GreenDonut/src/GreenDonut/PromiseCachePooledObjectPolicy.cs
  src/GreenDonut/test/GreenDonut.Tests/PromiseCacheTests.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/HotChocolate.Data.PostgreSQL.Tests.csproj
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8192 [Fusion] Added post-merge validation rule "EnumTypeDefaultValueInaccessibleRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EnumTypeDefaultValueInaccessibleRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/EnumTypeDefaultValueInaccessibleRuleTests.cs
Labels: 🌶️ hot chocolate

#8195 [Fusion] Replaced filtering with assertion in `MergeArgumentDefinitions`
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
Labels: 🌶️ hot chocolate

#8196 [Fusion] Refactored rule "ExternalArgumentDefaultMismatchRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidationRules/ExternalArgumentDefaultMismatchRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidationRules/ExternalArgumentDefaultMismatchRuleTests.cs
Labels: 🌶️ hot chocolate

#8203 [Fusion] FieldSelectionMapParser support for Path.SelectedObjectValue
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/Parsers/FieldSelectionMapParser.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/Readers/FieldSelectionMapReader.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/SyntaxSerializers/FieldSelectionMapSyntaxSerializer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Language.Tests/FieldSelectionMapParserTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Utilities.Tests/Rewriters/SelectedValueToSelectionSetRewriterTests.cs
Labels: 🌶️ hot chocolate
