Repository ChilliCream/graphql-platform, pull requests merged in 2025-07, with the labels that each got.

#8417 Fixed various analyzer errors
  src/GreenDonut/src/GreenDonut/DataLoaderBase.cs
  src/HotChocolate/Core/src/Execution.Abstractions/Collections/Immutable/ImmutableOrderedDictionary.cs
  src/HotChocolate/Core/src/Execution.Abstractions/Execution/OperationResultBuilder.cs
  src/HotChocolate/Core/src/Execution/Processing/MiddlewareContext.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/Operation.cs
  src/HotChocolate/Core/src/Types.Abstractions/Polyfills/OrderedDictionary.cs
  src/HotChocolate/Core/src/Types/Configuration/Features/TypeSystemConventionFeature.cs
  src/HotChocolate/Core/src/Types/Configuration/Features/TypeSystemFeature.cs
  src/HotChocolate/Core/src/Types/SchemaErrorBuilder.Error.cs
  src/HotChocolate/Core/src/Types/Types/Factories/SchemaFirstTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Factories/SchemaSyntaxVisitorContext.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaBuilderTests.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanStep.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8422 Simplified member access
  .editorconfig
  src/GreenDonut/test/GreenDonut.Tests/DataLoaderTests.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.Members.cs
  src/HotChocolate/Core/src/Validation/Rules/ValueVisitor.cs
  src/HotChocolate/Core/test/Validation.Tests/DocumentValidatorTests.cs
  src/HotChocolate/Core/test/Validation.Tests/Types/ComplexDirective.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterProvider.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterProviderExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Convention/ProjectionProviderExtension.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/SortProviderExtensions.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/SchemaCache.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/SortConventionExtensionsTests.cs
  src/HotChocolate/Diagnostics/src/Diagnostics/InstrumentationOptions.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/GraphQLParserSyntaxTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/SchemaCache.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/SchemaCache.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Projections.Tests/SchemaCache.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Sorting.Tests/SchemaCache.cs
  src/HotChocolate/Primitives/src/Primitives/SchemaCoordinate.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8423 Ordered named arguments according to the order of parameters
  .editorconfig
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/IntrospectionTests.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/GraphQLHttpClientTests.cs
  src/HotChocolate/Caching/test/Caching.Tests/HttpCachingTests.cs
  src/HotChocolate/Core/src/Authorization/AuthorizeAttribute.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationCompiler.cs
  src/HotChocolate/Core/src/Execution/Processing/Result/ResultBuilder.cs
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/RabbitMQTopic.cs
  src/HotChocolate/Core/src/Types.Mutations/MutationConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types.Queries/QueryConventionTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.Members.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.SchemaType.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.SystemType.cs
  src/HotChocolate/Core/src/Types/SemanticNonNullTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Descriptors/NodeDescriptorBase.cs
  src/HotChocolate/Core/test/Execution.Tests/Configuration/TypeModuleTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/StarWarsCodeFirst/StarWarsCodeFirstTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/TypeConverter/TypeConverterTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/OperationCompilerTests.cs
  src/HotChocolate/Core/test/Execution.Tests/RequestExecutorResolverTests.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/QueryableCursorPagingProviderTests.cs
  src/HotChocolate/Data/src/Data/Projections/Expressions/Optimizers/QueryablePagingProjectionOptimizer.cs
  src/HotChocolate/Data/src/Data/Projections/Optimizers/IsProjectedProjectionOptimizer.cs
  src/HotChocolate/Data/test/Data.Projections.SqlServer.Tests/QueryableProjectionInterfaceTypeTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Projections.Tests/SchemaCache.cs
  src/HotChocolate/Raven/test/Data.Raven.Projections.Tests/QueryableProjectionInterfaceTypeTests.cs
Labels: 🌶️ hot chocolate

#8426 Fixed issue when sealing selections
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/SelectionSet.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/FusionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate

#8427 [Fusion] Fixed basic lookup requirements
  src/CookieCrumble/src/CookieCrumble/Extensions/WriterExtensions.cs
  src/GreenDonut/src/GreenDonut/BatchDataLoader.cs
  src/GreenDonut/src/GreenDonut/CacheDataLoader.cs
  src/HotChocolate/Core/src/Types/Types/Directives/Internal.cs
  src/HotChocolate/Core/src/Types/Types/Directives/InternalAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Directives/InternalDirectiveExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Directives/Lookup.cs
  src/HotChocolate/Core/src/Types/Types/Directives/LookupAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Directives/LookupDirectiveExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestExecutorManager.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/ExecutionNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/FieldSelectionNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/OperationExecutionNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/QueryExecutor.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/FetchResultStore.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/FieldResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/LeafFieldResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ListFieldResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/NestedListResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ObjectFieldResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ObjectListResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ObjectResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultData.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ValueCompletion.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationDefinitionBuilder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanStep.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.BuildExecutionTree.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.ForwardVariableRewriter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationWorkItem.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Serialization/YamlExecutionPlanFormatter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/SelectionPath.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/BookStoreTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/IntegrationTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/BookStoreTests.Fetch_Book_From_SourceSchema1.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/BookStoreTests.Fetch_Book_From_SourceSchema1_And_Author_From_SourceSchema2.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/IntegrationTests.Foo.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/OperationPlannerTests.cs
  src/HotChocolate/Primitives/src/Primitives/Types/WellKnownDirectives.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8430 [Fusion] Added Result Pooling
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Configuration/FusionMemoryPoolOptions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/DependencyInjection/HotChocolateFusionServiceCollectionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Extensions/FusionObjectPoolProviderExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/FetchResultStore.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/LeafListResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ListResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/NestedListResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ObjectListResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ObjectResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultData.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultDataBatch.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultDataBatchPoolPolicy.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultDataPoolSession.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultPoolSession.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultPoolSessionHolder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultPoolSessionPolicy.cs
Labels: 🌶️ hot chocolate

#8442 Used `var` instead of explicit type
  .editorconfig
  src/GreenDonut/src/GreenDonut.Data/Extensions/GreenDonutPageExtensions.cs
  src/HotChocolate/Core/src/Types.NodaTime/Extensions/PatternExtensions.cs
  src/HotChocolate/Core/test/Types.NodaTime.Tests/LocalDateTypeFullRoundtripIntegrationTests.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/SortProvider.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Models/Product.cs
  src/HotChocolate/Data/test/Data.Sorting.SqlLite.Tests/SchemaCache.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/FusionDirectiveCollection.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/EnumValueNode.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/StringValueNode.cs
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/ArgumentNodeTests.cs
  src/HotChocolate/MongoDb/src/Types/BsonType.cs
  src/HotChocolate/PersistedOperations/src/PersistedOperations.AzureBlobStorage/AzureBlobOperationDocumentStorage.cs
  src/StrawberryShake/Client/src/Transport.InMemory/DependencyInjection/InMemoryClient.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/EnumTypeUsageAnalyzer.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/CSharpCompiler.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/AnyScalarDefaultSerializationTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/EntityIdOrDataTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/LocalTypesTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetHeroWithFragmentIncludeAndSkipDirectiveTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Razor.Tests/CSharpCompiler.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ green donut

#8446 Normalized whitespace at the end of files
  .editorconfig
  src/GreenDonut/src/GreenDonut/KeyNotFoundException.cs
  src/HotChocolate/Core/src/Abstractions/Types/MutationInfo.cs
  src/HotChocolate/Core/src/Execution.Abstractions/Execution/Extensions/ErrorHandlerExtensions.cs
  src/HotChocolate/Core/src/Execution/Configuration/OnConfigureSchemaServices.cs
  src/HotChocolate/Core/src/Features/PooledFeature.cs
  src/HotChocolate/Core/src/Types.Abstractions/Types/FieldFlags.cs
  src/HotChocolate/Core/src/Types.Errors/ErrorFeature.cs
  src/HotChocolate/Core/src/Validation/Rules/IntrospectionDepthVisitor.cs
  src/HotChocolate/Data/src/Data/Projections/ProjectionFeature.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionDocumentCache.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8448 Marked structs as 'readonly' (where applicable)
  .editorconfig
  src/HotChocolate/Core/test/Types.Tests/Configuration/SchemaTypeResolverTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeAttributeTests.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeInputFieldCompletionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeInputObjectTypeCompletionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeInterfaceTypeCompletionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeObjectFieldCompletionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeObjectTypeCompletionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeScalarTypeCompletionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeUnionTypeCompletionContext.cs
Labels: 🌶️ hot chocolate

#8284 [Fusion] Abstract type & global object identification tests
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/HotChocolate.Fusion.Composition.csproj
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/FusionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/GlobalObjectIdentificationTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/InterfaceTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/UnionTests.cs
Labels: 🌶️ hot chocolate

#8459 Fixed release build errors
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/CodeWriterExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/CodeWriterExtensions.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8435 Properly produce authorization errors for items returned by the nodes field
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldResolvers.cs
  src/HotChocolate/Core/test/Authorization.Tests/AnnotationBasedAuthorizationTests.cs
  src/HotChocolate/Core/test/Authorization.Tests/__snapshots__/AnnotationBasedAuthorizationTests.Authorize_Node_Field_Schema.graphql
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8216 Fix ensure that node id serilizer registration has no order requirements
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorBuilderExtensions.IdSerializer.cs
Labels: 🌶️ hot chocolate

#8466 Added command-line improvements for schema exports.
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Command/ExportCommand.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Command/ListCommand.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Command/SchemaCommand.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/WebApplicationExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/SchemaExportCommandTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/SchemaListCommandTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaCommandTests.App_Should_OutputCorrectHelpTest_When_HelpIsRequested.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaExportCommandTests.App_Should_WriteSchemaToFile_When_OutputOptionIsSpecified.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaListCommandTests.App_Should_List_All_SchemaNames.snap
  src/HotChocolate/Core/src/Execution.Abstractions/Execution/IRequestExecutorProvider.cs
  src/HotChocolate/Core/src/Execution/Configuration/DefaultRequestExecutorOptionsMonitor.cs
  src/HotChocolate/Core/src/Execution/Configuration/IRequestExecutorOptionsMonitor.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorManager.cs
  src/HotChocolate/Core/src/Execution/SchemaName.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/DependencyInjection/HotChocolateFusionServiceCollectionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestExecutorManager.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/SchemaName.cs
Labels: 🌶️ hot chocolate

#8471 Added composition watch mode refinements.
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/Commands/ComposeCommand.cs
Labels: 🌶️ hot chocolate

#8467 [Fusion] Added Global Object Identification composition support
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/Commands/ComposeCommand.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/Properties/CommandLineResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/Properties/CommandLineResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/MutableObjectTypeDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Options/SchemaComposerOptions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Options/SourceSchemaMergerOptions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SatisfiabilityValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownArgumentNames.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownFieldNames.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownTypeNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/FusionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SatisfiabilityValidatorTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.GlobalObjectIdentification.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Execution/FusionRequestExecutorManagerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/FusionTestBase.cs
Labels: 🌶️ hot chocolate

#8472 Fixed various analyzer errors
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Command/ListCommand.cs
  src/HotChocolate/Core/src/Execution/Configuration/DefaultRequestExecutorOptionsMonitor.cs
  src/HotChocolate/Core/src/Execution/Configuration/IRequestExecutorOptionsMonitor.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Types/SchemaException.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldResolvers.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/JsonType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/FusionEnumValueCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/AggregateCompositeTypeInterceptor.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/Nodes/ListValueSelectionNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Rewriters/ValueSelectionToSelectionSetRewriter.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/UnionTests.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.Directives.cs
  src/HotChocolate/Language/src/Language.Utf8/Utf8GraphQLParser.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/FragmentRewriter.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake
