Repository ChilliCream/graphql-platform, pull requests merged in 2025-01, with the labels that each got.

#7882 [Fusion] Added pre-merge validation rule "ExternalOnInterfaceRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ExternalOnInterfaceRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalOnInterfaceRuleTests.cs
Labels: 🌶️ hot chocolate, Area: Fusion

#7884 [Fusion] Added pre-merge validation rule "ProvidesFieldsHasArgumentsRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ProvidesFieldsHasArgumentsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ProvidesFieldsHasArgumentsRuleTests.cs
Labels: 🌶️ hot chocolate

#7885 [Fusion] Added pre-merge validation rule "ProvidesFieldsMissingExternalRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ProvidesFieldsMissingExternalRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ProvidesFieldsMissingExternalRuleTests.cs
Labels: 🌶️ hot chocolate

#7886 [Fusion] Added pre-merge validation rule "QueryRootTypeInaccessibleRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/QueryRootTypeInaccessibleRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/QueryRootTypeInaccessibleRuleTests.cs
Labels: 🌶️ hot chocolate

#7883 [Fusion] Added pre-merge validation rule "ProvidesOnNonCompositeFieldRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ProvidesOnNonCompositeFieldRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ProvidesOnNonCompositeFieldRuleTests.cs
Labels: 🌶️ hot chocolate, Area: Fusion

#7887 [Fusion] Added pre-merge validation rule "RequireDirectiveInFieldsArgumentRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/RequireDirectiveInFieldsArgumentRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RequireDirectiveInFieldsArgumentRuleTests.cs
Labels: 🌶️ hot chocolate

#7888 [Fusion] Added pre-merge validation rule "RequireInvalidFieldsTypeRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/RequireInvalidFieldsTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RequireInvalidFieldsTypeRuleTests.cs
Labels: 🌶️ hot chocolate

#7889 [Fusion] Added pre-merge validation rule "LookupShouldHaveNullableReturnTypeRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/LookupShouldHaveNullableReturnTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/LookupShouldHaveNullableReturnTypeRuleTests.cs
Labels: 🌶️ hot chocolate

#7890 [Fusion] Added pre-merge validation rule "LookupMustNotReturnListRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/LookupMustNotReturnListRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/LookupMustNotReturnListRuleTests.cs
Labels: 🌶️ hot chocolate

#7893 [Fusion] Adds interface support to type system.
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/Collections/SourceInterfaceTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/Completion/CompletionTools.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/Completion/CompositeInterfaceTypeCompletionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/Completion/CompositeSchemaBuilder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/CompositeComplexType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/CompositeInterfaceType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/CompositeObjectType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/SourceInterfaceType.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Types/CompositeInterfaceTypeTests.cs
Labels: 🌶️ hot chocolate

#7895 Resolved issue in SchemaParser that prevented default values parsing in Input Objects
  src/HotChocolate/Skimmed/src/Skimmed/Serialization/SchemaParser.cs
  src/HotChocolate/Skimmed/test/Skimmed.Tests/SchemaParserTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7891 [Fusion] Added pre-merge validation rule "InputFieldDefaultMismatchRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Info/FieldArgumentInfo.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Info/InputFieldInfo.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Info/OutputFieldInfo.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Info/TypeInfo.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/InputFieldDefaultMismatchRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/InputFieldDefaultMismatchRuleTests.cs
Labels: 🌶️ hot chocolate

#7898 [Fusion] Added pre-merge validation rule "RequireInvalidSyntaxRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/RequireInvalidSyntaxRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RequireInvalidSyntaxRuleTests.cs
Labels: 🌶️ hot chocolate

#7904 Fixed wrong casing in `stage edit --configuration` sample
  .github/workflows/ci.yml
  website/src/docs/nitro/cli-commands/stage.md
Labels: 📚 documentation, 🧰 maintenance

#7905 Fixed algolia search css
  website/src/components/misc/search-modal.tsx
Labels: 🌶️ website

#7901 [Fusion] Added pre-merge validation rule "EnumTypesInconsistentRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Info/EnumTypeInfo.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/EnumTypesInconsistentRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/EnumTypesInconsistentRuleTests.cs
Labels: 🌶️ hot chocolate, Area: Fusion

#7907 [Fusion] Added pre-merge validation rule "ProvidesInvalidSyntaxRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ProvidesInvalidSyntaxRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ProvidesInvalidSyntaxRuleTests.cs
Labels: 🌶️ hot chocolate

#7909 [Fusion] Added pre-merge validation rule "OverrideFromSelfRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/OverrideFromSelfRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownArgumentNames.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/OverrideFromSelfRuleTests.cs
Labels: 🌶️ hot chocolate

#7913 [Fusion] Added pre-merge validation rule "KeyInvalidFieldsTypeRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyInvalidFieldsTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyInvalidFieldsTypeRuleTests.cs
Labels: 🌶️ hot chocolate

#7914 [Fusion] Added pre-merge validation rule "ProvidesInvalidFieldsTypeRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ProvidesInvalidFieldsTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ProvidesInvalidFieldsTypeRuleTests.cs
Labels: 🌶️ hot chocolate

#7915 [Fusion] Added pre-merge validation rule "InputWithMissingRequiredFieldsRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Info/InputTypeInfo.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/InputWithMissingRequiredFieldsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/InputWithMissingRequiredFieldsRuleTests.cs
Labels: 🌶️ hot chocolate

#7916 [Fusion] Added pre-merge validation rule "FieldArgumentTypesMergeableRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/FieldArgumentTypesMergeableRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/FieldArgumentTypesMergeableRuleTests.cs
Labels: 🌶️ hot chocolate

#7912 Fixed nitro cli stage edit documentation
  website/src/docs/nitro/cli-commands/stage.md
Labels: 📚 documentation

#7920 [Fusion] Miscellaneous changes to composition (part 2)
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/DirectivesProviderExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Events.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/PreMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/DisallowedInaccessibleElementsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/EnumValuesMismatchRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ExternalArgumentDefaultMismatchRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ExternalMissingOnBaseRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ExternalOnInterfaceRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ExternalUnusedRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/FieldArgumentTypesMergeableRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/InputWithMissingRequiredFieldsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyDirectiveInFieldsArgumentRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyFieldsHasArgumentsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyFieldsSelectInvalidTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyInvalidFieldsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/KeyInvalidSyntaxRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/LookupReturnsListRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/LookupReturnsNonNullableTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/OverrideFromSelfRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/OverrideOnInterfaceRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ProvidesFieldsMissingExternalRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/ProvidesOnNonCompositeFieldRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/QueryRootTypeInaccessibleRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/RequireInvalidFieldsTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalMissingOnBaseRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalOnInterfaceRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalUnusedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/InputFieldTypesMergeableRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyInvalidFieldsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/KeyInvalidSyntaxRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/LookupReturnsListRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/LookupReturnsNonNullableTypeRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/OutputFieldTypesMergeableRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RequireDirectiveInFieldsArgumentRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootMutationUsedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootQueryUsedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/RootSubscriptionUsedRuleTests.cs
Labels: 🌶️ hot chocolate

#7933 Correctly handle `null` for lists of nullable value-type IDs
  src/HotChocolate/Core/src/Types/Types/Relay/Extensions/RelayIdFieldHelpers.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/IdAttributeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Arguments.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_On_Objects_Given_Nulls.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.Id_Type_Is_Correctly_Inferred.snap
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/__snapshots__/IdAttributeTests.InterceptedId_On_Arguments.snap
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7928 Fixed the wording in comment
  src/HotChocolate/Core/src/Types.Queries/DependencyInjection/QueryRequestExecutorBuilderExtensions.cs
Labels: 🌶️ hot chocolate

#7936 Renamed parameter in FieldSelectionMapSyntaxVisitor class
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/SyntaxVisitors/FieldSelectionMapSyntaxVisitor~1.cs
Labels: 🌶️ hot chocolate

#7918 Support @include/@skip for non-nullable fields
  src/HotChocolate/Core/src/Types/Types/Extensions/DirectiveCollectionExtensions.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/PropertyKind.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Mappers/TypeDescriptorMapper.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetHeroWithFragmentIncludeAndSkipDirectiveTest.Client.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsGetHeroWithFragmentIncludeAndSkipDirectiveTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#7939 Reworked the invalid GraphQL name error message.
  src/HotChocolate/Data/test/Data.Sorting.Tests/Convention/__snapshots__/SortConventionTests.SortConvention_Should_Fail_When_OperationsIsNotNamed.snap
  src/HotChocolate/Primitives/HotChocolate.Primitives.sln
  src/HotChocolate/Primitives/src/Primitives/NameUtils.cs
  src/HotChocolate/Primitives/src/Primitives/Properties/PrimitivesResources.Designer.cs
  src/HotChocolate/Primitives/src/Primitives/Properties/PrimitivesResources.resx
  src/HotChocolate/Primitives/test/Directory.Build.props
  src/HotChocolate/Primitives/test/Primitives.Tests/HotChocolate.Primitives.Tests.csproj
  src/HotChocolate/Primitives/test/Primitives.Tests/NameUtilsTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7942 Do not inline total count by default into paging queries.
  src/HotChocolate/Core/src/Abstractions/DefaultQueryableExecutable.cs
  src/HotChocolate/Core/src/Abstractions/IQueryableExecutable.cs
  src/HotChocolate/Core/src/Types.CursorPagination/Extensions/CursorPagingRequestExecutorBuilderExtension.cs
  src/HotChocolate/Core/src/Types.CursorPagination/QueryableCursorPagingHandler.cs
  src/HotChocolate/Core/src/Types.CursorPagination/QueryableCursorPagingProvider.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/SqlLiteCursorTestBase.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Tests/UseDbContextTests.cs
  src/HotChocolate/Marten/test/Data.Marten.Filters.Tests/FilterVisitorTestBase.cs
  src/HotChocolate/Marten/test/Data.Marten.Filters.Tests/FilteringAndPaging.cs
  src/HotChocolate/Marten/test/Data.Marten.Filters.Tests/QueryableFilterVisitorInterfacesTests.cs
  src/HotChocolate/Marten/test/Data.Marten.Filters.Tests/SchemaCache.cs
  src/HotChocolate/Marten/test/Data.Marten.Filters.Tests/__snapshots__/FilteringAndPaging.Paging_With_TotalCount.snap
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7941 Fixed issues with IsSelected and composite lists.
  src/HotChocolate/Core/src/Types/Extensions/ResolverContextExtensions.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/IsSelectedTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/IsSelectedTests.IsSelected_Pattern_Lists.md
  src/HotChocolate/Core/test/Types.Tests/Resolvers/__snapshots__/IsSelectedTests.IsSelected_Pattern_Root_Lists.md
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7944 Added support for total count to ToBatchPageAsync.
  src/HotChocolate/Pagination/src/Pagination.EntityFramework/Extensions/PagingQueryableExtensions.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/InterfaceIntegrationTests.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/InterfaceIntegrationTests.Query_Owner_Animals_With_TotalCount.md
Labels: 🍒 cherry-pick

#7946 Ensure that all collections are ordered.
  src/HotChocolate/Fusion/src/Composition/FusionTypes.cs
  src/HotChocolate/Fusion/src/Composition/Pipeline/RemoveDirectivesWithoutLocationMiddleware.cs
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/ComposeCommandTests.Compose_Loose_Subgraph_Files.md
  src/HotChocolate/Fusion/test/CommandLine.Tests/__snapshots__/ComposeCommandTests.Compose_With_Tag.md
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.Accounts_And_Reviews2_Products_With_Nodes.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.Accounts_And_Reviews_Products_With_Nodes.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/DemoIntegrationTests.Compose_With_SourceSchema_Lib.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/RequireTests.Require_Scalar_Arguments_No_Overloads.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/ResolverCompositionTests.Ensure_Node_Resolver_Only_Picked_If_Needed.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/ResolverCompositionTests.Merge_Meta_Data_Correctly.graphql
  src/HotChocolate/Fusion/test/Composition.Tests/__snapshots__/ResolverTests.Variables_Are_Computed_Even_Without_Resolver.graphql
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.QueryType_Parallel_Multiple_SubGraphs_WithArguments.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Require_Data_In_Context.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Require_Data_In_Context_2.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Require_Data_In_Context_3.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/FileUploadTests.AutoCompose.graphql
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_19_Requires.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_21_Field_Requirement_Not_In_Context.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_24_Field_Requirement_And_Fields_In_Context.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/RequestPlannerTests.Query_Plan_26_Ensure_No_Circular_Dependency_When_Requiring_Data.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/InterfaceIntegrationTests.Query_Owner_Animals_With_TotalCount_NET_9_0.md
  src/HotChocolate/Skimmed/src/Skimmed/Collections/ArgumentAssignmentCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/DirectiveCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/DirectiveDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/EnumValueCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/FieldCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/ObjectTypeDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/ReadOnlyDirectiveDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/ReadOnlyEnumValueCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/ReadOnlyFieldDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/ReadOnlyInterfaceTypeDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/ReadOnlyObjectTypeDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/ReadOnlyTypeDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Collections/TypeDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Contracts/IDirectiveDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Contracts/IEnumValueCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Contracts/IFieldDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Contracts/IObjectTypeDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Contracts/ITypeDefinitionCollection.cs
  src/HotChocolate/Skimmed/src/Skimmed/Extensions/GeneralCollectionExtensions.cs
  src/HotChocolate/Skimmed/src/Skimmed/Polyfills/OrderedDictionary.cs
  src/HotChocolate/Skimmed/src/Skimmed/SchemaDefinition.cs
  src/HotChocolate/Skimmed/src/Skimmed/SchemaVisitor.cs
  src/HotChocolate/Skimmed/src/Skimmed/Serialization/SchemaFormatter.cs
  src/HotChocolate/Skimmed/src/Skimmed/Serialization/SchemaFormatterOptions.cs
  src/HotChocolate/Skimmed/src/Skimmed/Serialization/SchemaParser.cs
  src/HotChocolate/Skimmed/test/Skimmed.Tests/SchemaFormatterTests.cs
Labels: 🌶️ hot chocolate

#7945 [Fusion] Corrected the root namespace of the composition tests project
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/CompositionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/HotChocolate.Fusion.Composition.Tests.csproj
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/EnumValuesMismatchRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalArgumentDefaultMismatchRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/ExternalMissingOnBaseRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/FieldArgumentTypesMergeableRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/InputFieldDefaultMismatchRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/InputFieldTypesMergeableRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/InputWithMissingRequiredFieldsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/OutputFieldTypesMergeableRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/DisallowedInaccessibleElementsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/ExternalOnInterfaceRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/ExternalUnusedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/KeyDirectiveInFieldsArgumentRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/KeyFieldsHasArgumentsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/KeyFieldsSelectInvalidTypeRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/KeyInvalidFieldsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/KeyInvalidFieldsTypeRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/KeyInvalidSyntaxRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/LookupReturnsListRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/LookupReturnsNonNullableTypeRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/OverrideFromSelfRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/OverrideOnInterfaceRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/ProvidesDirectiveInFieldsArgumentRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/ProvidesFieldsHasArgumentsRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/ProvidesFieldsMissingExternalRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/ProvidesInvalidFieldsTypeRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/ProvidesInvalidSyntaxRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/ProvidesOnNonCompositeFieldRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/QueryRootTypeInaccessibleRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/RequireDirectiveInFieldsArgumentRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/RequireInvalidFieldsTypeRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/RequireInvalidSyntaxRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/RootMutationUsedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/RootQueryUsedRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/RootSubscriptionUsedRuleTests.cs
Labels: 🌶️ hot chocolate

#7947 [Fusion] Renamed SyntaxException to FieldSelectionMapSyntaxException
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/Exceptions/FieldSelectionMapSyntaxException.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/Exceptions/SyntaxException.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/Parsers/FieldSelectionMapParser.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/Readers/FieldSelectionMapReader.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Language.Tests/FieldSelectionMapParserTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Language.Tests/FieldSelectionMapReaderTests.cs
Labels: 🌶️ hot chocolate

#7953 Reworked the type inititialization flow.
  src/HotChocolate/ApolloFederation/src/ApolloFederation/FederationTypeInterceptor.cs
  src/HotChocolate/ApolloFederation/src/ApolloFederation/Resolvers/ExternalSetterExpressionHelper.cs
  src/HotChocolate/Core/src/Authorization/AuthorizationTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/AggregateTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Internal/TypeDependencyHelper.cs
  src/HotChocolate/Core/src/Types/InvalidSchemaCoordinateException.cs
  src/HotChocolate/Core/src/Types/Schema.Initialization.cs
  src/HotChocolate/Core/src/Types/SchemaException.cs
  src/HotChocolate/Core/src/Types/Types/Argument.cs
  src/HotChocolate/Core/src/Types/Types/DirectiveCollection.cs
  src/HotChocolate/Core/src/Types/Types/DirectiveType.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/Directives/DirectiveTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/EnumType.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/EnumValue.cs
  src/HotChocolate/Core/src/Types/Types/FieldBase.cs
  src/HotChocolate/Core/src/Types/Types/Helpers/IEnumValueCompletion.cs
  src/HotChocolate/Core/src/Types/Types/Helpers/IFieldCompletion.cs
  src/HotChocolate/Core/src/Types/Types/InputField.cs
  src/HotChocolate/Core/src/Types/Types/InputObjectType.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/InputObjectType.cs
  src/HotChocolate/Core/src/Types/Types/InputParser.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/MiddlewareValidationTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/InterfaceType.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/NamedTypeBase.cs
  src/HotChocolate/Core/src/Types/Types/ObjectField.cs
  src/HotChocolate/Core/src/Types/Types/ObjectType.Initialization.cs
  src/HotChocolate/Core/src/Types/Types/OutputFieldBase.cs
  src/HotChocolate/Core/src/Types/Types/Relay/IdSerializationException.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeResolverTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/NodeIdInvalidFormatException.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Serialization/NodeIdMissingSerializerException.cs
  src/HotChocolate/Core/src/Types/Types/TypeStatus.cs
  src/HotChocolate/Core/src/Types/Types/TypeSystemObjectBase.cs
  src/HotChocolate/Core/src/Types/Types/TypeSystemObjectBase~1.cs
  src/HotChocolate/Core/test/Types.Tests/Types/EnumTypeTests.cs
  src/HotChocolate/Data/src/Data/Projections/ProjectionTypeInterceptor.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#7961 adjust support page
  website/src/pages/services/support.tsx
Labels: 🌶️ website

#7955 adds documentation for JWT authentication over WebSockets
  website/src/docs/hotchocolate/v14/defining-a-schema/subscriptions.md
  website/src/docs/strawberryshake/v13/subscriptions.md
  website/src/docs/strawberryshake/v15/subscriptions.md
Labels: 📚 documentation

#7952 Allow for error tracing on background tasks.
  src/GreenDonut/src/Core/AutoBatchScheduler.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Subscriptions/OperationSession.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Warmup/ExecutorWarmupService.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpEventStreamProcessor.cs
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/Protocols/GraphQLOverWebSocket/GraphQLOverWebSocketProtocolHandler.cs
  src/HotChocolate/AspNetCore/src/Transport.Sockets.Client/SocketClient.cs
  src/HotChocolate/Core/src/Execution/AutoUpdateRequestExecutorProxy.cs
  src/HotChocolate/Core/src/Execution/Processing/DeferredExecutionTask.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/StreamHelper.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Core/src/Execution/Serialization/EventStreamResultFormatter.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/ContinuousTask.cs
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/RabbitMQConnection.cs
  src/HotChocolate/Core/src/Subscriptions/DefaultTopic.cs
  src/HotChocolate/Core/src/Subscriptions/HotChocolate.Subscriptions.csproj
  src/HotChocolate/Fusion/src/Core/DependencyInjection/GatewayConfigurationFileObserver.cs
  src/HotChocolate/Fusion/src/Core/DependencyInjection/StaticGatewayConfigurationFileObserver.cs
  src/HotChocolate/Utilities/src/Utilities/BackgroundTaskErrorInterceptor.cs
  src/HotChocolate/Utilities/src/Utilities/FireAndForgetTaskExtensions.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Messaging/MessageProcessor.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Messaging/MessageReceiver.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ green donut, 🍒 cherry-pick

#7962 Update CursorParser to use '\' as escape instead of ':'
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/DataLoaderTests.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/DataLoaderTests.Filter_With_Filtering.md
  src/HotChocolate/Pagination/src/Pagination.Core/Expressions/CursorParser.cs
  src/HotChocolate/Pagination/src/Pagination.Core/Serialization/CursorKeySerializerHelper.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/CursorFormatterTests.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/CursorKeySerializerHelperTests.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/PagingHelperIntegrationTests.cs
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage2.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage_With_Deep.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage_With_Deep_SecondPage.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage_With_Nullable.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage_With_Nullable_Fallback.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage_With_Nullable_Fallback_SecondPage.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetDefaultPage_With_Nullable_SecondPage.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.GetSecondPage_With_2_Items.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Map_Page_To_Connection_With_Dto.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Map_Page_To_Connection_With_Dto_2.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Nested_Paging_First_2.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Nested_Paging_First_2_NET9_0.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Nested_Paging_First_2_With_Projections.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Nested_Paging_First_2_With_Projections_NET9_0.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_Empty_PagingArgs.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_First_5.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_First_5_After_Id_13.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_First_5_Before_Id_96.md
  src/HotChocolate/Pagination/test/Pagination.EntityFramework.Tests/__snapshots__/IntegrationPagingHelperTests.Paging_Last_5.md
Labels: 🌶️ hot chocolate

#7750 Added documentation for LocalDate/LocalDateTime/LocalTime changes
  website/src/docs/hotchocolate/v15/defining-a-schema/scalars.md
  website/src/docs/hotchocolate/v15/migrating/migrate-from-14-to-15.md
Labels: 📚 documentation

#7966 Added Data API refinements.
  src/GreenDonut/src/GreenDonut.Data.Primitives/SortBy.cs
  src/GreenDonut/src/GreenDonut.Data.Primitives/SortDefinition.cs
  src/GreenDonut/src/GreenDonut.Data/Extensions/GreenDonutPaginationBatchingDataLoaderExtensions.cs
  src/GreenDonut/src/GreenDonut.Data/Extensions/GreenDonutQueryableExtensions.cs
  src/GreenDonut/src/GreenDonut/Result.cs
  src/HotChocolate/Data/src/Data/Filters/Extensions/HotChocolateExecutionDataLoaderExtensions.cs
  src/HotChocolate/Data/test/Data.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7965 [Fusion] Added pre-merge validation rule "TypeKindMismatchRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PreMergeValidation/Rules/TypeKindMismatchRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PreMergeValidation/Rules/TypeKindMismatchRuleTests.cs
Labels: 🌶️ hot chocolate

#7968 [Fusion] Added source schema validation rule "InvalidShareableUsageRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/DirectivesProviderExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidation/Rules/InvalidShareableUsageRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidation/Rules/InvalidShareableUsageRuleTests.cs
Labels: 🌶️ hot chocolate

#7970 [Fusion] Added post-merge validation rule "EmptyMergedObjectTypeRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/SchemaDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedObjectTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/EmptyMergedObjectTypeRuleTests.cs
Labels: 🌶️ hot chocolate
