Repository ChilliCream/graphql-platform, pull requests merged in 2025-09, with the labels that each got.

#8633 Removed documentation for the `@export` directive
  website/src/docs/hotchocolate/v14/server/batching.md
  website/src/docs/hotchocolate/v15/server/batching.md
  website/src/docs/hotchocolate/v16/server/batching.md
Labels: 📚 documentation

#8631 Fixes dependency issue in operation planner
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/FusionSchemaDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/FieldWithRequirementWorkItem.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.BuildExecutionTree.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationWorkItem.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/PlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/WorkItem.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/NodeLookupTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/OperationPlannerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/GlobalObjectIdentificationTests.Node_Field_Concrete_Type_Has_Dependency_Node_Field_Is_Aliased.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/NodeLookupTests.Requirement_SelectionMap_Object_Shop.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/OperationPlannerTests.Plan_Key_Requirement.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/RequirementTests.Requirement_Directive_Leaks_Into_SourceSchema_Request_Shop.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/ShopPlanningTests.Medium_Query_With_Aliases.yaml
Labels: 🌶️ hot chocolate

#8634 Added persisted operation options to Fusion.
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestExecutorManager.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestOptions.cs
Labels: 🌶️ hot chocolate

#8632 Set up @chillicream/nitro npm package
  .build/Build.Publish.cs
  .build/Build.cs
  .build/Build.csproj.DotSettings
  .github/workflows/release.yml
  src/Nitro/CommandLine/src/chillicream-nitro/.editorconfig
  src/Nitro/CommandLine/src/chillicream-nitro/.gitattributes
  src/Nitro/CommandLine/src/chillicream-nitro/.gitignore
  src/Nitro/CommandLine/src/chillicream-nitro/.yarnrc.yml
  src/Nitro/CommandLine/src/chillicream-nitro/README.md
  src/Nitro/CommandLine/src/chillicream-nitro/cli.js
  src/Nitro/CommandLine/src/chillicream-nitro/package.json
  src/Nitro/CommandLine/src/chillicream-nitro/yarn.lock
Labels: 🧰 maintenance

#8635 Added Nitro Homebrew Tap
  .github/workflows/release.yml
Labels: 🧰 maintenance

#8636 Re-add @chillicream/nitro npm publish job
  .github/workflows/release.yml
Labels: 🧰 maintenance

#8639 Attempt to fix build
  .build/Build.Publish.cs
  .github/workflows/release.yml
Labels: 🧰 maintenance

#8644 Pass non-version as tag to npm publish command
  .github/workflows/release.yml
Labels: 🧰 maintenance

#8646 Fix script in npm package not being executable
  .github/workflows/release.yml
  src/Nitro/CommandLine/src/chillicream-nitro/cli.js
  src/Nitro/CommandLine/src/chillicream-nitro/package.json
Labels: 🧰 maintenance

#8649 Added IsOneOf property to IInputObjectTypeDefinition
  src/HotChocolate/Core/src/Types.Abstractions/Types/IInputObjectTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/FusionInputObjectTypeDefinition.cs
  src/HotChocolate/Mutable/src/Types.Mutable/MutableInputObjectTypeDefinition.cs
Labels: 🌶️ hot chocolate

#8652 Fix: On publish pass through the stage name as environment.
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/GatewaySettingsComposerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/__snapshots__/SettingsComposerTests.Compose_With_Environments_Replace_ApiUrl.json
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/FusionPublishCommand.cs
Labels: 🌶️ hot chocolate

#8654 Fixed middleware delegate construction.
  src/HotChocolate/AspNetCore/src/AspNetCore.Pipeline/MiddlewareFactory.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/DependencyInjection/CoreFusionGatewayBuilderExtensions.NodeIdParser.cs
Labels: 🌶️ hot chocolate

#8656 [Fusion] Save composition settings in archive
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Options/SchemaComposerOptions.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/FusionTestBase.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/FusionCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/FusionPublishCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/FusionPublishHelpers.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/FusionSettingsCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/FusionSettingsSetCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/PublishCommand/FusionConfigurationPublishCommitCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Fusion/Commands/ComposeCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Fusion/Extensions/FusionCommandExtensions.cs
  src/Nitro/CommandLine/src/CommandLine.Fusion/JsonSourceGenerationContext.cs
  src/Nitro/CommandLine/src/CommandLine.Fusion/Properties/CommandLineResources.Designer.cs
  src/Nitro/CommandLine/src/CommandLine.Fusion/Properties/CommandLineResources.resx
  src/Nitro/CommandLine/src/CommandLine/Program.cs
  src/Nitro/CommandLine/test/CommandLine.Fusion.Tests/ComposeCommandTests.cs
Labels: 🌶️ hot chocolate

#8660 Added fusion result pool telemetry.
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/DependencyInjection/HotChocolateFusionServiceCollectionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Extensions/FusionRequestContextExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Introspection/FieldContextExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Introspection/MemHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/FieldContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/IntrospectionExecutionNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/ReusableFieldContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/FetchResultStore.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/FieldResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/InvalidSelectionMapPathException.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/LeafFieldResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/LeafListResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ListFieldResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ListResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/NestedListResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ObjectFieldResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ObjectListResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ObjectResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/RawFieldResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/RawFieldValueType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultData.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultDataBatch.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultDataBatchPoolPolicy.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultDataPoolSession.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultPoolEventSource.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultPoolSession.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultPoolSessionHolder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultPoolSessionPolicy.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/SelectionMapExecutor.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ValueCompletion.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Execution/Results/FieldSelectionMapExecutorTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Execution/Results/ResultPoolEventSourceTests.cs
Labels: 🌶️ hot chocolate

#8661 Fixed inlining markers when selection sets are empty
  src/All.slnx
  src/HotChocolate/Fusion-vnext/HotChocolate.Fusion-vnext.slnx
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.BuildExecutionTree.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Rewriters/ISelectionSetMergeObserver.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Rewriters/InlineFragmentOperationRewriter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Rewriters/MergeSelectionSetRewriter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Rewriters/NoopSelectionSetMergeObserver.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.EventSources.Tests/Execution/Results/ResultPoolEventSourceTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.EventSources.Tests/HotChocolate.Fusion.EventSources.Tests.csproj
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/RequirementTests.Requirement_Directive_Leaks_Into_SourceSchema_Request_Shop.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Utilities.Tests/Rewriters/InlineFragmentOperationRewriterTests.cs
  src/HotChocolate/Primitives/src/Primitives/Types/IntrospectionFieldNames.cs
Labels: 🌶️ hot chocolate

#8666 Optimized Buffer Usage
  src/Directory.Packages.props
  src/HotChocolate/AspNetCore/src/Transport.Http/JsonLines/JsonLinesReader.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/Sse/SseReader.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Clients/SourceSchemaErrors.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ValueCompletion.cs
  src/HotChocolate/Utilities/src/Utilities.Buffers/BufferPools.cs
  src/HotChocolate/Utilities/src/Utilities.Buffers/PooledArrayWriter.cs
  src/HotChocolate/Utilities/src/Utilities.Buffers/PooledArrayWriterEventSource.cs
Labels: 🌶️ hot chocolate

#8672 [Fusion] Raise non-null violation errors
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ValueCompletion.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/NullTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/NullTests.Raise_NonNullViolation_Error_For_NonNull_Field_Being_Null.snap
Labels: 🌶️ hot chocolate

#8676 Fixed JSON operation plan format
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/Serialization/JsonOperationPlanFormatter.cs
Labels: 🌶️ hot chocolate

#8679 [Fusion] Remove descriptions from field definitions in @fusion__ directives
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/SyntaxRewriters/FusionFieldDefinitionSyntaxRewriter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/SyntaxRewriters/RemoveDirectiveNodesSyntaxRewriter.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Object.Tests.cs
Labels: 🌶️ hot chocolate

#8680 [Fusion] Fix __typename not being properly selected
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Partitioners/SelectionSetPartitioner.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/AbstractTypeTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/AbstractTypeTests.Abstract_Type_Direct_Source_Schema_Call.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/GlobalObjectIdentificationTests.Only_TypeName_Selected_On_Concrete_Type.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/GlobalObjectIdentificationTests.Node_FIeld_Selections_On_Interface_And_Concrete_Type_Both_Have_Different_Dependencies.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/GlobalObjectIdentificationTests.Node_Field_Alongside_Regular_Root_Selections.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/GlobalObjectIdentificationTests.Node_Field_Just_Id_And_Typename_Selected.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/GlobalObjectIdentificationTests.Node_Field_Just_Typename_Selected.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/GlobalObjectIdentificationTests.Node_Field_Selections_On_Interface_Selection_Has_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_Field.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_List_Field.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Union_Field_Just_Typename_Selected.yaml
Labels: 🌶️ hot chocolate

#8685 Added more options to the adhoc-gateway
  src/Directory.Packages.props
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestExecutorManager.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/FusionRunCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Nitro.CommandLine.Cloud.csproj
Labels: 🌶️ hot chocolate

#8686 Fixed various analyzer errors
  .editorconfig
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/Serialization/Utf8JsonWriterHelper.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/DefaultGraphQLHttpClient.cs
  src/HotChocolate/Core/src/Execution/Extensions/OperationContextExtensions.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.IExecutionTaskContext.cs
  src/HotChocolate/Core/src/Execution/Processing/OperationContext.Utilities.cs
  src/HotChocolate/Core/src/Types/Types/Relay/Extensions/RelaySchemaBuilderExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeFieldTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/Relay/NodeSchemaFeature.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/RequestMiddlewareTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/TestHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/MutableObjectTypeDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/MutableSchemaDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompletionTools.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeSchemaBuilder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeSchemaContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Directives/ImplementsDirectiveParser.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Directives/UnionMemberDirectiveParser.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/FusionSchemaDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Configuration/FusionSetupUtilities.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/OperationFeatureCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/Selection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/FetchResultStore.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ResultPoolSession.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/NodeLookupWorkItem.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationDefinitionBuilder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.BuildExecutionTree.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Partitioners/SelectionSetByTypePartitioner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Partitioners/SelectionSetPartitioner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Steps/NodePlanStep.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/FusionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/GlobalObjectIdentificationTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/SharedPathTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/SelectionSetByTypePartitionerTests.cs
  src/HotChocolate/PersistedOperations/src/PersistedOperations.Pipeline/Execution/Pipeline/AutomaticPersistedOperationNotFoundMiddleware.cs
  src/HotChocolate/Primitives/src/Primitives/Types/IntrospectionFieldNames.cs
  src/HotChocolate/Utilities/src/Utilities.Buffers/BufferPools.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/FusionPublishHelpers.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/PublishCommand/FusionConfigurationPublishBeginCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/PublishCommand/FusionConfigurationPublishCancelCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/PublishCommand/FusionConfigurationPublishCommitCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Fusion/PublishCommand/FusionConfigurationPublishStartCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Workspace/SetDefaultWorkspaceCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Fusion/Commands/ComposeCommand.cs
Labels: 🌶️ hot chocolate

#8688 Disposed resources asynchronously
  .editorconfig
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/TestServerExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Serialization/DefaultHttpRequestParserTests.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/OperationRequestTests.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/VariableBatchRequestTests.cs
  src/HotChocolate/Core/test/Execution.Abstractions.Tests/Execution/OperationDocumentSourceTextTests.cs
  src/HotChocolate/Core/test/Execution.Abstractions.Tests/Execution/OperationDocumentTests.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaSerializerTests.cs
  src/StrawberryShake/Client/src/Persistence.SQLite/DatabaseHelper.cs
  src/StrawberryShake/Client/src/Persistence.SQLite/SQLitePersistence.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalarTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadScalar_InMemoryTest.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/DefaultFileSystem.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8689 Simplified boolean comparisons
  .editorconfig
  src/HotChocolate/Data/src/Data/Projections/ProjectionTypeInterceptor.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubCompletionTest.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8694 [Fusion] Add IncludeExceptionDetails option
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestExecutorManager.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestOptions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/FetchResultStore.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/ValueCompletion.cs
Labels: 🌶️ hot chocolate

#8698 Increased test timeouts
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/Subscriptions/GraphQLOverWebSocket/SubscriptionTestBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/EvictSchemaTests.cs
Labels: 🌶️ hot chocolate

#8699 Replaced deprecated `IdentityModel` package with `Duende.IdentityModel`
  src/Directory.Packages.props
  src/StrawberryShake/Tooling/src/dotnet-graphql/OAuth/AccessToken.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/OAuth/TokenClient.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/dotnet-graphql.csproj
Labels: 🌶️ strawberry shake

#8700 Increased timeouts in Send_Connect_Accept_Ping test
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/Subscriptions/GraphQLOverWebSocket/WebSocketProtocolTests.cs
Labels: 🌶️ hot chocolate

#8648 Added OneOf support to Mutable
  src/HotChocolate/Mutable/src/Types.Mutable/BuiltIns/BuiltIns.cs
  src/HotChocolate/Mutable/src/Types.Mutable/BuiltIns/OneOfMutableDirectiveDefinition.cs
  src/HotChocolate/Mutable/src/Types.Mutable/Serialization/SchemaParser.cs
Labels: 🌶️ hot chocolate

#8712 [Fusion] Updated tests to use the SourceSchemaParser
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/HotChocolate.Fusion.Composition.csproj
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/TypeDefinitionInvalidRule.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/CompositionTestHelper.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SatisfiabilityValidatorTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMergerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/TypeDefinitionInvalidRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Utilities.Tests/HotChocolate.Fusion.Utilities.Tests.csproj
  src/HotChocolate/Fusion-vnext/test/Fusion.Utilities.Tests/Validators/FieldSelectionMapValidatorTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Utilities.Tests/Validators/SelectionSetValidatorTests.cs
  src/HotChocolate/Mutable/src/Types.Mutable/Serialization/SchemaParser.cs
Labels: 🌶️ hot chocolate

#8711 Nit: Bumping link from v15 to v16
  website/src/docs/strawberryshake/v16/index.md
Labels: 📚 documentation

#8707 Added global ID formatter breaking change to migration guide
  website/src/docs/hotchocolate/v16/migrating/migrate-from-15-to-16.md
Labels: 📚 documentation

#8684 Added global ID formatter conditionally
  src/HotChocolate/Data/src/Data/Filters/Extensions/RelayIdFilterFieldExtensions.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/FilterInputTypeTest.cs
Labels: 🌶️ hot chocolate, 💥 breaking-changes

#8682 Fixed array resize condition in SortInputType
  src/HotChocolate/Data/src/Data/Sorting/SortInputType.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/SortInputTypeTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8489 Added DataLoader integration test with aliased filtering
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/DataLoaderTests.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/DataLoaderTests.Filter_With_Aliased_Filtering.md
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/__snapshots__/DataLoaderTests.Filter_With_Aliased_Filtering_NET10_0.md
Labels: 🌶️ hot chocolate

#8664 Added test for query using a source-generated DataLoader interface
  src/HotChocolate/Core/test/Types.Analyzers.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8409 Added DateOperationFilterInputType
  src/HotChocolate/Data/src/Data/Filters/Types/DateOperationFilterInputType.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8719 [Fusion] Added source schema enricher
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/OutputFieldDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Features/SourceFieldMetadata.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaEnricher.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaEnricherTests.cs
Labels: 🌶️ hot chocolate

#8003 Website: Fixed anchortags
  website/gatsby-config.js
  website/src/components/article-elements.tsx
  website/src/components/articles/responsive-article-menu.tsx
  website/src/style/global-style.tsx
Labels: 🌶️ website

#8733 feat(website): add contact form
  website/src/components/misc/index.ts
  website/src/components/misc/support-form.tsx
  website/src/hooks/index.ts
  website/src/hooks/use-form-submission.ts
  website/src/hooks/use-support-form.ts
  website/src/pages/services/support.tsx
  website/src/pages/services/support/contact.tsx
  website/src/pages/services/support/thank-you.tsx
  website/src/types/support.ts
  website/src/utils/url-helpers.ts
Labels: 🌶️ website

#8737 Simplified Getting Started Guide
  templates/server/Types/Query.cs
  website/src/docs/hotchocolate/v16/get-started-with-graphql-in-net-core.md
Labels: 📚 documentation

#8740 [Fusion] Handle invalid @is usages more gracefully
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Properties/FusionUtilitiesResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Properties/FusionUtilitiesResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Validators/FieldSelectionMapValidator.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/IsInvalidFieldRuleTests.cs
Labels: 🌶️ hot chocolate

#8741 [Fusion] Renamed `IsInvalidFieldRule` to `IsInvalidFieldsRule`
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/IsInvalidFieldsRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/IsInvalidFieldsRuleTests.cs
Labels: 🌶️ hot chocolate

#8742 [Fusion] Fixed "ProvidesOnNonCompositeFieldRule" error code references
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/ProvidesOnNonCompositeFieldRule.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/ProvidesOnNonCompositeFieldRuleTests.cs
Labels: 🌶️ hot chocolate

#8745 Hotfix: Use ClaimsPrincipal global prefix when generating resolver.
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/TypeFileBuilderBase.cs
Labels: 🌶️ hot chocolate

#8739 Added info about the `disableFormatCheck` option to the migration guide
  website/src/docs/hotchocolate/v14/migrating/migrate-from-13-to-14.md
  website/src/docs/hotchocolate/v15/migrating/migrate-from-13-to-14.md
  website/src/docs/hotchocolate/v16/migrating/migrate-from-13-to-14.md
Labels: 📚 documentation
