Repository ChilliCream/graphql-platform, pull requests merged in 2025-08, with the labels that each got.

#8483 [Fusion] Fix operation plan YAML indentation
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/Serialization/YamlOperationPlanFormatter.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_Field.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_Field_Concrete_Type.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_Field_Concrete_Type_Linked_Field_With_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_Field_Concrete_Type_With_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_Field_Linked_Field_With_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_Field_Linked_Field_With_Dependency_Different_Selection_In_Concrete_Type.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_Field_Linked_Field_With_Dependency_Same_Selection_In_Concrete_Type.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_List_Field.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_List_Field_Concrete_Type.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_List_Field_Concrete_Type_Linked_Field_With_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_List_Field_Concrete_Type_With_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_List_Field_Linked_Field_With_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_List_Field_Linked_Field_With_Dependency_Different_Selection_In_Concrete_Type.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.Interface_List_Field_Linked_Field_With_Dependency_Same_Selection_In_Concrete_Type.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.List_Field_Interface_Object_Property_Concrete_Type.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.List_Field_Interface_Object_Property_Concrete_Type_Linked_Field_With_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.List_Field_Interface_Object_Property_Concrete_Type_With_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.List_Field_Interface_Object_Property_Linked_Field_With_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.List_Field_Interface_Object_Property_Linked_Field_With_Dependency_Different_Selection_In_Concrete_Type.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/InterfaceTests.List_Field_Interface_Object_Property_Linked_Field_With_Dependency_Same_Selection_In_Concrete_Type.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/OperationPlannerTests.Plan_Key_Requirement.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/OperationPlannerTests.Plan_Requirement_That_Cannot_Be_Inlined.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/OperationPlannerTests.Plan_Simple_Lookup.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_1_Source_Schema.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_2_Source_Schema.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/OperationPlannerTests.Plan_Simple_Operation_3_Source_Schema.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/OperationPlannerTests.Plan_Simple_Requirement.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/RequirementTests.Plan_Simple_Operation_1_Source_Schema.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Object_List_Union_Field_Concrete_Type_Has_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Object_List_Union_Field_Concrete_Type_Selection_Has_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Object_List_Union_Field_Concrete_Type_Selections_Have_Dependency_To_Same_Subgraph.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Object_List_Union_Field_Concrete_Type_Selections_Have_Same_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Object_List_Union_List_Concrete_Type_Has_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Object_List_Union_List_Concrete_Type_Selection_Has_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Object_List_Union_List_Concrete_Type_Selections_Have_Dependency_To_Same_Subgraph.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Object_List_Union_List_Concrete_Type_Selections_Have_Same_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Union_Field_Concrete_Type_Has_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Union_Field_Concrete_Type_Selection_Has_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Union_Field_Concrete_Type_Selections_Have_Dependency_To_Same_Subgraph.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Union_Field_Concrete_Type_Selections_Have_Same_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Union_Field_Just_Typename_Selected.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Union_List_Concrete_Type_Has_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Union_List_Concrete_Type_Selection_Has_Dependency.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Union_List_Concrete_Type_Selections_Have_Dependency_To_Same_Subgraph.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/UnionTests.Union_List_Concrete_Type_Selections_Have_Same_Dependency.yaml
Labels: 🌶️ hot chocolate

#8491 Reworked Transport Formatters and Parsers
  src/HotChocolate/AspNetCore/src/AspNetCore.Pipeline/Formatters/DefaultHttpResponseFormatter.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Pipeline/HttpPostMiddlewareBase.cs
  src/HotChocolate/AspNetCore/src/Transport.Abstractions/ContentType.cs
  src/HotChocolate/AspNetCore/src/Transport.Formatters/ConcurrentStreamWriter.cs
  src/HotChocolate/AspNetCore/src/Transport.Formatters/EventStreamResultFormatter.cs
  src/HotChocolate/AspNetCore/src/Transport.Formatters/HotChocolate.Transport.Formatters.csproj
  src/HotChocolate/AspNetCore/src/Transport.Formatters/JsonLinesResultFormatter.cs
  src/HotChocolate/AspNetCore/src/Transport.Formatters/JsonResultFormatter.cs
  src/HotChocolate/AspNetCore/src/Transport.Formatters/StreamExtensions.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/DefaultGraphQLHttpClient.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpEventStreamEnumerable.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpRequest.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpResponse.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpStreamException.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/HotChocolate.Transport.Http.csproj
  src/HotChocolate/AspNetCore/src/Transport.Http/JsonLines/JsonLinesReader.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/Sse/SseEventData.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/Sse/SseEventParser.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/Sse/SseEventType.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/Sse/SseReader.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/GraphQLHttpClientTests.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/SseEventParserTests.cs
  src/HotChocolate/AspNetCore/test/Transport.Http.Tests/VariableBatchRequestTests.cs
  src/HotChocolate/Utilities/src/Utilities.Buffers/PooledArrayWriter.cs
Labels: 🌶️ hot chocolate

#8495 [Fusion] Included subdirectories when reading source schemas
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/Commands/ComposeCommand.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/ComposeCommandTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/invalid-example-1-result/composite-schema.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/valid-example-1-result/composite-schema.graphqls
Labels: 🌶️ hot chocolate

#8493 [Fusion] Adds Fusion ARchive Format
  src/All.slnx
  src/Directory.Packages.props
  src/HotChocolate/Fusion-vnext/HotChocolate.Fusion-vnext.slnx
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/ArchiveMetadata.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/ArchiveSession.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/FileNames.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/FusionArchive.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/FusionArchiveMode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/HotChocolate.Fusion.Packaging.csproj
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/ResolvedGatewaySchemaResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/ResolvedGatewaySettingsResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/SchemaNameValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/Serializers/ArchiveMetadataSerializer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/Serializers/SignatureManifestSerializer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/SignatureInfo.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/SignatureManifest.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/SignatureVerificationResult.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Packaging.Tests/FusionArchiveTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Packaging.Tests/HotChocolate.Fusion.Packaging.Tests.csproj
Labels: 🌶️ hot chocolate

#8498 [Fusion] Ensure at least one Query.node lookup exists for a type implementing the Node interface
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SatisfiabilityValidator.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SatisfiabilityValidatorTests.cs
Labels: 🌶️ hot chocolate

#8505 [Fusion] Fixed reindex selection set after merging requirements.
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.Warmup.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/PlanNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/SelectionSetIndexBuilder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Rewriters/InlineFragmentOperationRewriter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Rewriters/MergeSelectionSetRewriter.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/RequirementTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/RequirementTests.Requirement_Merged_Into_SelectionSet_With_Non_Lead_Field.yaml
Labels: 🌶️ hot chocolate

#8506 [Fusion] Added missing descriptions to Fusion types
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionFieldDefinitionMutableScalarTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionFieldSelectionMapMutableScalarTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionFieldSelectionPathMutableScalarTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionFieldSelectionSetMutableScalarTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionInaccessibleMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionSchemaMutableEnumTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/IntrospectionTests.Download_Schema.graphql
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/invalid-example-1-result/composite-schema.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/valid-example-1-result/composite-schema.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/__snapshots__/SourceSchemaMergerTests.Merge_FourNamedSchemas_AddsFusionDefinitions.graphql
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/FusionTestBase.cs
Labels: 🌶️ hot chocolate

#8508 [Fusion] Added `@fusion__schema_metadata` to fusion__Schema enum values
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionSchemaMetadataMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionSchemaMutableEnumTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownArgumentNames.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/IntrospectionTests.Download_Schema.graphql
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/invalid-example-1-result/composite-schema.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/__resources__/valid-example-1-result/composite-schema.graphqls
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/__snapshots__/SourceSchemaMergerTests.Merge_FourNamedSchemas_AddsFusionDefinitions.graphql
Labels: 🌶️ hot chocolate

#8510 Added Source Schema Settings to Hot Chocolate Core
  src/HotChocolate/AspNetCore/src/AspNetCore.CommandLine/Command/ExportCommand.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Pipeline/Extensions/EndpointRouteBuilderExtensions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.Warmup.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Warmup/RequestExecutorInitializationOptions.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Warmup/SchemaFileInitializationOptions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/SchemaExportCommandTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/SchemaListCommandTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaExportCommandTests.App_Should_WriteSchemaToFile_When_OutputOptionIsSpecified.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaListCommandTests.App_Should_List_All_SchemaNames_2.snap
  src/HotChocolate/Core/src/Execution/HotChocolate.Execution.csproj
  src/HotChocolate/Core/src/Execution/Internal/SchemaFileExporter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/OperationExecutionNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Rewriters/MergeSelectionSetRewriter.cs
Labels: 🌶️ hot chocolate

#8501 Added Source Schema Settings to FAR Format
  src/All.slnx
  src/HotChocolate/Core/src/Execution.Abstractions/Execution/Extensions/OperationRequestBuilderExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/FetchResultStore.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/ArchiveSession.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/FileKind.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/FileNames.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/FusionArchive.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/FusionArchiveOptions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/FusionArchiveReadOptions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/GatewayConfiguration.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/ResolvedGatewaySchemaResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/ResolvedGatewaySettingsResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Packaging/SourceSchemaConfiguration.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Packaging.Tests/FusionArchiveTests.cs
Labels: 🌶️ hot chocolate

#8518 Adjusted regex to properly handle Windows paths
  src/HotChocolate/Core/src/Types/SchemaException.cs
Labels: 🌶️ hot chocolate

#8523 Adds improved batching performance for lookups.
  src/GreenDonut/src/GreenDonut.Abstractions/Batch.cs
  src/GreenDonut/src/GreenDonut.Abstractions/BatchStatus.cs
  src/GreenDonut/src/GreenDonut.Abstractions/IBatchScheduler.cs
  src/GreenDonut/src/GreenDonut/AutoBatchScheduler.cs
  src/GreenDonut/src/GreenDonut/Batch.cs
  src/GreenDonut/src/GreenDonut/DataLoaderBase.cs
  src/GreenDonut/test/GreenDonut.Tests/AutoBatchSchedulerTests.cs
  src/GreenDonut/test/GreenDonut.Tests/BatchDataLoaderTests.cs
  src/GreenDonut/test/GreenDonut.Tests/DelayDispatcher.cs
  src/GreenDonut/test/GreenDonut.Tests/ManualBatchScheduler.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/ExecutionTask.cs
  src/HotChocolate/Core/src/Abstractions/Execution/Tasks/IExecutionTask.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/InternalServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/HotChocolate.Execution.csproj
  src/HotChocolate/Core/src/Execution/Processing/AsyncManualResetEvent.cs
  src/HotChocolate/Core/src/Execution/Processing/NoopBatchDispatcher.cs
  src/HotChocolate/Core/src/Execution/Processing/SubscriptionExecutor.Subscription.cs
  src/HotChocolate/Core/src/Execution/Processing/Tasks/ResolverTask.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Execute.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Pause.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.Pooling.cs
  src/HotChocolate/Core/src/Execution/Processing/WorkScheduler.cs
  src/HotChocolate/Core/src/Fetching/AsyncAutoResetEvent.cs
  src/HotChocolate/Core/src/Fetching/BatchDispatchEventArgs.cs
  src/HotChocolate/Core/src/Fetching/BatchDispatchEventType.cs
  src/HotChocolate/Core/src/Fetching/BatchDispatcher.ExecutorSession.cs
  src/HotChocolate/Core/src/Fetching/BatchDispatcher.IBatchScheduler.cs
  src/HotChocolate/Core/src/Fetching/BatchDispatcher.cs
  src/HotChocolate/Core/src/Fetching/BatchScheduler.cs
  src/HotChocolate/Core/src/Fetching/Extensions/DataLoaderServiceProviderExtensions.cs
  src/HotChocolate/Core/src/Fetching/HotChocolate.Fetching.csproj
  src/HotChocolate/Core/src/Fetching/IBatchDispatcher.cs
  src/HotChocolate/Core/src/Fetching/IBatchHandler.cs
  src/HotChocolate/Core/src/Types/Types/Directive.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/DataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/WorkQueueTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/AutoBatchSchedulerTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/BatchDispatcherTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/BatchSchedulerTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/AsyncAutoResetEventTests.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8528 Removed references to FromServices attribute
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/QueryExtension.cs
  src/HotChocolate/Core/src/Types/Resolvers/Expressions/Parameters/ServiceParameterExpressionBuilder.cs
Labels: 🌶️ hot chocolate

#8497 [Fusion] Check if type can be resolved when selecting best matching subgraph
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/ExecutionStepDiscoveryMiddleware.cs
  src/HotChocolate/Fusion/src/Core/Planning/QueryPlannerHelpers.cs
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Forward_Nested_Node_Variables.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Subgraph_Containing_More_Selections_Is_Chosen.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Unresolvable_Subgraph_Is_Not_Chosen_If_Data_Is_Available_In_Resolvable_Subgraph.md
Labels: 🌶️ hot chocolate

#8485 [Fusion] Support abstract lookups
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/MutableObjectTypeDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/SourceInterfaceTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/SourceMemberCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/SourceObjectTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/SourceUnionTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompletionTools.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeSchemaBuilder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeUnionTypeCompletionContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Contracts/ISourceComplexTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Contracts/ISourceMemberCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/FusionUnionTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/Lookup.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/SourceUnionType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationDefinitionBuilder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/OperationPlannerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/OperationPlannerTests.Plan_Simple_Interface_Lookup.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/OperationPlannerTests.Plan_Simple_Union_Lookup.yaml
Labels: 🌶️ hot chocolate

#8533 Fixed load fusion schema settings
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Configuration/InMemoryFusionConfigurationProvider.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/DependencyInjection/CoreFusionGatewayBuilderExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestExecutorManager.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/BookStoreTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/FusionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/BookStoreTests.Fetch_Book_From_SourceSchema1_With_Settings.snap
Labels: 🌶️ hot chocolate

#8538 Fixed executor swap logic when using the proxy .
  src/HotChocolate/AspNetCore/src/AspNetCore.Pipeline/HttpRequestExecutorProxy.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/EvictSchemaTests.cs
  src/HotChocolate/Core/src/Execution.Abstractions/Execution/RequestExecutorProxy.cs
  src/HotChocolate/Core/src/Execution.Abstractions/HotChocolate.Execution.Abstractions.csproj
  src/HotChocolate/Core/src/Execution/RequestExecutorManager.cs
  src/HotChocolate/Core/test/Execution.Tests/RequestExecutorProxyTests.cs
Labels: 🌶️ hot chocolate

#8542 Fixed nullability on some type descriptors.
  src/HotChocolate/Core/src/Types/Types/Attributes/DefaultValueSyntaxAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/DirectiveTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/InputObjectTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/InterfaceTypeDescriptorExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Extensions/ObjectTypeDescriptorExtensions.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputObjectTypeTests.cs
Labels: 🌶️ hot chocolate

#8552 Refactored MCP tool integration.
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Directives/McpToolAnnotationsAttribute.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Directives/McpToolAnnotationsDirectiveType.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Extensions/InputFieldExtensions.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Extensions/JsonSchemaExtensions.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Extensions/OperationDefinitionNodeExtensions.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Extensions/RequestExecutorBuilderExtensions.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/GraphQLMcpTool.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Handlers/CallToolHandler.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Handlers/ListToolsHandler.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/JsonSchemaJsonSerializerContext.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/OperationTool.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/OperationToolFactory.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Properties/ModelContextProtocolResources.Designer.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Properties/ModelContextProtocolResources.resx
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Proxies/McpExecutorSession.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Proxies/McpRequestExecutorProxy.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/IMcpToolStorage.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/IOperationToolStorage.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/InMemoryMcpToolStorage.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/InMemoryOperationToolStorage.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/McpTool.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/McpToolStorageEventArgs.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/McpToolStorageEventType.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/OperationToolDefinition.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/OperationToolStorageBase.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/OperationToolStorageEventArgs.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/OperationToolStorageEventType.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/ToolRegistry.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/ToolStorageObserver.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/Handlers/CallToolHandlerTests.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/HotChocolate.ModelContextProtocol.Tests.csproj
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/IntegrationTests.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/OperationToolFactoryTests.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__resources__/GetSingleFieldWithAlias.graphql
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/IntegrationTests.ListTools_AfterToolsUpdate_ReturnsUpdatedTools.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithComplexVariables_CreatesCorrectSchema_Input.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithComplexVariables_CreatesCorrectSchema_Output.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithDefaultedVariables_CreatesCorrectSchema_Input.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithDefaultedVariables_CreatesCorrectSchema_Output.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithInterfaceType_CreatesCorrectOutputSchema.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithNonNullableVariables_CreatesCorrectSchema_Input.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithNonNullableVariables_CreatesCorrectSchema_Output.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithNullableVariables_CreatesCorrectSchema_Input.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithNullableVariables_CreatesCorrectSchema_Output.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithSkipAndInclude_CreatesCorrectOutputSchema.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithUnionType_CreatesCorrectOutputSchema.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/OperationToolFactoryTests.CreateTool_WithVariableMinMaxValues_CreatesCorrectInputSchema.json
Labels: 🌶️ hot chocolate

#8556 Fixed incorrect DateTime scalar test case
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/DateTimeTypeTests.cs
Labels: 🌶️ hot chocolate

#8557 Updated development packages
  .editorconfig
  dictionary.txt
  src/Directory.Packages.props
  src/HotChocolate/AspNetCore/src/Transport.Formatters/JsonResultFormatter.cs
  src/HotChocolate/AspNetCore/src/Transport.Http/GraphQLHttpRequest.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Clients/SourceSchemaErrors.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/BookStoreTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/IntrospectionTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/MutationTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/SourceSchemaErrorTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/SubscriptionsOverHttpStoreTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.CommandLine.Tests/ComposeCommandTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SatisfiabilityValidatorTests.cs
  src/Nitro/CommandLine/src/CommandLine.Fusion.Compatibility/FusionTypeNames.cs
Labels: 🌶️ hot chocolate

#8567 [mcp] Added support for authentication and authorization
  dictionary.txt
  src/Directory.Packages.props
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Extensions/RequestExecutorBuilderExtensions.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Handlers/CallToolHandler.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/Handlers/CallToolHandlerTests.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/HotChocolate.ModelContextProtocol.Tests.csproj
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/IntegrationTests.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/OperationToolFactoryTests.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/TestSchema.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/IntegrationTests.CallTool_GetWithAuthFailure_ReturnsExpectedResult.json
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/__snapshots__/IntegrationTests.CallTool_GetWithAuthSuccess_ReturnsExpectedResult.md
Labels: 🌶️ hot chocolate

#8568 Added a fusion version property to the setup utilities.
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Configuration/FusionSetupUtilities.cs
Labels: 🌶️ hot chocolate

#8571 Fixed issue with SSE client that failed on keep-alive meesages.
  src/HotChocolate/AspNetCore/src/Transport.Http/Sse/SseReader.cs
Labels: 🌶️ hot chocolate

#8574 [mcp] Moved in-memory storage to test project
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Extensions/RequestExecutorBuilderExtensions.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/InMemoryOperationToolStorage.cs
  src/HotChocolate/ModelContextProtocol/src/HotChocolate.ModelContextProtocol/Storage/OperationToolStorageBase.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/Handlers/CallToolHandlerTests.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/IntegrationTests.cs
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/TestOperationToolStorage.cs
Labels: 🌶️ hot chocolate

#8580 Fixed validation issues with the schema name.
  src/HotChocolate/AspNetCore/test/AspNetCore.CommandLine.Tests/__snapshots__/SchemaExportCommandTests.App_Should_WriteNamedSchemaToOutput_When_SchemaNameIsSpecified.snap
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/Schema.Initialization.cs
  src/HotChocolate/Core/src/Types/SchemaNameTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/SchemaOptions.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Configurations/SchemaTypeConfiguration.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Configurations/TypeSystemConfiguration.cs
  src/HotChocolate/Core/src/Types/Types/TypeSystemObject.cs
  src/HotChocolate/Core/test/Types.Tests/CodeFirstTests.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.AspNetCore/DependencyInjection/FusionServerAspNetCoreHostingBuilderExtensions.cs
Labels: 🌶️ hot chocolate

#8587 Fixed various analyzer errors
  src/HotChocolate/AspNetCore/src/Transport.Http/Sse/SseReader.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Configurations/SchemaTypeConfiguration.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Aspire/CompositionHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Aspire/GraphQLResourceBuilderExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Aspire/SchemaComposition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Clients/DefaultSourceSchemaClientScope.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Clients/DefaultSourceSchemaClientScopeFactory.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/ExecutionNodeResult.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/ExecutionNodeTrace.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/OperationExecutionNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/OperationPlan.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/OperationRequirement.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/Serialization/JsonOperationPlanFormatter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/Serialization/JsonOperationPlanParser.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanExecutor.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/OperationPlanMiddleware.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Results/FetchResultStore.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanStep.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.BuildExecutionTree.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/SelectionSet.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Api/Component/ApiDetailPrompt.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/ApiKeys/Component/ApiKeyDetailPrompt.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/ApiKeys/ListApiKeyCommand.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Stages/Component/StageDetailPrompt.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Commands/Stages/EditStagesCommand.cs
  src/StrawberryShake/Client/src/Core/OperationResult.cs
  src/StrawberryShake/Client/src/Core/OperationStore.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8588 Used secure version of Microsoft.IdentityModel.Protocols.OpenIdConnect
  src/HotChocolate/ModelContextProtocol/test/HotChocolate.ModelContextProtocol.Tests/HotChocolate.ModelContextProtocol.Tests.csproj
Labels: 🌶️ hot chocolate

#8596 [fusion] Improved Diagnostic Hooks
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/DependencyInjection/CoreFusionGatewayBuilderExtensions.Diagnostics.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/DependencyInjection/CoreFusionGatewayBuilderExtensions.Pipeline.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Diagnostics/AggregateFusionExecutionDiagnosticEvents.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Diagnostics/FusionExecutionDiagnosticEventListener.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Diagnostics/IFusionExecutionDiagnosticEvents.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Diagnostics/NoopFusionExecutionDiagnosticEvents.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Extensions/FusionOperationPlanContextExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestExecutorManager.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/IntrospectionExecutionNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/NodeFieldExecutionNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/Operation.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/OperationExecutionNode.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/OperationFeatureCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/Serialization/JsonOperationPlanFormatter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/Serialization/JsonOperationPlanParser.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Nodes/Serialization/YamlOperationPlanFormatter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/FusionMiddleware.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/OperationExecutionMiddleware.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/OperationPlanCacheMiddleware.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/OperationPlanMiddleware.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/OperationVariableCoercionMiddleware.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/TimeoutMiddleware.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/IOperationPlannerInterceptor.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.BuildExecutionTree.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/DiagnisticListenerTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/FusionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/OperationPlannerInterceptorTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/FusionTestBase.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/OperationPlannerInterceptorTests.cs
Labels: 🌶️ hot chocolate

#8597 [fusion] Stop Aspire if GraphQL schema composition fails
  src/HotChocolate/Fusion-vnext/src/Fusion.Aspire/SchemaComposition.cs
Labels: 🌶️ hot chocolate

#8600 [fusion] Renamed key to entityKey to avoid collision with ef-core
  src/HotChocolate/Core/src/Types/Types/Composite/Directives/EntityKey.cs
  src/HotChocolate/Core/src/Types/Types/Composite/Directives/EntityKeyAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Composite/Directives/EntityKeyDescriptorExtensions.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Composite/LookupTests.cs
Labels: 🌶️ hot chocolate

#8599 [fusion] Fixed issue with complex object requirements
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeSchemaContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/RequirementTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/RequirementTests.Requirement_SelectionMap_Object.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/RequirementTests.Requirement_SelectionMap_Object_Shop.yaml
Labels: 🌶️ hot chocolate

#8608 Fixed DefaultTypeInspector concurrency issue.
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
Labels: 🌶️ hot chocolate

#8229 Add redis topic prefixing
  src/HotChocolate/Core/src/Subscriptions.Redis/RedisPubSub.cs
  src/HotChocolate/Core/test/Subscriptions.Redis.Tests/RedisTopicPrefixIntegrationTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8609 Call new hooks in aggregate composite type interceptor
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/AggregateCompositeTypeInterceptor.cs
Labels: 🌶️ hot chocolate

#8611 Fixed another concurrency issue within the type initialization
  src/HotChocolate/Core/src/Types/Internal/ExtendedMethodInfo.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.Members.cs
Labels: 🌶️ hot chocolate

#8618 [fusion] Fixed error caused by empty string arguments
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/BookStoreTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/BookStoreTests.Ensure_String_Literals_Can_Be_Empty.snap
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/__snapshots__/BookStoreTests.Ensure_String_Variables_Can_Be_Empty.snap
  src/HotChocolate/Utilities/src/Utilities.Buffers/ArrayMemoryOwner.cs
  src/HotChocolate/Utilities/src/Utilities.Buffers/ReadOnlyMemorySegment.cs
Labels: 🌶️ hot chocolate

#8622 [Fusion] Only use non-internal lookups for node lookups
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/DirectivesProviderExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/MutableObjectTypeDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/MutableSchemaDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Satisfiability/RequirementsValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SatisfiabilityValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompletionTools.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/Lookup.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/NodeFallbackLookup.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/OperationPlanMiddleware.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SatisfiabilityValidatorTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/OperationPlannerTests.cs
Labels: 🌶️ hot chocolate

#8625 [Fusion] Fixed possible lookup selection
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/SourceInterfaceTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/SourceMemberCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/SourceObjectFieldCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/SourceObjectTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/SourceUnionTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompletionTools.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeSchemaBuilder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Completion/CompositeSchemaContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Contracts/ISourceMember.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Directives/ImplementsDirectiveParser.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Directives/LookupDirectiveParser.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Directives/UnionMemberDirectiveParser.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Extensions/FusionSchemaDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/FusionComplexTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/FusionInterfaceTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/FusionObjectTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/FusionSchemaDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/FieldRequirements.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/ISourceComplexType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/ISourceComplexTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/ISourceMember.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/ISourceMemberCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/Lookup.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/LookupArgument.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/RequiredArgument.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/SchemaEnvironment.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/SourceInterfaceType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/SourceObjectType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/SourceOutputField.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/SourceSchemaInfo.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Metadata/SourceUnionType.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Configuration/FusionSetupUtilities.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/ExecutionState.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanContext.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/OperationPlanExecutor.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/FieldWithRequirementWorkItem.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/NodeLookupWorkItem.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationDefinitionBuilder.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationWorkItem.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Execution/FetchResultStoreTests.txt
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/NodeLookupTests.Requirement_SelectionMap_Object_Shop.yaml
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/RequirementTests.Requirement_SelectionMap_Object_Shop.yaml
Labels: 🌶️ hot chocolate

#8621 Fix: Allow internal members in ObjectType and InterfaceType source generators
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/InterfaceTypeInfoInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ObjectTypeInspector.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/ResolverTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/ResolverTests.Internal_NodeResolver_Should_Generate_Source.md
Labels: 🌶️ hot chocolate

#8408 Added switch to disable the LocalDate/LocalTime/Date format check
  src/HotChocolate/Core/src/Types/Types/Scalars/DateType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/LocalDateType.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/LocalTimeType.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/DateTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/LocalDateTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Scalars/LocalTimeTypeTests.cs
Labels: 🌶️ hot chocolate

#7130 Added directives to directive arguments
  src/HotChocolate/Core/src/Types/Types/Factories/DirectiveTypeFactory.cs
  src/HotChocolate/Core/test/Types.Tests/Types/DirectiveTypeTests.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/__resources__/MultipleInterfaceSchema.graphql
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8626 [Fusion] Fix modified SelectionSetIndex not being passed on
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/OperationPlanner.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Partitioners/NodeFieldSelectionSetPartitioner.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/RequirementTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Execution.Tests/Planning/__snapshots__/RequirementTests.Plan_Complex_Operation.yaml
Labels: 🌶️ hot chocolate

#8627 [Fusion] Re-throw operation planning exception
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Pipeline/OperationPlanMiddleware.cs
Labels: 🌶️ hot chocolate

#8628 Fix Nitro CLI AOT build
  .github/workflows/release.yml
  src/HotChocolate/Fusion-vnext/src/Fusion.CommandLine/HotChocolate.Fusion.CommandLine.csproj
  src/Nitro/CommandLine/src/CommandLine/Nitro.CommandLine.csproj
Labels: 🧰 maintenance, 🌶️ hot chocolate
