Repository ChilliCream/graphql-platform, pull requests merged in 2025-06, with the labels that each got.

#8331 Fixed some static field names
  src/HotChocolate/Core/src/Types.Scalars/UtcOffsetType.cs
  src/HotChocolate/Language/src/Language.SyntaxTree/DirectiveLocation.cs
Labels: 🌶️ hot chocolate

#8337 Switched to using slnx solution files
  .build/Build.sln
  .build/Build.slnx
  src/CookieCrumble/CookieCrumble.sln
  src/CookieCrumble/CookieCrumble.slnx
  src/GreenDonut/GreenDonut.sln
  src/GreenDonut/GreenDonut.slnx
  src/HotChocolate/ApolloFederation/HotChocolate.ApolloFederation.sln
  src/HotChocolate/ApolloFederation/HotChocolate.ApolloFederation.slnx
  src/HotChocolate/AspNetCore/HotChocolate.AspNetCore.sln
  src/HotChocolate/AspNetCore/HotChocolate.AspNetCore.slnx
  src/HotChocolate/AzureFunctions/HotChocolate.AzureFunctions.sln
  src/HotChocolate/AzureFunctions/HotChocolate.AzureFunctions.slnx
  src/HotChocolate/Core/HotChocolate.Core.slnx
  src/HotChocolate/Core/src/Types.Shared/Types.Shared.sln
  src/HotChocolate/CostAnalysis/HotChocolate.CostAnalysis.sln
  src/HotChocolate/CostAnalysis/HotChocolate.CostAnalysis.slnx
  src/HotChocolate/Data/HotChocolate.Data.sln
  src/HotChocolate/Data/HotChocolate.Data.slnx
  src/HotChocolate/Diagnostics/HotChocolate.Diagnostics.sln
  src/HotChocolate/Diagnostics/HotChocolate.Diagnostics.slnx
  src/HotChocolate/Language/HotChocolate.Language.sln
  src/HotChocolate/Language/HotChocolate.Language.slnx
  src/HotChocolate/Marten/HotChocolate.Marten.sln
  src/HotChocolate/Marten/HotChocolate.Marten.slnx
  src/HotChocolate/MongoDb/HotChocolate.MongoDb.sln
  src/HotChocolate/MongoDb/HotChocolate.MongoDb.slnx
  src/HotChocolate/Mutable/HotChocolate.Types.Mutable.sln
  src/HotChocolate/Mutable/HotChocolate.Types.Mutable.slnx
  src/HotChocolate/OpenApi/HotChocolate.OpenApi.sln
  src/HotChocolate/OpenApi/HotChocolate.OpenApi.slnx
  src/HotChocolate/PersistedOperations/HotChocolate.PersistedOperations.sln
  src/HotChocolate/PersistedOperations/HotChocolate.PersistedOperations.slnx
  src/HotChocolate/Primitives/HotChocolate.Primitives.sln
  src/HotChocolate/Primitives/HotChocolate.Primitives.slnx
  src/HotChocolate/Raven/HotChocolate.Raven.sln
  src/HotChocolate/Raven/HotChocolate.Raven.slnx
  src/HotChocolate/Spatial/HotChocolate.Spatial.sln
  src/HotChocolate/Spatial/HotChocolate.Spatial.slnx
  src/HotChocolate/Utilities/HotChocolate.Utilities.sln
  src/HotChocolate/Utilities/HotChocolate.Utilities.slnx
  src/StrawberryShake/Client/StrawberryShake.Client.sln
  src/StrawberryShake/Client/StrawberryShake.Client.slnx
  src/StrawberryShake/CodeGeneration/StrawberryShake.CodeGeneration.sln
  src/StrawberryShake/CodeGeneration/StrawberryShake.CodeGeneration.slnx
  src/StrawberryShake/Tooling/StrawberryShake.Tooling.sln
  src/StrawberryShake/Tooling/StrawberryShake.Tooling.slnx
Labels: 🧰 maintenance, 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ green donut

#8340 Updated code to remove unnecessary null coalescing
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Request/DefaultQueryRequestFactory.cs
  src/HotChocolate/Core/src/Execution.Abstractions/GraphQLException.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/HelloWorldCodeFirst/QueryHelloWorld.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/UploadSchemaHelpers.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8341 Updated code to remove unnecessary null-forgiving operator usage
  .editorconfig
  src/CookieCrumble/src/CookieCrumble/Formatters/JsonSnapshotValueFormatter.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/TestContext/Brand.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/EntitiesResolverTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/ReferenceResolverAttributeTests.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/ClientQueryResult.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.IsolatedProcess.Tests/IsolatedProcessEndToEndTests.cs
  src/HotChocolate/AzureFunctions/test/HotChocolate.AzureFunctions.Tests/InProcessEndToEndTests.cs
  src/HotChocolate/Core/src/Execution.Abstractions/Execution/OperationDocumentId.cs
  src/HotChocolate/Core/src/Features/FeatureReferences.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/SubscribeAndResolveAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/SubscribeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Configurations/ObjectTypeConfiguration.cs
  src/HotChocolate/Core/src/Types/Types/InputObjectTypeExtension.cs
  src/HotChocolate/Core/src/Types/Utilities/ThrowHelper.cs
  src/HotChocolate/Core/src/Validation/Rules/FieldVisitor.cs
  src/HotChocolate/Core/test/Abstractions.Tests/FieldResultTests.cs
  src/HotChocolate/Core/test/Types.NodaTime.Tests/OffsetDateTypeFullRoundtripIntegrationTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/LatitudeTypeTests.cs
  src/HotChocolate/Core/test/Types.Scalars.Tests/LongitudeTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/TypeInitializerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverCompilerTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/ObjectTypeExtensionTests.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/Handlers/QueryableDefaultFieldHandler.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Handlers/QueryableDefaultSortFieldHandler.cs
  src/HotChocolate/Data/test/Data.EntityFramework.Pagination.Tests/TestContext/Brand.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Context/FilterContextTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorMethodTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/FilterConventionExtensionsTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/FilterInputTypeTest.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/TypeInspectorTests.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/SortVisitorTestBase.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/SortConventionExtensionsTests.cs
  src/HotChocolate/Data/test/Data.Tests/TestContext2/Brand.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Filters.Tests/MongoDbFilterVisitorObjectTests.cs
  src/HotChocolate/MongoDb/test/Types.MongoDb/BsonTypeTests.cs
  src/HotChocolate/PersistedOperations/test/PersistedOperations.FileSystem.Tests/FileSystemOperationDocumentStorageTests.cs
  src/HotChocolate/Spatial/src/Types/Serialization/GeoJsonPolygonSerializer.cs
  src/StrawberryShake/Client/test/Transport.InMemory.Tests/IntegrationTests.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/WebSocketConnectionTests.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/OperationServiceGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/DocumentAnalyzerContext.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/EnumTypeUsageAnalyzer.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/CSharpCompiler.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/StarWarsOnReviewSubCompletionTest.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Razor.Tests/CSharpCompiler.cs
  src/StrawberryShake/Tooling/src/dotnet-graphql/DefaultHttpClientFactory.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ green donut

#8347 Updated code to remove unnecessary blank lines
  .editorconfig
  src/GreenDonut/src/GreenDonut.Data.EntityFramework/Expressions/ExpressionHelpers.cs
  src/GreenDonut/src/GreenDonut.Data.EntityFramework/Expressions/QueryHelpers.cs
  src/GreenDonut/src/GreenDonut/CacheDataLoader.cs
  src/GreenDonut/test/GreenDonut.Data.Tests/Cursors/CursorKeySerializerHelperTests.cs
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/BuiltInTypesSharableTests.cs
  src/HotChocolate/AspNetCore/src/AspNetCore.Authorization.Opa/Extensions/HotChocolateAuthorizeRequestExecutorBuilder.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Serialization/DefaultHttpResponseFormatter.cs
  src/HotChocolate/Caching/test/Caching.Memory.Tests/CacheTests.cs
  src/HotChocolate/Core/src/Execution/Configuration/RequestExecutorSetup.cs
  src/HotChocolate/Core/src/Execution/Requirements/PropertyNode.cs
  src/HotChocolate/Core/src/Execution/Requirements/PropertyTreeBuilder.cs
  src/HotChocolate/Core/src/Types.Abstractions/Types/Collections/EmptyInputFieldDefinitionCollection.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ConnectionTypeFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/ObjectTypeFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/Filters/ClassWithBaseClass.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderModuleInspector.cs
  src/HotChocolate/Core/src/Types.CursorPagination.Extensions/PageInfo.cs
  src/HotChocolate/Core/src/Types.CursorPagination/ConnectionBase.cs
  src/HotChocolate/Core/src/Types.CursorPagination/CursorPaginationAlgorithm.cs
  src/HotChocolate/Core/src/Types.OffsetPagination/CollectionSegmentType~1.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInterceptor.cs
  src/HotChocolate/Core/src/Types/SchemaPrinter.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/DescriptorBase~1.cs
  src/HotChocolate/Core/src/Types/Types/EnumValueCollection.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/ResolverTypeInterceptor.cs
  src/HotChocolate/Core/src/Types/Types/ObjectField.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/IPage.cs
  src/HotChocolate/Core/src/Types/Types/Scalars/ScalarType.cs
  src/HotChocolate/Core/src/Validation/DocumentValidator.cs
  src/HotChocolate/Core/src/Validation/Rules/ArgumentVisitor.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/OperationCompilerTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/ObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/Types/AuthorNode.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/IsSelectedTests.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaDocumentFormatterTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/OneOfIntegrationTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/SubscriptionTypeTests.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/CostSyntaxRewriter.cs
  src/HotChocolate/Data/src/Data/Filters/Expressions/QueryableFilterProvider.cs
  src/HotChocolate/Data/src/Data/Projections/Extensions/ProjectionObjectFieldDescriptorExtensions.cs
  src/HotChocolate/Data/test/Data.Filters.SqlServer.Tests/TestContext/CatalogContext.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Models/Product.cs
  src/HotChocolate/Data/test/Data.Tests/PagingHelperIntegrationTests.cs
  src/HotChocolate/Data/test/Data.Tests/ProjectableDataLoaderTests.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Collections/SourceInterfaceTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Contracts/ISourceComplexTypeCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/Contracts/ISourceMemberCollection.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution.Types/FusionUnionTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/QueryExecutor.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Serialization/CodeWriter.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Types/SelectionPath.cs
  src/HotChocolate/Language/src/Language.Web/Utf8GraphQLRequestParser.Utilities.cs
  src/HotChocolate/MongoDb/src/Data/Paging/MongoDbCursorPagingHandler.cs
  src/HotChocolate/Mutable/src/Types.Mutable/Collections/InterfaceTypeDefinitionCollection.cs
  src/HotChocolate/PersistedOperations/src/PersistedOperations.AzureBlobStorage/AzureBlobOperationDocumentStorage.cs
  src/HotChocolate/Primitives/src/Primitives/DirectiveLocationUtils.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Analyzers/Models/ClientModel.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/Integration/TestGeneration.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/NoStoreStarWarsGeneratorTests.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ green donut

#8354 Added tests for schema keyword retention when description is present
  src/HotChocolate/Language/test/Language.SyntaxTree.Tests/Utilities/SchemaSyntaxPrinterTests.cs
  src/HotChocolate/Mutable/test/Types.Mutable.Tests/SchemaFormatterTests.cs
Labels: 🌶️ hot chocolate

#8360 Removed references to Skimmed
  .build/Build.Tests.2.cs
  .build/Build.Tests.cs
  src/HotChocolate/Mutable/src/Types.Mutable/HotChocolate.Types.Mutable.csproj
  src/HotChocolate/Mutable/src/Types.Mutable/Properties/MutableResources.Designer.cs
  src/HotChocolate/Mutable/src/Types.Mutable/Properties/MutableResources.resx
  src/HotChocolate/Mutable/src/Types.Mutable/Properties/SkimmedResources.Designer.cs
  src/HotChocolate/Mutable/src/Types.Mutable/WellKnownContextData.cs
  src/HotChocolate/Mutable/test/Types.Mutable.Tests/RefactoringTests.txt
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/OpenApiFieldMetadata.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/OpenApiMutableSchemaBuilder.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/OpenApiTypeMetadata.cs
  src/HotChocolate/OpenApi/src/HotChocolate.OpenApi/TypeInterceptors/ContextDataTypeInterceptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/ErrorHelper.cs
Labels: 🧰 maintenance, 🌶️ hot chocolate, 🌶️ strawberry shake

#8369 Removed obsolete code
  src/GreenDonut/src/GreenDonut.Abstractions/IDataLoader.cs
  src/GreenDonut/src/GreenDonut.Data/Extensions/GreenDonutPaginationBatchingDataLoaderExtensions.cs
  src/GreenDonut/src/GreenDonut/DataLoaderBase.IDataLoader.cs
  src/GreenDonut/src/GreenDonut/DataLoaderBase.cs
  src/GreenDonut/src/GreenDonut/Extensions/DataLoaderExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/ServerTestBase.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests.Utilities/SubscriptionsExtensions.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL_Explicit_Route.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_SDL_Explicit_Route_Explicit_Pattern.snap
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_Schema.md
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/__snapshots__/HttpGetSchemaMiddlewareTests.Download_GraphQL_Schema_Slicing_Args_Enabled.md
  src/HotChocolate/Core/src/Execution/Processing/SelectionSetOptimizerContext.cs
  src/HotChocolate/Core/src/Fetching/Extensions/DataLoaderResolverContextExtensions.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/ExtendObjectTypeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/SubscribeAndResolveAttribute.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/DataLoaderTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/__snapshots__/DataLoaderTests.FetchGroupDataLoader.md
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/__snapshots__/DataLoaderTests.FetchOnceDataLoader.md
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/__snapshots__/DataLoaderTests.FetchSingleDataLoader.md
  src/HotChocolate/Core/test/Fetching.Tests/InlineBatchDataLoaderTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/InlineCacheDataLoaderTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/InlineGroupDataLoaderTests.cs
  src/HotChocolate/Core/test/Types.Tests/DataLoader/DataLoaderResolverContextExtensions.cs
  src/HotChocolate/Core/test/Types.Tests/Types/SubscriptionTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_AsyncEnumerable_onSomething.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_AsyncEnumerable_onSomethingObj.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_AsyncEnumerable_onSomethingObjTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_AsyncEnumerable_onSomethingObjValueTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_AsyncEnumerable_onSomethingTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_AsyncEnumerable_onSomethingValueTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Enumerable_onSomething.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Enumerable_onSomethingObj.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Enumerable_onSomethingObjTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Enumerable_onSomethingObjValueTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Enumerable_onSomethingTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Enumerable_onSomethingValueTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_ISourceStream_onSomething.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Observable_onSomething.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Observable_onSomethingObj.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Observable_onSomethingObjTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Observable_onSomethingObjValueTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Observable_onSomethingTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Observable_onSomethingValueTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Queryable_onSomething.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Queryable_onSomethingObj.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Queryable_onSomethingObjTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Queryable_onSomethingObjValueTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Queryable_onSomethingTask.md
  src/HotChocolate/Core/test/Types.Tests/Types/__snapshots__/SubscriptionTypeTests.SubscribeAndResolve_Attribute_Queryable_onSomethingValueTask.md
  src/HotChocolate/Data/src/Data/Projections/ISelectionVisitorContext.cs
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__snapshots__/IntrospectionClientTests.IntrospectServer.snap
  src/StrawberryShake/Client/test/Transport.InMemory.Tests/IntegrationTests.cs
  src/StrawberryShake/Client/test/Transport.InMemory.Tests/__snapshots__/IntegrationTests.Subscription_Result.snap
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/IntegrationTests.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake, 🌶️ green donut

#8370 Centralized the Neutral Language configuration
  src/Directory.Build.props
  src/GreenDonut/Directory.Build.props
  src/HotChocolate/Data/Directory.Build.props
  src/HotChocolate/Marten/Directory.Build.props
  src/HotChocolate/MongoDb/Directory.Build.props
  src/HotChocolate/Raven/Directory.Build.props
  src/HotChocolate/Spatial/Directory.Build.props
  src/HotChocolate/Utilities/src/Utilities.Introspection/Properties/ResourceInfo.cs
  src/HotChocolate/Utilities/src/Utilities/Properties/ResourceInfo.cs
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8380 Fixed DataLoader interface injection.
  src/GreenDonut/src/GreenDonut/DependencyInjection/DataLoaderServiceCollectionExtensions.cs
Labels: 🌶️ green donut

#8385 Removed unused private members
  .editorconfig
  src/HotChocolate/Core/src/Execution.Projections/SelectionExpressionBuilder.cs
  src/HotChocolate/Core/src/Execution/Serialization/MultiPartResultFormatter.cs
  src/HotChocolate/Core/src/Types/Utilities/NullableHelper.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/TypeTrimmerTests.cs
  src/HotChocolate/CostAnalysis/test/CostAnalysis.Tests/SchemaIntegrationTests.cs
  src/HotChocolate/Data/test/Data.Filters.InMemory.Tests/FilterVisitorTestBase.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/QueryExecutor.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/BlockStringTokenReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/CommentTokenReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/NameTokenReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/NumberTokenReaderTests.cs
  src/HotChocolate/Language/test/Language.Tests/Parser/StringTokenReaderTests.cs
  src/HotChocolate/PersistedOperations/src/PersistedOperations.FileSystem/FileSystemOperationDocumentStorage.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/EntityIdFactoryGenerator.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/NoStoreAccessorGenerator.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.CSharp.Tests/CSharpCompiler.cs
  src/StrawberryShake/CodeGeneration/test/CodeGeneration.Razor.Tests/CSharpCompiler.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8386 Added `readonly` modifier
  .editorconfig
  src/HotChocolate/Core/src/Features/PooledFeatureCollection.cs
  src/HotChocolate/Core/test/StarWars/Data/CharacterRepository.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/PostgresChannelTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/TestHelper.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/ObjectTypeDescriptorTests.cs
  src/HotChocolate/Spatial/test/Types.Tests/GeoJsonMultiPolygonSerializerTests.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Builders/XmlCommentBuilder.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/DependencyInjectionGenerator.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8387 Converted (unnecessarily-) interpolated strings to concatenation
  .editorconfig
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/FlagEnumTypeInterceptor.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Satisfiability/SatisfiabilityError.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/ResultFromEntityTypeMapperGenerator.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8378 [Fusion] Fix bug with shared parent selection
  src/HotChocolate/Fusion/src/Core/Planning/Pipeline/ExecutionStepDiscoveryMiddleware.cs
  src/HotChocolate/Fusion/test/Core.Tests/DemoIntegrationTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Field_Below_Shared_Field_Only_Available_On_One_Subgraph_Type_Of_Shared_Field_Not_Node.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Viewer_Bug_1.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/DemoIntegrationTests.Viewer_Bug_2.md
Labels: 🌶️ hot chocolate

#8392 Removed unnecessary initialization
  .editorconfig
  src/HotChocolate/AspNetCore/src/AspNetCore/GraphQLServerOptions.cs
  src/HotChocolate/Core/test/Execution.Tests/Instrumentation/DiagnosticListenerTests.cs
  src/HotChocolate/Core/test/Fetching.Tests/AutoCacheDataLoaderTests.cs
  src/HotChocolate/Core/test/Subscriptions.Tests/DefaultTopicTests.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/TypeDiscoveryTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/Conventions/DefaultTypeInspectorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputParserTests.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/CostMetrics.cs
  src/HotChocolate/CostAnalysis/src/CostAnalysis/Options/CostOptions.cs
  src/HotChocolate/Data/src/Data/Sorting/Expressions/Extensions/QueryableSortContextExtensions.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Types/ComparableOperationInputTests.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/SortInputTypeTests.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Serialization/CodeWriter.cs
  src/HotChocolate/Marten/test/Data.Marten.Filters.Tests/ResourceContainer.cs
  src/HotChocolate/Marten/test/Data.Marten.Sorting.Tests/SortVisitorTestBase.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/Messaging/MessagePipeline.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/WebSocketClient.cs
  src/StrawberryShake/Client/test/Core.Tests/OperationResultBuilderTests.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Builders/TupleBuilder.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8393 Fixed DefaultTopic TopicBufferFullMode Mapping
  src/HotChocolate/Core/src/Subscriptions/DefaultTopic.cs
  src/HotChocolate/Core/src/Subscriptions/Extensions/TopicBufferFullModeHelper.cs
  src/HotChocolate/Core/src/Subscriptions/ITopic.cs
  src/HotChocolate/Core/src/Subscriptions/Properties/Resources.Designer.cs
  src/HotChocolate/Core/src/Subscriptions/Properties/Resources.resx
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8394 Used constants instead of fields
  .editorconfig
  src/HotChocolate/Core/src/Types.NodaTime/ZonedDateTimeType.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Generators/DependencyInjectionGenerator.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8399 Fixed naming of private fields
  src/HotChocolate/AspNetCore/test/AspNetCore.Authorization.Tests/AuthorizationTestData.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Planning/Serialization/CodeWriter.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/MongoDbCursorPagingAggregateFluentTests.cs
  src/HotChocolate/MongoDb/test/Data.MongoDb.Paging.Tests/MongoDbCursorPagingFindFluentTests.cs
  src/HotChocolate/Raven/test/Data.Raven.Paging.Tests/RavenAsyncDocumentQueryTests.cs
  src/HotChocolate/Raven/test/Data.Raven.Paging.Tests/RavenQueryableTests.cs
Labels: 🌶️ hot chocolate

#8400 Changed public constructors in abstract types to protected
  .editorconfig
  src/HotChocolate/Core/src/Types.NodaTime/BaseTypes/StringToStructBaseType.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterProvider.cs
  src/HotChocolate/Data/src/Data/Filters/Visitor/FilterProviderExtensions.cs
  src/HotChocolate/Data/src/Data/Projections/Convention/ProjectionProvider.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/SortProvider.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/SortProviderExtensions.cs
  src/HotChocolate/MongoDb/src/Data/Filters/Handlers/Comparable/MongoDbComparableOperationHandler.cs
  src/HotChocolate/MongoDb/src/Data/Filters/Handlers/String/MongoDbStringOperationHandler.cs
  src/HotChocolate/Mutable/src/Types.Mutable/Collections/FieldCollection.cs
  src/HotChocolate/Spatial/src/Data/Filters/Expressions/Handlers/QueryableSpatialContainsOperationHandlerBase.cs
  src/HotChocolate/Spatial/src/Data/Filters/Expressions/Handlers/QueryableSpatialIntersectsOperationHandlerBase.cs
  src/HotChocolate/Spatial/src/Data/Filters/Expressions/Handlers/QueryableSpatialOverlapsOperationHandlerBase.cs
  src/HotChocolate/Spatial/src/Data/Filters/Expressions/Handlers/QueryableSpatialTouchesOperationHandlerBase.cs
  src/HotChocolate/Spatial/src/Data/Filters/Expressions/Handlers/QueryableSpatialWithinOperationHandlerBase.cs
Labels: 🌶️ hot chocolate

#8402 Removed unnecessary lambda expressions
  .editorconfig
  src/HotChocolate/Core/src/Execution/Processing/Tasks/StreamHelper.cs
  src/HotChocolate/Core/src/Subscriptions.Postgres/PostgresChannel.cs
  src/HotChocolate/Core/src/Types/Configuration/TypeInitializer.cs
  src/HotChocolate/Core/src/Types/Utilities/DefaultTypeConverter.Setup.cs
  src/HotChocolate/Core/test/Features.Tests/FeatureCollectionExtensionsTests.cs
  src/HotChocolate/Core/test/StarWars/Resolvers/SharedResolvers.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/AsyncAutoResetEventTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/AsyncTaskDispatcherTests.cs
  src/HotChocolate/Core/test/Subscriptions.Postgres.Tests/PostgresChannelTests.cs
  src/HotChocolate/Core/test/Types.Tests/SchemaErrorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Descriptors/Conventions/DefaultTypeInspectorTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/TypeExtensionsTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/FilterInputTypeTest.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/SortInputTypeTests.cs
  src/HotChocolate/MongoDb/src/Data/Driver/AndFilterDefinition.cs
  src/HotChocolate/Spatial/test/Types.Tests/TransformationIntegrationTests.cs
  src/StrawberryShake/Client/src/Persistence.SQLite/SQLitePersistence.cs
  src/StrawberryShake/Client/test/Transport.InMemory.Tests/InMemoryClientBuilderExtensionsTests.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/DependencyInjection/WebSocketClientFactoryServiceCollectionExtensionsTests.cs
  src/StrawberryShake/Client/test/Transport.WebSocket.Tests/DependencyInjection/WebSocketClientPoolServiceCollectionExtensionsTests.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake
