Repository ChilliCream/graphql-platform, pull requests merged in 2025-02, with the labels that each got.

#7978 Fixed AddDescending implementation.
  src/GreenDonut/src/GreenDonut.Data.Primitives/SortDefinition.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2_Name_Desc.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2_Name_Desc_Brand_Name.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2_Name_Desc_Brand_Name__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2_Name_Desc__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2_And_Products_First_2__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands_First_2__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Brands__net_8_0.md
Labels: 🌶️ hot chocolate, 🌶️ green donut

#7975 [Fusion] Added SourceSchemaPreprocessor
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/ComplexTypeDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/ObjectFieldDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/ObjectTypeDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Options/SourceSchemaPreprocessorOptions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaPreprocessor.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaPreprocessorTests.cs
Labels: 🌶️ hot chocolate

#7977 [Fusion] Added post-merge validation rule "EmptyMergedEnumTypeRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Events/SchemaEvents.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedEnumTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/EmptyMergedEnumTypeRuleTests.cs
Labels: 🌶️ hot chocolate

#7979 [Fusion] Added post-merge validation rule "EmptyMergedUnionTypeRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Events/SchemaEvents.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedUnionTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/EmptyMergedUnionTypeRuleTests.cs
Labels: 🌶️ hot chocolate

#7980 [Fusion] Added post-merge validation rule "EmptyMergedInterfaceTypeRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedInterfaceTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/EmptyMergedInterfaceTypeRuleTests.cs
Labels: 🌶️ hot chocolate

#7984 [Fusion] Updated MergeUnionTypes to allow empty merged union type
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Union.Tests.cs
Labels: 🌶️ hot chocolate

#7985 [Fusion] Changed the return type of MergeUnionTypes to non-nullable
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
Labels: 🌶️ hot chocolate

#7986 [Fusion] Updated SetOperationTypes to remove empty operation types
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMergerTests.cs
Labels: 🌶️ hot chocolate

#7988 [Fusion] Added post-merge validation rule "NoQueriesRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/NoQueriesRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/NoQueriesRuleTests.cs
Labels: 🌶️ hot chocolate

#7860 Remove obsolete methods: `RemovePath` and `RemoveLocations`
  src/HotChocolate/Core/src/Abstractions/Error.cs
  src/HotChocolate/Core/src/Abstractions/ErrorBuilder.cs
  src/HotChocolate/Core/src/Abstractions/IError.cs
  src/HotChocolate/Core/src/Abstractions/IErrorBuilder.cs
  src/HotChocolate/Core/test/Abstractions.Tests/ErrorTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Processing/VariableCoercionHelperTests.cs
Labels: 🌶️ hot chocolate

#7993 [Fusion] Added post-merge validation rule "EmptyMergedInputObjectTypeRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedInputObjectTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/EmptyMergedInputObjectTypeRuleTests.cs
Labels: 🌶️ hot chocolate

#7999 [Fusion] Added merging of implemented interfaces
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Info/InterfaceInfo.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Interface.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Object.Tests.cs
Labels: 🌶️ hot chocolate

#8002 Added more include overloads.
  src/GreenDonut/src/GreenDonut.Data/Extensions/GreenDonutPaginationBatchingDataLoaderExtensions.cs
  src/GreenDonut/src/GreenDonut.Data/Extensions/GreenDonutSelectionDataLoaderExtensions.cs
  src/GreenDonut/src/GreenDonut.Data/Internal/ExpressionHelpers.cs
  src/HotChocolate/Core/src/Execution.Projections/Extensions/HotChocolateExecutionDataLoaderExtensions.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/DataLoaderTests.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Services/ProductDataLoader.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/TestQueryInterceptor.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/DataLoaderTests.Include_On_Array_Results.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/DataLoaderTests.Include_On_Array_Results__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/DataLoaderTests.Include_On_List_Results.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/DataLoaderTests.Include_On_List_Results__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/DataLoaderTests.Include_On_Page_Results.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/DataLoaderTests.Include_On_Page_Results__net_8_0.md
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8005 [Fusion] Used `@fusion__inaccessible` in the execution schema
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionInaccessibleDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Extensions/DirectivesProviderExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedEnumTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedInputObjectTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedInterfaceTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedObjectTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/EmptyMergedUnionTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/NoQueriesRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Argument.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Enum.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.EnumValue.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.InputField.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.InputObject.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Interface.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Object.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.OutputField.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Scalar.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Union.Tests.cs
Labels: 🌶️ hot chocolate

#8011 Request totalCount through ToPageAsync if its requested.
  src/GreenDonut/GreenDonut.sln
  src/GreenDonut/src/GreenDonut.Data.EntityFramework/Extensions/PagingQueryableExtensions.cs
  src/GreenDonut/src/GreenDonut.Data.Primitives/PagingArguments.cs
  src/GreenDonut/src/GreenDonut/GreenDonut.csproj
  src/HotChocolate/Core/src/Types/Types/Pagination/PagingHelper.cs
  src/HotChocolate/Data/src/Data/Pagination/PagingArgumentsParameterExpressionBuilder.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/Types/Products/ProductQueries.cs
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.CreateSchema.graphql
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Products_Exclude_TotalCount.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Products_Exclude_TotalCount__net_8_0.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Products_Include_TotalCount.md
  src/HotChocolate/Data/test/Data.PostgreSQL.Tests/__snapshots__/IntegrationTests.Query_Products_Include_TotalCount__net_8_0.md
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8013 Added QueryContext extension methods for Select and Include.
  src/GreenDonut/src/GreenDonut.Data/Extensions/GreenDonutQueryContextExtensions.cs
  src/GreenDonut/src/GreenDonut.Data/Internal/ExpressionHelpers.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/CapturePagingQueryInterceptor.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/PagingHelperIntegrationTests.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/PagingHelperTests.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/SnapshotExtensions.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/TestContext/Brand.cs
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Brand.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Brand_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Brand_Name.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Brand_Name_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Product_List.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_Include_Product_List_NET8_0.md
  src/GreenDonut/test/GreenDonut.Data.EntityFramework.Tests/__snapshots__/PagingHelperTests.QueryContext_Simple_Selector_NET8_0.md
Labels: 🌶️ green donut

#8009 Changed the runtime type for the Date scalar in Strawberry Shake
  src/StrawberryShake/Client/src/Core/Serialization/DateSerializer.cs
  src/StrawberryShake/Client/test/Core.Tests/Serialization/DateSerializerTests.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Utilities/SchemaHelper.cs
Labels: 🌶️ strawberry shake

#8021 Combining the CompilationProvider is an anti-pattern, create an IncrementalValueProvider for the assembly name instead.
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/ISyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/MiddlewareGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/TypeModuleSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/TypesSyntaxGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/GraphQLServerGenerator.cs
Labels: 🌶️ hot chocolate

#8026 Fix ignored invalid field when enum is present
  src/HotChocolate/Core/src/Execution/Processing/VariableCoercionHelper.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/VariableCoercionIntegrationTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Invalid_Enum_Value_Provided.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Invalid_Field_Provided_When_Enum_Is_Present.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Nullables_And_NonNullables_Are_Set.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Nullables_Are_Not_Set_NonNullables_Are_Set.snap
  src/HotChocolate/Core/test/Execution.Tests/Integration/Components/__snapshots__/VariableCoercionIntegrationTests.Nullables_Are_Set_And_NonNullables_Are_Set_To_Null.snap
Labels: 🌶️ hot chocolate

#8028 Allow for internal DataLoader modules and groups.
  .vscode/settings.json
  global.json
  src/GreenDonut/src/GreenDonut.Abstractions/Attributes/DataLoaderModuleAttribute.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/DataLoaderFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/FileBuilders/DataLoaderModuleFileBuilder.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Generators/DataLoaderModuleGenerator.cs
  src/HotChocolate/Core/src/Types.Analyzers/Helpers/DataLoaderAttributeHelper.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/DataLoaderModuleInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Inspectors/ModuleInspector.cs
  src/HotChocolate/Core/src/Types.Analyzers/Models/DataLoaderModuleInfo.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/DataLoaderTests.cs
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.Generate_DataLoader_Module_As_Internal.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.Generate_DataLoader_Module_As_Internal_Implementation_As_Internal.md
  src/HotChocolate/Core/test/Types.Analyzers.Tests/__snapshots__/DataLoaderTests.Generate_DataLoader_Module_As_Internal_Implementation_As_Internal_With_Group.md
Labels: 🌶️ hot chocolate, 🌶️ green donut

#8018 Updated the latest stable version for the docs to v15
  website/src/docs/docs.json
Labels: 🌶️ website

#8030 [Fusion] Fix explosion of selections
  src/HotChocolate/Fusion/src/Core/Execution/Nodes/ResolverNodeBase.Config.cs
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/RequestDocumentFormatter.cs
  src/HotChocolate/Fusion/src/Core/Utilities/SelectionRewriter.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#8031 [Fusion] Fix issue with conditions
  src/HotChocolate/Fusion/src/Core/Planning/RequestFormatters/RequestDocumentFormatter.cs
  src/HotChocolate/Fusion/src/Core/Utilities/SelectionRewriter.cs
  src/HotChocolate/Fusion/test/Core.Tests/SkipTests.cs
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/SkipTests.Same_Sub_Selection_Only_One_Skipped.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/SkipTests.Same_Sub_Selection_Skipped_Twice.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/SkipTests.Same_TopLevel_Selection_Only_One_Skipped.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/SkipTests.Same_TopLevel_Selection_Skipped_Twice.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/SkipTests.Same_TopLevel_Selection_Skipped_With_Entirely_Different_Skips.md
  src/HotChocolate/Fusion/test/Core.Tests/__snapshots__/SkipTests.Same_TopLevel_Selection_Skipped_With_Partially_Shared_Conditions.md
Labels: 🌶️ hot chocolate, 👓 ready-for-review

#8032 Added a new overload for 'ParentRequires' that uses an expression.
  src/HotChocolate/Core/src/Types/Types/Descriptors/Contracts/IObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Data/test/Data.Tests/ProjectableDataLoaderTests.cs
Labels: 🌶️ hot chocolate

#8034 Added the DataLoader YouTube episode to the docs.
  website/src/docs/hotchocolate/v15/fetching-data/dataloader.md
Labels: 📚 documentation

#8044 Aligned DataLoader options behavior.
  .vscode/tasks.json
  src/GreenDonut/src/GreenDonut/BatchDataLoader.cs
  src/GreenDonut/src/GreenDonut/BranchedDataLoader.cs
  src/GreenDonut/src/GreenDonut/DataLoaderBase.cs
  src/GreenDonut/src/GreenDonut/GroupedDataLoader.cs
  src/GreenDonut/test/GreenDonut.Tests/DataLoader.cs
  src/GreenDonut/test/GreenDonut.Tests/DataLoaderExtensionsTests.cs
  src/GreenDonut/test/GreenDonut.Tests/DataLoaderStateTests.cs
  src/GreenDonut/test/GreenDonut.Tests/DependencyInjection/DataLoaderServiceCollectionExtensionsTests.cs
  src/HotChocolate/Core/test/Execution.Tests/Integration/DataLoader/UseDataLoaderTests.cs
  website/src/docs/hotchocolate/v15/migrating/migrate-from-14-to-15.md
Labels: 📚 documentation, 🌶️ hot chocolate, 🌶️ green donut

#8046 [Fusion] Fixed inverted condition in ValidationHelper
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/ValidationHelper.cs
Labels: 🌶️ hot chocolate

#8041 Ensure TypeModuleChangeMonitor is properly disposed
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Core/test/Execution.Tests/Configuration/TypeModuleTests.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8051 [Fusion] Merged selection sets in SelectedValueToSelectionSetRewriter
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Rewriters/SelectedValueToSelectionSetRewriter.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Object.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Utilities.Tests/Rewriters/SelectedValueToSelectionSetRewriterTests.cs
Labels: 🌶️ hot chocolate

#8052 [Fusion] Skipped failing FieldSelectionMapParser test
  src/HotChocolate/Fusion-vnext/test/Fusion.Language.Tests/FieldSelectionMapParserTests.cs
Labels: 🌶️ hot chocolate

#8019 [Fusion] Added post-merge validation rule "InterfaceFieldNoImplementationRule"
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/PostMergeValidationRules/InterfaceFieldNoImplementationRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/PostMergeValidationRules/InterfaceFieldNoImplementationRuleTests.cs
Labels: 🌶️ hot chocolate

#8056 Fix flakey test
  src/HotChocolate/Core/test/Execution.Tests/Configuration/TypeModuleTests.cs
Labels: 🌶️ hot chocolate

#8058 Added missing condition to TypeRegistry#Register
  src/HotChocolate/Core/src/Types/Configuration/TypeRegistry.cs
  src/HotChocolate/Core/test/Types.Tests/Configuration/TypeDiscoveryTests.cs
Labels: 🌶️ hot chocolate

#8066 Added `FieldSelectionMapValidator`
  dictionary.txt
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/SyntaxVisitors/FieldSelectionMapSyntaxVisitor.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/SyntaxVisitors/FieldSelectionMapSyntaxVisitor~1.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/SyntaxVisitors/ISyntaxVisitorAction.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Language/SyntaxVisitors/SyntaxVisitorActionKind.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/HotChocolate.Fusion.Utilities.csproj
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Properties/FusionUtilitiesResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Properties/FusionUtilitiesResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Validators/FieldSelectionMapValidator.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/WellKnownDirectiveNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Utilities.Tests/Validators/FieldSelectionMapValidatorTests.cs
Labels: 🌶️ hot chocolate

#8055 Scope OperationCache to RequestExecutor
  src/HotChocolate/Core/src/Execution/Caching/PreparedOperationCacheOptions.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/InternalServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/RequestExecutorServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/Pipeline/OperationCacheMiddleware.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Core/test/Execution.Tests/PreparedOperationCacheTests.cs
  src/HotChocolate/Core/test/Execution.Tests/RequestExecutorResolverTests.cs
  src/HotChocolate/Core/test/Execution.Tests/WarmupRequestTests.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review, 🍒 cherry-pick

#8075 [Fusion] Fixed `FieldSelectionMapValidator`, added more tests
  src/HotChocolate/Fusion-vnext/src/Fusion.Utilities/Validators/FieldSelectionMapValidator.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Utilities.Tests/Validators/FieldSelectionMapValidatorTests.cs
Labels: 🌶️ hot chocolate

#8068 Warmup new executor before replacing old one
  src/HotChocolate/AspNetCore/src/AspNetCore/Extensions/HotChocolateAspNetCoreServiceCollectionExtensions.Warmup.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Warmup/ExecutorWarmupService.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Warmup/RequestExecutorWarmupService.cs
  src/HotChocolate/AspNetCore/src/AspNetCore/Warmup/WarmupSchemaTask.cs
  src/HotChocolate/AspNetCore/test/AspNetCore.Tests/EvictSchemaTests.cs
  src/HotChocolate/Core/src/Execution/AutoUpdateRequestExecutorProxy.cs
  src/HotChocolate/Core/src/Execution/DependencyInjection/InternalServiceCollectionExtensions.cs
  src/HotChocolate/Core/src/Execution/HotChocolate.Execution.csproj
  src/HotChocolate/Core/src/Execution/IRequestExecutorWarmup.cs
  src/HotChocolate/Core/src/Execution/Internal/IInternalRequestExecutorResolver.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorProxy.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.Warmup.cs
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
  src/HotChocolate/Core/src/Execution/WarmupSchemaTask.cs
  src/HotChocolate/Core/test/Execution.Tests/AutoUpdateRequestExecutorProxyTests.cs
  src/HotChocolate/Core/test/Execution.Tests/RequestExecutorProxyTests.cs
  src/HotChocolate/Core/test/Execution.Tests/RequestExecutorResolverTests.cs
Labels: 🌶️ hot chocolate, 👓 ready-for-review, 🍒 cherry-pick

#8071 Added section regarding `SingleOrDefaultMiddleware` to migration guide
  website/src/docs/hotchocolate/v14/migrating/migrate-from-13-to-14.md
Labels: 📚 documentation

#8077 [Fusion] Changed `@require(fields:)` to `@require(field:)`
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Events/SchemaEvents.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryCodes.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Logging/LogEntryHelper.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SchemaComposer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/RequireDirectiveInFieldArgumentRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/RequireInvalidFieldTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/RequireInvalidFieldsTypeRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/RequireInvalidSyntaxRule.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidator.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/RequireDirectiveInFieldArgumentRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/RequireInvalidFieldTypeRuleTests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/RequireInvalidSyntaxRuleTests.cs
Labels: 🌶️ hot chocolate

#8079 Remove Hot Reload Hooks
  src/HotChocolate/Core/src/Execution/RequestExecutorResolver.cs
Labels: 🌶️ hot chocolate, 🍒 cherry-pick

#8082 [Fusion] Updated MergeUnionTypes to merge by union instead of intersection
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.Union.Tests.cs
Labels: 🌶️ hot chocolate

#8080 Added NodaTime data tests
  src/All.slnx
  src/Directory.Packages.props
  src/HotChocolate/Data/HotChocolate.Data.sln
  src/HotChocolate/Data/test/Data.NodaTime.Tests/HotChocolate.Data.NodaTime.Tests.csproj
  src/HotChocolate/Data/test/Data.NodaTime.Tests/IntegrationTests.cs
  src/HotChocolate/Data/test/Data.NodaTime.Tests/PostgresCollectionFixture.cs
  src/HotChocolate/Data/test/Data.NodaTime.Tests/TestContext/Author.cs
  src/HotChocolate/Data/test/Data.NodaTime.Tests/TestContext/Book.cs
  src/HotChocolate/Data/test/Data.NodaTime.Tests/TestContext/BookContext.cs
Labels: 🌶️ hot chocolate

#8083 [Fusion] Updated the Fusion directives to align with the execution spec
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionEnumValueMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionFieldMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionImplementsMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionInputFieldMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionLookupMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionRequiresMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionSchemaMutableEnumTypeDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionTypeMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Definitions/FusionUnionMemberMutableDirectiveDefinition.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.Designer.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/Properties/CompositionResources.resx
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaMerger.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/WellKnownArgumentNames.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaMerger.OutputField.Tests.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/__snapshots__/SourceSchemaMergerTests.Merge_FourNamedSchemas_AddsFusionDefinitions.graphql
Labels: 🌶️ hot chocolate
