Repository ChilliCream/graphql-platform, pull requests merged in 2025-10, with the labels that each got.

#8755 [Fusion] Split options and request options apart
  src/HotChocolate/Fusion-vnext/src/Fusion.AspNetCore/RequestExecutorWarmupService.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Configuration/FusionGatewaySetup.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/DependencyInjection/CoreFusionGatewayBuilderExtensions.Options.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Extensions/FusionRequestContextExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/Extensions/FusionSchemaDefinitionExtensions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionOptions.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestExecutorManager.cs
  src/HotChocolate/Fusion-vnext/src/Fusion.Execution/Execution/FusionRequestOptions.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.AspNetCore.Tests/CancellationTests.cs
Labels: 🌶️ hot chocolate

#8760 Make document Id available again in ParseDocument diagnostic event
  src/HotChocolate/Core/src/Execution.Pipeline/DocumentParserMiddleware.cs
  website/src/docs/hotchocolate/v16/migrating/migrate-from-15-to-16.md
Labels: 📚 documentation, 🌶️ hot chocolate

#8777 [Fusion] Aligned "IsInvalidSyntaxRule" with the specification
  src/HotChocolate/Fusion-vnext/src/Fusion.Composition/SourceSchemaValidationRules/IsInvalidSyntaxRule.cs
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/IsInvalidSyntaxRuleTests.cs
Labels: 🌶️ hot chocolate

#8779 Ensured that `includeDeprecated` is non-nullable
  src/HotChocolate/Core/src/Types/Types/Introspection/schema.gql
  src/HotChocolate/Fusion-vnext/test/Fusion.Composition.Tests/SourceSchemaValidationRules/DisallowedInaccessibleElementsRuleTests.cs
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__resources__/IntrospectionWithDefaultValues.json
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__resources__/IntrospectionWithNullDeprecationReason.json
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__resources__/StarWarsIntrospectionResult.json
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__snapshots__/IntrospectionFormatterTests.DeserializeIntrospectionWithIntDefaultValues.snap
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__snapshots__/IntrospectionFormatterTests.DeserializeIntrospectionWithNullDeprecationReason.snap
  src/HotChocolate/Utilities/test/Utilities.Introspection.Tests/__snapshots__/IntrospectionFormatterTests.DeserializeStarWarsIntrospectionResult.snap
Labels: 🌶️ hot chocolate

#8782 Updated configuration for IDE0040
  .editorconfig
  src/HotChocolate/ApolloFederation/test/ApolloFederation.Tests/EntitiesResolverForInterfaceTests.cs
  src/HotChocolate/Caching/test/Caching.Tests/CacheControlDirectiveTypeTests.cs
  src/HotChocolate/Core/src/Execution.Abstractions/Execution/IRequestExecutorProvider.cs
  src/HotChocolate/Core/src/Subscriptions.RabbitMQ/IRabbitMQConncetion.cs
  src/HotChocolate/Core/src/Subscriptions/ITopic.cs
  src/HotChocolate/Core/src/Types.Abstractions/IRootServiceProviderAccessor.cs
  src/HotChocolate/Core/src/Types.Abstractions/ISchemaDefinition.cs
  src/HotChocolate/Core/src/Types/Execution/Processing/IFragment.cs
  src/HotChocolate/Core/src/Types/IReadOnlySchemaOptions.cs
  src/HotChocolate/Core/src/Types/Internal/IParameterBinding.cs
  src/HotChocolate/Core/src/Types/Internal/ITypeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Configurations/IRepeatableConfiguration.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/IPage.cs
  src/HotChocolate/Core/src/Types/Types/Pagination/IPageTotalCountProvider.cs
  src/HotChocolate/Core/test/Types.CursorPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.Mutations.Tests/AnnotationBasedMutations.cs
  src/HotChocolate/Core/test/Types.NodaTime.Tests/InstantTypeDateTimeOffsetIntegrationTests.cs
  src/HotChocolate/Core/test/Types.OffsetPagination.Tests/IntegrationTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/InputObjectTypeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/IdAttributeTests.cs
  src/HotChocolate/Core/test/Types.Tests/Types/Relay/NodeFieldSupportTests.cs
  src/HotChocolate/Data/src/Data/Sorting/ISortFieldConfiguration.cs
  src/HotChocolate/Data/src/Data/Sorting/Visitor/ISortVisitorContext~1.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/Expression/QueryableFilterVisitorObjectTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/FilterInputTypeTest.cs
  src/HotChocolate/Data/test/Data.Sorting.InMemory.Tests/QueryableSortVisitorObjectTests.cs
  src/HotChocolate/Data/test/Data.Sorting.Tests/SortInputTypeTests.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Extensions/ApiClientCommandLineBuilderExtensions.cs
  src/Nitro/CommandLine/src/CommandLine.Cloud/Services/Configuration/Configuration.cs
  src/Nitro/CommandLine/src/CommandLine.Core/Result/IExtendedConsole.cs
  src/StrawberryShake/Client/src/Core/IClientBuilder.cs
  src/StrawberryShake/Client/src/Core/IEntityUpdateSession.cs
  src/StrawberryShake/Client/src/Core/IStoredOperation.cs
  src/StrawberryShake/Client/src/Transport.WebSockets/ISocketConnectionInterceptor.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration.CSharp/Builders/ICodeContainer.cs
  src/StrawberryShake/CodeGeneration/src/CodeGeneration/Descriptors/TypeDescriptors/ITypeDescriptor.cs
Labels: 🌶️ hot chocolate, 🌶️ strawberry shake

#8778 Fix race condition on MethodInfo.GetParameters()
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.Members.cs
  src/HotChocolate/Core/src/Types/Internal/ExtendedType.cs
  src/HotChocolate/Core/src/Types/Internal/ParameterInfoComparer.cs
  src/HotChocolate/Core/src/Types/Resolvers/DefaultResolverCompiler.cs
  src/HotChocolate/Core/src/Types/Types/Attributes/SubscribeAttribute.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DefaultTypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/DescriptorContext.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/Conventions/ITypeInspector.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/InterfaceFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Descriptors/ObjectFieldDescriptor.cs
  src/HotChocolate/Core/src/Types/Types/Interceptors/ResolverTypeInterceptor.cs
  src/HotChocolate/Core/test/Types.Tests/Resolvers/ResolverCompilerTests.cs
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/FilterInputTypeTest.FilterInputType_Should_ThrowException_WhenNoConventionIsRegistered.snap
  src/HotChocolate/Data/test/Data.Filters.Tests/__snapshots__/FilterInputTypeTest.FilterInputType_Should_ThrowException_WhenNoConventionIsRegisteredDefault.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_Should_ThrowException_WhenNoConventionIsRegistered.snap
  src/HotChocolate/Data/test/Data.Sorting.Tests/__snapshots__/SortInputTypeTests.SortInputType_Should_ThrowException_WhenNoConventionIsRegisteredDefault.snap
Labels: 🌶️ hot chocolate, 🍒 cherry-pick
